[2019-12-16 15:10] KateFriedman-NOAA opened #1 "GFS v16 workflow development"
This issue is being opened to track workflow development for GFS v16.

Branch for work: feature/gfsv16b

Please see prior issue comments and commits:

https://vlab.ncep.noaa.gov/redmine/issues/65358

[2019-12-17 15:03] KateFriedman-NOAA opened #2 "GFSv15.2.6 production changes and bug fix"
RFC 6329 – gfs v15.2.6 - On WCOSS, fix the GFS visibility decoding bug in the GFS ncep_post module, which causes a negative impact on the visibility field where it's raining. To be implemented on December 16 at 1430Z.

- new UPP tags:
-- for UPP with gtg: EMC_post_gtg: tag ncep_post_gtg.v1.1.10 at @aebdd1be
-- for general UPP: EMC_post: tag ncep_post.v8.1..4 at @d81523b3

- new obsproc_global tag:

[2019-12-17 15:04] KateFriedman-NOAA commented on #2
SDMLOG this morning contained:

1g. 1430Z - SPA Simon will start RFC 6329 - WCOSS GFS visibility decoding bug fix.  1634Z - Complete.

[2019-12-17 15:44] KateFriedman-NOAA commented on #2
Installed new obsproc_global tag on Venus, Mars, Luna, Surge, and Hera. Set up symlink to use obsproc_global.vX.Y.Z path:

[code]

[2019-12-17 15:50] KateFriedman-NOAA commented on #2
Made obsproc and EMC_post version updates in operations branch:

[code]

[2019-12-17 15:53] KateFriedman-NOAA commented on #2
Committed and pushed change to operations branch:

[code]

[2019-12-17 15:59] KateFriedman-NOAA commented on #2
New general UPP tag is still from VLab and doesn't support Hera so will not be updating checkout.sh in develop branch. Will be updating obsproc_global version in develop branch.

[2019-12-17 16:05] KateFriedman-NOAA commented on #2
Made new tag off operations branch: NCO-v15.2.6

[code]

[2019-12-17 16:12] KateFriedman-NOAA opened #3 "Convert checkout.sh to manage_externals"
Original issue on VLab: https://vlab.ncep.noaa.gov/redmine/issues/66742

Replace sorc/checkout.sh with manage_externals:

https://github.com/ESMCI/manage_externals

Gave demo of manage_externals and users seemed interested. Should resolve issues with lack of flexibility in checkout.sh.

- [x] Establish initial Externals.cfg
- [x] Install v1.1.7 manage_externals tag on WCOSS-Dell
- [x] Install v1.1

[2019-12-17 16:13] KateFriedman-NOAA commented on #3
Example Externals.cfg from prior tests:

[code]

[2019-12-17 19:10] KateFriedman-NOAA commented on #2
Pulling two additional changes into this commit:
1) bug fix to disable more earc jobs for first half cycle (CDATE=SDATE) to avoid unnecessary job failures when files aren't available (correctly) for archival
2) Update HOMEens_tracker path to include "tracker/" folder. Reorganized ../git/tracker copies on WCOSS-Dell and WCOSS-Cray to match new structure (already good on Hera). Using same version on

[2019-12-17 19:14] KateFriedman-NOAA commented on #2
Committed changes to develop branch at 3fd4bcf. Announcing commit and closing ticket next.

[code]

[2019-12-17 19:25] #2 closed, assigned to KateFriedman-NOAA

[2019-12-17 20:33] KateFriedman-NOAA opened #4 "Remove Theia from global-workflow"
Retire Theia from global-workflow scripts and files.

Original issue on VLab: https://vlab.ncep.noaa.gov/redmine/issues/70143

[2019-12-17 20:51] KateFriedman-NOAA opened #5 "Port to Orion"
Port global-workflow and components to Mississippi machine when available (called Orion).

Branch for work: port2orion (made off of feature/gfsv16b)

Original issue on VLab: https://vlab.ncep.noaa.gov/redmine/issues/67194

Established "glopara" space: /work/noaa/global/glopara

To do list:

- [x] Library: test version of NCEPLIBS available
- [x] Library: NCEPLIBS official location
- [x] Test: conn

[2019-12-19 14:37] jkuang-exploro opened #6 "Upgrade the universal forecast script of global-workflow for CCPP namelists, PR#32"
The universal forecast script located in feature/coupled-crow branch need to be able to support CCPP namelists generation.

[2019-12-30 17:51] KateFriedman-NOAA opened #7 "GFSv15.2.7 changes"
The GFS was updated in operations to v15.2.7 to update a post script and pull in new CO2 fix files:

[code]

From January 10th RFC memo:

Nothing to process for new fix files, they are already in the FIX_DIRs on supported platforms and latest HPSS tarball.

Did a rsync of ../nwprod/gfsv15.2.7 into copy of operations branch and found one text change to transfer parm file that needs to get pulled in

[2020-01-06 15:32] CatherineThomas-NOAA commented on #1
After seeing a banding feature in the VSDB analysis increment plots, the temperature increments were examined in greater detail, comparing netCDF increment files, netCDF and nemsio model and utility output, and post output.  The results were documented and sent to post and key GFSv16 developers.

[PGB ANL Temperature.pdf](https://github.com/NOAA-EMC/global-workflow/files/4026677/PGB.ANL.Temperatur

[2020-01-08 15:35] KateFriedman-NOAA commented on #4
Created branch for this: feature/remove_theia

https://github.com/NOAA-EMC/global-workflow/tree/feature/remove_theia

[2020-01-08 15:48] KateFriedman-NOAA commented on #4
@yangfanglin Any objections if I remove the fv3ics.py script from global-workflow/ush? Users now use UFS_UTILS code/scripts to create ICs.

[2020-01-08 16:00] yangfanglin commented on #4
Kate,
I agree the first two steps of the workflow, getting data and run
CHGRES can be removed.  They have never really worked well . They should be
placed outside of the xml for setting up experiments. There are many ways
to set up an experiment.

Fanglin

On Wed, Jan 8, 2020 at 10:48 AM Kate Friedman <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeli

[2020-01-08 16:07] KateFriedman-NOAA commented on #4
Cool...the free-forecast mode getic and fv3ic jobs are still working and use the UFS_UTILS chgres code. I'll need to update it to use the chgres cube code once George makes a new tag with it. I have been helping him test the updated code/scripts on the various platforms. Eventually I'd like to add a first half cycle job to make ICs for cycled mode but that's down my to-do list.

I'll remove the fv

[2020-01-08 18:01] KateFriedman-NOAA commented on #7
Wen pulled the post script change into EMC_post on VLab and made new tags:

1) general UPP EMC_post: ncep_post.v8.1.5
2) UPP with gtg EMC_post_gtg: ncep_post_gtg.v1.1.11

The non-gtg tag will go into develop branch and the gtg tag will go into operations branch.

[2020-01-08 18:19] KateFriedman-NOAA commented on #7
Pulled transfer file from nwprod into clones of develop and operations branches:

/gpfs/dell1/nco/ops/nwprod/gfs.v15.2.7/parm/transfer_gdas_misc.list

Updated operations branch EMC_post tag to ncep_post_gtg.v1.1.11. Not going to update develop branch EMC_post tag since it's from VLab and the develop branch now points to GitHub repo.

[2020-01-08 19:23] KateFriedman-NOAA commented on #7
Deleted current NCO-v15.2.6 tag:

[code]

[2020-01-08 19:34] KateFriedman-NOAA commented on #7
Remade NCO-v15.2.6 tag off operations branch:

[code]

[2020-01-08 19:38] KateFriedman-NOAA commented on #7
Pulled transfer parm file into develop branch and committed back:

[code]

[2020-01-08 19:41] KateFriedman-NOAA commented on #7
Updated EMC_post gtg tag in operations branch:

[code]

[2020-01-08 19:44] KateFriedman-NOAA commented on #7
Made new NCO-v15.2.7 tag off operations branch:

[code]

[2020-01-08 20:08] KateFriedman-NOAA commented on #7
Send commit announcements to users. Closing issue now.

[2020-01-08 20:08] #7 closed, assigned to KateFriedman-NOAA

[2020-01-08 20:18] KateFriedman-NOAA commented on #4
Sync merged feature/remove_theia with develop branch @  [67dae40](https://github.com/NOAA-EMC/global-workflow/commit/67dae40974485e7ffef4713209142301e5e4ba9e)

[code]

[2020-01-08 20:48] KateFriedman-NOAA commented on #4
Ran quick C192 free-forecast test on Dell. No issues with checkout, build, and run. Will test on Cray and Hera next.

[2020-01-09 16:38] KateFriedman-NOAA commented on #5
Sync merged feature/gfsv16b into port2orion after testing connection to GitHub on Orion.

[2020-01-09 18:42] KateFriedman-NOAA commented on #5
Added new ORION files to workflow: module files (using temp NCEPLIBS) and env file
Added ORION to setup scripts, machine-setup.sh, link script, and configs...used temporary paths for group account space, will need to update later.

Tested setup scripts and they successfully created an EXPDIR, COMROT, configs in EXPDIR, and a rocoto xml in EXPDIR. Don't yet have rocoto available to test xml further

[2020-01-10 18:18] KateFriedman-NOAA opened #8 "Add METplus metatasks to develop"
Bring the METplus work done in feature/gfsv16b branch into develop branch. Kate will begin pulling changes into develop branch and work with Mallory to validate/test.

[2020-01-10 18:24] KateFriedman-NOAA commented on #8
Created new branch: feature/metplus

[2020-01-10 18:44] KateFriedman-NOAA commented on #8
Pulled config.metp into feature/metplus branch. Adjusted config.vrfy to remove METplus entries. Saw adjustment in setup_expt.py for default config and liked it so pulled it in.

Pulled in METplus changes for setup_workflow_fcstonly.py. @malloryprow would you mind pulling the setup_workflow.py changes for METplus from feature/gfsv16b into the copy in the feature/metplus branch? I saw other changes

[2020-01-10 18:51] KateFriedman-NOAA opened #9 "Add documentation to repo"
Add workflow documentation within repository. Add needed graphics. Consider creating Git pages using documentation.

[2020-01-11 19:30] malloryprow commented on #8
Sure, changes were made for the metatask too in setup_workflow_fcstonly.py. Going off the top of my head here, I have a nice piece of paper of the files and scripts adjusted for the metatask....jobs/rocoto/metp.sh will need pulled in...config.resources had changes in there as well. I can do the changes. I'll be at AMS next week, so I can look at it the following week if that is okay. Is there an i

[2020-01-13 13:38] KateFriedman-NOAA commented on #8
The week after AMS is fine, thanks! No rush, just wanted to get this started and logged in GitHub.

[2020-01-13 16:49] KateFriedman-NOAA commented on #3
Created new branch off of develop for this work: feature/manage_externals

[2020-01-14 18:43] GuangPingLou-NOAA opened #10 "Mid-year bufr station additions"
Per users requests that accumulated throughout the year, 25 new stations are being added to operational GFS bufr station list, along with 3 existing stations modifications. This is part of a mid-year station update for all models.

[2020-01-14 18:59] GuangPingLou-NOAA commented on #10
The expanded bufr station list has been pushed to GitHub:
under global-workflow/gfsv16b
in directory
parm/product/bufr_stalist.meteo.gfs

[2020-01-14 19:25] KateFriedman-NOAA commented on #10
Pulled updated bufr_stalist.meteo.gfs file into operations branch and committed it back at e393828.

[2020-01-14 19:33] KateFriedman-NOAA commented on #10
Committed same update to develop branch at 3ed9267.

[2020-01-15 16:03] KateFriedman-NOAA opened #11 "GFSv15.2.8 & GFSv15.2.9 updates"
Updates:
1) new bufr station list file (already committed to operations and develop branch, documented in issue #10.
2) new obsproc_global version 3.2.4. From email from Shelley Melchior:

[code]

Checked output files from production and found switch to new obsproc_global version in 12z gdas (18z gfs).

3) new obsproc_global version in ops as of 2020021118 gfs & 2020021200 gdas.

tag: OT-obsproc_g

[2020-01-15 16:04] KateFriedman-NOAA commented on #10
Action items for this issue are complete. Further updates for GFSv15.2.8 will be documented in issue #11. Closing issue now.

[2020-01-15 16:04] #10 closed, assigned to KateFriedman-NOAA, GuangPingLou-NOAA

[2020-01-15 16:15] KateFriedman-NOAA commented on #11
Installed new tag on Dell (Venus and Mars):

[code]

Installed on Cray (Surge and Luna):

[code]

[2020-01-15 16:21] KateFriedman-NOAA commented on #11
Installed on Hera:

[code]

[2020-01-17 20:59] KateFriedman-NOAA opened #12 "EMERGENCY: ARFC turning off assimilation of OMP data"
Need to use operations branch to hand off emergency change for ops.

Created operations_OMPS branch off operations branch prior to commit for updated bufr station file.

[2020-01-21 16:56] malloryprow commented on #8
Updates to feature/metplus...

- Added jobs/rocoto/metp.sh.

- Updated ush/rocoto/setup_workflow.py to bring in gfsmetp metask and its tasks

- Update sorc/checkout.sh check out EMC_verif-global tag to 1.4.0

- Update config.resources for resources for gfsmetp

- Update files in env for various supported machines for gfsmetp

[2020-01-21 18:05] KateFriedman-NOAA commented on #12
Temporary fix made in production resulting in gfsv15.2.7.1. NCO did the following (from email with Russ, Diane also confirmed through chat):

[code]

From SDM LOG:

[code]

[2020-01-22 14:46] KateFriedman-NOAA commented on #12
From today's SDMLOG:

[code]

[2020-01-22 20:19] KateFriedman-NOAA opened #13 "Add CROW to develop branch"

[2020-01-24 14:21] malloryprow commented on #8
After inital testing some changes were made and committed to feature/metplus...

1. in feature/gfsv16b, the online archive pgb files are saved as grib2, so they have ".grib2" at the end. It looks like in feature/metplus (branched off of develop?) still has them saved as grib1 with no suffix at the end of the pbg files. _This is a simple change in conf.metp to tell the code what file format to look

[2020-01-24 15:06] malloryprow commented on #8
One more commit to feature/metplus...

- Related to 1. in above comment, forgot to update in a few other places in config.metp

[2020-01-24 15:57] lgannoaa opened #14 "Fix Exception Handling Issue Found in build_all.sh"
Arun assigned Lin to fix the exception handling issues found in build_all.sh.

[2020-01-27 12:49] malloryprow commented on #8
Single cycle free-forecast testing on Hera successful!

[2020-01-27 15:53] KateFriedman-NOAA commented on #12
Closing ticket now that rollback is complete.

[2020-01-27 15:53] #12 closed, assigned to RussTreadon-NOAA, KateFriedman-NOAA

[2020-01-27 19:11] KateFriedman-NOAA commented on #3
Added copy of manage_externals under util folder. Created initial Externals.cfg. Test on Hera worked as intended.

Did a little house-keeping and removed scripts/files associated with prod_util and grib_util builds which are no longer supported. Also introduced .gitignore file to make things cleaner.

[2020-01-28 14:32] lgannoaa commented on #14
Implement exception handling in build_all.sh. Tested in Dell, Hera, and Cray. This improved solution will identify building error and handle exception by fail in proper message.

[2020-01-28 15:26] KateFriedman-NOAA commented on #3
Removed copy of manage_externals from branch, will installed on supported platforms. Introduced README.md to document dependency on manage_externals for public users.

Sync merged feature/manage_externals with develop branch.

[2020-01-28 16:55] KateFriedman-NOAA commented on #14
Pull request initiated: https://github.com/NOAA-EMC/global-workflow/pull/15

[2020-01-29 14:44] KateFriedman-NOAA commented on #12
From the January 24th RFC memo:

[code]

[2020-02-02 19:03] yangfanglin opened #16 "update feature/gfsv16b to use parallel netcdf for I/O"
Created a new branch feature/gfsv16b_paranetcdf to add the options to workflow scripts to use parallel netcdf for I/O. The application varies with model resolution and computing platform. See

1. https://github.com/ufs-community/ufs-weather-model/pull/43 for final model changes
2. https://github.com/NOAA-EMC/fv3atm/issues/23 discussions among the  developers
3. https://docs.google.com/document/d/1

[2020-02-05 15:46] CatherineThomas-NOAA commented on #1
It was speculated that the ensemble forecast failures in early-mid January in v16rt2 could have been caused by a runaway ensemble spread at the model top.  The ensemble spread was examined over the v16rt2 period and it was found that while the ensemble spread is larger than it is in operations, the ensemble spread is not growing out of control in the early-mid January timeframe.
[Spread in v16rt2.

[2020-02-05 15:48] CatherineThomas-NOAA commented on #1
In response to several ensemble forecast failures, the parameters k_split and n_split were changed in the real time parallel.  A low resolution parallel testing these changes was run.  Preliminary results show that the fit to conventional observations are very similar.

[2020-02-06 15:30] KateFriedman-NOAA commented on #14
Cancelled prior pull request after request for additional changes to script. Retested after modifications were made and the changes looked good.

@lgannoaa Are you ready to do the pull request again? Any further changes to make or tests to do? @EricRogers-NOAA @arunchawla-NOAA @Hang-Lei-NOAA any further feedback on the changes Lin made to build_all.sh?

[2020-02-06 15:33] arunchawla-NOAA commented on #14
I liked what was done. If Lin makes the PR it looks good to me.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675
     Fax : 301-683-3703
--------------------------------------

[2020-02-06 15:34] Hang-Lei-NOAA commented on #14
It looks good!
Okay to be pushed into develop.

Hang

On Thu, Feb 6, 2020 at 10:31 AM Kate Friedman <notifications@github.com>
wrote:

[2020-02-06 15:42] EricRogers-NOAA commented on #14
I agree with Arun and Hang.
Eric

[2020-02-06 15:52] KateFriedman-NOAA commented on #3
Installed manic-v1.1.6 tag on Hera:

/scratch1/NCEPDEV/global/glopara/git/manage_externals/manic-v1.1.6

...and on WCOSS-Dell (Venus and Mars):

/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/manage_externals/manic-v1.1.6

...and on WCOSS-Cray (Surge and Luna):

/gpfs/hps3/emc/global/noscrub/emc.glopara/git/manage_externals/manic-v1.1.6

[2020-02-06 16:04] KateFriedman-NOAA commented on #3
Tested branch checkout using new manage_externals install on Hera (worked nicely):

[code]

[2020-02-06 16:17] KateFriedman-NOAA commented on #3
Test on Luna received this error:

[code]

Issue resolved by adjusting git config ssh setting:

[code]

Will need to add a note about this to wiki section for checkout.

Test checkout worked well using newly install manage_externals tag on Luna:

[code]

Same error, fix, and then successful test on Surge.

[2020-02-06 16:25] KateFriedman-NOAA commented on #3
Successful test on Mars and Venus:

[code]

Note: emc_gfs_wafs not checked out since it is set as optional.

[2020-02-06 20:25] lgannoaa commented on #14
PR is done. Thanks everyone :-)

[2020-02-06 20:29] KateFriedman-NOAA commented on #14
Thanks Lin! I'll take a look in the morning and process it with Hang.

Kate Friedman (formerly Howard)
NOAA/NWS/NCEP/EMC Engineering and Implementation Branch

On Thu, Feb 6, 2020 at 3:25 PM lgannoaa <notifications@github.com> wrote:

[2020-02-07 13:11] KateFriedman-NOAA commented on #14
Submitting PR.

[2020-02-07 13:13] KateFriedman-NOAA commented on #14
PR #18 submitted and committed to develop branch. Closing ticket now. Thanks @lgannoaa !

[2020-02-07 13:13] #14 closed, assigned to LinGan-NOAA

[2020-02-07 13:38] KateFriedman-NOAA commented on #4
Sync merged with develop branch at 1c85197.

[2020-02-07 13:41] KateFriedman-NOAA commented on #4
Pulled bug fix for getic.sh into branch to get it into develop. Committed to feature/remove_theia at bd00cb9.

[2020-02-07 13:43] KateFriedman-NOAA commented on #4
Branch ready for consideration for committal to develop branch. Initiating PR.

[2020-02-07 14:07] malloryprow commented on #8
Updated tase for EMC_verif_global checkout to verif_global_v1.5.0. This tag is mostly things that wouldn't affect the workflow like plotting, but one thing that may be important for the workflow are some soon-to-be-old Phase 1/2 paths to some production data were replaced with their new locations on WCOSS, particularly for the observation data used for the precipitation verification, but this does

[2020-02-09 01:28] yangfanglin commented on #16
See https://github.com/NOAA-EMC/global-workflow/pull/17 for the changes and test.

[2020-02-13 15:06] KateFriedman-NOAA commented on #4
PR #19 completed. Closing ticket.

[2020-02-13 15:06] #4 closed, assigned to KateFriedman-NOAA

[2020-02-13 20:04] KateFriedman-NOAA commented on #11
Installed obsproc_global v3.2.5 on the WCOSSes and Hera.

[2020-02-13 20:28] KateFriedman-NOAA commented on #4
Deleted feature branch feature/remove_theia:

[code]

[2020-02-13 21:07] KateFriedman-NOAA commented on #3
Tested feature/manage_externals branch on Hera after sync merging with the develop branch. Got to see a typical Hera error in action (frequent connection issues with GitHub):

[code]

A retry a minute later was successful (no GitHub connection issues) and allowed me to see it checking the components already checked out before proceeding to the others:

[code]

[2020-02-14 15:55] KateFriedman-NOAA commented on #3
Tests using the manic-v1.1.6 tag failed (sub-modules not checked out for fv3gfs and gsi), that tag does not include fixes made later (which were in master copy used for initial testing). Switched to later manic-v1.1.7 and it worked. Installed manic-v1.1.7 on machines and removed manic-v1.1.6.

Will update checklist above for new tag.

[2020-02-14 16:59] KateFriedman-NOAA commented on #3
Example of what it looks like when cloning on Hera hangs (as it often does sadly, especially with the GSI checkout which is huge):

[code]

I let it keep doing its thing and manage_externals kept trying to clone GSI and then when successful it moved on to the final checkout (emc_verif-global).

What a good (hang-free) checkout looks like on Mars:

[code]

[2020-02-18 17:02] KateFriedman-NOAA commented on #11
From the February 14th RFC memo:

[code]

[2020-02-19 15:02] KateFriedman-NOAA commented on #12
Deleted "operations_OMPS" branch.

[2020-02-19 16:11] jkuang-exploro commented on #13
Pull request #20 created.

[2020-02-24 14:16] KateFriedman-NOAA commented on #11
From the February 21st RFC memo:

[code]

[2020-02-24 14:56] KateFriedman-NOAA opened #21 "Port to phase 3.5"
Port global-workflow to the new WCOSS phase 3.5.

[2020-02-24 15:07] KateFriedman-NOAA commented on #21
Pulled in checklist from Hera port but may not need many items. We may just need to use a different queue. Fanglin is going to test and confirm with NCO before we go too far.

[2020-02-24 15:58] jkuang-exploro commented on #6
@KateFriedman-NOAA I think this one is done. I'm working on a similar feature with Lin Gan for IPD namelists now and waiting for his comments.

[2020-02-25 05:36] yangfanglin commented on #21
Kate,

I have started to run a cycled experiment on Phase 3.5 on Venus.  Porting
is not needed.  Only a few minor changes to the scripts are required to
make the best use of the 40 tasks per node.

Fanglin

On Mon, Feb 24, 2020 at 10:07 AM Kate Friedman <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Pred

[2020-02-25 13:46] KateFriedman-NOAA commented on #21
@yangfanglin That's great news, thanks for reporting back! Can you point us to your global-workflow clone on 3.5? I'd like to take a peek at what changes were needed. Are you planning to bring the changes back to the feature/gfsv16b branch or would you like us to pull them into develop?

[2020-02-25 13:57] yangfanglin commented on #21
Kate,

I installed a fresh copy of the workflow at
/gpfs/dell6/emc/modeling/noscrub/emc.glopara/git/global-workflow/gfsv16b.
 My  EXPDIR is
/gpfs/dell6/emc/modeling/noscrub/emc.glopara/para_gfs/fv3test, which is set
up using this workflow.  A few minor changes are made to env*, config.fv3,
config.resources etc locally.  I am still running  gdas cycles to make
sure fv3test can reproduce v16rt2.
My

[2020-02-25 14:10] KateFriedman-NOAA commented on #21
@yangfanglin Gotcha, thanks for the path to the clone on 3.5.

@Hang-Lei-NOAA , I removed the checklist since we won't need it.

The $machine is defined/detected in ush/rocoto/workflow_utils.py by checking the paths:

[code]

We would need something in that section to define "WCOSS_DELL_P3**p5**" (or other chosen $machine name). Checking paths won't work since you can see all /gpfs/dell# directori

[2020-02-25 15:01] KateFriedman-NOAA commented on #21
FYI George V just submitted a WCOSS helpdesk ticket to ask them how to differentiate between the phases.

[2020-02-25 16:07] yangfanglin commented on #21
We probably do not need to have new "machine" defined for phase 3.5 in the
workflow. Rather, difference queues offered by the same machine can be used
to identify the resources.  Phase 3.5 uses dev2, devmax2, devonprod2,
dev2_transfer queues. To achieve this goal, the python setup scripts need
to be updated.  The parameter npe_node_max can be set in config.base based
on the queue definition.

Fang

[2020-02-28 15:07] KateFriedman-NOAA commented on #11
The v15.2.8 update was to the "fix/fix_am/global_solarconstant_noaa_an.txt" file which is already updated in the on-disk FIX_DIR sets. Work for that version change is done, unable to make tag for this version since change is outside global-workflow and components.

[2020-02-28 15:17] KateFriedman-NOAA commented on #11
Small version change in ops (v15.2.8.1) occurred February 20th. Change was made to GSI global_satinfo.txt file:

[code]

No other changes for this version. Since change is fix file related there is no change to make in global-workflow so unable to tag new version.

[2020-02-28 15:42] KateFriedman-NOAA commented on #11
Change to bufr_stalist.meteo.gfs already pulled into operations branch. Comparison against v15.2.9 in nwprod shows no other differences with operations branch.

obsproc_global version was also changed in operations on February 11th:

[code]

Committed change to obsproc_global version in config.base.emc.dyn at 8b177b6.

Tagged operations branch for v15.2.9 (NCO-v15.2.9).

Change to bufr_stalist.met

[2020-02-28 15:42] #11 closed, assigned to KateFriedman-NOAA

[2020-03-04 14:26] CatherineThomas-NOAA commented on #1
The evaluation of the low resolution parallel with altered k_split and n_split was completed.  The previous preliminary results of neutral impact were confirmed.

[2020-03-04 15:23] KateFriedman-NOAA commented on #8
Pull request #26 completed and changes committed to develop branch at 1b359db. Thanks Mallory! Closing issue now.

[2020-03-04 15:46] KateFriedman-NOAA commented on #8
Realized we never set up a switch to turn on/off the MET+ metatask. Will add, test setup scripts, and commit.

[2020-03-05 13:27] KateFriedman-NOAA commented on #8
Created feature/metplus2 branch to make switch changes.

[2020-03-05 13:35] KateFriedman-NOAA commented on #8
PR #28 initiated. Requested review from Mallory before commit.

[2020-03-05 13:43] KateFriedman-NOAA commented on #8
PR submitted. Closing ticket.

[2020-03-05 13:43] #8 closed, assigned to malloryprow, KateFriedman-NOAA

[2020-03-06 15:16] KateFriedman-NOAA commented on #8
Deleted feature/metplus and feature/metplus2 branches.

[2020-03-06 15:23] KateFriedman-NOAA commented on #3
Sync merged with develop branch and then updated EMC_verif-global tag in externals config.

New manage_externals version released on Tuesday (manic-v1.1.8). Have installed on supported platforms and will now test and update README if good.

[2020-03-06 16:12] KateFriedman-NOAA commented on #3
Test of new manic_v1.1.8 tag was successful on Venus:

[code]

Test of build_all.sh after running manage_externals was successful:

[code]

Will proceed with updating README to reflect new manic version.

[2020-03-06 16:29] KateFriedman-NOAA commented on #3
Ran link script after build and noticed wafs links were broken throughout which is understandable since manage_externals didn't check it out since wafs is optional. Updated link_fv3gfs.sh to only make wafs links if sorc/gfs_wafs.fd folder exists. Removed machine dependency on wafs links.

[2020-03-06 16:33] KateFriedman-NOAA commented on #3
Updated README with new manic version.

This is ready for a PR. Will initiate PR and ask for reviewers to test.

[2020-03-06 16:54] KateFriedman-NOAA commented on #3
Initiated PR #29

[2020-03-11 15:51] KateFriedman-NOAA commented on #6
Getting caught up on this work...where is this currently? Thanks!

[2020-03-11 15:57] KateFriedman-NOAA commented on #3
Received initial buy-in from NCO (email with Steven Earle). No requirement to keep checkout.sh but will keep during transition period. Proceeding with commit (PR #29).

[2020-03-11 16:02] KateFriedman-NOAA commented on #3
Completed PR #29. Need to work on setting up modules.

[2020-03-11 16:46] JessicaMeixner-NOAA commented on #6
I think right now we're still doing things in IPD, but we will need to make updates to the workflow when we migrate to CCPP.  I'm not 100% sure what the changes will be since we're still waiting on some code updates on the model side.  I will update this issue when I have more information.

[2020-03-11 16:48] KateFriedman-NOAA commented on #6
Sounds good, thanks for the update!

[2020-03-11 17:53] jkuang-exploro commented on #6
What is done: A script set that could support 2 CCPP suites(gsd, emc) and ipd runs
To be done: Make this script set working for feature/coupled-crow and merge it in.

[2020-03-12 13:50] lgannoaa opened #33 "Create regression test for modularized exglobal fcst script solution"
The modularized exglobal fcst script is targeted for multiple supporting usage. How can we be sure adding new capability or bug fix will not break the existing functionality and still be able to generate identical result? Hence, the need to create a regression test for quality control.

The regression test should do the following to certify any change before commit/merge back to main repository by

[2020-03-12 14:14] KateFriedman-NOAA commented on #13
Taking a deep dive into these changes. Checked out feature/crow-merge on Venus, did a sync merge of develop into feature/crow-merge, adjusted .gitignore a bit, adjusted FIX_DIR linking in link_fv3gfs.sh, and added CROW to Externals.cfg config (removed .gitmodules). Committed all that at
[ea5f8f6](https://github.com/NOAA-EMC/global-workflow/commit/ea5f8f6b6a2e545dd285aeb51d765e323b77c835).

[2020-03-13 17:09] KateFriedman-NOAA opened #34 "Update GDA in operations branch"
Update the DMPDIR paths and associated scripts to use the new WCOSS P3 GDA.

[2020-03-13 17:10] KateFriedman-NOAA commented on #34
Branch feature/operations_gda created off operations branch.

[2020-03-16 12:37] KateFriedman-NOAA commented on #34
Test to reproduce ops prepbufr file worked with GDA updates. Further test against ops showed we're missing the update to the satinfo file from ops. The DA team created the "DA_GFS_v15.3" tag with the update and tests using it confirm it reproduces ops. Will need to update operations branch GSI tag to "DA_GFS_v15.3".

[2020-03-16 13:06] KateFriedman-NOAA opened #36 "Update DA tag in operations branch for v15.2.9"
Updates for v15.2.9 in operations branch didn't include the satinfo file change that was made locally in ops. That update is now in a new DA tag "fv3da_gfsv15.2.9". Will update operations branch and retag NCO-v15.2.9.

[2020-03-16 13:13] KateFriedman-NOAA commented on #36
Made change to feature/operations_gda branch and included it in the PR #35 .

[2020-03-16 14:09] KateFriedman-NOAA commented on #34
Changes merged into operations branch and feature/operations_gda branch deleted.

[2020-03-16 14:09] #34 closed, assigned to KateFriedman-NOAA

[2020-03-16 14:10] KateFriedman-NOAA commented on #36
Change committed to operations branch.

[2020-03-16 14:10] #36 closed, assigned to KateFriedman-NOAA

[2020-03-16 16:44] Hang-Lei-NOAA opened #37 "Changes for GFSv15.3"
A feature branch created from the updated operations branch.   This development branch will be the basis for GFS v15.3. And the DA tag is updated to DA_GFS_v15.3.

[2020-03-18 18:38] KateFriedman-NOAA commented on #5
Was able to get gaussian_sfcanl.exe to build by manually running each step of build_gaussian_sfcanl.sh but when I run build_gaussian_sfcanl.sh it stops while sourcing the modulefile. Need to investigate further.

[2020-03-18 20:01] KateFriedman-NOAA commented on #5
Found cause of build issue for gaussian_sfcanl.exe...variable that defines path to HDF5 libraries in module file had to be updated. The build_gaussian_sfcanl.sh script now works on Orion.

[2020-03-19 14:48] KateFriedman-NOAA commented on #5
Need w3emc_para/2.4.0 library on Orion to build gfs_bufr. @Hang-Lei-NOAA When will NCEPLIBS be set up on Orion? Have you and others from the NCEPLIBS team gotten Orion accounts?

@GeorgeVandenberghe-NOAA Would you be able to add the w3emc_para/2.4.0 library to your set on Orion until the official NCEPLIBS is available? The changes for v16 also require these new libraries if you can add them too:

[2020-03-19 15:04] GeorgeVandenberghe-NOAA commented on #5
I am having trouble getting parallel netcdf to RUN  on Orion.   Have not
run it down yet.  It works when the parallel API is disabled (through
namelist) at runtime.

Have asked others about their results but no response yet.

I need a source for w3emc_para.

On Thu, Mar 19, 2020 at 10:49 AM Kate Friedman <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

583

[2020-03-19 15:18] Hang-Lei-NOAA commented on #5
Hi, All,

I will coordinate with MSU to address my access to Orion.
Once it is done, it will be installed the same day.

Thanks,
Hang

On Thu, Mar 19, 2020 at 11:04 AM GeorgeVandenberghe-NOAA <
notifications@github.com> wrote:

[2020-03-19 15:43] KateFriedman-NOAA commented on #5
Thanks @Hang-Lei-NOAA and @GeorgeVandenberghe-NOAA ! I just had a tag-up with Arun and will be pausing on Orion for a bit until some issues are resolved (rstprod available, official NCEPLIBS available, group space for me fixed). @Hang-Lei-NOAA Let me know when you gain access to Orion and have NCEPLIBS installed, no urgent rush on this, thanks!

[2020-03-19 16:08] GeorgeVandenberghe-NOAA commented on #5
My NCEPLIBS should work.  I know of at least two issues where it IS
broken,  parallel netcdf API, and w3emc-para unavailable.   The second
should be straightforward.  The first will take a long time to run down
unless I get help and a testcase  smaller than a global GCM which it's
probably time to
uuhh..
reach out and do.

On Thu, Mar 19, 2020 at 11:44 AM Kate Friedman <notifications@github.com>
w

[2020-03-20 00:36] GeorgeVandenberghe-NOAA commented on #5
My parallel netcdf issues have been resolved.  The problem was I built with
impi/2018 and ran with impi.2019.
switching back to impi/2018 which is less stable at huge task counts,
allowed it to run and write compressed
netcdf in parallel.

Bottom line, I got gfsv162 to build and write hetcdf fast in parallel

On Thu, Mar 19, 2020 at 11:02 AM George Vandenberghe - NOAA Affiliate <
george.vandenberg

[2020-03-20 00:45] GeorgeVandenberghe-NOAA commented on #5
Hang.   Do you have a source or git location (preferred) for w3emc_para/2.4
so I can build it in my portable location everywhere
including orion.

On Thu, Mar 19, 2020 at 11:02 AM George Vandenberghe - NOAA Affiliate <
george.vandenberghe@noaa.gov> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noa

[2020-03-20 01:04] Hang-Lei-NOAA commented on #5
hi George

The w3emc_para/2.4 has no change in w3emc library. It just compiled with
the para-netcdf.

You can get the tar file from GitHub necplibs-w3emc repo. With tag2.4.0

Thanks
Hang

On Thu, Mar 19, 2020 at 8:45 PM GeorgeVandenberghe-NOAA <
notifications@github.com> wrote:

[2020-03-20 14:33] GeorgeVandenberghe-NOAA commented on #5
What is the exact syntax for this git from github?

On Thu, Mar 19, 2020 at 9:04 PM Hang-Lei-NOAA <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2020-03-20 14:41] Hang-Lei-NOAA commented on #5
Hi, George

git clone https://github.com/NOAA-EMC/NCEPLIBS-w3emc.git
git tag -l
git checkout w3emc_v2.4.0

you will get that tag.

Thanks,
Hang

On Fri, Mar 20, 2020 at 10:33 AM GeorgeVandenberghe-NOAA <
notifications@github.com> wrote:

[2020-03-23 17:02] KateFriedman-NOAA opened #38 "Update EMC_verif-global pointer to new GitHub repo"
The EMC_verif-global repo has moved from VLab to GitHub:

https://github.com/NOAA-EMC/EMC_verif-global

The v1.5.0 tag:

https://github.com/NOAA-EMC/EMC_verif-global/tree/verif_global_v1.5.0

[2020-03-23 17:08] KateFriedman-NOAA commented on #38
Created branch feature/verif-tag

[2020-03-23 17:41] KateFriedman-NOAA commented on #38
Made changes to Externals.cfg and checkout.sh:

[code]

[2020-03-23 18:16] KateFriedman-NOAA commented on #38
Pointer update committed. Closing issue.

[2020-03-23 18:16] #38 closed, assigned to KateFriedman-NOAA

[2020-03-24 16:59] KateFriedman-NOAA commented on #21
Created branch "port2wcoss3p5" off of develop branch. Will make changes to submit to phase 3.5 queues (dev2/devonprod2).

[2020-03-25 16:54] KateFriedman-NOAA commented on #21
Added "--partition" flag to setup_expt*.py scripts. Partition flag not required and does not do anything on WCOSS-Cray or Hera, only does something when invoked on WCOSS-Dell with "3p5" as the partition value. If partition flag is not invoked on WCOSS-Dell then it defaults to phase 3.

To use on WCOSS-Dell: --partition 3p5

When the partition flag is used with a value of "3p5" it will set QUEUE to

[2020-03-25 17:04] KateFriedman-NOAA commented on #21
Tested setup scripts on WCOSS-Dell, WCOSS-Cray, and Hera, with and without --partition flag. No issues.

[2020-03-25 20:36] KateFriedman-NOAA commented on #21
PR complete and port2wcoss3p5 branch deleted. Closing issue. Will reopen for additional updates as needed.

[2020-03-25 20:36] #21 closed, assigned to KateFriedman-NOAA

[2020-03-26 14:08] CoryMartin-NOAA opened #41 "rocoto_viewer.py on WCOSS not working now without Gyre"
CRITICAL ERROR: The produtil package could not be loaded from your system

Lines 194-199 of rocoto_viewer.py:
[code]

[2020-03-26 14:15] CoryMartin-NOAA commented on #41
Sorry, the issue is actually because surge is unmounted I believe.

[2020-03-26 14:16] RussTreadon-NOAA commented on #41
Yes, you are correct.   Surge is offline today so we can't get to

/gpfs/hps3/emc/global/noscrub/emc.glopara/svn/nceplibs/produtil/trunk/ush

On Thu, Mar 26, 2020 at 10:15 AM Cory Martin <notifications@github.com>
wrote:

[2020-03-26 14:19] CoryMartin-NOAA commented on #41
@RussTreadon-NOAA is there an equivalent directory on Venus somewhere? If so, I can modify the gfsv16b version of this file to support it working without the cray.

[2020-03-26 14:23] KateFriedman-NOAA commented on #41
@CoryMartin-NOAA I can set up a Dell copy...stay tuned...

[2020-03-26 14:24] RussTreadon-NOAA commented on #41
We could copy /gpfs/td1/emc/global/save/emc.glopara/svn/nceplibs/produtil
(Tide fileset) to Venus or Mars.  It's better to contact EIB workflow team
or nceplibs team to respond & correct.

On Thu, Mar 26, 2020 at 10:20 AM Cory Martin <notifications@github.com>
wrote:

[2020-03-26 14:26] CoryMartin-NOAA commented on #41
Thanks @KateFriedman-NOAA, I cloned a local version of pyprodutil for me to use for now, but I'll switch to the permanent paths once they exist on Dell.

[2020-03-26 14:26] KateFriedman-NOAA commented on #41
@CoryMartin-NOAA I pulled over the Luna copy to Mars and then Venus. Please try this and if it works I can update the paths in rocoto_viewer.py.

/gpfs/dell2/emc/modeling/noscrub/emc.glopara/svn/nceplibs/produtil

[2020-03-26 14:33] KateFriedman-NOAA commented on #41
Created branch hotfix/viewer to update produtil paths on WCOSS.

[2020-03-26 14:34] CoryMartin-NOAA commented on #41
@KateFriedman-NOAA Using that path (well after adding /trunk/ush) seems to work. It's a bit slow to respond but I don't know if that is because of the pyprodutil or because of the scheduler/filesystem.

[2020-03-26 14:37] KateFriedman-NOAA commented on #41
@CoryMartin-NOAA The filesystem has been somewhat slow on WCOSS recently...was it faster using your local install of pyprodutil?

[2020-03-26 14:38] CoryMartin-NOAA commented on #41
@KateFriedman-NOAA no I tried with both, seems to be similarly slow. I think it's safe to use:
/gpfs/dell2/emc/modeling/noscrub/emc.glopara/svn/nceplibs/produtil//trunk/ush

[2020-03-26 14:42] KateFriedman-NOAA commented on #41
@CoryMartin-NOAA Ok great, thanks! I have made the path changes to the viewer in the hotfix branch. It is working on Venus. I'll initiate a PR shortly.

[2020-03-26 14:50] KateFriedman-NOAA commented on #41
Initiated PR #42

[2020-03-26 14:56] KateFriedman-NOAA commented on #41
Thank you @CoryMartin-NOAA for reporting this bug via a GitHub issue and for testing the fix!

PR has been completed and hotfix/viewer branch deleted. Closing issue and sending commit announcement.

[2020-03-26 14:56] #41 closed, assigned to KateFriedman-NOAA

[2020-03-27 13:49] KateFriedman-NOAA opened #46 "Updates from phase1/2 retirement: syndat compath and prod modules"
To do:

- [x] update compath for syndat (develop branch)
- [x] update prod_envir module version (develop branch)
- [x] update compath for syndat (operations branch)
- [x] update prod_envir module version (operations branch)
- [x] retag NCO-v15.2.9

RFC 6652 mentions update to compath. The default compath setting was changed in operations from:

`arch/prod/syndat` to `gfs/prod/syndat`

Will update

[2020-03-27 16:37] KateFriedman-NOAA commented on #46
From Steven Earle's weekly message:

Update the prod_envir version in module files.

[2020-03-30 15:59] KateFriedman-NOAA commented on #46
Created two new branches:

1. feature/i46dev off develop
2. feature/i46ops off operations

[code]

[code]

[2020-03-30 16:12] KateFriedman-NOAA commented on #46
Develop branch (feature/i46dev) has the following syndat paths to be updated:

[code]

Operations branch (feature/i46ops) has similar paths to update:
[code]

[2020-03-30 16:18] KateFriedman-NOAA opened #48 "Cleanup tasks"
Take care of some small cleanup tasks:

- [x] Update viewer based on suggests by Rahul in PR #42
- [x] Cleanup build scripts to remove features no longer supported
- [ ] Remove duplicate Cray files (consolidate wcoss_cray and wcoss_c)
- [x] Update prod_util version in driver scripts?
- [ ] Combine config.prepbufr with config.prep (do we need config.prepbufr?)
- [x] Review which driver scripts to k

[2020-03-30 19:39] KateFriedman-NOAA commented on #46
Made similar changes to operations-made branch feature/i46ops locally and did best to avoid bringing in additional as-yet-non-prod changes into the operations branch (e.g. Hera support and some other develop branch updates). Just need to keep the operations branch working, don't want to develop on it.

Next: Will test updates to develop-made branch feature/i46dev on supported platforms. Will also

[2020-04-01 13:34] KateFriedman-NOAA commented on #3
Will use contrib documentation for Hera to setup manage_externals module there:

https://rdhpcs-common-docs.rdhpcs.noaa.gov/wiki/index.php/Managing_Packages_in_/contrib

[2020-04-01 16:52] KateFriedman-NOAA commented on #5
Sync merged port2orion with feature/gfsv16b at 1aeda04.

[2020-04-01 20:10] KateFriedman-NOAA commented on #5
Need updated ProdGSI before I can build chgres_recenter_ncio code (some modules come from GSI).

Using a combination of official NCEPLIBS and George V's NCEPLIBS I was able to build:
* gfs_bufr
* tocsbufr
* fv3nc2nemsio.x
* regrid_nemsio
* chgres_recenter.exe

Prior work got these to build:
* fbwndgfs
* gaussian_sfcanl.exe
* supvit
* syndat_getjtbul
* syndat_maksynrc
* syndat_qctropcy
* tave.x
* v

[2020-04-02 15:01] kgerheiser opened #50 "Can't checkout gerrit repositories on Hera"
I'm following the instructions in the wiki, but can't get past the `checkout.sh` script on Hera. All the gerrit repositories fail to clone. Is there some permission or something that I'm missing or don't have access to? I'm not familiar with gerrit.

[2020-04-02 15:04] KateFriedman-NOAA commented on #50
@kgerheiser You need the following to access the repos on VLab:

1. VLab account.
2. Permissions for each repo that isn't world-readable.

Do you have #1?

[2020-04-02 15:10] kgerheiser commented on #50
I have a VLab account

[2020-04-02 15:14] KateFriedman-NOAA commented on #50
@junwang-noaa Can you grant Kyle Gerheiser read access to the NEMSfv3gfs repo on VLab?

@mark-a-potts Can you grant Kyle Gerheiser read access to the ProdGSI repo on VLab?

@kgerheiser The ProdGSI repo is moving to GitHub very soon and I'll be moving the NEMSfv3gfs pointer to the new ufs-weather-model repo soon. Soon you won't need to pull from VLab but this access will still be good to have.

[2020-04-02 18:18] mark-a-potts commented on #50
I've added Kyle to the GSI project.

-M

On 4/2/20 11:14 AM, Kate Friedman wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2020-04-02 19:48] CoryMartin-NOAA commented on #5
@KateFriedman-NOAA I have ProdGSI compiled on Orion:
/work/noaa/da/Cory.R.Martin/noscrub/git/ProdGSI

branch feature/orion_crm from feature/parallel_ncio
added a new modulefile and modified build_all_cmake

I have not tested it to see if it runs, just that the executables build.

[2020-04-03 15:15] KateFriedman-NOAA commented on #5
Great, thanks @CoryMartin-NOAA ! I checked out a copy of feature/orion_crm under my global-workflow port2orion branch and was able to build is successfully. I did notice a few warning messages, can you take a look at my build log?

/work/noaa/nems/kfriedma/git/port2orion/sorc/build_gsi.log

Thanks!

[2020-04-03 15:20] CoryMartin-NOAA commented on #5
@KateFriedman-NOAA I don't have permission to view the file but I also saw a lot of warning messages when compiling. I think it stems from the external GSI utilities and it's complaining whenever subroutines from other modules are not explicitly in "use X, only Y" statements. I think this is an Intel 2020 thing (that's what I used because that is what Hang compiled the libraries in)

[2020-04-03 15:24] RussTreadon-NOAA commented on #5
Same here.  I can not cd /work/noaa/nems/kfriedma/git/port2orion/sorc.  I
do not belong to nems.   We need to ensure everyone working on this project
has the same access permissions.   Please elevate to management.

On Fri, Apr 3, 2020 at 11:21 AM Cory Martin <notifications@github.com>
wrote:

[2020-04-03 15:49] KateFriedman-NOAA commented on #5
Gotcha, thanks @CoryMartin-NOAA !

@RussTreadon-NOAA Can you read it now? I adjusted my permissions.

[2020-04-03 15:54] RussTreadon-NOAA commented on #5
Yes, I can view build_gsi.log.  As Arun said we need to build everything
with intel 18.   Cory can use intel 2020 for his work.   I don't think his
branch is intended to be a GFS v16 DA port branch.

On Fri, Apr 3, 2020 at 11:50 AM Kate Friedman <notifications@github.com>
wrote:

[2020-04-03 15:57] KateFriedman-NOAA commented on #5
Okie dokie...will focus on testing with Hera built execs until a ProdGSI branch that builds with the v16 DA changes is ready. Thanks!

[2020-04-03 17:27] kgerheiser commented on #50
Thanks everybody

[2020-04-03 17:27] #50 closed, assigned to KateFriedman-NOAA

[2020-04-07 13:09] KateFriedman-NOAA opened #52 "GFS 15.2.10[11][12] updates"
Process updates for GFSv15.2.10 and GFSv15.2.11. Prep for and process updates for GFSv15.2.12.

- [x] Process v15.2.10 changes
- [x] Process v15.2.11 changes
- [x] Process v15.2.12 changes
- [x] Installed obsproc_global.v3.2.6 on supported platforms

GFSv15.2.10 changes:

SVN Log:
------------------------------------------------------------------------
r113 | simon.hsiao@noaa.gov | 2020-04-07 12:5

[2020-04-07 13:12] KateFriedman-NOAA commented on #52
Will combine with issue #46 changes and re-tag for v15.2.10 when done.

[2020-04-08 15:01] KateFriedman-NOAA commented on #52
GFSv15.2.11 details:

From SDM log:

From April 10th RFC memo:

From NCO SVN trunk update email:

[2020-04-08 17:40] KateFriedman-NOAA commented on #52
Received some details about work going on for v15.2.12. Need to use this issue to handle changes in ops for v15.2.10, v15.2.11, and v15.2.12.

--------------------------

The v15.2.12 change has to do with a new CrIS bufr dump file coming April 22nd:
* new dump file in GDAx and another one coming April 22nd
* new ProdGSI tag: fv3da_gfs.v15.2.12

Email with Russ April 13th:

[2020-04-08 17:54] KateFriedman-NOAA commented on #52
The GFS v15.2.11 went in April 7th at 18Z gfs.

GFS v15.3 is scheduled for late May.  GFS v15.3 adds assimilation of COSMIC-2 data.

[2020-04-09 17:10] KateFriedman-NOAA commented on #46
Changes tested successfully on Hera and WCOSS-Dell in a free-forecast run with the tracker on.

[2020-04-09 17:59] KateFriedman-NOAA commented on #46
Commit of changes into develop branch is complete. Proceeding with commit for operations branch.

[2020-04-09 19:27] KateFriedman-NOAA commented on #46
Commit of changes into operations branch is complete. Will process other recent ops updates in issue #52. Closing issue now.

[2020-04-09 19:27] #46 closed, assigned to KateFriedman-NOAA

[2020-04-09 19:38] KateFriedman-NOAA commented on #46
Retagged NCO-v15.2.9 off operations branch.

[2020-04-09 19:46] KateFriedman-NOAA commented on #52
Created feature/ops-v15.2.10 branch for v15.2.10 work in operations branch.

[2020-04-09 20:13] KateFriedman-NOAA commented on #52
Committed changes for v15.2.10 to feature/ops-v15.2.10 branch at dae3332.

Created feature/dev-v15.2.10 branch for v15.2.10 work in develop branch.

[2020-04-09 20:17] KateFriedman-NOAA commented on #52
Committed changes for v15.2.10 to feature/dev-v15.2.10 at 70ae08c.

[2020-04-09 20:26] KateFriedman-NOAA commented on #52
Initiated two PRs:

* PR #55 - changes going into operations branch
* PR #56 - changes going into develop branch

[2020-04-14 13:07] KateFriedman-NOAA commented on #52
Created branch feature/ops-v15.2.11 and committed change to update the ProdGSI tag to capture updated fix files for v15.2.11.

[2020-04-14 13:15] KateFriedman-NOAA commented on #52
Tagged operations branch for v15.2.10: NCO-v15.2.10

[2020-04-14 13:15] KateFriedman-NOAA commented on #52
Initiated PR #57.

[2020-04-14 13:19] KateFriedman-NOAA commented on #52
Submitted PR #57 and tagged operations branch for v15.2.11: NCO-v15.2.11

[2020-04-14 15:15] KateFriedman-NOAA commented on #5
Testing with Hera-built execs was mostly successful. Was able to run most of a cycle after resolving environment issues for FV3 model. Currently awaiting library updates on Orion to resolve issues running GSI execs (particularly analcalc and ecen, troubleshooting those jobs currently).

Established pseudo glopara area and established the following subsections:

* FIX_DIR: /work/noaa/nems/kfriedma/

[2020-04-14 15:58] KateFriedman-NOAA commented on #5
Today's Orion users meeting announced they are moving forward with establishing role accounts. Will establish official glopara group space as soon as the account is available to sudo to.

[2020-04-20 13:25] KateFriedman-NOAA commented on #52
From April 17th RFC memo:

Other known info for upcoming v15.2.12 changes:

[2020-04-20 17:57] kgerheiser opened #59 "FV3 empty repository on gerrit"
I'm back to working with this and following along with along with the instructions. My initial gerrit issue is fixed, but the FV3 repository is empty?

`Cloning into '/scratch1/NCEPDEV/nems/Kyle.Gerheiser/new_global_workflow/global-workflow/sorc/fv3gfs.fd/FV3'...
warning: You appear to have cloned an empty repository.`

`Fetched in submodule path 'FV3', but it did not contain f4f8644fe73f10513bd31

[2020-04-20 18:07] KateFriedman-NOAA commented on #59
Kyle,

When you are in the ../sorc/fv3gfs.fd folder and type the following what
happens?

$ git submodule update --init --recursive

You got access to the FV3 repo on VLab right? NEMS too? They are submodule
projects under the NEMSfv3gfs repo there.

Kate Friedman (formerly Howard)
NOAA/NWS/NCEP/EMC Engineering and Implementation Branch

On Mon, Apr 20, 2020 at 1:58 PM Kyle Gerheiser <notification

[2020-04-20 18:09] kgerheiser commented on #59
It checks out the repo just fine but it's empty (or so it seems). If you look at that Vlab link is it not empty for you? I am part of the NEMSfv3gfs, ProdGSI, and NEMS-developer groups.

[2020-04-20 18:25] kgerheiser opened #60 "Unable to generate initial conditions"
I was able to successfully build after fixing #59 but now I am unable to generate initial conditions (running on Hera).

First, the UFS_UTILS in `ufs_utils.fd` in the `sorc/` directory does not contain the `util/gdas_init` directory, so I cloned this repo https://github.com/NOAA-EMC/UFS_UTILS and used the develop branch because it does, and I build that.

Then, I edit `config` using the default da

[2020-04-20 18:37] KateFriedman-NOAA commented on #60
Kyle, do you have rstprod access? You need that to access most of the GFS
tarballs on HPSS.

Kate Friedman (formerly Howard)
NOAA/NWS/NCEP/EMC Engineering and Implementation Branch

On Mon, Apr 20, 2020 at 2:25 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-04-20 18:38] junwang-noaa commented on #59
Kyle,

Would you please try again, it looks to me you were not added to vlab fv3
repo.

On Mon, Apr 20, 2020 at 2:09 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-04-20 18:40] kgerheiser commented on #60
I do not believe I do. Is that an HPSS project?

I just got HPSS access the other day and I wasn't sure which projects to ask for access to.

[2020-04-20 18:46] kgerheiser commented on #60
Found it on AIM

[2020-04-20 18:48] kgerheiser commented on #59
Yes, thank you @junwang-noaa and @KateFriedman-NOAA

It's visible now

[2020-04-20 18:48] #59 closed, assigned to nobody

[2020-04-20 18:53] KateFriedman-NOAA commented on #60
Ok cool, it may take a few days for that to go through. You will need to
make sure "rstprod" is added to your groups on Hera and HPSS. If you have
it appear in your groups on Hera but you still encounter an issue accessing
HPSS then send an email to the HPSS helpdesk to have them add it to your
groups there (rdhpcs.hpss.help@noaa.gov).

Kate Friedman (formerly Howard)
NOAA/NWS/NCEP/EMC Engineering

[2020-04-20 19:02] kgerheiser commented on #60
Otherwise, what about choosing a start date? Does it matter if I leave it at the default at 2017 if I'm just trying to get it to run? I wasn't sure if it matters that it's gfs14 or 13.

And ufs_utils.fd `v1.1.0` missing `gdas_init/`? Is using the develop branch of UFS_UTILS the correct thing to do?

[2020-04-20 19:10] GeorgeGayno-NOAA commented on #60
Yes, use 'develop'.  None of the tags or release branches contain this utility.

[2020-04-20 19:11] GeorgeGayno-NOAA commented on #60
If you just want to get it to run, then use the default date.  The scripts will work back to April 2012.

[2020-04-22 13:59] KateFriedman-NOAA commented on #52
Processed GDA updates for v15.2.12 as of the 2020042212 cycle.

Installed RB of obsproc_global v3.2.6 on supported platforms: Mars, Venus, Surge, Luna, Hera
Will install OT when available. Need to install on Orion too.

[2020-04-22 16:22] KateFriedman-NOAA commented on #52
Created feature/operations_v15.2.12 branch for making v15.2.12 changes in operations branch.

[2020-04-22 16:48] KateFriedman-NOAA commented on #52
NCO-v15.2.12 tag created off operations branch.

[2020-04-22 16:51] KateFriedman-NOAA commented on #52
Reopening, I need to pull updates into develop branch for obsproc_global version.

[2020-04-22 17:16] #52 closed, assigned to KateFriedman-NOAA

[2020-04-22 18:04] KateFriedman-NOAA opened #63 "GFSv15.3.0 production updates"
Created release branch for hand-off to NCO: release/gfs.v15.30.0

Branch contains the following changes:

* ProdGSI tag update (from issue #37)
* bug fix to syndat_qctropcy.fd/qctropcy.f
* change to link_fv3gfs.sh to point to updated fix file set which contains updated syndat_stmnames file
* change to checkout.sh to update ProdGSI, EMC_post_gtg, and EMC_gfs_wafs tags to latest ops versions

------

[2020-04-24 18:31] KateFriedman-NOAA commented on #52
Final OT tag for obsproc_global available: OT-obsproc_global.v3.2.6-20200422

Installed and updated symlinks on WCOSS and Hera to point to OT tag rather than prior RB. No impact to results switching to final tag.

[2020-04-28 18:45] KateFriedman-NOAA commented on #52
Retagged NCO-v15.2.12 after committed final piece of v15.2.12.

[2020-04-28 19:04] KateFriedman-NOAA commented on #63
Created release/gfs.v15.2.13 branch off operations branch for this work.

[2020-04-28 20:19] KateFriedman-NOAA commented on #63
Created release tag for hand-off to NCO: RT-GFS-v15.2.13

Tag contains the following changes:
* bug fix to syndat_qctropcy.fd/qctropcy.f
* change to link_fv3gfs.sh to point to updated fix file set which contains updated syndat_stmnames file
* change to checkout.sh to update ProdGSI and EMC_post_gtg tags to latest ops versions

[2020-05-01 13:22] KateFriedman-NOAA commented on #63
CDF drafted and sent to NCO.

[2020-05-01 15:53] KateFriedman-NOAA opened #65 "GFSv15.3.1 - AWIPS data card update"
https://www.weather.gov/media/notification/scn20-48gfs_noaaport.pdf

[2020-05-01 16:00] KateFriedman-NOAA commented on #65
Created feature/gfsv15.3.1 branch for this work. Will make a release tag for hand-off.

[2020-05-01 17:53] BoiVuong-NOAA commented on #65
All data cards for AWIPS have updated the vertical velocity variable (VVEL) to (DZDT) and the units will be changed from (pascal/s) to (m/s) and the total and convective precipitation variables (APCP, ACPCP) will be changed from total (3-hour or 6-hour) accumulation to continuous accumulation.

[2020-05-02 12:19] RussTreadon-NOAA commented on #37
NCO requested and EMC management agreed that GFS v15.2.13 and GFS v15.3.0 be merged into a single implementation package.  As such GFS v15.3 development is now being tracked in issued #63.   This issue, #37, may be closed.   Branch [feature/gfs.v15.3](https://github.com/NOAA-EMC/global-workflow/tree/feature/gfsv15.3) is no longer needed and may be removed.

[2020-05-02 12:26] RussTreadon-NOAA commented on #63
NCO requested and EMC management agreed that GFS v15.2.13 and GFS v15.3.0 be merged into a single implementation package.  As such GFS v15.3 development is now being tracked in issued #63.   Commit c90ea4b updated sorc/checkout.sh in workflow branch [release/gfs.v15.2.13](https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v15.2.13) to point at the GFS v15.3.0 DA tag.

GFS v15.3 issue #37

[2020-05-04 13:22] KateFriedman-NOAA commented on #63
Created release/gfs.v15.3.0 off release/gfs.v15.2.13 for hand-off.

[2020-05-04 14:16] BoiVuong-NOAA commented on #65
All data cards (301 files) for AWIPS  completed testing with data on 05/01/2020 and committed to the branch feature/gfsv15.3.1.

[2020-05-04 16:48] KateFriedman-NOAA commented on #63
Tested implementation instructions for NCO on Venus (used VLab workarounds) and modified link_fv3gfs.sh to use rsync instead of cp to make the FIX_DIR pickup faster/safer.

Updated implementation instructions with workaround details.

[2020-05-04 17:24] KateFriedman-NOAA commented on #65
Switched branch name for hand-off to release/gfsv15.3.1 (created off feature/gfsv15.3.1). Given NCO is now accepting release branches from GitHub and I don't need to tag for hand-off I will name future ops hand-off branches like this (follows Gitflow):

release/gfsvX.Y.Z

...and after implementation of that version is complete (assumes operations branch has ingested release changes) I will tag the

[2020-05-06 13:50] KateFriedman-NOAA commented on #37
Closing, see issue #63.

[2020-05-06 13:50] #37 closed, assigned to Hang-Lei-NOAA

[2020-05-06 13:54] KateFriedman-NOAA commented on #63
Implementation instructions prepared and tested with final package. Handing off to NCO today.

[2020-05-07 14:56] BoiVuong-NOAA commented on #65
The CDF has submitted to NCO.

[2020-05-11 16:52] KateFriedman-NOAA commented on #5
Except for GLDAS and WAFS the port2orion branch now builds out of the box on Orion. It uses the following component branches/tags currently:

- https://github.com/DusanJovic-NOAA/ufs-weather-model/tree/orion_gfs.v16
- ProdGSI VLab: feature/parallel_ncio
- https://github.com/GeorgeGayno-NOAA/UFS_UTILS/tree/feature/orion
- https://github.com/WenMeng-NOAA/EMC_post/tree/post_orion
- https://github.com

[2020-05-11 17:06] GeorgeVandenberghe-NOAA commented on #5
The predecessor to port to hera that I implemented for Hera, August 2019
and Orion December 2019,  is obsolete because of numerous repository
changes and if I do version 2 it will
be redesigned .  I would like to at some point get a build system that does
not depend on machine name for all of this stuff but I am leaning towards
version 2 assuming  a supported master build
system with ./machine-set

[2020-05-11 18:44] KateFriedman-NOAA commented on #60
Any update on this? Things ok?

[2020-05-11 18:48] kgerheiser commented on #60
I just tried it again today after getting access to `rstprod`, but I still can't read those files.

`ERROR: [FATAL] no permission to open HPSS archive file: /NCEPPROD/hpssprod/runhistory/rh2017/201707/20170719/com2_gfs_prod_gdas.2017071918.tar`

So, I sent an email to HPSS and was waiting to hear back from them.

[2020-05-11 18:50] KateFriedman-NOAA commented on #60
Okie dokie, you're on the right path. Thanks for the update!

[2020-05-12 18:11] KateFriedman-NOAA commented on #65
Committed a fix to link_fv3gfs.sh for emc mode (no impact to nco mode) which bettter handles the fix files in the new frozen format:

[code]

Will also commit to develop so the development branches get this fix.

[2020-05-13 19:45] kgerheiser commented on #60
You have to be added to the group on HPSS after being granted access to the project. I was able to generate the initial conditions.

[2020-05-13 19:45] #60 closed, assigned to nobody

[2020-05-14 19:16] kgerheiser opened #67 "Do I need to use /scratch1/NCEPDEV/global?"
I generated an experiment and see that config.base sets several directories to ` /scratch1/NCEPDEV/global` like `DMPDIR`, `HOMEDIR`, `base_svn`, and `base_git`.

I don't have write access to `global`. Is that a problem? Should I just set `HOMEDIR` and `DMPDIR` to somewhere else?

[2020-05-14 19:24] KateFriedman-NOAA commented on #67
For things like DMPDIR, BASE_GIT, and BASE_SVN you want to leave those as is. You should be able to read from those locations (regardless of group access) and those values shouldn't be changed as they are areas for all global users to read from (e.g. DMPDIR is the global dump archive which houses global observation data for cycling the FV3GFS and BASE_GIT[SVN] are for installations that users don'

[2020-05-26 14:16] KateFriedman-NOAA commented on #63
From the May 22nd RFC memo:

[2020-05-27 14:36] KateFriedman-NOAA commented on #63
Did comparison between release/gfs.v15.3.0 branch and the nwprod/gfs.v15.3.0 installation post-implementation on May 26th. Found final post-hand-off/pre-implementation changes and committed them to release/gfs.v15.3.0 branch at 737cfa8.

Will initiate PR to merge release/gfs.v15.3.0 into operations branch. Will run test on WCOSS to compare against ops before completing PR.

[2020-06-02 14:12] KateFriedman-NOAA commented on #63
Reproduce test against ops successful, although I had to make local changes to handle the GDA structure change and point to updated obsproc versions. Performing PR to merge release/gfs.v15.3.0 branch into operations branch and then tag NCO-v15.3.0.

[2020-06-02 14:19] KateFriedman-NOAA commented on #63
Submitted PR #79 and deleted release/gfs.v15.3.0 via PR. Created tag NCO-v15.3.0.

[2020-06-02 14:20] #63 closed, assigned to KateFriedman-NOAA

[2020-06-02 14:37] KateFriedman-NOAA commented on #65
Sync merged operations into release/gfsv15.3.1 branch after completing v15.3.0 commits.

[2020-06-08 13:44] KateFriedman-NOAA commented on #67
@kgerheiser Has this been resolved?

[2020-06-08 13:46] KateFriedman-NOAA commented on #16
@yangfanglin Checking on the status of this issue. Please close if the work is complete. Thanks!

[2020-06-08 13:47] KateFriedman-NOAA commented on #6
@JianKuang-NOAA Checking on the status of this issue. Is this issue still needed or has the work for it been resolved and/or tracked in another issue? Thanks!

[2020-06-08 13:51] kgerheiser commented on #67
I'll call it resolved. I haven't been added to the global group yet, but I was able to change the default directories

[2020-06-08 13:51] #67 closed, assigned to nobody

[2020-06-08 13:52] KateFriedman-NOAA commented on #67
@kgerheiser Gotcha, ping @arunchawla-NOAA through email about global group access on Hera.

[2020-06-08 13:55] yangfanglin commented on #16
Not entirely resolved yet. We are still using a personal installation of
netCDF lib on HERA.  The version under NCEP lib does not work.

On Mon, Jun 8, 2020 at 9:46 AM Kate Friedman <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov/g

[2020-06-08 13:56] jkuang-exploro commented on #6
@KateFriedman-NOAA PR#32 has already been merged, now working on PR#81. The goal of this PR is to fully integrate wave components into the workflow.

[2020-06-08 13:58] arunchawla-NOAA commented on #67
global is a project on HERA. Open a request for access to that project on
AIM. It will get routed through to Vijay
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone: 301-683-3740
Mobile: 240-564-5675
     Fax: 301

[2020-06-08 14:00] kgerheiser commented on #67
@arunchawla-NOAA

Gotcha

[2020-06-08 14:57] KateFriedman-NOAA commented on #6
Gotcha, thanks for the update! Wanted to make sure this was still an active issue.

[2020-06-15 20:58] RussTreadon-NOAA opened #85 "Refactor GFS v16 workflow to reduce gdasanalcalc run time"
GFS v16 workflow ecen jobs require chgres'd gdas atmospheric forecasts from the previous cycle.   This chgres operation is currently performed in current cycle gdasanalcalc.    The chgres executable takes about 8 minutes to run on WCOSS_D.   This chgres operation could be performed in the previous cycle, thereby allowing ecen to start 8 minutes earlier in the current cycle.

Cory made the necessar

[2020-06-16 13:02] christopherwharrop-noaa opened #87 "LIngering /contrib module issues on Jet and Hera in feature/gfsv16b"
The feature/gfsv16b branch currently points to the GFS.v16.0.5 tag of the GFS. However, the fixes in the fv3gfs that solve issues with /contrib modules on Jet and Hera are on the new [GFS.v16.0.6](https://github.com/ufs-community/ufs-weather-model/releases/tag/GFS.v16.0.6) tag. The feature/gfsv16b branch needs to be updated to point to the new GFS.v16.0.6 tag.

[2020-06-16 13:27] yangfanglin commented on #87
The workflow has been updated to point to the new model tag

On Tue, Jun 16, 2020 at 9:02 AM Christopher Harrop <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
http://www.emc.ncep.noaa.gov/gmb/STATS_vsdb/

[2020-06-16 13:33] KateFriedman-NOAA commented on #87
The Externals.cfg file has gotten the same update. Closing issue now.

[2020-06-16 13:33] #87 closed, assigned to nobody

[2020-06-18 15:21] KateFriedman-NOAA commented on #65
From June 12th RFC memo:

[2020-06-18 15:44] KateFriedman-NOAA commented on #65
Tagged operations branch: NCO-v15.3.1

[2020-06-18 18:39] #65 closed, assigned to KateFriedman-NOAA, BoiVuong-NOAA

[2020-06-18 20:11] RussTreadon-NOAA commented on #85
Work complete.  feature/chgresfcst merged into feature/gfsv16b at ff8cd28.

This issue is closed.

[2020-06-18 20:11] #85 closed, assigned to nobody

[2020-06-23 15:30] christopherwharrop-noaa opened #90 "Version of UPP inconsistent in Externals.cfg and sorc/checkout.sh"
Once again, an inconsistency in versions was introduced during the latest updates to feature/gfsv16b.

[2020-06-23 15:35] #90 closed, assigned to nobody

[2020-06-23 15:44] christopherwharrop-noaa opened #92 "Two sources of component versions"
There are currently two sources of truth for the versions of components to be checked out:

* Externals.cfg
* sorc/checkout.sh

This is a bug.

This bug is causing consistency problems for downstream users of the global-workflow. All users of global-workflow need assurance that what they are checking out is correct. But that is impossible to guarantee because there are currently two sources of tru

[2020-06-23 15:58] KateFriedman-NOAA commented on #92
@christopherwharrop-noaa The checkout.sh script will be removed at the end of the v16 work but not before. I have updated README.md to revert it back to tell users to use checkout.sh and hopefully avoid future tickets like this.

Commit done at https://github.com/NOAA-EMC/global-workflow/commit/4f8d5a5f28c7120905fe36e9254f0199da986188

[2020-06-23 15:58] #92 closed, assigned to nobody

[2020-06-29 17:06] KateFriedman-NOAA opened #94 "Restructure ROTDIR for $COMPONENT subfolders"
To facilitate a structure more conducive to UFS and merging modeling systems together (e.g. GFS + GEFS) the $CYC subfolder of COMROT/ROTDIR needs to be broken into a new $COMPONENT subfolder. This will require all components of the FV3GFS to update.

From discussions with NCO (Steven Earle):

Will break up $CDUMP.$PDY/$CYC into atmos, wave, etc:

- $CDUMP.$PDY/$CYC/atmos
- $CDUMP.$PDY/$CYC/wave

$

[2020-07-08 14:14] KateFriedman-NOAA opened #97 "GFS v15.3.2 updates"
@RussTreadon-NOAA @MichaelLueken-NOAA Is there a new GSI tag for this version? Thanks!

[2020-07-08 14:23] RussTreadon-NOAA commented on #97
Yes, NOAA-EMC GSI tag gfsda.v15.3.2
<https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v15.3.2> has been
created.   Please note, however, that NCO checked out Vlab ProdGSI tag
gfsda.v15.3.2
<https://vlab.ncep.noaa.gov/redmine/projects/comgsi/repository?utf8=%E2%9C%93&rev=gfsda.v15.3.2>
for the implementation.

On Wed, Jul 8, 2020 at 10:14 AM Kate Friedman <notifications@github.com>
wrote:

[2020-07-08 14:28] KateFriedman-NOAA commented on #97
Gotcha, thanks for the tag! Do you happen to know why NCO checked out the VLab tag rather than the GitHub tag?

[2020-07-08 14:36] RussTreadon-NOAA commented on #97
The quickest path for getting a tag to NCO was to  work from the existing DA_GFS_v15.3 branch in Vlab ProdGSI.    After NCO implemented GFS v15.3.2 we worked from NOAA-EMC GSI to create a comparable tag.   Both tags are functionally equivalent.

[2020-07-08 14:40] KateFriedman-NOAA commented on #97
Gotcha, thanks!

[2020-07-08 17:47] KateFriedman-NOAA commented on #94
@RussTreadon-NOAA @yangfanglin @JessicaMeixner-NOAA I have committed my initial set of changes to add $COMPONENTatmos and $COMPONENTwave variables to the workflow scripts. My local clone on Mars includes modifications for the components:

/gpfs/dell2/emc/modeling/save/Kate.Friedman/git/global-workflow/feature-gfsv16b-restructure

Please feel free to review my initial changes and suggest modificati

[2020-07-09 14:06] KateFriedman-NOAA commented on #97
The operations branch was updated for v15.3.2 at 7728ce1.

New tag off operations branch: NCO-v15.3.2

Closing issue now.

[2020-07-09 14:06] #97 closed, assigned to KateFriedman-NOAA

[2020-07-09 14:13] KateFriedman-NOAA commented on #94
First half cycle run, got prep jobs at start of first full cycle to run yesterday, and am awaiting return of Mars (parallel production test) to continue test.

[2020-07-15 14:28] jiandewang opened #99 "need to reduce post job # in CROW workflow for ufs-s2s-model"
right now fv3 and ocean post jobs will be launched at every 6hr interval, this will bring ~300 jobs which is hard to manage. It will be good to reduce the total job numbers, for example, just split the 35 days post jobs into 5 sections.

[2020-07-16 13:36] jkuang-exploro commented on #99
Now working on this issue in branch feature/splitpost

[2020-07-16 16:31] KateFriedman-NOAA commented on #94
(below is fixed based on comment from Fanglin after this was first posted)

Final email with Steven Earle lays out the new $COMPONENT variables and COMIN/COMOUT:

1. JJOB script for job with multiple components (e.g. forecast):
[code]
2. JJOB script for job with single component (e.g. non-forecast jobs):

for atmospheric components:
[code]
for wave components:
[code]

[2020-07-16 16:33] KateFriedman-NOAA commented on #94
Summary of changes for FV3/ufs-weather-model component:

none: all changes on global-workflow side to both JJOB and ex scripts, no changes needed in ufs-weather-model

[2020-07-16 16:42] yangfanglin commented on #94
Kate,

I thought we should not use

export COMPONENTatmos=${COMPONENTatmos:-atmos}
export COMPONENTwave=${COMPONENTwave:-wave}

Instead using atmos and wave directly where they are referred.

export COMINatmos=${COMINatmos:-${ROTDIR}/${CDUMP}.${PDY}/${cyc}/atmos}
export COMOUTatmos=${COMOUTatmos:-${ROTDIR}/${CDUMP}.${PDY}/${cyc}/atmos}
export COMINwave=${COMINwave:-${ROTDIR}/${CDUMP}.${PDY}/${cyc}

[2020-07-16 17:01] KateFriedman-NOAA commented on #94
Fanglin, you're right, let me adjust that, sorry, got my notes on that special case mixed up.

[2020-07-16 17:21] KateFriedman-NOAA commented on #94
@yangfanglin fixed at 3d9f0dc

[2020-07-16 17:32] KateFriedman-NOAA commented on #94
Summary of changes for FV3/ufs-weather-model component: none, all changes on global-workflow side to both JJOB and ex scripts, no changes needed in ufs-weather-model

Changes to scripts on workflow side can be seen in feature/gfsv16b-restructure branch or here:

JGLOBAL_FORECAST
[code]

exglobal_fcst_nemsfv3gfs.sh

[code]

[2020-07-16 17:49] yangfanglin commented on #94
Kate,

The structure of the following block needs to be preserved for restarting wave model from a breakpoint.  NCO will save  breakpoint restart files for the gfs cycle in a $nwges directory , while restart files for the gdas cycle in $comrot.  So in operation RSTDIR_WAVE for the gfs cycle will be defined in an ecflow suite definition file.  This is also true for the atmos part.

<     if [ $CDUM

[2020-07-16 17:53] KateFriedman-NOAA commented on #94
Fanglin, gotcha, changed it to the block you provided at 273c535, thanks!

[2020-07-16 18:22] KateFriedman-NOAA commented on #94
Summary of changes to other FV3GFS components:

### GSI:

Fork branch: [release/gfsda.v16.0.0-restructure](https://github.com/KateFriedman-NOAA/GSI/tree/release/gfsda.v16.0.0-restructure)
Changes committed: https://github.com/KateFriedman-NOAA/GSI/commit/f6bc0f6a010b0606bf6003f14872fb3ddc80f96f

### GLDAS:

Fork branch: [gldas_gfsv16_release.v1.3.0-restructure](https://github.com/KateFriedman-NOAA

[2020-07-16 18:39] KateFriedman-NOAA commented on #94
Continuing to let test run through additional cycles. Test on Mars:

EXPDIR: /gpfs/dell2/emc/modeling/save/Kate.Friedman/expdir/testrestrucb
COMROT: /gpfs/dell3/ptmp/Kate.Friedman/comrot/testrestrucb
clone: /gpfs/dell2/emc/modeling/save/Kate.Friedman/git/global-workflow/feature-gfsv16b-restructure

[2020-07-16 18:46] RussTreadon-NOAA commented on #94
Quick look at GFS v16 DA changes looks good.    $COMPONENT has been added to DA j-jobs and two exglobal scripts.   COMPONENT defaults to "atmos" if not externally set.   Seems we could pull these changes into base release/gfsda.v16.0.0 with COMPONENT="" and GFS v16 DA would work as-is in current real-time v16 parallel.

[2020-07-16 18:49] KateFriedman-NOAA commented on #94
I agree and am suggesting that path in the email I'm drafting to everyone. The only part that will need more of a pivot is the wave part since it's moving from:

$CDUMPwave.$PDY/$cyc
...to:
$CDUMP.$PDY/$CYC/wave

[2020-07-16 18:52] RussTreadon-NOAA commented on #94
OK.  I'll wait for and process the PR at the appropriate time.

On Thu, Jul 16, 2020 at 2:50 PM Kate Friedman <notifications@github.com>
wrote:

[2020-07-16 19:03] GeorgeGayno-NOAA commented on #94
The ./ush/fv3gfs_chgres.sh script is used by the old chgres and is obsolete.   It has been replaced by the scripts in ./util/gdas_init.

[2020-07-16 19:08] KateFriedman-NOAA commented on #94
Thanks for the confirmation that fv3gfs_chgres.sh is indeed obsolete now! I'll forgo submitting changes to you for fv3gfs_chgres.sh then, thanks @GeorgeGayno-NOAA !

[2020-07-17 03:52] jiandewang commented on #99
currently all working directories is named with a random number, if you can reduce the post to 5 sections, it will be nice to have post working directories named something like post.1, post.2....., in this way it will make life a bit easy when doing trouble shooting

[2020-07-17 12:25] jkuang-exploro commented on #99
@jiandewang 1, They are not random numbers, instead they are indicating the hours of output; After this feature is implemented, each "grouped" post job will be named after the FIRST output hour in this group; 2, The ocnpost job is already grouped. The default setting is to group every 120 hours, but in the case file, it is set to 24 hours.

[2020-07-17 13:57] jiandewang commented on #99
@JianKuang-NOAA can you tell me which parameter is used to control ocnpost group interval ?

[2020-07-17 14:07] jkuang-exploro commented on #99
@jiandewang “OCN_INTERVAL: 120” in the case file, is controlling the group setting. This means every ocn post job will contain 120 hours of length (time stamp of model output is controlled by FHMIN FHMAX FHOUT parameters, same with atmospheric-only experiment )

[2020-07-17 14:08] jkuang-exploro commented on #99
(continue) say, model output in 0, 6, 12, 18 will in included in the first ocnpost job, if you set OCN_INTERVAL: 24

[2020-07-17 14:55] KateFriedman-NOAA commented on #94
PR for EMC_post submitted: https://github.com/NOAA-EMC/EMC_post/pull/151

[2020-07-17 15:57] GeorgeGayno-NOAA opened #102 "Remove hard-coded vertical levels from 'enkf_chgres_recenter_nc.fd' program"
The `enkf_chgres_recenter_nc` program has logic to vertically interpolate data.  However, the program is hard-wired to output the same number of vertical levels as the input file.  Remove this hard-coded feature.

Supports GEFS-CHEM.  Was told to start with the version under feature/gfsv16b.  Don't know if the final program will reside in this repository or under GEFS.  Will work under my fork's v

[2020-07-20 14:42] KateFriedman-NOAA commented on #94
PR for GSI submitted: https://github.com/NOAA-EMC/GSI/pull/39

PR for GLDAS submitted: https://github.com/NOAA-EMC/GLDAS/pull/8

PR for WAFS submitted: https://github.com/NOAA-EMC/EMC_gfs_wafs/pull/1

[2020-07-20 20:12] KateFriedman-NOAA commented on #94
EMC_post PR https://github.com/NOAA-EMC/EMC_post/pull/151 merged in.

New tag created: upp_gfsv16_release.v1.0.11

Moved feature/gfsv16b-restructure checkout.sh to use new EMC_post tag. Committed at ab89088.

[2020-07-20 20:20] jkuang-exploro commented on #99
PR#107 created to enable this feature.

[2020-07-21 14:11] KateFriedman-NOAA commented on #94
GLDAS PR https://github.com/NOAA-EMC/GLDAS/pull/8 merged in.

New tag created: gldas_gfsv16_release.v1.4.0

Moved feature/gfsv16b-restructure checkout.sh to use new GLDAS tag. Committed at 95ce823.

[2020-08-03 14:45] KateFriedman-NOAA commented on #5
Committed at 206797c: New GLDAS tag which includes Orion support. New rocoto module (rocoto/1.3.2) available on Orion which includes updates to fix UNAVAILABLE job states on SLURM machines. Updates to UFS_UTILS for Orion...will test and confirm to George Gayno in https://github.com/NOAA-EMC/UFS_UTILS/issues/26.

[2020-08-07 15:33] KateFriedman-NOAA commented on #94
Did another sync merge of global-workflow and GSI branches...no new updates to pull in.

Ran new ens_tracker.v.1.1.15.3 from Jiayi successfully. Sent a few small edits back to him and he is now pushing this version to GitHub. Will update on-disk clone of the tracker when on GitHub.

Waiting for WAFS v16 still but will ingest that into system when available and will move the real-time parallel befo

[2020-08-10 13:03] KateFriedman-NOAA commented on #94
Updated tracker in GitHub: https://github.com/NOAA-EMC/TC_tracker/tree/TC_tracker.v1.1.15.3

[2020-08-10 15:14] KateFriedman-NOAA commented on #94
WCOSS outages this week will delay implementing these changes in the real-time parallel. Plan is to allow real-time parallel to catch back up to real-time over the weekend and early next week ahead of a prod switch next Tuesday. Will set up and test system on Venus this week and plan to move to new structure when the parallel moves to Venus post-prod switch.

Will resync global-workflow and GSI PR

[2020-08-13 18:40] KateFriedman-NOAA commented on #1
@RussTreadon-NOAA @yangfanglin I updated the prod_util version on WCOSS-Dell to v1.1.4 to capture the post-P1/P2 removal fix for compath.py. Most important change was to modulefiles/module_base.wcoss_dell_p3.

Committed to relevant files at 9b923ac.

[2020-08-17 17:47] KateFriedman-NOAA commented on #94
Preparing to move v16rt2 to new structure after WCOSS prod switch this Thursday. Working with Russ to set up Venus as much as we can in advance. Will submit GSI and global-workflow PRs Wednesday (if not before).

[2020-08-19 13:32] KateFriedman-NOAA commented on #94
GSI PR completed: https://github.com/NOAA-EMC/GSI/pull/39

[2020-08-19 13:51] KateFriedman-NOAA commented on #94
Global-workflow PR completed: https://github.com/NOAA-EMC/global-workflow/pull/109

[2020-08-24 18:06] GuangPingLou-NOAA opened #117 "Change bufr station Hilo's grid point representation"
Current bufr station Hilo's model grid point is on the west of the station where terrain is mountainous and it is not a good representation for the station. After thorough testings and analyses it was found a grid point on the south of the station is a better representation for the station. The original grid point (i,j=1749,600) is therefore replaced by (i,j)=(1750,601).

[2020-08-26 18:24] GeorgeGayno-NOAA commented on #102
Merged to 'develop'.  See #119.  Closing ticket.

[2020-08-26 18:24] #102 closed, assigned to GeorgeGayno-NOAA

[2020-09-02 13:43] lgannoaa opened #123 "ecflow commit for GFS.v16 implementation"
This action is for ecflow commit with GFS v16 implementation. The GFS v15 style of ecflow workflow design is changed by NCO. A new coupled ecflow workflow design will replace it going forward. EMC management requested ecflow be in version control.

[2020-09-02 13:46] #94 closed, assigned to KateFriedman-NOAA

[2020-09-15 00:14] GuangPingLou-NOAA opened #131 "EE2 compliance, dbn_alert issues and err_chk"
DBNROOT and dbn_alert are not working on EMC parallel runs even though it works fine in operations.  This update removes error messages in the real time EMC parallel runs.

[2020-09-17 17:49] KateFriedman-NOAA commented on #131
@GuangPingLou-NOAA May this issue now be closed? Thanks!

[2020-09-17 17:50] KateFriedman-NOAA commented on #117
@GuangPingLou-NOAA Is this issue complete? If so, please close, thanks!

[2020-09-17 17:51] KateFriedman-NOAA commented on #16
@yangfanglin Check on this issue again. Is this now complete? Thanks!

[2020-09-17 18:53] yangfanglin commented on #16
You can close it now

On Thu, Sep 17, 2020 at 1:51 PM Kate Friedman <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2020-09-17 18:56] KateFriedman-NOAA commented on #16
Thanks!

[2020-09-17 18:56] #16 closed, assigned to nobody

[2020-09-17 19:44] GuangPingLou-NOAA commented on #131
will update new scripts soon and a PR will be requested.

[2020-09-18 20:04] GuangPingLou-NOAA commented on #131
This issue is resolved.

[2020-09-18 20:04] #131 closed, assigned to nobody

[2020-09-23 12:13] DavidHuber-NOAA opened #138 "Port global-workflow to S4"
The global-workflow should be ported to S4.

Branch: [DavidHuber-NOAA:port2s4](https://github.com/DavidHuber-NOAA/global-workflow/tree/port2s4)

Below is a checklist taken from #5 for porting to Orion which I will use as a template:

- [x]  Test: connection to GitHub
- [x]  Build: hpc-stack (personal area)
- [x]  Build: hpc-stack (official area)
- [x]  Install: manage_externals manic-v1.1.8 tag (p

[2020-10-02 13:30] GuangPingLou-NOAA opened #142 "Adding 6 bufr stations in Thailand to the bufr sounding output"
Thailand Meteorological Department (TMD) requested adding 6 bufr stations in Thailand to the bufr sounding output.

[2020-10-02 13:51] lgannoaa commented on #123
NCO requested ecflow workflow structure to be changed. I put together a new design and was approved from NCO.
NCO also requested a change on HOMEgfs (the implementation package) in j-job and ex-script to follow the naming used in ecflow . Code manager were contacted to make such change. I tested the modified HOMEgfs (as of 9/26/2020) with ecflow. There are still known bug and changes. A first comm

[2020-10-02 14:31] yangfanglin commented on #142
Guang-ping,

Please try your best to get the code to the repository today.

On Fri, Oct 2, 2020 at 9:31 AM GuangPingLou-NOAA <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>

[2020-10-02 14:43] GuangPingLou-NOAA commented on #142
working on it. I think I'll be able to get it to the repo today.

[2020-10-03 00:39] GuangPingLou-NOAA opened #145 "change modules to production paths"
Per NCO ecflow requirements, all non-prod modules must be changed to prod paths.

[2020-10-05 18:17] #117 closed, assigned to nobody

[2020-10-09 14:58] KateFriedman-NOAA commented on #1
Created [release/gfsv16.0.0](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.0.0) branch off operations branch. Will merge feature/gfsv16b into it and resolve conflicts on the command line.

Will move release notes into branch too.

[2020-10-13 20:08] jkuang-exploro opened #160 "One-step cold start implementation"
Switch feature/coupled-crow to use one-step cold start.

[2020-10-14 13:33] JessicaMeixner-NOAA opened #161 "feature/coupled-crow: ww3 grib post processing producing empty grib files"
The WW3 grib2 files when using my branch from feature/coupled-crow
https://github.com/JessicaMeixner-NOAA/global-workflow/tree/feature/p5ww3post
keeps having the following warning:
warning: empty layer generated
and the resulting grib2 files are all zeros. When post processing with netcdf, the fields are not empty however. This is occurring on both Hera and orion.

[2020-10-14 15:40] JessicaMeixner-NOAA commented on #161
A working directory on orion which shows the issue:
/work/noaa/marine/jmeixner/p5ww3post/test1/DATAROOT/wavepostsbs.372101/output_20130401000000/done.gwes_30m_grib

@arunchawla-NOAA @RobertoPadilla-NOAA maybe there is something obviously wrong I'm missing here.

log file: /work/noaa/marine/jmeixner/p5ww3post/test1/COMROOT/test01/logs/2013040100/gfs.wavepost.log

[2020-10-15 14:07] KateFriedman-NOAA commented on #1
Release branch completed for hand-off and submitted to NCO Friday 10/9.

Now begin post-hand-off tasks:
- test release branch on Hera and Orion at all supported resolution combos (make fixes as needed)
- test release branch on WCOSS for non-ops resolutions (make fixes as needed)
- post fix_nco_gfsv16 fix files on ftp server
- merge release branch (via port2orion) to develop branch
- do GitHub rele

[2020-10-15 14:14] KateFriedman-NOAA opened #162 "GFSv15.3.3 - EUM bufr changes for OPS"
Release branch prepared for implementation: [release/gfsv15.3.3](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv15.3.3)

- Updated sorc/checkout.sh to use new DA tag for EUM bufr changes: [gfsda.v15.3.3](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v15.3.3)
- Changed added to release branch in PR #127 .

Implementation scheduled for October 20th, 2020 12z.

[2020-10-15 14:17] KateFriedman-NOAA commented on #145
Work completed in GFSv16 release. Closing issue now.

[2020-10-15 14:17] #145 closed, assigned to nobody

[2020-10-15 14:18] KateFriedman-NOAA commented on #142
Work completed in release, closing issue now. Thanks!

[2020-10-15 14:18] #142 closed, assigned to nobody

[2020-10-15 14:19] KateFriedman-NOAA commented on #99
@jiandewang @JianKuang-NOAA Is this issue completed? If so, please close, thanks!

[2020-10-15 14:20] KateFriedman-NOAA commented on #48
Moving undone items to new issue.

[2020-10-15 14:20] #48 closed, assigned to nobody

[2020-10-15 14:30] JessicaMeixner-NOAA commented on #99
The path forward for this based on the coupled meeting on 10/7 is that we will start using the inline post for the coupled model and see if this issue remains.

[2020-10-15 19:22] KateFriedman-NOAA commented on #5
Sync merged release/gfsv16.0.0 branch into port2orion. Now testing port2orion on Orion, Hera, and WCOSS-Dell for several resolution combinations before prepping to merge back to develop.

[2020-10-16 15:45] KateFriedman-NOAA commented on #1
Post hand-off changes (updated 10/16):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.

[2020-10-19 14:01] KateFriedman-NOAA commented on #162
From October 16th RFC memo:

[2020-10-20 15:26] KateFriedman-NOAA commented on #162
Implementation delayed until October 22nd.

[2020-10-20 16:48] KateFriedman-NOAA commented on #1
Committed corrected npe_eobs values to config.resources in release/gfsv16.0.0 branch at 794e6655.

Post hand-off changes (updated 10/20):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.
3. Correct npe_eobs values in config.resources. Committed at 794e6655

[2020-10-21 14:22] arunchawla-NOAA opened #164 "Updating global workflow to use hpc-stack"
The develop branch of ufs-weather-model now uses hpc-stack for all the libraries.

The following changes need to be made to the global workflow
  1. The codes that are in the global workflow repository should now use hpc-stack
  2. The repositories that global workflow connects to also need to make updates to hpc-stack

We should track the PRs for all the component repositories through here. (This

[2020-10-22 15:13] KateFriedman-NOAA commented on #162
Work completed. Closing issue.

[2020-10-22 15:13] #162 closed, assigned to KateFriedman-NOAA

[2020-10-22 15:24] KateFriedman-NOAA commented on #162
Tagged operations branch for NCO-v15.3.3 and created release of tag.

[2020-10-22 17:22] jkuang-exploro commented on #160
This issue is solved with PR #163

[2020-10-22 17:22] #160 closed, assigned to jkuang-exploro

[2020-10-26 14:46] KateFriedman-NOAA commented on #1
Committed updated WAFS tag at c09678f.

Post hand-off changes (updated 10/26):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.
3. Correct npe_eobs values in config.resources. Committed at 794e665.
4. Update WAFS tag to gfs_wafs.v6.0.12. Committed at c0967

[2020-10-26 20:02] KateFriedman-NOAA commented on #1
Renamed release notes (.txt -> .md) per discussion with Fanglin. Committed at cb6d74e.

Post hand-off changes (updated 10/26):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.
3. Correct npe_eobs values in config.resources. Committed at 794e665.
4. Update

[2020-10-28 18:21] KateFriedman-NOAA commented on #1
Updated WAFS tag to gfs_wafs.v6.0.13 after testing on WCOSS-Dell. Committed at a3b4638.

Post hand-off changes (updated 10/30):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.
3. Correct npe_eobs values in config.resources. Committed at 794e665.
4. Update

[2020-11-02 15:26] KateFriedman-NOAA commented on #1
Post hand-off changes (updated 11/2):

1. Update WAFS dependencies to wait for all f06 through f36 output to be available. Committed at 4b2d26d.
2. Update FV3 tag to GFS.v16.0.14 for Hera/Orion build support. Committed at 484550c.
3. Correct npe_eobs values in config.resources. Committed at 794e665.
4. Update WAFS tag to gfs_wafs.v6.0.12. Committed at c09678f.
5. Rename release notes for v16.0.0 t

[2020-11-02 18:05] KateFriedman-NOAA opened #167 "Remove data paths from lower level scripts"
Look through lower level scripts (e.g. ush) and remove path settings that should be in upper level scripts (e.g. JJOBs).

[2020-11-04 13:00] arunchawla-NOAA opened #168 "Coupled branch easily run with different resolutions"
The coupled crow feature branch should be able to be easily run with different resolutions. This should be as configurable as possible and we should have documentation on what to change.

These are the minimum resolutions that we need to support

1. C384-1/4 ocean/ice-1/2 wave
2. C192-1/2 ocean/ice-1/2 wave
3. C96-1 ocean/ice-1 wave

[2020-11-04 13:49] JessicaMeixner-NOAA opened #169 "feature/coupled-crow update reg2grb2.fd to be built with hpc-stack"
The ocean post in feature/coupled-crow, specifically  reg2grb2.fd  needs to be updated to use hpc-stack.

The build script https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/sorc/build_reg2grb2.sh uses the module files modulefiles/modulefile.reg2grb2.$target

[2020-11-04 13:51] JessicaMeixner-NOAA opened #170 "feature/coupled-crow WW3 build scripts for pre/post should use hpc-stack"
The feature/coupled-crow branch needs to be updated to use hpc-stack for the pre-and post-processing exes for WW3.  Those are currently being built by the script: https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/sorc/build_ww3prepost.sh

FYI  @aliabdolali @RobertoPadilla-NOAA

[2020-11-04 14:05] JessicaMeixner-NOAA opened #171 "feature/coupled-crow fractional grid updates"
The feature/coupled-crow branch needs to be updated to be able to run fractional grid.

This includes the following:
1. Have the namelist option be able to be specified if frac_grid is true, then in  input.nml in &gfs_physics_nml frac_grid=T
At least at first this will need to be contorlled by CROW so we can easily switch between true/false for testing

2. Updating the fix files to use fractional

[2020-11-04 14:17] JessicaMeixner-NOAA opened #172 "update feature/coupled-crow for consistency w/model regtests"
Making these updates will help when adding new features from model upgrades to the workflow as most updates to the workflow can be mimicked by following a regression test of the model.  The following are a few major recent items that should be updated:

* Updating the name of the nems.configure for consistent naming of coupler restarts from CMEPS (See: https://github.com/ufs-community/ufs-weather-

[2020-11-04 16:25] JessicaMeixner-NOAA commented on #161
@RobertoPadilla-NOAA replicated the issue on hera, but also has not found a fix yet.  @RobertoPadilla-NOAA is working on moving the output to WCOSS to see if that helps.

[2020-11-05 15:37] JessicaMeixner-NOAA commented on #169
hpc-stack wiki: https://github.com/NOAA-EMC/hpc-stack/wiki

[2020-11-05 19:58] JessicaMeixner-NOAA commented on #172
First step of pointing to new ufs-weather-model instead of ufs-s2s-model has been completed in my fork/branch here:
https://github.com/JessicaMeixner-NOAA/global-workflow/tree/feature/updatesforconsistency

[2020-11-06 01:42] JessicaMeixner-NOAA commented on #171
@shansun6 For fix files, I copied the oro data from the regression test baseline area here:
/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/develop-20201103/INTEL/FV3_input_frac
and renamed files and am currently staging it here:
/scratch2/NCEPDEV/climate/Jessica.Meixner/P6updates/fix_UFSp6/fix_fv3_fracoro:

C192.mx050_frac:
C192.mx050_tile1.nc  C192.mx050_tile2.nc  C192.mx050_tile3.nc  C192.mx0

[2020-11-06 02:16] ShanSunNOAA commented on #171
To run fractional grid, there are two lines of changes needed in the regression test:

export FRAC_GRID='.T.'
export CPLMODE="nems_frac"

unless one makes CPLMODE depend on frac_grid value:

if (frac_grid) then
  export CPLMODE="nems_frac"
else
  export CPLMODE='nems_orig'
end if

As for the fixed data, there are options how to assign value to slmsk (which is designed for non-fractional grid) at f

[2020-11-06 04:14] jiandewang commented on #169
modify modulefile.reg2grb2.orion, passed compiling, making testing run now

[2020-11-06 04:26] WalterKolczynski-NOAA opened #175 "Port feature/coupled-crow to WCOSS-Dell"
The workflow needs to be ported to all the WCOSS machines. Might just need new modulefiles and an updated linker.

[2020-11-06 07:07] ShanSunNOAA commented on #171
Hi Jessica,

I have checked your oro data: they are correct, and these are the 5 sets that we decided upon.

Could you hold on the ICs on hpss, until I check them? Thanks,

Shan

[2020-11-06 11:24] SMoorthi-emc commented on #171
Shan,
   I have been operating with the assumption that land dominates; i.e.
slmsk=1, if landfrc >0.
In any case, this is not a good situation.
Moorthi

On Thu, Nov 5, 2020 at 9:16 PM shansun6 <notifications@github.com> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 Uni

[2020-11-06 13:39] KateFriedman-NOAA opened #176 "Update or remove driver scripts"
Review scripts under /driver and update or remove them accordingly ahead of the GFSv17+ development round.

[2020-11-06 13:54] KateFriedman-NOAA opened #177 "Optimize resources for all resolutions on supported platforms"
Test the following resolutions on WCOSS, Hera, and Orion to better define resource settings:

- C768
- C384
- C192
- C96
- C48

Special attention needs to be paid to lower resolutions for the fcst model; the atmospheric and wave parts are unbalanced.

[2020-11-06 13:55] KateFriedman-NOAA opened #178 "Update free-forecast mode with UFS_UTILS/chgres_cube integration and resolve know mode bugs"
Updates in this issue will do the following:
- resolve existing free-forecast mode bugs
- integrate free-forecast mode with chgres_cube gdas_init utility in UFS_UTILS
- produce free-forecast ICs from v16 retrospective parallels or operational output for GFS versions 12, 13, 14, 15, and 16

The following changes are incoming with this work:

- New:
  - add MODE variable (either "free" or "cycled")

[2020-11-06 14:02] KateFriedman-NOAA opened #179 "Test Fit2Obs on Orion and update installs everywhere to new tag"
Have "newmaster" version of Fit2Obs from Jack Woollen. Tagged as newm.1.1.

- [x] Test and send updates back to Jack
- [x] Update config.vrfy for newm1.1 tag
- [x] Install newm.1.1 tag on WCOSS-Dell (Mars/Venus), Hera, and Orion
- [x] Install newm.1.2 tag on WCOSS-Dell (Mars/Venus), Hera, and Orion
- [x] Update config.vrfy for newm1.2 tag

[2020-11-06 14:53] JessicaMeixner-NOAA commented on #171
@shansun6 I'll hold off on the ICs until you give me the okay.

[2020-11-06 15:30] ShanSunNOAA commented on #171
Hi Moorthi,

I agree with you that in any case, an integer value of slmsk
over fractional grids would have to sacrifice to some extent. When land
dominates, the atmosphere, if using slmsk, won't know any water or ice
exists at this grid point. If you think this is the best overall, I am ok
with it. I am writing the code that is flexible to handle whoever
dominates, i.e.,

         if(Model%frac_gr

[2020-11-06 15:38] SMoorthi-emc commented on #171
Hi Shan,
  I am not going to make any more comment except to wonder if there is even
a need for slmsk because when landfrac, lakefrac and oceanfrac and icefrac
already exist and uniquely define the surface conditions of the grid.
Moorthi

On Fri, Nov 6, 2020 at 10:30 AM shansun6 <notifications@github.com> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch

[2020-11-06 16:21] ShanSunNOAA commented on #171
Thanks Moorthi for your comments. It would be good to retire 'slmsk'
eventually. Before that I try not to break any existing 'slmsk'.

Shan

On Fri, Nov 6, 2020 at 8:39 AM SMoorthi-emc <notifications@github.com>
wrote:

[2020-11-06 17:55] #5 closed, assigned to KateFriedman-NOAA

[2020-11-06 18:37] ShanSunNOAA commented on #171
Jessica,

ICs for L64 on HPSS: /ESRL/BMC/fim/5year/Shan.Sun/FV3IC384L64_CFS_frac/ are
ready to use. I have added the metadata for slmsk "slmsk=2 at icy points,
otherwise slmsk=floor(land_frac)". The first 8 cases are there. The rest is
coming. All 168 should be there today. Let me know if you have any
questions.

Shan

On Fri, Nov 6, 2020 at 9:21 AM Shan Sun - NOAA Federal <shan.sun@noaa.gov>
wrot

[2020-11-06 18:39] JessicaMeixner-NOAA commented on #171
Thanks @shansun6 !

[2020-11-06 20:58] JessicaMeixner-NOAA commented on #161
@RobertoPadilla-NOAA  I made a PR (https://github.com/NOAA-EMC/global-workflow/pull/180) with the updates from the branch https://github.com/JessicaMeixner-NOAA/global-workflow/tree/feature/p5ww3post once it goes through we can use the feature/coupled-crow instead of my branch to continue to debug this issue.  Note that while this PR fixes some issues it does NOT fix the grib2 issue which remains

[2020-11-09 16:00] pjpegion commented on #168
I have the modifications and a case file to run C96-1-deg ocn/ice that i will add into the workflow. It will require some additions to certain fix directories, and staging of the initial conditions.  I have already interpolated the ocean and ice ICS to 1-degree for all of the prototype dates, and will have to fill out the atmosphere dates.
I have two issues that I am not sure how to deal with:
1st

[2020-11-09 20:33] KateFriedman-NOAA opened #181 "Fix C768 npe_eupd value for WCOSS-Dell in config.resources"
Recent commit to develop branch included updates for the eupd job on Hera/Orion but the WCOSS-Dell value got removed erroneously. Need to update config.resources to add WCOSS-Dell npe_eupd value used by EMC parallel back in:

export npe_eupd=480

(value may be too high but is known to work, further resource optimization to be done still!)

[2020-11-09 20:41] KateFriedman-NOAA commented on #181
Nevermind...value is there but too big. Will reduce in future update for resource optimization. Closing this for now.

[2020-11-09 20:41] #181 closed, assigned to KateFriedman-NOAA

[2020-11-10 16:07] JessicaMeixner-NOAA commented on #172
After https://github.com/ufs-community/ufs-weather-model/pull/270
need to update ice_in file in the same way when updating the model.

Also, after https://github.com/NCAR/ccpp-physics/pull/514   namelist options iovrsw and iovrlw will be replaced by a single iovr option

[2020-11-12 14:25] KateFriedman-NOAA opened #183 "Rewrite ush/getdump.sh to be flexible"
Currently the ush/getdump.sh script does a broad sweep of files in the regular global dump archive (GDA) to pull in dump files for the GFS prep job. Recent GFSv16 testing revealed the need to make this script flexible so a user can define an experimental version of a dump file and have getdump.sh pick it up instead of the default non-experimental production dump file.

Allow getdump.sh to accept a

[2020-11-16 03:47] yangfanglin opened #187 "make global workflow work for forecasts with both IPD and CCPP physics options"
A new branch https://github.com/NOAA-EMC/global-workflow/tree/v16ccpp was forked from the latest workflow develop branch.  It was updated to allow the model to be run with either the IPD or CCPP physics.  Logic variable RUN_CCPP was added to config.base to make the switch.    Using "checkout.sh -c" will check out the ufs-weather-model "develop" branch.   Without the "-c" option the GFS.v16 IPD ver

[2020-11-16 19:48] jiandewang commented on #169
modify modulefile.reg2grb2.hera, test run successfully

[2020-11-17 19:30] yangfanglin commented on #187
features described therein have been merged to the develop branch. Close this issue.

[2020-11-17 19:30] #187 closed, assigned to yangfanglin

[2020-11-18 04:47] yangfanglin opened #189 "need to update checkout.sh to use the latest model hash"
See https://github.com/ufs-community/ufs-weather-model/pull/274  for the latest model updates. It uses an updated UPP lib that has a correction of CAPE computation.

 checkout.sh needs to be updated to check out model hash b771e5be7e35eaea5ee7f762d644afccab019ed3

[2020-11-18 16:19] yangfanglin commented on #189
Kate,  I have run  a forecast-only case with the new hash on HERA last night.  Are more tests needed ?
I can update check.sh and  commit to "develop" without any more testing if you feel comfortable with this approach.
Otherwise I will let you assign this task to someone to run more tests.

[2020-11-18 16:27] KateFriedman-NOAA commented on #189
@yangfanglin Given this introduces a correction and is confined to just the fcst jobs I am ok with this going into develop without additional tests. My only concern would be the updated code running through the efcs jobs but I don't anticipate issues there.

Please submit a PR with the change to develop and I'll submit it when I see the notification come through. I have GitHub alerts turned on on

[2020-11-18 16:33] JessicaMeixner-NOAA opened #190 "Using inline atm post in feature/coupled-crow"
Merge develop branch into feature/coupled-crow to allow next prototype to use GFSv16 updates including inline post.

[2020-11-18 16:36] JessicaMeixner-NOAA commented on #190
Merging develop into this branch should also restructure the atm com directory. This PR: https://github.com/NOAA-EMC/global-workflow/pull/180 which is in feature/coupled-crow now should be helpful as it restructured the wave com directory.

@JianKuang-NOAA  I didn't see another issue, so I made this one.

[2020-11-18 16:38] jkuang-exploro commented on #190
Thanks. feature/gfsv16intocoupledcrow is the branch that I am working with.

[2020-11-18 16:39] JessicaMeixner-NOAA opened #191 "Update ocn/ice com restructure"
At some point the ocean and ice com directories should be restructured to follow the NCO structure:

<COM>/atmos
<COM>/wave
<COM>/chem

etc.

One trick with this will be that the resulting grib files for ocean and ice are actually combined.  So I'm not sure how that should be handled.  Otherwise, it should be pretty straight froward.

[2020-11-18 20:24] jkuang-exploro commented on #190
I have deleted the branch and restarted from feature/coupled-crow.

[2020-11-18 20:26] JessicaMeixner-NOAA commented on #164
@arunchawla-NOAA for the wave_prep for GFSv16, we need CDO, do we request this to be added to hpc-stack?  For feature/coupled-crow, the ocean/ice post uses ncl.  Should this also be requested to be added to hpc-stack?

[2020-11-18 20:59] aerorahul commented on #164
@JessicaMeixner-NOAA cdo is a very useful tool and we should add it to hpc-stack.  It depends on how many bells and whistles we need to add or use.  For e.g. grib handling is done via grib_api from eccodes.

[2020-11-18 21:11] JessicaMeixner-NOAA commented on #164
Made an hpc-stack issue for CDO: https://github.com/NOAA-EMC/hpc-stack/issues/82

But I guess the question remains, do all modules used in global-workflow need to be added to hpc-stack?

[2020-11-18 21:19] arunchawla-NOAA commented on #164
Yes, everything should use hpc-stack. We want this to be our way to make the environment equivalent across different platforms. CDO is available as third party libraries on WCOSS. We should add it to hpc-stack.

[2020-11-20 14:36] jkuang-exploro commented on #190
@JessicaMeixner-NOAA I finished the script update. Now working on namelists update. I would like to mention that the ROTDIR structure of feature/coupled-crow (especially, IC) is still not compatible with gfsv16 (ie, they have one extra level named /atmos/; a parallel top-level dir called gfswave.YYYYMMDD). So as a result, after this prospective PR, feature/coupled-crow will be able to include phys

[2020-11-20 14:41] JessicaMeixner-NOAA commented on #190
@JianKuang-NOAA we do need to update to the v16 directory structure for COMROT with the /atmos /wave etc structure as this is the agreed upon structure with NCO.  The PR #180  which is already in feature/coupled crow, changed the gfswave.YYYYMMDD to gfs.YYYYMMDD/cc/wave/ structure and we should keep that.   In merging in the develop branch, this should also change the atmosphere to follow the /atm

[2020-11-20 14:44] jkuang-exploro commented on #190
@JessicaMeixner-NOAA OK I agree that's the optimal path forward. Only that all case IC files would need to be updated correspondingly, before I can test running this PR. May I know how could we, the coupling team, facilitate this transition?

[2020-11-20 14:52] JessicaMeixner-NOAA commented on #190
I can help make that update @JianKuang-NOAA  just point me to which branch you have the merge in and I can update the IC script for you.

[2020-11-20 14:59] jkuang-exploro commented on #190
@JessicaMeixner-NOAA It's feature/gfsv16intocoupled. Is it the case that only the coupled_ic.sh needs to be updated? If that's true then I will do it. As long as the central-managed IC data doesn't need to be updated.

[2020-11-20 15:09] JessicaMeixner-NOAA commented on #190
@JianKuang-NOAA  it would be awesome if you could update it.

I think just this line:
https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/jobs/rocoto/coupled_ic.sh#L54
needs to be changed
cp -r $ORIGIN_ROOT/$CPL_ATMIC/$CDATE/$CDUMP  $ICSDIR/$CDATE/
to
cp -r $ORIGIN_ROOT/$CPL_ATMIC/$CDATE/$CDUMP  $ICSDIR/$CDATE/atmos/

[2020-11-20 15:42] jkuang-exploro commented on #190
OK. I thought the same. Will do.

[2020-11-21 18:30] yangfanglin opened #193 "activate RRTMGp radiation in workflow"
workflow needs to be updated to activate RRTMGp radiation, which has been added to CCPP physics repository.  A new branch https://github.com/yangfanglin/global-workflow/tree/feature/rrtmgp has been created for this project.

[2020-11-22 04:57] yangfanglin commented on #193
copied the following rrtmgp fix fields from Qingfu's working directory to HERA:/scratch1/NCEPDEV/global/glopara/fix/fix_am. They need to be copied to other EMC supported computing platforms as well.

-rw-r--r-- 1 glopara global    32212 Nov 18 13:31 rrtmgp-cloud-optics-coeffs-lw.nc
-rw-r--r-- 1 glopara global    28888 Nov 18 13:31 rrtmgp-cloud-optics-coeffs-sw.nc
-rw-r--r-- 1 glopara global 325314

[2020-11-22 06:16] yangfanglin commented on #193
Robert and Dustin:

I'd like to get your help with a couple of questions about rrtmgp namelist parameters defined in GFS_layer//GFS_typedefs.F90

1.   !< Directory of rte+rrtmgp source code      
character(len=128)   :: rrtmgp_root     = ''                
Why is this necessary ?  If not provided, will the model crash ?  Uses often copy executables to different places to run tests. Source code loc

[2020-11-23 03:35] RobertPincus commented on #193
@dustinswales I'm not following this entirely; does the UFS code expect RRTMGP-related files in specific directories? That would be worth relaxing for sure.

[2020-11-23 04:04] ligiabernardet commented on #193
@yangfanglin A sample ofUFS Weather Model with RRTMGP can be found in this reg test: https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/tests/fv3_ccpp_gfs_v16beta_RRTMGP. So, there is an example of a configuration that works (outside of the workflow). Perhaps Qingfu can first try to reproduce this run outside of the workflow, and then rerun it with the workflow.

[2020-11-23 04:52] junwang-noaa commented on #193
@yangfanglin <https://github.com/yangfanglin> the  rrtmgp_root can be empty
when the distribution and coefficient files are in the run directory, model
won't crash. .

On Sun, Nov 22, 2020 at 11:05 PM ligiabernardet <notifications@github.com>
wrote:

[2020-11-23 16:22] dustinswales commented on #193
@RobertPincus @yangfanglin
I must admit that I'm not familiar with the UFS workflow. For the GP CCPP improvements I just followed what was done in the SCM and subsequently the UFS.
In the namelist there is the option to define where these files are located, `rrtmgp_root`. Default is that the files are in the run-directory, which is the case for UFS, but not the SCM.

[2020-11-23 17:16] dustinswales commented on #193
@yangfanglin
In response to your offline question regarding running UFS with RRTMGP.
Yes we have run UFS with RRTMGP.

Here are PDF's of flux differences (G-GP) using the v16beta SDF, after the first time step:
![flux_hist gfs_v16beta](https://user-images.githubusercontent.com/13949033/99993582-19128600-2d75-11eb-8840-717bd9215328.png)

The clear-sky fluxes are nearly identical, but of course ther

[2020-11-23 17:35] yangfanglin commented on #193
@dustinswales

Thank you for confirming your 3D test is working.  I'd assume you used the regression test script.  We may need to compare files in the running directories between RT and workflow runs, and also try the forecast executable you used.

As for my questions about setting defaults for namelist parameters rrtmgp_root and lw_file_gas  etc,  your current code is working fine.  There is no n

[2020-11-25 19:27] JoshuaFu-NOAA opened #195 "Using crontab to run coupled model"

[2020-11-25 19:29] JoshuaFu-NOAA opened #196 "Enable different coupled options (NSST on/off) and output frequencies in coupled models"

[2020-11-27 20:44] yangfanglin opened #197 "bring NCO's updates back to branch release/gfsv16.0.0"
NCO's SPA  has made numerous local  changes to release/gfsv16.0.0 installed at /gpfs/dell1/nco/ops/nwpara/gfs.v16.0.1.  EMC and NCO worked together to confirm  the changes  and planed to bring them back to release/gfsv16.0.0 and its associated repos.   Details of the changes are documented in
https://docs.google.com/document/d/1hPMKOQeqaHlBHusCsPLhyz8FYo-dQ64YuwosOvLocY4/edit
https://docs.google.c

[2020-11-27 21:18] yangfanglin commented on #197
A test showed that jobid is not defined in  JGLOBAL_FORECAST running in the Rocoto environment.   jobid is defined in ./env files.  Defining DATA without sourcing ./env/$nachine.env caused the the script to fail.

[2020-11-30 16:18] KateFriedman-NOAA opened #198 "Convert $CDATE to $PDY$cyc"
NCO uses $PDY and $cyc to define the cycle date, whereas EMC mainly uses $CDATE and then $PDY and $cyc are cut from $CDATE for use in the system ($CDATE=$PDY$cyc). Consider replacing "$CDATE" with "$PDY$cyc" to be more consistent with NCO paradigm.

This came out of an email with NCO during the GFSv16 install process.

[2020-11-30 20:29] AnningCheng-NOAA opened #200 "MERRA2 aerosol options for UFS and the coupled model"
add  0.5  degree by 0.625 degree by 72 level ten-year MERRA2 aerosol climatological data as an option to replace the 5 degree by 5 degree OPAC aerosol data to drive radiation and microphysics. Initial tests have been performed using CCPP SCM. One year C768L127 free forecast run is being performed in DELL, HERA, and Orion, respectively.

[2020-12-01 20:48] XianwuXue-NOAA opened #2970 "[NCO Bug] Remove misleading "No such file or directory" error message"
It is from BugZilla [Item 1016](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1016).

Remove misleading "No such file or directory" error message in job gefs_foercast, gefs_atmos_prdgen_gfs and gefs_wave_prep's output

There are misleading "No such file or directory" messages in following jobs' standard outputs.

gefs_atmos_prdgen_gfs_00.o37433087:rm: cannot remove 'exlist': No such file

[2020-12-02 16:06] CatherineThomas-NOAA opened #201 "PGBANL file not created on Hera using develop (as of Nov 17 2020)"
When running a low resolution (C384/C192/L127) parallel with the v16 configuration on Hera (develop as of Nov 17, 2020), it was found that the pgbanl files are all of zero size, but the pgb files for other forecast times are fine:

`/scratch2/NCEPDEV/stmp1/Catherine.Thomas/ROTDIRS/dropout_metopc_rerun/gdas.20200603/12/atmos`
`-rw-r--r-- 1 Catherine.Thomas stmp         0 Nov 28 23:26 gdas.t12z.pgrb

[2020-12-02 16:17] CatherineThomas-NOAA opened #202 "GLDAS failure on Hera with develop (as of Nov 17, 2020)"
I ran a low resolution (C384/C192/L127) v16 parallel on Hera.  After 84 hours of spin up, the gldas step runs for the first time and fails.  The error in the log file is this:
`sh: /gpfs/dell1/nco/ops/nwprod/prod_util.v1.1.4/ush/finddate.sh: No such file or directory`

This is a Dell path, but I am running on Hera.  Looking at scripts/exgdas_atmos_gldas.sh, Line 23:
`export FINDDATE=${FINDDATE:-/g

[2020-12-02 16:31] RussTreadon-NOAA commented on #201
The post000 job executes the UPP executable ncep_post.   Other post jobs do not execute ncep_post.  The model runs the inline post for forecast model output.

The workflow loads module_base.hera when it executes post000.   This module loads

Module v8.0.0-hera is loaded when UPP executable is built.  This module loads

Differences in the modules used to build and run the UPP executable may be the

[2020-12-02 16:32] yangfanglin commented on #202
Cathy,

I see what is going on now.

In the latest version of exgdas_atmos_gldas.sh, the definition of FINDDATE

export
FINDDATE=${FINDDATE:-/gpfs/dell1/nco/ops/nwprod/prod_util.v1.1.4/ush/finddate.sh}

should be changed to
export FINDDATE=${FINDDATE:-$HOMEgfs/util/ush/finddate.sh}

For the time being, on HERA you can set
 export FINDDATE=$HOMEgfs/util/ush/finddate.sh

in your config.gldas

On Wed

[2020-12-02 16:46] RussTreadon-NOAA commented on #201
Indeed, /scratch1/NCEPDEV/nems/emc.nemspara/soft/netcdf_parallel_release/lib/ does not contain libnetcdf.so.15.  It only contains

In contrast, /scratch2/NCEPDEV/nwprod/NCEPLIBS/src/netcdf_parallel2/lib/ contains

[2020-12-02 17:14] CatherineThomas-NOAA commented on #202
Thanks, Fanglin.  I'll add that line to my config.

[2020-12-02 17:50] CatherineThomas-NOAA commented on #201
Thanks, Russ.  I am rerunning a gdaspost000 job with:
`module use -a /scratch2/NCEPDEV/nwprod/NCEPLIBS/modulefiles`
`module load hdf5_parallel/1.10.6`
`module load netcdf_parallel/4.7.4`

added to my module_base.hera file to see if the post analysis file is successfully created.  I'm not necessarily advocating for this change to be added in this manner since I do not know what the impact on other

[2020-12-02 18:24] KateFriedman-NOAA commented on #193
-rw-r--r-- 1 glopara global 32212 Nov 18 13:31 rrtmgp-cloud-optics-coeffs-lw.nc
-rw-r--r-- 1 glopara global 28888 Nov 18 13:31 rrtmgp-cloud-optics-coeffs-sw.nc
-rw-r--r-- 1 glopara global 32531496 Nov 18 13:31 rrtmgp-data-lw-g256-2018-12-04.nc
-rw-r--r-- 1 glopara global 15001445 Nov 18 13:31 rrtmgp-data-sw-g224-2018-12-04.nc

I have now distributed these four new rrtmgp fix files to the $FIX_DIRs

[2020-12-03 15:37] RussTreadon-NOAA commented on #201
Did the gdaspost000 job successfully create a pgbanl file when running the job with the modules used to build the UPP executable?    I agree that this is not a solution.  It's simply a test.   It's my understanding that we are moving to hpc-stack to build and run workflow executables.   This will ensure consistency between compilation and execution.

[2020-12-03 16:11] CatherineThomas-NOAA commented on #201
There is a problem with the module loading when switching out netcdf.  The version of esmf that is loaded is not compatible with the added version of netcdf:

How close are we to using hpc-stack?  Is it feasible to wait until then or do we need a short term fix?

[2020-12-03 16:20] RussTreadon-NOAA commented on #201
ESMF is not used to build the UPP executable.   You could try unloading esmf prior to loading the UPP netcdf module.   Yes, this is very kludgy ... but we can't run vrfy as we normally do without the pgbanl file.

[2020-12-03 17:56] CatherineThomas-NOAA commented on #201
I restored the original version of module_base.hera and instead made the module changes directly in post.sh:

I am rerunning the gdaspost000 job.  I expect it will not run until tomorrow since Hera is exceedingly slow the past two weeks (the last test sat in the queue for 14 hours).

[2020-12-03 20:53] RussTreadon-NOAA commented on #201
I copied your EXPDIR, HOMEgfs, and ROTDIRS to my directories.   I added

to $HOMEgfs/jobs/rocoto/post.sh prior to loading hdf5_parallel/1.10.6 and netcdf_parallel/4.7.4.   The queue was changed to queue to debug and the post wall time reduced to 30 minutes in the xml file.   The 2020060212 gdaspost00 was submitted.   It ran to completion.   Non-zero length pgrb*anl* files were created in /scratch2

[2020-12-03 23:45] CatherineThomas-NOAA commented on #201
Thanks, Russ.  I've added that extra line to my post.sh.

I am rerunning the other post jobs overnight just to make sure that there aren't any unintended consequences for the the non analysis files.  I have saved the original files for comparison.

[2020-12-04 16:15] CatherineThomas-NOAA commented on #201
The other post jobs for both the gdas and gfs cycles reproduce the original pgrb files with the other modules loaded.

I will include this code change in our common build for the GFSv16.1 tests on Hera.

[2020-12-04 16:33] RussTreadon-NOAA commented on #201
I understand the necessity of this hack but maintaining a separate workflow for DA GFSv16.1 parallels on Hera is not desirable.

[2020-12-04 17:02] CatherineThomas-NOAA commented on #201
Here are some options that I can think of:

1.  Maintain local code changes while we wait for hpc-stack.  Do you know how far out these changes are from being used in the global-workflow?  I have no sense of it.  If it's on the order of months, it's likely too long to wait.
2.  Commit the code changes under a Hera-only IF block.  We will need to remember to remove this later.
3.  Have libnetcdf.so

[2020-12-04 17:17] RussTreadon-NOAA commented on #201
global-workflow issue #164 is tracking the workflow transition to hpc-stack.   A target completion date is not indicated.    It's not clear that hpc-stack will solve the problem documented in this issue.  It should, but this needs to be demonstrated.

NOAA-EMC/GSI issue [#79](https://github.com/NOAA-EMC/GSI/issues/79) is tracking DA updates to use hpc-stack on Hera.   We can ask Mike for an update

[2020-12-04 19:34] CatherineThomas-NOAA commented on #201
There was another issue with GLDAS that has likely been resolved, but it's still being tested.  That fix is less hack-y and will require a commit to the workflow.

The biggest issue right now with Hera is throughput.  We are only getting a cycle a day for the dropout runs.  I'm starting to explore the viability of using Orion instead for the v16.1 runs.  It would be good if we can start these expe

[2020-12-04 19:52] KateFriedman-NOAA commented on #201
@CatherineThomas-NOAA Since post.sh is used on all machines let's move those module commands into env/HERA.env? There is a "post" section where they can go. That should limit the hack to just Hera. Please run a few post jobs with them in the env file to confirm that works. Did the non-post000 post jobs run ok with those modules switched?

Assuming it works with the HERA.env and the other post jobs

[2020-12-05 00:11] CatherineThomas-NOAA commented on #201
@KateFriedman-NOAA I mentioned this earlier in the thread but should have included in the code snippet itself that it would be in a Hera IF block so it wouldn't get triggered on other machines.  But HERA.env is likely cleaner.

I tried adding those lines to HERA.env but it didn't work:

I added this line above the module lines in HERA.env, which allowed the module commands to be used:

I'm not sur

[2020-12-07 11:58] RussTreadon-NOAA commented on #201
The following has been done on Hera

- check out Mike's feature/hpc-stack-update branch
- build global_gsi.x and other DA executables
- run resulting global_gsi.x with hpc-stack using stand-alone rungsi script

The GSI run failed because the Hera hpc-stack does not define CRTM_FIX.  Mike will follow up with the library team to have CRTM_FIX added to hpc-stack.

Rerun stand-alone rungsi script with

[2020-12-08 15:59] KateFriedman-NOAA commented on #201
That jives with something similar I had to do with a prep job hack this year so thanks for testing and confirming that.

So at runtime the following is sourced to define modules:

`source "$HOMEgfs/modulefiles/module-setup.sh.inc"`

That determines which shell is being used and then runs that same source as you listed but with the appropriate shell (if not ksh):

`source /apps/lmod/lmod/init/$__ms

[2020-12-08 16:13] #169 closed, assigned to jiandewang

[2020-12-08 18:34] KateFriedman-NOAA commented on #202
@CatherineThomas-NOAA Did that adjustment from Fanglin work? If so, can you roll that into the PR you're submitting for the post000 fix? Thanks!

[2020-12-08 22:09] CatherineThomas-NOAA commented on #202
@KateFriedman-NOAA Yes, I was able to test it.  I didn't have my old ROTDIR anymore, but I was able to recreate what I needed from HPSS.  The gdasgldas job ran to completion.  I unfortunately do not know enough about the gldas job to check the files themselves, I can only see that they were created.

I tested this on Hera, but the way it is written it could impact other machines as well.  I can se

[2020-12-08 22:38] yangfanglin commented on #202
Cathy,

Adding the following line to config.gldas should work on all platforms.  I
don't think you need to test it again on Dell.
 export FINDDATE=$HOMEgfs/util/ush/finddate.sh

On Tue, Dec 8, 2020 at 5:09 PM CatherineThomas-NOAA <
notifications@github.com> wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling C

[2020-12-09 15:47] arunchawla-NOAA commented on #168
@BrianCurtis-NOAA and @pjpegion what is the status of this?

[2020-12-09 15:57] BrianCurtis-NOAA commented on #168
I've been looking through the code understanding where the PyYAML calls the python and how the process goes from start to finish with the CROW components. It may help me to sit down with someone more familiar with the workings and have a more interactive discussion.

[2020-12-09 16:34] JessicaMeixner-NOAA commented on #170
There are built w/hpc-stack see module files: https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/modulefiles/modulefile.ww3.hera and https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/modulefiles/modulefile.ww3.orion the extra WW3 module files can be removed when the base module files are using hpc-stack

[2020-12-09 16:34] #170 closed, assigned to JessicaMeixner-NOAA

[2020-12-09 16:43] pjpegion commented on #168
no one responded to my issues/questions

[2020-12-09 16:49] CatherineThomas-NOAA commented on #201
@KateFriedman-NOAA
I added those lines to env/HERA.env and it did not work:

I did some digging and found that "module-setup.sh.inc" contains a "module purge" in it, wiping out the module_base.hera modules.  When I comment out this module purge, everything works, but this is obviously undesirable.

I tried to add:
`source /apps/lmod/lmod/init/$__ms_shell`

directly to the JGLOBAL script, but the $

[2020-12-09 20:15] KateFriedman-NOAA opened #208 "Wrong default permissions on jobs/rocoto/postsnd.sh script in new clones of develop"
Users are reporting failing gfspostsnd jobs. In all cases reported the jobs/rocoto/postsnd.sh script did not have execute permissions on it. A fresh clone of develop on Hera shows the problem:

[code]

Fix permissions to set executing "x" for that script.

[2020-12-10 11:46] RussTreadon-NOAA commented on #208
This problem also exists in release/gfs.v16.0.0.

 jobs/rocoto/postsnd.sh has file permissions **-rw-r--r--**.

[2020-12-10 14:27] JessicaMeixner-NOAA commented on #172
All updates for this are in: https://github.com/JessicaMeixner-NOAA/global-workflow/tree/coupled/consistencyupdates (or already in feature/coupled-crow).  Making a test run on orion and then will create PR.

[2020-12-10 14:38] KateFriedman-NOAA commented on #208
Corrected in release/gfsv16.0.0 at 7c7482d.

[2020-12-10 14:41] RussTreadon-NOAA commented on #208
Thanks, Kate.   We now have

.../noscrub/emc.glopara/git/global-workflow/release_gfsv16> ls -l

Russ

On Thu, Dec 10, 2020 at 9:39 AM Kate Friedman <notifications@github.com>
wrote:

[2020-12-10 15:14] JessicaMeixner-NOAA opened #209 "feature/coupled-crow: add resources for wave post jobs"
The wave post jobs wavepost and wavepostpnt should have their own resource settings.  Right now they are just using
      resources: !calc partition.resources.run_fv3ic

When looking into the file workflow/defaults/default_resources.yaml
`# !!! Model developers should NOT changing these !!!
`
so it's unclear to me if this should be changed by a CROW expert (such as @JianKuang-NOAA) or if it's okay

[2020-12-10 15:22] jkuang-exploro commented on #209
You should be able to add them to default_resources.yaml, if you want these resource settings to be individually configured.

Just copy/paste and modify run_fv3ic

[2020-12-10 15:23] KateFriedman-NOAA commented on #201
@CatherineThomas-NOAA Gotcha, thanks for testing that! I am setting up a hotfix branch today to merge a few things together for commit so I'll test this on Hera some more to find a decent solution.

[2020-12-10 15:39] JessicaMeixner-NOAA commented on #209
@JianKuang-NOAA  thanks I'll add these myself then

[2020-12-10 15:54] KateFriedman-NOAA commented on #201
Created branch "hotfixes" for this work and issues #202 and #208.

[2020-12-10 17:01] KateFriedman-NOAA commented on #1
Tagged new hand-off version: [EMC-v16.0.2](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.0.2)

[2020-12-11 14:31] AndrewEichmann-NOAA opened #211 "EFSOI implementation in global-workflow"
This issue is to track the implementation of EFSOI in global-workflow.

With the opening of the issue, it will pick up documentation of the development from Redmine task  https://vlab.ncep.noaa.gov/redmine/issues/55974

Development is in https://github.com/AndrewEichmann-NOAA/global-workflow under feature/EFSOI

[2020-12-11 14:53] AndrewEichmann-NOAA commented on #211
For background, EFSOI runs a parallel GDAS task workflow starting with gdaseupd, called gdaseupdfsoi, followed by gdasecenfsoi, gdasesfcfsoi, gdasefmnfsoi, gdasepmnfsoi, and gdasefsoi (which is specific to EFSOI). All except gdasefsoi are largely the same as the regular gdas tasks, with the following exceptions:

- gdaseupdfsoi runs with the fsoi flag on so that it outputs the osense file and unin

[2020-12-11 15:07] AndrewEichmann-NOAA commented on #211
At present, the EFSOI tasks have been run through gdasesfcfsoi, and is currently stuck on gdasefmnfsoi (the forecast). The latest resolved issue involved files necessary for a warm start not being available - since the EFSOI ensemble runs in its own tree (efsoigdas.YYYYMMDD) and is running there for its first cycle in the experiment (unlike the regular enkfgdas), there was no previous cycle to war

[2020-12-11 16:06] AndrewEichmann-NOAA commented on #211
Current issue, as emailed to Kate:

For the EFSOI implementation I'm trying to get an ensemble forecast with a set of initial conditions different from the regular GDAS. To do this I'm running in a separate directory tree (efsoigdas instead of enkfgdas). I'm stuck at getting the model to run - it gets to the executable and then stops seemingly without a message:

gfs.x /scratch1/NCEPDEV/stmp2/Andr

[2020-12-11 17:15] KateFriedman-NOAA commented on #211
So since the error message is lovely and vague I compared the logs to look for a difference (I suspected resource issue based on the error). I found that $NTASKS_FV3 wasn't set in the failed efsoi job:

`0.016 + NTASKS_FV3=''`

...which led to PE_MEMBER01 also being empty in model_configure:

[code]

The setting of NTASKS_FV3 happens in exglobal_efsoi_forecast.sh (just like in exglobal_forecast.sh

[2020-12-12 20:50] AndrewEichmann-NOAA commented on #211
This worked! Revealing once again the problem with proliferating config files.

[2020-12-12 20:54] AndrewEichmann-NOAA commented on #211
Encountered another issue with the regular epos failing, it turning out because ensemble members 11-20 had no forecasts. This was traced back to the problem, previously enountered, with using NMEM_ENS=20 with export NMEM_EFCSGRP=2. Only five tasks of two members each get run. Solved by setting export NMEM_EFCSGRP=4 in config.efcsfsoi. Need to rig some way not get bit by this.

[2020-12-12 21:00] AndrewEichmann-NOAA commented on #211
eposfsoi failing early due to $npe_node_eposfsoi apparently not being defined, as discovered in env/HERA.env. Set to $npe_node_epos, as it probably doesn't need to be different. Will have to review all EFSOI-specific environment settings to see if redundant.

[2020-12-14 16:34] JessicaMeixner-NOAA opened #212 "feature/coupled-crow atm post on orion has empty files"
On hera the top of the workflow is running fine but on orion the  commit c9c240531ef9292cb09b6b123f5bdf5263607c09 produces zero atm post files.  This is likely a module issue.

[2020-12-14 19:04] JessicaMeixner-NOAA commented on #164
@HuiyaChuang-NOAA @WenMeng-NOAA  is there a version of EMC_post that uses hpc-stack?

[2020-12-14 19:49] WenMeng-NOAA commented on #164
@JessicaMeixner-NOAA Not yet.  I have been working with NCEPLIBS team for testing UPP with hpc-stack. From the last update, I have been waiting for CRTM_FIX defined in the crtm module at hpc-stack.

[2020-12-14 19:55] RussTreadon-NOAA commented on #164
The GSI is waiting for the same addition to hpc-stack.   Non-stack crtm
modules define CRTM_FIX.   CRTM_FIX is the path to the directory containing
the coefficient files required to run the CRTM.

On Mon, Dec 14, 2020 at 2:49 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-12-14 19:57] aerorahul commented on #164
@WenMeng-NOAA @RussTreadon-NOAA
It is unlikely hpc-stack will add a `CRTM_FIX` in the modulefile for CRTM because the fix files are not part of the EMC_CRTM repository.

You should define this variable in your application modulefile for the appropriate machine.
E.g. for UPP in [lib-orion](https://github.com/NOAA-EMC/EMC_post/blob/develop/modulefiles/upp/lib-orion), you should add a line
[code]

Th

[2020-12-14 20:07] WenMeng-NOAA commented on #164
@aerorahul I can add additional line for CRTM_FIX path in the UPP standalone tests. Can NCEPLIBS teams list all CRTM_FIX location on WCOSS Dell, Cray, Hera, Jet and Orion on wiki or some places?

[2020-12-14 20:11] RussTreadon-NOAA commented on #164
OK.  Defining CRTM_FIX in DA modulefiles is easy.  One detail - DA
modulefiles load more modules to build than are required to run but this
should not be a problem at run time apart from loading more modules than is
necessary.   The current EMC global workflow does not use app modulefules.
Instead, it loads a single machine dependent modulefile for all apps.
CRTM_FIX needs to be defined in global

[2020-12-14 20:14] aerorahul commented on #164
Sure. The variable will/should be added to each of the machine specific modulefile under `modulefiles/`
The appropriate path for `CRTM_FIX` can be found by logging in to each of those machines, and doing the following. E.g. for emc_post:
[code]

[2020-12-14 20:16] aerorahul commented on #164
@RussTreadon-NOAA
You are right; runtime modulefiles differ than build time.
This needs to be repeated (as necessary) in modulefiles in the appropriate application; gsi, upp, global-workflow, etc.

[2020-12-14 20:16] RussTreadon-NOAA commented on #164
Machine specific modulefiles in modulefiles/upp include crtm loads.   These
indicated crtm modules define CRTM_FIX

On Mon, Dec 14, 2020 at 3:07 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-12-14 20:31] WenMeng-NOAA commented on #164
@aerorahul The CRTM_FIX is used in UPP runtime configuration.  I mean the path of CRTM_FIX on different platforms for the hpc-stack like:
Orion: /apps/contrib/NCEPLIBS/orion/fix/crtm_v2.3.0
Hera: /scratch1/NCEPDEV/...
Dell: /usrx//local/...

[2020-12-14 20:44] aerorahul commented on #164
@WenMeng-NOAA I understand that CRTM_FIX is used at runtime.  They are coefficients.
CRTM_FIX is not part of hpc-stack and will not be until we move to an authoritative repo, or we can host the coefficients and access them via curl, wget, git-lfs, etc.

The v2.3.0 fix files will not change and neither will their existing location.

I can find that info for you, but you can help me by executing the

[2020-12-14 21:02] WenMeng-NOAA commented on #164
@aerorahul Thanks for clarifying. In that case, I will keep existing CRTM_FIX defined by crtm module not installed  at the hpc-stack for the UPP runtime config. until transitioning to authoritative CRTM repository.

[2020-12-14 21:03] aerorahul commented on #164
@WenMeng-NOAA Yes. That is exactly what I was suggesting so that you (and others) can continue the build and execution of your components as they transition to hpc-stack.

When CRTM_FIX is available in hpc-stack, we can go in and remove this one line from the modulefiles.

[2020-12-14 21:16] KateFriedman-NOAA commented on #1
Tagged new hand-off version: [EMC-v16.0.3](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.0.3)

[2020-12-15 14:54] #208 closed, assigned to KateFriedman-NOAA

[2020-12-15 14:54] #202 closed, assigned to KateFriedman-NOAA

[2020-12-15 14:54] #201 closed, assigned to KateFriedman-NOAA

[2020-12-15 15:19] KateFriedman-NOAA commented on #189
@yangfanglin Are you still looking to update the develop checkout.sh hash for ufs-weather-model?

[2020-12-15 15:29] yangfanglin commented on #189
Kate,
Please update the hash to b771e5be7e35eaea5ee7f762d644afccab019ed3, which
has been shown to be able to reproduce gfs.v16 results and maintain restart
reproducibility. The "develop" branch needs more tests.

On Tue, Dec 15, 2020 at 10:20 AM Kate Friedman <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/

[2020-12-15 15:33] KateFriedman-NOAA commented on #197
This work is completed and merged into release/gfsv16.0.0. Have since removed the release/gfsv16.0.0.nco branch. Closing this issue now. Thanks all!

[2020-12-15 15:33] #197 closed, assigned to KateFriedman-NOAA

[2020-12-15 15:34] KateFriedman-NOAA commented on #123
@lgannoaa Is the work in this issue completed? If so, please document completion of task in here and close issue. Thanks!

[2020-12-15 15:35] KateFriedman-NOAA commented on #6
@JianKuang-NOAA Is the work for this issue complete? If so, please document completion of work in here and close issue. Thanks!

[2020-12-15 15:37] lgannoaa commented on #123
Task was done.

[2020-12-15 15:37] #123 closed, assigned to LinGan-NOAA

[2020-12-15 15:42] jkuang-exploro commented on #6
@KateFriedman-NOAA This is completed long ago. PR#32 has already been merged. Please close this issue.

[2020-12-15 15:43] KateFriedman-NOAA commented on #6
Closing, thanks @JianKuang-NOAA !

[2020-12-15 15:43] #6 closed, assigned to jkuang-exploro

[2020-12-15 15:45] #172 closed, assigned to JessicaMeixner-NOAA

[2020-12-15 18:19] KateFriedman-NOAA opened #215 "GFSv15.3.4 & GFSv15.3.5"
### GFSv15.3.4

The GFS version was incremented in operations to v15.3.4 after the new 2021 CO2 fix files were added. A diff between ../nwprod/gfsv15.3.3 and ../nwprod/gfsv15.3.4 shows the only difference to be the new CO2 fix files in the v15.3.4 fix folders:

[code]

Since fix files are external to global-workflow no "operations" branch update will occur for v15.3.4, nor no new tag will be creat

[2020-12-15 18:52] AndrewEichmann-NOAA commented on #211
Test running new build (experiment ibex) as pushed to repository, flushed out some problems with config files which hadn't been changed from Liaofan's versions. Merged with existing ecen and efcs configs. Edited, committed, and pushed. Also creating a test scripts to clone, build and run overnight.

[2020-12-15 19:05] #189 closed, assigned to nobody

[2020-12-15 19:26] KateFriedman-NOAA commented on #215
Created branch for this work: release/gfsv15.3.5

[2020-12-15 19:47] KateFriedman-NOAA commented on #215
Created new tag off operations branch: NCO-v15.3.5

[2020-12-15 19:47] #215 closed, assigned to KateFriedman-NOAA

[2020-12-15 21:39] JessicaMeixner-NOAA commented on #212
Closed -- fixed in PR #214

[2020-12-15 21:39] #212 closed, assigned to nobody

[2020-12-17 18:34] KateFriedman-NOAA opened #220 "Bring final NCO-v16 changes back to develop"
Merge final changes from release/gfsv16.0.0 branch for GFSv16.0.3 into develop branch.

[2020-12-17 18:37] KateFriedman-NOAA commented on #220
Created branch for this merge: nco_v16_changes

[2020-12-17 18:47] KateFriedman-NOAA commented on #220
Merged "release/gfsv16.0.0" into "nco_v16_changes" branch. Only two conflicts to resolve. Committed to nco_v16_changes branch at 65b4d96.

[2020-12-17 18:49] KateFriedman-NOAA commented on #1
Retagged [EMC-v16.0.3](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.0.3) off release/gfsv16.0.0 this morning after commit at e89045b.

[2020-12-18 14:30] #220 closed, assigned to KateFriedman-NOAA

[2020-12-18 16:17] JessicaMeixner-NOAA commented on #209
@JianKuang-NOAA my test on orion also succeeded.  I started with a fresh clone and build so it's taking a little longer on hera.

@LydiaStefanova-NOAA and @jiandewang could you help check output   Lydia note that atm files are now in the "atmos" subfolder
The test on orion output is here: /work/noaa/marine/jmeixner/p6pr194update/test02/COMROOT/test02/gfs.20130401/00 I'll post the hera test as soon

[2020-12-18 16:50] JianKuang-NOAA commented on #209
@JessicaMeixner-NOAA Cool. Thanks. I don't think the results could be bit-reproducible with feature/coupled-crow. Since some default values of name list variables are modified to match develop branch. Actually that's the reason why I didn't match them at the first attempts.

[2020-12-18 16:52] JessicaMeixner-NOAA commented on #209
@JianKuang-NOAA I seem to have written on the wrong github issue.  the above comment should be for the PR.. I'm going to move this conversation to the PR and remove it from this issue.

[2020-12-18 18:02] LydiaStefanova-NOAA commented on #209
In atmos/ the grib2 files look ok to me.

In wave/ the gfswave.t00z.global.0p50.fXXX.grib2 files all fields I checked are constant (i.e. identical value at any lat/lon)

Two other things I noticed, that may or may not be relevant here, mentioning them in case they are:
(a) The variable called "la_mod" in the waveocn_*nc files has possibly strange values (e.g the max is 5.37e+34 in wavocn_2013_04_0

[2020-12-18 18:37] JessicaMeixner-NOAA commented on #209
@LydiaStefanova-NOAA thank you so much for your thorough review of all of these things.  We know that the arch list is not perfect and will take care of that later.  The bad wave grib files is another known issue that this PR is not supposed to address.   the la_mod does have very large values at times.  That was there before.

[2020-12-18 18:40] jiandewang commented on #209
checking ocean outputs show reasonable value (both orion and hera), but confirmed with Lydia's point about LA_MOD

[2020-12-18 20:21] jkuang-exploro commented on #190
PR#194 is merged into feature/coupled-crow. Now closing this issue.

[2020-12-18 20:24] jkuang-exploro commented on #171
@JessicaMeixner-NOAA Could we close this issue?

[2020-12-18 20:34] JessicaMeixner-NOAA commented on #190
Is this issue closed?   This issue included using inline post.  If you want to keep this closed, can you open a new issue for inline post for feature/coupled-crow?

[2020-12-18 20:35] #171 closed, assigned to JessicaMeixner-NOAA

[2020-12-18 20:41] jkuang-exploro commented on #190
@JessicaMeixner-NOAA I modified the title of this issue to better reflect the direction of our next efforts.

[2020-12-18 21:56] JessicaMeixner-NOAA commented on #161
@RobertoPadilla-NOAA can you update the issue with what you have found?

[2020-12-18 22:19] RobertoPadilla-NOAA commented on #161
@arunchawla-NOAA  @JessicaMeixner-NOAA The solution, on HERA, to the empty grib2 files from WW3 is  not to use the
 modulefiles/modulefile.ww3.hera which is based on hpc-stack, but to use the modulefiles/module_base.hera.
Using this last set of modules WW3 produce valid grib2 files in the coupled-system.
It is not the case in Orion, for which the modulefiles/module_base.orion was not appropriately

[2020-12-23 13:40] RussTreadon-NOAA opened #226 "Merge NCO's gfs.v16.0.4 and gfs.v16.0.5 updates into release/gfsv16.0.0"
NCO updated the wall time in numerous ecflow scripts prior to the start of the 30-day parallel test.  These updates need to be captured in release/gfsv16.0.0.    A new UPP tag has also been created and pulled into NCO's v16 package.   This issue is opened to capture these updates in release/gfsv16.0.0

[2020-12-23 16:01] GuangPingLou-NOAA opened #227 "Reducing bufr sounding postsnd output volume"
Per new request from NCO, the output disk sizes from bufr sounding postsnd need to be reduced to the level similar to that of GFS v15.

[2020-12-23 16:05] GuangPingLou-NOAA commented on #227
Working on reducing the vertical levels from 127 to 64 in the output. The 64-level output will contain every other levels of 127.

[2020-12-24 19:14] GuangPingLou-NOAA commented on #227
The changes were committed to the github and merged into the authoritative branch. The issue is closed.

[2020-12-24 19:46] GuangPingLou-NOAA commented on #227
Checked out NCO test run for the modified version (gfs v16.0.5) the results looked good and files sizes are all reduced by about half. But the wall time was 55 minutes which was longer than 27 minutes in my tests.

[2020-12-30 14:53] XuLi-NOAA opened #230 "Enable different coupled options (NSST on/off)"
In order to turn the NSST models, including the diurnal warming and skin-layer cooling model, on in the coupled model, some modifications of the global-workflow are necessary, since the NSST model hasn't been tested systematically in the coupled frame.

In principle, the NSST model is ready to run since it has been built in fv3atm and it is a component of the operational GFS (uncoupled). There is

[2020-12-30 15:19] XuLi-NOAA commented on #230
Based on the branch workflow-crow, and ufs-s2s prototype 5, with Jiande's help, a coupled model configuration with the NSST model on has been established. See https://vlab.ncep.noaa.gov/redmine/issues/54074 (enable the nsst in fv3-mom6-cice5).
Two 35-day runs, CTL (NSSTM off) & NST (NSSTM on), have been done with the initial conditions from the current CFS and GODAS at 2011101011. The results anal

[2020-12-30 15:25] XuLi-NOAA commented on #230
A new version of the coupled model has been adopted with Scheme-A.1 and a bug fix in ccpp/physics, see https://github.com/NCAR/ccpp-physics/issues/537.

The two test run, ufs_nst_ctl (w/o NSST model) and ufs_nst_nst (with NSST model), have been done. The preliminary results analysis have shown that the "too much cooling" issue has been fixed, but the too large diurnal variability of the foundation

[2020-12-30 19:01] yangfanglin opened #232 "enable multiple reruns from breakpoint restart initial conditions"
The breakpoint restart only works for the first restart from a breakpoint. Restart files written
in RERUN_RESTRAT after the first restart has a 3-hour time shift for DO_IAU=YES cases.
Forecasts starting from the 2nd breakpoint and beyond will fail because of incorrect initial
conditions. This commit fixes this bug.

This fix has been tested and verified in two forecast cases, at C192L127 and C768L

[2021-01-04 15:52] #232 closed, assigned to nobody

[2021-01-04 17:37] KateFriedman-NOAA commented on #226
SPA Jen sent a list of the changes for v16.0.4:

/gpfs/dell1/nco/ops/nwpara/gfs-v16/gfs.v16.0.4
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_grib_awips.sh
ush/scale_dec.sh

/gpfs/dell1/nco/ops/nwpara/gfs-v16/gfs.v16.0.3/scripts/exgfs_atmos_nceppost.sh

I compared the wall clock and runtime for the gfs and gdas jobs,  and updated a lot of gfs and gdas ecflow scripts to adjust the wa

[2021-01-04 19:28] KateFriedman-NOAA commented on #226
Two remaining diffs from v16.0.4 need to get pulled into release/gfsv16.0.0, awaiting confirmation from SPA Jen and then will commit to release/gfsv16.0.0.

For v16.0.4 tag...since v16.0.5 changes are already in release/gfsv16.0.0 as of 3a955b4 I have created the v16.0.4 tag from the commit prior to the v16.0.5 commits (104328a). New tag: [EMC-v16.0.4](https://github.com/NOAA-EMC/global-workflow/r

[2021-01-04 19:31] KateFriedman-NOAA commented on #226
Issue #227 discusses the diffs for v16.0.5.

[2021-01-05 15:21] KateFriedman-NOAA commented on #226
Committed remaining diffs to exgfs_atmos_grib2_special_npoess.sh at 91597f5. Created new tag of release/gfsv16.0.0 for v16.0.5: [EMC-v16.0.5](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.0.5)

[2021-01-05 15:24] KateFriedman-NOAA commented on #226
Work for this issue completed, now closing. Will reopen if needed.

[2021-01-05 17:31] KateFriedman-NOAA opened #233 "Update GLDAS tag to gldas_gfsv16_release.v1.13.0 in develop"
A new GLDAS tag ([gldas_gfsv16_release.v1.13.0](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.13.0)) has been cut for the following:

1. Resolve build error on Orion - resolution of GLDAS [issue #18](https://github.com/NOAA-EMC/GLDAS/issues/18) reported by @CatherineThomas-NOAA
2. Update PRCP file setting in ush/gldas_forcing.sh to use "_early" version appropriately

Test

[2021-01-05 18:00] KateFriedman-NOAA commented on #233
Created branch in my fork for this work:

https://github.com/KateFriedman-NOAA/global-workflow/tree/issue233

[2021-01-05 18:05] KateFriedman-NOAA commented on #233
Updated checkout.sh to use new tag. Ran checkout.sh, build_all.sh and link_fv3gfs.sh on Orion. No issues encountered. GLDAS build encountered no issues either.

Will now test GLDAS to confirm continued functionality and correct usage of PRCP files.

[2021-01-05 19:28] KateFriedman-NOAA commented on #226
New UPP tag being made by Wen. Reopening issue.

[2021-01-05 19:38] KateFriedman-NOAA commented on #178
Created branch in my fork for this work: [issue178](https://github.com/KateFriedman-NOAA/global-workflow/tree/issue178)

Cloning branch and setting up test on Hera.

[2021-01-05 19:40] KateFriedman-NOAA commented on #233
Started a C192C96L127 cold started run on Orion. Will run it until GLDAS is initiated after spin-up period. Experiment cron is now enabled, will let test continue on it's own while focusing on other tasks.

clone: /work/noaa/global/kfriedma/git/issue233
EXPDIR: /work/noaa/global/kfriedma/expdir/testcyc192c
COMROT: /work/noaa/stmp/kfriedma/comrot/testcyc192c

[2021-01-05 20:45] KateFriedman-NOAA commented on #178
Expanding issue to cover needed updates for UFS_UTILS chgres_cube and gdas_init utility. Also adjustments are needed for some UFS_UTILS codes moving to hpc-stack (e.g. nemsio tools).

Investigate going to UFS_UTILS hpc-stack branch instead of just develop branch.

[2021-01-06 16:26] KateFriedman-NOAA commented on #226
Updated UPP tag to [upp_gfsv16_release.v1.1.3](https://github.com/NOAA-EMC/EMC_post/releases/tag/upp_gfsv16_release.v1.1.3). Recut EMC-v16.0.5 tag.

[2021-01-06 16:29] RussTreadon-NOAA commented on #226
For consistency should the EMC_post tag in Externals.cfg also be updated
from upp_gfsv16_release.v1.1.2 to upp_gfsv16_release.v1.1.3?

On Wed, Jan 6, 2021 at 11:27 AM Kate Friedman <notifications@github.com>
wrote:

[2021-01-06 16:31] KateFriedman-NOAA commented on #226
@RussTreadon-NOAA Yes, just committed that too, thanks for checking! Recutting tag once more now.

[2021-01-06 16:34] KateFriedman-NOAA commented on #226
Got update into Externals.cfg and recut EMC-v16.0.5 again, hopefully last time for this version. Will now close this issue and reopen as needed. Further version changes will be documented in new issues.

[2021-01-06 16:34] #226 closed, assigned to KateFriedman-NOAA

[2021-01-08 15:13] KateFriedman-NOAA opened #234 "Update earc00 job dependencies to resolve occasional first submission failure"
@RussTreadon-NOAA reported that the earc00 job occasionally fails on its first submission (as seen in the EMC v16rt2n parallel). Email from Russ with details on issue and potential solutions is below.

Will investigate a better dependency solution for earc00 job.

[2021-01-12 14:59] KateFriedman-NOAA commented on #227
@GuangPingLou-NOAA I think this work is complete, please confirm that and close this issue if so. Thanks!

[2021-01-12 15:01] GuangPingLou-NOAA commented on #227
@KateFriedman-NOAA, yes, NCO has pulled the changes. Thanks.

[2021-01-12 15:01] #227 closed, assigned to nobody

[2021-01-12 15:12] KateFriedman-NOAA opened #235 "Break vrfy job into separate jobs and retire from system"
The vrfy job has been a catch-all for verification and small downstream jobs for a long time. With the introduction of METplus verification in a separate job and the eventual retirement of the VSDB package the "vrfy" job begins to further lose its meaning.

Consider breaking this job into multiple jobs based on it's current sub-tasks:

- [x] 1. generate pgbq grib2 files - #2069
- [x] 2. MOS - #206

[2021-01-12 15:25] RussTreadon-NOAA commented on #235
Do we need to maintain1 and 4 in the future?   It's my impression that we are transitioning away from VSDB and it's associated verification with the close of v16.   METplus verification will take over these functions.

It's not clear to me if/how Fit2Obs (3) will interact/merge with METPlus.

GFS v15 already runs RadMon (5) and MinMon (7) as unique j-jobs.  NCO's GFS v16 parallel runs RadMon (5),

[2021-01-12 15:33] KateFriedman-NOAA commented on #235
Items 1 and 4 will indeed go away (retire) in the near future but @yangfanglin has requested we keep VSDB supported until at least METplus provides graphical support (@malloryprow). Transition away from VSDB is still in progress.

It's not clear to me yet either, I also await guidance from Jack/Mallory on this.

Roger that, those three can now be broken out of vrfy and put in their own separate jo

[2021-01-12 15:37] malloryprow commented on #235
@KateFriedman-NOAA we currently have support for the graphics. I don't know much about fit2obs, so I would like to see what Jack says about this.

[2021-01-12 15:40] yangfanglin commented on #235
To replace VSDB with METplus, an offline diver/package outside of the
workflow needs to be provided for all users to regenerate stats, make
graphics and set up web displays.  The offline driver needs to be
supported on both operational and RD platforms.

Adding too many small jobs to the workflow makes the system rather messy.
I'd suggest keeping items 1 to 4 together as one job and 8 to10 as anot

[2021-01-12 15:47] malloryprow commented on #235
@yangfanglin Yup we have all that. EMC_verif-global runs outsides the workflow. It has been how I have been producing daily stats for operational global models and their graphics as well as the graphics for the GFSv16 retrospective and real-time webpages.

[2021-01-12 15:51] yangfanglin commented on #235
Mallory,
That is great.  Do you have a user guide to share with the developers ?

On Tue, Jan 12, 2021 at 10:47 AM malloryprow <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang

[2021-01-12 15:52] KateFriedman-NOAA commented on #235
@malloryprow Oh excellent...ok it's the offline driver support that we need rather (as Fanglin stated). Do you or the MET team have anything like that yet or in the works?

@yangfanglin I agree, thanks for your feedback! With your suggested breakout the vrfy job would lose items 5-10 and become five separate jobs:

1. vrfy = items 1-4 (grib1, MOS, Fit2Obs, VSDB)
2. trak = items 8-10 (tracker and 2

[2021-01-12 15:56] malloryprow commented on #235
@yangfanglin I typed up a README at https://github.com/NOAA-EMC/EMC_verif-global. I'd be happy to type up or create a website as more detailed guide, if people feel it is needed.

[2021-01-13 14:46] JessicaMeixner-NOAA opened #236 "feature/coupled-crow --- wave prep creates link to non-existent folder"
On orion, several variables are defined with place_holder:
Looking in the wave prep log all of the variables below have a placeholder definition:
DMPDIR=/work/noaa/marine/place_holder
RTMFIX=/work/noaa/marine/place_holder
BASE_GIT=/work/noaa/marine/place_holder
BASE_SVN=/work/noaa/marine/place_holder ---- do we need this variable anymore?
HOMEobsproc_prep=/work/noaa/marine/place_holder/obsproc/obs

[2021-01-13 17:26] KateFriedman-NOAA commented on #233
Test ran successfully on Orion and used correct PRCP files. Submitting PR to global-workflow develop to update GLDAS tag now.

[2021-01-13 17:59] KateFriedman-NOAA opened #238 "Pull GFSv16.0.6[7] updates into release/gfsv16.0.0 and develop branches"
Pull in updates from NCO for nwpara/gfsv16.0.6[7]:

Per request to speed up model output in soon-to-be GFS production updates are being made to parts of the system. Will document and pull in those updates to the release/gfsv16.0.0 branch.

Also pull in wave updates discussed in other thread.

- [x] ufs-weather-model tag update (GFS.v16.0.15)
- [x] EMC_gfs_wafs tag update (gfs_wafs.v6.0.19)
- [x] w

[2021-01-13 18:52] KateFriedman-NOAA commented on #238
More updates are coming so I created a branch for this task: [updates/gfsv16.0.6](https://github.com/NOAA-EMC/global-workflow/tree/updates/gfsv16.0.6)

[2021-01-13 19:15] KateFriedman-NOAA commented on #179
Jack created a new tag with Orion updates: [newm.1.1](https://github.com/NOAA-EMC/Fit2Obs/releases/tag/newm.1.1)

Installed on WCOSS-Dell (Mars and Venus):
/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/verif/global/Fit2Obs/newm.1.1

Installed on Hera:
/scratch1/NCEPDEV/global/glopara/git/verif/global/Fit2Obs/newm.1.1

Installed on Orion:
/work/noaa/global/glopara/git/verif/global/Fit2Obs/newm.1

[2021-01-13 19:30] KateFriedman-NOAA commented on #233
Sent announcement about commit to users. Closing issue now.

[2021-01-13 19:30] #233 closed, assigned to KateFriedman-NOAA

[2021-01-13 19:56] KateFriedman-NOAA commented on #179
Created fork branch for this issue: https://github.com/KateFriedman-NOAA/global-workflow/tree/issue179

[2021-01-14 16:21] KateFriedman-NOAA commented on #179
Send announcement email. Closing issue now.

[2021-01-14 17:11] KateFriedman-NOAA opened #240 "Merge NCO updates for GFSv16.0.4[5][6] into develop"
Merge updates from NCO for GFS v16.0.4, v16.0.5, and v16.0.6 into develop branch from release/gfsv16.0.0 branch.

Related issues covering those versions merged into release/gfsv16.0.0 branch:

- issue #226
- issue #238

Created branch for this work: [issue240](https://github.com/NOAA-EMC/global-workflow/tree/issue240)

[2021-01-14 18:12] KateFriedman-NOAA commented on #179
Jack Woollen has provided another new tag that resolves a few other issues: [newm.1.2 - fix a typo in prevents and update bufrpost (remove dupchk) to retain some data](https://github.com/NOAA-EMC/Fit2Obs/releases/tag/newm.1.2). Results will change slightly.

Installed on WCOSS-Dell, Hera, and Orion:

[code]

Testing quickly on Hera and Orion. Then will update $fit_ver in config.vrfy to "newm.1.2".

[2021-01-14 19:34] KateFriedman-NOAA commented on #164
Created branch for global-workflow hpc-stack updates: feature/hpc-stack

[2021-01-15 17:49] KateFriedman-NOAA opened #241 "HOTFIX: new EMC_verif-global tag to replace use of /tmp space"
WCOSS admins reported a "Compute Node /tmp usage Violation" to several users. It was determined that the MET configs were using the "/tmp" space on WCOSS (and other platforms). @malloryprow has made a hotfix update to the MET configs (https://github.com/NOAA-EMC/EMC_verif-global/issues/27) in EMC_verif-global and cut a new tag: [verif_global_v1.13.1](https://github.com/NOAA-EMC/EMC_verif-global/re

[2021-01-15 19:19] KateFriedman-NOAA commented on #241
Updated EMC_verif-global tag in develop and release/gfsv16.0.0 branches. Sent announcement to glopara announce listserv.

[2021-01-15 19:19] #241 closed, assigned to KateFriedman-NOAA

[2021-01-19 21:52] JessicaMeixner-NOAA commented on #236
I think this is at least in part related to definitions of variables not being defined on orion in  workflow/platforms/orion.yaml

DMPDIR: "/work/noaa/marine/place_holder"
NWPROD: "/work/noaa/marine/place_holder"
RTMFIX: "/work/noaa/marine/place_holder"
BASE_SVN: "/work/noaa/marine/place_holder"
BASE_GIT: "/work/noaa/marine/place_holder"

For example in  workflow/platforms/hera.yaml  they are defi

[2021-01-19 23:13] KateFriedman-NOAA commented on #236
@JessicaMeixner-NOAA Yes, you can set those variables as:

[code]

RTMFIX will come from hpc-stack in the future but the fix files are on disk still.

FYI, most of those paths are set in the pre-CROW workflow in this part of setup_expt.py (for reference):

https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/rocoto/setup_expt.py#L238

[2021-01-19 23:22] JessicaMeixner-NOAA commented on #236
Thanks @KateFriedman-NOAA!!

It seems like BASE_SVN and BASE_GIT aren't really used but maybe that was again me not grepping w/out the case insensitive when I thought that.

[2021-01-20 00:38] KateFriedman-NOAA commented on #236
@JessicaMeixner-NOAA BASE_GIT is used to define components like obsproc and fit2obs. See the use of BASE_GIT and BASE_SVN in the configs. BASE_SVN isn't used much anymore and can probably go now.

[2021-01-20 02:23] WalterKolczynski-NOAA commented on #236
We should probably refactor to remove BASE_GIT as well. Pointing to an external catch-all directory like this isn't good practice. If obsproc and fit2obs need to remain external packages for some reason, there should be clearly named variables to point to them, rather than the nebulous "BASE_GIT".

[2021-01-21 14:30] KateFriedman-NOAA commented on #236
@WalterKolczynski-NOAA I agree. We have far fewer external pieces coming from BASE_GIT now so we can change those (e.g. obsproc) to use a more full path without a variable. I'd also like to consider pulling things like fit2obs into the list of components that global-workflow checks out via checkout.sh/Exernals.cfg (and add to the build too). I'd like to consider that for obsproc but they don't yet

[2021-01-21 14:49] WenMeng-NOAA commented on #164
@JessicaMeixner-NOAA

The UPP develop branch was just updated @b267dd9 with the capacity of building standalone UPP via cmake and dependency libraries from the hpc-stack.  You may check out the latest UPP or the tag upp_v10.0.3.  The build instruction can be found at
https://github.com/NOAA-EMC/EMC_post/wiki/Building-UPP#build-standalone-upp-via-cmake

[2021-01-21 16:07] KateFriedman-NOAA opened #243 "Fix COMINsyn path on Hera"
It's currently getting set to:

COMINsyn=/scratch1/NCEPDEV/rstprod/com/gfs/prod/syndat

but NCO isn't maintaining that so it should be:

/scratch1/NCEPDEV/global/glopara/com/gfs/prod/syndat/

[2021-01-21 16:11] KateFriedman-NOAA commented on #243
Created branch for this: issue243

[2021-01-21 16:11] KateFriedman-NOAA commented on #179
Will update $fit_ver in issue #243 branch.

[2021-01-21 16:31] #179 closed, assigned to KateFriedman-NOAA

[2021-01-21 16:31] #243 closed, assigned to KateFriedman-NOAA

[2021-01-25 18:20] KateFriedman-NOAA commented on #240
Running test of issue240 branch on WCOSS-Mars using NCO parallel warm start ICs.

[2021-01-25 18:36] KateFriedman-NOAA commented on #195
@JoshuaFu-NOAA Please provide details about the purpose of this issue. If this issue isn't needed anymore please close. Thanks!

[2021-01-25 18:37] KateFriedman-NOAA commented on #191
@JessicaMeixner-NOAA Checking on status of this issue. Please update or close as needed, thanks!

[2021-01-25 18:39] KateFriedman-NOAA commented on #99
@jiandewang @JessicaMeixner-NOAA Checking on the status of this issue. Please provide update or close as needed, thanks!

[2021-01-25 18:40] JessicaMeixner-NOAA commented on #191
The atmos/ and wave/ are using folders in the com directory and then ocean/ and ice/ are not.    I'm not actively working on this issue, however the need for this issue is still there.

[2021-01-25 18:42] KateFriedman-NOAA commented on #191
Roger that, thanks for the update!

[2021-01-25 18:44] JessicaMeixner-NOAA commented on #99
Still have not run enough jobs w/inline post to confirm if this is an issue still or not. Please keep issue open.

[2021-01-25 18:47] KateFriedman-NOAA commented on #99
Roger that, thanks for the update!

[2021-01-25 20:21] KateFriedman-NOAA commented on #164
@junwang-noaa @HelinWei-NOAA @RussTreadon-NOAA @MichaelLueken-NOAA @YaliMao-NOAA Hi all, could I get any updates you have on your respective repositories progress on converting to use the new hpc-stack for building? I'm ready to integrate new component develop tags that build with hpc-stack into global-workflow when you have them ready. Let me know if you need assistance starting this change. Than

[2021-01-26 06:52] JoshuaFu-NOAA commented on #195
resolved

[2021-01-26 06:52] #195 closed, assigned to nobody

[2021-01-26 18:10] HelinWei-NOAA commented on #164
Hi kate,

I checked all module files used by GLDAS. hpc is not found to be used by
any of them. So I don't need to update anything. Right?

Helin

On Mon, Jan 25, 2021 at 3:21 PM Kate Friedman <notifications@github.com>
wrote:

[2021-01-26 18:19] RussTreadon-NOAA commented on #164
NOAA-EMC/GSI PR #107 <https://github.com/NOAA-EMC/GSI/pull/107> contains
changes required for DA apps to compile on Hera using hpc-stack.

On Mon, Jan 25, 2021 at 3:21 PM Kate Friedman <notifications@github.com>
wrote:

[2021-01-26 18:20] junwang-noaa commented on #164
Kate,

May I ask what is this tag used for? Do we have some name for all the
components? What is the current model tag used in workflow?

On Mon, Jan 25, 2021 at 3:21 PM Kate Friedman <notifications@github.com>
wrote:

[2021-01-26 18:52] KateFriedman-NOAA commented on #164
@HelinWei-NOAA Since the GLDAS modulefiles/build don't yet use the hpc-stack library set they need to be updated to do so. I'll send you a separate email with more details. Thanks!

Thanks @RussTreadon-NOAA ! I'll take a look at that incoming version. I'm updating things for Hera first so that PR is great.

@junwang-noaa The global-workflow develop branch is about to be using the GFS.v16.0.15 tag

[2021-01-26 21:13] arunchawla-NOAA commented on #164
@KateFriedman-NOAA and @WalterKolczynski-NOAA I know we still have this separation between global develop and coupled branches, but since UPP uses hpc-stack can we make sure of that in the coupled branch and test it on HERA. I ask because we need to use hpc-stack for the coupled branch for porting to different platforms

[2021-01-27 14:26] KateFriedman-NOAA commented on #164
Helin updated GLDAS to build with hpc-stack and provided a new tag [gldas_gfsv16_release.v1.14.0](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.14.0). Tested build on Hera (no issues). Will run in cycled test once able.

[2021-01-27 14:48] junwang-noaa commented on #164
Kate, you can use the latest model revision 06bc77b
<https://github.com/ufs-community/ufs-weather-model/commit/06bc77ba3640358b54b6ff03f542e2ce0d3242be>.
In ufs-weather-model repository, we only keep
implementation/release/benchmark tags. The coupled model benchmark 6 tag
will come up soon, I will let you know when it becomes available.Thanks

On Wed, Jan 27, 2021 at 9:27 AM Kate Friedman <notific

[2021-01-27 14:53] KateFriedman-NOAA commented on #164
will come up soon, I will let you know when it becomes available.Thanks

Gotcha, sounds good, thanks @junwang-noaa !

[2021-01-28 16:16] JessicaMeixner-NOAA opened #250 "feature/coupled-crow: moving to netcdf (parallel) output for atm model"
To move to using netcdf output for the atm model in the feature/coupled-crow branch, we need to change:
workflow/defaults/output_settings.yaml from:
OUTPUT_FILE_TYPE: nemsio
to:
OUTPUT_FILE_TYPE: "'netcdf_parallel' 'netcdf'"

The model will run, however the post jobs are not getting triggered, which can be seen from doing a rocotocheck on the post jobs:

[code]

What should the dependency for the

[2021-01-28 19:17] WalterKolczynski-NOAA commented on #250
In workflow/layout/*.yaml, update the release settings under post to the correct filenames:

[code]

As a temporary measure, you can modify the workflow.xml of an existing expdir directly to change the datadep for post to the correct file.

[2021-01-28 19:19] WalterKolczynski-NOAA commented on #250
workflow/runtime/post_manager.yaml also has to be updated to match.

[2021-01-28 20:02] JessicaMeixner-NOAA commented on #250
What would the correct files be for netcdf?   gfs.t{metasched.datestring("%H")}z.master.grb2f{dimval.fhr:03d}  instead of  gfs.t{metasched.datestring("%H")}z.logf{dimval.fhr:03d}.nemsio?

[2021-01-28 20:11] WalterKolczynski-NOAA commented on #250
Yes, although there would also need to be a check to make sure the file is complete.

@KateFriedman-NOAA are there still plans to add the logfiles to inline post so we know when each file is complete?

The post job will also need to be modified to no longer produce the master files, since they are now being produced inline. This may be as simple as cherry-picking the file from GFS v16.

[2021-01-28 20:14] JessicaMeixner-NOAA commented on #250
@WalterKolczynski-NOAA the develop branch was recently merged into the feature/coupled-crow branch.  I'm assuming the updates for file dependency needs are known, because we just have to make the crow do what the develop branch is already doing.

[2021-01-28 20:21] KateFriedman-NOAA commented on #250
@WalterKolczynski-NOAA The logf###.txt files get produced from the fcst job (when inline post is turned on or off). Is that what you need? Here are the files that come out of the fcst job for f009 (inline post turned on in this example):

[code]

[2021-01-28 20:25] WalterKolczynski-NOAA commented on #250
Yes, that would do it. I do not see those files in the directory Jessica was using:
![image](https://user-images.githubusercontent.com/28147896/106194478-e4f48080-617c-11eb-9e43-9e1cdd319bc2.png)

@JessicaMeixner-NOAA The logfile Kate mentioned should be the new trigger, if we can figure out why you don't have it.

[2021-01-28 20:35] JessicaMeixner-NOAA commented on #250
in the run dir they are there:
$ ls *f006*
atmf006.nc  logf006  sfcf006.nc

[2021-01-28 20:40] KateFriedman-NOAA commented on #250
FYI, the global-workflow (develop/v16) sets this dependency for each gfspost### job ("#dep#" is an forecast hr chosen to kick off this post job):

[code]

[2021-01-29 16:23] KateFriedman-NOAA opened #251 "HOTFIX: update EMC_verif-global tag to verif_global_v1.13.2"
New EMC_verif-global tag (verif_global_v1.13.2) fixes plotting issue on Hera. No other HPCs impacted.

[2021-01-29 19:22] KateFriedman-NOAA commented on #251
Updated EMC_verif-global tag in both the develop and release/gfsv16.0.0 branches. Thanks again for the quick fix @malloryprow ! Closing issue now.

[2021-01-29 19:22] #251 closed, assigned to KateFriedman-NOAA

[2021-02-01 14:14] KateFriedman-NOAA opened #252 "Update Fit2Obs tag to newm.1.3 to fix rstprod bug"
@jack-woollen has provided a new Fit2Obs tag (newm.1.3) that resolves a bug related to rstprod permissions. It is already installed and being used in the EMC pre-implementation v16rt2n parallel on WCOSS-Dell. No other changes in this tag related to newm.1.2.

From Jack:

[2021-02-01 15:01] KateFriedman-NOAA commented on #252
@RussTreadon-NOAA installed new tag on Mars/Venus:
/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/verif/global/Fit2Obs/newm.1.3

I have also now installed it on Hera and Orion:

Hera: /scratch1/NCEPDEV/global/glopara/git/verif/global/Fit2Obs/newm.1.3
Orion: /work/noaa/global/glopara/git/verif/global/Fit2Obs/newm.1.3

[2021-02-01 15:03] KateFriedman-NOAA commented on #252
Updated tag in both release/gfsv16.0.0 and develop branches. Will send announcement to users.

[2021-02-01 15:26] #252 closed, assigned to KateFriedman-NOAA

[2021-02-02 14:33] KateFriedman-NOAA commented on #178
UFS_UTILS issue related to this one: https://github.com/NOAA-EMC/UFS_UTILS/issues/102

George Gayno's fork branch for the UFS_UTILS side: https://github.com/GeorgeGayno-NOAA/UFS_UTILS/tree/feature/gdas_init.v16

[2021-02-02 15:50] JessicaMeixner-NOAA commented on #250
In the develop branch the section of code that should make those linked files are: https://github.com/NOAA-EMC/global-workflow/blob/develop/scripts/exglobal_forecast.sh#L1315-L1344 which I believe are also in feature/coupled-crow here: https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/ush/forecast_postdet.sh#L441-L477 however it's behind a :
[code]
which was supposed to not lin

[2021-02-02 18:54] #240 closed, assigned to KateFriedman-NOAA

[2021-02-02 23:46] JessicaMeixner-NOAA commented on #168
Just an FYI if lower resolutions of the atm model also want to be run with fewer than 127 levels, which is possible, in workflow/config/fcst.yaml the definition of launch level needs to be updated to be the calculation as it is in the develop branch in the config system there.  Sorry about that.

[2021-02-03 13:37] JessicaMeixner-NOAA commented on #196
@jiandewang isn't this already there in the feature/coupled-crow branch?

[2021-02-03 13:38] JessicaMeixner-NOAA commented on #190
@JianKuang-NOAA is this completed now or are there still more checks that need to be done?

[2021-02-03 13:45] JessicaMeixner-NOAA commented on #161
The PR https://github.com/NOAA-EMC/global-workflow/pull/248 from @RobertoPadilla-NOAA fixed this issue in feature/coupled-crow.  The only remaining issue is to have non-empty grib2 files from WW3 while using hpc-stack which is being tracked on hpc-stack: https://github.com/NOAA-EMC/hpc-stack/issues/137

Unless someone objects I think we can close this issue.

[2021-02-03 14:04] jkuang-exploro commented on #190
@JessicaMeixner-NOAA To the best of my knowledge, this is completed. Further works may be required, however, to tune it up for a specific experiment.

[2021-02-03 14:06] JessicaMeixner-NOAA commented on #190
So we can close the issue then?

[2021-02-03 14:09] #190 closed, assigned to nobody

[2021-02-03 14:57] jiandewang commented on #196
@JessicaMeixner-NOAA no

[2021-02-03 16:15] AnningCheng-NOAA commented on #200
new tests needed for changing CCPP=NO, interval = '24:00:00', export FHMAX_GFS_00=384,  for DELL, Orion, HERA, and a few of more cases.  Is cycled testing needed?  is "Waves" needed to be on?

[2021-02-03 16:28] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA  For the Merra2 changes please run 2 tests on each platform:

Test 1 - combine several settings into a single 2.5 cycle cycled test:

1. interval=24 (gfs_cyc=1), make sure one of the full cycles in the test is 00z (suggest starting with 18z half cycle), feel free to set gfs_cyc=4 when running setup scripts though if there are no reasons to not run the gfs for 06z, 12z, or 18z
2.

[2021-02-03 16:39] KateFriedman-NOAA commented on #200
I was just told that it's known that waves don't work with CCPP on. Therefore test 1 can be done with DO_WAVE=NO and I am ok with DO_WAVE=NO in config.base when RUN_CCPP=YES.

[2021-02-03 16:51] JessicaMeixner-NOAA opened #256 "Atm-wave doesn't work"
This combo does not work in the develop branch.  To get it working, an extra build script is needed.  This can be found here: https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/sorc/build_ww3prepost.sh
and the extra added lines to build_all.sh:
https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/sorc/build_all.sh#L72-L84
and then the two modules + modules for o

[2021-02-03 17:34] yangfanglin commented on #200
If the changes Anning made to the model is based on the latest develop
branch, IPD has been removed from the code.  He can only test with
RUN_CCPP=YES.

The workflow supporting GFS.v16 and IPD should be tagged.   It is probably
time to remove all IPD related definitions in the workflow and move to only
support CCPP as soon as possible since all developments (physics and
coupled model etc) will be

[2021-02-03 17:55] KateFriedman-NOAA commented on #200
I was hoping to get the final v16 changes from NCO into develop before removing the final IPD support but with the implementation delay I see I can't do that...so yes I guess it's time to remove all IPD related definitions in the workflow.

I'll update my PR review comments for this. Thanks!

[2021-02-03 18:01] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA Ok since waves don't work with CCPP right now I adjust my test request: please run a 2.5 cycle cycled test on each platform with RUN_CCPP=YES, DO_WAVE=NO, and FHMAX_GFS_00=384 so we can make sure it is ok in cycled mode. No test #2 anymore. Thanks! Sorry for the confusion on my end!

[2021-02-03 23:57] JoshuaFu-NOAA commented on #196
c

better to make three flexible output frequency options, respectively, for atmosphere, ocean and ice components,  which can be modified from case yaml files?

[2021-02-03 23:58] JoshuaFu-NOAA commented on #196
need to add three one-stop control parameters.

[2021-02-04 14:11] AnningCheng-NOAA commented on #200
HI, Kate:

Please let me know when you copy merra2 and aer_data to the main $FIX_DIR.

Thank you,

Anning

On Wed, Feb 3, 2021 at 1:01 PM Kate Friedman <notifications@github.com>
wrote:

[2021-02-04 15:22] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA I've started pulling them into the WCOSS-Dell $FIX_DIR ($FIX_DIR/fix_aer and $FIX_DIR/fix_lut) from your WCOSS_Dell set. Then I will rsync them to the FIX_DIRs on the Crays, Hera, Jet, and Orion...and make a new HPSS tarball of $FIX_DIR. I see the fix_aer files are quite large so the copy/rsyncs will take a while. Will report back when done, thanks!

[2021-02-04 15:42] GuangPingLou-NOAA opened #257 "Update GFSv16 to shorten run time on Mars Dell1 file system"
The postsnd run on Mars Dell1 system takes longer time than on other file systems. The changes in this update will shorten the run time on Dell1 to comparable but still a little longer than on other file systems.

[2021-02-04 16:04] AnningCheng-NOAA commented on #200
Hi, Kate:

I have just noticed that the MERRA2 data at DELL is dated back to 2017 and
out of date. I have just update the dataset and you can see that the date
produced is December 24th. I am afraid that you need to repull the data
again. Sorry for any inconvenience.

Anning

On Thu, Feb 4, 2021 at 10:23 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-04 16:32] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA I see your Mars set is now dated February 4th and the Venus set (what I pulled from) is December 24th. I should pull from your Mars set then? Please confirm, thanks!

[2021-02-04 16:32] GuangPingLou-NOAA commented on #257
Thanks, Fanglin and Kate! The issue is closed.

[2021-02-04 16:32] #257 closed, assigned to nobody

[2021-02-04 16:41] AnningCheng-NOAA commented on #200
Kate, I have just copied MERRA2 from DELL to Mars. So they should be
consistent, exactly the same although the date is different.

On Thu, Feb 4, 2021 at 11:32 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-05 14:15] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA The new fix files are now in all $FIX_DIRs on WCOSS-Dell, WCOSS-Cray, Hera, and rzdm. I'm copying them to Orion and Jet this morning. Below is the listing of them on Hera under $FIX_DIR/fix_aer and $FIX_DIR/fix_lut. I'm also putting a fresh copy of $FIX_DIR on HPSS for our archival. You can now remove the paths to FIX_AER and FIX_LUT in config.base.emc.dyn, thanks.

[code]

[2021-02-05 14:52] AnningCheng-NOAA commented on #200
Kate, thanks! I submitted a cycling test (C768L127 for gfs and C384L127 for
ensemble) in orion yesterday. It took a very long waiting time, Could you
take a look to see if too much resources have been requested?
expdir: /work/noaa/global/acheng/para_gfs/mcyc1,
rotdir: /work/noaa/stmp/acheng/ROTDIRS/mcyc1

On Fri, Feb 5, 2021 at 9:15 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-05 15:22] KateFriedman-NOAA commented on #200
Anning, I took a look and your jobs have appropriate resource requests. My most recent C768C384L127 test on Orion used more resources since I ran with waves on so yours are fewer so it should be good. It's possible the queues are very busy and/or the compute account allocation you're using is nearing full. I see you're using fv3-cpu, it looks like it's close to its allocation (via saccount_params

[2021-02-05 17:46] JessicaMeixner-NOAA commented on #250
So the netcdf part still isn't working, my latest attempt using the same as develop:
exgfs_atmos_nceppost.sh -> ../sorc/gfs_post.fd/scripts/exgfs_atmos_nceppost.sh
instead of linking to what we had been before:
https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/scripts/exgfs_nceppost_cpl.sh.ecf
This test has output here:
/scratch2/NCEPDEV/climate/Jessica.Meixner/p6workflow/test0

[2021-02-05 18:07] JessicaMeixner-NOAA commented on #250
Okay.. I think one issue is in develop there are two variables:
OUTPUT_FILE and OUTPUT_FILETYPES
and
OUTPUT_FILETYPES should be "''netcdf_parallel' 'netcdf_parallel'
and used in model_configure
while OUTPUT_FILE='netcdf' and used elsewhere.   I'll implement this and hopefully this will fix the issues we're currently having.

[2021-02-05 18:22] LydiaStefanova-NOAA commented on #250
@JessicaMeixner-NOAA Also I noticed that the *flux.1p00* grib2 files are missing from the output - hopefully the change you are implementing will fix that too

[2021-02-05 19:50] JessicaMeixner-NOAA commented on #250
@LydiaStefanova-NOAA can you please check:
/scratch2/NCEPDEV/climate/Jessica.Meixner/p6workflow/test05/COMROOT/test05/gfs.20130401/00/atmos
to see if the files look okay now for f000 and f006.  They at least have non-zero size.  We have gfs.t00z.sfluxgrbf006.grib2 but is there another surface flux file that's missing?

I think the files are being produced now, but it carefully checking the log INL

[2021-02-05 20:42] LydiaStefanova-NOAA commented on #250
@JessicaMeixner-NOAA The pgrb2.0p25, pgrb2b.0p25, pgrb2.1p00, pgrb2b.1p00, and sfluxgrbf grib2 files are looking good. We should also have a flux.1p00 that's missing. In case this makes a difference: the flux.1p00 files are something that we had added for the coupled model (not part of the standalone output).

[2021-02-05 20:49] JessicaMeixner-NOAA commented on #250
Okay.. so I found the variable that wasn't in the right config file to get called that was turning off inline post.  This was fixed for f012 post in the same COMDIR:
/scratch2/NCEPDEV/climate/Jessica.Meixner/p6workflow/test05/COMROOT/test05/gfs.20130401/00/atmos
log file: /scratch2/NCEPDEV/climate/Jessica.Meixner/p6workflow/test05/COMROOT/test05/logs/2013040100/gfs.post.p_012.log

Please let me kn

[2021-02-05 20:51] JessicaMeixner-NOAA commented on #250
Yes that does make a difference, how to add this back in needs to be figured out.  Otherwise it seems that the post is now working again.

[2021-02-05 21:01] JessicaMeixner-NOAA commented on #250
@LydiaStefanova-NOAA does the availability of the netcdf files, for example:
gfs.t00z.atmf012.nc  gfs.t00z.sfcf012.nc
negate the need for the extra 1 degree flux grib files?

[2021-02-05 21:42] LydiaStefanova-NOAA commented on #250
@JessicaMeixner-NOAA Not really, because the netcdfs are high res. The 1p00 grib files are convenient because they are much smaller and easier/faster to upload/process.

[2021-02-08 15:09] aerorahul commented on #164
Workflow utilities under `sorc/` can now built with `hpc-stack` and `cmake`.
Both those features are captured in: [feature/hpc-stack-cmake](https://github.com/NOAA-EMC/global-workflow/tree/feature/hpc-stack-cmake)
Modulefiles for orion, hera and wcoss_dell_p3 are added.
These workflow utilities were compiled on hera and orion, but not on wcoss_dell_p3.
These workflow utilities were compiled on `ma

[2021-02-08 15:12] aerorahul commented on #164
The utility `enkf_chgres_recenter_nc.fd` depends on the netCDF IO library in the GSI specifically written to handle UFS netCDF output.  This library needs to be made available outside of the GSI for other applications e.g. GEFS to be made useful.

A NCEPlibs issue is opened at https://github.com/NOAA-EMC/NCEPLIBS/issues/184 for discussion.

[2021-02-08 15:17] JessicaMeixner-NOAA commented on #164
A script in sorc/ needs to be added for it's pre-and post-processors to be built: https://github.com/NOAA-EMC/global-workflow/issues/256 and then there are two issues: 1. related to using hpc-stack:  the ww3 grib which has an hpc-stack issue: https://github.com/NOAA-EMC/hpc-stack/issues/137 and then 2. WW3 isn't using CMAKE for it's  pre/post processor exes

[2021-02-08 15:29] aerorahul commented on #164
@JessicaMeixner-NOAA
[This](https://github.com/NOAA-EMC/global-workflow/tree/feature/hpc-stack-cmake) feature branch does not build utilities that are checked out as part of `checkout.sh`.  I leave that to the repository owner to make the upgrade. WW3 fits that bill.
This feature branch only builds utilities that are checked out as part of the `global-workflow` repository.

[2021-02-08 19:59] KateFriedman-NOAA opened #259 "Add wave resolution flexibility/support"
Add support for different wave grids for lower resolutions.

[2021-02-08 20:46] JessicaMeixner-NOAA commented on #259
For the develop branch, my recommendation would be for:

C768 -- Use the v16 operational grid set-up
C384 -- Use the GEFSv12 operational multi grid set-up ~ 1/4deg resolution (For coupled-crow branch use what is set-up for coupled -- single grid 1/2 deg)
C192 -- Use 1/2 degree, 1 grid
C96 -- Use 1 deg, 1 grid
C48 -- Use 2 deg, 1 grid

Everything but the 2 deg grid already have grids that exist, th

[2021-02-09 14:41] arunchawla-NOAA commented on #259
@JessicaMeixner-NOAA and @BrianCurtis-NOAA is there a simple way to switch between different resolution grids in the global workflow?

[2021-02-09 14:42] arunchawla-NOAA commented on #259
this requires a smart way to identify the grids and the way ww3_multi.inp is set up.

[2021-02-09 14:51] JessicaMeixner-NOAA commented on #259
This part of it should already be there but you'd have to set up all the parameters correctly.  So waveGRD, waveGRDN, and waveGRDG would all have to be set for a different resolution set.  So it's not completely automated but some what automated... It probably could be a lot simpler but?  Right now either in the develop branch or in feature/coupled-crow there's not a way to set which grids the wav

[2021-02-09 15:30] arunchawla-NOAA commented on #259
@BrianCurtis-NOAA @WalterKolczynski-NOAA and @KateFriedman-NOAA can we review with @JessicaMeixner-NOAA how easy it is right now to set up multiple different configurations for the wave model in the global workflow? How easy is it to do this for the ocean and ice?

[2021-02-09 15:47] BrianCurtis-NOAA commented on #259
I haven't changed anything yet in coupled-crow. Choosing a resolution is all in the case files for coupled-crow.

[2021-02-09 16:56] JessicaMeixner-NOAA commented on #250
Completed in PR#255

[2021-02-09 16:56] #250 closed, assigned to nobody

[2021-02-09 16:57] JessicaMeixner-NOAA commented on #236
Fixed in PR#255

[2021-02-09 16:57] #236 closed, assigned to JessicaMeixner-NOAA

[2021-02-09 16:57] JessicaMeixner-NOAA commented on #209
Completed in PR#255

[2021-02-09 16:57] #209 closed, assigned to JessicaMeixner-NOAA

[2021-02-09 16:59] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA @yangfanglin FYI after discussing the upcoming commit plan for develop with the other global-workflow code managers we have decided we are going to hold this work and PR #254 for a bit (~2-3 weeks). Since this PR moves the ufs-weather-model version forward to one that supports hpc-stack we want to get the other hpc-stack changes into develop before this. Please complete current t

[2021-02-09 17:29] malloryprow opened #260 "Supporting GFS interval greater than 24 hours"
Issue came up when a user manually change the GFS interval in their XML from to _<!ENTITY INTERVAL "24:00:00">_ to _<!ENTITY INTERVAL "120:00:00">_. However the user left their config.metp unchanged and left VRFYBACK_HRS to its default of 24 hours, meaning the verification would run for the cycle date - 24 hours. This caused problems in the gfsmetp tasks as the GFS cycles would not have been ran f

[2021-02-09 17:45] KateFriedman-NOAA commented on #164
@GeorgeGayno-NOAA Any updates on updating UFS_UTILS to use hpc/1.1.0 stack? https://github.com/NOAA-EMC/UFS_UTILS/issues/248 Thanks!

[2021-02-09 17:47] KateFriedman-NOAA commented on #164
@RussTreadon-NOAA @MichaelLueken-NOAA Looks like https://github.com/NOAA-EMC/GSI/pull/107 has gone in. Is GSI ready for global-workflow to try the updated master with hpc-stack? Should we wait for any further updates or tags? Thanks!

[2021-02-09 17:59] RussTreadon-NOAA commented on #164
NOAA-EMC/GSI#107 <https://github.com/NOAA-EMC/GSI/pull/107> adds hpc-stack
to Hera alone.   No DA tag has been created since hpc-stack remains to be
added to NOAA-EMC/GSI for other platforms.  Workflow testing using DA with
hpc-stack on Hera is possible.

On Tue, Feb 9, 2021 at 12:48 PM Kate Friedman <notifications@github.com>
wrote:

[2021-02-09 18:01] arunchawla-NOAA commented on #164
If it is working on HERA can we try it with another system ? Perhaps WCOSS? It should be fairly straight forward once it works on one system

[2021-02-09 18:03] AnningCheng-NOAA commented on #200
HI, Kate:

I am running the cycling test at Hera. There is a error:  "aircftbias_in
not found"
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/mcyc/logs/2020020406/gdaseobs.log.
Exp dir: /scratch2/NCEPDEV/climate/Anning.Cheng/para_gfs/mcyc

Do you have any idea to fix the problem? Thanks!

Anning

On Tue, Feb 9, 2021 at 11:59 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-09 18:10] RussTreadon-NOAA commented on #164
NOAA-EMC/GSI issue  #110 <https://github.com/NOAA-EMC/GSI/issues/110> has
been opened to document the addition and testing of hpc-stack to DA on
other machines.  Tests on WCOSS_D found non-reproducible results.   A
lengthy investigation into this is documented in hpc-stack issue #149
<https://github.com/NOAA-EMC/hpc-stack/issues/149>.

On Tue, Feb 9, 2021 at 1:02 PM arun chawla <notifications@gith

[2021-02-09 18:25] KateFriedman-NOAA commented on #200
You need some IC files for the analysis, the missing file is one of them. This is missing:

/scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/mcyc/gdas.20200204/00/atmos/gdas.t00z.abias_air

Where did you get your ICs? You'll need to pull out the following files that came from the same or a companion tarball:

* gdas.t00z.abias
* gdas.t00z.abias_air
* gdas.t00z.abias_pc
* gdas.t00z.radstat

Point me to

[2021-02-09 18:26] KateFriedman-NOAA commented on #164
@RussTreadon-NOAA Thanks for the update. I will test it on Hera first when I test the full system with the stack.

[2021-02-09 18:32] AnningCheng-NOAA commented on #200
HI, Kate:

my ICs is at /scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/mcyc/. I
used UFS_UTILS to produce the cold start ICs. has the doc to produce the
ICs changed?

Anning

On Tue, Feb 9, 2021 at 1:25 PM Kate Friedman <notifications@github.com>
wrote:

[2021-02-09 18:34] AnningCheng-NOAA commented on #200
I have just found those files
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/mcyc/gdas.20200204/00, but
do not know if they are at the right path.

On Tue, Feb 9, 2021 at 1:32 PM Anning Cheng - NOAA Affiliate <
anning.cheng@noaa.gov> wrote:

[2021-02-09 18:35] KateFriedman-NOAA commented on #200
Ah I see you have the files there, they are just not in the atmos folder:

[code]

Move all of those files (abias, abias_air, abias_int, abias_pc, loginc.txt, radstat) down into that atmos folder. Then retry your failed jobs.

[2021-02-11 20:41] BrianCurtis-NOAA opened #263 "port reg2grb2 to cmake"
Once the global-workflow is done porting to CMake and that work is copied over to coupled-crow, the reg2grb2 utility will need to be ported to CMake.

[2021-02-12 16:13] malloryprow commented on #260
@KateFriedman-NOAA I just had an idea for this that would potentially fix things for the metp tasks with leaving gfs_cyc alone. If we set up the setup_workflow.py and setup_workflow_fcstonly.py to add INTERVAL_GFS to the environment variables for the "gfsmetp*" tasks, I can use that to adjust the verification date. I understand though wanting to address the bigger picture with gfs_cyc and user man

[2021-02-16 15:26] KateFriedman-NOAA opened #265 "Convert setup scripts to python 3"
Setup scripts are currently python 2, which is at end of life. Convert setup scripts to python 3.

Scripts under ush/rocoto.

[2021-02-16 15:37] BrianCurtis-NOAA commented on #265
i can assist/review PR if needed.

[2021-02-16 16:18] WalterKolczynski-NOAA commented on #265
@BrianCurtis-NOAA I'm perfectly happy to let you do it if you are willing.

[2021-02-16 16:25] KateFriedman-NOAA opened #266 "Update EMC_verif-global tag to verif_global_v1.13.4"
Update EMC_verif-global tag to [verif_global_v1.13.4](https://github.com/NOAA-EMC/EMC_verif-global/releases/tag/verif_global_v1.13.4).

[2021-02-16 16:32] BrianCurtis-NOAA commented on #265
Sure. I can work on it here and there.

[2021-02-16 16:36] BrianCurtis-NOAA commented on #265
I think we're currently using python 3.8 on machines that aren't WCOSS? I'll gear towards that unless told otherwise.

[2021-02-16 16:38] malloryprow commented on #266
Changes from verif_global_v1.13.2 to verif_global_v1.13.4:

- Added missing environment variable in ush/run_verif_global_in_global_workflow.sh
- Updated ush/run_verif_global_in_global_workflow.sh and ush/set_up_verif_global.sh to point to new archive directory locations

[2021-02-16 16:41] KateFriedman-NOAA commented on #265
WCOSS: python/3.6.3
Hera: intelpython/3.6.8
Orion: python/3.7.5
Jet: intelpython/3.6.5

Thanks @BrianCurtis-NOAA !

[2021-02-16 17:22] KateFriedman-NOAA opened #267 "Create CI/CD framework"
Create CI/CD test framework:

* Define E2E testing requirements; e.g. forecast only configurations, cycled configurations, etc.
* stage initial conditions on RDHPCS (Hera and Orion)
* Leverage CI/CD w/ github triggers/automation from GDASApp
* create framework to automate `clone`, `setup_expt.py`, `setup_xml.py` for each testing configuration
* run each configuration and report status on GH

[2021-02-16 19:41] BrianCurtis-NOAA commented on #263
Once the CMake work for develop branch is done, we can move reg2grb2 to develop

[2021-02-16 19:48] JessicaMeixner-NOAA commented on #263
Is there a reason to move reg2grb2 to develop before the whole feature/coupled-crow gets moved to develop? Is that going to happen in stages?

[2021-02-16 19:50] BrianCurtis-NOAA commented on #263
I wasn't sure when/if it was moving to develop. Yes it can wait for the whole thing going. Thanks!

[2021-02-17 16:25] AnningCheng-NOAA commented on #200
HI, Kate:

The cycling test of the workflow works well at Hera. But encounter a mpi
error from GSI at
Orion: /work/noaa/stmp/acheng/ROTDIRS/mcyc/logs/2020020406/gdasanal.log
The exp dir: /work/noaa/global/acheng/para_gfs/mcyc.

Could you take a look and find if anything is missing?

Thank you!

Anning

On Tue, Feb 9, 2021 at 1:35 PM Kate Friedman <notifications@github.com>
wrote:

[2021-02-17 18:03] KateFriedman-NOAA commented on #200
@AnningCheng-NOAA The cause of the error isn't jumping out at me, we usually see that error in the forecast jobs and not the analysis. @CatherineThomas-NOAA @CoryMartin-NOAA would you mind taking a look at Anning's failed analysis job on Orion? See log below. He is testing the system after adding support for MERRA2. Thanks!

/work/noaa/stmp/acheng/ROTDIRS/mcyc/logs/2020020406/gdasanal.log

[2021-02-17 20:02] WalterKolczynski-NOAA opened #269 "Streamline module files"
With the move to hpc-stack, module lists are becoming uniform across machines and can be condensed into a single module for each build that covers all machines. The only machine-dependent portion is the use statement with the location of each stack and the compilation environment, which should be the same for all builds and loaded first. Furthermore, the module version can be determined via a vers

[2021-02-17 23:43] WalterKolczynski-NOAA opened #270 "Create flexible product script to replace old post script"
Until recently, the post and product generation (regrid) jobs for GFS were combined into one job with set products. Even without inline post, these tasks should be separated and the product job should be flexible enough to handle an arbitrary set of output resolutions in an arbitrary stream configuration.

[2021-02-18 15:51] #266 closed, assigned to malloryprow, KateFriedman-NOAA

[2021-02-18 16:21] CoryMartin-NOAA commented on #200
I took a look, not totally sure but it seems like there is a problem reading the netCDF surface forecast files. Is there anything different in the sfcfNNN.nc files in this run than in a standard version? Are you able to rerun the gdasfcst from the previous cycle and try it again? This looks like the error we were having before where the model would write out 'bad' netCDF files that were then unrea

[2021-02-18 16:27] CatherineThomas-NOAA commented on #200
I was just getting ready to say the same thing.  The values of tref in the sfcfNNN.nc files look reasonable at least.  @KateFriedman-NOAA does Orion have similar netCDF problems as Hera?

[2021-02-18 17:03] KateFriedman-NOAA commented on #200
@CatherineThomas-NOAA Not a frequently as Hera but yes. I looked back at my Orion runs since last May and found HDF errors in the efcs jobs of a CCPP run (last November) and in analysis jobs while I was testing port2orion last June. No HDF errors in any of the short cycled runs I've done since then. I'm starting to test the full system using hpc-stack so I'm keeping my eye out for these errors on

[2021-02-18 17:15] AnningCheng-NOAA commented on #200
Hi, Kate,  There is no this error at Hera. I am rerunning the forecast to
see if this error insists as suggested by Cory and Catherine.

On Thu, Feb 18, 2021 at 12:03 PM Kate Friedman <notifications@github.com>
wrote: