[2021-02-19 16:07] KateFriedman-NOAA opened #272 "Post-cmake cleanup and decommissioning"
Perform cleanup after cmake build updates done in PR #264 and decommission now-unneeded files.

- [x] update build_all.sh - remove unneeded build scripts
- [x] remove unneeded build scripts that are now combined into build_workflow_utils.sh
- [x] remove unneeded modulefiles under /modulefiles
- [x] remove unneeded builds from partial_build.sh and fv3gfs_build.cfg

[2021-02-22 14:25] AnningCheng-NOAA commented on #200
All, the error is still there by rerunning the forecasts. I made a run
without MERRA2 and still get the
same error: /work/noaa/stmp/acheng/ROTDIRS/mcyco/logs/2020020406/gdasanal.log.
The rundir is /work/noaa/global/acheng/para_gfs/mcyco.
Kate, how is your test going?

On Thu, Feb 18, 2021 at 12:15 PM Anning Cheng - NOAA Affiliate <
anning.cheng@noaa.gov> wrote:

[2021-02-22 14:40] KateFriedman-NOAA commented on #200
My run of the system (feature/hpc-stack) on Hera using components all building with hpc-stack was successful. I did not see any HDF5 errors...but I only ran 2.5 cycles so far. The GSI master doesn't yet support hpc-stack on other machines so I can't perform the same test on Orion yet.

@CatherineThomas-NOAA @CoryMartin-NOAA Is there a GSI branch with stack support for Orion that I can try? Thanks!

[2021-02-22 14:49] RussTreadon-NOAA commented on #200
Please see NOAA-EMC/GSI issue #110
<https://github.com/NOAA-EMC/GSI/issues/110> for the status of hpc-stack on
non-Hera platforms.  In addition to Hera, hpc-stack builds now exist for
WCOSS_D, Orion, and Jet.   This is beta development.  Use at your own
risk.  No support is provided if you encounter problems.

On Mon, Feb 22, 2021 at 9:40 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-22 14:52] KateFriedman-NOAA commented on #200
Thanks @RussTreadon-NOAA ! I'll try that branch on Orion and WCOSS-Dell to test global-workflow feature/hpc-stack.

[2021-02-22 15:40] RussTreadon-NOAA commented on #200
Ran stand-along GSI script in 3dvar mode on Orion using Anning's files for
2020020406 gdas case.  global_gsi.x built from NOAA-EMC/GSI master and
forked hpc-stack branch ran to completion.  Given this, submit stand-alone
GSI script using NOAA-EMC/GSI master in 4denvar mode.  Job is pending in
the batch queue.   Anning's run uses NOAA-EMC/GSI tag gfsda.v16.0.0.
Could try checking out master in
/wor

[2021-02-22 15:56] RussTreadon-NOAA commented on #200
Note that `/work/noaa/global/acheng/gfsv16_ccpp/modulefiles/module_base.orion` loads
[code]
when it executes gdasanal.

In contrast, /work/noaa/global/acheng/gfsv16_ccpp/sorc/gsi.fd builds DA with
[code]
The NOAA-EMC/GSI master also builds DA on Orion using `netcdfp/4.7.4.release`.

Might the difference between the workflow build and run modules cause problems?

[2021-02-22 20:56] KateFriedman-NOAA commented on #164
Sync merged develop into feature/hpc-stack @ 2cce21a. Retesting on Hera and running first tests of branch on Orion/WCOSS-Dell with Russ's GSI branch.

Components as 2/22/21:
* FV3: https://github.com/ufs-community/ufs-weather-model/commit/06bc77ba3640358b54b6ff03f542e2ce0d3242be
* GSI: Hera @ [GSI master](https://github.com/NOAA-EMC/GSI) ; Orion/WCOSS-Dell @ https://github.com/RussTreadon-NOAA/GSI

[2021-02-23 00:56] RussTreadon-NOAA commented on #200
FYI, a stand-alone GSI run script successfully ran the 2020020406 case on Orion using a `global_gsi.x` built from NOAA-EMC/GSI tag `release/gfsda.v16.0.0`.   The run script loads `modulefile.ProdGSI.orion` found in `gsi.fd/modulefiles`.

[2021-02-23 14:12] AnningCheng-NOAA commented on #200
Russ, glad to know. I will rebuild gsi and make a try. Where is your run
dir and  submit dir?

On Mon, Feb 22, 2021 at 7:56 PM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-02-23 14:31] RussTreadon-NOAA commented on #200
I used a stand-alone script, rungsi1534L127_debug.sh, not the rocoto
workflow.   The script is in /work/noaa/da/Russ.Treadon/git/gsi/scripts.
File gsi1534.o1343532 in the same directory is the job log file.   The job
ran in /work/noaa/stmp/rtreadon/tmp766/gfsda.v16.0.0.2020020406.   I
submitted the script again using your global_gsi.x and your fix.  This job
is waiting in the queue due to today's

[2021-02-23 14:39] AnningCheng-NOAA commented on #200
Russ, I did rebuild global_gsi.x using the netcdfp/4.7.4 (in
gfsv16_ccpp/modulefiles/module_base.orion) and tried yesterday, but was not
successful.

On Tue, Feb 23, 2021 at 9:31 AM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-02-23 14:50] RussTreadon-NOAA commented on #200
I don't think this is the correct approach.  The tests I ran indicate that
the gfsda.v16.0.0 build is OK.   The workflow appears to be the problem,
not gfsda.v16.0.0.  The modules the workflow loads when it runs anal differ
from the modules used to build global_gsi.x.  You should try a test in
which you build global_gsi.x with the gfsda.v16.0.0 modules as is and then
modify the workflow modules.

[2021-02-23 15:16] KateFriedman-NOAA commented on #3
global-workflow CMs have decided not go use manage_externals and will wait to see the solution developed for the unified system. Keeping open until removed.

[2021-02-23 15:17] KateFriedman-NOAA commented on #13
Unclear if coupled-crow will come back to develop soon. Closing issue.

[2021-02-23 15:17] #13 closed, assigned to jkuang-exploro

[2021-02-23 15:18] KateFriedman-NOAA commented on #33
@lgannoaa @JianKuang-NOAA Is this still happening? If not, please close issue, thanks!

[2021-02-23 15:19] KateFriedman-NOAA commented on #99
Checking on this issue again. Please update or close, thanks!

[2021-02-23 15:20] #161 closed, assigned to JessicaMeixner-NOAA, RobertoPadilla-NOAA

[2021-02-23 15:21] JessicaMeixner-NOAA commented on #99
We still have not run a full benchmark to see if this is an issue.  It will be done soon however.  Please keep this issue open.

[2021-02-23 15:22] lgannoaa commented on #33
@KateFriedman-NOAA I am not involved on this task. Thanks

[2021-02-23 15:23] KateFriedman-NOAA commented on #176
New workflow system will cover/fix this. Closing.

[2021-02-23 15:23] #176 closed, assigned to nobody

[2021-02-23 15:25] KateFriedman-NOAA commented on #178
Wrapping up work but waiting on UFS_UTILS commit after March 17th GFSv16 implementation.

[2021-02-23 15:29] KateFriedman-NOAA commented on #193
@yangfanglin Is this issue still active? Please update and/or close, thanks!

[2021-02-23 15:29] KateFriedman-NOAA commented on #196
Please update issue, thanks!

[2021-02-23 15:31] KateFriedman-NOAA commented on #211
@AndrewEichmann-NOAA Please update issue, thanks!

[2021-02-23 15:33] WalterKolczynski-NOAA commented on #230
@XuLi-NOAA @JoshuaFu Is this a duplicate of #196?

[2021-02-23 15:41] yangfanglin commented on #193
Development work is still ongoing.

On Tue, Feb 23, 2021 at 10:29 AM Kate Friedman <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2021-02-23 16:04] KateFriedman-NOAA opened #274 "Evaluate remaining workflow util execs for new homes"
Remove or rehome workflow utils to new repos

[2021-02-23 16:09] KateFriedman-NOAA opened #275 "Update $FIX_DIR to "fix""
Update $FIX_DIR in link_fv3gfs.sh to point to developmental "fix" set and move beyond frozen v16 "fix_nco_gfsv16".

Wait until final GFSv16.0.7 changes go into develop.

[2021-02-23 16:15] AndrewEichmann-NOAA commented on #211
Tweaks to config files worked, closing. Thank you for your troubleshooting!

[2021-02-23 16:15] #211 closed, assigned to nobody

[2021-02-23 16:29] WalterKolczynski-NOAA commented on #99
I can handle this at some point, but it isn't currently a high priority.

[2021-02-23 16:45] JessicaMeixner-NOAA commented on #99
@WalterKolczynski-NOAA - we aren't sure if moving to inline post (which we're struggling to do w/high number of x_layout, y_layout) and all the recent updates will make this a moot point or not.

[2021-02-23 17:11] WalterKolczynski-NOAA commented on #99
Even with inline post, there would be jobs to produce the atmos products (regridding master to 1-deg or 0.5-deg or whatever). Right now these are still called "post" because GFS had combined the two steps into one job, but I am already writing a new script that just does the product generation step that also takes some of the techniques I used for the GEFS scripts to make it more generic/configura

[2021-02-23 22:46] JoshuaFu-NOAA commented on #230
Two groups worked on the same project.

[2021-02-23 22:50] JoshuaFu-NOAA commented on #230
Thanks for merging these two issues together!

[2021-02-23 22:52] WalterKolczynski-NOAA commented on #230
Since this is the one with activity, I'm going to close the other one

[2021-02-23 22:53] WalterKolczynski-NOAA commented on #196
Closed as duplicate of #230

[2021-02-23 22:53] #196 closed, assigned to JoshuaFu-NOAA

[2021-02-24 15:12] JessicaMeixner-NOAA opened #276 "feature/coupled-crow inline post with certain layout-x layout-y does not work"
When using inline post with the feature/coupled-crow branch and using a layout-x layout-y such as 8,12 the forecast model crashes.   (will add more details)

[2021-02-24 15:13] JessicaMeixner-NOAA opened #277 "feature/coupled-crow update input.nml"
feature/coupled-crow in prep for prototype 6 needs to update the hash of ufs-weather-model  and update some of the input.nml namelist values (details will be added).

[2021-02-24 15:19] RussTreadon-NOAA commented on #200
The following test has been run on Orion.

- copy "/work/noaa/global/acheng/para_gfs/mcyco" to "/work/noaa/da/Russ.Treadon/para_gfs/mcyco".  Update to run under in my PTMP using acheng HOMEgfs
- populate "/work/noaa/stmp/rtreadon/ROTDIRS/mcyco" with files from "/work/noaa/stmp//acheng/ROTDIRS/mcyco"
- rocotorewind and rocotoboot 2021020406 gdasanal.   Job requested 125 nodes with lengthy estimated

[2021-02-24 15:53] JessicaMeixner-NOAA commented on #277
A tag will be created for ufs-weather-model, so we should point to that instead of a hash.

The time steps will be:
dt (atm, ice, wave, fast cpl) =225, dt_slow=dt_dyn(ocn)=900,  dt_therm(ocn)=1800

The input.nml options should be updated to match: /scratch2/BMC/gsd-hpcs/Shan.Sun/FV3_RT/v16_35d_8cases_feb20/cpld_bmarkfrac_wave_v16_35d_2012010100_prod/input.nml
(there will be some diffs because the

[2021-02-24 15:56] JessicaMeixner-NOAA commented on #277
For prototype 5, we made a case file for the prototype with the balanced layout (which should be updated in all the case files) and correct forecast length.  We should probably do that for p6 as well.

[2021-02-24 15:58] JessicaMeixner-NOAA commented on #276
If you run the cases/coupled_free_forecast_wave.yaml from feature/coupled-crow but change
[code]

to
[code]

or other values, the forecast model will segfault.  I've tried increasing the number of pets in the write group but this also doesn't work.  This maybe should be a ufs-weather-model issue instead?

[2021-02-24 16:00] AnningCheng-NOAA commented on #200
Russ, and all: I merged the workflow with the latest version, recompiled
the code, submitted mcyc, but has not resubmitted mcyco. The workflow is
running well now for both MERRA2 (mcyc) and OPAC (mcyco). I guess it is due
to the merging. Thank you! your comments are welcome.

On Wed, Feb 24, 2021 at 10:19 AM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-02-24 16:05] KateFriedman-NOAA commented on #164
Upon closer inspection of "successful" run of feature/hpc-stack on Hera I found the prep jobs utterly failed but still completed "successfully" (major silent failure) and the rest of the cycle ran "successfully" without prepbufr from prep. There are stack-related issues to resolve and silent errors to fix. Need to get obsproc codes converted to hpc-stack; have meeting with Shelley Melchior tomorro

[2021-02-24 16:35] yangfanglin commented on #276
Jessica,

Please use

fv3_gfs_settings:
    layout:
       x: 8
       y: 12

and use 2 threads.  Then, the atmos forecast will need 576 tasks, or
29 nodes on hera and 42 nodes on WCOSS, excluding I/O tasks.

If this configuration is still not good for running 35-d forecast
within 8 hours, then use

fv3_gfs_settings:
    layout:
       x: 8
       y: 16

and use 2 threads.  Then, the atmos forecas

[2021-02-24 16:45] JessicaMeixner-NOAA commented on #276
@yangfanglin I started a test with your suggested:
fv3_gfs_settings:
    layout:
       x: 8
       y: 12
and 2 threads.   We will see if the inline post works when using 2 threads or not.  This issue is more about the inline post issue than trying to get the load balancing correct.  The test I'm running now is not using the latest settings/time steps so it's not a good test for that, but will let

[2021-02-24 16:54] yangfanglin commented on #276
Jessica,

UPP is still not threading safe.  It is better to compile the upp lib
without openMP.  I believe Rahul has given Wen a special script to compile
the UPP lib using hpc-stack without invoking openMP.

On HERA if you set 2 threads and 20 tasks per node, the inline post will be
running 20 tasks on each node without threading.

Not sure if this helps.

Fanglin

On Wed, Feb 24, 2021 at 11:45 A

[2021-02-24 17:00] JessicaMeixner-NOAA commented on #276
Can we just increase the layout_x/layout_y instead of using threads to avoid this problem?  I got pretty decent balance when using 8, 24 although that was with dt=300 not dt=225.

The run to test inline post with 8,12 and 2 threads is in the queue.

[2021-02-24 17:10] yangfanglin commented on #276
It is  fine to use one thread if memory is not an issue.

On Wed, Feb 24, 2021 at 12:01 PM Jessica Meixner <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2021-02-24 17:47] KateFriedman-NOAA commented on #238
Created feature/issue238 to merge v16.0.7 changes into develop branch.

[2021-02-24 19:19] arunchawla-NOAA commented on #276
we are not using threading for coupled model are we? MOM6 also is thread unsafe right?

[2021-02-24 19:28] arunchawla-NOAA commented on #276
@junwang-noaa just curious if the ufs-weather-model with inline post works fine for the different lay outs in rt.sh and if this is a coupled-crow workflow issue in how the resources are laid out

[2021-02-24 19:40] junwang-noaa commented on #276
Yes. ufs-weather-model with inline post works fine with different layouts.
And MOM6 is not thread safe so it's good not to use threads in the coupled
run.

On Wed, Feb 24, 2021 at 2:29 PM arun chawla <notifications@github.com>
wrote:

[2021-02-24 19:42] SMoorthi-emc commented on #276
I am using threading in coupled runs.  MOM6 is not threaded, but CICE6 is.
Moorthi

On Wed, Feb 24, 2021 at 2:19 PM arun chawla <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel:

[2021-02-24 19:45] SMoorthi-emc commented on #276
Again, we need to compile MOM6 without OPENMP.
If we can't use threading in FV3, we can't run C768L127 in the coupled
mode, period!
Moorthi

On Wed, Feb 24, 2021 at 2:41 PM Jun Wang <notifications@github.com> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Res

[2021-02-24 19:49] arunchawla-NOAA commented on #276
ok @junwang-noaa or @DusanJovic-NOAA can we confirm that the ufs-weather-model is building MOM6 without threading? I may be wrong but I am not sure if we can build one component without threading. If mom6 does not have threading then I guess building with openmp should not be a problem

Regardless, this problem looks like a workflow issue. @KateFriedman-NOAA and @WalterKolczynski-NOAA can you take

[2021-02-24 19:50] yangfanglin commented on #276
As Moorthi said, threading is required to run C768L127 atmos.

Can the coupled model be configured to use different threadings for
different components?

If MOM6 is not threading safe, is anyone at EMC ot  GFDL checking it ?
 How can MOM6 be used for high-res ocean modeling if it is not threading
safe ?

On Wed, Feb 24, 2021 at 2:45 PM SMoorthi-emc <notifications@github.com>
wrote:

--
*Fanglin Ya

[2021-02-24 19:52] arunchawla-NOAA commented on #276
let us move this to a different issue

[2021-02-24 19:55] SMoorthi-emc commented on #276
Well, with GNUMake, I was doing that.
With this blackbox (for me) CMake, I don't know, but I know that if you run
MOM6 with threading, you get garbage, essentially.
Since I am running with threading (and for 120 days) and the AM results
look good, I have to assume it is compiled without openMP for MOM6.
However, this CMake has made me less confident in this regard.
Moorthi

On Wed, Feb 24, 2021 at

[2021-02-24 20:03] junwang-noaa commented on #276
MOM6 is not built with "openmp" in current cmake build.

On Wed, Feb 24, 2021 at 2:55 PM SMoorthi-emc <notifications@github.com>
wrote:

[2021-02-24 20:03] SMoorthi-emc commented on #276
I just now recompiled the model and grepped "openmp" associated with MOM6
and there are none.
I think MOM6 is getting compiled without openMP.
Moorthi

On Wed, Feb 24, 2021 at 2:54 PM Shrinivas Moorthi - NOAA Federal <
shrinivas.moorthi@noaa.gov> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Enviro

[2021-02-24 20:10] WalterKolczynski-NOAA commented on #276
This should definitely be a ufs-weather-model issue and not a workflow issue. Recommend starting an issue there, if there isn't been one already.

[2021-02-24 20:14] junwang-noaa commented on #276
@Walter Kolczynski - NOAA Affiliate <walter.kolczynski@noaa.gov> I am
confused, what is the issue with ufs-weather-model?

On Wed, Feb 24, 2021 at 3:10 PM Walter Kolczynski - NOAA <
notifications@github.com> wrote:

[2021-02-24 20:21] WalterKolczynski-NOAA commented on #276
If there are problems in the compilation or threadedness, that is not a workflow issue other than changes that need to be made in the resource request or settings.

[2021-02-24 20:30] junwang-noaa commented on #276
There is no problem in building the coupled model.

On Wed, Feb 24, 2021 at 3:21 PM Walter Kolczynski - NOAA <
notifications@github.com> wrote:

[2021-02-24 20:41] arunchawla-NOAA commented on #277
@WalterKolczynski-NOAA can you take a look at this ? It should be fairly straight forward. @JessicaMeixner-NOAA is trying to solve an MPI bug for WW3 in prep for prototype 6

[2021-02-24 20:45] arunchawla-NOAA commented on #276
sorry we got side tracked with the build issue here. My bad. To repeat

Running with different layouts in inline post is causing a crash. It is not a problem when the model is run using the RT workflow, which brings this back to the global workflow.

@JessicaMeixner-NOAA do we have a test case that can be tried? It may be a simple case of how resources are being laid out for it that is causing the

[2021-02-25 12:15] RussTreadon-NOAA commented on #200
My rerun of mcyco gdasanal for 2020020406 using 125 nodes ran overnight without any errors.   The previous 50 node job was terminated after hitting to one hour wall clock.   Based on minimization stats in the log file it was reproducing the output from the 125 node job.  This makes sense.   GSI results do not vary with task count.  The queue wait time for a 50 node job is less than a 125 node job.

[2021-02-25 13:50] JessicaMeixner-NOAA commented on #276
I ran the test yesterday as suggested by @yangfanglin with layout 8,12 and 2 threads and the inline post worked.  This has not worked for me in the past with only 1 thread, so it maybe it was a memory issue when only using 1 thread?   Would that make sense to you @junwang-noaa to need more memory?  I know that Moorthi and others have successfully run inline post with layouts such as 8,12, so I hav

[2021-02-25 14:01] junwang-noaa commented on #276
How many write tasks are you using?

On Thu, Feb 25, 2021 at 8:50 AM Jessica Meixner <notifications@github.com>
wrote:

[2021-02-25 14:23] JessicaMeixner-NOAA commented on #276
For now, 1 with 24 tasks.   I've tried larger number of tasks and multiple write groups but neither seemed to help.

[2021-02-25 14:28] AnningCheng-NOAA commented on #200
Yes, that is correct.

On Thu, Feb 25, 2021 at 7:15 AM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-02-25 14:34] RussTreadon-NOAA commented on #200
Thanks for the confirmation.  I'll stand down on this issue.

[2021-02-25 14:41] junwang-noaa commented on #276
This does sound like a memory problem. Increasing write groups does not
help. What error message do you get and what is the large number of tasks
you tried?

On Thu, Feb 25, 2021 at 9:24 AM Jessica Meixner <notifications@github.com>
wrote:

[2021-02-25 14:47] JessicaMeixner-NOAA commented on #276
The errors were segfaults.  I don't seem to have any saved log files.  I can run a new test case from the workflow if seeing the exact error message would be helpful (the regtests for S2S do not using inline post and I haven't managed to add that to an RT test for easy debugging yet).  If I do that, does 24 tasks for the write group sound reasonable? Or should I try something different?

[2021-02-25 14:53] yangfanglin commented on #276
Jessica,

On HERA, give each I/O group 40 or 80 tasks, e.g.,  2 or 4  nodes since
threads=2.
You can try multiple groups if the I/O is holding back the forecast.

On Thu, Feb 25, 2021 at 9:24 AM Jessica Meixner <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www

[2021-02-25 15:03] SMoorthi-emc commented on #276
You don't need more than 40 tasks; I only gave 32 tasks and I had 3 groups
(I was writing every 3 hours).
(I actually compute in the script how much based on filing the whole nodes).
Moorthi

On Thu, Feb 25, 2021 at 9:53 AM Fanglin Yang <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National C

[2021-02-25 15:51] SMoorthi-emc commented on #276
Well, I can confirm that it is the memory issue.  L127 requires more memory
in post.
When you use 2 threads, you use only 20 tasks per node, which gives more
memory.
For one thread case you will need more write tasks; my guess is that one
node is enough.  Otherwise, a bit more.
Moorthi

On Thu, Feb 25, 2021 at 9:48 AM Jessica Meixner <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Rese

[2021-02-25 15:57] JessicaMeixner-NOAA commented on #276
Thank you @SMoorthi-emc!  If you are only using 1 thread do you know a number of pets you can use in the write grid components and it still work?  I have a test with 80 write tasks about to be submitted to test.

[2021-02-25 16:31] SMoorthi-emc commented on #276
I don't have a number, but 80 should be sufficient.
Moorthi

On Thu, Feb 25, 2021 at 10:57 AM Jessica Meixner <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-

[2021-02-25 17:03] #175 closed, assigned to WalterKolczynski-NOAA

[2021-02-25 20:16] JessicaMeixner-NOAA commented on #276
80 worked! With 1 thread and layout 8,12, 80 write tasks got pasted the memory issues.  Thank you @SMoorthi-emc and @junwang-noaa for helping solve this.  I'm going to close this issue.

[2021-02-25 20:16] #276 closed, assigned to nobody

[2021-03-01 16:01] KateFriedman-NOAA opened #279 "Update EMC_verif-global tag to verif_global_v1.13.5"
Update EMC_verif-global tag to verif_global_v1.13.5.

Fixes bug in plotting of confidence interval bars in mean plots: https://github.com/NOAA-EMC/EMC_verif-global/issues/32

[2021-03-01 16:18] KateFriedman-NOAA commented on #164
Met with @ShelleyMelchior-NOAA to give introduction to hpc-stack for OBSPROC. Then converted a copy of obsproc_prep_RB-5.4.0 to build with hpc-stack. Also updated a copy of obsproc_global_RB-3.4.0 with needed stack-related updates from prod_util subfolder (ush -> bin); no codes to build in obsproc_global_RB-3.4.0. Successfully built obsproc-prep codes on WCOSS-Dell:

/gpfs/dell2/emc/modeling/save/

[2021-03-01 18:16] arunchawla-NOAA commented on #164
@WalterKolczynski-NOAA is the coupled crow branch running with hpc-stack?

[2021-03-01 18:21] arunchawla-NOAA opened #280 "setting up coupled workflow on Xsede platforms"
Once the coupled workflow is working using hpc-stack, we should do a migration of the workflow on XSEDE platforms.

We can use stampede2 as a test case. The model and hpc-stack should already be available on the different XSEDE platforms

[2021-03-01 18:24] WalterKolczynski-NOAA commented on #164
The two programs that are currently being built for the coupled model and located in the g-w repo are (ww3prepost and reg2grb2). The model also is using stack. The post tag still needs to be updated to one using stack, and none of the programs that aren't currently being build for coupled have been updated.

[2021-03-02 03:41] Hang-Lei-NOAA commented on #280
According to Arun's order:

I have modified hpc-stack to get used to the stampede2 machine compilers.
And installed the hpc-stack release v1.1.0 on stampede2.
(BTW, unlike comet,  the stampede2 need to be supported by university
account, my account was supported byTACC university fund)
To use it:

module use /work/08048/hanglei/NCEP/install/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module

[2021-03-02 03:50] Hang-Lei-NOAA commented on #280
For the work on comet:
Since there is no lmod, and compiler is not standard installation, I have modified the hpc-stack to installed NCEP libraries there under a flat structure.  Minsuk Ji has helped a lot on testing my installations. We now have a working version there.

[2021-03-02 14:21] WalterKolczynski-NOAA commented on #280
@JianKuang-NOAA already has a PR for this (#261), but there have been no updates in a couple weeks.

[2021-03-02 14:35] MinsukJi-NOAA commented on #280
Back in September, I ported the old S2S model (before merged into the UFS-weather-model) to Stampede2 based on Kyle Gerheiser's hpc-stack installation there. I will port the UFS-weather-model to Stampede2 based on Hang's hpc-stack installation. I use the regression test framework to build and run a test.

Hang, my understanding is that XSEDE will use Expanse [(AMD machine)](https://www.sdsc.edu/se

[2021-03-02 14:46] Hang-Lei-NOAA commented on #280
Thanks for letting me know the expanse machine will be used. We will
install NCEP libraries on any machine based on the project request.

On Tue, Mar 2, 2021 at 9:36 AM Minsuk Ji <notifications@github.com> wrote:

[2021-03-02 14:53] WalterKolczynski-NOAA commented on #280
Based on the email from Christine, we have allocation on stampede2, expanse, and bridges-2

[2021-03-02 19:22] KateFriedman-NOAA commented on #164
Changes were required to two scripts that the GFS uses in EMC_post. Contacted Wen to get changes in related to the setting of POSTGRB2TBL: `${G2TMPL_SRC}` -> `${g2tmpl_ROOT}/share`. She folded the updates into a PR and they are now in EMC_post develop at https://github.com/NOAA-EMC/EMC_post/commit/33eb60e5b486d9ff670c76b799f886b7f47c2022. Will test with that hash now.

This hash does not build wit

[2021-03-02 20:36] BrianCurtis-NOAA commented on #168
fcst.yml in coupled-crow workflow/config has
[code]
Is there a reason we haven't just uncommented the export with the calculation?

Couldn't we just do something like:
[code]
I imagine there's a simpler way without duplicating code?

[2021-03-02 20:59] JessicaMeixner-NOAA commented on #168
That's a great question @BrianCurtis-NOAA.  I don't remember why the calculation didn't work - but I don't think it did (and I really think I would have tried it before commenting it out, but maybe I didn't).   That's the calculation in the develop branch configuration system.

I do think you could do what you suggested.  I could see the potential downside of what you suggested is it'd be a fixed/

[2021-03-02 23:48] WalterKolczynski-NOAA commented on #168
I'm testing a better way right now.

[2021-03-03 14:29] JessicaMeixner-NOAA commented on #277
@WalterKolczynski-NOAA there are enough WW3 ICs made that I'm going to go ahead and stage them in the climpara area and then copy over the last bit.  Which means we should be okay to un-comment the copying of the WW3 restart files.  Do you have a branch with changes that I can push these changes to along with these others or would you prefer it go in as a separate PR?

[2021-03-03 16:02] WalterKolczynski-NOAA commented on #277
It can be a separate PR. My branch doesn't even have commits yet, since I'm still waiting to confirm the changes work.

[2021-03-03 16:09] JessicaMeixner-NOAA commented on #277
The tag for the weather-model as of now: https://github.com/ufs-community/ufs-weather-model/tree/Prototype-6.0beta

[2021-03-03 16:40] JoshuaFu-NOAA commented on #99
the current setting for ufs-model postprocessing is very time-consuming and error-prone, hope inline-post can help fix this issue.

[2021-03-03 16:42] JoshuaFu-NOAA commented on #99
the current setting for ufs-model postprocessing is very time-consuming and error-prone, hope the inline post can help fix this problem.

[2021-03-03 20:32] KateFriedman-NOAA commented on #164
OBSPROC global and prep packages that were converted to build with hpc-stack have been installed under emc.glopara[glopara] space on WCOSS-Dell, Hera, Orion, and Jet. @ShelleyMelchior-NOAA Copy for obsproc with cleaned up build.sh that supports those platforms is here on Venus:

/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/obsproc/obsproc_prep_RB-5.4.0_hpc-stack
/gpfs/dell2/emc/modeling/noscru

[2021-03-04 01:22] WalterKolczynski-NOAA commented on #277
Sample namelist: https://gist.github.com/WalterKolczynski-NOAA/e52fbb33180ef9dcc82cc714bdedd0b2

[2021-03-04 16:02] KateFriedman-NOAA commented on #272
Created branch for this task: feature/issue272

[2021-03-06 18:13] JessicaMeixner-NOAA commented on #256
@WalterKolczynski-NOAA this is for the develop branch.  Not the coupled branch.

[2021-03-08 16:23] JessicaMeixner-NOAA opened #283 "coupled: setting the correct npe_node_fcst"
In the feature/coupled-crow branch, the variable npe_node_fcst is set to the maximum pets per node, even when threads are requested.  This means that when the env/${MACHINE}.env file is sourced, that the requested threads gets set back to 1 because npe_node_max=npe_node_fcst

[code]

I have added a workaround in my branch for now, that in ush/forecast_predet.sh I have commented out:
NTHREADS_FV3=$

[2021-03-08 17:59] #279 closed, assigned to KateFriedman-NOAA

[2021-03-08 18:10] KateFriedman-NOAA commented on #279
Thanks @malloryprow !

[2021-03-08 19:36] KateFriedman-NOAA commented on #272
Sync merged feature/issue272 with develop branch.

[2021-03-09 18:47] KateFriedman-NOAA commented on #164
Testing update:

1. Clone updates: refreshed copy of UFS_UTILS feature/stack in clone of global-workflow feature/hpc-stack (git pull in sorc/ufs_utils.fd) on WCOSS-Dell, Hera, and Orion. Reran build of UFS_UTILS in each (no issues). Also recloned the GSI in global-workflow clone on all three platforms (now using GSI master everywhere); reran build of GSI in each (also no issues). Running another f

[2021-03-10 13:27] JessicaMeixner-NOAA opened #286 "move some wave fix files to parm dir"
Many of the wave fix files should be parm files.  They are ascii input files and if for example you want to change the time step, you are required to change a fix file which does not make sense.

[2021-03-10 21:31] WalterKolczynski-NOAA opened #289 "[NCO Bug] Remove usage of compath.py for COMIN variables"
The current GFS package uses compath.py to determine the default $COMIN. However, compath.py should only be used for determining the path of upstream models and is not intended for references to the current model.

NCO requests this be corrected in the next major upgrade.

[code]

Refs: [Bugzilla #1210](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1210)

[2021-03-10 21:59] #272 closed, assigned to KateFriedman-NOAA

[2021-03-11 19:05] WalterKolczynski-NOAA commented on #289
Should be $COMROOT/$NET/$envir/$RUN.$PDY

[2021-03-12 02:13] WalterKolczynski-NOAA opened #290 "[NCO Bug] WMO files should not include the job name in the filename"
Jen Yang 2020-12-28 21:35:32 UTC
Currently in both gfs v15 (current production) or gfs V16 (30 days parallel), some wmo files are with job name inside the file name, this would cause some inconsistency when job name change in the upgrade. Please fix this to remove the job name from the file name in the next upgrade.

Here is some example wmo file name that contain the job name (or partial job name

[2021-03-12 02:16] WalterKolczynski-NOAA opened #291 "Combine GFS and UKMET gempak scripts"
Holly Uhlenhake 2021-03-10 19:56:29 UTC
The ukmet package produces a file for the international desk at WPC for the South American domain.  The gempak meta file is an overlay of GFS data with UKMET data.  The 00z version of this file is produced by the task ukmet_gempak_meta_sa2.sh, but the 06z file is produced by the gfs gempak script gfs_meta_sa2.sh.  The scripts are nearly identical and produce

[2021-03-12 02:22] WalterKolczynski-NOAA opened #292 "Remove goto statements from GFS package"
This is a tracking issue to monitor the progress of goto statement removal from packages used by global-workflow. This issue should link to the corresponding GitHub issues in the offending packages to ensure all are addressing this issue.

As of 16.0.7, here is the goto count reported by NCO:

enkf_chgres_recenter.fd : 49
enkf_chgres_recenter_nc.fd : 13
fbwndgfs.fd : 3
fv3gfs.fd : 1298
gaussian_sf

[2021-03-12 02:27] WalterKolczynski-NOAA opened #293 "[NCO Bug] Standard environment variables should not be set below the j-job level"
Wojciech Cencek 2019-06-18 02:00:04 UTC
Standard environment variables (WCOSS Implementation Standards, Table 1) must not be set or changed below the j-job level, for instance in scripts/exglobal_enkf_post_fv3gfs.sh.ecf:

HOMEgsi=${HOMEgsi:-$NWPROD}
FIXgsi=${FIXgsi:-$HOMEgsi/fix}
DATA=${DATA:-$pwd}
COMIN=${COMIN:-$pwd}
COMOUT=${COMOUT:-$COMIN}

Please remove all such lines from files in ./scripts

[2021-03-12 02:27] WalterKolczynski-NOAA commented on #293
I'm checking to confirm if this is still an issue with the code delivered for v16

[2021-03-12 02:38] WalterKolczynski-NOAA opened #294 "Use err_chk/err_exit for all error checking"
Many scripts use $ERRSCRIPT to check if the return value is non-zero. With the standardization of hpc-stack including prod_utils scripts, this workaround for machines where err_chk and err_exit aren't available can be removed.

`
In the gfs.v16 which is currently in parallel, there are some scripts use some local define $ERRSCRIPT variable to handle the error checking, here is example in some gfs

[2021-03-12 15:57] WalterKolczynski-NOAA opened #295 "Some WAFS files are still using fHH instead of fHHH"
Jen Yang 2021-03-12 04:29:19 UTC
In both current production gfs.v15 and parallel v16, some wafs files still use fHH in the file name. Here is some example:

gfs.t00z.wafs_grb45f06.grib2
wafsgfs38.t00z.gribf06
wafsgfs38.t00z.gribf06.grib2
gfs.t00z.wafs_grb45f06.nouswafs.grib2
gfs.t00z.wafs_0p25_unblended.f06.grib2

Please change the file name following the naming convention to use three digit for f

[2021-03-12 16:05] WalterKolczynski-NOAA commented on #294
More from the wave scripts:

Jen Yang 2021-03-12 06:02:48 UTC
Currently in the gfs wave jobs, it does the following for error checking:
in some jobs scripts: export errchk=${errchk:-err_chk}
In ex scripts: err=9;export err;${errchk}

Not all jobs define the $errchk, that would cause errchk call not able to catch the error when it gets call in the downstream scripts. It would be better to call the

[2021-03-12 16:14] WalterKolczynski-NOAA opened #296 "Wave scripts should not redirect standard output away from the log file"
Jen Yang 2021-03-12 06:53:53 UTC
The gfs wave jobs run always redirect the standard output to files in working directory, therefore a lot of job execution is missing in the standard job output, when the job finishes the working directory is removed. All the log files are gone, this make it very hard for debug or trace the job input and output. Please improve the job output logging to include the e

[2021-03-12 16:15] HuiyaChuang-NOAA commented on #295
@WalterKolczynski-NOAA @YaliMao-NOAA
We're working with FAA and UK to retire most of these files in GFS V17

[2021-03-12 16:27] WalterKolczynski-NOAA opened #297 "[NCO Bug] Wave post should not copy files to COM whose names might collide"
Wave post is copying out_grd* files with the same name from different subdirectories to the rundata directory on COM. These are apparently not used later, so this isn't causing any issues, but is still confusing and can prevent directory reproducibility.

If these files are not actually needed after the job is over, they should not be copied to COM at all. Otherwise, they should be given unique na

[2021-03-12 16:40] WalterKolczynski-NOAA commented on #293
It is still an issue:

Jen Yang 2021-03-12 04:15:02 UTC
The problems listed in "Bug 892 - Standard environment variables set below the j-job level" is not completely fixed in gfs.v16.  Here I open a new ticket to summarize all the issues related to Standard environment variables setting in gfs package.

1. As mentioned in bug 892: There are Standard environment variables defined in the scripts and

[2021-03-12 16:45] WalterKolczynski-NOAA commented on #293
We may want to discuss some of these with NCO. Defining default values in a lower-level script should be allowed as long as existing values are not overwritten. Otherwise it can mess with compartmentalization, especially if the script is shared between multiple systems.

[2021-03-12 16:48] WalterKolczynski-NOAA opened #298 "Remove Hera MOD_PATH from build scripts"
Jen Yang 2021-03-12 13:51:07 UTC
There are some hardcoded path refer to Hera location in gfs build scripts and some make files in gfs.v16.0.  Please clean them up.
Here are some example, please check the other files that are not listed here as well.

The following build scripts point the MOD_PATH to hera location as:
"export MOD_PATH=/scratch3/NCEPDEV/nwprod/lib/modulefiles"

build_enkf_chgres_rec

[2021-03-12 17:00] WalterKolczynski-NOAA commented on #293
Yet more:

Jen Yang 2021-03-12 07:14:58 UTC
It is required that hardcoded paths needed to remove from ex-scripts, ush scripts, parm files, fix files, etc.  except the J-job and initialization files?

In gfs.v16.0, the following files has hardcode modules:

exgdas_atmos_gldas.sh:export FINDDATE=${FINDDATE:-/gpfs/dell1/nco/ops/nwprod/prod_util.v1.1.4/ush/finddate.sh}
exgdas_atmos_gldas.sh:export uti

[2021-03-12 17:05] WalterKolczynski-NOAA opened #299 "Improve inline documentation"
This is an umbrella issue to both monitor the progress of updating docblocks from packages used by global-workflow and updates of scripts owned by g-w itself. This issue should link to the corresponding GitHub issues in the offending packages to ensure all are addressing this issue.

Jen Yang 2021-03-12 06:21:42 UTC
It is required that all the production code/scripts have meaningful document block

[2021-03-12 17:08] WalterKolczynski-NOAA opened #300 "Makefiles need to support debug and clean"
This is a tracking issue to monitor the progress of updating makefiles from packages used by global-workflow. This issue should link to the corresponding GitHub issues in the offending packages to ensure all are addressing this issue.

Jen Yang 2021-03-12 06:46:05 UTC
Scanned the makefiles in gfs.v16.0 source code package, and found the following makefiles missing debug or clean target. Please upd

[2021-03-12 17:09] yangfanglin commented on #293
I had discussions with NCO before on this requirement and emphasized that
we need to keep these local definitions of directory paths for running the
same system on other platforms for RD.   NCO seems to be not fully
appreciating the RD requirements.  Yes, this needs to be better
communicated with NCO. -- Fanglin

On Fri, Mar 12, 2021 at 12:00 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

--
*

[2021-03-12 17:34] WalterKolczynski-NOAA commented on #300
Assigned to Arun since this will require management of several projects.

[2021-03-12 17:35] WalterKolczynski-NOAA commented on #300
I'm also fairly certain some of these makefiles are not used in production.

[2021-03-12 18:15] JessicaMeixner-NOAA commented on #300
The following make files:
fv3gfs.fd/WW3/regtests/ww3_tp2.14/input/toy/Makefile
fv3gfs.fd/WW3/regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mct/Makefile
fv3gfs.fd/WW3/regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mpeu/Makefile
fv3gfs.fd/WW3/regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/Makefile
fv3gfs.fd/WW3/regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/texsrc/Makefile
fv3gfs.fd/WW3/regtests/ww

[2021-03-16 13:28] KateFriedman-NOAA commented on #164
@JessicaMeixner-NOAA opened https://github.com/NOAA-EMC/hpc-stack/issues/193 for building the WW3 execs with hpc-stack. Will need this issue resolved so we can build the WW3 execs in global-workflow with a new build script, they are now separate from the FV3 model build.

[2021-03-16 18:45] KateFriedman-NOAA commented on #238
Diff between nwpara/gfsv16.0.7 and release/gfsv16.0.0 today (Venus) showed transfer files were updated. Pulled in transfer parm files updates and committed at 39bab45.

[2021-03-16 19:55] CatherineThomas-NOAA opened #301 "GFSv16.1 global-workflow changes"
The GFSv16.1 implementation incorporates the newly purchased commercial GNSSRO data from Delivery Order 2 (DO-2).  This will require changes in the DA as well as changes to config files.

As of 3/16, the workflow package needs to be delivered by 4/27 with implementation scheduled for 5/18.

Work will be done in release/gfsv16.1, which will be created once GFSv16 is implemented in operations and re

[2021-03-17 18:48] MinsukJi-NOAA commented on #280
@Hang-Lei-NOAA Do you know if hpc-stack libraries are installed on bridges2?
https://www.psc.edu/resources/bridges-2/user-guide-2/

[2021-03-17 18:57] Hang-Lei-NOAA commented on #280
Hi, Minsuk
It is not yet. I was trying once last month, but there are some issues due
to the inappropriate installation of the impi compiler in that system. You
can check that. They did not follow the intel instruction to install the
mpi compiler, but mixed the mpi with the serial intel compiler. That caused
a series of trouble when loading both. I either need time to modify the
hpc-stack to use t

[2021-03-18 20:59] #238 closed, assigned to KateFriedman-NOAA

[2021-03-22 14:13] pjpegion opened #303 "Stochastic physics restart file format change"
The update to the ufs-weather-model that went in on March 21 https://github.com/ufs-community/ufs-weather-model/commit/3e46f5b7050e18884a0bed13691823ad88d443c3 includes a change to the stochastic physics restarts.

They are now written in netCDF format, and the file names have changed.

The new naming convention for the atmospheric stochastic restarts is
RESTART/YYYYMMDDHH.000000.atm_stoch.res.nc

[2021-03-22 17:47] WalterKolczynski-NOAA opened #304 "Add GOCART to coupled workflow"
The GOCART aerosol model needs to be added to the coupled workflow.

[2021-03-23 13:53] BrianCurtis-NOAA commented on #265
[code]
I'm assuming this is a numpy build issue on the intel python distribution on HERA? How/where do I go about resolving this?

[2021-03-23 14:55] BrianCurtis-NOAA commented on #265
I've sent an e-mail off to the helpdesk for now.

[2021-03-23 15:23] KateFriedman-NOAA commented on #1
Created branch release/gfsv16.0.0_to_ops off of operations branch for merging release/gfsv16.0.0 branch into the operations branch post-GFSv16 implementation on March 22nd 12z. Will use release/gfsv16.0.0_to_ops branch to resolve conflicts before submitting PR of release/gfsv16.0.0_to_ops into operations branch.

[2021-03-23 15:36] KateFriedman-NOAA commented on #1
Performed merge of release/gfsv16.0.0 branch into release/gfsv16.0.0_to_ops branch. Resolved conflicts in following files:
[code]

Committed merge to release/gfsv16.0.0_to_ops at de7b54ea.

[2021-03-23 17:39] WalterKolczynski-NOAA commented on #265
I'll make sure Kate and I also bring it up in the next HUG meeting. Commonly used packages like numpy need to be supported by RDHPCS.

[2021-03-23 20:13] BrianCurtis-NOAA commented on #265
Seems `File "/scratch1/NCEPDEV/global/glopara/svn/nceplibs/produtil/trunk/ush/produtil/fileop.py"` needs to be updated as well. What repo is this file stored in? Should I ask a specific group to edit it?

[code]

[2021-03-24 05:38] WalterKolczynski-NOAA commented on #265
prod_util has been added to hpc-stack, though as of right now we would also need to get NCO to update for production. I don't know if the plan is for us to take that over with hpc-stack or not. @arunchawla-NOAA may know more.

[2021-03-25 16:46] KateFriedman-NOAA commented on #301
Created branch release/gfsv16.1 for this work. Created from release/gfsv16.0.0_to_ops branch; will need to sync with operations branch once merge of release/gfsv16.0.0_to_ops into operations completes.

https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.1

[2021-03-25 20:30] WalterKolczynski-NOAA commented on #280
@JianKuang-NOAA are you sure post built when you ported to Stampede, because it is not for me.

[2021-03-25 20:42] jkuang-exploro commented on #280
@WalterKolczynski-NOAA No. the UPP version in this PR only accomplish hpc-stack capability and built with cmake. I don’t think there’s a version of UPP working on stampede yet at the time I last test this PR. Probably other teams are working on it.

[2021-03-25 20:53] arunchawla-NOAA commented on #280
aren't we using inline post? hpc-stack should contain the UPP library

[2021-03-25 20:55] WalterKolczynski-NOAA commented on #280
We are. I'm not sure we need to build post on our own anymore. But right now the branch still is. I'm going to try without.

[2021-03-26 01:39] WalterKolczynski-NOAA commented on #280
@JianKuang-NOAA what about rocoto? I don't see a module for it anywhere.

[2021-03-26 03:08] jiandewang commented on #280
@WalterKolczynski-NOAA I guess you mean for @JianKuang-NOAA

[2021-03-26 03:10] WalterKolczynski-NOAA commented on #280
Oops. Sorry Jiande.

[2021-03-26 14:07] benjamin-cash opened #308 "feature/coupled-crow installation broken on stampede2"
The installation of the workflow on stampede2 breaks because it is pointing to an installation of hpc-stack that does not have general read permissions (chronic problem on stampede2). The problem is in this line:

module use -a /work/06146/tg854455/stampede2/ufs-stack-20200909/intel-18.0.2/impi-18.0.2/modules

login1.stampede2(1047)$ ls -l /work/06146/tg854455/stampede2/ufs-stack-20200909/intel-18

[2021-03-26 14:11] MinsukJi-NOAA commented on #308
It is an older version. The ufs-weather-model is using a new one installed by @Hang-Lei-NOAA : https://github.com/ufs-community/ufs-weather-model/blob/37f0da7b82e32a15bf072eaa158399a6b0f2722c/modulefiles/stampede.intel/fv3#L17

[2021-03-26 14:11] arunchawla-NOAA commented on #308
@WalterKolczynski-NOAA and @JianKuang-NOAA we should be using the hpc-stack that was installed by @Hang-Lei-NOAA for the ufs-weather-model. I think the permissions there are correct as it was used by Ben to build the model without problems

[2021-03-26 14:18] benjamin-cash commented on #308
I definitely have a version of hpc-stack that I can see here: /work/08048/hanglei/NCEP/install/hpc-stack/modulefiles/stack. And it looks like machine-setup.sh is referring to that for stampede2. So I'm not sure now where that version of hpc-stack is coming in from.

[2021-03-26 14:24] MinsukJi-NOAA commented on #308
The stampede2 related changes were merged into the ufs-weather-model develop branch on 03/24. So, if the global workflow is pulling in a version that is older, that could be the reason.

[2021-03-26 14:37] benjamin-cash commented on #308
Stealing the stampede.intel/fv3 file from my ufs-weather-model install seems to be working, but I will pause there until the question of whether I have the right model version is resolved.

[2021-03-26 14:39] JessicaMeixner-NOAA commented on #308
When @WalterKolczynski-NOAA pulled in the last PR https://github.com/NOAA-EMC/global-workflow/pull/261 from @JianKuang-NOAA to the feature/coupled-crow branch, it was noted that the ufs-weather-model needed to be updated to the hash @MinsukJi-NOAA mentioned, and the hpc-stack version others have mentioned in this thread.  @WalterKolczynski-NOAA felt like it would be easier to make those changes vi

[2021-03-26 14:45] benjamin-cash commented on #308
Ok, I will hold until the rest of the updates go in.

[2021-03-26 15:05] benjamin-cash commented on #308
In case it is useful - build_ufs_coupled completed when I used the newer fv3 file, but build_reg2grb2 failed looking for libjasper.a and ncep_post failed with a variety of errors.

[2021-03-26 17:58] WalterKolczynski-NOAA commented on #308
As Jessica mentioned, the branch is not ready for use on Stampede yet. I'm working on cleaning it up and testing now. I will announce on the original porting issue when it is ready. Please sit tight until then.

Closing as duplicate of #280.

[2021-03-26 17:58] #308 closed, assigned to nobody

[2021-03-30 14:18] WalterKolczynski-NOAA commented on #280
@JianKuang-NOAA What did you do for rocoto on Stampede?

[2021-03-30 16:40] KateFriedman-NOAA opened #309 "NCO updates for GFSv16.0.8[9]"
Post-implementation fixes/updates documented in this issue:

* GFSv16.0.8 - new WAFS tag gfs_wafs.v6.0.21 for emergency fixes (CDF being submitted, will need to make tag)
* GFSv16.0.9 - wave fixes/updates (one fix already in ops v16.0.7)
* ~~GFSv16.0.10 - RW-points fix (two updated wave fix files)~~ (bundled with v16.1.0)

Also reference issue #1 in commits.

RFC for v16.0.9:

RFC 8028 - On WCOSS,

[2021-03-30 16:44] KateFriedman-NOAA commented on #309
Updated WAFS tag in Externals.cfg and sorc/checkout.sh and committed to release/gfsv16.0.0_to_ops @ 1d6893b. Also committed to release/gfsv16.0.0 branch.

Created tag for hand-off to NCO: [EMC-v16.0.8](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.0.8)

[2021-04-07 19:33] BrianCurtis-NOAA commented on #168
@pjpegion I can't say I am confident, but I hope these help move you forward with your questions:

I have not seen your specific case file, but in the post section there is a master_grid setting that according to schema/post.yaml can be 1deg, 0p5deg, 0p25deg or 0p125deg. I wonder if that will set what output grid you're looking for?

In suite.yaml it shows you can set gfs_cyc to 1 to use the gfs_c

[2021-04-08 13:57] CatherineThomas-NOAA opened #311 "Retaining files in gdas ROTDIR needed for Fit2Obs"
Initially reported in[ Fit2Obs Issue #3](https://github.com/NOAA-EMC/Fit2Obs/issues/3), failures were experienced on Hera when the arch step would scrub the gdas directories before Fit2Obs had finished.

A possible solution is to modify arch.sh to retain the needed files for Fit2Obs for longer than the default RMOLDEND.  This is already done for sflux and RESTART files for the GLDAS step.

@KateFr

[2021-04-08 19:38] aerorahul opened #312 "duplicate code"
In [JGLOBAL_FORECAST](https://github.com/NOAA-EMC/global-workflow/blob/develop/jobs/JGLOBAL_FORECAST)

Lines 7-41
[code]

Lines 80-113
[code]

are identical.  `RUN_ENVIR` is either `nco` or `emc`.
Where else is this occurring?

[2021-04-08 19:52] yangfanglin commented on #312
Rahul,
This is a hotfix/temporary fix made during GFS.v16 implementation.  NCO
needs to have PDY and CDATE defined first in the JJOB, while for EMC
rocoto-based workflow the requirement is reversed.
A better solution can/should be developed for the new workflow.

Fanglin

On Thu, Apr 8, 2021 at 3:38 PM Rahul Mahajan ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeli

[2021-04-08 19:59] #312 closed, assigned to nobody

[2021-04-10 23:14] XuLi-NOAA opened #313 "Two issues in the test runs for GFSv16.2"
There are a series of cycling runs to check the GSI updates for GFSv16.2.
There are two issues in all of the cycling runs:

dbuoyb and mbuoyb are not used before 2020102200
Before 2020102200 cycle, there are two separate data files, e.g., for 2020090100,

-rw-r--r-- 1 glopara global 1112592 Sep 1 2020 /scratch1/NCEPDEV/global/glopara/dump/gdas.20200901/00/gdas.t00z.mbuoyb.tm00.bufr_d
-rw-r--r-- 1

[2021-04-12 16:16] RussTreadon-NOAA commented on #311
**WCOSS_D tests**

Locally modify `arch.sh` used by Mars v16rt2c to test two options as possible solutions to this issue:
1. retain gdas files used by fit2obs
2. copy gdas files used by fit2obs to vrfyarch

With option 1 there is no need to modify fit2obs.   Instead, `arch.sh` is modified such that it retains gdas files used by fit2obs while removing other files from `$ROTDIR/gdas.$PDY/$cyc/atmos`

[2021-04-12 20:58] XuLi-NOAA commented on #313
Russ suggested there should be a better way to include buoyb data into nsstbufr data file than what I described  above. I talked with Shelley and she pointed out that the data file, nsstbufr, is already available in the dump directory, e.g., for 2020092700,

/scratch1/NCEPDEV/global/glopara/dump/gdas.20200927/00/gdas.t00z.nsstbufr

Therefore, no need to generate it by cat 6 or 4 files into a singl

[2021-04-12 21:01] XuLi-NOAA commented on #313
Here is Russ' comment in his email:

Hi Xu,

Please update workflow issue #313 with the information you shared in your email.

The operational gfs and gdas nsstbufr files are created in job ${cdump}_atmos_prep_${cyc}.   For example, look at $COMROOTp3/output/prod/20210412/gdas_atmos_prep_12.o58840924 and search for the string nsstbufr.

global-workflow jobs/rocoto/prep.sh needs to be updated.   It

[2021-04-13 12:19] RussTreadon-NOAA commented on #311
**WCOSS_D tests - more cases**

Reran fit2obs for 2021041106, 2021041112, 2021041118, and 2021041200 following return of Mars to developers.  Rerun used gdas files from `$ROTDIR/vrfyarch/gdas.$PDY/$cyc`.   For each date the rerun generated fit2obs files b4b identical with those generated when using gdas files from `$ROTDIR/gdas.$PDY/$cyc/atmos`.    This is expected.  The directory from which the g

[2021-04-13 13:14] jack-woollen commented on #311
I would prefer not changing fit2obs for this since option 1 seems to work fine and I don't see any additional advantage in using option 2, unless I'm missing something. Plus option 1 is already implemented regarding other files and for similar reasons.

[2021-04-13 21:00] RussTreadon-NOAA commented on #311
As per Jack's request option 2 has been removed from the locally modified version of arch.sh used by the v16rt2c.   Pending the modified arch.sh successfully running overnight, I would like to commit the modified arch.sh, which includes option 1, to release/gfsv16.1.

[2021-04-15 11:17] RussTreadon-NOAA commented on #301
**Description of changes committed at 88c54d9**

Three files were changed at 88c54d9 as described below:

**jobs/rocoto/arch.sh**
Fit2Obs needs a subset of gdas files.   Scripting is added to `arch.sh` to retain these files.   These changes represent option 1 discussed in workflow issue #311.   The section of `arch.sh` saving gfs files for Fit2Obs is cleaned up.   Scripting is added to completely

[2021-04-15 11:43] RussTreadon-NOAA commented on #311
**Details regarding 88c54d9**

Option 1 discussed in this issue has been committed to workflow branch [release/gfsv16.1](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.1) at 88c54d9.   Users and developers should be aware of two details in the implementation of this option.

**Detail 1**
Retention of gdas files required by Fit2Obs is embedded in the section of `arch.sh` which reta

[2021-04-17 04:39] WalterKolczynski-NOAA opened #314 "Enable aerosol cycling"
Restart capability is urgently needed for aerosols in order to properly run and evaluate the new system.

[2021-04-17 04:41] WalterKolczynski-NOAA commented on #304
First wave of changes adding basic capability handled by PR #305

A new issue has been created for the restoration of restart capability: #314

[2021-04-17 04:41] #304 closed, assigned to rmontuoro

[2021-04-19 14:11] XuLi-NOAA commented on #313
Since it has been decided to keep it as is in the current cycling run, in order to be consistent with the control run, which has been done with the same buoyb issue. This will be handled a bit later.

[2021-04-19 18:51] malloryprow opened #315 "Updates to config.metp and met.sh to support upcoming EMC_verif-global major release"
EMC_verif-global's next major release (slated as version 2.0.0) needs to be tested within the global workflow. This includes an upgrade to using MET version 9.1.3 and METplus version 3.1.1, as well as all the python scripts updated to using python3. Major work was done in renaming the config variables as well.

- config.metp and metp.sh needed to be updated to support new changes within EMC_verif-

[2021-04-20 00:38] JessicaMeixner-NOAA commented on #99
@jiandewang: Now that we're almost done with P6 runs, what is your thought? Is this still a concern with inline post, etc? Do you still have to go back to re-run a lot of post jobs? Is the number of post jobs an issue?

[2021-04-20 00:38] #277 closed, assigned to WalterKolczynski-NOAA

[2021-04-20 03:42] jiandewang commented on #99
@JessicaMeixner-NOAA no more FATAL ERROR in P6 with the inline post

[2021-04-20 12:52] JessicaMeixner-NOAA commented on #99
@jiandewang good to hear! Can we close this issue then?

[2021-04-20 12:55] WalterKolczynski-NOAA commented on #99
This will be covered by #270 anyway, whenever I finally get to it.

[2021-04-20 12:58] JessicaMeixner-NOAA commented on #99
Okay - based on @WalterKolczynski-NOAA  @jiandewang comments.  I'm closing this issue and further comments can be added to #270.

[2021-04-20 12:58] #99 closed, assigned to WalterKolczynski-NOAA

[2021-04-27 17:08] KateFriedman-NOAA commented on #164
Email update from @WenMeng-NOAA  on UPP version with hpc-stack support:

Will update feature/hpc-stack branch and retest on supported platforms.

[2021-04-28 14:06] malloryprow commented on #315
Tested on WCOSS Dell, Hera, and Orion, and all ran gfsmetp tasks successfully. I'll put together the pull request.

[2021-04-30 19:34] WenMeng-NOAA commented on #164
@KateFriedman-NOAA and @junwang-noaa
I see the branch feature/hps-stack check out ufs-weather-model as:

I would like to know if the harsh version is the commit from the develop branch or other branches at ufs-weather-model? Thanks!

[2021-05-01 00:42] junwang-noaa commented on #164
@WenMeng-NOAA The model hash 06bc77b is from ufs-weather-model develop branch, committed on 1/25/2021.

[2021-05-03 13:59] BrianCurtis-NOAA commented on #265
@WalterKolczynski-NOAA with the move of prod_util to hpc-stack, where would I find the new location of fileop.py?

[2021-05-03 15:23] KateFriedman-NOAA commented on #164
From @GeorgeGayno-NOAA in https://github.com/NOAA-EMC/UFS_UTILS/issues/248#issuecomment-830167683

https://github.com/NOAA-EMC/UFS_UTILS/releases/tag/ufs_utils_1_3_0

Updated UPP, WAFS, and UFS_UTILS versions in clone on WCOSS-Dell and committed to feature/hpc-stack @ 6ce8336 and 858f216. Testing now in a full cycle.

[2021-05-04 10:43] WalterKolczynski-NOAA commented on #265
I don't believe the scripts were included, just the executables.

That said, fileop.py is not a part of any of the official prod_util installations even on WCOSS as far as I can tell, so I don't know where that file actually comes from. Just switch to using native python commands.

[2021-05-04 15:15] KateFriedman-NOAA commented on #164
@WenMeng-NOAA @YaliMao-NOAA Please see the following post and wafs output using EMC_post @ ff42e02 and EMC_gfs_wafs at c2a29a6:

output: /gpfs/dell3/ptmp/Kate.Friedman/comrot/stacktest6/gfs.20210428/12/atmos
logs: /gpfs/dell3/ptmp/Kate.Friedman/comrot/stacktest6/logs/2021042812

Thanks!

[2021-05-04 15:28] WenMeng-NOAA commented on #164
@KateFriedman-NOAA I don't see any issues from the UPP part and would wait for Yali's confirming on wafs dataset.

[2021-05-04 16:18] YaliMao-NOAA commented on #164
@KateFriedman-NOAA @WenMeng-NOAA
UPP WAFS looks good now. UPP downstream WAFS products all look good except wafsgrib2, as shown in the log file gfswafsgrib2.log

wafsgrib2 still has issue when using wgrib2 to convert grib2 file with option "-set_grib_type same", as reported https://github.com/NOAA-EMC/hpc-stack/issues/224. In gfswafsgrib2.log, there are multiple lines of error message 'empty layer

[2021-05-04 17:43] KateFriedman-NOAA commented on #164
@WenMeng-NOAA @YaliMao-NOAA Thanks for checking the output and confirming what is good/bad. @YaliMao-NOAA do you know if/when a solution is coming for the wgrib2 error? I have at least another week of testing the feature/hpc-stack branch before I look to submit the PR for it into global-workflow develop. I can leave WAFS out of that update for now while the wgrib2 issue is getting resolved.

[2021-05-04 19:09] HuiyaChuang-NOAA commented on #164
@YaliMao-NOAA I know you opened an issue for wgrib2 error.  Did you report team this to the library team?

[2021-05-04 19:32] Hang-Lei-NOAA commented on #164
We updated the jasper associated with the wgrib2. Please test it again to
see if this works.

On Tue, May 4, 2021 at 3:09 PM HuiyaChuang-NOAA ***@***.***>
wrote:

[2021-05-04 20:43] YaliMao-NOAA commented on #164
@KateFriedman-NOAA @HuiyaChuang-NOAA @Hang-Lei-NOAA
I did a test and the output looks good now.

[2021-05-05 12:44] KateFriedman-NOAA commented on #164
@Hang-Lei-NOAA Thanks for the update! @YaliMao-NOAA Thanks for testing and confirming. I'll be running another cycle in my test with the newer ufs-weather-model hash (554aedc) and will have you look at the WAFS output in that test as well when ready (including the grib2 jobs).

[2021-05-05 12:51] HuiyaChuang-NOAA commented on #164
Good to hear.  @YaliMao-NOAA please update your issue NOAA-EMC/hpc-stack#224 and mark it as closed?

[2021-05-05 13:03] KateFriedman-NOAA commented on #164
@JessicaMeixner-NOAA I updated my clone of feature/hpc-stack to use the new ufs-weather-model hash ([554aedc](https://github.com/ufs-community/ufs-weather-model/commit/554aedcd63e4a7c5012570406132eaf76e249ca9)). I built it with build_fv3.sh:

[code]

Venus: /gpfs/dell2/emc/modeling/save/Kate.Friedman/git/global-workflow/feature-hpc-stack/sorc/build_fv3.sh

I then tried the provided build_ww3prepos

[2021-05-05 13:07] YaliMao-NOAA commented on #164
@HuiyaChuang-NOAA As your reminder, I closed the issue https://github.com/NOAA-EMC/hpc-stack/issues/224

[2021-05-05 14:54] KateFriedman-NOAA commented on #309
Updates for v16.0.8 and v16.0.9 are now complete and merged into operations branch. Official v16.0.9 tag (NCO-v16.0.9) has now been created.

[2021-05-05 14:58] KateFriedman-NOAA commented on #309
Made release of NCO-v16.0.9 tag: https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.0.9

[2021-05-05 15:04] KateFriedman-NOAA commented on #275
Will occur in feature/hpc-stack branch and/or with MERRA2 updates. Closing issue.

[2021-05-05 15:04] #275 closed, assigned to KateFriedman-NOAA

[2021-05-05 15:05] KateFriedman-NOAA commented on #1
PR #306 merged into operations branch. Operations branch tagged for NCO-v16.0.9 and released.

[2021-05-06 19:16] KateFriedman-NOAA opened #321 "GFSv16.1.1 changes"
A bug was reported in the WAFS. A two line fix is provided in a new tag: gfs_wafs.v6.0.22

Diffs:
https://github.com/NOAA-EMC/EMC_gfs_wafs/compare/gfs_wafs.v6.0.21...gfs_wafs.v6.0.22

Remaining wave fix file updates may also come into this update version. @JessicaMeixner-NOAA will confirm. Updates will be outside workflow (fix files) so will use this issue to document all v16.1.1 updates.

[2021-05-06 19:19] KateFriedman-NOAA commented on #321
Created branch [release/gfsv16.1.1](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.1.1) for this update, started off HEAD of the release/gfsv16.1 branch.

[2021-05-06 19:35] KateFriedman-NOAA commented on #321
Tagged release/gfsv16.1.1 branch as [EMC-v16.1.1](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.1) after updating WAFS tag in sorc/checkout.sh and Externals.cfg.

[2021-05-07 13:04] KateFriedman-NOAA commented on #321
Release notes: https://docs.google.com/document/d/1im8Xf0nPxRnf_bnJxvrY_8e2oDYio6UflrRugwoieFU/edit

[2021-05-10 16:11] KateFriedman-NOAA commented on #309
Created branch sync/operations_v16.0.9 to pull recent operations updates for v16.0.7 through v16.0.9 back into the develop branch.

[2021-05-12 18:51] #309 closed, assigned to JessicaMeixner-NOAA, RobertoPadilla-NOAA, YaliMao-NOAA

[2021-05-14 19:31] JessicaMeixner-NOAA opened #324 "update feature/coupled-crow to use latest ufs-weather-model"
To update feature/coupled-crow to use the latest develop branch of ufs-weather-model, we need to track the changes in the tests/parm folder in the diffs here:
https://github.com/ufs-community/ufs-weather-model/compare/Prototype-6.0beta...develop

Updates are needed to:
* change name of mediator in nems.configure
* MOM_input has new option ALLOW_LANDMASK_CHANGES (we use the default value which is f

[2021-05-14 19:33] JessicaMeixner-NOAA opened #325 "update wave inputs"
After the ufs-weather-model PR: https://github.com/ufs-community/ufs-weather-model/pull/573 is merged the WW3 input files will need to be updated for ww3_multi.inp (this is for develop branch and feature/coupled-crow if either want to run w/waves w/the this version of ufs-weather-model)

[2021-05-17 12:54] KateFriedman-NOAA commented on #301
From last Friday's RFC memo:

[code]

[2021-05-17 12:55] KateFriedman-NOAA commented on #321
From last Friday's RFC memo:

[code]

[2021-05-17 17:27] KateFriedman-NOAA commented on #301
SCN: https://www.weather.gov/media/notification/pdf2/scn21-52_gfsv16.1.1.pdf

[2021-05-17 17:28] KateFriedman-NOAA commented on #321
SCN: https://www.weather.gov/media/notification/pdf2/scn21-52_gfsv16.1.1.pdf

[2021-05-19 14:02] #200 closed, assigned to AnningCheng-NOAA

[2021-05-19 14:04] KateFriedman-NOAA commented on #200
PR #254 has been submitted and has closed this issue. Thank you @AnningCheng-NOAA for this addition and thank you @lgannoaa for testing/reviewing! Will send announcement to glopara listserv shortly.

[2021-05-21 14:11] KateFriedman-NOAA commented on #315
Thanks @malloryprow !

[2021-05-21 14:11] #315 closed, assigned to malloryprow

[2021-05-21 15:11] JessicaMeixner-NOAA commented on #324
Another item:
* After PR https://github.com/ufs-community/ufs-weather-model/pull/586  this line https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/ush/nems_configure.sh#L158 needs to be changed from:
`cp $HOMEgfs/sorc/ufs_coupled.fd/CMEPS-interface/CMEPS/mediator/fd_nems.yaml fd_nems.yaml
`
to
`cp $HOMEgfs/sorc/ufs_coupled.fd/tests/parm/fd_nems.yaml fd_nems.yaml`

[2021-05-21 15:13] JessicaMeixner-NOAA commented on #324
The mesh ocn/ice are the same:
  mesh_ocn = mesh.mx100.nc
same as   mesh_ice = mesh.mx100.nc

[2021-05-24 14:02] KateFriedman-NOAA commented on #321
Ran high res cycled test on Mars and reproduced ops (2021052100-2021052106). Can submit PR #326 now.

[2021-05-24 14:26] KateFriedman-NOAA commented on #321
Created release of new NCO-v16.1.1 tag: https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.1

[2021-05-24 14:28] KateFriedman-NOAA commented on #321
~~Created branch merge/ops2dev_v16.1.1 off of develop to merge v16.1.1 operations branch updates back to develop branch.~~

No conflicts for incoming operations branch updates so can do merge as PR.

[2021-05-25 03:29] jiandewang opened #328 "load module nco too early"
in coupled-crow branch, nco module needs to be loaded after module load hpc-intel, otherwise nco module will not be loaded successfully.
https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/modulefiles/module_base.hera#L8-L18

For a quick offline test, you can do
module purge
module spider nco/4.9.1

you will get the following:
You will need to load all module(s) on any one of the

[2021-05-26 14:11] KateFriedman-NOAA opened #330 "GFSv16.1.2 updates"
Two tag updates in this implementation:

1. EMC_post (see updates listed below)
2. GSI (adjust global_satinfo.txt to disable cris assimilation) - This tag captures changes implemented as GFS v16.1.1a at 12Z on 28 May 2021.  The GFS v16.1.1a ARFC placed CrIS-FSR NPP data in monitor mode due to an instrument anomaly.  Tag gfsda.v16.1.1a does not alter current operational GFS DA results.

Two updates

[2021-05-26 14:11] KateFriedman-NOAA commented on #330
Created branch release/gfsv16.1.2 for this update.

[2021-05-26 14:20] KateFriedman-NOAA commented on #330
Tagged release/gfsv16.1.2 branch after updating EMC_post tag: [EMC-v16.1.2](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.2)

[2021-05-26 16:27] #301 closed, assigned to nobody

[2021-05-26 16:27] #321 closed, assigned to KateFriedman-NOAA

[2021-05-26 16:51] #328 closed, assigned to WalterKolczynski-NOAA

[2021-05-26 16:52] KateFriedman-NOAA commented on #1
Now that GFSv16 is in operations I will close this issue. Future updates to the v16 system will be documented in their own issues. Thanks for all your hard work everyone!

[2021-05-26 16:52] #1 closed, assigned to RussTreadon-NOAA, KateFriedman-NOAA, yangfanglin

[2021-06-01 15:47] JessicaMeixner-NOAA opened #331 "coupled: use tiled fix files and oro data"
New tiled fix files and oro data have been staged on Mars here: /gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/fv3gfs/fix_NEW

We need to use the new oro data and tiled fix files in the feature/coupled-crow workflow.  An example of how this is used can be seen in the ufs-weather-model rt tests: cpld_bmarkfrac_wave_v16_noahmp

[2021-06-01 15:50] JessicaMeixner-NOAA opened #332 "coupled: add additional land outputs for prototypes"
Need to add additional land outputs for prototypes, from @barlage:
- there are three new accumulated fields we would need to fully close the land energy budget (could use at least one existing variable for these). Probably could remove a few others if adding is an issue.
- it would be good to know which grids have fractional outputs on the gaussian grid; I believe LAND could be used for this

[2021-06-02 22:27] JessicaMeixner-NOAA opened #333 "coupled: updates to ice_in"
Update the ice_in according the the PR in ufs-weather-model https://github.com/ufs-community/ufs-weather-model/pull/610 when updating ufs-weather-model to this commit.

[2021-06-08 17:24] KateFriedman-NOAA commented on #330
Steven Earle just confirmed this will go into ops as v16.1.2.

[2021-06-09 03:46] rmontuoro opened #336 "Update feature/coupled-crow to use the latest coupled aerosols app"
Branch `feature/coupled-crow` needs to be updated to run the latest ufs-weather-model app including prognostic aerosols.

[2021-06-09 03:50] WalterKolczynski-NOAA commented on #336
If the app has been updated, we can probably add this into PR #334

[2021-06-09 04:15] rmontuoro opened #337 "Improperly set NST_SPINUP in FV3 namelist (coupled-crow)"
In branch `feature/coupled-crow`, the `NST_SPINUP` flag in the parsed FV3 namelist  is always `0` regardless of the value set in the case YAML file.

[2021-06-09 13:08] JessicaMeixner-NOAA commented on #336
There is issue #324 that is required for updating to the latest ufs-weather-model, I'm guessing that should be addressed before this is?

[2021-06-09 13:20] KateFriedman-NOAA commented on #330
Expanding this implementation to include new GSI tag (gfsda.v16.1.1a) that includes adjustment to global_satinfo.txt file to disable cris assimilation. This was a hotfix in operations earlier this week (nwprod/gfsv16.1.1a).

Updated Externals.cfg and sorc/checkout.sh with new GSI tag. Recut EMC-v16.1.2 tag.

[2021-06-09 19:27] WalterKolczynski-NOAA opened #339 "Fix WW3 pre-post build"
The build of WW3 pre-post is failing to build ww3_grib. The issue was isolated to the load of an old nceppost module that was overriding the modules we were otherwise loading.

The nceppost is no longer needed, nor are several others currently being loaded to build ww3prepost.

Additionally, the build script does not correctly report build failures by using a non-zero exit code.

[2021-06-09 23:30] #339 closed, assigned to JessicaMeixner-NOAA, WalterKolczynski-NOAA

[2021-06-10 05:31] WalterKolczynski-NOAA commented on #324
The ufs module naming convention has been changed as well.

[2021-06-10 05:31] WalterKolczynski-NOAA commented on #324
I'll take care of this after we clear out some of the existing PRs.

[2021-06-10 10:41] RussTreadon-NOAA opened #341 "GFS v16.1.2.1: TAC to BUFR for SHIPS, CMAN and Tide Gauge Stations"
ObsProc has completed standalone testing of TAC to BUFR changes ships, cman, and tide gauge stations.   These changes need to be cycled in the global workflow before ObsProc submits the changes to NCO for implementation.   An experimental GDA directory needs to be created and populated with the new dump files.   Workflow changes are minimal - basically point at new ObsProc branches to process the

[2021-06-10 14:32] KateFriedman-NOAA commented on #341
Created release/gfsv16.1.3 branch for this work, cut from the current state of the release/gfsv16.1.2 branch (what is about to be ops).

[2021-06-10 16:50] JessicaMeixner-NOAA commented on #331
@KateFriedman-NOAA where is the corresponding fix_NEW on hera?

[2021-06-10 18:06] KateFriedman-NOAA commented on #331
@JessicaMeixner-NOAA It wasn't on Hera yet, just Mars. I am rsyncing it to the following location on Hera now:

/scratch1/NCEPDEV/global/glopara/fix_NEW

Give it half an hour to an hour for all files to arrive.

[2021-06-10 20:08] KateFriedman-NOAA commented on #331
The fix_NEW set is complete on Hera now @JessicaMeixner-NOAA . I'll sync the Hera one with the WCOSS-Mars one as we make changes.

[2021-06-11 13:06] JessicaMeixner-NOAA commented on #324
With the latest merge into ufs-weather-model today (6/11), https://github.com/NOAA-EMC/global-workflow/issues/325 is also needed when updating to the latest.

[2021-06-11 20:28] #286 closed, assigned to JessicaMeixner-NOAA

[2021-06-14 19:41] XianwuXue-NOAA opened #345 "Port g-w for GEFS to WCOSS2/acorn"

[2021-06-15 13:44] KateFriedman-NOAA commented on #330
From last Friday's RFC memo:

[2021-06-16 12:10] JessicaMeixner-NOAA commented on #331
Also use new fix files for running the model with an updated gravity-wave drag physics

 /scratch1/NCEPDEV/global/Fanglin.Yang/save/git/gfsv16_rrtmgp2/fix/fix_ugwd

[2021-06-16 15:06] barlage commented on #332
@JessicaMeixner-NOAA: @HelinWei-NOAA and I have talked about this. You can assign the issue to us if you want.

[2021-06-16 16:09] JessicaMeixner-NOAA commented on #333
The above mentioned PR is already merged in ufs-weather-model commit hash [bebdd6d1adc0488be0e5b5026650f97a8ecefe8b](https://github.com/ufs-community/ufs-weather-model/commit/bebdd6d1adc0488be0e5b5026650f97a8ecefe8b) commit date Jun 4, 2021

[2021-06-16 16:18] JessicaMeixner-NOAA commented on #325
PR #573 was merged on Jun 11, 2021 commit hash [00d570e180b36df7f540061bc4e9600dafd210bf](https://github.com/ufs-community/ufs-weather-model/commit/00d570e180b36df7f540061bc4e9600dafd210bf)

[2021-06-16 16:27] JessicaMeixner-NOAA commented on #331
I deleted the comment about the ugwd fix files to keep things clean.

While I believe the functionality of using the different oro data existed before, the code commit that brought in using it in the coupled tests in ufs-weather-model was on may 25, 2021 commit: https://github.com/ufs-community/ufs-weather-model/commit/c622d7d31aec725707beee8d142bc7a3d639e5f2   There is a bug fix that is needed, b

[2021-06-16 16:35] JessicaMeixner-NOAA commented on #230
To enable NSST or not, all code changes are already in ufs-weather-model as of today.  An example of how it's used can be found in the p7b branch https://github.com/ufs-community/ufs-weather-model/tree/release/P7b in the 35 day tests.

[2021-06-16 16:39] JessicaMeixner-NOAA opened #346 "updates for fix files for uGWD"
There are new fix files for uGWD here:
 /scratch1/NCEPDEV/global/Fanglin.Yang/save/git/gfsv16_rrtmgp2/fix/fix_ugwd

Namelist changes are needed to use the uGWD which should be in the 35 day tests in the p7b branch:
https://github.com/ufs-community/ufs-weather-model/tree/release/P7b the code updates themselves should already be in the develop branch of ufs-weather-model (not sure which commit/PR th

[2021-06-16 17:39] yangfanglin commented on #346
I think Jun already has the necessary namelist updates for using uGWD in
the regression test script.  Otherwise, I can provide the necessary
namelist changes.  ---Fanglin

On Wed, Jun 16, 2021 at 12:39 PM Jessica Meixner ***@***.***>
wrote:

--

[2021-06-16 19:16] KateFriedman-NOAA commented on #346
The new fix_ugwd folder and files are now in both the dev fix and fix_NEW sets. The dev fix sets were updated on all WCOSSes, Hera, Orion, Jet, and RZDM. The fix_NEW set was updated where it is right now (Mars and Hera).

[code]

[2021-06-17 01:27] yangfanglin commented on #346
Kate,

The uGWD datasets have been updated to cover more model resolutions,
including C1152  C192  C3072  C384  C48  C768  C96.  Thanks goes to Mike
Toy for creating these datasets.

Please get the data from
/scratch1/NCEPDEV/global/Fanglin.Yang/save/git/gfsv16_rrtmgp2/fix/fix_ugwd

Fanglin

On Wed, Jun 16, 2021 at 3:16 PM Kate Friedman ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model P

[2021-06-17 14:33] KateFriedman-NOAA commented on #346
@yangfanglin The additional uGWD datasets for the other resolutions are now in the dev fix and fix_NEW sets on supported platforms. Thanks!

[2021-06-17 18:10] KateFriedman-NOAA opened #347 "Update Orion support to include rstprod"
A rstprod policy is now on Orion and access to the group is expanding. Update workflow and components that use rstprod to support rstprod on Orion now.

- [x] GDA
- [x] global-workflow flags/variables (e.g. CHGRP_RSTPROD)
- [x] EMC_verif-global (internal settings and on-disk data files)

Will need new tag from @malloryprow for EMC_verif-global.

[2021-06-17 18:40] #178 closed, assigned to KateFriedman-NOAA

[2021-06-17 19:39] KateFriedman-NOAA commented on #164
Sync merge with develop @ 5c042e08

[2021-06-20 23:29] lgannoaa commented on #341
Starting 2021062006 parallel v16tac2bfr has been moved to emc.gloparadev account.

The following files were changed:
config.base and v16tac2bfr.xml
expdir: /gpfs/dell2/emc/modeling/noscrub/emc.gloparadev/para_fv3gfs/v16tac2bfr
HOMEgfs:/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/global-workflow/release_gfsv16.1.3
ROTDIR:/gpfs/dell3/ptmp/emc.gloparadev/ROTDIRS/v16tac2bfr/gfs/para
ARCDIR:/gpfs/d

[2021-06-20 23:43] RussTreadon-NOAA commented on #341
Given that the 2021062006 cycle has been rerun under emc.gloparadev, the emc.glopara v16tac2bfr EDATE has been changed to 2021062012.   The emc.glopara v16tac2bfr cron will be disabled upon completion of the 2021062012 cycle.

[2021-06-21 09:14] RussTreadon-NOAA commented on #341
The emc.glopara v16tac2bfr completed 2021062012.  The emc.glopara v16tac2bfr has been terminated and cron disabled.  Subsequent v16tac2bfr cycles will be run by emc.gloparadev.

[2021-06-21 09:57] RussTreadon-NOAA commented on #341
**b4b comparison**
Confirm emc.gloparadev 2021062012 v16tac2bfr b4b reproduced cycled files from emc.glopara 2021062012 v16tac2bfr.

[2021-06-21 10:11] RussTreadon-NOAA commented on #341
**Two Critical Reminders**

1. The v16tac2bfr `HOMEgfs` contains a locally modified `prep.sh` (see below) to pick up t2b dump files from GDAy.  

[code]

Please remember this if a fresh clone of [release/gfs.v16.1.3](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.1.3) is installed.  `prep.sh` will need to be manually modified before cycling with the fresh clone.  

2. The `v16tac2

[2021-06-21 13:42] KateFriedman-NOAA commented on #330
From June 18th RFC memo:

[2021-06-22 14:30] WalterKolczynski-NOAA commented on #345
This should be two separate issues.

[2021-06-22 15:13] XianwuXue-NOAA commented on #345
Thanks. Walter, could you separate it two issues?

[2021-06-22 15:19] WalterKolczynski-NOAA opened #348 "Update remaining components from vlab to GitHub"
Some g-w components in the GEFS branch are still pointing to the VLab repo instead of GitHub.

[2021-06-22 16:41] WalterKolczynski-NOAA opened #351 "Output frequencies in coupled models"
The output frequencies of the different coupled components should be able to be controlled separately for each component.

[2021-06-22 16:42] WalterKolczynski-NOAA commented on #230
Split the output frequency part, which was inherited from #196 when it was marked as a duplicate, off into its own issue as it is separate from NSST updates.

[2021-06-22 16:46] JessicaMeixner-NOAA commented on #351
For the most part, I think this already is the case.  It is for atm and wave.  I think there was an issue with MOM6 not having it set via configuration files and maybe the same for ice -- that it's set via it's own settings but not necessarily by top level configuration.

[2021-06-22 16:48] WalterKolczynski-NOAA commented on #230
It would be useful to know what the settings are, or at least exactly which file to look for. Is it actually more than setting NST_MODEL to 2?

[2021-06-22 16:54] JessicaMeixner-NOAA commented on #230
Comparing the test with NSST (https://github.com/ufs-community/ufs-weather-model/blob/release/P7b/tests/tests/cpld_bmark_wave_v16_noahmp_nsst) and without NSST (https://github.com/ufs-community/ufs-weather-model/blob/release/P7b/tests/tests/cpld_bmark_wave_v16_noahmp_nsst) should tell you everything you need.

@XuLi-NOAA  can give more specific guidance in particulars, but the main this is that yo

[2021-06-22 17:18] rmontuoro opened #352 "Add FMS domains_stack_size to set of configurable parameters"
A default value for `domains_stack_size` is currently used in `ush/parsing_namelists_FV3.sh` since this parameter is not configurable by users:
[code]
This value, however, is too low if running FV3 with 127 vertical levels and prognostic aerosols.

The ability to set `domains_stack_size` externally needs to be added to branch `feature/coupled-crow`, perhaps introducing a new FMS schema (`workflow/

[2021-06-22 17:39] XuLi-NOAA commented on #230
In order to turn on the NSST model in the coupled model, the following are required:

1. Modify workflow/config/nsst.yaml to handle nst_spinup parameter setting (by Jian Kuang)
    See the example of this file at /work/noaa/da/xli/git/coupled-workflow/workflow/config/nsst.yaml

#This file is used to generate config.nsst, which would be used to
#control NSST settings.  Specifically, it controls the

[2021-06-22 17:42] JessicaMeixner-NOAA commented on #333
The updates shown https://github.com/ufs-community/ufs-weather-model/commit/bebdd6d1adc0488be0e5b5026650f97a8ecefe8b#diff-e552330367b1081bba35c23120579ef362e8f1e55b4be2ea6c64cf6fcb01e74b need to be updated in the input file for the workflow here: https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/ush/parsing_namelists_CICE.sh

Other updates in the commit above that can be migrat

[2021-06-22 19:22] XuLi-NOAA commented on #230
@KateFriedman-NOAA @WalterKolczynski-NOAA @JessicaMeixner-NOAA

See the above updates

[2021-06-22 19:47] JessicaMeixner-NOAA commented on #331
The part of the code that copies in the tiled fix files in the rt.sh system is here https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/fv3_conf/cpld_bmark_tiled_run.IN#L16-L26 and here https://github.com/ufs-community/ufs-weather-model/blob/release/P7b/tests/tests/cpld_bmark_wave_v16_noahmp_nsst#L135-L145
which I believe should be replacing parts of the global-workflow I believe

[2021-06-22 20:06] KateFriedman-NOAA opened #353 "Wrong settings for high-res warm-start free-forecast"
Few bugs in free-forecast mode regarding high res warm start file pulls:

1) EXP_WARM_START needs to be .true. for this mode...force set config.getic value if user sets to run CASE=C768
2) GDATE gdas restart files pulled off tape but not moved into ROTDIR (left out)
3) default C768 node value (218) is too high for Hera (max per job limit now exists, adjust C768 settings to keep it under 200 nodes)

[2021-06-22 21:54] WalterKolczynski-NOAA opened #355 "Update MOM template files"
The MOM templates should be updated into a proper template file instead of something that relies on parsing with sed.

[2021-06-23 00:08] JessicaMeixner-NOAA commented on #355
What's wrong with the MOM6 template files? I don't understand what is not proper about this?  This is also how we do wave template files.  This is easier to have connection with the rt.sh system which then makes everything simpler to maintain (unlike for atm and ice where it's harder).  I'd actually say we should update the ice template file to match closer to how MOM6 is doing than this way.   FY

[2021-06-23 00:38] WalterKolczynski-NOAA commented on #324
I think I've got all of these except the first thing. I don't see any mediator name changes in the current UFS develop nems.configure templates.

[2021-06-23 01:55] jiandewang commented on #355
I also think using parsing and sed is the right way as we will rely on the template for different configurations such as including wave and non-wave. @WalterKolczynski-NOAA : what's your suggestions on the replacement ?

[2021-06-23 02:16] WalterKolczynski-NOAA commented on #355
The sed method is clunky and difficult to maintain. There are any number of more modern approaches using tools designed to be templates, rather than using command line programs to fake it. But the most likely solution here as we push more and more things towards python would be to use the core [string.Template](https://docs.python.org/3/library/string.html#template-strings). Settings can be loaded

[2021-06-23 02:25] WalterKolczynski-NOAA commented on #355
And yes, ideally, the RT system would be modernized in the same way (see ufs-community/ufs-weather-model#656), which was opened independently within the past day.

[2021-06-23 03:31] WalterKolczynski-NOAA commented on #324
So I think I am just waiting on #325 now so I can test?

[2021-06-23 13:08] KateFriedman-NOAA commented on #330
From early AM SDM log today:

[2021-06-23 13:44] JessicaMeixner-NOAA commented on #324
@WalterKolczynski-NOAA here's a branch with the updates: https://github.com/jessicameixner-noaa/global-workflow/tree/coupled/updatewavemultiinp
However, I couldn't test them due to a lmod issue on hera, I'll try to test this on orion, but since it's going to take a while I thought I'd just point you to this for now.

[2021-06-23 13:50] JessicaMeixner-NOAA commented on #324
Comparing the files https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/ush/nems.configure.cpld_wave.IN and https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/nems.configure.cpld_wave.IN
and/or comparing
https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/ush/nems.configure.cpld.IN and https://github.com/ufs-community/ufs-weather-model/bl

[2021-06-23 13:53] #330 closed, assigned to KateFriedman-NOAA

[2021-06-23 14:01] WalterKolczynski-NOAA commented on #324
I've got all those already. I thought #325 was some else.

[2021-06-23 14:04] JessicaMeixner-NOAA commented on #324
Perfect, thanks! Nothing else is needed other than adding the extra "F F" and "no" "no" to the appropriate lines for creating ww3_multi.inp

[2021-06-23 14:11] KateFriedman-NOAA commented on #341
Sync merged release/gfsv16.1.3 with operations branch at de5c90d78a3d116080dcfaf933ea50b7809cb3dc to fast-forward to HEAD of operations branch.

[2021-06-23 14:22] WalterKolczynski-NOAA commented on #324
Do I need to update any locations for new fix files?

[2021-06-23 15:02] JessicaMeixner-NOAA commented on #355
So still having a template file (bonus/preferred if it is in sync or the same as what is used in ufs-weather-model) but a better method than sed for filling the template sounds like a good thing to me.

[2021-06-23 15:13] #164 closed, assigned to KateFriedman-NOAA

[2021-06-23 15:15] KateFriedman-NOAA commented on #164
Committed to develop @ https://github.com/NOAA-EMC/global-workflow/commit/96347ea527f7b0ab61a1aae6576e2709fb387c7c

[2021-06-23 15:23] JessicaMeixner-NOAA commented on #324
for the waves? no
For using the new tile oro data and other physics options? yes, but I'd consider both of those separate items/issues

[2021-06-23 15:41] KateFriedman-NOAA commented on #353
Created fork branch for this work off of develop branch: https://github.com/KateFriedman-NOAA/global-workflow/tree/bugfix/ffhighres

[2021-06-23 15:50] WalterKolczynski-NOAA commented on #324
Okay, I wasn't sure if those were required for the updated model. Setting up test now.

[2021-06-23 17:45] WalterKolczynski-NOAA commented on #324
I found the change once my tests failed.

[2021-06-23 20:00] WalterKolczynski-NOAA opened #356 "Move workflow utils into their own directory"
Since the workflow utils are now being built as a single package using cmake, it would be nice to move all the directories into a single directory (or maybe their own repo) to clean up sorc a bit.

[2021-06-23 20:08] #274 closed, assigned to nobody

[2021-06-23 20:12] KateFriedman-NOAA commented on #193
@yangfanglin Checking on this issue again. Please update and/or close, thanks!

[2021-06-23 20:12] JessicaMeixner-NOAA commented on #325
We also need an IC update.  The 20130401 IC was put in  the climpara area, for now we only have the 8, but for workflow testing we just need the one. All 168 for p7 will be created later.

To use the new IC, this line https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/workflow/cases/coupled_free_forecast_wave.yaml#L69 should be changed to:
CPL_WAVIC: CFSRwave20200925

[2021-06-23 20:15] KateFriedman-NOAA commented on #303
@pjpegion Is this still needed? If so, please update this, thanks!

[2021-06-23 20:19] KateFriedman-NOAA commented on #33
@JianKuang-UMD Is this still an ongoing task? If not, this should be closed. Thanks!

[2021-06-23 20:37] pjpegion commented on #303
I don't know. I don't use the workflow, so I am probably not the one who should make the change in there.

[2021-06-23 20:40] KateFriedman-NOAA commented on #303
@yangfanglin Is this needed?

[2021-06-23 21:00] yangfanglin commented on #193
Kate,

The development activity is still ongoing.

Fanglin

On Wed, Jun 23, 2021 at 4:12 PM Kate Friedman ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2021-06-24 14:42] JessicaMeixner-NOAA commented on #303
This is likely going to be needed at some point in feature/coupled-crow I would suspect.

[2021-06-24 15:36] KateFriedman-NOAA commented on #303
Ok, thanks @JessicaMeixner-NOAA !

[2021-06-24 18:35] KateFriedman-NOAA opened #357 "Port global-workflow to Jet"
This issue will document efforts to port global-workflow to Jet. @DavidHuber-NOAA will be working on porting to Jet.

Previously work done by @lgannoaa to port free-forecast mode was successful. @lgannoaa please send your Jet port changes back to the respective repos, including global-workflow. @DavidHuber-NOAA will use that to start with. Thanks!

Will need to establish glopara installs like othe

[2021-06-24 19:04] #263 closed, assigned to BrianCurtis-NOAA

[2021-06-24 19:49] WalterKolczynski-NOAA commented on #324
On hold waiting for ufs-community/ufs-weather-model/pull/664 to fix CICE output.

[2021-06-24 20:43] KateFriedman-NOAA commented on #230
I added "FV3_GFS_v16_couplednsst" to the CCPP_SUITES list in build_ufs_coupled.sh:

[code]

...and reran build_ufs_coupled.sh (ran it previously before adding "FV3_GFS_v16_couplednsst"). The build got a failure, please see this log on Hera:

/scratch1/NCEPDEV/global/Kate.Friedman/git/feature-coupled-crow-nsst/sorc/logs/build_ufs_coupled_2.log

I ran `sh checkout.sh -c` and `sh build_all.sh -c` whe

[2021-06-24 20:51] JessicaMeixner-NOAA commented on #230
@KateFriedman-NOAA it does not look the the suite file you are requesting FV3_GFS_v16_couplednsst exists.

$ls /scratch1/NCEPDEV/global/Kate.Friedman/git/feature-coupled-crow-nsst/sorc/ufs_coupled.fd/FV3/ccpp/suites/*FV3_GFS_v16_couplednsst*
ls: cannot access /scratch1/NCEPDEV/global/Kate.Friedman/git/feature-coupled-crow-nsst/sorc/ufs_coupled.fd/FV3/ccpp/suites/*FV3_GFS_v16_couplednsst*: No such

[2021-06-25 15:01] JessicaMeixner-NOAA commented on #324
The PR ufs-community/ufs-weather-model/pull/664  was scheduled for 7/7

[2021-06-28 15:35] KateFriedman-NOAA commented on #230
@JessicaMeixner-NOAA Thanks, it built with the 'FV3_GFS_2017_couplednsst' suite. I will test with that to start.

@XuLi-NOAA Other than testing with NST_MODEL=2 & NST_SPINUP=1 what other NST settings should I try? Are there other settings for NST_RESV, ZSEA1, and/or ZSEA2 that you'd like me to test? Thanks!

[2021-06-28 17:06] KateFriedman-NOAA commented on #230
All, I am starting to run feature/coupled-crow for this task on Hera. I ran with the 'coupled_free_forecast' case first to make sure I could run the branch (no issues). I then tried the following prototype tests:

1) cfftest2 - prototype6 case (as is - no changes)
2) cfftest2b - prototype6 case with CCPP_SUITE: FV3_GFS_2017_couplednsst and NSST off (NSST settings as is)
3) cfftest3 - prototype6 ca

[2021-06-28 18:00] XuLi-NOAA commented on #230
Hi, Kate,

It seems you haven't re-done the compile of the coupled model yet.

Here is the example I did for P6:

in

/work/noaa/da/xli/git/coupled-workflow/sorc/build_ufs_coupled.sh

change

CMAKE_FLAGS="-DS2S=ON -DWW3=ON"
CCPP_SUITES="FV3_GFS_v15p2_coupled,FV3_GFS_v16_coupled,FV3_GFS_v16"
./build.sh

to be

CMAKE_FLAGS="-DS2S=ON -DWW3=ON"
CCPP_SUITES="FV3_GFS_v15p2_coupled,FV3_GFS_v16_coupled,FV

[2021-06-28 18:11] XuLi-NOAA commented on #230
@KateFriedman-NOAA : NST_MODEL=2 & NST_SPINUP=1, NST_RESV, ZSEA1, and/or ZSEA2 are zeros, which corresponds to nstf_name=(2,1,0,0,0), is what needs to be tested.

[2021-06-28 18:18] XuLi-NOAA commented on #230
@KateFriedman-NOAA : Actually, you have added the ccpp/suite and done the compile again. So, just make sure the right suite is used (for P7 exactly, as Jiande has used already, I think, but it's better to confirm with him or Jun).
Here is another remind, see the item 2 comment I made 6 days ago:

2. Modify ush/parsing_namelists_FV3.sh to be able to use the suite with NSST

    There is a line in t

[2021-06-28 18:19] KateFriedman-NOAA commented on #230
Ok, thanks! I think the NSST variables are making it through ok then. Just need to get a successful fcst job run.

@XuLi-NOAA I modified build_ufs_coupled.sh already; see my prior comment in this issue: https://github.com/NOAA-EMC/global-workflow/issues/230#issuecomment-867938945

I tried with 'FV3_GFS_v16_couplednsst' in the CCPP_SUITES list:

[code]
...but the build failed because the suite file

[2021-06-28 18:22] XuLi-NOAA commented on #230
I can see *FV3_GFS_v16_coupled_nsstNoahmpUGWPv1* is the one Jiande has used. You should use the same one. But better confirm with him or Jun.

[2021-06-28 18:24] KateFriedman-NOAA commented on #230
Ok, let me check I have the correct setting in ush/parsing_namelist_FV3.sh with 'FV3_GFS_2017_couplednsst'. There are already too many places to have to check/change the suite...this should probably be handled differently.

Ok... @jiandewang @junwang-noaa What is the correct NSST CCPP suite I should be using? Thanks!

[2021-06-28 18:33] junwang-noaa commented on #230
We have two nsst ccpp suite files
- suite_FV3_GFS_v16_coupled_nsstNoahmp.xml is the configuration P7a with
nsst, available in ufs-weather-model develop branch,  the P7a and P7b
branches.
- suite_FV3_GFS_v16_coupled_nsstNoahmpUGWPv1.xml
<https://github.com/NOAA-EMC/fv3atm/blob/926afeeedd355eb9fba6da29bb03f906af40f200/ccpp/suites/suite_FV3_GFS_v16_coupled_nsstNoahmpUGWPv1.xml>:
is the configuration

[2021-06-28 18:35] JessicaMeixner-NOAA commented on #230
@KateFriedman-NOAA To run with those suite files, you'll need to build off of @WalterKolczynski-NOAA PR here https://github.com/NOAA-EMC/global-workflow/pull/359

[2021-06-28 18:37] KateFriedman-NOAA commented on #230
@junwang-noaa @JessicaMeixner-NOAA Ok thanks for the info!

[2021-06-29 18:40] KateFriedman-NOAA commented on #230
@WalterKolczynski-NOAA I set up a clone of your branch from PR #359, added my NSST changes, and set up a test with NSST on. The forecast job failed (not sure why)...please see this log:

/scratch1/NCEPDEV/stmp4/Kate.Friedman/comrot/cfftest4/logs/2013040100/gfs.forecast.highres.log

Is this related to what PR #359 is waiting for? Thanks!

EXPDIR: /scratch1/NCEPDEV/global/Kate.Friedman/expdir/cfftes

[2021-06-29 18:46] WalterKolczynski-NOAA commented on #230
No. The model still completes successfully with the CICE issue, but the forecast job then fails afterwards when it goes to copy the  CICE output.

[2021-06-29 18:47] WalterKolczynski-NOAA commented on #230
This looks like a WW3 version mismatch that I thought we fixed.

[2021-06-29 18:49] JessicaMeixner-NOAA commented on #230
It's a WW3 error, which case file are you using @KateFriedman-NOAA

[2021-06-29 18:51] WalterKolczynski-NOAA commented on #230
Update CPL_WAVIC to GEFSwave20210623 in the case file.

[2021-06-29 18:52] KateFriedman-NOAA commented on #230
Chatted with @JessicaMeixner-NOAA offline, I started with the wrong case file (prototype6.yaml), I need to add NST variables to the coupled_free_forecast_wave.yaml case file. Doing that and retrying. Thanks!

[2021-06-29 18:54] JessicaMeixner-NOAA commented on #230
At this point we've gone far enough away from prototype6, that if someone wants to run that, they should probably just use the exact commit hash and we could delete the p6 yaml case files.

[2021-06-29 19:38] WalterKolczynski-NOAA opened #360 "Clean up case files"
The coupled branch has a number of case files, many of which may not be needed anymore.

https://docs.google.com/spreadsheets/d/1bknaEjVgueL2aqzw3Xh_7v8OSWTlotSxtwjQwGWBhmM/edit?usp=sharing

[2021-06-29 20:21] KateFriedman-NOAA commented on #230
Alrighty...got myself using the right starting case file (coupled_free_forecast_wave.yaml). I created a copy of it for testing (coupled_free_forecast_wave_nst.yaml). Diffs:

[code]

I set up two tests:

1. cfftest0 - coupled_free_forecast_wave.yaml as is, baseline
2. cfftest6 - coupled_free_forecast_wave_nst.yaml

Both failed with the same error, see logs:

/scratch1/NCEPDEV/stmp4/Kate.Friedman/co

[2021-06-29 20:25] WalterKolczynski-NOAA commented on #230
workflow/schema/wave.yaml needs to be updated to allow GEFSwave20210623

This change is made in the PR, are you sure you started from a clean copy?

[2021-06-30 14:52] LydiaStefanova-NOAA commented on #332
About using LAND to store the fractional land mask: there was a discussion of that a while back, and I recall there being a concern that a number of downstream users expect only 1s and 0s in that variable, and the proposed solution at that time being the introduction of a new variable to store the fractional mask. Maybe @junwang-noaa or Shan Sun (I can't find her user name here) remember more abou

[2021-07-07 16:49] HelinWei-NOAA commented on #332
Five additional land fields have been added to the model native output (netcdf). If we want to have them included in the grib outputs, we need to add them to the grib table. Three of them are already in the table but with the different unit. I don't think they allow to have the same variable but with the different unit in the table. So we need to change the unit for them in the current table and m

[2021-07-07 16:54] JessicaMeixner-NOAA commented on #332
@HelinWei-NOAA currently the plan is to have this in P7, the mini-prototypes use the rt.sh system not the workflow, so any workflow only updates are not used in p7c and would only be used for the full prototype.

[2021-07-07 16:55] JessicaMeixner-NOAA commented on #332
FYI @shansun6

[2021-07-07 17:06] barlage commented on #332
@HelinWei-NOAA what is the plan for land fraction? I do remember what @LydiaStefanova-NOAA mentioned earlier that perhaps there are downstream users that expect LAND to be exclusively 0/1 (and the grib description of LAND kinda says that parenthetically: https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table4-2-2-0.shtml). Do we need another new variable for true land fraction? There d

[2021-07-07 17:12] HelinWei-NOAA commented on #332
@JessicaMeixner-NOAA Actually most of the changes are made to ccpp-physics. The only one related to workflow is the modification to diag_table.

[2021-07-07 17:47] JessicaMeixner-NOAA commented on #332
Are the changes to ccpp-physics already merged?

[2021-07-07 17:54] HelinWei-NOAA commented on #332
No. These additional fields are not in the history output. We need to
modify the code to add them to the history output and then modify the
diag_table to have them in the model output.

On Wed, Jul 7, 2021 at 1:47 PM Jessica Meixner ***@***.***>
wrote:

[2021-07-07 17:58] JessicaMeixner-NOAA commented on #332
@HelinWei-NOAA can you add the link to the ccpp/fv3atm/ufs issues here since this global-workflow task is dependent on those?

[2021-07-08 16:01] JessicaMeixner-NOAA commented on #331
Remaining items for this issue are:
* have feature/coupled-crow point to new fix files "fix_NEW" in the link script
* in the forecast run script, either link the new oro and other fix tiled files to the run directory that are on tiles (this is done in rt script here: https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/fv3_conf/cpld_bmark_tiled_run.IN#L33-L40 )  and/or update the

[2021-07-08 16:56] HelinWei-NOAA commented on #332
@barlage I can add land fraction to the output without using LAND. It should be very straightfoward because we have landfrac in DDT Sfcprop. The only thing we need to deal with is its grib definition.

[2021-07-08 19:57] KateFriedman-NOAA commented on #230
@XuLi-NOAA Jessica/Walter helped me get the feature/coupled-crow branch running (both a control and one with NSST on). Both forecasts ran ok but you'll notice an error at the end of both because of a known issue (unrelated to my testing). Please see the following logs and output below on Hera. Please let me know if you see any issues with the NSST on run. The NSST workflow updates are shown below

[2021-07-08 20:48] KateFriedman-NOAA commented on #230
@XuLi-NOAA @WalterKolczynski-NOAA Question on the yaml case files and NSST...should I add the NSST settings to the coupled_free_forecast_wave.yaml or add a new case file (e.g. coupled_free_forecast_wave_nst.yaml). I created a new one for testing but can merge the changes into the existing case file; see diffs between existing and new testing yaml case files:

[code]

[2021-07-08 20:50] XuLi-NOAA commented on #230
Hi, Kate,

Nice to know it goes well.

As to the error at the end of the highres log file, it means the ice file
doesn't exist.

I think it is related to the iceh file name assignment in the
ush/forecast_postdet.sh.

What I did is the hourly output in P5_NEW, see

https://docs.google.com/document/d/1iazVX3nWejY95b9W9ZQR9jWM_lqsIT8mHqNZZ9YcoRI/edit#heading=h.gjdgxs

at nearly the end of the doc, yo

[2021-07-08 20:53] XuLi-NOAA commented on #230
I think, a case yaml file is required any way, like

prototype_7.yaml,

you just need to modify the name list variables in it to control if the
NSST model is on or off.

On Thu, Jul 8, 2021 at 4:49 PM Kate Friedman ***@***.***>
wrote:

[2021-07-08 21:03] WalterKolczynski-NOAA commented on #230
Make a new case for now. In the future we'll update the main case files.

[2021-07-09 13:01] JessicaMeixner-NOAA commented on #230
Updating the main case file even now seems fine as we're turning on NSST.

[2021-07-09 13:06] JessicaMeixner-NOAA commented on #230
@LydiaStefanova-NOAA can you and/or @SulagnaRay-NOAA look at the actual output of Kate's run (ignoring known issues with ice) and make sure it looks like NSST is correctly turned on in the output:
/scratch1/NCEPDEV/stmp4/Kate.Friedman/comrot/cfftest7/gfs.20130401/00/
compared to the run without NSST:
/scratch1/NCEPDEV/stmp4/Kate.Friedman/comrot/cfftest0b/gfs.20130401/00/
(Note not all the settings

[2021-07-09 13:11] CatherineThomas-NOAA opened #361 "Archive fails when DO_MAKEPREPBUFR=NO"
The current default in parm/config/config.prep is DO_MAKEPREPBUFR=YES.  If this option is set to NO, gdasarch and gfsarch will fail because the file $CDUMP.t$HHz.prepbufr_pre-qc is missing.  This file does not exist in the global dump archive and therefore is not copied over/linked to the ROTDIR during the prep step.

Looking through the log files when DO_MAKEPREPBURF=YES for a low resolution para

[2021-07-09 13:37] LydiaStefanova-NOAA commented on #230
I confirm that the results are consistent with NSST being turned on, based on seeing that the surface temperature in the experiment (cfftest7) is cooler than the control (cfftest0b)) over ocean, ~40S to 40N, as illustrated below.

![image](https://user-images.githubusercontent.com/48454097/125085696-de0d5a80-e098-11eb-84d9-9705c4365eee.png)

[2021-07-09 13:41] JessicaMeixner-NOAA commented on #230
Thanks @LydiaStefanova-NOAA

[2021-07-09 13:42] LydiaStefanova-NOAA commented on #230
PS: I do notice some warmer surface temps for lakes ~(60E,45N) and ~(50E,Eq) but don't have any experience with whether that's ok or not

[2021-07-09 13:42] KateFriedman-NOAA commented on #230
Awesome, thank you for checking @LydiaStefanova-NOAA !

I have pushed the needed NSST changes up to @WalterKolczynski-NOAA 's feature/model_update branch in PR #359. Walter, perhaps that PR can now close issue #230 as well? Thanks!

[2021-07-09 13:57] XuLi-NOAA commented on #230
Hi, Lydia,

Yes, the cooler tmpsfc in the NSST on run is as expected, since the
skin-layer cooling parameterization in the NSST model.

The warmer signal is as expected as well, since the diurnal warming model
in the NSST model.

Note:

I am comparing the P7b run, with or w/o the NSST model.

Basically, it works well. But a few issues (for some isolated grids) have
drawn my attention. These issues

[2021-07-09 14:06] JessicaMeixner-NOAA commented on #230
@KateFriedman-NOAA I confirmed that everything looks like I believe we want it in the input.nml:

[code]

Thanks!

[2021-07-09 14:13] KateFriedman-NOAA commented on #230
Thanks @JessicaMeixner-NOAA !

[2021-07-09 14:27] XuLi-NOAA commented on #230
Hi, All,

I can see the same issues from Kate's runs, as I said, it is due to the use
of sfc_ocean to handle the water surface.

I cannot see the sea ice issue (along the Southern edge) as in 2012010100
runs.

And as I said before, there are some too large skin-layer cooling over the
sea ice areas (with an ice fraction close to 1.0), but it seems to have no
big impact on tmpsfc there, will look in

[2021-07-14 20:18] #353 closed, assigned to KateFriedman-NOAA

[2021-07-15 17:16] KateFriedman-NOAA opened #363 "Add Orion support to operations branch"
Add Orion support changes to copy of operations branch for users to run GFSv16 on Orion.

Created branch off of operations (v16.1.2): feature/ops-orion

- [x] add Orion modulefiles/env
- [x] add Orion to machine-setup scripts/files
- [x] add Orion to builds
- [x] add Orion to setup scripts
- [x] update obsproc install on Orion (ops version)

[2021-07-16 17:58] WalterKolczynski-NOAA commented on #331
So all of these are already defined, and the files in fix_am use a different naming convention. Unless fix_am needs to be updated and hasn't yet.

[2021-07-16 18:21] WalterKolczynski-NOAA commented on #331
~~Looks like the FV3_fix_tiled files need to be brought over to fix_am (or a new fix_am_tiled) under fix_NEW.~~

~~/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20210614/FV3_fix_tiled/~~

[2021-07-16 18:26] WalterKolczynski-NOAA commented on #331
Nevermind, I found them. They are hiding deep in fracoro

[2021-07-17 03:11] WalterKolczynski-NOAA commented on #331
@yangfanglin

In the forecast script, we have a check on FNALBC, FNVETC, FNSOTC, and FNABSC to use the highest resolution available if the files of the given resolution are not available. Will that still work with the new tile data, or does it need to match exactly? I need to know whether I should remove it or update it to use C3072 as a fallback.

Existing code:
[code]

Code if the fallback still

[2021-07-18 01:36] SMoorthi-emc commented on #331
It won't work!

On Fri, Jul 16, 2021 at 11:12 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301) 683-3718   Fax:

[2021-07-18 02:42] yangfanglin commented on #331
Walter,

At the moment we do not have fix fields on the tiles  at resolutions higher
than C768 that work for fractional grids and have been updated for VIIRS
veg types.   We do have  fix fields on the tiles  for all resolutions saved
under fix_fv3_gmted2010/C###/fix_sfc, which only works for non-fractional
gird and contain the MODIS veg types.

I'd recommend keeping those back-up options only for

[2021-07-18 12:35] SMoorthi-emc commented on #331
You can run fractional grid case without tile files I.e tile files are not required. However, you do need orography and gwd related files on fractional grid. So you can run C3072 without tile files.

Sent from my iPhone

[2021-07-18 15:22] yangfanglin commented on #331
@HelinWei-NOAA @barlage Mike and Helin, do you have a version of the VIIRS veg type data on the Gaussian grid, similar to global_vegtype.igbp.t1534.3072.1536.rg.grb ?    We also need the [fix files on the tiles](https://docs.google.com/document/d/1TtsUtiwCOExaO-vT6v9bX-fM2g_jv7aU815G47YM1dI/edit) for on C1152 and C3072 grids.  @shan.sun@noaa.gov @GeorgeGayno-NOAA Can you generate fractional oro da

[2021-07-19 13:10] aerorahul commented on #265
@BrianCurtis-NOAA
What is the status of this work?
We need a time estimate on when this will be complete.

[2021-07-19 13:45] GeorgeGayno-NOAA commented on #331
@yangfanglin Why do you need the VIIRS veg type data on the Gaussian grid?

[2021-07-19 14:44] aerorahul opened #365 "modular exglobal in develop"
Bring in modular exglobal forecast script capabilities from `feature/coupled_crow` into `develop`

- This will be first tested in the free forecast mode where the current exglobal script is replaced with the modular one for atmosphere only free forecasts.  This should be a zero diff change and require minimal changes to the bash config files or setup scripts.
- Identify and bring the bash configur

[2021-07-19 15:11] aerorahul opened #366 "Bring coupled model forecast capabilities into `develop`"
This epic will consolidate issues to bring in the capabilities of executing coupled model forecast from `feature/coupled_crow` (without CROW dependency) into `develop` to support coupled prototype efforts and eliminate duplication and redundancies.

Several accompanying issues will be handled in this epic as well:
- Python 2to3 updates for setup scripts. See issue #265
- Modularize exglobal foreca

[2021-07-19 15:14] aerorahul opened #367 "Identify and bring waves, ocean, and ice pre and post processing scripts to develop"
Identity the pre and post processing scripts for waves, ocean and ice used in coupled prototypes and integrate with develop.

[2021-07-19 15:16] aerorahul opened #368 "Update free forecast setup for coupled model."
Update free forecast setup scripts (experiment and workflow) to include coupled model mode.

Branch created for this effort: feature/coupled_sprint

[2021-07-19 15:54] yangfanglin commented on #331
George,

In case one wants to *experiment *the model at a resolution different from
the standard settings of C48. C96, C192 C384, C768, C1152 and C3072,  the
fix files on the Gaussian grid at the "highest" resolution can always be
used as a backup without creating files on the tiles.

Fanglin

On Mon, Jul 19, 2021 at 9:45 AM GeorgeGayno-NOAA ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Mo

[2021-07-19 15:56] SMoorthi-emc commented on #331
It does not have to be on a Gaussian grid; it can be on regular lat/lon
grid.

On Mon, Jul 19, 2021 at 11:55 AM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e

[2021-07-19 16:00] yangfanglin commented on #331
Right, can be on any grid and in any format as long as the surface cycle
can ingest and interpolate to the model grid/time.

On Mon, Jul 19, 2021 at 11:56 AM SMoorthi-emc ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.

[2021-07-19 16:34] aerorahul commented on #256
@KateFriedman-NOAA @JessicaMeixner-NOAA @WalterKolczynski-NOAA
This work is required for the sprint and it appears `develop` has been lagging the `ufs-weather-model` since February.
Did we decide who is working on this for the sprint?

[2021-07-19 16:41] JessicaMeixner-NOAA commented on #256
This is needed.  Best I remember this was going to require me to debug it and due to lack of time//competing priorities this got dropped.  I don't necessarily have time to pick this up right now.  I can create a run directory with working example from rt.sh (I have done this in the past but I think those directories are deleted by now) that can be used for comparison to get the global-workflow run

[2021-07-19 16:55] KateFriedman-NOAA commented on #256
@JessicaMeixner-NOAA That is my recollection as well. Need an example with waves running correctly so we can see what global-workflow develop is missing for correct wave support with the newer ufs-weather-model hash.

Tend to not chase the tail of develop branches, unless necessary. Took a while to get all components updated to hpc-stack so didn't update this component once I had a package working

[2021-07-19 17:00] aerorahul commented on #256
@KateFriedman-NOAA
If you run the weather model Regression test for current `develop`, you will find everything you need to resolve issue.
We don't need to involve @WenMeng-NOAA into this conversation.

@JessicaMeixner-NOAA
Can you tell us which regression test it is?
I can give @KateFriedman-NOAA instructions on how to run a single test and save the run directory so she can compare the directorie

[2021-07-19 17:08] JessicaMeixner-NOAA commented on #256
I think we can just use the current version of ufs-weather-model that is running in global-workflow develop.  This is not an issue of chasing the latest ufs-weather-model develop hash (although that would be nice if things didn't lag as much as they do now).  We don't have to use the latest version, this has been an issue since CCPP was introduced which was a long time ago.

The test that was bein

[2021-07-19 17:09] aerorahul commented on #256
@JessicaMeixner-NOAA `develop` of the `ufs-weather-model`.

[2021-07-19 17:17] aerorahul commented on #256
@JessicaMeixner-NOAA
There must be some test in the UFS-weather-model that runs the model with Waves and CCPP?

[2021-07-19 17:18] JessicaMeixner-NOAA commented on #256
Then you need to use the branch in the PR here: https://github.com/ufs-community/ufs-weather-model/pull/620 and use the "control_c384gdas_wav" test.  It's C384 w/the 3 wave grids that we use in v16.

Something else that never was done was running w/a simpler wave set-up with a single lower resolution wave grid, which would be the "control_atmwav" test (https://github.com/ufs-community/ufs-weather-

[2021-07-19 17:28] yangfanglin commented on #256
@JessicaMeixner-NOAA  - NOAA Federal ***@***.***>   What is the
WAVE grid currently running in the UFS prototypes ?  Should all tests and
workflow be now configured for the coupled model ?   The workflow and tests
should work for atmos-only runs (coupled to WAVE) with a simple switch.  I
understand there are still obstacles but this should be the ultimate goal.

On Mon, Jul 19, 2021 at 1:18 PM Jes

[2021-07-19 17:29] WalterKolczynski-NOAA commented on #256
It should be noted that with the current UFS, it is now -DAPP=ATMW and CCPP_SUITES="FV3_GFS_v16,FV3_GFS_v16_RRTMGP" instead of the options here.

I already have a version of the build scripts that was doing this as I started trying to get atm-wave working in coupled-crow last week, but they haven't even been committed yet because I haven't gotten the forecast to run successfully yet. But the build

[2021-07-19 17:44] JessicaMeixner-NOAA commented on #256
I'm confused how this has anything do to with getting the develop branch to run with CCPP=YES and DO_WAVE=YES, which doesn't have anything to do with coupled-crow (and this issue has never been about that either).

[2021-07-19 17:46] jessica commented on #256
Please make sure you tag the right Jessica.

[2021-07-19 17:47] GeorgeGayno-NOAA commented on #331
If anyone wants to test a non-standard resolution, they would need to set up their grid using these UFS_UTILS scripts:
https://github.com/NOAA-EMC/UFS_UTILS/tree/develop/driver_scripts

And these scripts create the 'grid', orography and surface fields. I just ran them for a global C100 grid, and they worked.

[2021-07-19 17:48] WalterKolczynski-NOAA commented on #256
It matters if we are talking about updating g-w develop to use UFS develop.

[2021-07-19 17:51] aerorahul commented on #256
Ok.
@KateFriedman-NOAA
Here are the instructions for running this test:

Recursively clone branch `fb_add_control_wave_tests` from `https://github.com/aliabdolali/ufs-weather-model`

[code]

Open `rt.conf` and remove all lines except 192-194

[code]

You will have to grep through the logs to find out where the run directories are.

[2021-07-19 17:52] jessica commented on #256
HELLO

[2021-07-19 18:07] yangfanglin commented on #331
@GeorgeGayno-NOAA   That is great to know.   BTW, has the fractional grid option been built in these driver scripts ?  If the answer is yes, could you please make the fix files on the tiles for C1152 and C3072 grids ?   They are still missing from the "FIX" archive.

[2021-07-19 18:11] WalterKolczynski-NOAA commented on #331
Can all of this be taken to a new issue somewhere? My original question has been answered, and almost everything after that would be about fix directory maintenance or other changes outside the purview of this issue.

[2021-07-19 18:12] WenMeng-NOAA commented on #256
@KateFriedman-NOAA

The current ufs-weather-model develop branch uses upp/10.0.8 for inline post. You may use the tag upp_v10.0.8 from EMC_post repository for offline post.

[2021-07-19 18:44] aerorahul opened #369 "Setup test experiments using feature/coupled_crow"
Set up test experiment directories, configurations and workflow xml for a prototype coupled application on Orion.

This includes:
- final bash configuration scripts
- workflow xml
- rotdir with initial conditions
- rundir for forecast
- document the steps for replicating the experiment setup (use `history` command and paste them somewhere so someone else can replicate)

Identify:
- script that doe

[2021-07-19 19:39] BrianCurtis-NOAA commented on #265
@KateFriedman-NOAA @aerorahul I merged from develop and made any additional changes to get it working with py3. I will get a draft PR out in a minute.

There is one issue (maybe similar issue on other systems): the hera intelpython distribution has numpy but numpy is broken in that install, I don't know if that is something we can get fixed easily. I worked around it using a miniconda installation

[2021-07-19 19:41] aerorahul commented on #265
@BrianCurtis-NOAA

UPDATED:

The `intelpython/3.6.8` module does work.  It needs the `intel` module loaded.

As a test, can you create the xml with python2 version of the scripts and compare it with the python3 version of the setup scripts?
They should be largely identical.

[2021-07-19 19:42] WalterKolczynski-NOAA commented on #265
I've already done the conversion necessary for rocoto viewer. See NOAA-EMC/CROW/pull/16. It could use more testing though.

[2021-07-19 19:45] BrianCurtis-NOAA commented on #265
@aerorahul Yes, i wanted to make sure they ran without error and at least started with rocoto. Next step is comparisons between develop output and this output as well as meeting PEP8 standards.

[2021-07-19 19:47] BrianCurtis-NOAA commented on #265
Great, I will not touch that file any more. Once I get towards the finishing touches on the PR I can try that code out.

[2021-07-19 20:23] KateFriedman-NOAA commented on #363
Tested branch successfully on Orion (C192C96L127) and on WCOSS-Venus (C768C384L127). The WCOSS test reproduced operations.

Changes included in this branch cover:

1. support to run GFSv16 workflow on Orion (bulk of changes); also includes updates to support new rstprod policy
2. saved operational resource settings in new config.fv3.nco.static and config.resources.nco.static (what config.fv3 and c

[2021-07-19 23:36] jkuang-exploro commented on #366
I'm working under feature/script_update for this issue

[2021-07-19 23:56] jkuang-exploro commented on #365
This is under work in branch feature/script_update

[2021-07-20 11:50] WalterKolczynski-NOAA commented on #369
### Steps to reproduce
[code]
- edit user.yaml to set EXPROOT, COMROOT, DATAROOT, cpu_project, and hpss_project
- if you want to keep $DATA, also edit cases/coupled_free_forecast_wave.yaml and change KEEPDATA to YES
[code]
- do whatever you normally do to add rocoto to your crontab

### Output
expdir: /work/noaa/global/wkolczyn/save/global-workflow/expdir/example
ROTDIR: /work/noaa/global/wkolczyn

[2021-07-20 13:12] KateFriedman-NOAA commented on #341
OBSPROC release branches created and submitted to NCO, awaiting implementation and OT tags cut:

- obsproc_prep.v5.5.0
- obsproc_global.v3.4.2

Available via VLab:
git clone -b obsproc_prep_RB-5.5.0 https://user.name@vlab.noaa.gov/code-review/a/EMC_obsproc_prep obsproc_prep_RB-5.5.0
git clone -b obsproc_global_RB-3.4.2 https://User.Name@vlab.noaa.gov/code-review/a/EMC_obsproc_global obsproc_global

[2021-07-20 13:30] aerorahul commented on #369
@WalterKolczynski-NOAA
Thanks!  Can you please open up the permissions to those directories?

[code]

[2021-07-20 13:33] WalterKolczynski-NOAA commented on #369
Try now

[2021-07-20 14:40] ShelleyMelchior-NOAA commented on #341
One minor correction, the URLs in the clone instructions should no longer
contain ".ncep"

It might still work b/c I think redirection is still in place, but that may
not be the case forever.

Thanks,
Shelley

--
Shelley Melchior
IMSG - NOAA/NCEP/EMC - Obs Processing

On Tue, Jul 20, 2021 at 9:13 AM Kate Friedman ***@***.***>
wrote:

[2021-07-20 14:41] KateFriedman-NOAA commented on #341
@ShelleyMelchior-NOAA Noted, make sure to update any gerrit aliases, the redirection does not work for gerrit. Thanks!

[2021-07-20 15:46] RussTreadon-NOAA commented on #341
**Venus prep test**

`obsproc_global_RB-3.4.2` and `obsproc_prep_RB-5.5.0` were installed on Venus.  The v16tac2bufr parallel configuration was used to run 2021072000 gfs and gdas prep twice.   The first run used `obsproc_global.iss83047.shipsb` and `obsproc_prep.iss83047.shipsb`.   The second run used `obsproc_global_RB-3.4.2` and `obsproc_prep_RB-5.5.0`.

For this single cycle iss83047 and RB yi

[2021-07-20 15:54] JessicaMeixner-NOAA commented on #369
The script that does the staging of initial conditions is feature/coupled-crow [jobs/rocoto/coupled_ic.sh](https://github.com/NOAA-EMC/global-workflow/blob/feature/coupled-crow/jobs/rocoto/coupled_ic.sh)
More info on this script/job:
* It’s the first job that runs, and requires pre-staged ICs but there is no other job dependency, the forecast job is dependent on this job completing before it can s

[2021-07-20 17:30] JessicaMeixner-NOAA commented on #367
So in terms of ocean/ice pre-processing jobs, there is only the staging of the initial conditions.  The ocean/ice post job and the initial condition staging job have been described in detail in a comment on #369, which I am not repeating here for now.

For waves, all jobs are in the develop branch for pre-and post-processing.  However, the develop branch and the feature/coupled-crow branch are out

[2021-07-20 17:33] JessicaMeixner-NOAA commented on #369
So ignoring the differences in scripts/fix/etc for waves, when you set-up the jobs themselves, there's a couple of major differences (which are also described in  #367) for the post processing jobs themselves, which I will repeat here:
* the develop branch runs jobs for boundary point post processing, which is not needed for the propototypes.
* he gridded post processing in develop runs side-by-si

[2021-07-20 18:20] aerorahul commented on #265
@BrianCurtis-NOAA
You will need to load the `intel` module with the `intelpython` module for using `numpy`.
That is the error here, not with the `intelpython` module.

[2021-07-20 18:23] BrianCurtis-NOAA commented on #265
@aerorahul Thanks. Noted.

[2021-07-20 19:53] #265 closed, assigned to WalterKolczynski-NOAA, KateFriedman-NOAA, BrianCurtis-NOAA

[2021-07-20 19:54] KateFriedman-NOAA commented on #265
Thanks all!

[2021-07-20 20:07] KateFriedman-NOAA commented on #368
Sync merged develop into feature/coupled_sprint @ 2d5a8ec

[2021-07-21 22:03] WalterKolczynski-NOAA commented on #346
Can @SMoorthi-emc or @yangfanglin help with the following? I'm trying to update the forecast script and I want to make sure the namelist options being set are consistent for the different UGWD options. (NB: I'm currently using knob_ugwp_version = -1 as a setting for UGWP off)

- Do some of the v1 options need to also be set in v0?
- Should the do_gsl_drag* options be determined independent of UGWD

[2021-07-21 22:26] yangfanglin commented on #346
Walter,

lsm=2 is for using NOAH-MP inclead of NOAH LSM.

To set up options to run the forecast model with uGWD.v1, lease refer to
https://github.com/yangfanglin/global-workflow/blob/feature/gfsv17/parm/config/config.fcst#L69
and
https://github.com/yangfanglin/global-workflow/blob/feature/gfsv17/scripts/exglobal_forecast.sh#L403
for reference

Please note a different  SDF has to be used if one dec

[2021-07-21 22:47] WalterKolczynski-NOAA commented on #346
Okay, then the CCPP documentation [here](https://dtcenter.ucar.edu/GMTB/v4.0/sci_doc/CCPPsuite_nml_desp.html) is wrong, which says lsm=2 is RUC

Please note a different SDF has to be used if one decides to run with the uGWD.v0. It is difficult and confusing to include all the options in the workflow to run with both uGWD.v0 and uGWD.v1. I'd suggest you only make the uGWD.v1 options available. I ha

[2021-07-21 22:58] yangfanglin commented on #346
SDF is suite definition file that is used to select physics options at
compiling time, a feature introduced by CCPP.

Please only consider gwd_opt=2 for now.  It was necessary to have the many
different options to choose from during the UGWD development process, but
we are now confident only gwd_opt=2 is needed in the future.  As I said
cleaning will come in weeks if not months.

On Wed, Jul 21, 2

[2021-07-21 23:07] WalterKolczynski-NOAA commented on #346
Okay, we current support different suites. What is going to happen if I run this with FV3_GFS_v16 (say, for aerosols) if I rip out all of the non-ugwd v1 code?

[2021-07-21 23:55] SMoorthi-emc commented on #346
I think it is shortsighted to remove options in the model code.  As I
understood, UFS is not supposed to work for ONE set of physics.
(for the record, I have never tried NOahMP nor the new gwd nor RRTMGP).
And now all this python and rocoto mess.
Do any of you know what the following cryptic error message means?

"07/21/21 19:34:16 EDT :: c384_phyae.xml :: sbatch: error:
*QOSMaxWallDurationPerJobL

[2021-07-22 01:11] WalterKolczynski-NOAA commented on #346
QOSMaxWallDurationPerJobLimit is a scheduler (slurm) variable, not a UFS one. The error means a job is asking for a longer wallclock than the QOS allows. But please keep unrelated troubleshooting out of this issue (especially for things that aren't even global-workflow related).

As for the future of GWD options in UFS, that is also a bit outside of this issue. I just want to make sure the option(

[2021-07-22 01:27] yangfanglin commented on #346
Walter,

I understand at the moment different CCPP SDF suites contain different uGWD
versions.  They need to be supported before the house cleaning is
completed.   gwd_opt should be used as the conditional option for selecting
different ugwd versions.  Under each gwd_opt different namelist parameters
can be further used to turn on/off a few different GWD components.

Please standby.  I will provid

[2021-07-22 20:13] yangfanglin commented on #346
Walter,

Please see
https://docs.google.com/document/d/1qfmP1CMIkVjLK_BBnmYAW0N1nXo5G9ezi3Qpux1QpVw/edit
for a template I put together and confirmed with Mike Toy for setting up
uGWD options.

Fanglin

On Wed, Jul 21, 2021 at 9:26 PM Fanglin Yang - NOAA Federal <
***@***.***> wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Envir

[2021-07-23 01:42] RussTreadon-NOAA commented on #341
As requested, `obsproc_global_RB-3.4.2` and `obsproc_prep_RB-5.5.0` have been installed on Mars and Venus in `/gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/obsproc/TAC2BUFR`.

[2021-07-24 08:33] #230 closed, assigned to KateFriedman-NOAA

[2021-07-24 08:33] #324 closed, assigned to WalterKolczynski-NOAA

[2021-07-24 08:33] #333 closed, assigned to WalterKolczynski-NOAA

[2021-07-24 08:34] #314 closed, assigned to WalterKolczynski-NOAA

[2021-07-24 08:34] #336 closed, assigned to JessicaMeixner-NOAA, WalterKolczynski-NOAA

[2021-07-24 08:34] #337 closed, assigned to KateFriedman-NOAA

[2021-07-24 08:47] #325 closed, assigned to JessicaMeixner-NOAA

[2021-07-26 09:17] WalterKolczynski-NOAA opened #374 "Unify checkout and build systems"
The checkout and build systems for the standard GFS, the coupled version, and the aerosol version need to be unified around a single set of scripts.

See also: #366, #368

[2021-07-27 14:45] KateFriedman-NOAA opened #378 "Forecast job reproducibility issue with develop ufs-weather-model hash"
A user reported a reproducibility issue with their gfsfcst jobs on Hera. Investigation found reproducibility issues with the gdasfcst and gfsfcst jobs...but not consistently (sometimes output reproduces far into forecast). @junwang-noaa helped trace the issue in global-workflow to a threading reproducibility issue with 32BIT=Y option in ufs-weather-model develop that was corrected in a commit on J

[2021-07-27 15:10] KateFriedman-NOAA commented on #378
Created branch for this: bugfix/reproduce-fcst

[2021-07-27 19:53] #331 closed, assigned to KateFriedman-NOAA

[2021-07-27 19:53] #346 closed, assigned to WalterKolczynski-NOAA

[2021-07-27 19:55] WalterKolczynski-NOAA opened #379 "Update to MERRA2"
Update the aerosol inputs to MERRA2 in the coupled branch.

[2021-07-28 08:18] julien-faye opened #381 "Build issues related to Bash vs Dash"
Hello,

I am trying to build the project on Ubuntu 20.04.2, both x86_64 and aarch64.

Following the instructions in the README.md

[code]

I face these errors::
[code]

The command works if I use `bash checkout.sh` instead. Note: `bash` versus `sh`. On my systems `/bin/sh` is a symlink to `/bin/dash`.

I used the word `works`, not `passes` because I see such lines:
[code]

[2021-07-28 13:26] #379 closed, assigned to WalterKolczynski-NOAA

[2021-07-28 13:29] JessicaMeixner-NOAA opened #382 "P7 ICs - point to new ones"
For prototype 7, we want to point to the atm ICs here:
/scratch2/NCEPDEV/climate/climpara/S2S/IC/GEFSwithNOAHMP
and the WW3 ICs here:
/scratch2/NCEPDEV/climate/climpara/S2S/IC/GEFSwave20210528

[2021-07-28 15:14] jkuang-exploro commented on #365
I created a tag named "coupled_sprint_start" pointing to the hash of coupled-crow when I initially started the merge.

[2021-07-28 16:34] KateFriedman-NOAA opened #385 "Evaluate need for gfs_util files under util folder"
Evaluate if files living under [util folder](https://github.com/NOAA-EMC/global-workflow/tree/develop/util) are still needed and remove if not.

Example file listing:
[code]

[2021-07-28 17:49] JessicaMeixner-NOAA opened #386 "P7: Update input nameless"
All namelist values need to be checked and confirmed that the correct options are being used for all components.
Tracking some of this being done in the google doc [here](https://docs.google.com/document/d/1KxrmA74qqu6jMkjQqREbQfuApSksoSozSLKdlv_oGuE/edit?usp=sharing).

The namelist that we know need updating for now are:
* LANDICE should be false
* Check uGWD settings
* The following for
ialb=2
i

[2021-07-28 18:16] yangfanglin commented on #386
Jessica, I have reviewed the namelist differences included in [here](https://docs.google.com/document/d/1KxrmA74qqu6jMkjQqREbQfuApSksoSozSLKdlv_oGuE/edit).   More changes are required for setting up p7c namelist options.  Please use the settings in https://www.emc.ncep.noaa.gov/gmb/wx24fy/misc/gfsv17/input.nml_C768L127_ColdStart_NoahMP_MERRA2_uGWDv1 except for those related to model resolution and

[2021-07-28 18:22] JessicaMeixner-NOAA commented on #386
Thanks @yangfanglin

[2021-07-28 18:26] DavidHuber-NOAA commented on #357
@lgannoaa The gldas build modules all look correct to me.  I did a test build with them and everything built fine.

By the way, I have not been able to start this work on Jet just yet.  I'm finishing up the S4 port, but I should be able to move to this in 2-3 weeks.

[2021-07-28 18:33] WalterKolczynski-NOAA commented on #386
Do we need the cellular automata stuff if we're not running an ensemble?

[2021-07-28 18:36] JessicaMeixner-NOAA commented on #386
Yes we need CA for P7c item 5 c) "c) "Stochastic parameterization of organized tropical convection using cellular automata"
listed in the document [here](https://docs.google.com/document/d/1KpQsnZclW3BBX4pZAKPV_c58XjHy3F_H_4jAEmrlpek/edit?usp=sharing)

[2021-07-28 18:45] lgannoaa commented on #357
@DavidHuber-NOAA
Thank you for verify.

[2021-07-28 19:39] KateFriedman-NOAA commented on #381
@julien-faye Thanks for letting us know about the issues with global-workflow checkout and dash. We don't support dash right now so I can't provide any feedback on the issue you see but I'm glad to hear that checkout.sh works when you use `bash` before it. The next version of the system (GFSv17/UFS) will replace checkout.sh with a more supported/robust checkout method.

fatal: Could not read from

[2021-07-28 19:43] KateFriedman-NOAA commented on #378
Since we'll be moving the ufs-weather-model hash to the one supported in feature/coupled-crow branch at the conclusion of the ongoing coupled sprint we will forgo any separate efforts to move the develop branch hash before that.

Will remove branch created for this effort.

[2021-07-29 04:36] jkuang-exploro commented on #365
Another tag off the feature/coupled-crow branch named "coupled-sprint-0728" is created. This tag is intended to mark the state of the evolving feature/coupled-crow branch as of date 0728.

[2021-07-29 04:37] jkuang-exploro commented on #365
PR#371 is updated for "coupled-sprint-0728" tag of feature/coupled-crow branch.

[2021-07-29 12:03] WalterKolczynski-NOAA commented on #386
I know LANDICE is tied to Noah-MP. Are any of the other changes tied to changes we recently made (or to each other)?

[2021-07-29 12:27] JessicaMeixner-NOAA commented on #386
These are all NOAH-MP options that @HelinWei-NOAA said to use:
Noah MP

  lsm          = 2
  iopt_dveg    = 4
  iopt_crs     = 2
  iopt_btr     = 1
  iopt_run     = 1
  iopt_sfc     = 1
  iopt_frz     = 1
  iopt_inf     = 1
  iopt_rad     = 3
  iopt_alb     = 1
  iopt_snf     = 4
  iopt_tbot    = 2
  iopt_stc     = 3
some of them are already being used, others are not.

Not sure on some of the oth

[2021-07-29 12:52] WalterKolczynski-NOAA commented on #386
Anything that is bundled together should be set based on the key value, i.e. if Noah-MP is active all of those settings will be set to those values (at least as a default).

[2021-07-29 13:26] JessicaMeixner-NOAA commented on #386
@yangfanglin provided the [uGWD info](https://docs.google.com/document/d/1qfmP1CMIkVjLK_BBnmYAW0N1nXo5G9ezi3Qpux1QpVw/edit?usp=sharing)
@AnningCheng-NOAA can help let you know about MERRA2 climatology settings, but I believe those are all okay now
@HelinWei-NOAA and @barlage can help identify the NOAH-MP namelist setting groupings
Lisa Bengtsson can help with CA questions beyond the namelist value

[2021-07-29 14:33] DavidHuber-NOAA commented on #357
@lgannoaa I may have spoken too soon.  On S4 (#138), I was having issues with the gdasgldas job crashing.  The fix there was to update the esmf library to 8_1_1 in both gdas2gldas.s4 and gldas2gdas.s4.  The reason being that module_base.s4 is sourced, which loads esmf/8_1_1.  However, I notice that this mismatch is present in the gdas2gldas and gldas2gdas build scripts for all machines.  @KateFrie

[2021-07-29 16:02] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA What tag of GLDAS are you using? The current tag of GLDAS in the develop branch ([gldas_gfsv16_release.v1.15.0](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.15.0)) uses `esmf/8_1_0_beta_snapshot_27` from hpc-stack. For Jet...the GLDAS will just need new modulesfiles that point to the same libraries through the hpc-stack installation there. In theory the n

[2021-07-29 16:59] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA I am using the gldas_gfsv16_release.v1.15.0 tag.  You're correct that the module files in gldas all reference `esmf/8_1_0_beta_snapshot_27`.  What I was asking is whether this should be incremented to `esmf/8_1_1` since the workflow job gdasgldas (i.e. [gldas.sh](https://github.com/NOAA-EMC/global-workflow/blob/8c777ad04bce0555bed9f6666b808515b0a3766d/jobs/rocoto/gldas.sh#L5)) c

[2021-07-29 17:01] #382 closed, assigned to JessicaMeixner-NOAA

[2021-07-29 17:14] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA Oh, I see what you're saying now. Hmmmm, all of the components in develop have a mix of `esmf/8_1_0_beta_snapshot_27` and `esmf/8_1_1`. I can't make the decisions for the GLDAS folks but if `esmf/8_1_1` works on S4 then it should likely work elsewhere. Ok yeah, when you make S4/Jet changes in a GLDAS branch change the esmf module to `esmf/8_1_1` and then it can be discussed in the

[2021-07-29 17:23] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA Alright, sounds like a plan.  Thanks!

[2021-07-29 21:05] #374 closed, assigned to WalterKolczynski-NOAA

[2021-07-30 20:27] aerorahul opened #389 "wrap `module` commands with `set +x` and `set -x`"
Through out our scripts, we load and unload modules while enabling tracing `set -x`.
While it is extremely useful for logging the progression of the script, the trace output from `module` commands is extremely long, cryptic and completely useless to the general user/developer.

`module` commands should be expected to work as is without the need for tracing their inner workings.

Identify all insta

[2021-08-02 20:12] jkuang-exploro commented on #365
All comments for my PR are addressed. Currently waiting for fixes for the base line(coupled-sprint), which isn't work right now.

[2021-08-02 21:17] pjpegion opened #392 "Unnecessary calculations running 1/4 degree MOM6"
for the 1/4-degree model,  the Gent-McWilliams scheme is called, but the results are later ignored, thus wasting CPU time.  Setting THICKNESSDIFFUSE = False prevents the call to MOM_thickness_diffuse.F90, shortening the runtime by about 1%.

This will change the MEKE field in the restart file, but doesn't affect the state of the model.

[2021-08-03 12:37] JessicaMeixner-NOAA commented on #392
So one comment from @jiandewang is that the regression tests for ufs-weather-model run with this setting turned on and do compare the restart files.  One drawback of having the "production" runs different from what is tested in the regression tests is that we aren't testing it.  Seems like that might not be an issue in this case, but something to consider as well.

[2021-08-03 14:15] jiandewang commented on #392
The 1% cpu time saving is based on dat-atm. I launched several parallel jobs last night to see what's the impact on S2S but HERA is off at this moment. My understanding is in S2S fv3 is the bottleneck so this change may not be very necessary. Let's wait when HERA is back.

[2021-08-03 14:19] JessicaMeixner-NOAA commented on #392
@jiandewang I agree -- the atm model is usually the bottleneck so we might not see the benefit right now for prototype 7.

[2021-08-03 14:26] jiandewang commented on #392
add Alistair and Phil's communication here for record:

Phil: Is the bypassing of the Gent-Mcwilliams parameterization intentional, or should KHTH be set to a positive number, and if so, what should that value be?

Alistair's reply:

Yes, it is intentional. The idea behind turning on was that we would be able to more trivially then turn on the scale-aware version of GM that we have but we currentl

[2021-08-03 21:37] WalterKolczynski-NOAA opened #397 "Cleanup and standardize shell scripts"
The style of the shell scripts is haphazard and difficult to read. Indentation is inconsistent and where it is correct is often broken by heredocs. There is also no standard pre-able/post-amble to scripts or PS1 specifications. Even if these scripts will be replaced in the future, it would aid the porting process for these scripts to be more readable.

These lists are drafts and also open to sugge

[2021-08-03 22:30] jiandewang commented on #392
HERA is back, I checked the two jobs (cpld_bmark_wave_v16_p7b) I launched last night, one with THICKNESSDIFFUSE=T, one with F,   1st job finished with 11m53s, 2nd one is 1 second less.

[2021-08-03 22:36] pjpegion commented on #392
Guess the coupled model is not load balanced enough to make a difference.
Thanks for testing.
-Phil

On Tue, Aug 3, 2021 at 4:30 PM jiandewang ***@***.***> wrote:

--
Phil Pegion (he/him/his)
Physical Scientist
NOAA/Physical Sciences Laboratory
(303) 497-7897
***@***.***

[2021-08-04 15:44] RussTreadon-NOAA commented on #341
Click [here to view SCN](https://www.weather.gov/media/notification/pdf2/scn21-72_bufr_format_ships_c-man_data.pdf) posted for 20210810 implementation of gfs changes tested in v16tac2bfr.

[2021-08-04 17:15] DavidHuber-NOAA commented on #138
The verif-global port has been completed.  The tag including this port is [verif_global_v2.2.1](https://github.com/NOAA-EMC/EMC_verif-global/tree/verif_global_v2.2.1).

[2021-08-05 17:31] arunchawla-NOAA commented on #363
@KateFriedman-NOAA Is this issue resolved? Is there any further work that needs to be completed for this ?

[2021-08-05 17:39] KateFriedman-NOAA commented on #363
@arunchawla-NOAA It is for the most part but I have a user on Hera right now (using feature/ops-orion) who has a failing efcs job that is being troubleshooted. I'd like to complete that troubleshooting and commit any needed updates before closing this issue.

[2021-08-06 17:07] DavidHuber-NOAA commented on #138
Linked issues:

Port the UFS: ufs-community/ufs-weather-model#738
Port the GSI: NOAA-EMC/GSI#177
Port GLDAS: NOAA-EMC/GLDAS#21
Port the Post: NOAA-EMC/EMC_Post#341
Port WW3: NOAA-EMC/WW3#424
Port UFS_Utils: NOAA-EMC/UFS_Utils#543
Port verif-global: NOAA-EMC/EMC_verif-global#55, NOAA-EMC/EMC_verif-global#65

[2021-08-06 19:14] RussTreadon-NOAA commented on #341
**NCO RFC memo - August 6, 2021**

***RFC 8521 - On WCOSS, implement obsprocv16. This upgrade primarily
addresses the ability to encode BUFR format ships and C-MAN platform data
into all obsproc-supported networks’ dump and prepbufr files. Networks include:
gdas, gfs, rap, rtma, urma, nam, cdas, and dump_monitor. For full details, see
the SCN at:
[https://www.weather.gov/media/notification/pdf2/sc

[2021-08-09 11:44] julien-faye commented on #381
Thank you for your response, @KateFriedman-NOAA !

I am not a NOAA user or an affiliate, so I guess I will have to wait for now.

[2021-08-09 11:46] julien-faye commented on #381
By the way, is global-workflow supported on Linux ARM64 ?

[2021-08-09 19:55] KateFriedman-NOAA commented on #363
Issue that user reported appears to have been resolved and doesn't require any changes to the feature/ops-orion branch. Will now close this issue.

[2021-08-09 19:55] #363 closed, assigned to KateFriedman-NOAA

[2021-08-09 19:58] GeorgeGayno-NOAA commented on #357
@KateFriedman-NOAA I opened an issue for porting the gdas_init scripts to Jet. I have done no work on it yet. Should I prioritize it now?

https://github.com/NOAA-EMC/UFS_UTILS/issues/544

[2021-08-09 20:00] #378 closed, assigned to KateFriedman-NOAA

[2021-08-09 20:06] KateFriedman-NOAA commented on #357
@GeorgeGayno-NOAA Yes, please now prioritize that task and keep @DavidHuber-NOAA up-to-date so he can test it when ready. UFS_UTILS is already working well enough to run the init job via global-workflow on Jet so we'll just need the gdas_init offline feature. Thanks!

[2021-08-09 20:15] KateFriedman-NOAA commented on #347
@malloryprow Checking back with you on this. Do you have a new EMC_verif-global tag that supports rstprod on Orion? Is there anything you need from me for that? I'm going to make the workflow updates for this now. Thanks!

[2021-08-09 20:15] KateFriedman-NOAA commented on #347
Created branch for workflow updates: [feature/rstprod-orion](https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/rstprod-orion)

[2021-08-10 11:23] malloryprow commented on #347
@KateFriedman-NOAA The tag verif_global_v2.2.1 has the rstprod support for Orion in it.

[2021-08-10 13:11] aerorahul opened #398 "WCOSS2 Migration and Porting"
This epic will document the migration and porting of the global workflow and its components to WCOSS2.

The GFSv16 operational tags need to be ported on WCOSS2 along with the current state of the workflow (and its components).

It is not expected to have bit-wise identical results between current WCOSS and WCOSS2, but the differences should be justified through a butterfly test.

Since GFSv16 did

[2021-08-10 16:27] KateFriedman-NOAA commented on #341
CWD delayed upgrade on August 10th. New implementation date is August 16th.

[2021-08-10 16:29] KateFriedman-NOAA opened #399 "GFSv16.2.0 - Port global-workflow operations branch to WCOSS2"
Port the global-workflow operations branch (GFSV16) to the new WCOSS2 production machines (Cactus/Dogwood). The GFS will increment to v16.2.0 in operations.

Overarching epic issue #398

- [x] Add WCOSS2 support to operations branch
- [x] Test full GFSv16 package with updated components
- [x] Hand-off workflow release to NCO for operational system

Companion issue #419 for develop branch.

[2021-08-10 17:06] KateFriedman-NOAA commented on #399
Created branch for this task: feature/ops-wcoss2

[2021-08-10 17:08] KateFriedman-NOAA commented on #341
Renamed release/gfsv16.1.3 branch to release/gfsv16.1.2.1.

[2021-08-10 18:29] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA I have installed the new obsproc packages on Jet that are going into operations next week (Issue #341). The updates for the new versions (HOMEobsproc* variables in config.base) will be going into the develop branch shortly after the implementation. I installed them in the existing glopara account space so, as long as BASE_GIT is correct for Jet, you shouldn't have to do anything f

[2021-08-10 18:32] DavidHuber-NOAA commented on #357
Will do, thanks @KateFriedman-NOAA!

[2021-08-10 18:42] KateFriedman-NOAA opened #400 "New UFS_UTILS tag: HPSS path updates for GFSv16 real-time parallel in getic job and gdas_init support for Jet"
The path for the real-time GFSv16 pre-implementation parallel on HPSS changed. This matches a corresponding change in UFS_UTILS for the gdas_init utility (@GeorgeGayno-NOAA).

Related issue in UFS_UTILS: https://github.com/NOAA-EMC/UFS_UTILS/issues/558
Related PR in UFS_UTILS: https://github.com/NOAA-EMC/UFS_UTILS/pull/560

- [x] make path update to parm/config/config.getic
- [x] update UFS_UTILS

[2021-08-10 18:47] KateFriedman-NOAA commented on #400
Created branch for this work: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/init_path_update

[2021-08-10 19:03] KateFriedman-NOAA commented on #347
@malloryprow Thanks for the new tag! The global-workflow develop branch is currently using the verif_global_v2.0.2 tag. Can you give me a short summary of all changes from v2.0.2 to v2.2.1? Also, what platforms was this tag tested on? Thanks!

[2021-08-10 19:09] malloryprow commented on #347
@KateFriedman-NOAA Yes!

- Support rstprod prepbufr files being used on Orion in grid-to-obs verification
- Support for running on S4 (stand alone and in global workflow)
- Enhancements and clean up of plotting scripts

[2021-08-10 19:11] KateFriedman-NOAA commented on #347
Excellent, thanks @malloryprow for this!

[2021-08-10 19:13] KateFriedman-NOAA commented on #400
Going to wait for https://github.com/NOAA-EMC/UFS_UTILS/issues/544 to wrap up and get a new tag that will cover both this issue (path change) and adding gdas_init offline support for Jet (issue #357).

@DavidHuber-NOAA fyi

[2021-08-10 19:20] KateFriedman-NOAA opened #401 "BUG: Fix race condition between vrfy and metp jobs"
Discovered that when the vrfy and metp jobs are running at the same time and the metp jobs finish first (usually only during the first full cycle they are invoked) they remove a DATA folder that is incorrectly shared with the vrfy job. Only found because WCOSS-Dell was quiet enough to allow jobs to all start as soon as they were submitted, most users will not encounter this bug.

Easy fix is to ch

[2021-08-10 19:58] WalterKolczynski-NOAA commented on #401
DATA directories should probably be using the pid like other jobs.

[2021-08-11 10:24] RussTreadon-NOAA commented on #341
**v16tac2bfr**

EIB moved v16tac2bfr from dev2 to dev in order to reach EDATE prior to 8/12 production switch.   Given 8/16 implementation date for ObsProc upgrade and the amount of effort to move v16tac2bfr from Venus to Mars following 8/12 production switch, recommend v16tac2bfr be terminated upon reaching EDATE=2021081012.   Ideally would keep v16tac2bfr running in real-time up to 8/12 switch b

[2021-08-11 13:53] malloryprow commented on #401
@KateFriedman-NOAA, Will you need any help from me on this bug?

[2021-08-11 14:13] KateFriedman-NOAA commented on #401
@WalterKolczynski-NOAA Yeah, I think that's what I'm going to do, incorporate pid to further differentiate the jobs and metp metatasks.

@malloryprow I don't think so, this appears to just be a workflow layer issue. I'll let you know if I do need you though, thanks! :)

[2021-08-11 21:20] WalterKolczynski-NOAA opened #403 "ATM-Aerosol forecast is failing"
One of the recent updates to the coupled branch broke aerosols. UFS now crashes with the following error:

[code]

While it wasn't 100% clear, internet searching seems to indicate this might be a stack issue.

[2021-08-11 21:20] WalterKolczynski-NOAA commented on #403
Changing the CCPP suite back to the non UGWD v1 version did not help.

[2021-08-11 21:21] WalterKolczynski-NOAA commented on #403
Thought this might be related to #352 and doubled domains_stack_size, but still hit the same error. Trying again an order of magnitude bigger before moving on.

[2021-08-11 21:32] rmontuoro commented on #403
@WalterKolczynski-NOAA - I agree. `domains_stack_size` should be configurable and set at least 2x higher than the current default value (`3000000`) if running at C384 and higher resolutions.

[2021-08-11 21:39] WalterKolczynski-NOAA commented on #403
Still getting the same error with domains_stack_size 10× bigger, so it appears unrelated.

[2021-08-12 01:13] WalterKolczynski-NOAA commented on #403
From most recent test:
[code]
log: https://gist.github.com/WalterKolczynski-NOAA/1233894b8e47848bb462a8a9f8c96aad

[2021-08-12 14:05] KateFriedman-NOAA commented on #381
@julien-faye The global-workflow (and it's components) may work on Linux ARM64 but it is not supported there. The main concern would be the forecast model component which is more sensitive to the architecture.

Note: by "supported" I mean someone at NOAA has tested the forecast system on that platform and is available for troubleshooting and to make updates to continue support for users there.

[2021-08-12 15:23] benjamin-cash opened #406 "Out of date modulefiles for stampede2"
module_base.stampede,  modulefile.reg2grb2.stampede, and  modulefile.ww3.stampede all point to a deprecated installation of hpc-stack on stampede2 and in some cases load older module versions than are currently in use.

The current hpc-stack for stampede2 is here:
module use /work/08048/hanglei/stampede2/NCEP/install/hpc-stack/modulefiles/stack/
module load hpc/1.1.0

[2021-08-12 16:46] KateFriedman-NOAA opened #407 "Update ncio module to hpc-stack version and remove hack for workflow_utils build"
Opened an issue with hpc-stack to get the ncio/1.0.0 module added to the stack on Jet: https://github.com/NOAA-EMC/hpc-stack/issues/296

The ncio/1.0.0 module is already available in the stack on WCOSS-Dell, Hera, and Orion.

Remove ncio checkout/hack and add to modulefiles (if missing) once it's available in the stack on Jet.

[2021-08-12 16:54] KateFriedman-NOAA commented on #407
The module is now available on Jet. Add the following to modulefiles/workflow_utils.jet:

module load ncio/1.0.0
module load landsfcutil/2.4.1
module load wgrib2/2.0.8

[2021-08-13 12:44] julien-faye commented on #381
@KateFriedman-NOAA Sorry, I am not sure that I understood you.
You say ARM64 is **not** supported but then "... (someone at NOAA) is available for troubleshooting and to make updates to continue support for users there".
That is, ARM64 is not officially supported by NOAA  but we still may get some help if we face issues ?

[2021-08-13 13:13] KateFriedman-NOAA commented on #381
@julien-faye Apologies if there was confusion about my reply. I was letting you know what our definition of "supported" is and that we aren't supporting machines that we don't have a presence on at the moment. Due to resource constraints we can not currently provide support beyond our tier 1 NOAA platforms. We hope to make the system more generic to extend support in the future but we are still ge

[2021-08-13 15:25] JessicaMeixner-NOAA commented on #369
@KateFriedman-NOAA

[2021-08-16 13:18] KateFriedman-NOAA commented on #341
NCO RFC memo - August 13, 2021

RFC 8521 - On WCOSS, implement obsprocv16. This upgrade primarily addresses the ability to encode BUFR format ships and C-MAN platform data into all obsproc supported networks’ dump and prepbufr files. Networks include:
gdas, gfs, rap, rtma, urma, nam, cdas, dump_monitor. For full details, see the
SCN at: https://www.weather.gov/media/notification/pdf2/scn21-72_bufr

[2021-08-16 13:25] KateFriedman-NOAA commented on #341
Prep job issues over the weekend may impact this upgrade. See [SDM log from August 13th.](http://www2.nco.ncep.noaa.gov/pmb/sdmlogs/aug/13/)
[code]

Awaiting implementation and/or delay due to continued CWD.

[2021-08-16 14:34] KateFriedman-NOAA commented on #400
https://github.com/NOAA-EMC/UFS_UTILS/issues/564 - awaiting new UFS_UTILS tag: ufs_utils_1_6_0

[2021-08-16 14:53] ShelleyMelchior-NOAA commented on #341
Yes, obsproc_prep_RB-5.5.0 was revised on Saturday.  Revisions can be
pulled.  Xiaoxue indicates new implementation date is 8/18.

--
Shelley Melchior
IMSG - NOAA/NCEP/EMC - Obs Processing

On Mon, Aug 16, 2021 at 9:26 AM Kate Friedman ***@***.***>
wrote:

[2021-08-16 14:57] KateFriedman-NOAA commented on #341
pulled.  Xiaoxue indicates new implementation date is 8/18.

Thanks @ShelleyMelchior-NOAA ! I will update and rebuild relevant installs of the RB everywhere. I will install OT tags when available as well after implementation.

[2021-08-16 15:32] KateFriedman-NOAA commented on #341
The obsproc_prep_RB-5.5.0 installs on WCOSS-Dell (Mars and Venus), Hera, and Orion have been updated and rebuilt. I also rebuilt the hpc-stack modified versions on WCOSS-Dell, Hera, Orion, and Jet. Note: there is no non-stack version on Jet since we will not be including Jet support in the operations branch at this time.

The global-workflow config.base in operations branch will use symlinks in in

[2021-08-16 18:49] KateFriedman-NOAA commented on #401
Created branch for this issue: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/issue401

[2021-08-16 20:21] KateFriedman-NOAA commented on #407
The ncio module was updated on WCOSS-Dell (https://github.com/NOAA-EMC/hpc-stack/issues/299) and workflow_utils build now works after removing ncio hack and updating the modulefile.

Now running a quick cycled test of branch on WCOSS-Dell. Branch: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/issue407

[2021-08-17 08:06] martin-g commented on #381
Hi @KateFriedman-NOAA !

I am also interested in seeing Global Workflow working on Linux ARM64!

I work for https://openlabtesting.org/. We provide ARM64 VMs to Open Source projects that they could use for testing and CI needs. Please let me know if you are interested!

Other providers of ARM64 hardware for OSS projects are:
* FOSSHOST - https://fosshost.org/apply
* WorksOnArm - https://github.com

[2021-08-17 13:23] DavidHuber-NOAA commented on #138
I have submitted pull requests for the following repositories
GSI ([177](https://github.com/NOAA-EMC/GSI/issues/177), approved and closed, revision [cca6d5562](https://github.com/NOAA-EMC/GSI/commit/cca6d5562face69470ff40088c9b96867a57a267))
GLDAS ([23](https://github.com/NOAA-EMC/GLDAS/pull/23), open)
Post ([362](https://github.com/NOAA-EMC/EMC_post/pull/362), approved and closed, revision [27873

[2021-08-17 13:25] JessicaMeixner-NOAA commented on #138
@DavidHuber-NOAA I want to clarify that WW3 works in UFS, it just does not work in the global-workflow at this time.

[2021-08-17 13:34] DavidHuber-NOAA commented on #138
@JessicaMeixner-NOAA OK, thanks for the clarification.  I will look into testing it outside of the global workflow and finish the port via that route.

[2021-08-17 15:04] KateFriedman-NOAA commented on #381
@martin-g Thank you for this information. At this time we aren't yet able to extend support beyond our tier 1 NOAA platforms but should that change and we have an interest in an ARM64 VM we will let you know.

Closing this issue. Thanks!

[2021-08-17 15:04] #381 closed, assigned to nobody

[2021-08-17 15:15] #400 closed, assigned to KateFriedman-NOAA

[2021-08-17 16:05] KateFriedman-NOAA opened #413 "Review and correct use of $DATA/$DATAROOT in each job"
Review how each job is using $DATA and/or $DATAROOT. Make sure each job is creating/using its own distinct rundir, which utilizes job id (pid). Correct/update as needed to make the DATA/DATAROOT usage consistent across jobs.

Related to issue #401

[2021-08-17 16:26] KateFriedman-NOAA opened #415 "Rework firstcyc job"
Cycled mode currently has a `firstcyc` job in the first half cycle. It's dependency is currently on the existence of the rocoto log 4 cycles later. This dependency often holds up the forward progress of the 4th cycle when the cycle throttle of 3 is met because firstcyc isn't done yet and therefore the first half cycle can't complete and become Inactive (freeing up a cycle in cyclethrottle).

Easy

[2021-08-17 16:48] #407 closed, assigned to KateFriedman-NOAA

[2021-08-17 18:57] WalterKolczynski-NOAA opened #416 "Add S2SW forecast capability to coupled_sprint branch"
Add the ability to run the S2SW (non-aerosol coupled) free forecast in the coupled_sprint branch.

Part of Epic #366

[2021-08-17 22:28] WalterKolczynski-NOAA opened #417 "Partition settings inconsistent"
The workflow generated on Orion and Jet have a separate partition definition for each job (PARTITION_<job>_GFS), but the actual task definitions for batch jobs use PARTITION_BATCH directly. This is confusing, particularly when manually editing XML (such as to have some jobs use debug).

Additionally, the PARTITION_BATCH is not defined at all for Hera. While it is not required for Hera, this makes

[2021-08-18 12:37] RussTreadon-NOAA commented on #341
**NCO implementation**

NCO implemented RFC 8521 just prior to 2021081806 gdas.` /gpfs/dell1/nco/ops/nwprod/versions/obsproc_global.ver` now specifies

[code]

The EMC global dump archive `config.dumparch` needs to be updated.   There is a new dump file, `tideg.tm00.bufr_d`.    This dump file needs to be moved from `DFILES_Y` in `config.dumparch` to `DFILES`.

[2021-08-18 12:57] jkuang-exploro commented on #365
This issue should be closed @aerorahul

[2021-08-18 13:06] aerorahul commented on #365
This work is completed and the modular exglobal forecast script has been tested with Atm-only configuration in `feature/coupled_sprint` branch via PR #371
Closing issue.

[2021-08-18 13:06] #365 closed, assigned to jkuang-exploro

[2021-08-18 13:51] KateFriedman-NOAA commented on #341
The new `tideg.tm00.bufr_d` dump file is now being pulled into the GDA as part of the regular set as of 06z today:

[code]

The GDAy archival of the new TAC2BUFR files has now been discontinued.

@ShelleyMelchior-NOAA Please let me know when the OT tags have been cut for this upgrade. Thanks!

[2021-08-18 14:02] ShelleyMelchior-NOAA commented on #341
Thanks!  I will be in touch when OTs are available.  I plan to disable the cron today that supported GDAy.

[2021-08-18 14:09] KateFriedman-NOAA opened #419 "Port global-workflow develop branch to WCOSS2"
Port the global-workflow develop branch (~early GFSv17) to the new WCOSS2 production machines (Cactus/Dogwood).

Overarching epic issue #398.

- [x] Add updated ecf scripts from `operations` for GFSv16.2.#
- [x] Retire jlogfiles from scripts (@WalterKolczynski-NOAA partially took care of in PR #929)
- [x] Create WCOSS2.env
- [x] Pull in `/gempak/ush` script updates (PR #920)
- [x] Pull in `/jobs`

[2021-08-18 14:10] KateFriedman-NOAA commented on #419
Branch for this work: feature/dev-wcoss2

[2021-08-18 14:46] KateFriedman-NOAA commented on #341
Created branch `feature/tac2bufr` for obsproc package update in develop branch.

Updated obsproc packages in release/gfsv16.1.2.1 branch for operations branch merge. Committed at 2ca4668.

[2021-08-18 15:33] CatherineThomas-NOAA opened #420 "GFSv16.1.4 - Operational Assimilation of Commercial GPS-RO in DO-3"
Delivery Order 3 (DO-3) of the commercial GPS-RO data purchase was awarded to Spire only. Delivery runs from Sept 16, 2021 (11am ET, 1500 UTC) to March 16, 2022. On Sept 16, 2021, GeoOptics data will also stop flowing.

The implementation number is still unconfirmed by NCO. We will use v16.1.3 until we get confirmation.

The DA work associated with this implementation will be documented in [GSI Is

[2021-08-18 16:41] #401 closed, assigned to KateFriedman-NOAA

[2021-08-18 17:38] KateFriedman-NOAA commented on #347
@malloryprow I have run 4.5 cycles (C192C96L127) on WCOSS-Dell with the new EMC_verif-global tag. Please see my logs and output:

[code]

Note: this run was done without the race condition update

I'm also testing this branch on Orion to check my rstprod updates worked as intended. Thanks!

[2021-08-18 18:20] jkuang-exploro commented on #260
@malloryprow Has this issue been addressed?

[2021-08-18 18:22] KateFriedman-NOAA commented on #234
Upon further investigation and discussion between @JianKuang-UMD and @RussTreadon-NOAA this appears to be an issue only in a specialized workflow/experiment setup (v16rt2n). This failure is not occurring in the develop branch since the earc jobs wait for the epos jobs (epmn) to complete. Closing issue.

[2021-08-18 18:22] #234 closed, assigned to jkuang-exploro

[2021-08-18 18:57] malloryprow commented on #260
@JianKuang-UMD It has not

[2021-08-18 19:07] malloryprow commented on #347
@KateFriedman-NOAA Output looks good! Let me know when you have output on Orion. It would be good to check that, and also see that it is correctly using the rstprod prepbufr files. The standalone testing ran fine, but always good to double check!

[2021-08-18 19:21] KateFriedman-NOAA commented on #347
@malloryprow Thanks for confirming the WCOSS-Dell run output looks good! I will share Orion output when available, possibly tomorrow at the rate it's going right now.

[2021-08-18 19:43] KateFriedman-NOAA commented on #347
@malloryprow About to initiate the PR for this in anticipation of wrapping up the tests on Orion. I won't submit the PR until you've had a chance to look at output. Will ask for your review on the PR, thanks!

[2021-08-18 19:56] WalterKolczynski-NOAA commented on #260
I had a solution in the coupled-crow branch, but now we've moved away from that.

[2021-08-19 16:57] WalterKolczynski-NOAA opened #424 "Extra characters added to magic string in workflow_utils requires workarounds that break other key errors"
Unnecessary characters in the "magic string" in workflow utils is polluting the keys for some variables. Currently, the workaround is to catch KeyErrors and assuming they are the key that gets corrupted, but this method causes issues if there are legitimate KeyErrors and is just hacky in general.

[2021-08-19 17:07] KateFriedman-NOAA commented on #341
Released tag of operations branch: https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.2.1

[2021-08-19 17:12] KateFriedman-NOAA commented on #341
Reopening until OT tag installation is complete.

[2021-08-19 17:12] KateFriedman-NOAA commented on #341
Reopening until OT tag installation is complete.

[2021-08-19 21:08] pjpegion commented on #403
@WalterKolczynski-NOAA have you been able to figure this out?  I'm seeing a similar error running on gaea right now.

[2021-08-19 22:18] WalterKolczynski-NOAA commented on #403
No. I've been concentrating on non-aerosol stuff. I was hoping Rafaelle or someone else with more model knowledge could help figure it out once I exhausted the easy potential solution.

[2021-08-20 13:51] JessicaMeixner-NOAA opened #425 "update feature/coupled-crow to use ufs-weather-model w/bug fix"
The ufs-weather-model is being updated to fix a memory issue that prevented the full 35 day runs from being run on hera.  Once this bug-fix is committed to ufs-weather-model (https://github.com/ufs-community/ufs-weather-model/pull/756), feature/coupled-crow will need to be updated to use this new ufs-weather-model hash.

[2021-08-20 14:11] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA Is there a rstprod directory for prepbufr data on Jet (i.e. GESROOT)?

[2021-08-20 14:42] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA For GESROOT on Jet please set it to null like we're doing on Orion: `export GESROOT=/dev/null`

The `GESROOT` variable is specific mainly to WCOSS (it comes from the `prod_envir` module) but is also supported on Hera because NCO has a mirror of some production data from /com being pushed there. Now that we're expanding out to more machines we should try to make [this section of co

[2021-08-20 16:39] KateFriedman-NOAA commented on #341
@ShelleyMelchior-NOAA FYI, I have saved my hpc-stack changes needed in obsproc_global and obsproc_prep in my own copies of those repositories on GitHub:

https://github.com/KateFriedman-NOAA/EMC_obsproc_global
https://github.com/KateFriedman-NOAA/EMC_obsproc_prep

I have copies of master (unchanged) in both and the recent RBs (with hpc-stack changes):
https://github.com/KateFriedman-NOAA/EMC_obspr

[2021-08-23 15:22] #347 closed, assigned to malloryprow, KateFriedman-NOAA

[2021-08-23 15:38] KateFriedman-NOAA commented on #347
Thanks for updating EMC_verif-global for this task @malloryprow !

[2021-08-23 18:21] KateFriedman-NOAA opened #427 "Test/fix cycled mode in feature/coupled_sprint"
Began testing feature/coupled_sprint in cycled mode on supported platforms as part of pre-commit testing for PR #418. Will commit needed updates/fixes to feature/coupled_sprint.

Testing C192C96L127 on WCOSS-Dell, Hera, Orion.

[2021-08-23 21:10] #417 closed, assigned to WalterKolczynski-NOAA

[2021-08-24 00:05] WalterKolczynski-NOAA opened #429 "Handling of joint ice-ocean settings"
Even though they are compartmentalized in different sections, a lot of the ocean and ice settings either should be shared or are shared but only set in one or the other blocks. A couple examples: (a) the resolutions are separate but always the same; (b) the mesh file is linked to the run directory in the ice section using the ice resolution. This allows the possibility of mismatches (like differen

[2021-08-24 18:10] WalterKolczynski-NOAA opened #431 "Reconcile discrepancies between MOM6 output times and FHOUT"
The MOM6 output times are given as an explicit list FHRLST* given in config.base that is not derived from FHOUT, but when determining the filename (which seems to use the midpoint of the interval), FHOUT is used as the output frequency. This causes a problem if the interval of FHRLST is not the same as FHOUT.

This should be changed so that either:
- FHRLST is derived from FHOUT so they are always

[2021-08-25 15:34] KateFriedman-NOAA commented on #341
I have updated my obsproc_global and obsproc_prep fork master branches with their current states on VLab. I then added hpc-stack updates to both fork master branches and recut the OT tags from master with "-hpc-stack" in the tag names.

https://github.com/KateFriedman-NOAA/EMC_obsproc_global/releases/tag/OT-obsproc_global.v3.4.2-20210823-hpc-stack
https://github.com/KateFriedman-NOAA/EMC_obsproc_p

[2021-08-25 16:03] KateFriedman-NOAA commented on #341
Updated OT tags installed and tested on Hera. Symlinks updated:

[code]

[2021-08-25 16:06] KateFriedman-NOAA commented on #420
Created workflow branch off of `operations` branch for this release: `release/gfs.v16.1.3`

[2021-08-25 16:58] KateFriedman-NOAA commented on #419
Sync merged with develop branch @ 7233d0c4

[2021-08-26 14:15] KateFriedman-NOAA commented on #398
@Hang-Lei-NOAA @junwang-noaa @MichaelLueken-NOAA @HelinWei-NOAA @YaliMao-NOAA @JiayiPeng-NOAA @jack-woollen @ShelleyMelchior-NOAA

All,

This is an epic issue in global-workflow to document the port of the GFS components to WCOSS2. If not already done, please open WCOSS2 port issues in your respective repositories and reference this issue. If your auth repo is still on VLab please comment in this

[2021-08-26 15:29] Hang-Lei-NOAA commented on #398
Hi, All,

The hpc-stack v1.2.0 has been installed on WCOSS2 Acron for testing. Some
users have tested their code based on it.
Please load it as:
module load PrgEnv-intel/8.1.0
module load intel/19.1.3.304
module load craype/2.7.8
module load cray-mpich/8.1.7

module use
/lfs/h1/emc/nceplibs/noscrub/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.2.0
module load hpc-intel/19.1.3.304
mo

[2021-08-26 16:03] KateFriedman-NOAA commented on #341
Updated OT tags installed and tested on Orion. Symlinks updated:

[code]

[2021-08-26 19:37] KateFriedman-NOAA commented on #427
@CoryMartin-NOAA I am testing cycled mode on Mars (C192C96L127) using the new feature/coupled_sprint branch, which is the develop branch plus changes to support the coupled system (coming in piece-by-piece from feature/coupled_crow). We haven't touched much outside of the forecast jobs yet and this is my first try at cycled mode after we updated the forecast jobs. My eobs job is not running normal

[2021-08-26 20:03] KateFriedman-NOAA opened #433 "Update post repository name from "EMC_post" to "UPP""
The name of the [EMC_post](https://github.com/NOAA-EMC/EMC_post) repository on GitHub will be changing to `UPP` the week of September 6th. Email from @HuiyaChuang-NOAA :

[code]

Will need to update repo name for EMC_post in both Externals.cfg and checkout.sh. Will need to update the develop, operations, and GEFS branches. Most other branches can be updated via a sync merge from develop or operati

[2021-08-26 20:38] KateFriedman-NOAA commented on #433
ON HOLD pending actual name change.

[2021-08-26 21:21] HuiyaChuang-NOAA commented on #433
@KateFriedman-NOAA
Thank you for responding to this.  @WenMeng-NOAA and I will send out an announcement when the change is made.

[2021-08-26 23:21] RussTreadon-NOAA commented on #427
@RussTreadon-NOAA is investigated.

Looked at blah and blahdev `gdas.t18z.atmf006.nc`.   `ncdump -v grid_yt gdas.t18z.atmf006.nc` show blah and blahdev have latitudes in different orders.    blahdev latitude goes from positive to negative.
[code]
blah latitude goes from negative to positive.
[code]
Same behavior found for `lat`.   GSI extracts and uses `grid_yt` for grid latitudes.

**_Why did the

[2021-08-26 23:41] RussTreadon-NOAA commented on #427
blah uses a forecast model executable built from _ufs-community/ufs-weather-model_ at [9bbb6d4](https://github.com/ufs-community/ufs-weather-model/commit/9bbb6d466368d46797e2c72a9d08955fda39cf33)

The change log for 9bbb6d4 reads

[code]
The last bullet likely explains the change in the order of `grid_yt` in the blah `gdas.t18z.atmf006.nc`.

[2021-08-27 00:07] RussTreadon-NOAA commented on #427
Variable [write_nsflip](https://github.com/ufs-community/ufs-weather-model/pull/723/commits/6f5e88b9dfa42c7050e3d4950c478813609fc51a) controls the N/S flipping capability.

This variable is referenced in `ufs_model.fd/FV3/io/module_wrt_grid_comp.F90`.   It seems `write_nsflip` can be externally set.  If `write_nsflip=.true.` will the latitudes be written in the current GFS v16 order (positive to n

[2021-08-27 00:56] junwang-noaa commented on #427
@RussTreadon-NOAA that is correct. When we cleaned up the nemsio from the ufs-weather-model, the "write_nemsioflip" configuration variable was removed. @jswhit2 told us about the impact of this change on GSI, so the option of flipping the lat direction in the history files was added back in ufs-weather-model [PR#723](https://github.com/ufs-community/ufs-weather-model/pull/723), but the configurati

[2021-08-27 01:38] RussTreadon-NOAA commented on #427
Thank you, @junwang-noaa for confirming that `write_nsflip` is a configurable variable.

As a test, I modified a copy of the NOAA-EMC-GSI master to multiply by -1 the `grid_yt` values read from blah `atmfXXX.nc` files.   With this change `global_gsi.x` ran to completion.   This change is not proposed as a solution.  It was simply a test demonstrating that the change in the order (ie, sign) of `gri

[2021-08-27 10:56] RussTreadon-NOAA commented on #427
`ufs_model.fd/FV3/io/module_wrt_grid_comp.F90` defaults `write_nsflip` to `.false.`
[code]
Can we add `write_nsflip` to `parsing_model_configure_FV3.sh` with a default value of `.true.`?   That is, revise to read
[code]
If we prefer to retain a default value of `.false` for `write_nsflip`,  in `parsing_model_configure_FV3.sh`, we can set `WRITE_NSFLIP` to `.true.` in `config.base` as suggested bel

[2021-08-27 11:24] SMoorthi-emc commented on #398
Hi Hang,
   Do we have hpc stack on Cactus?
If not, when can we expect?
Thanks
Moorthi

On Thu, Aug 26, 2021 at 11:30 AM Hang-Lei-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)6

[2021-08-27 12:01] Hang-Lei-NOAA commented on #398
EMC cannot install libs on cactus. NCO will install the official library
softwares. Please wait.
EMC has installed the hpc-stack v1.2.0 on Acorn, please log into it and
make test:

On Fri, Aug 27, 2021 at 7:24 AM SMoorthi-emc ***@***.***>
wrote:

[2021-08-27 12:14] GeorgeGayno-NOAA commented on #398
@Hang-Lei-NOAA I don't have access to Acorn. Can the hpc-stack be installed on Cactus under someone's home directory?

[2021-08-27 12:21] Hang-Lei-NOAA commented on #398
Hi, George, This is not allowed by NCO/GDIT. We can do it until they agree
with it.

On Fri, Aug 27, 2021 at 8:15 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-08-27 12:28] MichaelLueken commented on #398
@Hang-Lei-NOAA

On Acorn, the environment path to w3emc is:
/lfs/h1/emc/nceplibs/noscrub/hpc-stack/libs/hpc-stack/intel/19.1.3.304/cray-mpich/8.1.4/w3emc/2.7.3/lib/libw3emc_4.a

The actual path to w3emc is:
/lfs/h1/emc/nceplibs/noscrub/hpc-stack/libs/hpc-stack/intel-19.1.3.304/cray-mpich-8.1.7/w3emc/2.7.3/lib/libw3emc_4.a

Please correct one of these paths so that they correspond with one another.

[2021-08-27 12:47] Hang-Lei-NOAA commented on #398
@Michael Lueken - NOAA Affiliate ***@***.***>
I try to repeat it, and find that the one you load is the NCO's wrong copy
and setting:
You should block NCO libs and use our hpc-stack installations.
***@***.***:~> module show w3emc/2.7.3
--------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2021-08-27 13:44] KateFriedman-NOAA commented on #427
@junwang-noaa Thanks for confirming the change in the ufs-weather-model. @RussTreadon-NOAA Thank you for investigating this and finding the flip setting! I have add the recommended `WRITE_NSFLIP` variable to both parsing_model_configure_FV3.sh and config.base (see git diff below). I set the default to be `.false.` and have the config changing it to `.true.`.

[code]

I also updated config.base.nco

[2021-08-27 14:21] KateFriedman-NOAA commented on #427
@RussTreadon-NOAA Running with `WRITE_NSFLIP=.true.` seems to have resolved the error, thanks again! I now have the previously missing cnvstat.ensmean, oznstat.ensmean, radstat.ensmean files generated by the eobs/ediag jobs. The gdas[gfs]anal and gdaseupd jobs are running now...waiting to see if they encounter other issues...

[2021-08-27 14:33] MichaelLueken commented on #398
@Hang-Lei-NOAA

Thanks, Hang!  I was able to compile the code using your hpc-stack v1.2.0.

[2021-08-27 15:18] KateFriedman-NOAA commented on #427
No further job-ending errors encountered in anal/eupd jobs in new fcscyc test. Need to scan logs for silent errors still.

The 18z half cycle is complete. The 00z gdas/enkf suites are complete. The 00z gfs suite is wrapping up still. The 06z cycle has started. Will let the test run a few more cycles to check stability and the verification pieces. So far cycled atmos-only mode is working in `featur

[2021-08-27 15:31] KateFriedman-NOAA commented on #427
Made new branch off feature/coupled_sprint to hold cycled updates: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/coupled_sprint_cycling

[2021-08-27 19:48] DavidHuber-NOAA commented on #357
I have a working test build on Jet that has successfully run through 5 GDAS and 2 GFS cycles successfully running at C192/C96/L127 with 20 ensemble members.  The only errors I've received are related to the TC_Tracker software and some HPSS errors related to Jet's network problems yesterday and today.  The jobs should run over the weekend, at which point I can see how the gdasgldas job ran.

[2021-08-30 13:20] KateFriedman-NOAA commented on #420
Tag for release to NCO cut from the release/gfsv16.1.3 branch: [EMC-v16.1.3](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.3)

[2021-08-30 14:02] KateFriedman-NOAA commented on #341
Updated OT tags installed on Jet. Symlinks updated to point to OT tag installs instead of RB installs:

[code]

@DavidHuber-NOAA These are the new OT obsproc package versions as set in the develop branch after the change in ops. Your prior cycled test would have used the RB installs. I updated the symlinks (see above) with the same path you were using in your cycled testing, the results should be

[2021-08-30 14:03] KateFriedman-NOAA commented on #341
Post-implementation installs have now been made on WCOSS-Dell, Hera, Orion, and Jet. Closing issue now.

[2021-08-30 14:03] #341 closed, assigned to KateFriedman-NOAA

[2021-08-30 14:06] KateFriedman-NOAA commented on #420
Implementation date is tentatively the week of September 20th, no firm date/cycle yet.

[2021-08-30 20:19] WalterKolczynski-NOAA opened #435 "Ice dimensions should be set based on resolution"
Right now NX_GLB and NY_GLB are hard-coded in the config file. They should be set based on the ice model resolution.

[2021-08-30 20:32] WalterKolczynski-NOAA opened #436 "Stop copying unnecessary files to forecast run directory"
There are a number of wave mod_def files that are currently copied to the forecast run directory in the sprint branch that are not present from coupled-crow in the same location. That indicates these files are unnecessary for the forecast, so they should not be copied into the run directory (do they need to be created at all)?

[code]

Additionally, the following files are also being copied to the

[2021-08-31 14:31] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA So far, I have only been running on xjet, but I have written up the resources for the other partitions.  Currently, I'm disabling C768 runs on ujet and vjet as the gfsfcst job is too large to run on ujet and would take up all of vjet.  The analysis jobs are also problematic for these partitions.  I could adjust threading and/or layouts in config.fv3 to allow C768 forecasts, but

[2021-08-31 16:57] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA Thanks for this update! So since the login nodes build for `xjet` and `kjet` by default (what most folks will do) I'd like to make those two partitions our main focus for this task. As you've noted, the other partitions are too small for our largest jobs at the higher resolutions; they are all smaller than Hera, which is our smallest supported HPC right now with 24 cores/node.

Ha

[2021-08-31 18:17] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA OK, that's easy enough.  I will adjust the config scripts for just those two, though I will note that @lgannoaa added support for `vjet` and `sjet` for the free-forecast.  I will leave that alone and add support for the cycled to just the `xjet` and `kjet` partitions.

For all of the partitions except `kjet`, some adjustments to resources are necessary for the `gdaseobs` and `(g

[2021-09-01 15:23] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA Great, thanks! Thanks also for the info on resource adjustments for some jobs on the other partitions and for the build instruction adjustments! I'll discuss this with my fellow workflow code managers and see how we'd like to proceed with supporting the other partitions beyond xjet and kjet.

[2021-09-01 16:45] KateFriedman-NOAA commented on #399
WCOSS2 transition spreadsheet shared by Steven Earle gives the GFS the following timeframe:

GFS | Wed 9/1/21 | Thu 2/24/22
-- | -- | --
Dev testing | Wed 9/1/21 | Wed 1/5/22
deliver to NCO | Thu 1/6/22 | Thu 1/6/22
Move to production | Fri 1/7/22 | Thu 2/24/22

The noted "resource name" is @aerorahul

[2021-09-01 16:45] KateFriedman-NOAA commented on #398
WCOSS2 transition spreadsheet shared by Steven Earle gives the GFS the following timeframe:

GFS | Wed 9/1/21 | Thu 2/24/22
-- | -- | --
Dev testing | Wed 9/1/21 | Wed 1/5/22
deliver to NCO | Thu 1/6/22 | Thu 1/6/22
Move to production | Fri 1/7/22 | Thu 2/24/22

The noted "resource name" is @aerorahul

[2021-09-03 13:21] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA Another job that will need modified resources for different partitions is gdaseupd.  So far, xjet is able to run the job without modification, though I've only tested it at C192/C96.  For kjet, I had to increase threads to 4 to run the C384/C192 as sacct showed a MAXRSS of ~8GB with 20 ensemble members.  Do you know the approximate memory footprint of this job at various resolut

[2021-09-03 13:33] KateFriedman-NOAA commented on #357
@CoryMartin-NOAA @RussTreadon-NOAA What are the memory needs of the eupd job/execs? Dave is testing the cycled system on the kjet partition on Jet now after testing the xjet partition. Thanks!

kjet has 40ppn and 96 GB memory/node (similar to Hera). Here is the partition info for Jet:
https://jetdocs.rdhpcs.noaa.gov/wiki/index.php/Jet_System_Overview

[2021-09-07 13:19] JessicaMeixner-NOAA commented on #436
If mod_def files are being copied in, they are probably also being created when they shouldn't be.  This is likely an issue of parameter files being set incorrectly.

For the rmp files, whether we need them or not should be a configurable variable and then control if you copy the files in or not.

[2021-09-07 14:30] jkuang-exploro opened #437 "MET+ job dependencies"
The MET+ job in the first full cycle wont run, because it depends on gfs archive job of the previous cycle which doesn't exist in the first half cycle. Job dependency and/or job scripts need to be updated to get rid of this problem.

[2021-09-07 14:55] KateFriedman-NOAA opened #438 "New EMC_verif-global tag: verif_global_v2.5.2"
Update to new EMC_verif-global tag: `verif_global_v2.5.2`

New tag includes the hook of fit-to-obs plotting in EMC_verif-global, as well as the ability to produce scorecards with EMC_verif-global and not having to use METviewer AWS. New tag provided by @malloryprow

Will run a low res cycled test with new tag to confirm functionality in global-workflow.

[2021-09-07 14:58] JessicaMeixner-NOAA commented on #435
These should also be set based on how many ice processors there are, see https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/edit_inputs.sh#L7-L9

[2021-09-07 15:15] KateFriedman-NOAA opened #439 "GFSv16.1.5 - GSI update to include IASI Metop-C in operations"
Preparation for turning on CrIS NPP radiances and include IASI Metop-C in operational GFS system. Companion [GSI issue #186](https://github.com/NOAA-EMC/GSI/issues/186).

New version: v16.1.5

- [x] Update new GSI tag in checkout: `gfsda.v16.1.5`
- [x] Add release notes for v16.1.5
- [x] Cut EMC-v16.1.5 tag for hand-off
- [x] GFSv16.1.5 implemented into operations
- [x] Test release branch against

[2021-09-07 15:56] KateFriedman-NOAA commented on #439
Created release branch for this work off of the `operations` branch: [`release/gfs.v16.1.5`](https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.1.5) [was release/gfsv16.1.4 at start of work]

Will sync branch with `operations` branch. Please update component tag versions as needed for this upgrade.

[2021-09-07 17:31] HelinWei-NOAA commented on #398
@KateFriedman-NOAA I have created [the new tag ](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.16.0) for the version that can be run on wcoss2

[2021-09-07 18:24] KateFriedman-NOAA commented on #398
@HelinWei-NOAA Great, thanks! Which WCOSS2 port does this tag support? The operational GFSv16 or developmental GFSv17+? This looks like it could potentially support both but we need to be careful of which stack is used: the production stack install for current ops systems or the upcoming development hpc-stack install (not yet installed) for future ops versions.

One question to help with sorting t

[2021-09-07 19:34] KateFriedman-NOAA commented on #427
Awaiting resolution of [ufs-weather-model issue #785](https://github.com/ufs-community/ufs-weather-model/issues/785) before continuing testing with IAU on. Branch currently cycles without job failure with IAU off.

[2021-09-07 19:37] KateFriedman-NOAA commented on #433
Change to rename the `EMC_post` repo to `UPP` has occurred. Quickly testing checkout, build, and single free-forecast cycle on Hera to confirm no issues.

[2021-09-07 19:39] WenMeng-NOAA commented on #433
@KateFriedman-NOAA Thanks for verifying.

[2021-09-08 03:31] jkuang-exploro commented on #437
@malloryprow May I know that at which cycles will metp jobs run? Is the first full cycle the only one we need to worry about? In other words, do these jobs run at every full cycle from the second full cycle(third cycle) and beyond?

[2021-09-09 15:13] KateFriedman-NOAA commented on #433
Initiated PRs to update the EMC_post/UPP checkout in both the develop (#441) and operations (#442) branches. Added @WenMeng-NOAA as reviewer in both PRs to sign off on repo name change in checkout.

[2021-09-09 17:26] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA @CoryMartin-NOAA @RussTreadon-NOAA Another job that is hitting memory limits on `xjet` is `gdasanalcalc`, in particular `interp_inc.x`, when running 10 tasks/node @768/384.  I have a solution for `xjet` in [calcanl_gfs.py](https://github.com/DavidHuber-NOAA/GSI/blob/ffd17841861bce94307314115c3bec1299fa14b3/ush/calcanl_gfs.py#L232) that spreads each instance of `interp_inc.x` acr

[2021-09-10 14:14] KateFriedman-NOAA commented on #427
[PR #785](https://github.com/ufs-community/ufs-weather-model/pull/782) in ufs-weather-model is now complete. Will look to test updated hash upon return from annual leave on 9/20.

[2021-09-10 17:58] KateFriedman-NOAA commented on #439
Sync merged branch with `operations` branch after updating `EMC_post` repo name to `UPP` in operations branch. Committed to release branch at 82d537e.

[2021-09-10 20:15] zhanglikate opened #443 "Change the XML to be homogeneous"
When I use 12x16 for X and Y layout, then  workflow generated  <nodes>6:ppn=40+24:ppn=39</nodes>, that is the "old" Moab/Torque syntax that used to work before,  but  HERA has transitioned to Slurm.  So a warning always  come out  when I submit the  job and mentioned  it has been converted it into <nodes>30:ppn=40</nodes> .

[2021-09-14 13:02] malloryprow commented on #437
@JianKuang-UMD They run every GFS cycle.

[2021-09-14 20:35] CatherineThomas-NOAA commented on #420
As a result of the obsproc implementation on Aug 18, a bug in the read_nsstbufr routine was discovered (described in GSI [#208](https://github.com/NOAA-EMC/GSI/issues/208)). It has been decided that this change will be included with the DO-3 GPSRO changes.

The gfsda.v16.1.3 tag was recreated.  No change to the workflow is needed.

The v16.1.3 implementation is planned for 9/20.

[2021-09-15 00:36] DusanJovic-NOAA commented on #398
To build GFSv16 (tag v16.0.6) run the following sequence of commands on Cactus:
[code]
Dusan

[2021-09-15 05:47] WalterKolczynski-NOAA commented on #256
Bubbling this one back up. Full S2SW is now working in the sprint branch now, but ATMW isn't. Using almost identical settings to atm-only, the forecast fails with this message in the PET logs:
```0210909 135646.429 ERROR            PET000 ESMCI_IO.C:542 ESMCI::IO::write()   Operation not yet supported  - tile count of 6 != 1 - not supported yet```

[2021-09-15 05:48] #416 closed, assigned to WalterKolczynski-NOAA

[2021-09-15 13:20] DavidHuber-NOAA commented on #357
I've successfully run a 384/192 on `kjet` for 5 cycles, including 2 GFS cycles, without any issues.  I will be starting a longer run today on `xjet`.

That said, I have so far only been running standard options.  Is there a desire to have support for `DO_BUFRSND`, `DO_GEMPAK`, `DO_AWIPS`, `WAFSF`, and/or any other features on Jet?

[2021-09-15 14:34] KateFriedman-NOAA commented on #399
From @DusanJovic-NOAA :

[code]

[2021-09-15 15:25] KateFriedman-NOAA commented on #419
From @DusanJovic-NOAA :

[code]

Will wait for missing libraries to be resolved and then try building/testing from workflow.

[2021-09-15 15:34] KateFriedman-NOAA commented on #399
I tested the clone and build of Dusan's branch on Cactus, it appears to have worked without issue. @DusanJovic-NOAA please see the following log and execs on Cactus:

/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/logs/build_fv3.log
/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/fv3gfs.fd/NEMS/exe/

Thanks!

[2021-09-15 16:56] WenMeng-NOAA commented on #398
@KateFriedman-NOAA The UPP for GFSV16 wcoss2 transition branch is available at
https://github.com/WenMeng-NOAA/UPP/tree/post_gfsv16_wcoss2

The GFSV16 offline post executable can be built with script under sorc/build_ncep_post.sh.
To build GFSV16 model executable, you may load module upp/8.0.11 on Cactus:
module use /u/Wen.Meng/noscrub/ncep_post/LIBS/modulefiles/mpi/intel/19.1.3.304/cray-mpich/8.1

[2021-09-15 16:59] aerorahul commented on #398
@WenMeng-NOAA @DusanJovic-NOAA
Please open/use an issue in your respective repositories to post the instructions on how to build the ported executable for WCOSS2.
@WenMeng-NOAA that would be issue [363](https://github.com/NOAA-EMC/UPP/issues/363) in the UPP repo.
@DusanJovic-NOAA If there is no issue in the ufs-weather-model, please open one there.
We can follow the issues in the respective reposi

[2021-09-15 17:34] KateFriedman-NOAA commented on #399
ufs-weather-model issue for this part of the port: https://github.com/ufs-community/ufs-weather-model/issues/806

[2021-09-15 17:36] KateFriedman-NOAA commented on #399
Info from @WenMeng-NOAA :

[code]

[2021-09-15 18:10] KateFriedman-NOAA commented on #399
@WenMeng-NOAA I cloned your `post_gfsv16_wcoss2` branch and built it. Please see the log and resulting exec here on Cactus:

/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/logs/build_ncep_post.log
/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/gfs_post.fd/exec/ncep_post

Note, I built the UPP without the GTG code. Should I also try the version with GTG? Thanks

[2021-09-15 18:17] KateFriedman-NOAA commented on #399
@HelinWei-NOAA I cloned and built the new `gldas_gfsv16_release.v1.16.0` GLDAS tag on Cactus (no issues encountered). Please see the following, thanks!

/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/gldas.fd/sorc/logs/
/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/gldas.fd/exec/

[2021-09-15 18:18] WenMeng-NOAA commented on #399
@KateFriedman-NOAA From my offline post tests, building executable "ncep_post" with GTG code is working.

[2021-09-15 18:26] WenMeng-NOAA commented on #399
@KateFriedman-NOAA Dusan's ufs-weather-model branch use upp/10.0.4 which is for GFS V16. You might add changes as:
In modulefiles/wcoss_phase2/fv3:
change
module load upp/10.0.4
into
module use /u/Wen.Meng/noscrub/ncep_post/LIBS/modulefiles/mpi/intel/19.1.3.304/cray-mpich/8.1.4
module load upp/8.0.11

Thanks!

[2021-09-15 20:24] KateFriedman-NOAA commented on #399
@WenMeng-NOAA I changed the upp module per your suggestion:

[code]

...and rebuilt the FV3. No issues encountered but please see the build log in case I missed one, thanks!

/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/logs/build_fv3.log_upp8011

[2021-09-15 20:29] WenMeng-NOAA commented on #399
@KateFriedman-NOAA Thanks for verifying.

[2021-09-16 15:54] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA Thanks for the kjet update! So DO_BUFRSND, DO_GEMPAK, DO_AWIPS, and WAFSF are only required on the production machines (WCOSS) so you don't need to test them on Jet. We'll want to test the tracker though, let me get that installed and give you the location when ready. That's one of my checklist items on this issue.

[2021-09-16 18:53] KateFriedman-NOAA commented on #398
All, the parallel hdf5 and netcdf modules have been renamed on WCOSS2 to match the new hpc-stack naming convention found on other platforms. Please update your components builds to use the updated names, thanks!

Before: `module load hdf5-parallel/1.10.6` --> Now: `module load hdf5/1.10.6`
Before: `module load netcdf-hdf5parallel/4.7.4` --> Now: `module load netcdf/4.7.4`

Note: there are now two

[2021-09-16 20:19] KateFriedman-NOAA commented on #399
Progress as of 9/16:

### 1) workflow owned code under /sorc:

Updated modules and build scripts...can now successfully build the following /sorc codes:

- enkf_chgres_recenter.x
- fbwndgfs
- fv3nc2nemsio.x
- gaussian_sfcanl.exe
- gfs_bufr
- regrid_nemsio
- supvit
- syndat_getjtbul
- syndat_maksynrc
- syndat_qctropcy
- tave.x
- tocsbufr
- vint.x

Need copy of GSI updated for WCOSS2 to test build o

[2021-09-16 20:26] yangfanglin commented on #399
Arun,

I’d like to confirm if the exception I negotiated with Steven/NCO for the HSPLIT to use python 2.7 still stands.

Fanglin

Sent from my iPhone

[2021-09-16 20:33] yangfanglin commented on #399
Sorry for posting the last message at a wrong place. I have removed it from this Issue

[2021-09-17 16:51] KateFriedman-NOAA commented on #398
Added bufr sounding to the component list. @HuiyaChuang-NOAA @GuangPingLou-NOAA please provide a repo where the work will happen and an associated issue for tracking progress from this epic. Let me know if work is needed to codes that reside in global-workflow, I just started a PR with build changes for what we build in global-workflow for bufrsnd. See PR #444. In the meeting today I mentioned tha

[2021-09-17 16:59] KateFriedman-NOAA commented on #398
Added GFS downstream AWIPS, bulletins, and GEMPAK to component table above. @BoiVuong-NOAA is the POC.

[2021-09-17 18:39] GuangPingLou-NOAA commented on #398
Hi Kate,

I suppose I need to create a fork for working on the bufr sounding package,
right?
Is it correct that I should check out the branch of "feature/dev-wcoss2"?

Thanks,
Guang Ping

On Fri, Sep 17, 2021 at 12:52 PM Kate Friedman ***@***.***>
wrote:

[2021-09-17 18:47] KateFriedman-NOAA commented on #398
@GuangPingLou-NOAA Yes, please fork global-workflow and check out the `feature/ops-wcoss2` branch copy in your fork. The `feature/dev-wcoss2` branch will also need similar updates but the ops branch takes priority so please work on `feature/ops-wcoss2` first. @BoiVuong-NOAA just asked me a similar question in email so I will forward my reply to you so you can see the commands for adding the `featu

[2021-09-17 18:52] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA @GuangPingLou-NOAA This is the issue to document work on the `feature/ops-wcoss2` branch. Please following global-workflow commit message standards and reference this issue in your commits. Thanks!

[2021-09-17 19:07] GuangPingLou-NOAA commented on #398
Thanks, Kate. I will start working on it when a redmine task number is
assigned to me, which will come next week probably.

On Fri, Sep 17, 2021 at 2:48 PM Kate Friedman ***@***.***>
wrote: