[2022-09-22 17:39] lgannoaa commented on #952
A safety check is now in place to stop parallel if there is an unplanned production switch. This approach will reduce the chance for cycle corruption.

[2022-09-22 17:39] lgannoaa commented on #951
A safety check is now in place to stop parallel if there is an unplanned production switch. This approach will reduce the chance for cycle corruption.

[2022-09-22 18:01] KateFriedman-NOAA commented on #1027
@AndrewEichmann-NOAA @guillaumevernieres I have pulled the new fix files into the primary fix set on Hera:
[code]

I will now rsync them to the other platform fix sets on WCOSS2, Orion, and Jet. Thanks!

[2022-09-22 18:55] AndrewEichmann-NOAA commented on #1027
@KateFriedman-NOAA Thank you, Kate.

@guillaumevernieres I forget if we discussed this, but what do I do for the ICs for ice and ocean? I presume these need to be in the target resolution:

Orion-login-4[74] aeichman$ ls ics/2013010100/ice/
cice_model_0.25.res_2013010100.nc
Orion-login-4[75] aeichman$ ls ics/2013010100/ocn/
MOM.res_1.nc  MOM.res_2.nc  MOM.res_3.nc  MOM.res_4.nc  MOM.res.nc
Orion-l

[2022-09-22 21:18] guillaumevernieres commented on #1027
@AndrewEichmann-NOAA , grab the IC from the RT test.

[2022-09-23 17:33] KateFriedman-NOAA commented on #1027
Update to confirm that these new fix files are now also in the primary fix sets on both WCOSS2s, Orion, and Jet. Took longer than usual to do these rsync's because I took the opportunity to use the `--checksum` flag with rsync to make sure nothing was missing in any set beyond the usual checks that rsync does. The checksum flag significantly increases the rsync time so I don't use it every time. N

[2022-09-23 17:36] guillaumevernieres commented on #1027
Thanks @KateFriedman-NOAA

[2022-09-23 19:13] SeanPFCasey opened #1032 "gdasearc08 not archiving correctly in bash"
I'm using the current develop branch on Orion with LOCALARCH="YES" and 80 ensemble members to allow for local archiving of tar files (to transfer to Niagara, then HPSS later). gdasarch, gfsarch, and gdasearc00-gdasearc07 all run as expected.

gdasearc08, however, does not archive the appropriate tar files. The following is noted in gdasearc08.log:

/work/noaa/aoml-osse/scasey/fv3develop20220921/gl

[2022-09-23 21:08] AndrewEichmann-NOAA commented on #1027
@guillaumevernieres So now I'm curious why the 025 ocean fix directory is so different from the 500. This is the ocean fix directory on Orion (same on Hera):

Orion-login-1[39] aeichman$ ls -1 /work/noaa/da/aeichman/fv3gfs/develop/global-workflow/fix/fix_mom6/025/
All_edits.nc
geothermal_davies2013_v1.nc
hycom1_75_800m.nc
interpolate_zgrid_40L.nc
layer_coord.nc
MOM_channels_global_025
MOM_layout
M

[2022-09-23 21:30] jiandewang commented on #1027
@AndrewEichmann-NOAA MOM6 at 5x5 is a very simple setting for IT test, some physical processes such as runoff, tide and shortwave penetration are turned off, thus you don't see them here.

[2022-09-24 12:48] RussTreadon-NOAA commented on #951
**Question** for @lgannoaa and @emilyhcliu

Should we find `gdas_atmos_enkf_chgres` job log files in `/lfs/h2/emc/ptmp/lin.gan/retro1-v16-ecf/para/com/gfs/v16.3/logs/${PDY}${cyc}`?

We have `gdas_atmos_enkf_chgres_${cyc}.o*` in `/lfs/h2/emc/ptmp/lin.gan/retro1-v16-ecf/para/com/output/prod/today`   It seems these log files should be copied to  the appropriate `${PDY}${cyc}` directory in `/lfs/h2/em

[2022-09-24 12:48] RussTreadon-NOAA commented on #952
**Question** for @lgannoaa and @emilyhcliu

Should we find `gdas_atmos_enkf_chgres` job log files in `/lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/gfs/v16.3/logs/${PDY}${cyc}`?

We have `gdas_atmos_enkf_chgres_${cyc}.o*` in `/lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/output/prod/today`   It seems these log files should be copied to  the appropriate `${PDY}${cyc}` directory in `/lfs/h2/emc/ptmp

[2022-09-24 13:54] lgannoaa commented on #951
An online change to ecflow workflow is in place to copy the gdas_atmos_enkf_chgres_${cyc}.o$$ log file to /lfs/h2/emc/ptmp/lin.gan/retro1-v16-ecf/para/com/gfs/v16.3/logs/${PDY}${cyc}
Effective CDATE=2022020712

[2022-09-24 13:55] lgannoaa commented on #952
An online change to ecflow workflow is in place to copy the gdas_atmos_enkf_chgres_${cyc}.o$$ log file to /lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/gfs/v16.3/logs/${PDY}${cyc}
Effective CDATE=2022092406

[2022-09-24 13:56] RussTreadon-NOAA commented on #951
Thank you, @lgannoaa .  It will be good to have the `gdas_atmos_enkf_chgres` job log file with the other log files in `/logs`.

[2022-09-24 13:56] RussTreadon-NOAA commented on #952
Thank you, @lgannoaa . It will be good to have the `gdas_atmos_enkf_chgres` job log file with the other log files in `/logs`.

[2022-09-26 17:04] #1028 closed, assigned to EdwardSafford-NOAA

[2022-09-27 17:24] lgannoaa commented on #951
This parallel is paused on CDATE=2022021606. This cycle will be rerun with three updates:
1. Rebuild GSI using solution in https://github.com/NOAA-EMC/GSI/issues/478 - address issue with pgrb2.1p00.anl contained the wrong analysis time.
2. Update to fv3gfs.fd package to #ec31f35b9a
3. Update post to #cc4d3c2ff
The parallel will resume its run after review process is completed.

[2022-09-27 17:37] RussTreadon-NOAA commented on #951
NOAA-EMC/GSI tag [`gfsda.v16.3.0`](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.3.0) recreated at [e05d692](https://github.com/NOAA-EMC/GSI/commit/e05d6923998f383323d068d3fdf8d15336437fb9).

[2022-09-27 17:40] WalterKolczynski-NOAA commented on #951
Note: 48-h HPSS downtime Oct 4-5 will likely negatively impact all parallels for many days as NCO will need to catch up on their own transfers once service is restored.

[2022-09-27 18:46] KateFriedman-NOAA opened #1033 "Update to obsproc.v1.0.2 and prepobs.v1.0.1 in develop"
**Description**

The `develop` branch is using an outdated version of the obsproc and prepobs packages. The obsproc and prepobs systems had major updates in the port to WCOSS2, including turning prepobs into a module that is loaded at runtime.

Refs #419

Make the following updates in `develop`:

- [x] 1. Replace `HOMEobsproc_prep`, `HOMEobsproc_network` with `HOMEobsproc`; remove `HOMEobsproc_glo

[2022-09-27 18:53] KateFriedman-NOAA opened #1034 "Error in postanl job not being handled properly in exgdas_atmos_nceppost.sh"
**Description**

In cold-started half-cycle tests the gdaspostanl job completes as successful but upon inspection of log there is an error from `exgdas_atmos_nceppost.sh` that is not being handled properly:

[code]

The `err=9` doesn't result in an error exit.

**Requirements**

Bug fix. The script should exit when it can't find the atmanl.nc file.

**Acceptance Criteria (Definition of Done)**

Th

[2022-09-27 18:59] KateFriedman-NOAA opened #1035 "Retire `BASE_SVN`/`base_svn` in develop"
**Description**

The `BASE_SVN`/`base_svn` variable and path are no longer needed. No longer use SVN since moving to Git. Now use `BASE_GIT`/`base_git` variable and path for local install locations. Retire any remaining references to `BASE_SVN` and `base_svn` from `develop.

**Acceptance Criteria (Definition of Done)**

References to and use of  `BASE_SVN` and `base_svn` no longer exist in `develo

[2022-09-27 19:09] KateFriedman-NOAA commented on #1035
Only remaining instances of `BASE_SVN` or `base_svn` are in the workflow hosts files:

[code]

Removed instance of `base_svn` in incoming `wcoss2.yaml` hosts file.

[2022-09-27 19:14] KateFriedman-NOAA commented on #1035
Removed remaining instances of `base_svn` from hosts files @ 5377ab3e

[code]

[2022-09-28 15:48] RussTreadon-NOAA commented on #952
A check of rt1-v16-ecf `gfs_atmos_analysis_calc` and `gdas_atmos_analysis_calc` log files and output for 2022092806 confirms that the correct analysis date is written to `atmanl.nc`.   Cycles for 2022092800 and before write the wrong analysis date to `atmanl.nc`.

[2022-09-28 15:55] RussTreadon-NOAA commented on #951
A check of retro1-v16-ecf `gfs_atmos_analysis_calc` and `gdas_atmos_analysis_calc` log files and output for 2022021606 confirms that the correct analysis date is written to `atmanl.nc`. Cycles for 2022021600 and before write the wrong analysis date to `atmanl.nc`.

[2022-09-28 18:57] #1035 closed, assigned to KateFriedman-NOAA

[2022-09-29 01:53] WalterKolczynski-NOAA commented on #1034
Three different things contributing here.

1. `err_chk` doesn't really do anything on RDHPCS machines
2. Since this is an error code being set directly rather than from a command return (`$?`), and only run through `err_chk`, even with `set -e` on this isn't picked up (no bash statement returns non-zero). Combined with (1), this means the program sets `err=9` but doesn't actually exit.
3. The fail

[2022-09-29 21:10] AndrewEichmann-NOAA opened #1040 "Loading anaconda in bashrc enables running of global-workflow tasks"
**Description**
When running a forecast-only experiment for the first time in a while on Hera, gfsgetic ends with the following:

[code]

The wiki instructions say to run the following before building and running g-w:

module use -a /contrib/anaconda/modulefiles
module load anaconda/anaconda3-5.3.1

Putting these lines in .bashrc (and removing the previously installed anaconda invocation) fixed th

[2022-09-29 21:16] aerorahul commented on #1040
@AndrewEichmann-NOAA
In general, it is considered poor practice to load modules such as anaconda (or any for that matter) by default via ones login shell such as `.bashrc`.
One should only load the relevant modules when they are needed (and unload them once their use is done).
For the global-workflow, consider adding functions such as these in `.bashrc`.

[code]

This will allow the user to load a

[2022-09-29 21:28] WalterKolczynski-NOAA commented on #1040
The instructions in the wiki are specifically for running the experiment setup interactively. You shouldn't need to add anything to your bashrc. I suspect there is some error loading the modulefile at runtime. in `load_fv3gfs_modules.sh`, change the default of `DEBUG_WORKFLOW` to `YES` on L4†.

† We made this a setting, but I don't think we have a way to set it in time unless it is added to the ro

[2022-09-30 12:35] lgannoaa commented on #951
Effective CDATE=2022021606
This parallel has been updated using:
1. GSI issue 748 - Incorrect analysis date in calc_analysis.x atmanl.nc file
        The GSI package has been checkout at #e05d6923
2. FV3 - Updated to support upp_v8.2.0 file generation
        The fv3gfs.fd package has been checkout at #ec31f35
3. gfs_post.fd - Updated to upp_v8.2.0 with crtm 2.4.0
        The gfs_post.fd package h

[2022-09-30 12:36] lgannoaa commented on #952
Effective CDATE=2022092806
This parallel has been updated using:
1. GSI issue 748 - Incorrect analysis date in calc_analysis.x atmanl.nc file
        The GSI package has been checkout at #e05d6923
2. FV3 - Updated to support upp_v8.2.0 file generation
        The fv3gfs.fd package has been checkout at #ec31f35
3. gfs_post.fd - Updated to upp_v8.2.0 with crtm 2.4.0
        The gfs_post.fd package h

[2022-09-30 12:59] AndrewEichmann-NOAA commented on #1040
Never mind, I had added things in my .bashrc that were conflicting. Thanks @aerorahul for the tips.

[2022-09-30 12:59] #1040 closed, assigned to nobody

[2022-10-03 14:26] lgannoaa commented on #951
As indicated in an email exchange between obsproc @ilianagenkova and NCO.
This parallel will be updated to use the new obsproc package:
obproc v1.1.0, bufr-dump.v1.1.0 and prepobs v1.0.1
/lfs/h2/emc/global/save/emc.global/git/obsproc/v1.1.0 (package location for obproc v1.1.0)
/lfs/h2/emc/global/save/emc.global/git/prepobs/v1.0.1 (package location for prepobs v1.0.1)
Effective CDATE=2022030600
ecf

[2022-10-03 14:26] lgannoaa commented on #952
As indicated in an email exchange between obsproc @ilianagenkova and NCO.
This parallel will be updated to use the new obsproc package:
obproc v1.1.0, bufr-dump.v1.1.0 and prepobs v1.0.1
/lfs/h2/emc/global/save/emc.global/git/obsproc/v1.1.0 (package location for obproc v1.1.0)
/lfs/h2/emc/global/save/emc.global/git/prepobs/v1.0.1 (package location for prepobs v1.0.1)
Effective CDATE=2022100312
ecf

[2022-10-03 16:05] KateFriedman-NOAA commented on #419
@junwang-noaa @GeorgeVandenberghe-NOAA I have been testing global-workflow develop on WCOSS2 and want to let you know my observations regarding resources for different resolutions (both deterministic and ensemble forecast jobs). I will go over issues revolving around C384 first.

### C384

1. Current resources in global-workflow develop fail for gdasfcst and gdasefcs jobs:
[code]
(Note, `WRTTASK_P

[2022-10-03 16:29] GeorgeVandenberghe-NOAA commented on #419
I have run C768L128 as Kate described but with production ATM resources.
From this

*C768 gfsfcst:*

*<nodes>44:ppn=32:tpp=4</nodes>
mpiexec -l -n 1408 -ppn 32 --cpu-bind depth --depth 4*

*I changed to*

*<nodes>150:ppn=24:tpp=5</nodes>
mpiexec -l -n 3456 -ppn 5 --cpu-bind depth --depth 5*

*This so far runs robustly in about 8100 wallclock seconds.*

Runs using Kate's original resources were als

[2022-10-03 18:32] KateFriedman-NOAA commented on #419
mpiexec -l -n 3456 -ppn 5 --cpu-bind depth --depth 5

Question for both @junwang-noaa and @GeorgeVandenberghe-NOAA : For developer runs, do we want to use the larger number of nodes for C768 on WCOSS2 now or stick with the current settings for now? The current settings are what are set for the R&Ds for that resolution right now. Many developers will likely run shorter forecasts so fewer resources

[2022-10-03 18:51] KateFriedman-NOAA commented on #419
@junwang-noaa @GeorgeVandenberghe-NOAA Another thing I didn't mention above...I've found that the C192 enkf forecast jobs fail on WCOSS2 with 2 threads but work with 1 thread. The deterministic C192 gdas[gfs]fcst jobs run fine with 2 threads.

I get the `longjmp causes uninitialized stack frame` error when I try to run C192 enkf forecast (gdasefcs) jobs on WCOSS2 with 2 threads and 64ppn (current

[2022-10-03 18:52] junwang-noaa commented on #419
@KateFriedman-NOAA I'd suggest staying with current number of tasks (not using the large number of nodes).

[2022-10-03 19:02] SMoorthi-emc commented on #419
Please do not use more resources than needed to run the model at about
8min/day.  This will be a problem as we increase resolution, if you make
C768 run too fast.
We do not want to shrink the operational window.

On Mon, Oct 3, 2022 at 2:33 PM Kate Friedman ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / Nat

[2022-10-03 19:04] KateFriedman-NOAA commented on #419
Noted, will stay with current # of tasks. Thanks Jun!

Definitely not looking to speed up past the 8min/day, so no worries @SMoorthi-emc ! Staying with fewer nodes until we optimize for ops. :)

[2022-10-03 19:13] GeorgeVandenberghe-NOAA commented on #419
I only did this to replicate the prod environment

On Monday, October 3, 2022, Kate Friedman ***@***.***> wrote:

number of nodes).

8min/day.

@SMoorthi-emc ! Staying with fewer nodes until we optimize for ops. :)

https://ci4.googleusercontent.com/proxy/CpSjZXcP8Nlbd-K1NMubstt1lXKajIpzrton7EZ4j9pKVjMKuw6F-oBQcTfr2VJzIW3wqPGXdZmMBKvU4q7G_WiGX-VkIuxo_dGnWLnbqF8QgPqo6zNQVeWQCfazSGzLL073tHRsyRB2wz2G

[2022-10-03 19:21] KateFriedman-NOAA commented on #419
@junwang-noaa @GeorgeVandenberghe-NOAA Another C384 issue on WCOSS2...this time revolving around parallel netcdf. C384 fails with parallel netcdf on WCOSS2. Should we run the deterministic C384 with serial netcdf like we run the ensemble C384 forecast jobs in GFSv16 ops?

This was observed when porting GFSv16 ops to WCOSS2 earlier this year. The C384 enkf forecast jobs in GFSv16 would sometimes fa

[2022-10-03 19:39] GeorgeVandenberghe-NOAA commented on #419
We should wait until we get the new HDF5/1.12.2 library on WCOSS2 built by
admins.   Pending that we have a known issue with HDF5/1.10.6 in C384
parallel Netcdf and should
just stick with serial netcdf without compression.  I haven't checked but
suspect compression will slow it down enough we need too many I/O groups if
run serially.   The problem with uncompressed Netcdf I/O is it makes a MUCH
bi

[2022-10-03 20:53] GeorgeVandenberghe-NOAA commented on #419
When running this workflow what is the definition of "deterministic
forecast"   There is a set of these for the enkf members run out to 9 hours
and another set of these for the ensemble forecasts
run out to 390 hours.   Which ones are you referring to and what are the
failure patterns of the two sets?  Are we seeing the hdf failures in the
long ensemble forecasts on read, going out to 390 hours or

[2022-10-03 21:06] KateFriedman-NOAA commented on #419
When I say "deterministic forecast" I am referring to the gdas and gfs forecast jobs and separating them from the ensemble/enkf forecast jobs.

Let me summarize current issues/status based on resolution:

- gdasfcst (9hr deterministic)
  - issues with parallel netcdf when C384
  - parallel netcdf ok when C768
  - run serial netcdf C192 or lower
- gfsfcst (384hr deterministic)
  - issues with paral

[2022-10-04 07:03] #966 closed, assigned to WalterKolczynski-NOAA, KateFriedman-NOAA

[2022-10-04 07:03] #356 closed, assigned to WalterKolczynski-NOAA

[2022-10-04 14:31] WalterKolczynski-NOAA opened #1041 "NCO Bugzilla Ticket Resolution"
This epic is to track the status of all of the NCO issues that need to be resolved for GFS v17 and GEFS v13.

Google spreadsheet to track all GFS bugzillas:
https://docs.google.com/spreadsheets/d/1JF5GcHjqrdAIRI9nIUdxRz95GvALxHd9IDri-S3fVco/edit?pli=1#gid=0

[2022-10-04 15:00] WalterKolczynski-NOAA commented on #167
I think there is some overlap between this and #293. This might even be strictly a subset of that issue. Close as duplicate?

[2022-10-04 15:12] KateFriedman-NOAA commented on #167
Yeah this overlaps with #293. Closing as duplicate.

[2022-10-04 15:12] #167 closed, assigned to nobody

[2022-10-04 17:16] NeilBarton-NOAA opened #1042 "add ESMF Threading"
**Description**
Add ESMF threading option to global workflow scripts. This added capability saves resources as it only adds threading to model components that it is needed and is useful.

**Requirements**
Two main edits are needed for ESMF threading:
- [ ] nems.configure edit

  add
  ${COMPONENT}_omp_num_threads:            N
  where $COMPONENT is ATM, MED, CHM, OCN, or ICE and N is an integer fo

[2022-10-04 17:46] RussTreadon-NOAA opened #1043 "build_all.sh fails when gdas.cd is present"
**Expected behavior**
`./build_all.sh` on Orion from develop @ [833b8f4](https://github.com/NOAA-EMC/global-workflow/commit/833b8f4c124fb48b5a04bc0f82c2b5fc9df1165c) should run to completion when `sorc/gdas.cd` is present.

**Current behavior**
`./build_all.sh` fails on Orion when it gets to gdas.cd.
[code]

**Machines affected**
Only tested on Orion.

**To Reproduce**
1.  clone g-w `develop` at [

[2022-10-04 18:03] RussTreadon-NOAA opened #1044 "./link_workflow.sh -h does not return usage"
**Expected behavior**
`./link_workflow.sh -h` should return the usage section in the script.

**Current behavior**
[code]

**Machines affected**
Only tested on Orion

**To Reproduce**
1. clone g-w `develop` at [833b8f4](https://github.com/NOAA-EMC/global-workflow/commit/833b8f4c124fb48b5a04bc0f82c2b5fc9df1165c)
2. `cd sorc`
3. `./link_workflow.sh -h`

[2022-10-04 18:08] WalterKolczynski-NOAA commented on #1043
I've got this bug fixed, but in trying to confirm the fix I get another error during the GDASApp build:
[code]

[2022-10-04 18:19] RussTreadon-NOAA commented on #1043
The GDASApp hash in `checkout.sh` no longer works due to changes the JEDI core team made to jedicmake.   The current head of GDASApp develop, [1ef214b](https://github.com/NOAA-EMC/GDASApp/commit/1ef214b85f6904967b62e6ebc21c0c7815872f86), get us past the jedicmake error.   Replace

`checkout "gdas.cd" "https://github.com/NOAA-EMC/GDASApp.git" "5952c9d"; errs=$((errs + $?))`

with

`checkout "gdas.c

[2022-10-04 18:25] #1044 closed, assigned to nobody

[2022-10-04 18:52] KateFriedman-NOAA opened #1047 "Update gfs-utils hash for WCOSS2 support"
**Description**

WCOSS2 support was added to the gfs-utils repo. Update the gfs-utils hash to bring that support into global-workflow. Update hash to [`3a609ea`](https://github.com/NOAA-EMC/gfs-utils/commit/3a609ea7102153f018ac3b82a51399d312a6d814).

Related issue in gfs-utils: https://github.com/NOAA-EMC/gfs-utils/issues/6

[2022-10-04 18:58] #1047 closed, assigned to KateFriedman-NOAA

[2022-10-04 19:08] CoryMartin-NOAA commented on #1043
Does GDASApp no longer build using the hash checked out as part of the develop branch of `g-w`? EDIT: never mind, it is the case because it checks out `develop` of jedicmake... ugh

[2022-10-04 19:22] RussTreadon-NOAA commented on #1043
No, the build fails as @WalterKolczynski-NOAA documented.   This is the jedicmake problem.  We fixed this in GDASApp develop and so the GDASApp hash in checkout.sh needs to be updated.   While updating the GDASApp develop hash will get us through the configure part of the GDASApp build, the compilation will still fail.   The ioda-converters extracted with the GDASApp require `bufr/11.7.1`.  This i

[2022-10-04 19:29] WalterKolczynski-NOAA commented on #1043
I'm going to submit the fix for the bug that is ours, since I'm confident I have fixed that. I dislike that GDAS is using non-static versions of components by checking out develop instead of specific commits. It makes it impossible to guarantee that any specific version at our level will work in the same way (or at all, as seen here). We have a policy against using dynamic version pointers in work

[2022-10-04 19:30] CoryMartin-NOAA commented on #1043
@WalterKolczynski-NOAA agreed, https://github.com/NOAA-EMC/GDASApp/issues/143 is already created. Soon we will switch to checking out specific tags/commits of JEDI repos.

[2022-10-05 12:56] AndrewEichmann-NOAA commented on #1003
Are there any plans for this? Any cycled run longer than a day requires intervention on each cycle to keep running.

[2022-10-05 14:42] lgannoaa opened #1051 "Merge ecflow workflow archive jobs back to global workflow"
There is an architecture redesign for archive jobs running on ecflow workflow used for GFS v16.3 retro and realtime parallel. The solution was developed due to the new WCOSS2 environment.

The WCOSS2 HPSS transfer jobs environment often have the following conditions:
(1) Network transfer speed slowness.
(2) Developer dev transfer jobs priority turned to low situational.
(3) Transfer jobs become zo

[2022-10-05 16:21] WalterKolczynski-NOAA commented on #1003
I'm going to start tackling this today, I hope.

[2022-10-05 18:52] KateFriedman-NOAA opened #1052 "Remove `MPICH_COLL_OPT_OFF` eupd runtime setting in `WCOSS2.env`"
**Description**

The `MPICH_COLL_OPT_OFF=1` setting in the eupd job on WCOSS2 generates a warning at runtime (but doesn't kill the job):
`MPICH Warning: Conflicting env variables. Cannot use Shared Memory aware collectives`

This setting was added during the WCOSS2 GFSv16 operational port after being recommended by GDIT and GSI code manager to ensure reproducibility with the `global_enkf.x` execut

[2022-10-05 20:31] AndrewEichmann-NOAA commented on #1003
Great - once it's working I'll merge it into the EFSOI branch, get the PR in, and get that out of everybody's hair.

[2022-10-06 01:49] lgannoaa commented on #951
This parallel is paused on CDATE=2022031212 due to the HPSS outage caused PTMP to be 95% full.
Over the night and early morning on 10/6, HPSS transfer rate remain slow (50~75% of normal). Many transfer end up failed. The archive job recover is still on-going. This parallel remain paused.
Depending on the archive job and HPSS transfer speed today, the COM maybe touched to ensure this parallel remai

[2022-10-06 14:16] lgannoaa commented on #952
It was discovered the nsstbufr file from GDA gdasx/gfsx not present for CDATE=2022100600. This cycle will be rerun.

[2022-10-06 21:22] #1032 closed, assigned to WalterKolczynski-NOAA

[2022-10-07 12:49] emilyhcliu commented on #952
VIIRS radiances are missing from the real-time run because NESDIS discontinued the VIIRS brightness temperatures (BTs).without prior notification to users.   NESDIS began to provide the VIIRS BTs product starting on October 5, 2022.   This leaves us very little time to test to ensure the product's quality.    Therefore, we decided to turn VIIRS BTs data into monitoring mode.

Based on the decision

[2022-10-07 13:03] guillaumevernieres opened #1054 "Wrong naming of the orography fixed files for the coupled c48 5 deg ocean/ice"
## The bug
The orography fixed files for the C48/5 degree MOM6-CICE are not named properly on `Hera` (probably true for other HPC):
`400` should be replaced by `500`. As far as I know there isn't an existing 4 degree MOM6/CICE. Correct me if I am wrong @jiandewang , @DeniseWorthen or @JessicaMeixner-NOAA.

## The solution
```/scratch1/NCEPDEV/global/glopara/fix/orog/20220805/C48.mx400_frac```
shou

[2022-10-07 14:26] EdwardSafford-NOAA opened #1055 "Rename monitor files to avoid name collisions."
**Expected behavior**
Files generated by the DA monitors should not be overwritten by successive runs.

**Current behavior**
The rocoto default output location for the DA monitors is $NOSCRUB/monitor/*mon/stats/$suffix/gdas.$pdy.  There is no hour subdirectory.  Most of the files produced by the monitors include a full cycle time, so they will are unique.  However the files below do not include a

[2022-10-07 14:51] #1033 closed, assigned to KateFriedman-NOAA

[2022-10-07 17:36] RussTreadon-NOAA opened #1058 "FITS submitted from vrfy.sh"
**Expected behavior**
`config.vrfy` allows the user to specify the `QUEUE` to use for the FITS job.
[code]
Therefore, expect the FITS job to run in the user specified queue.

**Current behavior**
While `subfit_orion_netcdf` sets `CUE2RUN` based on user input
[code]
it does not use the user set `CUE2RUN`.  Instead it hardwires the FITS job to use the batch queue.
[code]

**Machines affected**
Orion

[2022-10-07 17:36] RussTreadon-NOAA commented on #1058
Tagging @jack-woollen for awareness.

[2022-10-07 17:38] lgannoaa commented on #1051
The ecflow scripts will not be included in this around of PR.
JGLOBAL_OFFLINE_ARCHIVE and JENKFGDAS_OFFLINE_ARCHIVE will be converted into JJobs and ex-scripts
Modify the current arch.sh earc.sh inline with other rocoto job scripts.

Test with rocoto workflow on both cycled and fcst only parallel run.

[2022-10-08 00:12] #138 closed, assigned to DavidHuber-NOAA

[2022-10-10 05:33] lgannoaa commented on #951
The /lfs/h2/emc/stmp usage on Cactus is 96.7%. This parallel will be paused on CDATE=2022032400 until stmp space clean up by the developers.
This parallel is resumed on 10/10 7:50a. The stmp usage has reduced to 78.6%

[2022-10-11 07:41] Hang-Lei-NOAA commented on #837
-bash-4.2$ ll
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-2022.1.2/g2/3.4.2/lib64/libg2_4.a
-rw-r--r-- 1 Hang.Lei nwprod 934020 Mar 16 01:02
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-2022.1.2/g2/3.4.2/lib64/libg2_4.a

lib g2/3.4.2 has not been changed since installation.

On Thu, Jun 2, 2022 at 11:42 AM Jessica Meixner ***@***.***>
wrote:

[2022-10-11 07:54] WalterKolczynski-NOAA commented on #1055
Is there a reason the path doesn't have a cycle after `gdas.${PDY}`? I think that would be the preferred solution.

[2022-10-11 11:26] RussTreadon-NOAA opened #1059 "finddate.sh not found"
**Expected behavior**
Job `gdasgldas` should run to completion.

**Current behavior**
Job `gdasgldas` fails with the error
[code]
`config.gldas` sets

`export FINDDATE=$HOMEgfs/util/ush/finddate.sh`

`finddate.sh` does not exist at this path.

**Machines affected**
Only tested on Orion

**To Reproduce**
Install the g-w from the current head of develop (e915eb64).   Set up `EXPDIR` to run a paralle

[2022-10-11 11:30] WalterKolczynski-NOAA commented on #1059
I think @KateFriedman-NOAA is already working on this.

[2022-10-11 11:39] RussTreadon-NOAA commented on #1059
Thanks @WalterKolczynski-NOAA .  @KateFriedman-NOAA , do we have an estimate as to when this will be fixed?

As a patch, I copied `finddate.sh` from an old g-w checkout to my `EXPDIR` and updated `config.gldas` to point at my local copy.  This, obviously, is not a solution.

[2022-10-11 12:04] WalterKolczynski-NOAA commented on #1059
`find_date.sh` was moved into the new gfs-utils repo, which is located in `sorc/` as `gfs_utils.fd`. You can find it there without using an old copy of g-w. The fix will be linking the ush scripts there into `ush/`

[2022-10-11 12:26] KateFriedman-NOAA commented on #1055
@RussTreadon-NOAA added `$cyc` subfolders into the `$TANKverf_rad*` paths in the GFSv16.3.0 package @ https://github.com/NOAA-EMC/global-workflow/commit/4335ef26c4b3183abf742c10e45257b613b20455 . Perhaps a similar change is needed in `develop`?

[2022-10-11 12:30] WalterKolczynski-NOAA opened #1060 "Post fails for low-resolution experiments"
**Expected behavior**
Post should run for any resolution.

**Current behavior**
When running C96, post fails with a `too many MPI tasks, max is           96  stopping` message. Presumably UPP is limiting the number of ranks to the resolution (hold over from spectral?)

**Machines affected**
Discovered on Orion, but presumably on every machine.

**To Reproduce**
1. Set up any experiment using C96 r

[2022-10-11 12:49] KateFriedman-NOAA commented on #744
From October 7th RFC memo:

[code]
UPPv.8.2.0 module installed into WCOSS2 production:
[code]

[2022-10-11 12:52] EdwardSafford-NOAA commented on #1055
OK, I'll add a $cyc subfolder instead then.

[2022-10-11 14:50] RussTreadon-NOAA commented on #1059
Thanks, @WalterKolczynski-NOAA .   I updated `config.gldas` in my `EXPDIR` to read

`export FINDDATE=$HOMEgfs/sorc/gfs_utils.fd/ush/finddate.sh`

I'll undo this local mod when the official fix is developed, tested, and committed to `develop`.

[2022-10-11 14:55] RussTreadon-NOAA opened #1063 "exgdas_atmos_gldas.sh topodir needs /"
**Expected behavior**
`gdasgldas` executable `gdas2gldas` should run to completion without error.

**Current behavior**
`gdasgldas` fails when executing `gdas2gldas` with the following error
[code]

**Machines affected**
Failure detected on Orion.  Same failure will likely occur on other machines.

**To Reproduce**
Install the g-w `develop` at https://github.com/NOAA-EMC/global-workflow/commit/e91

[2022-10-11 15:08] RussTreadon-NOAA commented on #622
**Restart Tile Space Mismatch for C96 parallel**

Running a C96L127 parallel on Orion.    The 2021122500 gdasgldas job is the first job in the parallel with sufficient `sfluxgrb` files to run gldas.   Executable `./LIS` fails with the following error:

[code]

Here are details of the parallel
- EXPDIR=/work/noaa/da/Russ.Treadon/para_gfs/prgsida4
-  HOMEgfs=/work/noaa/da/Russ.Treadon/git/global_wor

[2022-10-11 15:18] jiandewang commented on #1054
@guillaumevernieres you are right on this. Originally we got the fixed files from Travis and thought it is 4x4. A simple renaming will cause the job failure for users working branch. A viable way is to copy them to 5x5 naming style while keep 4x4 on disk for a period of time. In the meantime we need to have a simple PR to correct the fixed file directory in rt.sh. After the PR is done, we can ask

[2022-10-11 15:31] guillaumevernieres commented on #1054
Thanks for your input @jiandewang .
@KateFriedman-NOAA , could you make a copy instead of renaming as @jiandewang suggested?

[2022-10-11 15:32] jiandewang commented on #1054
@KateFriedman-NOAA can you do the coping on all platforms as I don't have permission on most of them ?
@WalterKolczynski-NOAA Can you also assign this issue to me? I am going to have a PR on script changing for this.

[2022-10-11 16:23] WalterKolczynski-NOAA commented on #1054
@jiandewang I think I can just fix it quickly.

[2022-10-11 16:24] jiandewang commented on #1054
sounds good

[2022-10-11 17:01] DavidHuber-NOAA commented on #622
@HelinWei-NOAA @KateFriedman-NOAA @WalterKolczynski-NOAA Looking through the history, it seems we never generated the `sfc.gaussian.nemsio` file for C96 and the associated fix file for T192.  Helin, it looks like the file you would need is /work/noaa/stmp/rtreadon/RUNDIRS/prgsida4/2021122500/gdas/gldas.63881/sfc.gaussian.nemsio.20211222.

[2022-10-11 17:21] HelinWei-NOAA commented on #622
@DavidHuber-NOAA You are right. We haven't updated the gldas fixed fields for the resolution C96. Now we have one for fraction grid (/work/noaa/stmp/rtreadon/RUNDIRS/prgsida4/2021122500/gdas/gldas.63881/sfc.gaussian.nemsio.20211222). Would you mind running another C96 case but turning off fractional grid? Thanks.

[2022-10-11 17:22] DavidHuber-NOAA commented on #622
@HelinWei-NOAA Will do.

[2022-10-11 17:22] KateFriedman-NOAA commented on #1054
I have fixed this in the fix set on Hera and am currently rsyncing the change to the other platform fix sets:

[code]

@WalterKolczynski-NOAA is working on the associated workflow update.

[2022-10-11 17:51] aerorahul commented on #1059
Just an FYI, `finddate.sh` is a utility in `prod_util` and should be the one that is used rather than the local copy from gfs-utils.
https://github.com/NCEP-NCO/prod_util/tree/operations/ush
https://github.com/NOAA-EMC/NCEPLIBS-prod_util/tree/develop/ush

I believe both are available on all systems

[2022-10-11 18:25] #1063 closed, assigned to nobody

[2022-10-11 18:27] RussTreadon-NOAA commented on #1059
g-w develop `modulefiles/module_base.orion.lua` loads `prod_util/1.2.2`.    This module points at `/work2/noaa/global/wkolczyn/save/hpc-stack/intel-2018.4/prod_util/1.2.2`.   This directory does not exist on Orion.

I see `finddate.sh` in `/apps/contrib/NCEP/libs/hpc-stack/intel-2018.4/prod_util/1.2.2/bin`

[2022-10-11 18:33] WalterKolczynski-NOAA commented on #1059
The hpc-stack under my name is only a hack job for a couple modules related to MET. All other modules are loaded from the main hpc-stack installation.

[2022-10-11 18:40] RussTreadon-NOAA commented on #1059
Great, I look forward to exercising the updated g-w develop with `finddate.sh` picked up via prod_util.

[2022-10-11 19:03] RussTreadon-NOAA opened #1067 "Update g-w to cycle GDASApp"
**Expected behavior**
g-w develop `jobs/JGDAS_GLOBAL_ATMOS_ANALYSIS_PREP` should run to completion.

**Current behavior**
`JGDAS_GLOBAL_ATMOS_ANALYSIS_PREP` fails with the traceback

[code]

**Machines affected**
Running C96L127 parallel on Orion using GDASApp based (UFS-based) DA

**To Reproduce**
1. Install g-w develop at e8ef5fc6
2. set up EXPDIR with `export DO_JEDIVAR="YES"` in `config.base`

[2022-10-11 19:04] RussTreadon-NOAA commented on #1067
Tagging @CoryMartin-NOAA for awareness.

[2022-10-11 19:18] WalterKolczynski-NOAA commented on #1067
Are you loading conda in your `.bashrc`? For some reason, conda doesn't reset correctly, even if you do a module purge, and it doesn't play nicely with the preamble's trace (`$PS4`) setting, which is what all the `BASH_SOURCE: unbound variable` are.

The ultimate error is something different but also due to conda issues.

[2022-10-11 19:25] RussTreadon-NOAA commented on #1067
Thank you, @WalterKolczynski-NOAA , for this information.   I do not load conda in my `.bashrc`

[2022-10-11 19:54] aerorahul commented on #1067
@RussTreadon-NOAA and @aerorahul had a side discussion on this topic and it was agreed that as a temporary measure, an equivalent `load_jedi_modules.sh` will be created.
The full discussion included introducing job specific modulefiles in a near term for new jobs.

[2022-10-11 19:58] #1054 closed, assigned to WalterKolczynski-NOAA, KateFriedman-NOAA

[2022-10-11 20:04] guillaumevernieres commented on #1054
Thanks @KateFriedman-NOAA .

[2022-10-11 20:05] KateFriedman-NOAA commented on #1054
@guillaumevernieres The fix sets on Hera, Orion, Cactus, and Dogwood are updated. Waiting for Jet to come back from maintenance to update the set there.

[2022-10-11 21:28] lgannoaa commented on #952
Effective CDATE=2022101112, this parallel will point obsproc directory from NCO /lfs/h1/ops/para/com/obsproc location instead of EMC dump archive.

[2022-10-12 10:38] AndrewEichmann-NOAA opened #1068 "gdasprep fails in cycling with HOMEobsproc: unbound variable"
**Expected behavior**

gdasprep in cycling fails with unbound variable error

**Current behavior**

Job fails with following in log /work/noaa/stmp/aeichman/comrot/bosco/logs/2021060906/gdasprep.log:

[code]

Line in question is following:

`    $HOMEobsproc/jobs/JOBSPROC_GLOBAL_PREP
`

Variable does not appear before in log, though string is base name for other variables (eg HOMEobsproc_prep)

**

[2022-10-12 12:29] DavidHuber-NOAA commented on #622
@HelinWei-NOAA OK, the C96, non-fractional grid sfc file is here: /work/noaa/nesdis-rdo2/dhuber/for_helin/96_nofrac/sfc.gaussian.nemsio.20220401.

[2022-10-12 13:02] KateFriedman-NOAA commented on #1068
@AndrewEichmann-NOAA Your config.base in your expdir is old:
[code]
The config.base.emc.dyn in your `HOMEgfs`/clone is updated with the newer `HOMEobsproc`:
[code]
Diff your updated clone's configs with your expdir versions to see what you need to pull into your expdir or remake/restart the run with the updated configs in your clone.

[2022-10-12 13:35] aerorahul commented on #1068
@AndrewEichmann-NOAA
I ran an experiment yesterday with updates from `develop` and was able to run the gdas/gfs prep jobs to completion.
The logs are here:
[code]

[2022-10-12 16:06] RussTreadon-NOAA commented on #1067
The `load_jedi_modules.sh` approach will not currently work.

`config.base` contains variables defined by modules loaded by `module_base.$machine.lua`.    These variables are not defined in by spack-stack modules.  For example, `config.base` contains

`export NCDUMP="$NETCDF/bin/ncdump`

`module_base.$machine.lua` loads netcdf/4.7.2.   This module defines `NETCDF`.   The modules loaded by `GDAS/$m

[2022-10-12 16:28] aerorahul commented on #1067
It seems spack-stack modules need variables to be added to support existing applications.

[2022-10-12 16:34] RussTreadon-NOAA commented on #1067
Agreed.

A similar comment applies to some variables and hpc-stack.   `/apps/contrib/NCEP/libs/hpc-stack/modulefiles/compiler/intel/2018.4/crtm/2.3.0.lua` does not define CRTM_FIX.   CRTM_FIX is defined in g-w module_base.$machine.   It's preferable to define CRTM_FIX in the crtm module.

In addition to adding variables to spack-stack modules, we also need to add some production modules to spack-s

[2022-10-12 17:31] KateFriedman-NOAA commented on #1054
Jet fix set is now also updated.

[2022-10-12 18:58] aerorahul opened #1069 "Bring j-jobs up to EE2 compliance."
**Description**
Several j-jobs within the global-workflow do not adhere to EE2 standards and compliance.
Moreover, several tasks have j-jobs missing.  All tasks within the global-workflow should adhere to EE2 standards, regardless of them being part of an operational system.

**Requirements**
j-jobs should adhere EE2 implementation standards available [here](https://www.nco.ncep.noaa.gov/idsb/impl

[2022-10-12 20:52] WalterKolczynski-NOAA commented on #1067
As long as all these variables are defined in the WCOSS2 versions of these modules, the versions on other machines, whether it be in hpc-stack or spack-stack, really need to have them too. This is an NCEP-LIBS issue.

[2022-10-12 20:55] #1055 closed, assigned to EdwardSafford-NOAA

[2022-10-13 06:23] jack-woollen commented on #1058
@RussTreadon-NOAA created tag newm.1.6 which accepts and honors CUE2RUN as either batch or debug in subfits_orion.

[2022-10-13 10:44] RussTreadon-NOAA commented on #1058
Thank you @jack-woollen .   I do not see tag newm.1.6 in [https://github.com/NOAA-EMC/Fit2Obs/tags](https://github.com/NOAA-EMC/Fit2Obs/tags).   I only see tags up to new.1.5.    Where do I find tag newm.1.6?

I see that [newmaster](https://github.com/NOAA-EMC/Fit2Obs/tree/newmaster) was updated at about the same time as your comment above.   For the time being, I installed newmaster in my space o

[2022-10-13 11:54] jack-woollen commented on #1058
@RussTreadon-NOAA Sorry I hadn't pushed the tag, but you picked up the changes which had been pushed to the repo. You should be able to see the tag now. I don't understand the error either. I don't find PS1 in any of the fit2obs scripts.

[2022-10-13 12:23] WalterKolczynski-NOAA commented on #1058
`$PS1` is the shell variable that controls what the prompt is. When conda is activated, it tries to modify that prompt. I'm not sure exactly why conda is being activated here, but the submitted job doesn't seem to have that. Maybe the module or environment are being exported to the submitted job somehow. I don't have the PS1 message in my own logs, but I also have a custom PS1 set in my .bashrc. D

[2022-10-13 14:07] RussTreadon-NOAA commented on #1058
Thank you, @jack-woollen , for pushing the tag to the repo.  I installed newm.1.6 on Orion in `/work/noaa/da/Russ.Treadon/git/verif/global/Fit2Obs/newm.1.6`.

Using newm.1.6 with the current head of g-w develop requires a few changes to `config.vrfy`
[code]

The `BASE_GIT_DEV` change is only required because I can not add newm.1.6 to  `BASE_GIT=/work/noaa/global/glopara/git`   (Tagging @KateFriedm

[2022-10-13 14:14] AndrewEichmann-NOAA commented on #1068
Wetware malf mitigated, thank you for your time and effort.

[2022-10-13 14:14] #1068 closed, assigned to nobody

[2022-10-13 14:17] jack-woollen commented on #1058
@RussTreadon-NOAA As I recall I worked with Lin to run the fits with his parallel some time ago resulting in the latest version of subfits_orion. Since COM_INA and COM_PRP and COM_INF can vary we defined them in the calling script. Seems like that's the better place to define these locations.

[2022-10-13 14:30] RussTreadon-NOAA commented on #1058
@jack-woollen , I see what you say.   `subfits_orion` and `subfits_hera` differ from `subfits_wcoss2` in more than just SBATCH -vs- PBS.   I'm going to stop here with fit2obs for the time being.   I need to move onto GDASApp tasks.   Hopefully others can pick up this thread and iron out wrinkles on orion (and, presumably hera).

[2022-10-14 13:55] guillaumevernieres opened #1072 "JEDI-based marine DA tasks"
**Description**
Add the JEDI based ocean and sea-ice DA (`soca`) tasks to the cycling application.

**Acceptance Criteria (Definition of Done)**
- A coupled forecast step (c48/5deg ocena/ice, see dependencies below) that dumps the appropriate backgrounds for the ocean and sea-ice DA.
- Addition of the following tasks (implemented in the GDASApp repo):
  - **gdasocnanalprep**:
     - stage backgrou

[2022-10-14 17:19] HelinWei-NOAA commented on #622
@DavidHuber-NOAA This nemsio file is for C192 resolution even you ran the model @C96. My program is not robust enough to fail with the wrong resolution input file. I check the previous nemsio tarball you created. The data is always one level higher resolution than it should. @KateFriedman-NOAA I need to recreate some GLDAS fixed fields because of this mismatch.

[2022-10-14 17:21] KateFriedman-NOAA commented on #622
@HelinWei-NOAA Okie dokie. Pass me the updated/new files when ready and I'll copy them into the fix set. Thanks!

[2022-10-14 17:28] HelinWei-NOAA commented on #622
@DavidHuber-NOAA When you ran gdas@c96, gfs was always run @ 1 level higher resolution (c192 for this case). nemsio file was created by gfs?

[2022-10-14 17:46] DavidHuber-NOAA commented on #622
@HelinWei-NOAA The resolution is correct for C96.  The GLDAS runs at T190 for a C96 case and that is the resolution of the nemsio file I provided.  The GLDAS resolution is determined by the global workflow script [scripts/exgdas_atmos_gldas.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/scripts/exgdas_atmos_gldas.sh) at line 58:
`JCAP=$((2*res-2))`

This is confirmed on lines 90 thro

[2022-10-14 18:08] HelinWei-NOAA commented on #622
@DavidHuber-NOAA You are absolutely right. Thank you for clarification. However, my program interpreted them wrongly, so I need to recreate the whole set of gldas fixed filed data. Do you have the nemsio files for C192 and C384 without fractional grid? Thanks.

[2022-10-14 18:14] HelinWei-NOAA commented on #622
@DavidHuber-NOAA I found those two nemsio files. Thanks.

[2022-10-14 18:58] HelinWei-NOAA commented on #622
@KateFriedman-NOAA @DavidHuber-NOAA It turns out only C96 (T190) has a problem. Please copy the updated data for this resolution FIX_T190 from /scratch1/NCEPDEV/global/Helin.Wei/save/fix_gldas for both nonfrac_grid and frac_grid. Thanks.

[2022-10-14 20:23] KariA-Spire commented on #632
Hello:
I'm having a similar issue at **runtime**, but with global-workflow v16.2.1 on Hera.:

/scratch2/AOML/aoml-osse/Karina.Apodaca/projects/aeolus/GitHub_global/rot/v16_CTL2/logs/2019091500/gdasfcst.log
displays this message:

[code]

I'm not loading modules via my .cshrc or manually prior to setting up the workflow.

I tested @aerorahul test_modules3.sh and all modules are loaded correctly.

[

[2022-10-17 13:05] lgannoaa commented on #951
Many jobs failed over the weekend of 10/16 due to group STMP full. Recover in progress. Currently on CDATE=2022060412

[2022-10-17 14:26] lgannoaa commented on #952
This parallel was paused on CDATE=2022101112 for helping NCO warm start the 30 days parallel. It resumed and on the realtime after that. The *wafs* bufr.t00z gempak wmo in COM were mirrored to Cactus for code manager to review from CDATE 2022101112 to 2022101406.

[2022-10-17 15:28] AndrewEichmann-NOAA commented on #925
Folding into issue https://github.com/NOAA-EMC/global-workflow/issues/673

[2022-10-17 15:28] #925 closed, assigned to nobody

[2022-10-17 15:29] AndrewEichmann-NOAA commented on #478
Folding into issue https://github.com/NOAA-EMC/global-workflow/issues/673 and closing

[2022-10-17 15:29] #478 closed, assigned to nobody

[2022-10-17 15:30] AndrewEichmann-NOAA commented on #673
See also closed issues https://github.com/NOAA-EMC/global-workflow/issues/925 and https://github.com/NOAA-EMC/global-workflow/issues/478

[2022-10-17 15:38] RussTreadon-NOAA commented on #1067
Changes pertaining to this issue will be committed to g-w branch [feature/updates_for_GDASApp](https://github.com/NOAA-EMC/global-workflow/tree/feature/updates_for_GDASApp). This branch originated from [develop](https://github.com/NOAA-EMC/global-workflow/tree/develop) at fd771cb8.

[2022-10-17 16:43] RussTreadon-NOAA commented on #1067
**Changes committed at 1a1004ff**

New file `ush/load_ufsda_modules.sh` loads modules used by GDASApp jobs in g-w.   The use of these modules corresponds to a more recent GDASApp hash.  As such the GDASApp hash in `sorc/checkout.sh` has been updated to the current head of GDASApp develop ([0332c17](https://github.com/NOAA-EMC/GDASApp/commit/0332c176f6ab548bf4a9e0cd8465ab1d91d94b8b)).   The GSI has

[2022-10-17 16:51] RussTreadon-NOAA commented on #1067
**Note:**  The g-w changes committed to [`feature/updates_for_GDASApp`](https://github.com/NOAA-EMC/global-workflow/tree/feature/updates_for_GDASApp) at 1a1004ff require the use of GDASApp branch [`feature/updates_for_gw`](https://github.com/NOAA-EMC/GDASApp/tree/feature/updates_for_gw).    See GDASApp issue [#154](https://github.com/NOAA-EMC/GDASApp/issues/154) for details.

[2022-10-17 17:15] WalterKolczynski-NOAA opened #1076 "GSI minmon script should not run in forecast-only mode"
**Expected behavior**
The GSI minmon script should be turned off when in forecast-only mode. Under the current configuration the gfsvrfy job fails starting in the second cycle because there is no gsistat file.

**Current behavior**
Minmon is run for gfs CDUMP even in forecast-only mode

**Machines affected**
All

**To Reproduce**
1. Setup a forecast-only experiment of longer than one cycle
2. Witn

[2022-10-17 17:15] WalterKolczynski-NOAA commented on #1076
I'll fix this one tonight/tomorrow.

[2022-10-17 17:57] WalterKolczynski-NOAA commented on #1010
Is there a difference between this issue and #993? Did the PR attached solve the issue for the release branch, and have those changes made their way back to develop?

[2022-10-17 18:03] KateFriedman-NOAA opened #1077 "2023 CO2 fix file update"
The annual CO2 fix file update is here. Pull the new CO2 files from:

/lfs/h2/emc/physics/noscrub/qingfu.liu/CO2_for_NCO_2023/gfs.v16.2.3/fix/fix_am

New files:

- fix_am/co2dat_4a/global_co2historicaldata_2021.txt
- fix_am/co2dat_4a/global_co2historicaldata_2022.txt_proj_u
- fix_am/co2dat_4a/global_co2historicaldata_2023.txt_proj
- fix_am/fix_co2_proj/global_co2historicaldata_2023.txt
- fix_am/fi

[2022-10-19 14:50] KateFriedman-NOAA commented on #622
@HelinWei-NOAA @DavidHuber-NOAA @RussTreadon-NOAA I have rsync'd the updated FIX_190 nonfrac_grid and frac_grid files into the fix/gldas/20220920 subfolder on all supported platforms. Please retest the GLDAS job that failed and let me know if further updates are needed. Thanks!

[2022-10-19 15:02] DavidHuber-NOAA commented on #357
@WalterKolczynski-NOAA @KateFriedman-NOAA I have restarted work on the Jet port.  Do you know if the TC tracker, Fit2Obs, prepobs, and obsproc have been installed on Jet?  If not, I can port, build, and test these locally.  I believe all of these now have GitHub repositories (though I'm not sure if Fit2Obs and the TC tracker are official), so I should be able to open PRs after testing.  I will jus

[2022-10-19 15:13] JiayiPeng-NOAA commented on #357
Hi David,
I will test TC tracker on JET. When it is finished I will create a TAG on
github for you to check out.
Thanks,
Jiayi

On Wed, Oct 19, 2022 at 11:02 AM David Huber ***@***.***>
wrote:

[2022-10-19 15:14] DavidHuber-NOAA commented on #357
Great, thank you @JiayiPeng-NOAA!

[2022-10-19 15:31] KateFriedman-NOAA commented on #357
@JiayiPeng-NOAA I see Jet support in the v1.1.15.5 tag. Is that not full support? I installed a copy on Jet here just now and it built ok (I think):

/lfs4/HFIP/hfv3gfs/glopara/git/TC_tracker/v1.1.15.5

Build log: /lfs4/HFIP/hfv3gfs/glopara/git/TC_tracker/v1.1.15.5/sorc/build.log

Happy to install a newer version when available, thanks!

@DavidHuber-NOAA related to tracker, I updated the syndat fo

[2022-10-19 16:22] JiayiPeng-NOAA commented on #357
Hi Kate,
The version 1.1.15.5 should work for JET if there are no libraries updated
for JET recently.
As I worked with Lin.Gan for the GFSv16.3/ GFSv17 workflow, I will have
some updates for TC_tracker.v.1.1.15.5.
I will create a new version working for Wcoss2/Jet/Hera.
Thanks,
Jiayi

On Wed, Oct 19, 2022 at 11:31 AM Kate Friedman ***@***.***>
wrote:

[2022-10-19 16:44] KateFriedman-NOAA commented on #357
Ok thanks @JiayiPeng-NOAA ! Please include Orion in the next version as well, thanks!

[2022-10-20 03:37] #1003 closed, assigned to nobody

[2022-10-20 12:48] KateFriedman-NOAA commented on #744
From SDM log:

[code]

[2022-10-20 13:54] RussTreadon-NOAA opened #1081 "SLURM Inconsistency between requested npe_task and number of tasks actually used to run executables"
**Expected behavior**
Rocoto jobs should run applications with the `npe_$task` task count specified in `config.resources`

**Current behavior**
Rocoto jobs on Hera (and likely Orion) run applications with the task count equal to `nodes` x `ppn` specified in the experiment xml file

**Machines affected**
Observed on Hera.  Likely occurs on Orion, too

**To Reproduce**
To observe this behavior

1. i

[2022-10-20 20:18] lgannoaa commented on #951
Management has made a decision to stop the retro parallel. Last cycle will be CDATE=2022041400.
Currently the PTMP usage is 94%. The COM for this parallel will be removed from PTMP after Oct. 21 5:00p to free up space.

[2022-10-21 10:42] RussTreadon-NOAA opened #1084 "config.resources specifies 40 threads for enkf.x on Hera"
**Expected behavior**
eupd successfully runs `enkf.x` on Hera with less than 40 nodes.

**Current behavior**
`config.resources` includes `${machine} = "HERA"` blocks which set the number of threads to 40, `nth_eupd=40`  As a result the eupd job runs `enkf.x` with many more nodes than is necessary on Hera

**Machines affected**
Hera

**To Reproduce**
To see this behavior

1. install g-w develop on

[2022-10-21 12:26] lgannoaa commented on #952
Due to NCO prepbufr missing. This parallel has been paused since CDATE=2022102100
This file has been moved to prod space. Will modify ecflow workflow to use this new location and resume parallel.

[2022-10-21 13:11] lgannoaa commented on #951
This parallel reached the CDATE=2022041400. METPlus cron is removed.
Last METPlus stat will be on PDY=20220413.
Last gplot will be on PDY=20220412.
Last FIT2OBS will be on CDATE=2022041300.

[2022-10-21 13:54] KateFriedman-NOAA commented on #1084
@RussTreadon-NOAA I have eupd resource updates coming in via PR #1070. The PR is in final review. This PR is mainly for WCOSS2 resources but touches some of the R&D ones as well. Please see these resources:

https://github.com/KateFriedman-NOAA/global-workflow/blob/feature/dev-wcoss2-resources/parm/config/config.resources#L630:L661

These ^ resources result in the following xml settings on Hera:

[2022-10-21 14:05] RussTreadon-NOAA commented on #1084
@KateFriedman-NOAA , thanks for the update.  I can not comment on recommended resource settings on Hera without running test cases at various resolutions.    As noted above I am currently running eupd for
[code]
on Hera with `<nodes>2:ppn=20:tpp=2</nodes>`.   5 nodes for C96C48L127 is more than is necessary on Hera.

Since PR #1070, in part, addresses concerns of this issue, I am closing this issu

[2022-10-21 14:05] #1084 closed, assigned to nobody

[2022-10-21 14:09] KateFriedman-NOAA commented on #1084
Noted, thanks @RussTreadon-NOAA ! There is definitely more refinement/optimization to happen with resources on all machines so I will keep these values for C96C48L127 in mind. We currently group C192, C96, and C48 together with the same resources but given your information we can break them and reduce the values for C96 and C48 in future PRs.

[2022-10-21 18:11] RussTreadon-NOAA opened #1085 "FIXWGTS not found for C48 by gaussian_sfcanl.sh from job gdasanalcalc"
**Expected behavior**
gdasanalcalc should run to completion for a `CASE=C48` parallel.

**Current behavior**
`gaussian_sfcanl.sh` fails in gdasanalcalc because file `FIXWGTS=${FIXWGTS:-$FIXfv3/$CASE/fv3_SCRIP_${CASE}_GRIDSPEC_lon${LONB_SFC}_lat${LATB_SFC}.gaussian.neareststod.nc}` does not exist.

In the C48 parallel, FIXWGTS expands to `fix/orog/C48/fv3_SCRIP_C48_GRIDSPEC_lon192_lat96.gaussian.ne

[2022-10-21 18:15] RussTreadon-NOAA commented on #1085
This issue may be another instance of what was reported in #1054.   Reference #1054 from this issue for completeness.  Tag @guillaumevernieres since it's his parallel we are trying to fix.

[2022-10-21 18:51] lgannoaa commented on #951
Rename COM in preparation to delete:
/lfs/h2/emc/ptmp/lin.gan/retro1-v16-ecf/para/com/gfs/v16.3 is now
/lfs/h2/emc/ptmp/lin.gan/retro1-v16-ecf/para/com/gfs/v16.3-TOBEDELETED

[2022-10-21 22:56] lgannoaa commented on #951
COM removed. Close this ticket.

[2022-10-21 22:56] #951 closed, assigned to LinGan-NOAA

[2022-10-22 11:29] #1059 closed, assigned to nobody

[2022-10-22 13:00] RussTreadon-NOAA commented on #1059
Two problems encountered with develop at [9118ab3](https://github.com/NOAA-EMC/global-workflow/commit/9118ab33eca68690f99a4be288101b0b1d565bf6).

- the updated `sorc/checkout.sh` is cloned without execute file permission.  The cloned copy has `-rw-r--r--` permissions.   Thus, `./checkout.sh` does not execute.   The user needs to `chmod` the file
- `sorc/build_all.sh` fails with `FATAL: Unable to d

[2022-10-22 16:01] RussTreadon-NOAA opened #1086 "checkout.sh and build_all.sh fail for develop at 9118ab3"
**Expected behavior**
`./checkout.sh` should be an executable script.   `./build_all.sh` should build g-w apps

**Current behavior**
`./checkout.sh` is not executable from develop @ [9118ab3](https://github.com/NOAA-EMC/global-workflow/commit/9118ab33eca68690f99a4be288101b0b1d565bf6).  `./build_all.sh` fails with `FATAL: Unable to determine target machine.`

**Machines affected**
Only tested on He

[2022-10-22 16:02] RussTreadon-NOAA commented on #1059
Bug issue #1086 opened to report checkout and build issues for develop at [9118ab3](https://github.com/NOAA-EMC/global-workflow/commit/9118ab33eca68690f99a4be288101b0b1d565bf6).

[2022-10-22 16:38] AndrewEichmann-NOAA opened #1087 "preferred method of updating non-develop branch to develop"
**Description**

What would be the preferred approach to updating a non-develop branch (such as feature/efsoi) to develop? Would one merge from develop, or rebase directly within the g-w repository?

Thanks

[2022-10-22 19:07] RussTreadon-NOAA commented on #1086
Commit [3467e86](https://github.com/NOAA-EMC/global-workflow/pull/1082/commits/3467e864bb31f5da55d4b550315dd4989887a083) changed the gfs_utils hash from [7bf599f](https://github.com/NOAA-EMC/gfs-utils/commit/7bf599f59225a9d6a9d1bd9afd562835cb0f5876) to [af933d3](https://github.com/NOAA-EMC/gfs-utils/commit/af933d347533bba8a3bdba5dddc33a71ba691815).

Given this, ran the following test:
- change the

[2022-10-23 10:08] WalterKolczynski-NOAA commented on #1087
A lot depends on how much they've diverged and whether they are making overlapping changes. Rebasing can be cleaner (though I would recommend doing it on the command line), but complicated if you have to resolve a bunch of conflicts as you replay the feature branch commits on top of rebased base. Rebasing also requires force-pushes. For a long-lived branch like efsoi, simple merging is probably th

[2022-10-23 19:08] RussTreadon-NOAA commented on #1043
g-w issue #1067 updates the GDASApp hash.   g-w successfully builds the GDASApp (gdas.cd) with the updated GDASApp hash.

[2022-10-23 21:17] RussTreadon-NOAA opened #1089 "gldas fails with USE_CFP=YES on Hera"
**Expected behavior**
gdasgldas should run to completion with `USE_CFP=YES`

**Current behavior**
When gdasgldas runs on Hera with `USE_CFP=YES`, it fails with
[code]

**Machines affected**
Hera

**To Reproduce**

1. install a fresh clone of g-w develop on Hera
2. create EXPDIR
3. populate ROTDIR with files needed to run 00Z gldas.   Need to ensure ROTDIR contains sufficient history of sfluxgrb fi

[2022-10-24 02:50] WalterKolczynski-NOAA commented on #1089
I suspect the command file (also?) needs to have the CPU indices prepended to each line. This is likely an issue on other slurm machines as well.

[2022-10-24 13:21] KateFriedman-NOAA commented on #1089
`USE_CFP=NO` is set in `ORION.env` and may need to have been set in `HERA.env` but I see I specifically added `USE_CFP=YES` in `HERA.env` in the recent PR to "fix" the GLDAS job. I can't get onto supercomputers today to look at my Hera logs from tests for that PR but I can take a look tomorrow and see what's missing (either `USE_CFP=NO` in `HERA.env` or a change to the cfile section of the GLDAS s

[2022-10-24 13:25] #1086 closed, assigned to nobody

[2022-10-24 16:15] RussTreadon-NOAA opened #1090 "link_workfow.sh generates unbound variable error on Hera"
**Expected behavior**
`./link_workf.sh` should execute without error.

**Current behavior**
`./link_workflow.sh` returns the following error message on Hera
[code]

**Machines affected**
Error discovered on Hera.   Based on logic in `detect_machine.sh` the error will probably occur on Cheyenne.

**To Reproduce**
1. `git clone https://github.com/NOAA-EMC/global-workflow.git .`
2. `cd sorc`
3. `./ch

[2022-10-24 17:37] #1090 closed, assigned to nobody

[2022-10-25 17:57] RussTreadon-NOAA opened #1093 "gfs_utils build fails on Orion"
**Expected behavior**
The gfs_utils build should succeed when executing `sorc/build_all.sh` on Orion.

**Current behavior**
The gfs_utils build fails on Orion with the following message:
[code]

The following error message is found in `sorc/logs/build_gfs_utils.log`
[code]

**Machines affected**
Orion

**To Reproduce**

1. git clone https://github.com/NOAA-EMC/global-workflow.git .
2. cd sorc
3. .

[2022-10-25 18:02] KateFriedman-NOAA commented on #1093
I just hit this too and have a remedy. Will fix in gfs-utils. Thanks!

[2022-10-25 18:07] KateFriedman-NOAA commented on #1093
FYI: https://github.com/NOAA-EMC/gfs-utils/issues/14

[2022-10-25 18:18] KateFriedman-NOAA commented on #1093
FYI: https://github.com/NOAA-EMC/gfs-utils/pull/15

[2022-10-25 18:31] KateFriedman-NOAA commented on #1093
New hash of gfs-utils ([56e6880](https://github.com/NOAA-EMC/gfs-utils/commit/56e688085c8f6ab77dc48ac02637e322cc2ab4f7)) resolves the build error on Orion. That hash also updated gfs-utils to use `module reset` instead of `module purge` on most of the machines. @WalterKolczynski-NOAA will have a companion PR to make a similar `module reset` update to global-workflow build scripts and move to this

[2022-10-25 18:36] RussTreadon-NOAA commented on #1093
@KateFriedman-NOAA , I updated my working copy of `gfs_utils.fd` to [56e6880](https://github.com/NOAA-EMC/gfs-utils/commit/56e688085c8f6ab77dc48ac02637e322cc2ab4f7) and reran g-w `build_all.sh` for gfs_utils alone.   The build was successful.
[code]
I did not attempt to execute any gfs_util apps or scripts.

[2022-10-25 18:38] KateFriedman-NOAA commented on #1093
Cool, thanks for confirming @RussTreadon-NOAA !

[2022-10-25 18:46] KateFriedman-NOAA commented on #1089
This should definitely be set to NO. This is an oversight on my part. Will remedy in a PR momentarily.

[2022-10-25 18:52] KateFriedman-NOAA opened #1095 "Review CFP usage in GLDAS scripts"
**Description**

The GLDAS job currently needs `USE_CFP=NO` on the R&Ds (Hera/Orion). Review CFP usage/method in the GLDAS scripts and update the scripts to use CFP again.

[2022-10-25 19:06] #1089 closed, assigned to KateFriedman-NOAA

[2022-10-25 22:35] #1043 closed, assigned to WalterKolczynski-NOAA

[2022-10-25 22:35] #1067 closed, assigned to nobody

[2022-10-26 11:28] DavidHuber-NOAA commented on #357
Currently, so far as I know, there isn't a fully supported Python distribution (i.e. intelpython) on Jet with all of the modules required for the global workflow.  So I'm going to follow @WalterKolczynski-NOAA's solution for hera and build an hpc-stack version of miniconda with a custom environment.

[2022-10-26 13:55] RussTreadon-NOAA commented on #1010
@EdwardSafford-NOAA , from your perspective do we will need this open issue or did #993 take care of this?

[2022-10-26 14:00] #1093 closed, assigned to WalterKolczynski-NOAA

[2022-10-26 14:19] EdwardSafford-NOAA commented on #1010
@RussTreadon-NOAA @WalterKolczynski-NOAA From my perspective it can be closed.  #993 would apply the same fix to the MinMon output directory (adding $cyc), and the same fix should be applied to the OznMon's output in branch gfsda.v16.3.0.

#1065 has made changes to all default output file locations for RadMon, MinMon and OznMon, (adding a $cyc to the end of the output location) in branch develop.

[2022-10-26 14:45] lgannoaa opened #1097 "GFS v16.3 VIIRS realtime parallel for implementation"
**Description**

@emilyhcliu requested assistance in running VIIRS experiment on Cactus for DA group.
This is a operational resolution realtime parallel experiment for VIIRS using ecflow workflow on Cactus.
The warm start file rsync from the NCO 30 days parallel for the starting cycle on CDATE=2022102600.

The configuration for this parallel is:
First full cycle starting CDATE is 2022102600
HOMEgf

[2022-10-26 14:49] WalterKolczynski-NOAA commented on #357
@DavidHuber-NOAA The official stack installation should have miniconda. If not, contact NCEP-LIBS team (or maybe it is the EPIC team now). The reason I had to create the custom stack was related to MET/MET+.

[2022-10-26 15:15] RussTreadon-NOAA commented on #1010
Thanks, @EdwardSafford-NOAA .   @WalterKolczynski-NOAA , we can close this issue.   I'll do so with this comment.

[2022-10-26 15:15] #1010 closed, assigned to RussTreadon-NOAA

[2022-10-26 15:33] DavidHuber-NOAA commented on #357
@WalterKolczynski-NOAA Good to know, thanks.  Miniconda is available under the NCEP-LIBS hpc-stack, but it is pretty vanilla and does not include, for instance, the netCDF4 module, nor are there any additional environments installed.  The EPIC version seems to be broken (unless I'm looking in the wrong place):

[code]
The miniconda3 module file does not exist.

Since the NCEP-LIBS version is the o

[2022-10-26 15:47] WalterKolczynski-NOAA commented on #357
Yeah, NetCDF and others should come in through the ufswm environment, so that really needs to be installed.

[2022-10-27 13:10] DavidHuber-NOAA opened #1098 "gfs_utils directory mismatch in link_workflow.sh"
Your bug may already be reported!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Expected behavior**

Links to gfs-utils directories would be placed in g-w/sorc.

**Current behavior**

These links are created, but broken.

**Machines affected**

All

**To Reproduce**

Check out the global workflow, run checkout.sh, and link_workflow

[2022-10-27 13:11] DavidHuber-NOAA commented on #1098
I have a fix for this that I will PR in a moment.

[2022-10-27 13:22] #1098 closed, assigned to nobody

[2022-10-27 13:52] RussTreadon-NOAA opened #1100 "rerunning link_workflow.sh generates gdas fix error"
**Expected behavior**
Reruns `./link_workflow.sh` should complete without error.

**Current behavior**
Rerunning `./link_workflow.sh` returns an error as shown below
[code]
**Machines affected**
Only tested on Hera but may occur on other machines.

**To Reproduce**

1. clone g-w develop
2. `cd sorc`
3. `./checkout.sh -u`
4. `./build_all.sh`
5. `./link_workflow.sh`
6. `./link_workflow.sh`

The seco

[2022-10-27 15:22] RussTreadon-NOAA commented on #1100
The following change to `./link_workflow.sh` removes the gdas fix error
[code]

Executing `./link_workflow.sh` with the above change yields
[code]

[2022-10-27 15:57] RussTreadon-NOAA commented on #1100
Another error noted in `fix/gdas`.   File `fix/gdas/gdas_minmon_gnorm.txt` is a dead link

[code]

[`link_workflow.sh`](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/link_workflow.sh) includes two whitespace characters at the end of the quoted path/filename linked to `gdas_minmon_gnorm.txt`.

    ${LINK} "${script_dir}/gsi_monitor.fd/src/Minimization_Monitor/nwprod/gdas/fix/gdas_mi

[2022-10-27 17:47] KateFriedman-NOAA commented on #1100
Thanks for these fixes @RussTreadon-NOAA ! I've tested it myself as well and confirm the error and resulting fix works (including the dead link and its fix). I will initiate a PR to get these fixes into `develop`.

[2022-10-27 19:33] #1100 closed, assigned to nobody

[2022-10-28 18:58] RussTreadon-NOAA opened #1103 "Populate g-w fix/gdas with GSI static-B files for UFS DA applications"
**Description**
GMAO added the ability to use the GSI background error covariance file (staticb) in JEDI applications.   GDASApp issue [#166](https://github.com/NOAA-EMC/GDASApp/issues/166) adds the use of the GSI staticb to the GDASApp.

**Requirements**
In order to use GSI staticb in `fv3jedi_var.x` from g-w we need to populate the g-w gdas fix directory with the gsibec fix directory.   Below ar

[2022-10-31 13:18] lgannoaa commented on #1097
Both PTMP and STMP are at 95% on 10/31 morning.
There is a scheduled WCOSS2 Parallel production test on Cactus for 11/1.
This parallel will be paused for a few cycles.

[2022-10-31 13:25] KateFriedman-NOAA commented on #1077
October 28th RFC memo:

several model packages. The CFS, GEFS, GFS, HIRESW, HMON, NAM, and
SREF models rely on the historical/projected global CO2 abundance data in their
forecasts. To be implemented on November 3, 1230Z to 1600Z.

[2022-10-31 14:20] KateFriedman-NOAA commented on #1103
Pulled into the fix set on Hera (new `gsibec/20221031` subfolder):

[code]
Will rsync to the other platforms next.

Will need to add this new subfolder into the workflow layer now (add `gdas_gsibec_ver=20221031` into `fix.ver`). Are you planning to make other workflow-related updates @RussTreadon-NOAA ? Do any scripts need `gdas_gsibec_ver`?

[2022-10-31 14:36] #1021 closed, assigned to XianwuXue-NOAA

[2022-10-31 14:41] RussTreadon-NOAA commented on #1103
Good point, @KateFriedman-NOAA .   You are right.  Now that g-w maintains jobs and scripts, we need to update `scripts/exgdas_global_atmos_analysis_run.sh`.    It is currently hard-wires static-b to bump
[code]
 We added a new variable, `staticb_type`, to the GDASApp to toggle between various static-b sources.   We need to add the same flexibility to g-w.   Let's try the following:

1. add `STATIC

[2022-10-31 14:57] RussTreadon-NOAA commented on #1103
Create g-w branch [`feature/staticb`](https://github.com/NOAA-EMC/global-workflow/tree/feature/staticb) to which the above changes will be committed.

[2022-10-31 15:05] KateFriedman-NOAA commented on #1103
Also need to incorporate the relevant `fix.ver` variables so you get the correct timestamp subfolder in those paths when linking to the bump/crtm/fv3jedi/gsibec.

In your example you appear to have replaced the hardcoded `bump` with `berror` but `berror` isn't a fix/gdas subfolder. You mention `berror`, `gsibec`, and `identity`...where do `berror` and `identity` come from?

An example NLN line whe

[2022-10-31 15:06] lgannoaa commented on #1097
This parallel is paused on CDATE=2022103106 due to Cactus STMP is full. This parallel is resumed at noon.

[2022-10-31 15:12] RussTreadon-NOAA commented on #1103
Thank, @KateFriedman-NOAA , for offering to make the `fix_ver` changes to `feature/staticb`.   I just did so.   I tested the changes in a working copy.  They behaved as I think they should.   A check that I got it right would be appreciated.  I will open a PR for these changes.

[2022-10-31 15:13] KateFriedman-NOAA commented on #1103
Okie dokie, make me a reviewer on the PR and I'll check the updates. Thanks!

[2022-10-31 15:17] RussTreadon-NOAA commented on #1103
Thank you, @KateFriedman-NOAA , for catching my error.   I updated the comment.

[2022-10-31 15:27] RussTreadon-NOAA commented on #1103
Hmm, this is messy.   I need to take a step back and rethink how to cleanly and consistently toggle between various background error configurations for UFS DA in both GDASApp and g-w.   What I have now works well in GDASApp.  It's clumsy in g-w.

[2022-10-31 15:35] KateFriedman-NOAA commented on #744
SCN: https://www.weather.gov/media/notification/pdf2/scn22-104_gfs.v16.3.0.pdf

[2022-10-31 19:53] RussTreadon-NOAA commented on #1103
Test `feature/staticb` in Hera UFS-DA parallel for `STATICB_TYPE` options `identity`, `bump`, and `gsibec`.

GDASApp issue [#166](https://github.com/NOAA-EMC/GDASApp/issues/166) [points out](https://github.com/NOAA-EMC/GDASApp/issues/166#issuecomment-1295328060) that `fv3jedi_var.x` fails when run with `bump` staticb files.   This noted, the atmanalrun run directory was correctly populated with bu

[2022-11-01 01:29] lgannoaa commented on #952
Dogwood dbqs currently suffer system issue errno=111. Realtime parallel is halt on CDATE= 2022103118.
Resumed and caught on realtime

[2022-11-01 13:14] lgannoaa commented on #1097
This parallel is paused on CDATE=2022110100 due to ptmp/stmp full.

[2022-11-01 18:26] CoryMartin-NOAA commented on #1060
I am not convinced this is fixed.
A C96 experiment in rocoto had 3 nodes, 40 processors on Orion. 120 PEs, wich 96 < 120, so it failed. My guess is the config.resources did something like:
126 -> 96 (for resolution) but then 96/40 = 3 (because of 40 PEs/node on Orion)

@WalterKolczynski-NOAA would it be possible to confirm this is working as you intended it to be by an XML generation test only? Ot

[2022-11-01 18:30] WalterKolczynski-NOAA commented on #1060
Yeah, I've seen it too. I have a fix I just need to submit it. In `env/ORION.env`, change `APRUN_NP` in the `post` section to `${launcher} -n ${npe_post}`

[2022-11-01 18:33] CoryMartin-NOAA commented on #1060
@WalterKolczynski-NOAA thanks, just wanted to make sure I wasn't going crazy/had a bad setup.

[2022-11-01 18:45] WalterKolczynski-NOAA commented on #1060
I think the fix _did_ work, but then subsequent updates forced a different solution.

[2022-11-01 19:53] KateFriedman-NOAA commented on #1060
Taking this on.

[2022-11-01 21:03] #1103 closed, assigned to KateFriedman-NOAA

[2022-11-02 16:22] lgannoaa commented on #952
The METPlus gplot will be a bit late because the control stat file for 20221101 missing. This delay is due to the parallel production test.

[2022-11-02 18:35] KateFriedman-NOAA commented on #744
Updated SCN: https://www.weather.gov/media/notification/pdf2/scn22-104_gfs.v16.3.0_aaa.pdf

[2022-11-03 13:06] lgannoaa commented on #1097
The GFS cycle on CDATE=2022110106 failed due to system issue rerun is progress.
This parallel is in halt on CDATE=2022110112 due to NCO mirror issue with obsproc data.
Resumed after file arrival.

[2022-11-03 15:55] DavidHuber-NOAA commented on #812
@WalterKolczynski-NOAA I'm working on porting the global workflow and subcomponents to a google cloud instance (not an RDHPCS instance) using Intel 2021 compilers and hpc-stack 1.2.0.  Would it be beneficial to this issue to document hurdles and workarounds?

[2022-11-03 15:58] WalterKolczynski-NOAA commented on #812
Yes, although AFAIK the big hurdle is GSI.

[2022-11-03 17:19] DavidHuber-NOAA commented on #812
@WalterKolczynski-NOAA Good to know, thanks.

So far, I have only built the ufs from build_ufs.sh, which just required changing intel versions to 2021, hpc-stack version to 1.2.0, and `png` to `libpng` in module_base.  I am moving on to the GSI now.

[2022-11-04 12:15] DavidHuber-NOAA commented on #812
No hurdles to build the GSI.  I won't be able to run RTs on the GCP as they contain restricted data.  I'm guessing the issues were at runtime?  Will update when I get cycling running.

[2022-11-04 12:21] DavidHuber-NOAA commented on #357
I'm still waiting on a few hpc-stack installs on Jet to proceed:

g2 version 3.4.5 noaa-emc/hpc-stack#498
ESMF version 8_0_1 noaa-emc/hpc-stack#499
PIO version 2.5.7 noaa-emc/hpc-stack#500
miniconda3 w/ ufswm environment noaa-emc/hpc-stack#502

[2022-11-04 13:08] lgannoaa commented on #1097
There are combination of system issue caused multiple jobs failed. Node slowness and long I/O time are observed.
Recover is in progress.

[2022-11-04 17:08] lgannoaa commented on #1051
The testing has been moved to Cactus because Orion does not have HPSS access.

[2022-11-05 16:09] lgannoaa commented on #1097
This parallel is now caught on realtime.

[2022-11-07 06:14] XianwuXue-NOAA commented on #1077
@KateFriedman-NOAA Could you also update the /lfs/h2/emc/global/save/emc.global/FIX/fix_nco_gfsv15 for GEFSv12.3.x? I am working on deliver the GEFSv12.3.2 to NCO this week, if the CO2 fix files is ready before the GEFSv12.3.2 implementation , then we don't need request to the co2 file update.

[2022-11-07 14:07] KateFriedman-NOAA commented on #1077
@XianwuXue-NOAA I have added the new CO2 files into the `fix_nco_gfsv15` set on both sides of WCOSS2. Do you want the Hera set updated too?
[code]

[2022-11-07 14:10] XianwuXue-NOAA commented on #1077
@KateFriedman-NOAA Thanks a lot. Tough we don't run GEFS on Hera, however, it is good to update the Hera set for the future use.

[2022-11-07 14:17] KateFriedman-NOAA commented on #1077
@XianwuXue-NOAA The Hera copy of `fix_nco_gfsv15` is now updated with the new CO2 files.

[2022-11-07 14:43] XianwuXue-NOAA commented on #1077
@KateFriedman-NOAA Thank you very much!

[2022-11-07 14:49] #1077 closed, assigned to KateFriedman-NOAA

[2022-11-07 16:44] XianwuXue-NOAA opened #1108 "Quick update the gsd_prep_chem tag"
**Expected behavior**

Change the gsd_prep_chem tag to gefs_v12.3.3 because NCO has created a new tag:gefs.v12.3.2 with updating of new CO2 fix file, therefore, the oncoming GEFS will be tagged as gefs.v12.3.3

**Current behavior**

Change the gsd_prep_chem tag to gefs_v12.3.3 in checkout.sh

**Machines affected**

WCOSS2

**Context**

Change the gsd_prep_chem tag to gefs_v12.3.3 in checkout.sh

*

[2022-11-07 16:54] RussTreadon-NOAA opened #1110 "Update crtm fix in UFS DA atmospheric analysis scripts"
**Description**
UFS DA unified forward operator validation uses CRTM coefficients from `crtm/2.3.0`   The g-w UFS DA variational and ensemble analysis scripts use `crtm/2.3.0_jedi`.   This is not correct.

**Requirements**
Replace references to `crtm/2.3.0_jedi` with `crtm/2.3.0` in `exgdas_global_atmos_analysis_run.sh` and `exgdas_global_atmos_ensanal_run.sh`

**Dependencies**
None.

[2022-11-07 16:55] RussTreadon-NOAA commented on #1110
Work for this issue will be done in g-w branch [`feature/ufsda_crtm`](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda_crtm)

[2022-11-09 18:18] lgannoaa commented on #1051
Decision made for remove the dynamic archive job card generation. Revert to using arch and earc job to submit transfer jobs.

[2022-11-09 21:03] lgannoaa commented on #1097
The gfs fcst is in queue for over a day due to Cactus busy. CDATE=2022110806
If system remain busy, the COM will be touched by noon on 11/10/22
It proceed a bit more over the night of 11/09. Therefor the COM will not be touched at this time.

[2022-11-10 18:57] #1110 closed, assigned to RussTreadon-NOAA

[2022-11-14 16:15] XianwuXue-NOAA opened #1116 "Introduce FHMAX_ENKF_GFS to extending ensemble forecast capabilities"
**Description**

To expand the FHMAX_ENKF when EUPD_CYC=BOTH for gfsefmn jobs to support ensemble workflow develop

**Requirements**

Expand FHMAX_ENKF to 120h or more, when EUPD_CYC=BOTH for gfsefmn jobs

**Acceptance Criteria (Definition of Done)**

**Dependencies**

NONE

[2022-11-14 16:41] XianwuXue-NOAA opened #1117 "Introduce NMEM_EFCS for gfsefmn jobs"
**Description**

Introduce NMEM_EFCS for gfsefmn jobs for ensemble workflow

**Requirements**

Introduce NMEM_EFCS to run 30 members gfsefmn jobs

[2022-11-15 14:14] #1060 closed, assigned to WalterKolczynski-NOAA, KateFriedman-NOAA

[2022-11-15 14:15] KateFriedman-NOAA commented on #1060
@CoryMartin-NOAA This should now be fixed. Let me know if you encounter further issues with the low-res post jobs.

[2022-11-15 14:50] CoryMartin-NOAA commented on #1060
Thank you @KateFriedman-NOAA  will do!!

[2022-11-15 15:28] KateFriedman-NOAA commented on #744
Opened https://github.com/NOAA-EMC/hpc-stack/issues/506 to get `bufr/11.7.0` installed in `hpc-stack-gfsv16` stacks on Hera and Orion.

[2022-11-15 20:06] KateFriedman-NOAA opened #1119 "Update MODULEPATH on Orion"
**Description**

The `MODULEPATH` currently used in `develop` is owned by a user who is no longer at EMC. @Hang-Lei-NOAA made a copy on Orion and is adding new modules to this install now as needed. The `develop` branch needs to now use this new `MODULEPATH` owned by @Hang-Lei-NOAA .

Old `MODULEPATH` : `/apps/contrib/NCEP/libs/hpc-stack/modulefiles/stack`
New `MODULEPATH`: `/apps/contrib/NCEP/hpc

[2022-11-16 01:21] WenMeng-NOAA commented on #1119
@KateFriedman-NOAA The UPP develop branch was already updated with the new MODULEPATH. See:
https://github.com/NOAA-EMC/UPP/blob/develop/modulefiles/orion.lua
Please let me know if any updates are needed at UPP side.

[2022-11-16 15:20] KateFriedman-NOAA commented on #1119
@WenMeng-NOAA Excellent! Thanks for letting me know! :)

Will do, thanks!

[2022-11-16 16:38] KateFriedman-NOAA commented on #635
The `machine-setup.sh` script was moved to the gfs-utils repo and then subsequent refactoring in gfs-utils removed it. Closing this issue as completed.

[2022-11-16 16:38] #635 closed, assigned to WalterKolczynski-NOAA

[2022-11-16 19:50] TravisElless-NOAA opened #1121 "C768 GDAS forecast OOM kill on Hera"
**Expected behavior**
 C768 simulations should successfully run on Hera when running with default resources.

**Current behavior**
Initial GDAS forecast step fails; processes killed by out-of-memory handler

**Machines affected**
Hera

[2022-11-16 19:58] KateFriedman-NOAA commented on #1121
@TravisElless-NOAA Need more details. Can you share your xml and a log for the job that's dying from an OOM kill? Thanks!

[2022-11-16 20:04] TravisElless-NOAA commented on #1121
Sorry about that!

xml file: /scratch1/NCEPDEV/da/Travis.J.Elless/exp/full_res_30_mem/full_res_30_mem.xml
log file: /scratch2/NCEPDEV/stmp3/Travis.J.Elless/comrot/full_res_30_mem/logs/2022010312/gdasfcst.log

[2022-11-16 20:29] KateFriedman-NOAA commented on #1121
@TravisElless-NOAA Question...do you need to run C768? I ask for a few reasons: 1) it's expensive (compute and storage, particularly on Hera where memory is less per node) and 2) updates are coming soon to revamp things for esmf threading.

[2022-11-16 20:37] TravisElless-NOAA commented on #1121
@KateFriedman-NOAA what I really need is one full cycle with a C384 ensemble. I tried a C384/C384 run and that failed in the eobs step for a different reason. Would trying this on Orion be a better option?

[2022-11-16 20:44] KateFriedman-NOAA commented on #1121
@TravisElless-NOAA Ah ok I see. Yeah, Orion may work with the same resources since each node there has twice as much memory. Based on calculations and experience with C768 earlier this year on Hera, you'll likely need 50% more nodes on Hera for a C768 forecast job. Queues are also MUCH more open on Orion so even a 66 node job shouldn't wait long compared to how long it has been taking to get throu

[2022-11-17 16:31] XianwuXue-NOAA commented on #1116
Merged to develop branch.

[2022-11-17 16:31] #1116 closed, assigned to XianwuXue-NOAA

[2022-11-17 17:23] RussTreadon-NOAA opened #1123 "Modify nhr_obsbin logic in exglobal_atmos_analysis.sh to address NCO bugzilla"
**Expected behavior**
gsi.x error messages for missing high resolution background files should include the name of the missing file.

**Current behavior**
NCO GFS v16.3.3 testing found that while gsi.x flagged a missing file it did not identify which file was missing.   NCO bugzilla [#1196](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1196) was updated accordingly with a request that gsi

[2022-11-17 20:22] WalterKolczynski-NOAA commented on #1042
@NeilBarton-NOAA Do I need to compile specially or do anything beyond adding `globalResourceControl: true` to enable the esmf threading? Because I'm getting a `detected lacking Pthreads support for: <component>` error.

[2022-11-17 20:36] #1119 closed, assigned to KateFriedman-NOAA

[2022-11-17 20:48] WalterKolczynski-NOAA commented on #1042
Here's a working directory (Orion) `/work2/noaa/stmp/wkolczyn/RUNDIRS/threading_cpl/2013040100/gfs/fcst.71380`

[2022-11-17 21:02] #1123 closed, assigned to RussTreadon-NOAA

[2022-11-17 21:26] NeilBarton-NOAA commented on #1042
@junwang-noaa could probably answer this better than me. Could you comment?  However,

in my compile log, I do have -pthread -threads, see

hera:/scratch2/NCEPDEV/stmp3/Neil.Barton/RUNs/RTs/compile_002/out

also, in nems.config, the double :: at the end of

MED_model:                      cmeps
MED_petlist_bounds:             0 383
MED_omp_num_threads:            4
::

might be causing an issue.

[2022-11-22 15:47] aerorahul opened #1128 "Stage GSI fix files in global/glopara space and disable recursive clone of GSI"
**Description**
The global DA group would like to stage GSI fix files in the global/glopara space similar to the model fix files.
Part of this is motivated from the unknown and recurring issues with cloning GSI-fix from gerrit.

**Requirements**
1. Stage GSI-fix in the global/glopara space on RDHPCS and WCOSS2.  Do so by cloning `gerrit:GSI-fix` at `023f81d` (head of `rev2` branch).
2. Disable rec

[2022-11-22 15:58] aerorahul opened #1129 "C48 fails on WCOSS2"
**Expected behavior**
`C48` should run on all platforms.

**Current behavior**
`C48` is currently the ensemble resolution test case and fails on WCOSS2.  (All) members successfully complete integration on Hera and Orion.

**Machines affected**
WCOSS2

**To Reproduce**
Try and run a cycled experiment at C96/C48 on WCOSS2.

**Detailed Description**
It is found that the number of threads is set to 2

[2022-11-22 16:35] aerorahul opened #1130 "gdaspostanl fails on the first half cycle in cycled mode"
**Expected behavior**
All post tasks should complete successfully

**Current behavior**
In cycled mode, the first half cycle is attempting to run the `gdaspostanl`.  This task requires the existence of `gdas.tHHz.atmanl.nc` and is not present.
As a result the task fails and the workflow cycle is not complete.

**Machines affected**
All machines, though hard failure is seen on WCOSS2 and no error i

[2022-11-22 18:05] lgannoaa commented on #1081
May I know where is the expdir for failed run?

[2022-11-22 19:37] WalterKolczynski-NOAA commented on #1081
This should've been fixed by #1112

[2022-11-22 19:57] lgannoaa commented on #1058
May I know the status of this issue? Do we still need help?

[2022-11-22 19:59] lgannoaa commented on #1051
PR #1115 is ready to be merged.

[2022-11-22 20:23] jack-woollen commented on #1058
@lgannoaa what kind of help do you need?

[2022-11-22 20:51] lgannoaa commented on #1005
@CoryMartin-NOAA
May I know where is the expdir that you tested cycled experiment with older (pre GFSv16) ICs?
config.anal used FDATE to assign USE_RADSTAT on following conditions:
(1) Is this cycle is the first full cycle of a parallel run?
(2) Is the EXP_WARM_START is set to false?
(3) I the current cycle is gfs or gdas?
exglobal_atmos_analysis.sh used variable USE_RADSTAT (dynamically assigned

[2022-11-22 20:55] CoryMartin-NOAA commented on #1005
@lgannoaa I think this experiment has been long since lost. However it should be easily reproducible if the bug has not been fixed. When generating config.base from the workflow python script, is `FDATE` properly filled in? Judging by @KateFriedman-NOAA 's comment on 9/6, it seems like FDATE just needs to be removed.

[2022-11-22 21:00] WalterKolczynski-NOAA commented on #1129
Is there an issue open with UFS to fix the underlying problem?

[2022-11-22 21:01] #1129 closed, assigned to aerorahul

[2022-11-22 21:14] #1051 closed, assigned to LinGan-NOAA

[2022-11-22 21:16] lgannoaa commented on #957
Communicated to GFS 16.3 implementation POC @emilyhcliu

[2022-11-22 21:16] #957 closed, assigned to nobody

[2022-11-22 21:28] JessicaMeixner-NOAA commented on #957
DId this get fixed in 16.3? Or what is the reason this is no longer an issue/clossed?

[2022-11-22 21:29] #956 closed, assigned to nobody

[2022-11-22 21:35] lgannoaa commented on #957
NCO maintain the job and script for production run history. It can not fix by only EMC.
If you want, I can keep it open.

[2022-11-22 21:41] lgannoaa commented on #1005
Chat with Cory offline and I to do a test in wcoss with c768/c384 to see if the error can be recreated.

[2022-11-28 13:47] KateFriedman-NOAA commented on #744
November 18th 2022 RFC memo:
[code]

[2022-11-28 13:56] DavidHuber-NOAA commented on #1128
@aerorahul I will pull the fix files into the S4 glopara space.  However, I do not  have write access in Jet's glopara space.

[2022-11-28 14:06] KateFriedman-NOAA commented on #1128
I maintain the Jet (glopara) copy (in addition to the WCOSS2, Hera, and Orion ones). I can update the Jet copy.

[2022-11-28 14:10] KateFriedman-NOAA commented on #1058
FYI, right before I took leave for Thanksgiving I began testing a fixed version of fit2obs newm.1.5 on WCOSS2 (mainly needed conversion to bash due to recent script changes in global-workflow `develop`). I plan to send these changes back to the fit2obs repo shortly. Need to test on R&Ds as well.

This work doesn't address how we currently launch the fit2obs job via `vrfy.sh` though. Need to assign

[2022-11-28 14:15] jack-woollen commented on #1058
Hi @KateFriedman-NOAA . Just a heads up, the latest tag is newm.1.6.

[2022-11-28 14:19] lgannoaa commented on #952
The implementation is delay until 11/30. Dogwood white space job is going to be stopped after implementation is successful.

[2022-11-28 14:31] KateFriedman-NOAA commented on #1058
Good to know, thanks @jack-woollen ! I'll restart my testing with a copy of that tag.

I was thinking I will make a branch of fit2obs `develop` and send my changes back via a PR. Let me know if you'd like the changes differently.

[2022-11-28 14:32] jack-woollen commented on #1058
Yes, please do.

On Mon, Nov 28, 2022 at 9:31 AM Kate Friedman ***@***.***>
wrote:

[2022-11-28 15:21] KateFriedman-NOAA commented on #1128
@RussTreadon-NOAA I'm working on the staging task now...is the `VLabRepoQuickTips.txt` necessary to be included? Also wondering about the `example_unformatted_fileinfo.txt` file. Let me know, thanks!

[2022-11-28 15:39] XianwuXue-NOAA opened #1135 "Introduce NMEM_SHIFT for GEFS"
If this is a bug, please consider using the [Bug Report](./bug_report.md) template.
Your issue may already have been created!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Description**

Introduce NMEM_SHIFT to make the GEFS input data as follows:

- 00z: 1 → 30
- 06z: 21 → 50
- 12z: 41 → 70
- 18z: 61 → 80, 0, …, 10

**Requirements

[2022-11-28 15:43] RussTreadon-NOAA commented on #1128
@KateFriedman-NOAA , for the time being I recommend preserving the integrity of GSI fix.

[2022-11-28 16:01] KateFriedman-NOAA commented on #1128
@RussTreadon-NOAA Okie dokie. I have copied the contents of your `/scratch1/NCEPDEV/da/Russ.Treadon/git/gsi/develop/fix` folder (the requested hash/branch) into a new `gsi/20221128` folder in the Hera fix set. Please see the following and let me know if it looks good: `/scratch1/NCEPDEV/global/glopara/fix/gsi/20221128`
FYI, I adjusted file/folder permissions to match the rest of the fix subfolders

[2022-11-28 16:57] RussTreadon-NOAA commented on #1128
@KateFriedman-NOAA , thank you for adding the GSI fix files to the glopara account on Hera.  A local copy of the GSI has been updated to run regression tests using glopara fix.   I'll update this issue upon successful completion of this test.

[2022-11-28 19:01] KateFriedman-NOAA commented on #397
@DavidHuber-NOAA FYI, I have addressed shellcheck concerns in the `/env` files for all platforms in `develop`. Here is the compare: https://github.com/NOAA-EMC/global-workflow/compare/develop...KateFriedman-NOAA:global-workflow:feature/shellcheck
Note there are also changes to the `JET.env` and `S4.env`. I'm currently testing these updates on Orion (so far so good) and building my branch on Hera a

[2022-11-28 19:39] DavidHuber-NOAA commented on #397
@KateFriedman-NOAA Thanks for making the S4 and Jet changes!  They look good to me.

[2022-11-28 19:56] KateFriedman-NOAA commented on #1128
@RussTreadon-NOAA indicated regression tests are going well so far on Hera (https://github.com/NOAA-EMC/global-workflow/pull/1132#issuecomment-1329661015). Rsyncing new Hera `gsi` subfolder to WCOSS2s, Orion, and Jet now. @DavidHuber-NOAA feel free to update the S4 set now.

[2022-11-28 20:09] DavidHuber-NOAA commented on #1128
@KateFriedman-NOAA All finished on S4.

[2022-11-28 20:44] KateFriedman-NOAA commented on #1128
Hera, Orion, Jet, S4 fix copies now updated with new `gsi` subfolder. WCOSS2 (Cactus/Dogwood) will be updated within the next few hours.

[2022-11-29 04:11] #1117 closed, assigned to XianwuXue-NOAA

[2022-11-29 14:10] KateFriedman-NOAA commented on #1128
New `gsi` subfolder is now in place on both WCOSS2s.

[2022-11-29 16:17] XianwuXue-NOAA commented on #1135
Since the GEFS v13 workflow should be in GEFS repository, so this issue will be closed and a similar issue will be in GEFS repository.

[2022-11-29 16:17] #1135 closed, assigned to XianwuXue-NOAA

[2022-11-30 14:54] lgannoaa commented on #952
This parallel is done as the GFS implementation taking place. The last full cycle completed is CDATE=2022113000.

[2022-11-30 14:54] #952 closed, assigned to LinGan-NOAA

[2022-11-30 19:10] #1128 closed, assigned to aerorahul, KateFriedman-NOAA