[2021-09-19 17:48] malloryprow commented on #438
EMC_verif-global has moved ahead a couple tags

- verif_global_v2.4.0 now supports running on JET (both in the global workflow and standalone, I sent this tag to @DavidHuber-NOAA)
- verif_global_v2.5.0 includes a small update to the mediator script to the global workflow, where the default for DATAROOT was updated to match the new DATAROOT in jobs/rocoto/metp.sh, and an enhancement in the plotting

[2021-09-20 16:01] CatherineThomas-NOAA commented on #420
Validation of the parallel production test on 9/16 at 18z was successful.  The DO-3 data was processed properly and results were as expected.

Implementation of v16.1.3 was pushed back to Monday 9/27 at 12z at NCO's request.

[2021-09-20 16:14] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA provided a list of files that he will be responsible for in this task:

The files/codes for AWIPS, bulletins and GEMPAK are in the global-workflow.  They are following:

## AWIPS

### global-workflow/jobs

* JGFS_ATMOS_AWIPS_20KM_1P0DEG
* JGFS_ATMOS_AWIPS_G2

### global-workflow/scripts

* exgfs_atmos_awips_20km_1p0deg.sh
* exgfs_atmos_grib_awips.sh

### global-workflow/parm/wmo

*

[2021-09-20 16:33] JessicaMeixner-NOAA commented on #399
@KateFriedman-NOAA @BoiVuong-NOAA who is taking care of the wave AWIPS routines/files?

[2021-09-20 16:41] BoiVuong-NOAA commented on #399
Do you mean GFS wave bulltins ?   I have not worked in GFS Wave AWIPS.

[2021-09-20 16:49] JessicaMeixner-NOAA commented on #399
Yes, the GFS wave bulletins.

[2021-09-20 16:53] BoiVuong-NOAA commented on #399
I have tested the GFS wave bulletins on WCOSS2.  It work fine with new module util_shared v1.4.0 on WCOSS2.
You may need to change the module load in GFS wave.    NCO installed  util_shared/1.4.0  in PROD

[2021-09-20 17:46] malloryprow commented on #438
verif_global_v2.5.1 is the latest tag now

I had to do a hot fix as the host name for METviewer AWS changed.

[2021-09-20 18:13] KateFriedman-NOAA commented on #438
@malloryprow Thanks for the updated tags! Do you anticipate any other new tags in the next two weeks? If not, I'll proceed with updating the tag to `verif_global_v2.5.1` in develop later this week. Thanks!

[2021-09-20 18:16] malloryprow commented on #438
I am not (fingers crossed for no more hot fixes!)

[2021-09-20 18:19] KateFriedman-NOAA commented on #438
@malloryprow Thanks! I'll always take new tags for hotfixes whenever so never hesitate to send them my way when needed! :)

Has the `verif_global_v2.5.1` been tested in parallel by chance? If not, I'll need to run at least ~5 cycles somewhere to confirm no issues.

[2021-09-20 18:22] malloryprow commented on #438
@KateFriedman-NOAA It has not run in parallel :(

[2021-09-20 18:24] KateFriedman-NOAA commented on #438
Ok no worries! I'll run a 5 cycle low res test on WCOSS-Dell to confirm no issues at runtime. I'll share output with you to check when available, thanks!

[2021-09-21 18:22] KateFriedman-NOAA commented on #399
Completed PR #444.

[2021-09-21 18:46] KateFriedman-NOAA commented on #433
@WalterKolczynski-NOAA Last item for this issue is to update the repo name in the GEFS branch. Can close once complete.

[2021-09-21 19:51] KateFriedman-NOAA commented on #399
@HelinWei-NOAA I see references to specific machines in some of the GLDAS scripts but no corresponding WCOSS2 additions. I'm looking at the new `gldas_gfsv16_release.v1.16.0` tag that builds on WCOSS2. Example in ush/gldas_get_data.sh:

[code]

Please check and add "WCOSS2" as needed to those if-blocks. We shouldn't make significant changes but I'm wondering if those blocks can be eliminated or re

[2021-09-22 12:40] DavidHuber-NOAA commented on #357
Issues related to this port:

Port GLDAS: NOAA-EMC/GLDAS#25
Update the GSI and enable regression tests: NOAA-EMC/GSI#215
Port the UPP (completed): NOAA-EMC/UPP#380 & NOAA-EMC/UPP#381

[2021-09-22 15:34] malloryprow commented on #438
@KateFriedman-NOAA All right, I'm gonna have another hotfix on the way. A user running on Hera ran into something. I truly feel that I manifested this, my goodness!

[2021-09-22 15:38] KateFriedman-NOAA commented on #438
@malloryprow Got it, no worries! Best to fix things as they come up! I haven't started a cycled test yet so I'll wait for the new tag with the hotfix. Thanks!

[2021-09-22 16:06] malloryprow commented on #438
verif_global_v2.5.2 had been created! :)

[2021-09-22 17:23] KateFriedman-NOAA commented on #438
Ok, setting up test with new tag on Mars. Will share output when available, thanks!

[2021-09-22 20:13] KateFriedman-NOAA commented on #439
The emergency change in ops this week became v16.1.3. Therefore, the prior v16.1.3 is going into ops as v16.1.4 next week and this change becomes v16.1.5. Will update the release branch name.

[2021-09-22 20:15] KateFriedman-NOAA commented on #420
Emergency change in ops this week became the new v16.1.3. This change will now implement next week as GFSv16.1.4. Updating branch and tags accordingly.

[2021-09-22 20:24] KateFriedman-NOAA commented on #420
Checked out `release/gfsv16.1.3` branch, created `release/gfsv16.1.4` from it and pushed it up to repo:

https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.1.4

Created new "hand-off" tag from `release/gfsv16.1.4`:

https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.4

Will now remove prior `EMC-v16.1.3` tag and recreate it from a new `release/gfsv16.1.3` branch that

[2021-09-22 20:40] KateFriedman-NOAA opened #446 "GFSv16.1.3 - Emergency change in operations to turn off IASI from metop-a early"
An emergency change was made to the GFS in operations today to turn off the IASI from metop-a earlier than planned. This became GFSv16.1.3 in production. GSI issue https://github.com/NOAA-EMC/GSI/issues/216

From SDM log:

[code]

From @dtkleist email on September 22nd:

[code]

Changes to turn off IASI in the GSI global_satinfo.txt file occurred in operations during the 2021092206 gdas cycle. The

[2021-09-22 21:00] KateFriedman-NOAA commented on #420
@CatherineThomas-NOAA I just sync merged the recent update in the `operations` branch to change the `EMC_post` repo name to `UPP` into the newly named release/gfs.v16.1.4 branch, I'd forgotten to do so. NCO doesn't need the repo name update in ops, the old name still works. They'll get the repo name change in the next hand-off for v16.1.5. We can now update the release notes and the GSI tag in che

[2021-09-22 21:47] KateFriedman-NOAA commented on #420
Recut `EMC-v16.1.4` tag after updating `release/gfs.v16.1.4` branch.

[2021-09-22 21:52] CatherineThomas-NOAA commented on #446
The companion GSI issue on this fix is [#216](https://github.com/NOAA-EMC/GSI/issues/216).

[2021-09-23 13:52] KateFriedman-NOAA commented on #427
Now awaiting `feature/coupled_crow` to be updated to (or past) https://github.com/ufs-community/ufs-weather-model/commit/29fa4534b7da362c29be71efe2d1904c77f8470e (hash when IAU issue was resolved). Will retest cycled mode with IAU on at that point. This issue will be on hold until then.

[2021-09-23 18:29] KateFriedman-NOAA commented on #446
Test of new `release/gfs.v16.1.3` package on WCOSS-Dell reproduces last night's 00z cycle. Will submit PR into `operations` branch shortly.

[2021-09-24 15:07] lgannoaa commented on #439
@KateFriedman-NOAA, I am in preparation for the v16iasicris2 parallel to switch to release/gfs.v16.1.5.
@HaixiaLiu-NOAA told us in an email on 9/24 that release/gfs.v16.1.5 should checkout release/gfsda.v16.1.5.
A check on this tag (release/gfs.v16.1.5), as of today (9/24 10:00a) it checkout git checkout gfsda.v16.1.1a.
Last commit was back in September 9th.

[Lin.Gan@m72z2 release_gfsv16.1.5]$ gi

[2021-09-24 15:23] KateFriedman-NOAA commented on #439
@lgannoaa I have updated the GSI tag in the `release/gfs.v16.1.5` branch to the new `gfsda.v16.1.5` tag. Will add the release notes to the branch next.

[2021-09-24 16:22] lgannoaa commented on #439
@KateFriedman-NOAA, Please make the following fix to your origin/release/gfs.v16.1.5 tag:
- Fix the checkout.sh gldas checkout:
    git checkout gldas_gfsv16_release.v1.13.0
- Fix the checkout.sh EMC_verif-global checkout:
    git checkout verif_global_v2.3.0

[2021-09-24 16:28] KateFriedman-NOAA commented on #439
@lgannoaa Did you get approval to update the GLDAS package too? I don't remember where that was left off. The v1.13.0 package isn't mentioned in the release notes.

[2021-09-24 16:35] lgannoaa commented on #439
@RussTreadon-NOAA,
v16iasicris2 is using gldas_gfsv16_release.v1.13.0. Should origin/release/gfs.v16.1.5 tag using this version for gldas package?
Thank you for your clarification.

[2021-09-24 16:57] lgannoaa commented on #439
@RussTreadon-NOAA, @KateFriedman-NOAA
Let me take my comment out of this issue. The v16iasicris2 is NOT running with the gfs.v16.1.5 implementation tag. The different is locally modified GLDAS package and EMC verification package.

[2021-09-24 16:58] RussTreadon-NOAA commented on #439
The reason for using `gldas_gfsv16_release.v1.13.0`  in the v16iasicris2 has been explained in a separate email thread.   The v16iasicris2 is using `gldas_gfsv16_release.v1.13.0` because this tag contains logic in `ush/gldas_forcing.sh`  that ensures the parallel uses the correct precipitation forcing file if it falls behind real time.   The logic is an `$RUN_ENVIR = "emc"` block so this section o

[2021-09-24 17:01] lgannoaa commented on #439
Thank you for your clarification, @RussTreadon-NOAA.

[2021-09-24 17:03] KateFriedman-NOAA commented on #439
@lgannoaa We'll be updating the GLDAS and verif-global packages during the transition to WCOSS2 so we won't have to make local modifications like we've done for much longer thankfully.

[2021-09-27 12:59] KateFriedman-NOAA commented on #420
From the September 24th RFC memo:

[code]

[2021-09-27 13:20] KateFriedman-NOAA commented on #438
@malloryprow Please see the following C192C96L127 METplus output on Mars:

[code]

Thanks!

[2021-09-27 14:49] KateFriedman-NOAA commented on #420
SPA Simon Hsiao is implementing in 12z gfs today.

[2021-09-28 13:45] KateFriedman-NOAA commented on #420
From this morning's SDM log:
[code]

[2021-09-28 14:02] malloryprow commented on #438
@KateFriedman-NOAA Output looks good!

[2021-09-28 14:04] KateFriedman-NOAA commented on #415
Work complete, thanks @JianKuang-UMD !

[2021-09-28 14:04] #415 closed, assigned to jkuang-exploro

[2021-09-28 15:07] KateFriedman-NOAA commented on #446
From September 24th RFC memo:

[code]

[2021-09-28 15:09] KateFriedman-NOAA commented on #446
New tag and release published: https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.3

[2021-09-28 15:10] #446 closed, assigned to KateFriedman-NOAA, CatherineThomas-NOAA

[2021-09-28 15:21] KateFriedman-NOAA commented on #438
@malloryprow Awesome, thanks for checking and confirming! I am going to prep the PR into develop for this now. Since we'll be jumping over a few verif-global tags (v2.2.1 -> v2.5.2) could you please provide me a short bullet-point or paragraph summary of the changes between those versions? I'll include it in the commit details and the announcement email. Thanks!

[2021-09-28 15:52] malloryprow commented on #438
Sure thing!

- Added capability to produce a scorecard (no need to use METviewer AWS to produce scorecards)
- Added capability to produce fit-to-obs plots
- Added support for Jet
- Updated DA ensemble plots graphics to support when models ensemble mean and spread output is on different
- Hot fix for new METviewer AWS host name
- Hot fix for reorganizing precipitation verification input files

[2021-09-28 17:39] KateFriedman-NOAA commented on #438
@malloryprow Thanks for the bullet-list of updates relative to these tags! For the scorecard and fit-to-obs plots, do users need to do anything different/new or are they produced by default now when the new tag is used? Should I point users to the EMC_verif-global wiki for more details on those new features?

[2021-09-28 18:20] malloryprow commented on #438
@KateFriedman-NOAA You can point them to the wiki. There were some new configuration settings added for them.

[2021-09-28 19:55] KateFriedman-NOAA commented on #438
Will do, thanks @malloryprow! Just need your review on PR #450 and I'll commit the tag update into develop.

[2021-09-28 20:02] KateFriedman-NOAA commented on #438
@malloryprow Question...is there text missing from this update bullet-point?

[code]

It reads like it should end with "...on different grids" or something. Thanks!

[2021-09-29 11:35] malloryprow commented on #438
@KateFriedman-NOAA It should! "Updated DA ensemble plots graphics to support when models ensemble mean and spread output is on different grids"

[2021-09-29 12:37] KateFriedman-NOAA commented on #438
@malloryprow Great, thanks for confirming! Just need your approval on PR #450 and I'll get this update in and announced. Thanks!

[2021-09-29 12:45] KateFriedman-NOAA commented on #439
Release notes provided by @HaixiaLiu-NOAA :

https://docs.google.com/document/d/19WSVMUh4hWS922isARpqgssZHpXKds-X8UaoJki9Fsc/edit

[2021-09-29 13:36] #438 closed, assigned to KateFriedman-NOAA

[2021-09-29 15:08] HaixiaLiu-NOAA commented on #439
@KateFriedman-NOAA Thank you for changing the title.

[2021-09-30 14:31] KateFriedman-NOAA commented on #439
@HaixiaLiu-NOAA I just sync merged the operations branch update for v16.1.4 into the release/gfs.v16.1.5 branch. The main updates are to parm/config/config.anal and the addition of the release notes for v16.1.4. See the changes @ https://github.com/NOAA-EMC/global-workflow/commit/8e52726b9cfd9887bb2e4df2aeed0c4663c676a0

[2021-09-30 14:31] #420 closed, assigned to KateFriedman-NOAA

[2021-09-30 14:40] HaixiaLiu-NOAA commented on #439
@KateFriedman-NOAA I looked at the change [8e52726](https://github.com/NOAA-EMC/global-workflow/commit/8e52726b9cfd9887bb2e4df2aeed0c4663c676a0) and noticed that all changes are to the gfsv16_historical fix files which will not affect the operation. The changes will affect retrospective runs.

[2021-09-30 14:44] KateFriedman-NOAA commented on #439
@HaixiaLiu-NOAA Yep, let me know if there are any similar config.anal updates needed for users running retrospective runs with the v16.1.5 updates. Thanks!

[2021-10-01 17:00] aerorahul commented on #399
@HelinWei-NOAA
Could you please respond to this  question from @KateFriedman-NOAA?

[2021-10-01 17:25] HelinWei-NOAA commented on #399
@aerorahul I am working on that now.

[2021-10-01 18:23] HelinWei-NOAA commented on #399
@KateFriedman-NOAA Now building the executable for both gldas2gdas and gdas2gldas failed when loading the modules. Can you please check  what I need to modify in modulefiles/gldas2gdas.wcoss2? Thanks.

[2021-10-01 18:31] HelinWei-NOAA commented on #399
It looks like it is because of esmf module. Even I changed to "module load esmf/8.0.1" to "module load esmf/8_1_0_beta_snapshot_27", this module still couldn't be found.

[2021-10-01 18:40] aerorahul commented on #399
@HelinWei-NOAA
There have been updates to NetCDF, HDF5 and ESMF modules on WCOSS2 per emails from Carolyn Pasti since the branch/tag was made.
I suspect an update may be needed in these modulefiles in GLDAS to reflect those changes.

[2021-10-01 18:47] HelinWei-NOAA commented on #399
@aerorahul Thanks. I updated those and it was working two weeks ago. I didn't change anything since that. So I need to be able to access  esmf module

module load esmf/8_1_0_beta_snapshot_27

Lmod has detected the following error:  The following module(s) are unknown: "esmf/8_1_0_beta_snapshot_27"

Please check the spelling or version number. Also try "module spider ..."
It is also possible your c

[2021-10-01 18:50] aerorahul commented on #399
@HelinWei-NOAA
Can we please move this discussion to an issue in the GLDAS repository, since this is a problem in GLDAS compilation.

[2021-10-01 18:57] HelinWei-NOAA commented on #399
@aerorahul Sure. It turns out that they have some updates on those modules today.

[2021-10-01 20:19] HelinWei-NOAA commented on #399
@KateFriedman-NOAA [A new tag](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.17.0) was created for GLDAS to address the current issues. Jiarui Dong is going to run some standalone GLDAS cases on wcoss2 to compare with wcoss.

[2021-10-05 13:24] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA It seems some commonly used files are not updated or created in feature/ops-wcoss2 , such as env/wcoss2.env, and some module versions are not updated. such as env/gfs.ver, etc. The new WCOSS2 requirements may demand us to have a unified approach. What do you think?

[2021-10-05 13:31] BoiVuong-NOAA commented on #398
We should have a run.ver and build.ver file instead of gfs.ver file as in document "Transition to WCOSS2" recommendation.

[2021-10-05 13:34] GuangPingLou-NOAA commented on #398
Yeah, they are in versions/run.ver and versions/build.ver. But env/wcoss2.env is fine and just need to be created.

[2021-10-05 13:36] BoiVuong-NOAA commented on #398
I do not see it in the branch  feature/ops-wcoss2.

[2021-10-05 13:38] GuangPingLou-NOAA commented on #398
here it is:
https://github.com/NOAA-EMC/global-workflow/tree/feature/ops-wcoss2

[2021-10-05 13:46] GuangPingLou-NOAA commented on #398
@BoiVuong-NOAA I meant that they should be created in the versions in the ops-wocss2.

[2021-10-05 13:52] KateFriedman-NOAA commented on #398
@BoiVuong-NOAA @GuangPingLou-NOAA I'm working on those pieces in my test clone on Cactus right now but keep getting sidetracked by ops issues. I hope to finish and commit those files to the branch soon, they are on their way! :)

[2021-10-05 13:53] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA Thanks, Kate!

[2021-10-05 13:56] BoiVuong-NOAA commented on #398
Thanks, Kate.

[2021-10-05 15:27] KateFriedman-NOAA commented on #399
@HelinWei-NOAA Great, thanks for addressing the requested updates in the scripts and correcting the build based on recent module updates. I will update the tag on the global-workflow side.

[2021-10-05 15:48] HelinWei-NOAA commented on #399
@KateFriedman-NOAA Please use [this new tag](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.18), thanks.

[2021-10-05 15:51] KateFriedman-NOAA commented on #399
@HelinWei-NOAA Roger that, thanks!

[2021-10-05 16:07] KateFriedman-NOAA opened #454 "Add flag to launcher command to prepend task number to lines of stdout/err"
Based on outcomes from failures with the GFSv16 in operations (due to machine issues) folks have requested that we add the `-l` flag with the mpiexec launcher command on WCOSS2. This flag should also work with mpirun on WCOSS1 and with srun (as `-l` or `--label`) on the SLURM R&D machines.

Per SLURM documentation:
[code]

Add flag to $launcher commands in each env file and test everywhere (with a

[2021-10-08 17:01] KateFriedman-NOAA commented on #439
Cut hand-off tag [EMC-v16.1.5](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.5).

[2021-10-12 14:27] JessicaMeixner-NOAA commented on #283
@WalterKolczynski-NOAA @KateFriedman-NOAA I think this issue can be closed, but wanted to confirm with you first.  This is specific to feature/coupled-crow, and since we are moving forward to using the develop branch it's no longer relevant. Although it might be a good to note somewhere if CROW is being considered for the future workflow.

[2021-10-12 14:29] JessicaMeixner-NOAA commented on #191
The title of this issue is for feature/coupled-crow, but it's still relevant after merging feature/coupled-crow->develop.

[2021-10-12 14:36] KateFriedman-NOAA commented on #433
@XianwuXue-NOAA updated the repo name in his fork branch which will come back to the auth repo later. See change here:

https://github.com/XianwuXue-NOAA/global-workflow/blob/feature/gefs_v12_github_port2acorn/sorc/checkout.sh

All done, closing issue.

[2021-10-12 14:36] #433 closed, assigned to WalterKolczynski-NOAA, KateFriedman-NOAA

[2021-10-12 19:28] benwgreen opened #461 "ocnpost jobs time out on Orion"
When running feature/coupled-crow on Orion, the gfs.post.ocnpost tasks all time out (the time limit is set to 30 minutes). This started happening on Wednesday 6 October 2021, consistent with a change in Orion -- see the email below. Just by increasing the time limit, jobs finish anywhere from 45 to 75 minutes now; I have the time limit set to 90 minutes to be safe.

-------------------
_On Wednesd

[2021-10-13 12:53] KateFriedman-NOAA commented on #283
I'm good to close this if @WalterKolczynski-NOAA is. Thanks!

[2021-10-13 13:02] DavidHuber-NOAA commented on #357
During testing on kjet (and replicated on Hera), I found that the C48 efcs jobs required more memory to run in some cases.  At current resource allocations, some members will pass and some will fail with segmentation faults.  For kjet, which has the same RAM/CPU ratio as Hera of 2.4GB, I changed `nth_fv3` and `nth_fv3_gfs` to 2, which resolved the issue.  Should the default be changed for all syst

[2021-10-13 13:20] KateFriedman-NOAA commented on #357
@DavidHuber-NOAA Yes, please change the default on all systems to use `nth_fv3[_gfs]=2` for C48 fcst. We don't test that resolution often so the change is likely needed everywhere. Thanks!

[2021-10-14 16:58] DavidHuber-NOAA commented on #357
The C768 gfsfcst ran into some issues on Jet when performing parallel netCDF atm writes (sfc writes were performed serially for all tests).  The parallel writes would sometimes stall at irregular intervals, resulting in timed-out forecasts.  Rerunning the forecast for the same cycle generated all of the expected netCDF files, so it seems to be a transient, non-repeatable issue.  I observed this pr

[2021-10-14 18:43] KateFriedman-NOAA opened #463 "Adjust prep job resources on Orion due to recent system updates"
@AndrewEichmann-NOAA reported that his prep job on Orion was failing with an oom-kill. See message below. This is likely related to recent updates on Orion related to memory. Andy reran the job with increased nodes (8 instead of 2 so 4x) and it ran without error:

in config.resources set `export npe_$step=16`:
[code]
in xml you get 8 nodes now instead of 2:
[code]

Should adjust prep job resources

[2021-10-14 19:57] WalterKolczynski-NOAA commented on #463
If this is due to the recent changes, throwing more nodes at it is a waste of resources. Need to increase the memory.

[2021-10-14 20:01] WalterKolczynski-NOAA commented on #461
This should have the same solution as #463.

[2021-10-14 20:33] benwgreen commented on #461
Agree. You'll probably have to look at all of the tasks just to make sure -- my guess is more than the two already identified will need to be tweaked.

[2021-10-15 13:17] AndrewEichmann-NOAA commented on #463
Walter,

Is there a way to do that in the model or experiment configuration? I'm
encountering the same problem after a few successful cycles.

Andy

On Thu, Oct 14, 2021 at 3:57 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

--
Andrew Eichmann
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Court, Office #2875
College Park, MD 20740 USA
***@***.***
cell (for the duration): 401-477-2702
offi

[2021-10-15 15:19] DavidHuber-NOAA commented on #357
The last three subcomponents have now been ported to Jet at the following commits:

GSI: [2f28fbf9cfc895a649b2517a25733e0e97a9d3d2](https://github.com/NOAA-EMC/GSI/commit/2f28fbf9cfc895a649b2517a25733e0e97a9d3d2)
GLDAS: [d1e437e4959639ddcdb069e6006f9fd77341d76d](https://github.com/NOAA-EMC/GLDAS/commit/d1e437e4959639ddcdb069e6006f9fd77341d76d)
UPP: [823343f73ff90ef5a40519fed034fffc4d5f1eb6](https:

[2021-10-15 19:38] WalterKolczynski-NOAA commented on #463
After you generate the workflow, add a <memory> tag specification (see the [rocoto documentation](http://christopherwharrop.github.io/rocoto/#:~:text=10%3C/walltime%3E%0A%0A%20%20%3C/task%20%3E-,The%20%3Cmemory%3E%20tag,-The%20%3Cmemory%3E%20tag)) to the task specification for any task that is having problems. That _should_ solve the problem, but it hasn't been tested yet.

[2021-10-18 14:37] KateFriedman-NOAA commented on #439
Recut EMC-v16.1.5 tag @ 5d1fe62 after adding mpirun prepend rank flag and updating release notes for the 2022 CO2 fix file bundling.

[2021-10-18 14:47] WalterKolczynski-NOAA commented on #436
After changing some additional WW3 grid lists, the extra grids are eliminated.

[2021-10-18 14:47] #436 closed, assigned to jkuang-exploro

[2021-10-18 14:55] DavidHuber-NOAA commented on #357
The current authoritative develop branch as of September 9 has been ported to Jet and now resides on a fork ([port_2_jet](https://github.com/DavidHuber-NOAA/global-workflow/tree/port_2_jet)).  The following subcomponents have been tested on Jet at the respective hashes/tags:

- UFS (9350745855aebe0790813e0ed2ba5ad680e3f75c)
- GSI (9c1fc15d42573b398037319bbf8d5143ad126fb6) *
- GLDAS (gldas_gfsv16_r

[2021-10-18 15:00] #424 closed, assigned to WalterKolczynski-NOAA

[2021-10-18 15:00] #369 closed, assigned to JessicaMeixner-NOAA, WalterKolczynski-NOAA

[2021-10-18 15:02] WalterKolczynski-NOAA commented on #360
This is moot with the move away from the coupled-crow branch.

[2021-10-18 15:02] #360 closed, assigned to WalterKolczynski-NOAA

[2021-10-18 15:04] WalterKolczynski-NOAA commented on #431
This was addressed as a side effect of PR #458.

[2021-10-18 15:04] #431 closed, assigned to nobody

[2021-10-18 15:04] #425 closed, assigned to nobody

[2021-10-18 15:06] #351 closed, assigned to nobody

[2021-10-18 15:13] #283 closed, assigned to nobody

[2021-10-18 15:27] lgannoaa opened #465 "Metplus and fit2obs verification job improvement in global workflow"
Metplus and fit2obs verification runs on a 24 hour delay. The global workflow will only verify results to EDATE - $backup. For example, If EDATE is set to 2021101500. The 2021101406 through 2021101500 will be missing.
Current workaround is manually submitted metplus and fit2obs jobs for this period after the parallel is done.
A mechanism should be added to the workflow or a procedure outside the w

[2021-10-18 15:43] WalterKolczynski-NOAA commented on #3
As soon as we remove the manage externals stuff, we can close this issue.

[2021-10-18 15:45] WalterKolczynski-NOAA commented on #352
With the move away from coupled-crow, this issue is moot. You should be able to export a domains_stack_size from config.fcst script.

[2021-10-18 15:45] #352 closed, assigned to WalterKolczynski-NOAA

[2021-10-18 15:47] #386 closed, assigned to nobody

[2021-10-18 15:57] malloryprow commented on #465
For the METplus runs, if the job runs on 2021101500 the verification will run for all of 20211014. What will be missing is the verification for 20211015.

The stats can still be generated outside the workflow by running EMC_verif-global stand alone.

[2021-10-18 16:52] lgannoaa commented on #465
Thank you for your feedback @malloryprow
Is that a way you preferred to generate the last verification for 20211015? It can be a solution within the global workflow or an external process.

[2021-10-18 16:53] AndrewEichmann-NOAA commented on #463
Hi Walter,

I'm guessing you mean adding an entry along the lines of MEMORY_PREP_GDAS
to the xml file and specifying a larger-than-default memory allocation? The
current default is  4608 Mb - do you know what it was before?

Thanks,
Andy

On Fri, Oct 15, 2021 at 3:39 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

--
Andrew Eichmann
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Court, Offi

[2021-10-18 16:58] lgannoaa opened #466 "Fix resource assignment issue found in analysis job running global_cycle"
The GDAS and GFS analysis job running in rocoto workflow with full resolution parallels sometime create zombie job make MARS/Venus Phase-3 Compute Nodes Unresponsive.
Looks like the resource assignment is inconsistent when the analysis job running executable global_cycle.
global_cycle requires 4 threads but was mismatched to 28 in runtime. This caused the WCOSS_d nodes become unrespondable

Tested

[2021-10-18 17:04] WalterKolczynski-NOAA commented on #463
Yes, although the important part is where it is actually added to the task description with the `<memory>` tags.

The 4608 MB is the default per-core, but the setting in the XML will be for the total memory. Formerly, Orion was setting the limit as the total memory for the node (192 GB/node). You can go back to 2 nodes and ask for 384 GB, which if I understand things correctly should be the same a

[2021-10-18 18:07] AndrewEichmann-NOAA commented on #463
As you indicated I added  <memory>&MEMORY_PREP_GDAS;</memory> to the "task"
section.

I tried specifying 384G and 192G, which both got rejected, and then 96G,
which completed in a couple minutes. Thank you!

On Mon, Oct 18, 2021 at 1:05 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

--
Andrew Eichmann
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Court, Office #2875
College Park, MD 20740

[2021-10-18 23:43] jkuang-exploro commented on #437
After reviewing the metp+ job scripts, I feel the most feasible solution is to remove the dependency of gfsarch from previous cycle. In fact this issue only exist in the first full cycle since gfsarch doesn't exist for the first half cycle.

[2021-10-19 13:58] KateFriedman-NOAA commented on #439
Recut EMC-v16.1.5 tag @ 0a5f1e9 after updating ufs-weather-model tag and updating the release notes to mention the new tag.

[2021-10-19 14:53] jkuang-exploro commented on #33
I think this job needs some high-level architecting to start with. For example: What's the relationship between this proposed regression test and the tests within ufs repo. Do we really need to run the experiment or just provide the namelists(the primary purpose of the script).

I feel that we don't really need to submit the job ticket to perform a script-level regression test because once the nam

[2021-10-19 14:56] aerorahul commented on #313
@XuLi-NOAA @RussTreadon-NOAA
Will adding
[code]
on line 551 in https://github.com/NOAA-EMC/obsproc/blob/develop/scripts/exglobal_makeprepbufr.sh.ecf
resolve this issue (If I understand this particular problem)?

[2021-10-19 15:02] RussTreadon-NOAA commented on #313
I'll let @XuLi-NOAA and @ShelleyMelchior-NOAA respond.   Good to see [ObsProc](https://github.com/NOAA-EMC/obsproc) in github.

[2021-10-19 21:09] ShelleyMelchior-NOAA commented on #313
So in the context of obsproc **operations**, MAKE_NSSTBUFR's default setting is YES.  So again, in the context of real time operations, Rahul's suggested test will never pass b/c the test is performed prior to the creation of the nsstbufr file.  But for re-runs or when using com data that already exists for a given cycle, then yes, forcing MAKE_NSSTBUFR=NO upon the existence of the nsstbufr file s

[2021-10-19 21:18] AndrewEichmann-NOAA opened #468 "UPP not loading if w3emc is loaded first"
Hello,

As of today I have had tasks running on Orion from fresh builds of develop end like so:

0.135 + cd /work/noaa/stmp/aeichman/RUNDIRS/ghee/2021060900/gdas/fcst.10805
0.136 + cycle=t00z
0.136 + export cycle
0.136 + setpdy.sh
/work/noaa/da/aeichman/fv3gfs/develop-master/global-workflow/jobs/JGLOBAL_FORECAST[57]: setpdy.sh: not found [No such file or directory]
0.138 + . ./PDY
/work/noaa/da/ae

[2021-10-19 21:33] KateFriedman-NOAA commented on #468
@AndrewEichmann-NOAA Thanks for reporting this issue! So the setpdy.sh script comes from the prod_util module that module_base.orion loads:
[code]

Since there was an error while loading the `upp/10.0.6` module none of the other modules in `module_base.orion` got loaded...hence the errors that killed the job.

I checked on what the `upp/10.0.6` module needs now (maybe new prereqs?) and see it need

[2021-10-20 02:42] WalterKolczynski-NOAA commented on #468
Same issue with upp 10.0.8. Despite the error message, the issue is with the w3emc module version. When I change the w3emc version to the default (2.9.1), upp loads correctly. Possibly important, 2.9.1 is build in hpc-stack under serial intel instead of impi for 2.7.3.

I don't know why this is suddenly a problem, since it worked on Monday. I didn't see any change to the system configuration that

[2021-10-20 13:46] XuLi-NOAA commented on #313
I am not sure to answer Rahul's question yet.

But I know what the problem is:

In the cycling run (rerun, not operational), the nsstbufr data file is generated (always, because MAKE_NSSTBUFR is YES, as Shelley said it is the default setting), however, one line in exglobal_makeprepbufr.sh.ecf used is DTYPS_nsst='sfcshp tesac bathy trkob'  instead of  DTYPS_nsst='sfcshp dbuoyb mbuoyb tesac bathy tr

[2021-10-20 14:29] AndrewEichmann-NOAA commented on #468
The infection is spreading! Running a task on Hera had the same symptoms in
an attempted gdaseupd task:

+ /apps/lmod/8.5.2/libexec/lmod ksh load module_base.hera

Lmod has detected the following error: Cannot load module "upp/10.0.6"
without

these module(s) loaded:

   bacio w3nco

While processing the following module(s):

    Module fullname   Module Filename

    ---------------   -----------

[2021-10-20 15:23] aerorahul commented on #313
@XuLi-NOAA
I can't understand what you are saying and I think this is possibly conflating 2 separate issues.
Can you please reformat the text in your [comment above](https://github.com/NOAA-EMC/global-workflow/issues/313#issuecomment-947683850) to make it clear?

I am reluctant to put a blanket statement such as below in `config.base` because that is hard-setting to not create the NSST bufr file.

[2021-10-20 15:40] ShelleyMelchior-NOAA commented on #313
I suppose some logic could be added in your workflow that tests on $PDY$cyc.  If the date is before 2020102200 then use `DTYPS_nsst='sfcshp dbuoyb mbuoyb tesac bathy trkob'`.  If the date is equal to after 2020102200 then use `DTYPS_nsst='sfcshp tesac bathy trkob'`

[2021-10-20 15:45] aerorahul commented on #313
Thanks @ShelleyMelchior-NOAA
Is that in addition to or instead of `MAKE_NSSTBUFR=NO` if `nsstbufr` file exists?

To paraphrase:
- should `MAKE_NSSTBUFR=NO` if the `nsstbufr` file is present in the `$DMPDIR` for a `$PDY$cyc` in our workflow?
- if `MAKE_NSSTBUFR=NO`, does setting `DTYPS_nsst` matter?

Or should it be something like:
[code]
In this case `MAKE_NSSTBUFR` will be left to the default whi

[2021-10-20 15:47] ShelleyMelchior-NOAA commented on #313
In addition ... I think they are 2 independent problems.
The DTYPS_nsst settings only matter when you are going to generate the nsstbufr file.

[2021-10-20 15:49] XuLi-NOAA commented on #313
Line 558 in exglobal_makeprepbufr.sh.ecf is

DTYPS_nsst='sfcshp tesac bathy trkob' now

And it used to be

DTYPS_nsst='sfcshp dbuoyb mbuoyb tesac bathy trkob'

This is the primary reason that the generated nsstbufr file with the new version of exglobal_makeprepbufr.sh.ecf doesn't contain mbuoyb and dbuoyb.

Since nsstbufr file already exists (after the operational cycling of GFS), in rerun, nsstbu

[2021-10-20 15:53] malloryprow commented on #465
@lgannoaa I would say preferred solution for now would be an external process. We can look into addressing it though in the global workflow in the future.

[2021-10-20 16:00] aerorahul commented on #313
@XuLi-NOAA @ShelleyMelchior-NOAA @RussTreadon-NOAA
Thanks.  I think I understand now and may have a potential solution.

In [config.prep](https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/config/config.prep), we can introduce a variable `USE_OPS_NSSTBUFR` with valid options `YES|NO`.  Default would be to use operational NSST bufr file.

In [prep.sh](https://github.com/NOAA-EMC/global-w

[2021-10-20 16:11] XuLi-NOAA commented on #313
@aerorahul : Yes, it makes sense to me.

And can you tell why the three bufr files are deleted in the cycling run (rerun)? Because prep is executed?
See what I showed above (from my cycling run log file):

[[ YES == NO ]]
[ YES '=' YES ]
[ YES '=' YES ]
rm /scratch2/NCEPDEV/stmp3/Xu.Li/ROTDIRS/v16nst/gdas.20200927/00/atmos/gdas.t00z.prepbufr
rm /scratch2/NCEPDEV/stmp3/Xu.Li/ROTDIRS/v16nst/gdas.202

[2021-10-20 16:34] aerorahul commented on #313
You have `ROTDIR_DUMP=YES` set and a value of `NO` currently is unsupported according to a comment in `config.base`
This is the section that is deleting these files.

[code]

Also, the purpose of that block is to generate these files, so this removes any stale files that may have been present.

[2021-10-20 17:50] XuLi-NOAA commented on #313
@aerorahul

Got it and thanks!

So, it is OK if these  removes are not done after the nsstbufr data file is linked or generated, then, what you suggested is enough to resolve the issue.

[2021-10-20 17:53] aerorahul commented on #313
@XuLi-NOAA
Can I create a branch from `develop` implementing the pseudo-code from https://github.com/NOAA-EMC/global-workflow/issues/313#issuecomment-947810350?  Would you be willing to test that branch and confirm it works as you would expect it to?

[2021-10-20 17:55] XuLi-NOAA commented on #313
@aerorahul : Yes, I can do that. Let me know when it is ready.

[2021-10-20 18:50] aerorahul commented on #313
@XuLi-NOAA
Please test with branch [bugfix/issue_313](https://github.com/NOAA-EMC/global-workflow/tree/bugfix/issue_313)
I am not sure what version of `exglobal_makeprepbufr.sh.ecf` is using, but from looking at [this](https://github.com/NOAA-EMC/obsproc/blob/develop/scripts/exglobal_makeprepbufr.sh.ecf) on [line 558](https://github.com/NOAA-EMC/obsproc/blob/622bcff7d1df388be2cd8e65370bb43a88f25bf

[2021-10-20 18:52] lgannoaa commented on #465
@RussTreadon-NOAA, we do not have a group consent to address this issue within the global workflow at this time. Looks like it will remain in the EXPDIR/scripts location on a running parallel for now.
I will close this issue by noon tomorrow.

[2021-10-21 17:30] lgannoaa commented on #465
Close issue

[2021-10-21 17:30] #465 closed, assigned to nobody

[2021-10-21 22:36] AndrewEichmann-NOAA commented on #468
I can confirm that by replacing w3emc/2.7.3 with w3emc/2.9.1 in global-workflow/modulefiles/*hera that tasks work on hera, and the same for building when applied to global-workflow/sorc/fv3gfs.fd/modulefiles/ufs_common

[2021-10-22 13:45] XuLi-NOAA commented on #313
Set up a cycling run with the version for DA's evaluation for GFSv16.x (it is available and also needed to test the finalized GSI update for GFSv16.x) , but incorporating Rahual's changes in prep.sh and config.prep. Based on the check of the 1st prep and anal cycle, it works as expected (mbuoyb and dbuoyb are included as expected). See attached figure, which shows the drifting buoys distribution,

[2021-10-22 14:18] AndrewEichmann-NOAA commented on #468
I ran on Orion with analogous changes in global-workflow/modulefiles.

So was there some update to the system module files applied simultaneously to Hera and Orion?

[2021-10-22 14:20] WalterKolczynski-NOAA commented on #468
I still suspect some change in hpc-stack but @Hang-Lei-NOAA hasn't confirmed yet.

[2021-10-22 14:43] Hang-Lei-NOAA commented on #468
So, What is your problem exactly?
I saw previous emails. Is this issue on Hera only, or not on hera?

On Fri, Oct 22, 2021 at 10:20 AM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2021-10-22 14:43] Hang-Lei-NOAA commented on #468
Is it means that w3emc/2.7.3 is fine?
The problem only on w3emc/2.9.1?

On Fri, Oct 22, 2021 at 10:42 AM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-10-22 14:44] WalterKolczynski-NOAA commented on #468
Other way around. If w3emc/2.7.3 is loaded, upp will fail to load. Happens on both Orion and Hera and started this week.

[2021-10-22 14:46] Hang-Lei-NOAA commented on #468
Thanks, I will investigate it.
We do added the w3emc/2.9.1 this week.
But no changes in w3emc/2.7.3

On Fri, Oct 22, 2021 at 10:45 AM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2021-10-22 15:50] Hang-Lei-NOAA commented on #468
Hi, Walter ad Andrew

Please try it again.
I modified some of the latest additions.
It should be working fine now.

Let me know your test.

Thanks,
Hang

On Fri, Oct 22, 2021 at 10:46 AM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-10-22 15:51] Hang-Lei-NOAA commented on #468
Sorry, missing this:
please try Hera first.

On Fri, Oct 22, 2021 at 11:50 AM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-10-22 16:04] WalterKolczynski-NOAA commented on #468
It's no longer blocking, but it does switch out w3emc/2.7.3 for 2.9.0

[2021-10-22 16:13] Hang-Lei-NOAA commented on #468
Yes, under the lmod hierarhcy.
 The default always pointed to the latest one.
Pre req modules first finds from default.
You can reload 2.7.3 again.
We did not change anything on the previous installations.

On Fri, Oct 22, 2021 at 12:04 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2021-10-24 04:27] WalterKolczynski-NOAA opened #471 "Update shebang for python3 scripts"
We updated the python scripts to python3, but did not update the shebang at the top to ensure python3 is used. This causes an issue for users whose python defaults to python2. We should update the shebang to `/usr/bin/env python3`.

[2021-10-25 15:48] malloryprow opened #472 "New EMC_verif-global tag: verif_global_v2.8.0"
Update to new EMC_verif-global tag: verif_global_v2.6.10

Changes:

- Update TC verification to more closely follow NHC's practices

- Hotfix to add JET to tc_stat launcher in scripts/extropcyc.sh

- Fix num. processors in cfp commands

- Fix webpage template pop up information window

-  Fix tc_stat valid_beg and valid_end date and times

-  Fix global workflow forecast hour adjustment

- Run Car

[2021-10-26 02:12] jkuang-exploro commented on #389
#473 is created to address this issue.

[2021-10-26 14:23] aerorahul commented on #368
This was part of the 1st sprint and is now part of `feature/coupled_sprint`.
Closing.

[2021-10-26 14:23] #368 closed, assigned to aerorahul, KateFriedman-NOAA

[2021-10-27 15:52] #389 closed, assigned to DanIredell-NOAA, jkuang-exploro

[2021-10-28 16:24] KateFriedman-NOAA commented on #439
From Oct 22nd 2021 RFC memo:
[code]

From SDM log Oct 26th:
[code]

[2021-10-28 16:53] KateFriedman-NOAA opened #476 "Update checkout path for UFS_UTILS component post-move"
The UFS_UTILS repository has moved from under the [NOAA-EMC organization](https://github.com/NOAA-EMC) to under the [ufs-community organization](https://github.com/ufs-community). New home: https://github.com/ufs-community/UFS_UTILS

Will update the clone path in the checkout script to reflect the new home for the UFS_UTILS repository.

Thankfully GitHub automatically handles the location change w

[2021-11-02 05:38] WalterKolczynski-NOAA commented on #468
Closing this issue, though we should update the modules so there are no unexpected swaps.

[2021-11-02 05:38] #468 closed, assigned to nobody

[2021-11-02 13:42] lgannoaa commented on #466
Running a low resolution C192C96 parallel naf19296 on orion. Jobs completed without issue.
HOMEgfs=/work/noaa/global/lgan/git/nth_anal_fix
COM=/work/noaa/stmp/lgan/comrot/naf19296
expdir=/work/noaa/global/lgan/expdir/naf19296
SDATE=2020090118
EDATE=2020090218

[2021-11-02 15:06] AndrewEichmann-NOAA opened #478 "new config files for tasks in parallel GDAS workflow"
Tag as request for advice about new config files.

The EFSOI as implemented (primarily within GSI, with some changes to global-workflow) uses a separate workflow of tasks that largely mirror the ensemble portions of the GDAS cycling. They all have their own rocoto scripts and job scripts, the latter in the GSI repository. Where possible (all except the eupd and the end efsoi task) they call the st

[2021-11-03 14:41] KateFriedman-NOAA opened #479 "Module order and dependency check"
Review modules being loaded on each platform (e.g. via module_base.*) to check they are loading in the proper order and dependencies are being met correctly. Check for module swaps and resolve as needed to maintain the correct module loads.

Module loads should also follow this general order/grouping:

1. compilers
2. mpi
3. standard 3rd party e..g jasper, etc.
4. hdf5
5. netcdf
6. nceplibs

[2021-11-04 03:05] WalterKolczynski-NOAA opened #481 "Add job to stage coupled prototype ICs"
Need to copy the job from coupled-crow that stages the initial conditions for the prototype to develop.

[2021-11-04 03:06] WalterKolczynski-NOAA opened #482 "Add coupled jobs to workflow generation"
Missing jobs for coupled model (coupled ICs and ocean post) need to be added to the setup workflow scripts.

[2021-11-04 03:14] WalterKolczynski-NOAA opened #483 "Add ocean post"
The ocean post scripts were brought over from coupled-crow, but they haven't been run yet.

[2021-11-04 03:16] WalterKolczynski-NOAA opened #484 "Better labeling of pooled post tasks in rocoto"
Right now the task names for the pooled post jobs are just indexes, so you can't tell by looking what forecast hours are covered by each task. It would be better to have more informative labels that tell which forecast hours are included for each task.

[2021-11-04 03:27] WalterKolczynski-NOAA opened #485 "Link ocean/ice output from forecast directory instead of copying"
Right now, ocean and ice output files are written directly to the forecast working directory, then copied to COM when the forecast is complete. Other components create symlinks for the expected files before the forecast is run so the output can be processed immediately before the forecast is complete.

[2021-11-04 04:16] WalterKolczynski-NOAA opened #486 "Add ability to turn off boundary point jobs for wave post"
The current workflow always runs the boundary point jobs for wave post, but not all wave configurations (like that of the coupled prototype) need them.

[2021-11-04 04:25] WalterKolczynski-NOAA opened #487 "Use waveGRD to determine workflow dependencies for wave post jobs"
The data dependencies for wave post are currently hard-wired to the three wave grids used for GFS v16 (gnh_10m, aoc_9km, gsh_15m). However, if a different WW3 grid configuration is used, the dependencies will be incorrect.

[2021-11-04 13:07] aerorahul commented on #398
@MichaelLueken-NOAA @ShelleyMelchior-NOAA @YaliMao-NOAA @MichaelLueken-NOAA @JiayiPeng-NOAA @jack-woollen @HuiyaChuang-NOAA @GuangPingLou-NOAA @BoiVuong-NOAA

The [table](https://github.com/NOAA-EMC/global-workflow/issues/398#issue-964968084) requires input from you.  Please provide an issue to link to in your respective repositories that is performing the work on WCOSS2 migration.  Please provide

[2021-11-04 13:33] GuangPingLou-NOAA commented on #398
@aerorahul @KateFriedman-NOAA @HuiyaChuang-NOAA Porting of bufr sounding package to wcoss2 is going smoothly. I've identified all modules and their versions and code has compiled. versions/build.ver, versions/run.ver were created. Test runs using both a driver job card and rocoto workflow have been tested and on going. Everything is on schedule.

[2021-11-04 13:35] KateFriedman-NOAA commented on #398
@GuangPingLou-NOAA Thanks for the update! I am going to commit the following build.ver and run.ver files to my fork branch, please check if they match what you are using:

/lfs/h2/emc/global/noscrub/Kate.Friedman/git/feature-ops-wcoss2/versions/build.ver
/lfs/h2/emc/global/noscrub/Kate.Friedman/git/feature-ops-wcoss2/versions/run.ver

[2021-11-04 13:36] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA I'll check on that.

[2021-11-04 13:47] MichaelLueken commented on #398
@aerorahul @KateFriedman-NOAA NOAA-EMC/GSI#246 was opened for porting GFSv16.1.5 to WCOSS2.  Ed Safford is still working on porting the monitoring packages to WCOSS2 at this time (please see NOAA-EMC/GSI#225 and NOAA-EMC/GSI#228).  Once this is complete, the feature/gfsd.v16.1.5 branch will be tagged.  The global GSI and EnKF successfully compiles and runs on WCOSS2.

[2021-11-04 14:10] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA I checked build.ver and run.ver, they are not exact match, but there is no conflict. Please commit. Thanks.

[2021-11-04 15:41] BoiVuong-NOAA commented on #398
Hi Kate and Rahul,
I could not update the table.  I have tested GFS AWIPS, bulletins and GFS gempak (not wave) and the branch was feature/ops-wcoss2. I submitted the PR#460

[2021-11-04 15:47] KateFriedman-NOAA commented on #398
@BoiVuong-NOAA I added your notes to the table, thanks!

[2021-11-04 15:49] BoiVuong-NOAA commented on #398
Thanks, Kate.

[2021-11-04 19:54] KateFriedman-NOAA commented on #398
@HelinWei-NOAA Provided a new GLDAS tag (gldas_gfsv16_release.v1.19.0) that includes the module/library override hooks.

[2021-11-04 20:15] KateFriedman-NOAA commented on #439
Test against operations was successful and reproduced. Complete PR #489 and cut new tag/release [NCO-v16.1.5](https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.5). Thanks all!

[2021-11-04 20:15] #439 closed, assigned to KateFriedman-NOAA

[2021-11-07 06:22] #461 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #481 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #482 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #483 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #484 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #485 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #486 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:22] #487 closed, assigned to WalterKolczynski-NOAA

[2021-11-07 06:23] #367 closed, assigned to aerorahul, JessicaMeixner-NOAA, WalterKolczynski-NOAA, KateFriedman-NOAA

[2021-11-07 14:55] arunchawla-NOAA commented on #138
@DavidHuber-NOAA, @KateFriedman-NOAA, @WalterKolczynski-NOAA, @lgannoaa @aerorahul

Is this task complete? Is it waiting for some other task to be completed ? Moving forward how will S4 capability keep up to date with changes that come to the global workflow ?

[2021-11-08 13:22] DavidHuber-NOAA commented on #138
@arunchawla-NOAA The work is nearly complete.  All of the subcomponents have been ported to S4 and I am waiting for those hashes to be incorporated into the global-workflow.  See this note for details on the hashes.  Below are the repositories and their respective hashes/tags that I am waiting on:

UFS: [f04a30ce4388eb7f003524d87745cbae0b42fd50](https://github.com/ufs-community/ufs-weather-model/c

[2021-11-08 15:44] lgannoaa commented on #443
Hi @zhanglikate ,
Would you please show me your HOMEgfs and run log? I want to help you to find a solution.

Thanks,
Lin

[2021-11-08 15:51] lgannoaa commented on #454
Do you have an example that show how preferred solution/outcome? I can take a look.

[2021-11-08 15:54] KateFriedman-NOAA commented on #454
See the change made to the operations branch for GFSv16.1.5:

[code]

https://github.com/NOAA-EMC/global-workflow/blob/operations/env/WCOSS_DELL_P3.env#L17

[2021-11-08 16:12] lgannoaa commented on #454
May I do the following to help on this task?
- Checkout global-workflow develop on Hera.
- Modify launcher with similar solution.
- Testing on cycled low resolution C192C96L127 on Dell and Hera for 2 and half cycle.
- PR solution back to global-workflow develop.
Thanks

[2021-11-08 16:14] KateFriedman-NOAA commented on #454
Yes, please do that test on Hera. Please also run at least a few jobs on Orion with the same settings to confirm it also works there as intended. Thanks!

[2021-11-08 16:17] lgannoaa commented on #454
Are you saying that I do not need to test it on dell wcoss? Just want to be sure.

[2021-11-08 16:21] KateFriedman-NOAA commented on #454
A quick test on WCOSS would also be preferred. It was tested on the Dells for the operations branch but not in the develop branch so please also run a quick test on WCOSS. Thanks!

[2021-11-08 16:34] lgannoaa commented on #235
Hi @KateFriedman-NOAA and @malloryprow,
Is this issue still need help? I can take a look and work on it.

[2021-11-08 16:56] KateFriedman-NOAA commented on #235
@lgannoaa Yes, this issue is still desired to get completed. Please review the comments in the issue above and let us know what you would plan to do to resolve it before starting anything. This will require, at least, modifying the setup scripts to add new jobs for whatever gets pulled out of the main vrfy job and adding scripts/configs for the new jobs. Please write up a short summary of your pla

[2021-11-09 10:51] jkuang-exploro commented on #437
@malloryprow @WalterKolczynski-NOAA Let's move our conversation here since I'm about to close that PR and re-initiate it from a new branch.

[2021-11-09 10:51] jkuang-exploro commented on #437
@malloryprow I agree with making metp dependency to the gfsarch job of the current cycle, if that's the intention.

[2021-11-09 12:41] malloryprow commented on #437
@JianKuang-UMD Yes, I think that would be good.

[2021-11-09 15:27] jkuang-exploro commented on #437
@malloryprow I was told that running jobs after archive is not a viable plan. So instead we need to identify all specific data files that metp needs from ARCDIR. And making them available for metp either through a step in verification job or a new job. Would you please email me those data files?

[2021-11-09 15:42] #191 closed, assigned to WalterKolczynski-NOAA

[2021-11-09 16:16] jkuang-exploro commented on #437
I will write up a simple job moving those data into ARCDIR before metp.

[2021-11-10 15:05] lgannoaa commented on #454
PR submitted and approved:
https://github.com/NOAA-EMC/global-workflow/pull/493

[2021-11-10 15:05] #454 closed, assigned to LinGan-NOAA

[2021-11-10 15:21] lgannoaa commented on #479
Would you be more clear about this issue? What is the solution that you are looking for?

[2021-11-10 15:24] WalterKolczynski-NOAA commented on #479
Some modules are currently unloading versions that have already been loaded and loading some new, different version, so that the versions specified in the module file are not the ones that are actually loaded by the end of it. We need to find all those and reorder the modules and/or update versions so that doesn't happen.

[2021-11-10 15:36] KateFriedman-NOAA commented on #479
@lgannoaa I also added text to the first comment to show the order that modules should be loaded in the module_base files. Within the groups in that order the modules should load in order of their dependencies. Examples:

nemsio needs: bacio & w3nco modules loaded first
w3emc needs: sigio & nemsio modules loaded first
nemsiogfs needs: nemsio module loaded first
nco needs: intel or netcdf or udunit

[2021-11-10 15:49] lgannoaa commented on #443
Some jobs are running on Hera using old job cards. It does not match the requested tasks with the number of requested nodes. This caused the Slurm task scheduler to issue a Warning message and ignored the setting.
During a test using global-workflow develop on Hera I found the following jobs contain these bugs:
Job log directory:
/scratch1/NCEPDEV/stmp2/Lin.Gan/ptmp/com/naf19296/logs/2020090200
-

[2021-11-10 16:01] lgannoaa commented on #479
@WalterKolczynski-NOAA , @KateFriedman-NOAA
I will review the Global-Workflow module_base files and modify them to be in-line with the order.
I will test in a C192C96L127 parallel for one full cycle on Dell wcoss and Orion.
Are we in agreement with this solution?

[2021-11-10 16:09] WalterKolczynski-NOAA commented on #479
That won't work, because we hide the module output in g-w. Plus, you probably don't need to run the workflow at all. Just purge your modules, `module use` the module directory, then load a module file and watch the output. Then repeat.

[2021-11-10 16:11] lgannoaa commented on #479
@WalterKolczynski-NOAA you purposed a different approach compare to @KateFriedman-NOAA .
I will wait for a consent on solution to take this ticket.

[2021-11-10 16:15] WalterKolczynski-NOAA commented on #479
I don't see how my approach conflicts with what Kate has said

[2021-11-10 16:18] KateFriedman-NOAA commented on #479
@lgannoaa Please do both in your testing:

1) On the command line: purge your modules, module use the module directory, then load a module file and watch the output. Then repeat. Module output goes to /dev/null at runtime so we don't see module swaps. Doing this should show module swaps and errors. You'll need to do this on each machine.
2) When happy with module_base updates please run at least o

[2021-11-10 16:20] WalterKolczynski-NOAA commented on #479
Not only module_base needs to be checked. The build modules (at least the ones under our control) should be tested as well, making sure build still works at the end.

[2021-11-10 16:23] KateFriedman-NOAA commented on #479
Yes thanks for the reminder @WalterKolczynski-NOAA . @lgannoaa here are adjusted steps to take:

1. Update/check module_base files. On the command line: purge your modules, module use the module directory, then load a module file and watch the output. Then repeat. Module output goes to /dev/null at runtime so we don't see module swaps. Doing this should show module swaps and errors. You'll need to

[2021-11-10 16:35] lgannoaa commented on #479
Agreed. Taking the ticket.

[2021-11-10 16:39] WalterKolczynski-NOAA commented on #443
This is an unrelated issue, as they are all homogenous jobs.

[2021-11-10 16:49] lgannoaa commented on #443
@WalterKolczynski-NOAA
The issue found in Hera job card is related to issue found in this ticket and my tests.

[2021-11-10 16:55] WalterKolczynski-NOAA commented on #443
It is not. This issue is specifically about heterogenous jobs. Any issues you encounter running a homogenous job would be a new issue, even if you find it while trying to fix this issue.

Incidentally, in my experience the errors you encountered don't really break anything, in contrast to this issue. The jobs still run fine.

[2021-11-10 17:26] lgannoaa commented on #443
A heterogeneous job consists of several job components, all of which can have individual job options. In particular, the different components can request nodes from different partitions. That way, a heterogeneous job can for example be spawned across multiple modules of our supercomputers.
Homogenous is related to job's resource allocation.

The wrong job cards reported by slurm from what I noted

[2021-11-10 18:02] WalterKolczynski-NOAA commented on #443
Heterogeneous and homogenous are opposites, here referring to the CPU layout. There are not different things.

To fix *this* issue, the workflow needs to stop creating workflows that generate heterogenous node layouts.

To fix the issue you found (which, again, is a different issue, even though it is related), you need to reconcile the number of tasks with ntasks-per-node. Because the tasks have t

[2021-11-10 18:08] lgannoaa commented on #443
Do you want me to create a different issue to fix the bug that reported?

[2021-11-10 18:08] WalterKolczynski-NOAA commented on #443
Yes please

[2021-11-10 18:11] lgannoaa commented on #443
Sure. I will remove all my comment from here. I will not taking this ticket for now.

[2021-11-10 18:14] lgannoaa opened #495 "Hera job card issue with resource assignment"
Some jobs are running on Hera using old job cards. It does not match the requested tasks with the number of requested nodes. This caused the Slurm task scheduler to issue a Warning message and ignored the setting.
During a test using global-workflow develop on Hera I found the following jobs contain these bugs:
Job log directory:
/scratch1/NCEPDEV/stmp2/Lin.Gan/ptmp/com/naf19296/logs/2020090200

g

[2021-11-10 18:18] WalterKolczynski-NOAA commented on #495
This is also an issue on Orion, and probably all slurm machines

[2021-11-10 18:20] KateFriedman-NOAA commented on #495
I concur, I see this on Orion as well.

[2021-11-10 18:31] lgannoaa commented on #495
Believe I got a solution to fix it.
A test in Hera GFS post 018 indicated this solution fixed the issue and reduced resource a single GFS post job from 10 nodes to 2 nodes. Gain around 17% faster in run time. That is a total of 344 nodes saving for all GFS post job (000-042) each cycle.

[2021-11-10 18:52] WalterKolczynski-NOAA opened #496 "Only use single integer for restart interval"
EDIT:
When the restart setting was moved to `model_configure` and applied to all components, the ability to specify a list of values was removed and now we have returned to only using a single value for a restart cadence. So now instead of properly handling a list of values, we need to remove anywhere we are currently using a list.

ORIGINAL for posterity:
Currently, config.fcst assumes that resta

[2021-11-12 14:24] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA At least three scripts have been removed in ops-wcoss2 version. However, when setting up the rocoto runs, they were required: config.base, config.fv3, config.resources. It looks like script "setup_expt.py" need to be modified?

[2021-11-12 14:27] GuangPingLou-NOAA commented on #398
@RaghuReddy-NOAA Please see above comment concerning the three scripts.

[2021-11-12 14:28] KateFriedman-NOAA commented on #398
@GuangPingLou-NOAA Those three configs still exist but don't exist in their final name until you run the link script (last step of setting up the clone). When you run the link_fv3gfs.sh script the mode you enter ("emc" or "nco") is used to copy the appropriate config version (e.g. `config.base.emc.dyn` or `config.base.nco.static` gets copied as `config.base`). Make sure you ran the link script ste

[2021-11-12 14:30] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA Alright. Thanks!

[2021-11-12 16:50] malloryprow commented on #437
@aerorahul @KateFriedman-NOAA @JianKuang-UMD I see that the gfsarch has a task dependency on gfsvrfy. I'm guessing this is done so gfsarch only runs after gfsvrfy is complete, not sure if this is because more related to a data dependency or just related to the flow or progression of the jobs. Should a similar dependency exists for gfsarch for gfsmetp?

[2021-11-12 16:57] aerorahul commented on #437
@malloryprow
The `gfsarch` depends on `gfsvrfy` because it probably archives the data produced in `gfsvrfy` and more importantly `gfsvrfy` depends on the data in `ROTDIR`, which `gfsarch` possibly removes as part of the cleaning (We know that should be its own task).  If `gfsvrfy` does not depend on data in `ROTDIR`, then that dependency should be corrected.

Does `metp` produce data that needs to

[2021-11-12 16:58] GuangPingLou-NOAA commented on #398
@KateFriedman-NOAA Do I need to create an issue on my fork so that when I put a pull request, it can be referenced? I am going to commit my changes to my fork soon.

[2021-11-12 17:00] KateFriedman-NOAA commented on #398
@GuangPingLou-NOAA No, please reference the issue open in the auth repo for porting the operational system (#399). Thanks!

[2021-11-12 18:00] malloryprow commented on #437
@aerorahul Got it, since the gfsmetp will be need data from the ROTDIR for the current cycle it sounds like the dependency should be added? gfsmetp doesn't require any cleaning or archiving done by gfsach.

[2021-11-12 18:38] DavidHuber-NOAA commented on #357
@JiayiPeng-NOAA I have updated the Jet port of the TC_Tracker and I'm currently running a test with it.  Would you mind checking the install?  You can find it in /lfs1/NESDIS/nesdis-rdo2/David.Huber/TC_Tracker.

@jack-woollen I have ported the Fit2Obs package and I'm currently running a test with it.  Could you check the install for me?  You can find it in /lfs1/NESDIS/nesdis-rdo2/David.Huber/Fit2

[2021-11-12 19:12] lgannoaa opened #498 "POST job resource assignment issue on production GFS/GDAS post jobs"
It is discovered that the post jobs (including both gdas and gfs) are having wrong resource assignment. This fact exists on all platforms including NCO production.

For example, NCO production today 20211112 00Z gdas post log /gpfs/dell1/nco/ops/com/output/prod/today/gdas_atmos_post_f002_00.o73146807 
This job reserved: 
  98 tasks
  14 tasks/node
  7 nodes totalThe log file shown:  
---
export WR

[2021-11-12 19:49] aerorahul commented on #498
@lgannoaa
Thanks for reporting the bug.
Question:
Should "in-line" post processing to create the master grib file be the only behavior supported by the workflow?
While the UFS currently does "in-line" post processing to generate the master grib file, should an option be preserved to do "off-line" post for researchers?

[2021-11-12 20:25] lgannoaa commented on #498
Is the forecast team going to maintain support on both configuration?
Is the post team going to keep support backward compatibility on demand?

The global workflow handle a switch on configuration. The actual functionality is in forecast/post code level.

For someone to use global workflow, there is high probability they need to see PGB output. It is expensive to run global workflow to only see fo

[2021-11-12 20:33] WalterKolczynski-NOAA commented on #427
Confirmed to work now in feature/coupled_sprint

[2021-11-12 20:33] #427 closed, assigned to KateFriedman-NOAA

[2021-11-12 21:37] aerorahul commented on #498
That is a good question on supportability.
Before we eliminate it, we should atleast ask the relevant people.

[2021-11-15 15:13] lgannoaa opened #501 "Generate ecflow suites dynamically"
A meeting on 2021/11/12 indicated we need to design a solution to generate ecflow files from the global workflow python utility.
This solution should allow user to enter a supportable configuration to the global workflow python utility.
The global workflow python utility will dynamically create a set of ecflow files that allow user to start using ecflow to run an experiment.

[2021-11-15 16:11] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Hey Kate, I've modified bufr sounding component and committed the changes I made. Should I make a pull request on the authoritative branch? All tests are done using both a job card and rocoto workflow.

[2021-11-15 16:16] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA Yes, please initiate a PR of your changes from your fork branch into the auth branch. I'll review the changes and leave comments, thanks!

[2021-11-15 16:28] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Just created a PR. Thanks.

[2021-11-16 15:11] #471 closed, assigned to jkuang-exploro

[2021-11-17 08:45] WalterKolczynski-NOAA opened #507 "Verify should exit non-zero if files are never found"
The verify job currently does not exit with a non-zero error code if files are missing. data_check_gfs.sh correctly exits with a non-zero code, but the calling script does not pass that along.

[code]

[2021-11-18 13:33] DavidHuber-NOAA commented on #357
@JiayiPeng-NOAA I finished a test run of the global workflow on Jet using the ported TC_Tracker.  Would you be able to look at the logs, products, and install?

Logs: /lfs1/NESDIS/nesdis-rdo2/David.Huber/para/com/test_f2o_tc2/logs
Archive products: /lfs1/NESDIS/nesdis-rdo2/David.Huber/archive/test_f2o_tc2
Install: /lfs1/NESDIS/nesdis-rdo2/David.Huber/TC_Tracker

Thanks!

[2021-11-18 13:35] DavidHuber-NOAA commented on #357
@jack-woollen I finished a test run of the global workflow on Jet using the ported Fit2Obs package.  Would you be able to look at the logs, products, and install?

Logs: /lfs1/NESDIS/nesdis-rdo2/David.Huber/para/com/test_f2o_tc2/logs
Archive products: /lfs1/NESDIS/nesdis-rdo2/David.Huber/archive/test_f2o_tc2
Install: /lfs1/NESDIS/nesdis-rdo2/David.Huber/TC_Tracker

Thanks!

[2021-11-18 19:08] KateFriedman-NOAA commented on #472
Updated to verif_global_v2.8.0. New summary of changes:

- Update TC verification to more closely follow NHC's practices
- Hotfix to add JET to tc_stat launcher in scripts/extropcyc.sh
- Fix num. processors in cfp commands
- Fix webpage template pop up information window
- Fix tc_stat valid_beg and valid_end date and times
- Fix global workflow forecast hour adjustment
- Run Cartopy scripts on S4

[2021-11-18 19:17] #437 closed, assigned to jkuang-exploro

[2021-11-18 19:17] #472 closed, assigned to malloryprow, KateFriedman-NOAA

[2021-11-19 14:57] jack-woollen commented on #357
David

I can't look on jet, no account. Hera, gaea, orion, niagara, wcoss, or
wcoss2 ok.

Jack

On Thu, Nov 18, 2021 at 8:36 AM David Huber ***@***.***>
wrote:

[2021-11-19 16:50] JiayiPeng-NOAA commented on #357
Hi David,
I checked the GFS track/genesis data
files: /mnt/lfs1/NESDIS/nesdis-rdo2/David.Huber/archive/test_f2o_tc2/*atcf*
They look good to me.
Thanks,
Jiayi

On Thu, Nov 18, 2021 at 8:34 AM David Huber ***@***.***>
wrote:

[2021-11-19 18:38] DavidHuber-NOAA commented on #357
@JiayiPeng-NOAA Thank you very much for checking!

@jack-woollen I have transferred the logs and the archive to Hera.  You can find them at /scratch1/NESDIS/nesdis-rdo2/David.Huber/jet_logs and /scratch1/NESDIS/nesdis-rdo2/jet_archive.  Please let me know if you need any other data.  Thanks!

[2021-11-23 02:05] jack-woollen commented on #357
David

As far as the fit2obs scripts and codes are concerned, they are running
correctly given the inputs. Ideally they would create forecast fit files
comparing time0 data with each of the forecasts valid at time0 from the 5
previous days, That is not happening probably because there are not 5
previous days in the forecast archive when each day0 fit is being run. That
should be simple to fix in t

[2021-11-29 18:32] DavidHuber-NOAA commented on #357
@jack-woollen Ah yes, I had set the forecasts to only run out 72 hours.  I'll modify that to 120 and rerun the cycling experiment.  Thanks!

[2021-11-29 18:34] jack-woollen commented on #357
Forecasts need to run out to 126 hours because of time interpolation.  -Jack

On Mon, Nov 29, 2021 at 1:32 PM David Huber ***@***.***>
wrote:

[2021-11-29 18:35] DavidHuber-NOAA commented on #357
OK, 126 hours then.  Thank you!

[2021-11-30 15:54] lgannoaa opened #512 "hpc-stack module netcdf/4.7.4 and others contain error message in module_base.wcoss_dell_p3"
module_base.wcoss_dell_p3 with hpc-stack has error message:
---
module load netcdf/4.7.4
Lmod has detected the following error:  Cannot load module "netcdf/4.7.4" without these module(s) loaded:
   hdf5
---
This requirement is from /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/mpi/ips/18.0.1.163/impi/18.0.1/netcdf/4.7.4.lua
  prereq("hdf5")

A check with all official Net

[2021-11-30 15:58] lgannoaa commented on #512
Re-open in hpc-stack channel

[2021-11-30 15:58] #512 closed, assigned to nobody

[2021-12-01 11:32] WalterKolczynski-NOAA opened #516 "Add aerosol support to develop"
Add missing aerosol support to develop branch

See also #496

[2021-12-06 15:21] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA I have been able to run the postsnd job successfully on Dogwood after making a small adjustment to the launcher settings you updated in env/WCOSS2.env. Please see the following logs, output, and changes I made...and let me know how it looks:

log: /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768b/logs/2021082400/gfspostsnd.log

output:
[code]

Change to WCOSS2.env:

[code]

Also

[2021-12-06 15:36] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA At a first glance, there are issues with the outputs. I'll look into the log file and outputs further.

[2021-12-06 21:49] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Kate, I copied your revised rocoto scripts (/ush/rocoto) that NODES=128 is added. Everything turn out fine. There is no more warning when rocotorun is submitted. I saw in the rocoto.xml script, lines were added:
    <!ENTITY NODESSIZE  "128" >
then later:
<nodesize>&NODESIZE;</nodesize>

So basically you just need to adjust the WCOSS2.env back to my launcher line:
    export APR

[2021-12-07 13:09] GuangPingLou-NOAA commented on #399
line was added:
 <nodesize>&NODESIZE;</nodesize>

[2021-12-07 13:13] GuangPingLou-NOAA commented on #399
<nodesize>&NODESIZE;</nodesize> was added.

[2021-12-07 18:04] WalterKolczynski-NOAA opened #520 "gdaspostanl should report failure if files do not show up before job ends"
If the loop waiting for output files to show up exhausts all iterations before files are available, the job should register as failed, not succeeded.

[2021-12-07 18:56] RussTreadon-NOAA opened #521 "Extend global workflow to include JEDI based atmospheric DA"
This issue is opened to document the addition of a JEDI based atmospheric DA component to the global workflow.   Please see [Prototype 3DVar Cycling Capability](https://github.com/NOAA-EMC/JEDI-Eval/projects/2) for additional information.

[2021-12-08 13:46] KateFriedman-NOAA commented on #399
Thanks @GuangPingLou-NOAA for that test log and APRUN_POSTSND. I have updated the workflow side and rerun the job. Please see this log on Dogwood:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768c/logs/2021082400/gfspostsnd.log

...and output:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768c/gfs.20210824/00/atmos/bufr.t00z/
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768c/gfs.20210824/00/atmos

[2021-12-08 14:00] BoiVuong-NOAA commented on #399
Hi Kate,

I check in the output of GFS gempak.  I see there are only some GFS
gempak 0p25 deg (only 4 files).  All GFS gempak files look fine.

Thanks,

Boi

On 12/8/2021 8:46 AM, Kate Friedman wrote:

[2021-12-08 14:37] GuangPingLou-NOAA commented on #399
Hi Kate,
Thanks for testing the bufr sounding component. The run results look fine.
But here are some of the issues in the new run:
1. The walltime seems to run longer than that in my runs: 28 min vs 21 min.
2. In your run, the cycle intervals are 3 hours. In my runs, I set
intervals as in regular ops, i.e., 1 hours until 120hr, then 3 hours to 180
hr.

So here are solutions:
for 1, please change

[2021-12-08 14:43] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Please set the following parameters to:
export SENDCOM=YES
export SENDDBN=YES
in JGFS_ATMOS_POSTSND for at lease once to test its validity.  Thanks

[2021-12-08 14:55] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA Thanks for the feedback on the postsnd job, I am going to setup a separate new test to run just the gfs jobs so I can run it at the different frequency you mentioned. I will incorporate your suggested updates and send you new logs/output when ready. Thanks!

[2021-12-08 15:02] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Thanks, Kate!

[2021-12-08 16:01] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Kate, upon further look at log file and scripts, I found in my suggestion,
export memory_postsnd="500GB" might not be necessary since you've already had a conditional line:
     if [[ "$machine" == "WCOSS2" ]]; then export memory_postsnd="500GB" ; fi
in script config.resources.
So here is what you have:
elif [ $step = "postsnd" ]; then

    export wtime_postsnd="02:00:00"
    ex

[2021-12-08 17:11] KateFriedman-NOAA opened #522 "Update rocoto_viewer.py for python >= 3.8"
Test the updated python3 rocoto_viewer.py on WCOSS2 and resolve issues.

Initial test of the new copy coming in PR #500 shows it works to show the information but column alignment needs fixing and it segfaults as soon as I try to use it or navigate through the job list:

![image](https://user-images.githubusercontent.com/37624921/145252435-ceb59435-bf59-4a03-8232-2155f9dc1e3e.png)

Note: this is f

[2021-12-08 17:43] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA Thanks for looking at the gfsgempak job log and output...please remind how much output I should be getting? I don't test the gempak job often. Thanks!

[2021-12-08 17:44] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA I tested 3 hourly cycle from 00 to 180 hour and it takes about 16 minutes to complete the run. Remember it took 21 minutes when 1 hourly to 120 hr and 3 hourly to 180 hour was tested. And in your 3 hourly run, it took 28 minutes.

[2021-12-08 17:46] KateFriedman-NOAA commented on #399
export nth_postsnd=6
to
export nth_postsnd=1

@GuangPingLou-NOAA I'll change nth_postsnd back to 1 in config.resources. I actually ran with `export nth_postsnd=1` in testcyc768c. I'll make sure to also run with `nth_postsnd=1` in the gfs suite test.

Thanks for your test timings...I'll see how it runs in the gfs suite test with the higher frequency output. Stay tuned for that output/logs/timings.

[2021-12-08 21:09] BoiVuong-NOAA commented on #399
Hi Kate,
I checked the log file (jgfs_gempak_00.log) and the job was waiting for gfs.t00z.pgrb2.0p25.f001, f002,... Therefore, It was terminated when it exceeded wall lock.
Why we do not have  gfs.t00z.pgrb2.0p25.f001,f002,... hourly in directory  /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768c/gfs.20210824/00/atmos ?
I check in gfs canned  data (/lfs/h1/ops/canned/com/gfs/v16.2/gfs.20210824/00/

[2021-12-08 21:10] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA Ok, thanks for digging into the log and letting me know what's going wrong. I'll investigate and fix.

[2021-12-08 21:14] GuangPingLou-NOAA commented on #399
@BoiVuong-NOAA @KateFriedman-NOAA Boi, in Kate's earlier test runs, the outputs were 3 hourly intervals. That is why number of files was less than canned data, where they were hourly outputs.

[2021-12-08 21:22] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA FYI, I have another test running now with hourly output through 120hrs so that will likely resolve much of this but I'll make sure. Thanks!

[2021-12-08 21:36] #466 closed, assigned to LinGan-NOAA

[2021-12-08 21:37] BoiVuong-NOAA commented on #399
Hi Kate,
If we do not have hourly files are not available in PARA. We can set ILPOST = 3 in your rocoto.   The default is set to 1 (hourly) in the script "exgfs_atmos_nawips.sh".
#### If EMC GFS PARA runs hourly file are not available, The ILPOST
#### will set to 3 hour in EMC GFS PARA.
#### Note:  ILPOST default set to 1
export ILPOST=${ILPOST:-1}

[2021-12-09 16:12] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA @GuangPingLou-NOAA @WenMeng-NOAA @YaliMao-NOAA I have run a gfs free-forecast with 1hrly output through fh120 and 3hrly after that (ops-like). I have also run all of the downstream jobs and need your eyes on them. Please see the following logs and output on Dogwood and let me know if you see any errors/issues in your jobs of concern:

EXPDIR: /lfs/h2/emc/global/noscrub/Kate.Friedman

[2021-12-09 16:13] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA  I tested "nth_postsnd=6" and the walltime is similar to "nth_postsnd=1", 22min vs 21 min. It's strange that my runs took less time than your integrated runs. Note that I ran postsnd component only. I saw you completed a new run this morning:
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/logs/2021082400/gfspostsnd.log and it took about 39 minutes. I did not see postsnd was wa

[2021-12-09 16:17] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA Thanks for testing and for this update. I opened PR #523 to bring back some related updates to the auth repo branch. Please see the comment I put above with paths to the new test output.

[2021-12-09 17:17] WenMeng-NOAA commented on #399
@KateFriedman-NOAA The post logs and UPP relevant datasets look good  to me. Please let me know anything else I should look. Thanks!

[2021-12-09 17:20] BoiVuong-NOAA commented on #399
Hi Kate,
I check the output gempak in /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/gfs.20210824/00/atmos/gempak. All gempak files are fine and they are same number of gempak files on WCOSS (PROD).
The output AWIPs files are fine. But, The filename are different.  See example below:
-GFS PARA
grib2.awpgfs012.003.gfs_awips_f012_1p0deg_00
grib2.awpgfs_20km_ak_f012.**gfs_awips_f012_20km_00**
grib2

[2021-12-09 17:20] KateFriedman-NOAA commented on #399
@WenMeng-NOAA Nope, that's it, thanks for looking and confirming they look good. Feel free to submit your UPP PR now. Thanks!

[2021-12-09 17:27] YaliMao-NOAA commented on #399
@KateFriedman-NOAA
1. wafsgcip failed because of missing satellite data, need to change DCOMROOT from prod to canned
2. wafsblending and wafsblending0p25 didn't work as expected, need to change DCOMROOT from prod to canned.

[2021-12-09 17:34] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA I copied your entire directory:
/lfs/h2/emc/global/noscrub/Kate.Friedman/git/feature-ops-wcoss2
then created a rocoto xml scripts:
/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/rocoto_kate
then modified the scripts to get the postsnd component only
 /lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/rocoto_kate/rocoto_kate.xml
then submitted the job:
rocotorun -d rocoto_kate.db -w rocoto_kate.

[2021-12-09 17:50] KateFriedman-NOAA commented on #399
@YaliMao-NOAA Oops, my bad, forgot to include the DCOMROOT setting. I set it and reran the jobs, please look again, thanks!

Note, this free-forecast test started from the gfsfcst job using warm start ICs from the canned data so the forecast didn't use output processed through the analysis jobs (like in my cycled test). You may see output differences from that.

[2021-12-09 18:46] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Kate, I think I've found out what caused the long wall time on executing poastsnd in your tests. It is because in your tests, you used your newly generated GFS NetCDF data, while in my tests, I used NCO canned NetCDF data. I have a job right now running by using your NetCDF data and it runs much slower.

So my question is, what has changed in your GFS output/UPP output in files

[2021-12-09 19:35] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA The test has been ended and it took 39 minutes to complete the run - same as in your runs. Is there any change to the NetCDF compression regime in your GFS/UPP run?

[2021-12-09 19:56] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA The files aren't significantly different in size (they appear to be relatively close to each other and within the range I'm used to seeing):

[code]

I'm running with the same compression settings as in current production:
[code]

@GeorgeVandenberghe-NOAA What can I check in my runs to make sure it's compressing correctly? Also, I ran with "netcdf_parallel" OUTPUT_FILETYPE set i

[2021-12-09 20:04] GeorgeVandenberghe-NOAA commented on #399
Check atm file sizes.   THey should be around 7G if compressed, 30G or so
if uncompressed.

I have anecdotal evidence, not yet verified that the combination of
netcdf_parallel  and no compression produces VERY VERY SLOW write rates and
the forecast model backs up miserably  If you are going to do no
compression use netcef rather than netcdf_parallel.

Also I/O groups must not share nodes with othe

[2021-12-09 20:11] KateFriedman-NOAA commented on #399
if uncompressed.

Thanks @GeorgeVandenberghe-NOAA ! My atmf files are all around 7GB so that confirms that piece.

Ok, I will run another gfsfcst job with serial netcdf and no compression. Will see how fast it goes.

Would you have any thoughts on why the bufr sounding code would run twice as long ingesting my output compared to the canned data? Something we can check? Thanks!

[2021-12-09 20:13] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA The atm file size is about 7G, so they are compressed for both canned and Kate's GFS NetCDF data. The issue here is when I switched data from canned to Kate's, it runs almost double time (okay, less than double.) George, please see https://github.com/NOAA-EMC/global-workflow/issues/399.

[2021-12-09 20:52] GeorgeVandenberghe-NOAA commented on #399
Need instructions on how to run  the bufrsnd job myself or just cd to a cwd with the stuff and run the executable.

One hypothesis is that this is due to file fragmentation on Kate's files which were written concurrently by several writers whereas the prod ones were created serially with rsync.   If this is the case we have a very general large problem with Lustre short term and a problem with how

[2021-12-09 20:58] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA I'll try to create a test job for you to run postsnd job.

[2021-12-09 21:06] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Kate, it looks like you've removed all NetCDF data from your GFS runs? Do you still have the previous compressed (7G) data for George to test them? Thanks

[2021-12-09 21:11] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA Sorry, I moved the output into another folder so I could rerun the gfsfcst job without compression and with serial netcdf. The files are saved here:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/gfs.20210824/00/atmos_1

[2021-12-09 21:27] GeorgeVandenberghe-NOAA commented on #399
Did you move them or copy them. If you copied them the act of copying them
may have made them  faster to access

On Thu, Dec 9, 2021 at 4:11 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-09 21:34] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Thanks! @GeorgeorgeVandenberg-NOAA George, Here are steps to run the postsnd:
1. cp -r /lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/rocoto_wcoss5 Georgeorge.Vandenberg/rocoto_wcoss5
2. vi rocoto_wcoss5.xml
    change user name/path to yours:
        <!ENTITY EXPDIR "/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/rocoto_wcoss5">
        <!ENTITY ROTDIR "/lfs/h2/emc/ptmp/Guang.Ping.Lou/ROTD

[2021-12-09 21:42] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA I moved them (mv). Would that also have made them faster to access?

@GuangPingLou-NOAA Can you try running with my output from the atmos_1 folder to see if postsnd runs at the same speed?

[2021-12-09 21:43] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Sure, Kate. I'll link them and submit a rub.

[2021-12-09 21:45] KateFriedman-NOAA commented on #399
@YaliMao-NOAA Sorry, I moved my output to retest the fcst job, the output is now here:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/gfs.20210824/00/atmos_1

I see the master.grb2i files there, please check and confirm. Thanks!

[2021-12-09 21:57] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Kate, the job is running using your
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/gfs.20210824/00/atmos_1/gfs*.atmf*.nc gfs*.sfcf*.nc
and it look like a slow run - the same as before.

[2021-12-09 22:10] YaliMao-NOAA commented on #399
@KateFriedman-NOAA WAFS products and log files look good to me. Talking about run time, here are the summary of changes:
gcip:    7->10minutes
grib2:  20->14minutes
grib2_0p25:  6:30->4minutes
So GCIP increases by 3 minutes while grib2 decreases by 6 minutes and grib2_0p25 decreases by 2.5 minutes

[2021-12-09 23:09] GeorgeVandenberghe-NOAA commented on #399
Nope.  mv would have retained their disk layout and just changed the
directory inode if the directory was moved.  The file inode would
be changed if the file were moved.   Neither should affect file performance

On Thu, Dec 9, 2021 at 4:42 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

**

[2021-12-09 23:43] GeorgeVandenberghe-NOAA commented on #399
Do you have a log file so I can see where and how this ran?

It is not clear how many of the directories in the file

<!DOCTYPE workflow
[

        <!ENTITY PSLOT "rocoto_wcoss5">
        <!ENTITY SDATE "202108240000">
        <!ENTITY EDATE "202108240000">

        <!ENTITY SDATE_GFS    "202108240000">
        <!ENTITY EDATE_GFS    "202108240000">
        <!ENTITY INTERVAL_GFS "12:00:00">

[2021-12-10 00:16] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA George, here is a log file:
/lfs/h2/emc/ptmp/Guang.Ping.Lou/ROTDIR/rocoto_wcoss5/logs/2021082400/gfspostsnd.log
Thanks

[2021-12-10 00:25] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA You probably don't need replicate the rocoto generating directory
/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/global-workflow3

But in your replicating directory
/lfs/h2/emc/vpppg/noscrub/George.Vandenberghe/rocoto_wcoss5
In the xml file

        <!ENTITY HOMEgfs
 "/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/global-workflow3">
        <!ENTITY JOBS_DIR
"/lfs/h2/emc/vpppg/noscrub

[2021-12-10 00:40] GuangPingLou-NOAA commented on #399
Somehow some of the lines were not displayed. So here I try again:

You probably don't need replicate the rocoto generating directory
/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/global-workflow3

But in your replicating directory
/lfs/h2/emc/vpppg/noscrub/George.Vandenberghe/rocoto_wcoss5
In the xml file rocoto_wcoss5.xml, keep these lines (you will get scripts
from these directories)

        <!ENTI

[2021-12-10 16:26] DavidHuber-NOAA commented on #357
@jack-woollen I have completed the longer test.  The outputs and logs are in the same locations as before on Hera: /scratch1/NESDIS/nesdis-rdo2/David.Huber/jet_logs and /scratch1/NESDIS/nesdis-rdo2/jet_archive

[2021-12-10 17:18] JessicaMeixner-NOAA opened #525 "Updates to run mini-P8A"
Update the global-workflow to enable P8-A, which includes:
* Updating the ufs-weather-model version (after PR https://github.com/ufs-community/ufs-weather-model/pull/937 update: merged 12/13)
* Turn on ice-albedo feedback in atm (Requires changing input.nml  to set use_cice_alb=true in &gfs_physics_nml )
* Updates to CA namelists
[code]
* Updates for NOAH-MP which require input.nml update for to e

[2021-12-10 17:27] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA I created a small test case for using canned gfs NetCDF data and Kate's newly generated NetCDF data. Here is how to run it:
1. for canned data, copy whole directory to you path:
cp  /lfs/h2/emc/ptmp/Guang.Ping.Lou/test_case_canned  to your path

2. cd to your path, then submit job card:
qsub run_postsnd.sh.wcoss2

3. for Kate's data, copy
cp  /lfs/h2/emc/ptmp/Guang.Ping.Lo

[2021-12-10 17:40] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA If you want to modify the source code, they are on
/lfs/h2/emc/ptmp/Guang.Ping.Lou/test_case_kate/gfs_bufr.fd
and
/lfs/h2/emc/ptmp/Guang.Ping.Lou/test_case_canned/gfs_bufr.fd

then recompile by
sh build_gfs_bufrsnd.sh >& build_gfs_bufrsnd.out

the executable is under ./exec

meteorg.f is the main code for this test, including reading NetCDF data and some processing.

[2021-12-10 18:13] GeorgeVandenberghe-NOAA commented on #399
I did this.  THey both run in about 45 seconds. I suspect something is
wrong  and I am not getting the half hour run times you reported.

On Fri, Dec 10, 2021 at 12:28 PM GuangPingLou-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-10 18:20] GuangPingLou-NOAA commented on #399
Hi George,

Thanks for your tests.
These small test cases are for a small section of the whole run. In my
runs, canned data runs 84 seconds, Kate's data runs 156 seconds.

On Fri, Dec 10, 2021 at 1:13 PM GeorgeVandenberghe-NOAA <
***@***.***> wrote:

[2021-12-10 18:41] GeorgeVandenberghe-NOAA commented on #399
It's something in the file contents.  I replicated the slowness in Kate's
files and made local copies of both the prod files and Kate's, then reran
the tests.  The job using local
copies of the prod files ran about twice as fast as the one using local
copies of Kate's files.

Next thing is to determine if the output bufr soundings at least closely
match.

On Fri, Dec 10, 2021 at 1:21 PM GuangPingL

[2021-12-10 18:44] junwang-noaa commented on #525
I am curious, is PR#937 needed to enable P8-A?

[2021-12-10 18:49] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA The outputs from both canned and Kate's data are fairly close. Here are two text files from them:
/lfs/h2/emc/ptmp/Guang.Ping.Lou/ROTDIR/rocoto_kate/gfs.20210824/00/atmos/bufr.t00z/bufr.999902.2021082400.out
/lfs/h2/emc/ptmp/Guang.Ping.Lou/ROTDIR/rocoto_kate/gfs.20210824_canned/00/atmos/bufr.t00z/bufr.999902.2021082400.out

The first one is from Kate's data, the second one

[2021-12-10 19:23] yangfanglin commented on #525
Jun,

A fix for the SS-GWD sign issue was wrapped in PR#937. We'd like to have it
included in P8-A.

On Fri, Dec 10, 2021 at 1:44 PM Jun Wang ***@***.***> wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyan

[2021-12-10 19:47] GeorgeVandenberghe-NOAA commented on #399
I pointed the sounding code to some of MY OWN files.  These were also fast.

I suspect it has something odd to do with the NetCDF group decomposition
used to write these files in parallel so netcdf records are scattered
through them in a different way.
If so this should go away since kate is changing her decomposition to be
closer to mine for unrelated reasons.

On Fri, Dec 10, 2021 at 1:50 PM Gua

[2021-12-10 21:12] GeorgeVandenberghe-NOAA commented on #399
I have replicated the slowness.

When I ran with 256 processors per I/O group, I produced atm files which
took double the time for the sounding code to process, same as with Kate's
original
files which were also written this way.  When I generated forecasts with 64
processors per I/O group,  the sounding code ran as fast as it did
processing the original prod files
which were copied from the dells

[2021-12-10 22:01] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA @KateFriedman-NOAA That would be great news! Thanks for finding out where it went wrong. Hopefully, 64 processors are used during production and parallel. I would think when other people start to use the GFS output, they will encounter the same issues. Thanks again, George!

[2021-12-10 23:20] GeorgeVandenberghe-NOAA commented on #399
the configuration that wrote the slow files was off the wall overkill and
unlikely to be used  going forward in operations, parallel, or testing.  We
did it just to initially get it going.   Each I/O group on the dells uses
two nodes and I suspect a configuration generator saw that and used two
full nodes, 256 processors, on dogwood.

On Fri, Dec 10, 2021 at 5:01 PM GuangPingLou-NOAA ***@***.***>

[2021-12-11 05:13] jack-woollen commented on #357
David
The pattern of fit files valid at 2020080600 is correct for the case where
one verifying forecast is made every 24 hours at 00z for 5 previous days.
Jack

/scratch1/NESDIS/nesdis-rdo2/David.Huber/jet_archive/test_f2o_tc2/fits/f00.raob.2020080600
/scratch1/NESDIS/nesdis-rdo2/David.Huber/jet_archive/test_f2o_tc2/fits/f06.raob.2020080600
/scratch1/NESDIS/nesdis-rdo2/David.Huber/jet_archive/test

[2021-12-13 12:50] DavidHuber-NOAA commented on #357
Great, thank you for checking, @jack-woollen.

[2021-12-13 14:46] RussTreadon-NOAA opened #527 "Add global_cycle job and script to global-workflow"
This issue is opened to document the move of global_cycle and gaussian_sfcanl j-jobs and scripts from [NOAA-EMC/GSI](https://github.com/NOAA-EMC/GSI) into [NOAA-EMC/global-workflow](https://github.com/NOAA-EMC/global-workflow).  This refactoring is in support of the goals stated in the JEDI [Prototype 3DVar Cycling Capability](https://github.com/NOAA-EMC/JEDI-Eval/projects/2) project.

[2021-12-13 15:03] RussTreadon-NOAA commented on #527
Create [feature/add_sfcanl](https://github.com/RussTreadon-NOAA/global-workflow/tree/feature/add_sfcanl) in [RussTreadon-NOAA/global-workflow](https://github.com/RussTreadon-NOAA/global-workflow). `feature/add_sfcanl` is a copy of the NOAA-EMC/global-workflow [develop](https://github.com/NOAA-EMC/global-workflow/tree/develop) at dd03ed0.

[2021-12-13 19:30] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA The gfswaveawipsbulls job initially failed with this error message:

[code]

After some research I found that unsetting the PERL5LIB variable at runtime got me around this error. I set this in a waveawipsbulls if-block in WCOSS2.env:
[code]

I have now run the gfswaveawipsbulls job without errors. Please see the following logs and output for the various awips jobs in my newest testc

[2021-12-13 19:46] BoiVuong-NOAA commented on #399
Kate:
I verified the output awips and gempak files look good (total of 545 files) and AWIPS files (total of 306). They are in /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768e/gfs.20211111/00/atmos/wmo and gempak.
Thanks, Boi

[2021-12-13 19:51] KateFriedman-NOAA commented on #399
@BoiVuong-NOAA Great, thanks for checking and confirming!

[2021-12-13 20:06] GeorgeVandenberghe-NOAA commented on #399
Concerning the slow GFS runs, do we have the actual job card(s) that rocoto
fires off to WCOSS2?

On Mon, Dec 13, 2021 at 2:51 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-13 20:12] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA Do you mean rocoto xml scripts? I ran Kate's data last week that shown slowness:
 /lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/rocoto_kate/rocoto_kate.xml
The path to generate this xml file is:
/lfs/h2/emc/vpppg/noscrub/Guang.Ping.Lou/global-workflow_kate

[2021-12-13 20:14] GuangPingLou-NOAA commented on #399
@GeorgeVandenberghe-NOAA You were asking the GFS run, not my bufr sounding run. So avoid above reply please. Thanks.

[2021-12-13 20:14] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA Yes, when I include the `-v 10` argument when running rocotorun it prints out what it submits. I save those submission statements sometimes, here is one that I just submitted for a gfsfcst job without waves:
[code]

[2021-12-13 20:20] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA I have a gfsfcst (with waves) running outside of the workflow for testing here:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252

Here is the submission script:
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/submit_gfsfcst.sh
log (being written to):
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/logs/gfsfcst.log
rundir (output writing to it now):
/lfs/h2/emc/ptmp/Kate

[2021-12-13 20:28] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA I grepped for timing info from the gfsfcst252 test log (what's running right now) and I am seeing the following:

[code]
[code]
Those numbers seem larger than they should be. Here are numbers from last night's 00z gfsfcst job:
[code]
[code]

My run appears to be going 4x slower.

[2021-12-13 20:45] YaliMao-NOAA commented on #399
@KateFriedman-NOAA wafsblending and wafsblending0p25 have no issue of runtime, please check the log files:
Dec  9 17:37 /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/logs/2021082400/gfswafsblending.log
Dec  9 17:38 /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testff768a/logs/2021082400/gfswafsblending0p25.log

The log files earlier show much longer time because DCOMROOT was set to 'prod', not 'canned'

[2021-12-13 21:10] KateFriedman-NOAA commented on #399
@YaliMao-NOAA Thank you for looking, you're correct...I failed to recheck the wafs timings from my run and update the spreadsheet. I have now updated the spreadsheet with my latest wafs blending job timings.

[2021-12-13 21:22] GeorgeVandenberghe-NOAA commented on #399
Your job also shows 224 nodes.  That isn't enough for 4024 MPI ranks.  Ask
for 252

On Mon, Dec 13, 2021 at 4:11 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-13 21:36] KateFriedman-NOAA commented on #399
Where are you seeing the 224 nodes? The test I pointed you to is running with 252 nodes. I have a separate test without waves that asks for 224 nodes and 3584 ranks.

[2021-12-13 21:47] GeorgeVandenberghe-NOAA commented on #399
From the job without waves that you sent me.

Send me a rocoto job card for the job with waves and I can start looking
for differences between that job card and my hand  coded one.   Individual
jobs should only take about 10 minutes to progress to where we can see if
they're fast or not and once we've replicated slowness with the initial
rocoto job, we shouldn't need to fire off workflow again.

I

[2021-12-13 21:57] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA The run I sent you above is with waves. Here is that info again:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252

Here is the submission script:
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/submit_gfsfcst.sh
log (being written to):
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/logs/gfsfcst.log
rundir (output writing to it now):
/lfs/h2/emc/ptmp/Kate.Friedman/comro

[2021-12-13 22:41] GeorgeVandenberghe-NOAA commented on #399
Mistake.  Should be 252

On Monday, December 13, 2021, Kate Friedman ***@***.***>
wrote:

that info again:

from? Thanks!

https://ci5.googleusercontent.com/proxy/lc4Um7plNyZK7v_TBZM-wSA_1etUOwDbQ6qUth7Tpv5SbRrbXQhpm7zuyZ9TsU_LtiPLMlLb4-sY14u_tXhl_5NQWtfpdBu8MKjpFAdvs0LvUXypaJ7iSwjyuPBMbIYvujqb4UGG8Od3iY62zUnFhbh_2PucpfUnC7xcZrKz6R4SmwB1jDmlZqxykTKQaRkfS0BTjtHgxMc2NWN4rv3iZEbN8Aq_oFv3FSYOy_LzrA=s0

[2021-12-13 23:35] GeorgeVandenberghe-NOAA commented on #399
ppn is missing a -
it should be --ppn

I will see if that fixes it

On Mon, Dec 13, 2021 at 4:57 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-14 00:09] GeorgeVandenberghe-NOAA commented on #399
However I don't think -ppn is what's slowing it down.  Still looking

On Mon, Dec 13, 2021 at 6:35 PM George Vandenberghe - NOAA Affiliate <
***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-14 06:19] GeorgeVandenberghe-NOAA commented on #399
The mpiexec in the gfs forecast job is missing

--cpu-bind core

mpiexec -l -n 4024 -ppn 16 --depth 8 global_fv3gfs.x
should be
mpiexec -l -n 4024 --ppn=16 --cpu-bind core --depth 8 global_fv3gfs.x

The = in ppn and the two minuses in ppn were not significant, (at least
this week )   cpu-bind core delivered a 4x speedup

WIll verify tomorrow but that's my preliminary result.

On Mon, Dec 13, 2021

[2021-12-14 12:26] GeorgeVandenberghe-NOAA commented on #399
Spent WAAY too much time on this but yes, my previous message was accurate.

The forecast job mpiexec is missing --cpu-bind core.  Jf is the fast job.
Js is the slow job

jf:mpiexec  -n 4024  -ppn=$ppn    --cpu-bind core --depth $t   $fcstexe

js:mpiexec  -n 4024  -ppn=$ppn     --depth $t   $fcstexe  >os 2>es

On Tue, Dec 14, 2021 at 1:19 AM George Vandenberghe - NOAA Affiliate <
***@***.***> wrot

[2021-12-14 12:56] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA Thank you for finding my mistake with the missing mpiexec flag! I have added it to my standalone test and am now getting the appropriate speedup. The hourly output is coming out much faster now:

[code]

[code]
[code]

[2021-12-14 13:01] GeorgeVandenberghe-NOAA commented on #399
We still need to cut the I/O task size to 64/group rather than 256 to
reduce resource usage.

It is very important that I/O groups be exclusive on their nodes.  If one
group shares a node with another, the netcdf_parallel I/O hangs.
Single groups obviously can cross node boundaries.

On Tue, Dec 14, 2021 at 7:56 AM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NC

[2021-12-14 13:10] KateFriedman-NOAA commented on #399
In the workflow we control that with the `WRTTASK_PER_GROUP` variable (which I see is indeed ending up as 256 (2 x 128)). Below is the C768 block of my config.fv3. Should I adjust the `WRITE_GROUP` variables as well and if so, what do you recommend?

Do you recommend 64 WRTTASK_PER_GROUP for all resolutions? @GeorgeVandenberghe-NOAA

@junwang-noaa @yangfanglin Any recommendations at this point for

[2021-12-14 13:27] DavidHuber-NOAA commented on #357
@JiayiPeng-NOAA Would it be possible to have the Jet port of the TC Tracker incorporated into the repository and a new tag made?

[2021-12-14 13:44] GeorgeVandenberghe-NOAA commented on #399
I haven't looked at other resolutions.   Probably fewer groups and tasks
per group are warranted for lower resolutions.   I have not verified that
parallel I/O works on WCOSS2
if multiple groups share the same node and that will be an issue with
smaller configurations.

The I/O groups do not benefit as much from threading and launcher syntax
that uses a different depth and OMP_NUM_THREADS will be

[2021-12-14 14:04] JiayiPeng-NOAA commented on #357
Hi David,
You are welcome to create a new tracker tag in your own Github.
I don't know whether the HPC-stack was installed on JET or not.
The GFS workflow team did not send me a request to create a tag for JET.
Thanks,
Jiayi

On Tue, Dec 14, 2021 at 8:27 AM David Huber ***@***.***>
wrote:

[2021-12-14 14:21] WalterKolczynski-NOAA commented on #357
@JiayiPeng-NOAA I'll make one now then: please make a tag for Jet. hps-stack *is* on Jet, and should be what is used: https://github.com/NOAA-EMC/hpc-stack/wiki/Official-Installations

[2021-12-14 14:42] JiayiPeng-NOAA commented on #357
Hi Walter,
Thanks for the update.
I usually work with Kate to create a new tracker tag. After I make a new
tracker version for JET, Kate needs to modify the GFSv16 workflow and test
the tracker jobs.
If everything is ok, a new TAG will be created.
Kate is busy with the WCOSS2 transition. I don't think she has time now.
After the GFSv16 WCOSS2 transition is done, I may start to work on this.
Thanks

[2021-12-14 14:48] KateFriedman-NOAA commented on #399
My 252 node run with the missing flag now included ran in ~7100s (MUCH closer to the current ops timing of 6272s (00z sample)). Output and logs:

/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/rundir
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/gfsfcst252/logs/gfsfcst.log

[code]

Note: This was still with 256/group. I have started a new single cycle test of the system which includes a modification to

[2021-12-14 15:18] junwang-noaa commented on #399
Kate, I think now we can check the timing between forecast time and write
time. Would you please add the following two lines in the job card:

export ESMF_RUNTIME_PROFILE=ON
export ESMF_RUNTIME_PROFILE_OUTPUT=SUMMARY

You will see a file ESMF_Profile.summary in the run directory, which has
details on the run time for each component. It can tell us which
configuration 256/64 fits forecast time bett

[2021-12-14 15:57] GeorgeVandenberghe-NOAA commented on #399
The I/O groups should not be backing up with 64 ranks/group.  I am seeing
slowdown in the integration times themselves when compression is activated.
NetCDF write times are less than 8x integration time for an hour but the
integration is slightly but noticeably slower every timestep when
compression is activated and netcdf_parallel is the I/O type.  NetCDF
serial WITHOUT compression is the fastest

[2021-12-14 16:13] GeorgeVandenberghe-NOAA commented on #399
a 32x24 layout with 4 threads/task on 160 nodes, 5120 total tasks, is
significantly faster than the tested one.  8 I/O groups, 64/group remain in
that configuration.

On Tue, Dec 14, 2021 at 10:18 AM Jun Wang ***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-14 16:57] GeorgeVandenberghe-NOAA commented on #399
5653 seconds to run C768L128 for 384 hours  with a 32x24 layout 4608
compute ranks 512 I/O ranks 4 threads/rank 160 nodes on WCOSS2.   NO file
compression.

On Tue, Dec 14, 2021 at 11:13 AM George Vandenberghe - NOAA Affiliate <
***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work

[2021-12-14 18:10] KateFriedman-NOAA commented on #399
@GeorgeVandenberghe-NOAA  I'd like to try this configuration with compression on. Can you point me to your test or help me translate those numbers into these variables? I already have the 32x24 layout and 4 threads here:

[code]

With those values I end up with `<nodes>174:ppn=32:tpp=4</nodes>` (includes tasks for quilting and waves).

[2021-12-14 18:21] GeorgeVandenberghe-NOAA commented on #399
I had waves disabled waves need 14 more nodes so 174 is good. Compression
added 300 seconds to my earlier time.

On Tuesday, December 14, 2021, Kate Friedman ***@***.***>
wrote:

compute ranks 512 I/O ranks 4 threads/rank 160 nodes on WCOSS2. NO file
compression.

to your test or help me translate those numbers into these variables? I
already have the 32x24 layout and 4 threads here:

tasks for qu

[2021-12-14 18:22] GeorgeVandenberghe-NOAA commented on #399
In vaxx chamber away from computer

On Tuesday, December 14, 2021, Kate Friedman ***@***.***>
wrote:

compute ranks 512 I/O ranks 4 threads/rank 160 nodes on WCOSS2. NO file
compression.

to your test or help me translate those numbers into these variables? I
already have the 32x24 layout and 4 threads here:

tasks for quilting and waves).

https://ci4.googleusercontent.com/proxy/uPao7S6s4nk9uq16G

[2021-12-14 18:24] KateFriedman-NOAA commented on #399
@YaliMao-NOAA I've run the wafs jobs in a new single cycle test. The gfswafs timing is significantly less in this attempt...here are the latest timings in seconds:

[code]

New test locations:
EXPDIR: /lfs/h2/emc/global/noscrub/Kate.Friedman/expdir/testcyc768f
COMROT: /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testcyc768f/gfs.20210824/00/atmos

Current rocoto resource requests for each wafs job:
[code]

[2021-12-14 18:56] RussTreadon-NOAA commented on #527
As discussed in NOAA-EMC/GSI issue [#266](https://github.com/NOAA-EMC/GSI/issues/266),  reduce the scope of this issue to only move `global_cycle` into its own job (see [specific comment here](https://github.com/NOAA-EMC/GSI/issues/266#issuecomment-993618932)).

50b53b5 commits changes required to run `global_cycle` as its own job.

These changes were tested on WCOSS_D using warm start parallel us

[2021-12-14 19:11] GeorgeVandenberghe-NOAA commented on #399
The configuration is on /lfs/h2/emc/ptmp/gwv/u/DP.turbo.   model_configure
and *nml contain the relevant settings.
Job j42 runs it (qsub j42).    This configuration compresses but does NOT
include waves.

The uncompressed configuration is on n /lfs/h2/emc/ptmp/gwv/u/DP.fast

On Tue, Dec 14, 2021 at 1:10 PM Kate Friedman ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5

[2021-12-15 14:03] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA @GeorgeVandenberghe-NOAA Just to give you some feedback on using the forecast data, I tested Kate's data that generated yesterday,
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testffa/gfs.$YMD/$cyc/atmos/gfs*.atmsf???.nc ......
/lfs/h2/emc/ptmp/Kate.Friedman/comrot/testffb/gfs.$YMD/$cyc/atmos/gfs*.atmsf???.nc .....

Reading "testffa" is much faster than reading "testffb".

 Do they hav

[2021-12-15 14:07] GeorgeVandenberghe-NOAA commented on #399
They are still experimenting with decompositions.   We've determined read
rates depend on the original write decomposition.

On Wed, Dec 15, 2021 at 9:03 AM GuangPingLou-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-12-15 14:10] GuangPingLou-NOAA commented on #399
Understood. Thanks.

[2021-12-15 15:11] KateFriedman-NOAA commented on #399
So testffa ran with this:
[code]

...and testffb ran with this:
[code]
@GuangPingLou-NOAA Thanks for testing with those two sets of test output. Good to know it runs faster with the configuration closer to what we'll likely land on.

Would you mind testing with the output from the testffd output listed below? The testffd test is running with something closer to current ops-like and would be good t

[2021-12-15 15:56] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA I tested "testffd" data and it took 119 seconds to complete a 12 hours bufr sounding computation in the test case. While canned data took 84 seconds. ""testffa" took 70 seconds.

[2021-12-15 16:00] GuangPingLou-NOAA commented on #399
So "testffa" is the "right one". But it has 24 hours forecasts data only in your path. Once you generate a full length forecasts of "testffa", I'll run posnsnd in full length too, to see overall wall time.

[2021-12-15 17:08] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA I tested postsnd using "testffd" in full length, it took 34 minutes while it was 21 minutes by using canned data.

[2021-12-15 18:43] KateFriedman-NOAA commented on #399
Thanks for testing testffd @GuangPingLou-NOAA . Can you test testffe next? That test ran with another different resource configuration.

 /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testffe

Thanks!

[2021-12-15 18:49] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA Just tested "testffe" before your message, postsnd even won't be able to read the NetCDF data correctly somehow. The values of the variables are weird.

[2021-12-15 18:53] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA Hmmmmm, I ran this test with ESMF profiling turned on, would that impact reading at all? This test also ran with the following:
[code]

@GeorgeVandenberghe-NOAA Could that decomposition impact the bufrsnd read?

[2021-12-15 18:58] GuangPingLou-NOAA commented on #399
Remember your "testffa" with following resource was good @KateFriedman-NOAA
                  ENTITY RESOURCES_FCST_GFS "<nodes> "<nodes>139:ppn=18:tpp=7</nodes>">
mpiexec -l -n 2488 -ppn 18 --cpu-bind core --depth 7 global_fv3gfs.x

[2021-12-15 20:13] KateFriedman-NOAA commented on #399
@GuangPingLou-NOAA I am rerunning testffa with a longer forecast time (384hrs with hourly through 120hrs). Please rerun the bufrsnd with that test output when it's available. Would like to reconfirm bufrsnd timing with that forecast setup but full length. Thanks!

COMROT: /lfs/h2/emc/ptmp/Kate.Friedman/comrot/testffa/gfs.20210824/00/atmos/

[2021-12-15 20:15] RussTreadon-NOAA opened #529 "Add ufs_da to checkout, build, and link"
This issue is opened to document the addition of UFS-DA from [NOAA-EMC/JEDI-T2O](https://github.com/NOAA-EMC/JEDI-T2O) into [NOAA-EMC/global-workflow](https://github.com/NOAA-EMC/global-workflow).  This addition is in support of the goals stated in the [JEDI Prototype 3DVar Cycling Capability](https://github.com/NOAA-EMC/JEDI-Eval/projects/2) project.

[2021-12-15 20:33] RussTreadon-NOAA commented on #529
Create [feature/ufsda](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda) as a copy of develop at dd03ed0.

[2021-12-15 22:43] GuangPingLou-NOAA commented on #399
@KateFriedman-NOAA I ran the postsnd with your new data "testffa", the wall time was 19 minutes! Yeah!!! It looks like the resource setup and decomposition of NetCDF writing are similar to NCO production.  Thanks!

[2021-12-16 00:04] RussTreadon-NOAA commented on #529
Test b3e8156 on orion and hera as follows:

- clone global-workflow repo
- checkout feature/ufsda
- cd sorc
- ./checkout.sh
- ./build_all.sh
- ./link_workflow.sh emc [orion, hera]

sorc/ufs_da.fd was created and populated by checkout.sh.   build_all.sh executed  build_ufs_da.sh which built applications in ufs_da.fd.   Note that at present ufs_da.fd can only be built on orion and hera.   UFS-DA mod

[2021-12-16 18:12] RussTreadon-NOAA commented on #529
UFS-DA ctests have been run on Orion and Hera.

Some reminders regarding the user environment before running ctest

- load the machine specific UFSDA module from `ufs_da.fd/UFSDA/modulefiles/`
- set `SLURM_ACCOUNT, SALLOC_ACCOUNT, SALLOC_ACCOUNT, SLURM_QOS`.  For example,
[code]
- set `ulimit -s unlimited`.   Note.  this operation is not permitted on Hera.

All ctests run on Orion passed
[code]
3

[2021-12-17 00:15] RussTreadon-NOAA commented on #529
Cory noted that the 3 failures on Hera may be due to issues with the user environment, sample data, or test.   Since all tests pass on Orion, it's not the best investment of time at present to dig into the three Hera failures.   A better use of time would be to understand the inputs and outputs needed to run FV3-JEDI 3DVar or hybrid-3DEnVar.  Good advice!  Doing so keeps this project moving foward

[2021-12-17 15:58] RussTreadon-NOAA commented on #527
**Cycled testing** has been completed on Mars.  A control, `cntrl`, and test, `sfcanl` were set up as follows

- `cntrl`
  - global-workflow develop at dd03ed0
  - gsi master at [eed3d40](https://github.com/NOAA-EMC/GSI/commit/eed3d40ad053d6f3dd10780a5a7572cfbc11de7e)
- `sfcanl`
  - forked global-workflow feature/add_sfcanl at 512ae81
  - forked gsi feature/rm_sfcanl at [a75d6ed](https://github.co

[2021-12-17 16:44] RussTreadon-NOAA commented on #527
As explained in NOAA-EMC/GSI issue [#266](https://github.com/NOAA-EMC/GSI/issues/266#issuecomment-996860090), neither [#266](https://github.com/NOAA-EMC/GSI/issues/266) nor this issue, #527, may enter their parent repos (master and develop, respectively) until a GFS DA v16.x release branch is created in [NOAA-EMC/GSI](https://github.com/NOAA-EMC/GSI).

The forked workflow branch, [add_sfcanl](http

[2021-12-17 23:47] aerorahul opened #531 "[Products] gempak related scripts/jobs/tools"
This [gempak](https://github.com/NOAA-EMC/global-workflow/tree/develop/gempak) directory in the global-workflow repository needs a repository for its own development and maintenance.
Who is the owner/developer/maintainer of these gempak related scripts/jobs/tools?

[2021-12-20 15:11] CoryMartin-NOAA opened #532 "Omnibus issue to track 'parm' additions needed for UFSDA JEDI-based prototype cycling"
- [ ] `config.jedianal`
- [ ] `config.resources` updates
- [ ] `config.base` updates
- [ ] YAML templates (link to UFS-DA submodule or store here?)

[2021-12-20 16:32] lgannoaa opened #533 "WCOSS2 transition issue - Update compath.py assignment in jobs"
Need to double check on WCOSS2 transition jobs to ensure:
  $(compath.py ${NET}/${envir}/${RUN}.${PDY})/${cyc}/$COMPONENT - is no longer used.

It should be replaced as:
$(compath.py -o ${NET}/${gfs_ver}/${RUN}.${PDY})/${cyc}/$COMPONENT

[2021-12-20 20:20] CoryMartin-NOAA commented on #521
Need to add jobs/rocoto scripts for the three new j-jobs:

- [ ] jedianalprep
- [ ] jedianalrun
- [ ] jedianalpost

[2021-12-20 20:36] CoryMartin-NOAA commented on #521
New branch [feature/ufsda-rocoto-jobs](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda-rocoto-jobs) created off of [feature/ufsda](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda) at https://github.com/NOAA-EMC/global-workflow/commit/8ccdd24a4f7e74b1e98d20878ed6f8375bad5ebc for adding rocoto job scripts.

[2021-12-20 21:51] lgannoaa opened #534 "WCOSS2 transition issue - Hardwired DELL path util/ush/make_tif.sh"
Line 14-16 contain hardwired dell PATH.

  export PATH=$PATH:/usrx/local/dev/packages/ImageMagick/6.9.9-25/bin:.
  export LIBPATH="$LIBPATH":/usrx/local/dev/packages/ImageMagick/6.9.9-25/lib
  export DELEGATE_PATH=/usrx/local/dev/packages/ImageMagick/6.9.9-25/share/ImageMagick-6

Need to be fixed to create tif product images.

[2021-12-21 16:15] JessicaMeixner-NOAA commented on #525
All updates can be seen here: https://github.com/jessicameixner-noaa/global-workflow/tree/feature/p8a
An example COM directory is here: /scratch2/NCEPDEV/climate/Jessica.Meixner/p8a/octtest06/COMROOT/octtest06/gfs.20131001/00

[2021-12-22 15:40] JessicaMeixner-NOAA commented on #525
@yangfanglin here are the changes that are set in coupled that would not be set for uncoupled that might be of importance: https://github.com/JessicaMeixner-NOAA/global-workflow/blob/feature/p8a/parm/config/config.defaults.s2sw#L15-L19
There are other changes that get triggered based on the choice of application which sets these variables for coupled: https://github.com/JessicaMeixner-NOAA/global-

[2021-12-22 19:02] yangfanglin commented on #525
Jessica,

It appears to me the settings are correct for the atmos other than iopt_sfc=
"3". Shouldn't it be defined in config.fcst instead of config.fv3 ?

On Wed, Dec 22, 2021 at 10:41 AM Jessica Meixner ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/g

[2021-12-22 19:12] JessicaMeixner-NOAA commented on #525
@yangfanglin it's not defined at all for atm only  other than getting set to it's default value: https://github.com/JessicaMeixner-NOAA/global-workflow/blob/feature/p8a/ush/forecast_postdet.sh#L212  I'll move which section it's under in the s2s defaults file though.

[2021-12-23 03:50] aerorahul opened #536 "Unify `setup_expt.py` and `setup_expt_fcstonly.py`"
In the present state, there are 2 entry points to the workflow setup.
One for `cycled` and another for `forecast-only` modes of operation.

As more "modes" are added, this adds duplication of code fragments and burden to the maintainers.

This issue documents the unification of `setup_expt.py` and `setup_expt_fcstonly.py`

[2021-12-29 20:11] KateFriedman-NOAA commented on #533
Refs: #399

[2021-12-30 18:49] DavidHuber-NOAA opened #541 "Overwriting GDAS forecast properties in config.resources"
There is a small bug in config.resources that causes the default properties of `layout_x`, `layout_y`, `WRITE_GROUP`, and `WRTTASK_PER_GROUP` to be overwritten by the GFS properties when the config file is referenced by `setup_workflow.py` ([see lines 189-197](https://github.com/NOAA-EMC/global-workflow/blob/033b1d8ef29b7c829e8131758135b372ae61de26/parm/config/config.resources#L189-L197)).  Since

[2021-12-30 19:33] KateFriedman-NOAA commented on #533
@lgannoaa I've submitted PR #543 with your compath.py updates and additional related updates. Thanks!

[2021-12-30 19:38] #533 closed, assigned to KateFriedman-NOAA

[2021-12-30 19:39] KateFriedman-NOAA commented on #533
PR #543 resolved.

[2022-01-03 22:28] #541 closed, assigned to nobody

[2022-01-04 20:30] KateFriedman-NOAA commented on #534
@lgannoaa Do you have a solution for this?

[2022-01-04 20:40] aerorahul commented on #534
These are products.  We have no idea who developed or maintains these utilities under `util/`
@arunchawla-NOAA These need a home not under the workflow.

[2022-01-04 21:21] KateFriedman-NOAA commented on #399
Test of build_all.sh with components set in checkout.sh via PR #545:

[code]

Build logs in this clone: /lfs/h2/emc/global/noscrub/Kate.Friedman/git/feature-ops-wcoss2_buildtest/sorc/logs/

[2022-01-04 21:32] BoiVuong-NOAA commented on #399
Kate, I checked executable for util are looking good. Thanks.

[2022-01-04 21:39] KateFriedman-NOAA commented on #399
Thanks for checking and confirming @BoiVuong-NOAA !

[2022-01-06 05:44] #525 closed, assigned to nobody

[2022-01-10 15:49] DavidHuber-NOAA opened #558 "gfsarch failing due to mismatched log file size"
The gfsarch job is failing on the second and subsequent cycles when `htar`ing the `gfsa` group which includes the `gfsarch.log` log file.  This is due to the file changing during compression.  This file's `gdas` compliment (`gdasarch.log`) is not included in the `htar` list.  If it is intentional to include `gfsarch.log`, then perhaps a check should be added so the job does not fail.  Otherwise, `

[2022-01-12 16:23] JessicaMeixner-NOAA opened #561 "build of ufs_utils and gldas on hera failing from develop branch"
When building on hera, both ufs_utils and gldas is failing using the develop branch.

The error for ufs_utils is:
[code]

which based on some comments on slack, I believe that esmf/8_1_0_beta_snapshot_27 has been removed for space reasons on hera.  The gldas log was not as informative, but I suspect it might be a similar/same issue?

[2022-01-12 16:26] JessicaMeixner-NOAA opened #562 "Bug fix for lfrac in diag_table"
From @HelinWei-NOAA change this line in diag_table from:

"gfs_phys",    "lfrac",         "lfrac",         "fv3_history2d",  "all",  .false.,  "none",  2

to

"gfs_sfc",    "lfrac",         "lfrac",         "fv3_history2d",  "all",  .false.,  "none",  2

so that lfrac is in the history output.

[2022-01-12 16:27] WalterKolczynski-NOAA commented on #561
These should be updated to use not a beta anyway, but I wish hpc-stack would inform us when they make changes to existing packages.

[2022-01-12 16:31] JessicaMeixner-NOAA opened #563 "Update uncoupled settings to correspond to coupled"
Update of configuration variables:

config.fv3
 DELTIM=300, layout_x_gfs=8, layout_y_gfs=12
config.fcst
IALB=2, IEMS=2, DO_CA="YES", opt_sfc="3"

Update of CCPP_suite for uncoupled:
FV3_GFS_v16_nsstNoahmpUGWPv1
(could be a part of updating the build to be a unified coupled/uncoupled build and if confirmed, could use the coupled CCPP suite as well).

Explanation:
When trying to run a uncoupled run

[2022-01-12 17:11] edwardhartnett commented on #561
@kgerheiser @Hang-Lei-NOAA did we remove a beta version of ESMF?

[2022-01-12 18:07] Hang-Lei-NOAA commented on #561
Hi, Ed

Yes, no space on hera library installations.
So, snapshot version are removed.
It was announced a month ago.
https://github.com/ufs-community/ufs-weather-model/wiki/News
Hang

On Wed, Jan 12, 2022 at 12:11 PM Edward Hartnett ***@***.***>
wrote:

[2022-01-12 19:34] junwang-noaa commented on #561
I think we need to move to a later version of ESMF. The current ESMF
release is 8.2.0, while ESMF 810bs27 was coming out in April 2020, which
was more than 1.5 years ago. There are many beta snapshots coming out since
then, so it would be hard to keep so many versions of ESMF libraries.

On Wed, Jan 12, 2022 at 1:07 PM Hang-Lei-NOAA ***@***.***>
wrote:

[2022-01-12 21:11] WalterKolczynski-NOAA commented on #516
Documenting what I found RE the I_MPI_DAPL_UD setting:

![image](https://user-images.githubusercontent.com/28147896/149222045-ca63944d-fe7b-43d4-918b-3245d5eea5f1.png)

[2022-01-12 22:10] WalterKolczynski-NOAA opened #567 "Break diag_table and field_table into building blocks"
Instead of having large diag_table files that duplicate a large number of fields, it would be better if the files were broken into blocks that were combined to form a final diag table depending on the components being used.

[2022-01-13 00:19] WalterKolczynski-NOAA commented on #562
This field isn't in the coupled aerosol diag table at all. Should it be added there?

[2022-01-13 00:42] HenryRWinterbottom commented on #561
@WalterKolczynski-NOAA I ran into this issue a couple of weeks back while running a UFS cycle. The previous cycles had run without issue (using `8_1_0_beta_snapshot_27`) but suddenly failed when they removed/updated the stack.

Changing to `esmf/8_1_1` resolved the issue for me. This is admittedly a hack/workaround since I don't know when RDHPCS will change the stack again.

Hopefully this helps.

[2022-01-13 00:49] WalterKolczynski-NOAA commented on #561
As far as I know, hpc-stack is controlled by EMC. We're already discussing better communication with that team (see https://github.com/NOAA-EMC/hpc-stack/discussions/374).  Manually editing the modulefile is definitely the workaround for now.

[2022-01-13 00:49] Hang-Lei-NOAA commented on #561
@Henry Winterbottom - NOAA Affiliate ***@***.***> Glad to
see that esmf/8_1_1 resolved the issue. In the future, please remember to
move to release versions, once it is available on the machine. Snapshots
were considered as developing/middle/incomplete/unreleased versions in the
development sequence. Limited by machine space, we will remove snapshot
versions as a regular operation in months after

[2022-01-13 00:51] WalterKolczynski-NOAA commented on #561
This isn't his problem as a user. It's up to repo code managers to update.

[2022-01-13 00:56] Hang-Lei-NOAA commented on #561
Yes, I understand this. Just let users know that using the release version
is the correct choice. And the EIB has decided to remove the snapshot
version as a regular operation in future. Will post announcements and
inform major code managers for the changes in advance.

On Wed, Jan 12, 2022 at 7:51 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2022-01-13 01:23] WalterKolczynski-NOAA commented on #561
I've opened issues with the relevant repositories after some testing. This issue will be more easily fixed once everyone brings the update using version variables to all machines (we could just update our own versions file).

[2022-01-13 14:01] JessicaMeixner-NOAA commented on #562
Remind me what the coupled aerosol diag table is?  It's just the coupled + added aerosols output?  If so, then yes, and there's probably a couple of other fields missing too.

[2022-01-13 14:06] JessicaMeixner-NOAA opened #571 "Check FRAC_GRID for uncoupled runs"
In the creation of input.nml frac_grid is behind a if cpl switch, but it should be available for uncoupled runs as well (see: https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/parsing_namelists_FV3.sh#L330).  Also need to double check that other uses of FRAC_GRID are not behind "if cpl" statements.

[2022-01-14 06:25] WalterKolczynski-NOAA opened #577 "workflow_utils builds even if set to no in fv3gfs_build.cfg"

[2022-01-14 06:29] WalterKolczynski-NOAA opened #578 "Redundant gldas build toggle"
The cfg files that determine which components are built and the partial_build.sh script all have a redundant copy of the gldas build toggle. That means if the first one is changed, it does nothing.

[2022-01-14 07:42] WalterKolczynski-NOAA commented on #516
This is now going to be done in two pieces: first the cold-start type used for the prototypes, then the simplified aerosol "cycling" (aerosol state taken from previous forecast but no DA).

[2022-01-14 08:12] WalterKolczynski-NOAA commented on #476
Operations was handled in PR #545

[2022-01-14 09:07] WalterKolczynski-NOAA opened #582 "Convert modulefiles to lua"
The remaining (non-WCOSS2) modulefiles need to be converted to from TCL to lua.

[2022-01-14 09:55] WalterKolczynski-NOAA commented on #463
This was fixed as part of the mega-PR #500

[2022-01-14 09:55] #463 closed, assigned to KateFriedman-NOAA

[2022-01-14 10:02] WalterKolczynski-NOAA opened #583 "Split clean-up activities off from archive job"
Right now the clean-up of older cycles is handled within the archive script. This should be split out into its own script and job.

[2022-01-14 20:35] WalterKolczynski-NOAA opened #584 "Move namelist building outside of forecast job"
Right now we are creating most of our namelists and other setting files for the forecast during the forecast job. Since these are generally serial operations, this is wasting thousands of cores while waiting for the actual forecast to kick off. Also, these don't need to wait for init data to be in place first, so they could be created earlier, giving a small timing advantage.

Copying/linking will

[2022-01-14 20:36] WalterKolczynski-NOAA commented on #584
I can be convinced these operations are so fast that it isn't work the effort.

[2022-01-14 21:29] JessicaMeixner-NOAA commented on #584
What about namelist updates that are based on a re-run?  Would you have to then re-run the prep job?

[2022-01-14 23:19] yangfanglin commented on #584
Making the job script flexible for running different types of forecasts at different resolutions is important for model development, even though it might be  less desire for operation where settings are fixed.  Yes, "these operations are so fast..."

[2022-01-15 02:24] WalterKolczynski-NOAA commented on #584
This is a good point

[2022-01-15 02:24] WalterKolczynski-NOAA commented on #584
I don't see any reason moving these to their own job run just before the forecast would preclude any of those things.

[2022-01-16 21:48] aerorahul opened #587 "Check the modules loaded in ecf scripts against the job to ensure that they are used. Do this for all the jobs"
In the operational `ecf` script for model forecast, `CFP` is loaded and set to be used.  And so is `grib_util`.
See [gdas](https://github.com/NOAA-EMC/global-workflow/blob/feature/ops-wcoss2/ecf/scripts/gdas/jgdas_forecast.ecf), [gfs](https://github.com/NOAA-EMC/global-workflow/blob/feature/ops-wcoss2/ecf/scripts/gfs/jgfs_forecast.ecf) and [enkfgdsa](https://github.com/NOAA-EMC/global-workflow/blo

[2022-01-18 13:33] DavidHuber-NOAA opened #588 "Model 'atm' output filetypes are always netcdf_parallel"
The `OUTPUT_FILETYPES` set in config.fcst are being overwritten by parsing_model_configure_FV3.sh.  This happens between [lines 15-18](https://github.com/NOAA-EMC/global-workflow/blob/86d4b305a070c080dcfd44a3f9a31ca2280759fa/ush/parsing_model_configure_FV3.sh#L15-L18).  For S4/ivy at all resolutions as well as Hera and Jet at C768, the `atm` files often fail to write in parallel and so this option

[2022-01-18 14:17] KateFriedman-NOAA commented on #578
Good catch! I [found and fixed](https://github.com/NOAA-EMC/global-workflow/commit/d98e40de652e2d8889c6fe3452bbf57042354599#diff-0c12b82e8a85c4622771f0b7c22d31b58da587751f7cc01e89de215655267d04) the same duplicate in the operations branch already (feature/ops-wcoss2).

[2022-01-18 15:01] #578 closed, assigned to WalterKolczynski-NOAA

[2022-01-18 15:02] #577 closed, assigned to nobody

[2022-01-18 18:37] KateFriedman-NOAA commented on #399
Moving comment from PR to issue:

@HelinWei-NOAA @WenMeng-NOAA @MichaelLueken-NOAA NCO (@WeiWei-NCO) has made a few changes in the newest GFS installation on Dogwood (what we handed off last Thursday). A few files in your respective repos are included in that changeset. Please see those files listed in the following document, make the needed updates in your repos, and provide updated tags to me. T

[2022-01-18 18:59] HelinWei-NOAA commented on #399
@KateFriedman-NOAA Done. [new tag](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v1.25.0)

[2022-01-18 19:20] KateFriedman-NOAA commented on #399
Thanks @HelinWei-NOAA !

[2022-01-18 21:14] XuLi-NOAA commented on #313
Two issues were raised in this #313.

1. The inclusion of dbuoyb and mbuoyb in the cycling run before 2020102200.
2.  The definition of dmesh(3), and actually dmesh(4) as well, in config.eobs, for EnKF thinning.

The item 1 has been resolved (see comments above).
However, I am not sure item 2 (it seems not resolved yet). Anybody can confirm?

[2022-01-18 21:15] aerorahul commented on #313
@XuLi-NOAA Please open a new issue.

[2022-01-18 21:35] XuLi-NOAA opened #595 "Thinning box size definition for EnKF in config.eobs"
In config.eobs,

there is a line

export OBSINPUT_INVOBS="dmesh(1)=225.0,dmesh(2)=225.0,"

to set the thinning box size to be 225 km, for dmesh(1) and dmesh(2).

However, there  will be four defined thinning box sizes, including dmesh(3)=100 (km) and dmesh(4)= 70  in exglobal_atmos_analysis.sh,

dmesh(3) is applied to amsr2_gcom-w1, gmi_gpm and saphir_methat
dmesh(4) is applied to 4 avhrr and 2 vi

[2022-01-18 21:39] XuLi-NOAA commented on #313
A new one, https://github.com/NOAA-EMC/global-workflow/issues/595, has been opened.
This one is closed.

[2022-01-18 21:39] #313 closed, assigned to nobody

[2022-01-19 12:27] MichaelLueken commented on #399
@KateFriedman-NOAA New tag with necessary changes has been made - [gfsda.v16.2.0](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.2.0).

[2022-01-19 12:45] aerorahul commented on #595
@XuLi-NOAA
What are the recommended default values that need to be set in `config.eobs` for the `dmesh` variable?

If you provide those values, we can update them. We will wait for your input.

[2022-01-19 14:13] KateFriedman-NOAA commented on #399
Thanks @MichaelLueken-NOAA !

[2022-01-19 15:08] #562 closed, assigned to nobody

[2022-01-19 16:06] DavidHuber-NOAA opened #596 "Broken links to GSI RadMon and OznMon script, source, and fix files"
**Expected behavior**

Links to OznMon and RadMon scripts and fix files should be valid.

**Current behavior**

The links to OznMon and RadMon scripts are broken in the `jobs`, `scripts`, `ush`, and `parm/mon`.  The source and fix file links are also broken.

**Machines affected**

All

**To Reproduce**

After running `checkout.sh` and `link_workflow.sh`, check links to OznMon and RadMon files and

[2022-01-19 16:26] lgannoaa opened #598 "[Bug] gfs_atmos_gempak_meta silent fail"
Silent fail found in gfs gempak meta job. Here is the ecflow job log from NCO wcoss2 para:
    /lfs/h1/ops/para/output/20220116/gfs_atmos_gempak_meta_00.o526230 (line 2068)
      /lfs/h1/ops/para/packages/gfs.v16.2.0/scripts/exgfs_atmos_gempak_meta.sh[86]: [: argument expected
grep "argument expected" gfs_atmos_gempak_meta_00.o526230
/lfs/h1/ops/para/packages/gfs.v16.2.0/scripts/exgfs_atmos_gempak

[2022-01-19 16:28] aerorahul commented on #598
@lgannoaa Please use the Issue template provided.

[2022-01-19 16:28] #598 closed, assigned to aerorahul, WalterKolczynski-NOAA, KateFriedman-NOAA

[2022-01-19 16:36] lgannoaa opened #599 "gfs_atmos_gempak_meta silent fail"
Silent fail found in gfs gempak meta job. Here is the ecflow job log from NCO wcoss2 para:
[code]

This issue also exist in current operation:
[code]

**Expected behavior**

No silent fail is expected.
**Current behavior**

Has silent fail.
**Machines affected**

Current operation GFS in Dell and wcoss2 NCO para.
**To Reproduce**

Run the job with normal condition.
**Context**

**Detailed Descript

[2022-01-19 16:38] WalterKolczynski-NOAA commented on #599
Is there an actual failure, or just a warning? The shell code is littered with undefined variables that pop warnings like this but don't impact the output (at least, for normal usage).

Should be fixed either way, but has a big impact in how we triage it.

[2022-01-19 16:41] lgannoaa commented on #599
This issue is open on request from Wei Wei.

[2022-01-19 16:42] WalterKolczynski-NOAA commented on #599
Also, please copy any output files (especially those from ops) into a [gist](https://gist.github.com/) and link to the gist, rather than relying on paths that might change.

[2022-01-19 17:36] BoiVuong-NOAA commented on #599
Hi WalterKolczynski,
It is just a warning.  The job (JGFS_ATMOS_GEMPAK_META) has passed i the variable to the script
#find out what fcst hr to start processing
fhr=$fhend      where  fhend=384 forecast hour
The condition check for variable fhr is to prevent the job needs to rerun an entire of all forecast hours (384) or just to rerun at the forecast hour that requested.   The job still produce the

[2022-01-19 18:33] aerorahul commented on #588
@DavidHuber-NOAA
Do you know if this is a system issue or a model issue?
What is the frequency of the "often fail"?

[2022-01-19 18:56] DavidHuber-NOAA commented on #588
@aerorahul
I believe this is a system issue.  I have yet to see it happen on the S4/S4 partition and rarely on Orion, but I have observed it on Hera and Jet and quite often on the S4/Ivy partition.  By 'often fail', I mean that with 80 ensemble members, Ivy will almost always have at least one bad netCDF write every cycle.  On xjet at C768, the parallel atm writes failed twice for me over six GFS

[2022-01-19 19:08] aerorahul commented on #588
@DavidHuber-NOAA Thanks for a detailed report.
This is useful information to us.

[2022-01-19 19:20] WalterKolczynski-NOAA opened #600 "Improve organization of FV3 output filetype settings"
**Description**
The determination of the FV3 model output filetype is a bit unwieldy because it is combining two filetype (atm and sfc) that need determined separately based on resolution and machine performance.

**Acceptance Criteria (Definition of Done)**
Separate output filetype variables for atm and sfc that are set with other resolution-dependent settings and later combined to form the appro

[2022-01-19 19:29] #588 closed, assigned to nobody

[2022-01-19 20:19] WalterKolczynski-NOAA opened #601 "Remove support for nemsio"
**Description**
For a while global-workflow was supporting both the legacy nemsio filetype as well as NetCDF. There is no longer any need to support the older filetype, and UFS doesn't even support it anymore.

**Requirements**
Remove any code branches that depend on $OUTPUT_FILE, keeping only the code relevant for netcdf.
Any variables that are no longer needed should be removed, and any variable

[2022-01-19 20:29] BoiVuong-NOAA commented on #599
I reconstructed the job (gfs_atmos_gempak_meta) and used Lin's input gempak files from:
 COMIN=/lfs/h2/emc/ptmp/Lin.Gan/ecfops/com/para/gfs/v16.2/gfs.20211227/00/atmos/gempak.
The gempak meta job run fine and all output gempak meta files are correct.

[2022-01-21 16:16] XuLi-NOAA commented on #595
@aerorahul : As I said above, 100 km is recommended for dmesh(4), for avhrr and viirs (surface channels only currently).

However, I don't know about dmesh(3), which are used for amsr2_gcom-w1, gmi_gpm and saphir_methat. As I understand, at least two of them will be used in the coming GFSv16.x. I am not sure who is responsible for these three instruments.
And as I understand, dmesh(3) and dmesh(4)

[2022-01-24 13:31] DavidHuber-NOAA commented on #357
@KateFriedman-NOAA During the Jet testing, I had a failed call to global_gsi.x during a gdasanal job.  However, the job failed to exit and the gdasfcst was then called, which failed.  I've opened a GSI ticket: NOAA-EMC/GSI#293.

[2022-01-24 14:49] AndrewEichmann-NOAA opened #604 "build_ncep_post.sh failing on Venus 3.5"
Hello,

I searched issues for ncep_post and didn't find anything obviously outstanding.

**Expected behavior**

Clean finish for build_ncep_post.sh during build_all.sh

**Current behavior**
build_ncep_post.sh fails with the end of the log
/gpfs/dell2/emc/modeling/noscrub/Andrew.Eichmann/fv3gfs/global-workflow/sorc/logs/build_ncep_post.log
reading like so:

+ cmake -DCMAKE_INSTALL_PREFIX=../install

[2022-01-24 16:41] KateFriedman-NOAA commented on #357
Roger that, thanks for the update @DavidHuber-NOAA !

[2022-01-26 19:54] WalterKolczynski-NOAA commented on #604
Dell 3.5 isn't currently a supported machine. Please use Dell 3 instead.

[2022-01-26 20:00] #604 closed, assigned to nobody

[2022-01-26 20:12] AndrewEichmann-NOAA commented on #604
whoops, sorry!

[2022-01-26 23:33] HelinWei-NOAA commented on #561
Both gldas and ufs_utils have used the same file machine-setup.sh. It seems that some commends are no longer supported by hera.

source machine-setup.sh
__ms_function_name=setup__test_function__83289: Command not found.
__ms_function_name: Undefined variable.

@GeorgeGayno-NOAA I think this file was introduced by you to gldas. Any idea how to fix this issue? Thanks.

[2022-01-27 01:20] WalterKolczynski-NOAA commented on #561
ufs_utils has already been fixed when they converted the remaining modulefiles to lua. I don't think it is related to machine-setup.

[2022-01-27 02:01] HelinWei-NOAA commented on #561
Agreed. Those commands can only be run with bash.

[2022-01-27 02:16] arunchawla-NOAA commented on #584
we assign a number of processors to the forecast step, if we have an error at the namelist creation / checking level then we are potentially wasting resources. I was thinking that namelists would be created at the experiment set up level, but that would not work for changes that have to be done for reruns

[2022-01-27 02:44] aerorahul commented on #584
Even if namelists are created at experiment setup level, there are some parameters in namelists e.g. stochastic physics that are (random) seeds based on cycle and ensemble member.  This is perhaps the only example I can find that has runtime information.  Other runtime information is related to cycle date, which I think occurs in several places in the GFS.

The setup can take us a lot farther, con

[2022-01-27 02:48] WalterKolczynski-NOAA commented on #584
I had envisioned a separate fcst prep job run before the forecast, but I'm not against something created at setup time. As Rahul points out, that method has its advantages. We should be able to set it up so that just a few settings like date and whatever is needed for restarts are templated and we just fill in those few key parameters at runtime.

[2022-01-27 13:33] GeorgeGayno-NOAA commented on #561
@HelinWei-NOAA Use the latest version of 'develop', which fixes this problem.

[2022-01-27 13:51] Hang-Lei-NOAA commented on #561
@HelinWei-NOAA <https://github.com/HelinWei-NOAA>  From nceplibs side, we
did not change any other things except removing some snapshots
installations of ESMF due to the disk space limitation. The switch to the
release version of esmf can solve it.

On Thu, Jan 27, 2022 at 8:34 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-01-27 14:36] lgannoaa opened #609 "wcoss2 transition checkout.sh - some package not clone implementation release"
Your bug may already be reported!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Expected behavior**

checkout.sh for wcoss2 GFS transition should checkout release tag for this implementation.
**Current behavior**

Some package clone checked out and submodule update resulting the latest head version of the package been checkout.
Thi

[2022-01-27 14:56] KateFriedman-NOAA commented on #609
@lgannoaa This is just simply not true. The component tags are checking out correctly in feature/ops-wcoss2. Just because it says "no branch" when you do `git branch` doesn't mean it's wrong. If you do `git log -1` you will see that it's the tag and what hash it's on. I just did a fresh clone of feature/ops-wcoss2 to illustrate my point, here is what you see in the gsi.fd folder after checkout (it

[2022-01-27 15:21] lgannoaa commented on #609
8c9c114d hash in the example as a date Thu Jan 27. It is clearly after the implementation code handout. Where is the approve from NCO to this update? gsi checkout is just an example of this bug. There are other packages checked out in similar approach.

Kate.Friedman@dlogin04:/lfs/h2/emc/global/noscrub/Kate.Friedman/git/feature-ops-wcoss2_check/sorc/gsi.fd> git log -1
commit 8c9c114d9ca2fd0a3c0d54

[2022-01-27 15:35] KateFriedman-NOAA commented on #609
Obviously...changes/fixes have been happening, you can't expect NCO to not update their testing clone during this process. This is a normal part of the implementation process, especially with regards to ports like this.

NCO has been making changes and keeping those changes local in their install. The changes that were vetted by NCO and EMC were then folded into the respective components and new/u

[2022-01-27 16:02] lgannoaa commented on #609
NCO normally making changes on their local location after code delivery from test, para, to prod. EMC bring the final NCO change back to update the implementation release. NCO should be able to run checkout.sh anytime and get exact same hash as code delivered. With exception that NCO request to update a checkout tag.
Any local modification after code delivery can not be checkout from NCO code deli

[2022-01-27 16:26] aerorahul commented on #609
I just checked out `feature/ops-wcoss2` on WCOSS2 and here is the log out:
[code]

I did disable recursive checkout of gsi, since I don't have vlab set up on WCOSS2.

Inspecting the directories randomly, I see the correct hashes for the tags that are in `checkout.sh`.

[2022-01-27 16:26] #609 closed, assigned to nobody

[2022-01-27 18:39] DavidHuber-NOAA opened #610 "Separate threading options for gdasfcst and gfsfcst"
**Expected behavior**

When `nth_fv3` is different from `nth_fv3_gfs` in config.fv3, config.resources should reference those options when calculating forecast GFS and GDAS forecasts.

**Current behavior**

Only the `nth_fv3` variable is referenced on [line 211](https://github.com/NOAA-EMC/global-workflow/blob/d3028b9d8268028226f9c27800fcd6655e9e4bb8/parm/config/config.resources#L211), resulting in

[2022-01-27 18:53] KateFriedman-NOAA commented on #610
@DavidHuber-NOAA Thanks for reporting this bug! We had a similar bug on the `operations` branch side that I fixed with a similar fix during the GFSv16.0.7 upgrade. See the line 10 addition in this commit: https://github.com/NOAA-EMC/global-workflow/commit/3786256240e76982c54a5be6d8a7277530d9dd47

During the WCOSS2 port, where we needed similar differentiation between the gdas/gfs suites, I also ad

[2022-01-27 21:45] arunchawla-NOAA commented on #599
Is this still an issue ? @lgannoaa since you reported it can you provide a fix and confirm that the silent failure is gone?

[2022-01-27 21:54] lgannoaa commented on #599
@arunchawla-NOAA looking at the current wcoss2 NCO testing, it is still showing argument expected in job log:
/lfs/h1/ops/para/output/20220127/gfs_atmos_gempak_meta_00.o1109892
Lin.Gan@ddecflow02:/lfs/h1/ops/para/output/20220127> grep "argument expected" gfs_atmos_gempak_meta_00.o1109892
/lfs/h1/ops/para/packages/gfs.v16.2.0/scripts/exgfs_atmos_gempak_meta.sh[86]: [: argument expected
/lfs/h1/ops/

[2022-01-27 21:57] WalterKolczynski-NOAA commented on #599
@arunchawla-NOAA this is a broader issue than what is here. This should probably just be marked as a duplicate of #397. Once we turn on checks for uninitialized variables, this sort of thing will be weeded out.

[2022-01-27 21:59] arunchawla-NOAA commented on #599
OK, if it is covered in #397 then suggest closing this then ? Unless you want to capture the information here

[2022-01-27 22:14] lgannoaa commented on #599
@arunchawla-NOAA I was research for the solution and working on this issue. @WalterKolczynski-NOAA closed it without my input.

[2022-01-27 22:19] WalterKolczynski-NOAA opened #613 "Add ensemble forecast support"
Skeleton EPIC to be filled in later with tasks that need to be completed to add ensemble support

[2022-01-27 22:27] arunchawla-NOAA commented on #599
@lgannoaa I asked him to since it is a duplicate of #397. We should decide if that needs to be elevated to clean up our scripts

[2022-01-27 22:39] arunchawla-NOAA commented on #534
I will investigate the origin of this

[2022-01-27 22:45] lgannoaa commented on #599
Looks like this issue is caused by exgfs_atmos_gempak_meta.sh script use wrong syntax in statement typeset -Z2 fhr.
This is not a unassigned variable issue.
Code typeset -Z2 fhr works when $fhr is a number. It will not work as desired if $fhr is a string.
Still need time to research for detail and solution to fix it. @arunchawla-NOAA do you still want this issue to be closed?

[2022-01-27 22:53] WalterKolczynski-NOAA commented on #599
It seems like it is technically still an undefined variable issue, just one caused internally. printf should be used in place of typeset and the statements should be taken out of if-blocks.

I've added an item to #397 to make sure we are always using printf consistently, but I've reopened this issue if we want to fix just this instance more immediately.

[2022-01-27 22:54] arunchawla-NOAA commented on #595
DA Group is investigating these. This will be put on hold till we get clarification for them. Referencing @ADCollard

[2022-01-27 23:07] lgannoaa commented on #599
@BoiVuong-NOAA
Please take a look at exgfs_atmos_gempak_meta.sh and let us know why line 74 do the typeset on a string?
1. This error resulting line 87 not been executed. Can we remove the use of typeset with a workaround that is safe? Maybe implement a check before typeset to ensure the variable type is desired if no available workaround?
2. If line 87 is not need can you double check and remove

[2022-01-28 02:01] BoiVuong-NOAA commented on #599
@lgannoaa
You can change this line in the script exgfs_atmos_gempak_meta.sh as below:
export fhr    ---->   export fhr=$fhr
Note: The JGFS_ATMOS_GEMPAK_META should run after JGFS_ATMOS_GEMPAK_META job is finished.
I ran the same job with all gempak files  from your  COMIN=/lfs/h1/ops/para/com/gfs/v16.2/gfs.20211227/00/atmos/gempak
and the job ran fine and all output gempak meta files are same as y

[2022-01-28 02:45] BoiVuong-NOAA commented on #599
I have modified the script exgfs_atmos_gempak_meta.sh and tested with NCO data at exgfs_atmos_gempak_meta.sh.
You can pick up this script at: /lfs/h2/emc/vpppg/noscrub/Boi.Vuong/lin
Would you try to run it with your ecflow ? Please let me know if you see any issues.
Note: The JGFS_ATMOS_GEMPAK_META should run after JGFS_ATMOS_GEMPAK job is finished.

[2022-01-28 15:12] KateFriedman-NOAA commented on #599
Tagging @WeiWei-NCO for his knowledge

[2022-01-28 15:19] BoiVuong-NOAA commented on #599
Thanks, Kate.

[2022-01-28 17:11] KateFriedman-NOAA commented on #599
After speaking to @WeiWei-NCO I have pulled @BoiVuong-NOAA's modified copy of `exgfs_atmos_gempak_meta.sh` into `feature/ops-wcoss2` at 53b101e0.

Any further work for this issue or may I close it? Thanks!

[2022-01-28 19:04] arunchawla-NOAA opened #618 "Cleaning up utils directory"
If this is a bug, please consider using the [Bug Report](./bug_report.md) template.
Your issue may already have been created!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Description**
The UTILS directory under global workflow contains a lot of code that may no longer be used. This issue is to track and identify all the codes that

[2022-01-28 19:06] arunchawla-NOAA commented on #618
There is a discussion happening here (https://github.com/NOAA-EMC/global-workflow/discussions/615) on utilities that should be part of GSM and not part of this repository

[2022-01-28 19:14] arunchawla-NOAA commented on #618
@HelinWei-NOAA and @barlage there is a config.gldas in global workflow that sets FINDDATE to HOMEgfs/util/ush/findate.sh but I cannot see that being used anywhere. There is a call for a local version of finddate but that line is commented out

[2022-01-28 19:15] arunchawla-NOAA commented on #618
I also cannot see verfdate.sh being used anywhere in the workflow

[2022-01-28 19:27] arunchawla-NOAA commented on #618
The file make_ntcfile.pl is not used anywhere

[2022-01-28 19:31] arunchawla-NOAA commented on #618
The script xlf_links.sh is also not used anywhere

[2022-01-28 19:41] arunchawla-NOAA commented on #618
The scripts snd2forgn and snd2forgntbl are not being used anywhere

[2022-01-28 19:43] HelinWei-NOAA commented on #618
It has been used by both gldas_forcing.sh and gldas_archive.sh.

[2022-01-28 19:47] arunchawla-NOAA commented on #618
Those scripts are not part of global workflow right ?

[2022-01-28 19:48] arunchawla-NOAA commented on #618
The script sndncdc is not used anywhere

[2022-01-28 20:00] HelinWei-NOAA commented on #618
They are part of global workflow under ush

[2022-01-28 20:16] #599 closed, assigned to LinGan-NOAA

[2022-01-30 18:52] aerorahul commented on #366
I believe this Epic has been completed.
Reopen if not.

[2022-01-30 20:27] WalterKolczynski-NOAA commented on #366
Still awaiting aerosol support.

[2022-01-31 14:49] #33 closed, assigned to nobody

[2022-01-31 17:35] arunchawla-NOAA commented on #345
@XianwuXue-NOAA is this issue complete ?

[2022-01-31 17:53] XianwuXue-NOAA commented on #345
Almost done, since we have the MPI-allreduce issue in GSI, though this is a system issue, we can fix it, however, we need to work with Steven and George to finalize it next week. After this fix, I will close this issue.

[2022-01-31 17:58] KateFriedman-NOAA opened #619 "Add runtime debug option to setup scripts"
**Description**

This issue adds the ability to add the debug flag to scheduler submissions when needed. The following flag, when used on WCOSS2, runs jobs in debug mode and provides additional information in the logs:

[code]

Developers would like to be able to easily toggle on/off this scheduler flag when testing. It can be added into the rocoto xml or, in the future, the ecflow script schedule

[2022-01-31 21:46] BrettHoover-NOAA opened #622 "gdasgldas task fails with Restart Tile Space Mismatch"
**Expected behavior**
gdasgldas task should complete successfully and global-workflow should continue to cycle fv3gdas

**Current behavior**
gdasgldas task is failing on the first cycle in which the task is not skipped (first 00z analysis period when enough data has been produced to trigger task).

**Machines affected**
This error is being expressed on Orion.

**To Reproduce**
I am seeing this bug

[2022-01-31 21:49] CatherineThomas-NOAA commented on #622
@HelinWei-NOAA

[2022-01-31 22:57] XianwuXue-NOAA commented on #345
@arunchawla-NOAA The issue I mentioned in the previous comment is https://github.com/NOAA-EMC/GSI/issues/289

[2022-01-31 23:27] XianwuXue-NOAA commented on #348
Has fixed this issue on GEFSv12.2

[2022-01-31 23:27] #348 closed, assigned to XianwuXue-NOAA

[2022-01-31 23:49] HelinWei-NOAA commented on #622
see the email from  Dave
-----------------------
Hi Helin and Jun,

I am finding with a recent upgrade of the global workflow that there is a mismatch between the land-sea mask algorithms of the UFS and the GLDAS.  This is resulting in a failure of the gdasgldas job, specifically when the Land Information System (LIS) executable is run.  The error reported is 'Restart Tile Space Mismatch, Halting.

[2022-02-01 03:06] yangfanglin commented on #622
Is the cycling working without gdasgldas ?  Have the user tried at the operational resolutions (C768/C384) ?

[2022-02-01 13:35] BrettHoover-NOAA commented on #622
The cycling appears to fail when gdasgldas fails. I have not run at
operational resolution, the current run is an initial test-run I'm doing as
a new global-workflow user on Orion and the initial conditions were
provided to me at C384/C192.

Brett

On Mon, Jan 31, 2022 at 9:06 PM Fanglin Yang ***@***.***>
wrote:

[2022-02-01 13:49] CatherineThomas-NOAA commented on #622
@yangfanglin The experiment had no errors when running in the first few days before GLDAS turns on, so I assume that it would run if GLDAS was turned off altogether.

If as @HelinWei-NOAA says that GLDAS will not be used going forward, should we turn it off now in our experiments?  The DA team is still running atmosphere-only cases since we have non-coupling data upgrades to worry about.

[2022-02-01 13:59] yangfanglin commented on #622
@CatherineThomas-NOAA If the cycling at C384/C192 resolutions with gdasgldas turned on is working on WCOSS, there is likely issues related to the setups on Orion.  I had some discussion with Daryl about the use of gdasgldas in future systems. We can discuss more about this issue with Daryl offline.

[2022-02-01 14:08] CatherineThomas-NOAA commented on #622
@AndrewEichmann-NOAA Has your WCOSS experiment progressed to the point where the gldas step is run?  If so, did it fail or run without issue?

[2022-02-01 15:07] AndrewEichmann-NOAA commented on #622
@CatherineThomas-NOAA No - I ran into rstprod access issues and am waiting for a response from helpdesk

[2022-02-01 16:30] DavidHuber-NOAA opened #624 "Local ROTDIR archiving option"
**Description**

For systems that do not have access to HPSS (e.g. Orion and soon S4), an option should be added to store the ROTDIR archives locally.

**Requirements**

Options will be added to config.base to allow local archiving which will be populated by defaults set in setup_expt.py.  The earc.sh and arch.sh job scripts will also need to be enhanced to allow `tar` to be used when archiving lo

[2022-02-01 17:30] CatherineThomas-NOAA commented on #622
Thanks @AndrewEichmann-NOAA.  I can run a short warm start test on WCOSS.

[2022-02-02 14:48] CatherineThomas-NOAA commented on #622
The warm start test on WCOSS ran the gldas step without failure.  Now that Hera is back, I can try a quick test there as well.

[2022-02-02 15:43] CatherineThomas-NOAA commented on #622
Global-workflow develop does not build on Hera (#561), so I can't run this test at this time.

[2022-02-02 16:18] #476 closed, assigned to KateFriedman-NOAA

[2022-02-02 16:18] #561 closed, assigned to WalterKolczynski-NOAA

[2022-02-02 16:19] #558 closed, assigned to WalterKolczynski-NOAA

[2022-02-02 18:54] DavidHuber-NOAA opened #625 "GFS archiving job fails when cyclone tracking isn't performed"
**Expected behavior**

The gfsarch job should be able to archive to HPSS on cycles when there are no cyclones to track.  An example cycle is 2020080600.

**Current behavior**

When htar is called on gfsa.txt, the tracking files are not found for 2020080600, resulting in an error.

**To Reproduce**

1. Start a cycled test on 2020080500
2. Run the cycling until 2020080600 and let the gfsarch job sub

[2022-02-02 18:56] DavidHuber-NOAA commented on #625
I would be happy to take this issue on if I can be advised on whether to let gfsarch fail if tracking information should have been generated.

[2022-02-02 19:21] DavidHuber-NOAA commented on #622
I ran into this issue with the S4 and Jet ports, which I reported to Helin.  I have since turned off GLDAS altogether and everything has run OK out to 10 days.

Below is more of the thread between Helin, @junwang-noaa, and myself:

David,

GLDAS should use the same land-sea mask as UFS. If the land-sea mask can be changed during the forecast, that certainly will bring up some issues for GLDAS.

He

[2022-02-02 21:12] arunchawla-NOAA commented on #357
Hi Can someone provide a status on this ? @KateFriedman-NOAA @lgannoaa @WalterKolczynski-NOAA @DavidHuber-NOAA

[2022-02-03 07:56] #536 closed, assigned to aerorahul

[2022-02-03 17:31] KateFriedman-NOAA opened #630 "Update EMC_verif-global tag to verif_global_v2.9.1"
**Description**

EMC_verif-global was updated to use hpc-stack modules. See https://github.com/NOAA-EMC/EMC_verif-global/issues/89

The tag version of EMC_verif-global in `sorc/checkout.sh` should be updated to the new `verif_global_v2.9.1` tag.

**Acceptance Criteria (Definition of Done)**

The new tag works in a cycled test on Hera, Orion, and WCOSS.

**Dependencies**

Test on tier 1 supported p

[2022-02-03 18:34] DavidHuber-NOAA commented on #357
@arunchawla-NOAA The global workflow code changes are complete.  I have completed cycled, ATM tests at C192/C96 (40-cycle) and C384/C192 (4-cycle) on xjet.  I still need to run a 1-cycle C768/C384 test on xjet and a 5-cycle C384/C192 kjet.

I have working ports of the TC_Tracker and Fit2Obs in my personal area on Jet that need to be incorporated into their respective authoritative repos.  Jiayi ha

[2022-02-03 19:45] jkhender opened #631 "out of memory error with init task"
**Expected behavior**
init task should complete successfully

**Current behavior**
my init tasks are failing with an 'out of memory' error

**Machines affected**
hera

**To Reproduce**
Run init task from global workflow. I tested with the top of develop branch as well as my older workflow used in my realtime runs.

current realtime setup
EXPDIR/XML file:
/scratch1/BMC/gsd-fv3/rtruns/UFS-CAMsuite_d

[2022-02-03 19:47] KateFriedman-NOAA commented on #631
@GeorgeGayno-NOAA Likely need your inputs on adjusting resources for the gfsinit job, which runs chgres_cube via UFS_UTILS. Thanks!

[2022-02-03 19:58] GeorgeGayno-NOAA commented on #631
I can take a look.

[2022-02-03 20:01] wzzheng90 opened #632 "Issue about loading module (Lmod) in global-workflow on Hera"
**Description**

I use the rocotorun to submit jobs with the old global-workflow after Raghu Reddy rolled back
the lmod change on Hera, but still have a problem about Lmod as follows:

      Lmod has detected the following error: Cannot load module
     "hpc-intel/18.0.5.274" without these module(s) loaded:
      intel/18.0.5.274

More detailed messages can be found in /scratch1/NCEPDEV/stmp2/Weiz

[2022-02-03 20:21] arunchawla-NOAA commented on #357
Thanks David, @JiayiPeng-NOAA and @jack-woollen can you work with @KateFriedman-NOAA and complete the updates to the authoritative repos for TC Tracker and Fit2Obs so we can close this task ?

[2022-02-03 20:26] arunchawla-NOAA commented on #498
There has been no traffic on this for a while. Do we know where we stand with this ? @lgannoaa @aerorahul @KateFriedman-NOAA and @WalterKolczynski-NOAA

[2022-02-03 20:33] lgannoaa commented on #498
@arunchawla-NOAA NCO modified the post resource assignment. I think we can close this ticket.

[2022-02-03 20:33] #498 closed, assigned to nobody

[2022-02-03 20:33] GeorgeGayno-NOAA commented on #631
@KateFriedman-NOAA and @jkhender - I copied Judy's fort.41 file to my own space. I compiled 'develop', then kicked off chgres as a stand-alone job (not as part of the workflow). It worked for me with 4 nodes/6 tasks per node. Go to /scratch1/NCEPDEV/da/George.Gayno/noscrub/judy to see the script I used and log file. So I am not sure why it is not working for you. Kate, I will need to learn how the

[2022-02-03 20:36] WalterKolczynski-NOAA commented on #631
I didn't see any error when I tried last night either. Only thing I could think of was @jkhender is targeting a different resolution that requires more memory to do the interpolation.

[2022-02-03 20:59] aerorahul commented on #632
@wzzheng90
A test was created on Hera to emulate the behavior of loading modules in the jobs.
The test is available at: `/home/Rahul.Mahajan/test`

Please do the following:
[code]

Next, you can try submitting the `test_modules2.sh` to a compute node with something like this:
[code]

You should see a `slurm-*.out` file containing the output.

Tagging @RaghuReddy-NOAA

[2022-02-03 21:39] wzzheng90 commented on #632
@RaghuReddy-NOAA:  Thanks!  I did according to your instruction and the output can be found in "/home/Weizhong.Zheng/slurm-28207142.out".

[2022-02-03 21:42] wzzheng90 commented on #632
Sorry.  Should be to @Rahul.Mahajan

[2022-02-03 21:59] WalterKolczynski-NOAA commented on #632
Looks like all the modules loaded fine in that test.

[2022-02-03 22:01] WalterKolczynski-NOAA commented on #632
@wzzheng90 in the future, it is a good idea to dump logfiles into a GitHub gist so people don't have to access the HPC to see it: [Weizhong's module test log](https://gist.github.com/WalterKolczynski-NOAA/17515df495fe4b32f0b1a3eba920a41a)

[2022-02-03 22:18] wzzheng90 commented on #632
@WalterKolczynski-NOAA :  Thanks.

[2022-02-03 22:26] jkhender commented on #631
@GeorgeGayno-NOAA @KateFriedman-NOAA  - I'm running C768. I just copied what George did in my own directory and it ran fine for me standalone.

/scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/scratch/tmp/chgres_gg

[2022-02-04 00:55] jkhender commented on #631
@GeorgeGayno-NOAA @KateFriedman-NOAA   I also ran another standalone pointing to my realtime executable and files and it also completed successfully.
/scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/scratch/tmp/chgres_gg/ufsdev1

[2022-02-04 03:41] arunchawla-NOAA commented on #632
If the modules are loading fine, is this still an issue @wzzheng90 ? Curious, when you say old global workflow what exactly do you mean ?

[2022-02-04 03:44] arunchawla-NOAA commented on #631
Is this still an issue @jkhender ? Is the standalone job working but not as part of workflow ?

[2022-02-04 03:52] arunchawla-NOAA commented on #622
@HelinWei-NOAA @barlage and @yangfanglin should Jun's suggestion be followed at the mask be generated for GLDAS from the history file ? It would be good to know if the same issue is seen on other platforms

[2022-02-04 03:57] arunchawla-NOAA commented on #595
@MichaelLueken-NOAA the DA team decided that this issue must first be tackled under GSI. Do you mind opening this issue under GSI first. We will put this on hold here till we get recommendation from the DA team on how to proceed

[2022-02-04 04:07] yangfanglin commented on #622
@arunchawla-NOAA   Cathy reported that "the warm start test on WCOSS ran the gldas step without failure".  So the failures on other platforms might be a porting issue.  @CatherineThomas-NOAA Cathy, can you confirm ? What is the  resolution you tested on WCOSS ?  I assume you were using the GFS.v16* tag instead of the UFS, right ?

[2022-02-04 04:16] wzzheng90 commented on #632
@arunchawla-NOAA :  I tried several times, and I still have this issue when I used the rocoto to submit the jobs.    The global workflow version was cloned last month and used to run P8a.
       As Kate mentioned from her email, the newer develop branch of global-workflow shouldn't be having issues since it already uses the new hpc-stack modules.  I am trying this new version, but I am wondering w

[2022-02-04 04:28] aerorahul commented on #632
@wzzheng90
The test I constructed is using the HOMEgfs from your path and not the develop branch.
It is loading exactly what your branch is loading.

[2022-02-04 05:22] wzzheng90 commented on #632
@aerorahul :    Yes, I tried your test without issue.  I am wondering if there is anything changed when "rocoto" submits jobs.
For example, the first script is "gfscoupled_ic" step.  The beginning from its output ("gfscoupled_ic.log") is as follows:

+ . /scratch2/NCEPDEV/land/Weizhong.Zheng/noscrub/git_UFS_P8amini/global-workflowDiag/ush/load_fv3gfs_modules.sh
+++ ulimit -S -s
++ ulimit_s=unlimit

[2022-02-04 07:12] WalterKolczynski-NOAA commented on #622
@BrettHoover-NOAA I'm unable to access either the code or experiment directories.

I ran a test on Orion a few days ago and didn't have any issue, so this probably isn't a port issue. I'm setting up another test just to be sure.

[2022-02-04 13:27] CatherineThomas-NOAA commented on #622
My test on WCOSS was C384/C192 with warm start initial conditions from the PR [#500](https://github.com/NOAA-EMC/global-workflow/pull/500) test.  This was using the head of develop global-workflow at the time [(d3028b9),](https://github.com/NOAA-EMC/global-workflow/commit/d3028b9d8268028226f9c27800fcd6655e9e4bb8) compiling and running with atmosphere only.  Since then, I've run new tests on Hera a

[2022-02-04 13:33] aerorahul commented on #632
@wzzheng90

I recreated a test by submitting your experiment with `rocoto` version 1.3.3 and was unable to reproduce the error you report.

I copied your XML `/scratch1/NCEPDEV/stmp2/Weizhong.Zheng/P8amini/EXPDIR/R_Diag3h_20120701/R_Diag3h_20120701.xml` to `/home/Rahul.Mahajan/test/myR_Diag3h_20120701/R_Diag3h_20120701.xml` and am only running the first job `gfscoupled_ic`.

I also copied the job

[2022-02-04 13:48] wzzheng90 commented on #632
@aerorahul :  Sounds good.  I am going to try this test and see if this kind of runs works under my environment.

[2022-02-04 14:18] arunchawla-NOAA commented on #632
@wzzheng90 this sounds like an environment issue at your end. Are you loading modules in your environment somewhere ?

[2022-02-04 14:51] lisa-bengtsson opened #633 "Post processing fails on Hera after maintenance with out of memory"
Machine: Hera

This error started showing up after hera maintenance on 01Feb22.

After the LMOD reversal yesterday, the model ran again, but the post processing fails (with no updates after Hera maintenance) with a out of memory message:

"slurmstepd: error: Detected 1 oom-kill event(s) in StepId=28213791.0. Some of your processes may have been killed by the cgroup out-of-memory handler."

My log

[2022-02-04 15:06] MichaelLueken commented on #595
@arunchawla-NOAA A new issue ([#296](https://github.com/NOAA-EMC/GSI/issues/296)) was created under the NOAA-EMC/GSI repository for this to be addressed.

[2022-02-04 15:10] wzzheng90 commented on #632
@aerorahul   I load modules only from ".cshrc" under my home directory.
BTW,   I got the same error when running the first job only:
        rocotorun -v 10 -w R_Diag3h_20120701.xml -d R_Diag3h_20120701.db
So, most likely, it would be related the my environment setup.

[2022-02-04 15:14] XuLi-NOAA commented on #595
Andrew said we set dmesh(3)=225 km and dmesh(4)=100 km in config.eobs

[2022-02-04 15:26] rreddy2001 commented on #633
Hi Lisa,

I was curious about the above error, so I took a quick look at it but it seems to have completed normally:
`
hfe03.% grep 'exit code' /scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/comrot/long_progsigma/logs/2019101900/gfspost001.log.5
Job 27529890 (not serial) finished for user Lisa.Bengtsson in partition hera with exit code 0:0
hfe03.%

hfe03.% grep -i oom /scratch2/BMC/rem/L

[2022-02-04 15:28] lisa-bengtsson commented on #633
Hi! Thanks for taking a look, Kate asked me to provide an example log that was completed before the maintenance, that is the gfspost001.log.5

After Hera maintenance I get the memory error in gfspost001.log (e.g not the .5)

[2022-02-04 15:35] lisa-bengtsson commented on #633
I am trying to rebuild gfs_ncep_post now, and will try rerun the gfspost001 job after building.

[2022-02-04 15:54] lisa-bengtsson commented on #633
Ok, that did not work. Same error message after rebuilding:

slurmstepd: error: Detected 1 oom-kill event(s) in StepId=28231120.0. Some of your processes may have been killed by the cgroup out-of-memo\
ry handler

[2022-02-04 15:58] lisa-bengtsson commented on #631
@jkhender did you manage to solve this problem? I'm getting:

slurmstepd: error: Detected 1 oom-kill event(s) in StepId=28231120.0. Some of your processes may have been killed by the cgroup out-of-memo\
ry handler

in the post processing, wonder if it is related?

[2022-02-04 16:54] jkhender commented on #631
Yes, this is still an issue when running the **init** task with the global workflow. I can run standalone job fine. My forecast and post jobs also complete successfully with the workflow.

[2022-02-04 16:57] lisa-bengtsson commented on #631
Ok, thanks for getting back to me

[2022-02-04 17:39] jkhender commented on #631
I don't know if this is related or not.  When comparing my before/after maintenance log files, I see this difference under the ulimit -a output:

before maintenance

+ulimit -a
...
nice                           (-e)  0
**nofile                         (-n)  131072**
nproc                          (-u)  380571

after maintenance

ulimit -a
...
nice                           (-e)  0
**nofile

[2022-02-04 17:42] KateFriedman-NOAA commented on #631
@jkhender Good catch! I know I had to add the following to my .bashrc to support running the UPP on Hera:
[code]

@RaghuReddy-NOAA Was there a ulimit-related change on Hera during the Tuesday maintenance? Thanks!

[2022-02-04 17:43] KateFriedman-NOAA commented on #631
Note, I haven't tried running anything on Hera this week so I can't confirm if that `ulimit` setting I have in my .bashrc resolves this OOM kill issue or not. I've had that in my .bashrc for a long time.

[2022-02-04 17:45] jkhender commented on #631
In env/HERA.env, the unlimited setting is in there.

ulimit -s unlimited
ulimit -a

[2022-02-04 17:49] KateFriedman-NOAA commented on #631
Right! Forgot I put that in there. Thanks @jkhender for checking!

[2022-02-04 17:49] lisa-bengtsson commented on #631
I have this in my log that failed:

grep ulimit gfspost001.log
+ ulimit -S -s
+ ulimit_s=unlimited
+ ulimit -S -s unlimited
+ unset ulimit_s
0.021 + ulimit -s unlimited
0.021 + ulimit -a
0.010 + ulimit -s unlimited
0.010 + ulimit -a
0.009 + ulimit -s unlimited
0.009 + ulimit -a
0.008 + ulimit -s unlimited
0.008 + ulimit -a

And this in my log that ran:
grep ulimit gfspost001.log.5
+ ulimit -S -s
+

[2022-02-04 17:57] jkhender commented on #631
@lisa-bengtsson  I had checked logfiles gfspost002.log.0 and gfspost002.log.1  in your directory:

/scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/comrot/long_progsigma/logs/2019101900

-rw-r--r-- 1 Lisa.Bengtsson rem 1204572 Feb  3 17:04 gfspost002.log.0
-rw-r--r-- 1 Lisa.Bengtsson rem 3233674 Jan 31 19:42 gfspost002.log.1

[2022-02-04 17:59] lisa-bengtsson commented on #631
@jkhender I recompiled and ran, so both log.0 and log.1 are failing with memory problem. From what I can see, the last one working is gfspost001.log.5. In this one I do not see execution of HERA.env. So perhaps something else changed?

[2022-02-04 18:02] lisa-bengtsson commented on #631
gfspost001.log.2 seems to have finished fine as well, before the update.

[2022-02-04 18:14] lisa-bengtsson commented on #633
@KateFriedman-NOAA do you have a "HERA.env" in a working experiment that I could compare with?

[2022-02-04 18:18] rreddy2001 commented on #631
We are looking at a few things.  Please submit hera helpdesk if you have already done so.

[2022-02-04 18:20] KateFriedman-NOAA commented on #633
The HERA.env copy in develop should work, no one has reported any issues with the develop branch on Hera yet this week:

https://github.com/NOAA-EMC/global-workflow/blob/develop/env/HERA.env

@WalterKolczynski-NOAA @JessicaMeixner-NOAA Have you happened to run the develop branch on Hera this week post-maintenance at all? Thanks!

[2022-02-04 18:40] wzzheng90 commented on #632
@aerorahul   It works with your suggestions (clear my home directory; modification of .bash_profile and .cshrc) and then I can successfully run a single job test.
After successfully testing a single job, I am running the full global-workflow successfully too.
Really appreciate you for time and efforts on my issue!!

Also thanks a lot for Raghu, Kate and Walter for kindly helps!!   @RaghuReddy-NOAA

[2022-02-04 18:45] wzzheng90 commented on #633
@lisa-bengtsson:   I also have an issue on Hera after maintenance (#632) and just now, it got resolved by @aerorahul and others.  Perhaps it would be helpful for your issue.
Best,

Weizhong

[2022-02-04 18:52] lisa-bengtsson commented on #633
@wzzheng90 thank you! What did you update in your .bash_profile and .cshrc environment exactly?

[2022-02-04 18:58] wzzheng90 commented on #633
@lisa-bengtsson :     Rahul suggested me to do as follows:

1)        [ -z "$PS1" ] && return
put this on top of your .bash_profile

2)        if ( ! $?prompt ) exit
put this on. your first line of .cshrc

[2022-02-04 19:09] lgannoaa commented on #495
Close this issue because post resource assignment has been changed. This issue is obsolete.

[2022-02-04 19:09] #495 closed, assigned to LinGan-NOAA

[2022-02-04 19:15] lisa-bengtsson commented on #633
@wzzheng90 thank you for your suggestion, but it does not seem to solve this problem unfortunately

[2022-02-04 19:19] wzzheng90 commented on #633
@lisa-bengtsson  I also cleaned up my home directory and then copied some necessary files back.

[2022-02-04 19:33] lgannoaa commented on #633
@lisa-bengtsson  @wzzheng90 If the issue remains and need assistance from us, please ensure you have KEEPDATA=YES in your config.base to save the DATA directory for debug.
Please save a snapshot of your HOMEgfs, EXPDIR, COM, and this job log file. I see file reading error on reading postxconfig-NT.txt file.
-rw-r--r-- 1 Lisa.Bengtsson rem 361K Feb  4 19:26 /scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv

[2022-02-04 19:44] WalterKolczynski-NOAA commented on #622
I was able to run a 6½-cycle warm-start from a fresh clone overnight without issue. I'm also using the C384 ICs Cathy produced for PR #500.

[2022-02-04 19:45] lisa-bengtsson commented on #633
I restarted the gfspost001 job with KEEPDATA=YES.

I cannot see the file reading error you alluded to in the log?

[2022-02-04 20:09] lisa-bengtsson commented on #633
Can you see the DATA directory you want for debug? I don't know where this would end up.

[2022-02-04 20:09] lgannoaa commented on #633
I am debugging now. Thank you for the information.

[2022-02-04 20:56] lgannoaa commented on #633
Hi @lisa-bengtsson,
In checking with your run, looks like you are using a very old copy. For example, the post package (cea545) was created in 2020/9/30. You may need to update your package unless there is a requirement for it.

For now, would you please make a backup and replace the following modified files and rerun your post job:
$HOMEgfs/parm/config/config.post
$HOMEgfs/parm/config/config.reso

[2022-02-04 20:59] lisa-bengtsson commented on #633
Hi @lgannoaa , yes it is very old, and I have tried very hard to maintain this version in order to run GFSv16 physics (as it is not possible to run GFSv16 with the develop source code anymore).

I will do a test as you suggest and let you know. Thank you!

[2022-02-04 21:16] lgannoaa commented on #633
Looks like you are try to run GFSv16 physics with export CCPP_SUITE="FV3_GFS_v16beta"
This action happen within forecast jobs. Using a new version of post should not have impact.
Let me prepare step-by-step for your next test - Replace post package. This will allow us to use the latest job resource assignment that has been tested on Hera.

[2022-02-04 21:27] lisa-bengtsson commented on #633
Unfortunately copying in your modified suggestions did not change the memory issue I'm running into. You can see the latest log.

Yes, I could update the post-processing if I can keep my model source code , suite definition and namelist. Thank you.

[2022-02-04 21:30] WalterKolczynski-NOAA opened #635 "Clean up the machine-setup script"
**Description**
The machine-setup script is a bit convoluted and is loading a bunch of modules that likely aren't needed because we already have module files that are loaded.

**Requirements**
- Determine whether the shell detection can just use $SHELL instead
- Use $SITE if available to determine machine, only fall back on other methods on machines that don't define it
- Remove unneeded module lo

[2022-02-04 21:35] lgannoaa commented on #633
Please try the following:
cd /scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/sorc
mv gfs_post.fd gfs_post.fd-OLD
ln -s /scratch1/NCEPDEV/stmp2/Lin.Gan/issue-633/gfs_post.fd
rm -f gfs_ncep_post.fd
ln -s /scratch1/NCEPDEV/stmp2/Lin.Gan/issue-633/gfs_post.fd/sorc/ncep_post.fd gfs_ncep_post.fd
cd /scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/scripts
mv exgdas_atmos_nceppost.sh exgd

[2022-02-04 22:24] lisa-bengtsson commented on #633
It is sitting in queue, should I re-build an executable with these?

[2022-02-04 22:31] lisa-bengtsson commented on #633
I get this error: slurmstepd: error: execve(): /scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/exec/gfs_ncep_post: No such file or directory

Do I need to recompile or change somewhere to not look for gfs_ncep_post?

Thanks

[2022-02-04 22:43] lisa-bengtsson commented on #633
In exec:

[Lisa.Bengtsson@hfe03 exec]$ ls -lrt gfs_ncep_post
lrwxrwxrwx 1 Lisa.Bengtsson rem 34 Dec  7  2020 gfs_ncep_post -> ../sorc/gfs_post.fd/exec/ncep_post

If I cd into ../sorc/gfs_post.fd/exec/ncep_post
pwd:
/scratch1/NCEPDEV/stmp2/Lin.Gan/issue-633/gfs_post.fd/exec
[Lisa.Bengtsson@hfe03 exec]$ ls
upp.x

There is only the upp.x

Thanks

[2022-02-05 02:54] #632 closed, assigned to nobody

[2022-02-05 17:09] lisa-bengtsson commented on #633
Hi again,

I linked your executable like this:

ln -s /scratch1/NCEPDEV/stmp2/Lin.Gan/issue-633/gfs_post.fd/exec/upp.x gfs_ncep_post

and started the job again. It fails with the same original error message (out of memory). If no one else is getting these out of memory issues in post-processing after the maintenance, perhaps it is related to my environment?

============
 FULLMODELNAME: GFS
slurms

[2022-02-05 18:07] lisa-bengtsson commented on #633
I also tried updating HERA.env, module_base.hera and load_fv3gfs_modules.sh without any luck..

[2022-02-06 01:27] rreddy2001 commented on #631
Hi Kate,

If you are able to run the job outside of Rocoto successfully we would like to see how much memory does a successful run use.
Can you please add the following two command to the end of your job file:

printenv
report-mem

It will be helpful to get the same info for the run under Rocoto too please.

For the run that fails in Rocoto it may not get to the end of job file, so the --epilog ap

[2022-02-07 06:35] jkhender commented on #631
I added the memory information to the jobs I am running standalone.  Logs are at

/scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/scratch/tmp/chgres_gg/fv3chem/log_0207
/scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/scratch/tmp/chgres_gg/ufsdev1/log_feb07

I will add the epilog info to the workflow tomorrow and run a test.

[2022-02-07 07:43] jkhender commented on #631
I added the epilog parameter to my srun command in my global workflow and the log file is at

/scratch1/BMC/gsd-fv3/rtruns/UFS-CAMsuite_dev1/FV3GFSrun/rt_ufscam_l127_dev1/logs/2022020700/gfsinit.log

[2022-02-07 13:52] KateFriedman-NOAA commented on #534
Resolved. Closing now.

[2022-02-07 13:52] #534 closed, assigned to LinGan-NOAA

[2022-02-07 14:44] rreddy2001 commented on #631
@jkhender thank you for those runs! I just wanted to make sure those jobs were not close to the limit, and looks like there is plenty of room for the successful runs.

[2022-02-07 15:06] BrettHoover-NOAA commented on #622
@CatherineThomas-NOAA I was able to complete your test with the new develop [(97ebc4d)](https://github.com/NOAA-EMC/global-workflow/commit/97ebc4d4e6483b135468d85cd9ed974f88955914) and warm-start ICs on Orion, and I ran into no problems, gdasgldas appears to finish successfully.

[2022-02-07 15:18] CatherineThomas-NOAA commented on #622
@BrettHoover-NOAA Great to hear.  It looks like your Orion environment is working properly.  Maybe to round out this set of tests you could try the warm-start 2020083000 ICs but with the original workflow that you cloned, assuming you still have it.

[2022-02-07 16:13] lgannoaa commented on #633
I noticed, you used debug queue in your $EXPDIR/$PSLOT.xml
Please change to the following and rerun your post job.
ENTITY QUEUE      "batch"

[2022-02-07 16:29] lisa-bengtsson commented on #633
I get the same problem in the batch queue:

/scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/comrot/long_progsigma/logs/2019101900/gfspost001.log

[2022-02-07 16:39] lisa-bengtsson commented on #633
Do you happen to know if there has been any dialogue with Hera folks if any update they did on February 1st would impact this? I submitted a ticket to their helpdesk as well, but I have not heard back yet.

[2022-02-07 16:45] KateFriedman-NOAA commented on #633
Yes, I have been chatting with @RaghuReddy-NOAA offline about the OOM kill in issue #631 and we looked at this one briefly too. Working on the init job OOM kill right now (may be related) and one of the Hera helpdesk folks is looking at whether the SLURM update that happened during last week's maintenance impacted this somehow.

[2022-02-07 16:48] KateFriedman-NOAA commented on #633
@lisa-bengtsson Question... @RaghuReddy-NOAA and I were wondering if you modified your HERA.env to set the ulimit to a value instead of unlimited. Saw that while looking through your latest post log.

[2022-02-07 16:52] jkhender commented on #633
@lisa-bengtsson @KateFriedman-NOAA   I noticed over the weekend that my chem C384 post jobs have also been failing with an out of memory error since the hera maintenance. I let @RaghuReddy-NOAA know about this as well in email exchanges we had for #631

[2022-02-07 17:01] wzzheng90 opened #636 "Building fails on Hera ("build_all.sh")"
"build_all.sh" is not working on hera since last weekend.  Is anyone else having trouble compiling it?   Possibly related to "Disk quota exceeded"?

=====The error messages are as follows:
% build_all.sh -c
Received -c flag, building ufs-weather-model for S2SW app
skipping builds not needed for prototype runs
 .... Building WW3 pre and post execs ....
Fatal error in building WW3 pre/post processin

[2022-02-07 17:04] lisa-bengtsson commented on #633
@KateFriedman-NOAA apologies, I tested a lot of different settings in HERA.env over the weekend, all still resulting in memory error. I just now reverted to the HERA.env file that is https://github.com/NOAA-EMC/global-workflow/blob/develop/env/HERA.env and I still see the same message.

[2022-02-07 17:05] lisa-bengtsson commented on #633
Also, thanks to the update regarding Hera communication.

[2022-02-07 17:32] BrettHoover-NOAA commented on #622
@CatherineThomas-NOAA I have that test running right now, I'll report back ASAP

[2022-02-07 18:58] WalterKolczynski-NOAA commented on #636
If you got "Disk quota exceeded" during checkout, it didn't finish cloning all the components. Delete the g-w clone and start over, then let us know if you still have issues.

[2022-02-07 19:55] lgannoaa commented on #633
Your job card needs to be changed. Please replace your:
$EXPDIR/long_progsigma.xml
with
/scratch1/NCEPDEV/global/Lin.Gan/expdir/issue-633/long_progsigma.xml
And rerun your post job.
You can reference to my completed job log:
/scratch1/NCEPDEV/stmp2/Lin.Gan/ptmp/com/long_progsigma/logs/2019101900/gfspost006.log
If it is done at your satisfy. may I close this ticket?

[2022-02-07 20:02] KateFriedman-NOAA commented on #633
@lgannoaa I am testing a fix for both this issue and issue #631. I have gotten the init job to run successfully by specifying memory at submission time. I am testing a gfspost job right now to confirm the same thing helps with that OOM kill. Will send more details after I finish my test on Hera.

[2022-02-07 20:11] KateFriedman-NOAA commented on #631
@jkhender Please try the following:

1) add these two settings to your `config.resources`:

to the init block:
[code]
to the post block:
[code]

2) rerun setup_workflow*py to update the xml; you should now have these new MEMORY settings for the init and post jobs in your xml:
[code]

3) rerun the jobs that had OOM kills and let me know if they still fail

Thanks! @lisa-bengtsson FYI, this might be

[2022-02-07 20:50] lisa-bengtsson commented on #633
@KateFriedman-NOAA @jkhender @lgannoaa The suggestion to specify memory at submission time works! I had to go all the way up to 200GB though, without really having a good reference number for memory usage, that sounds pretty high? Do you think it is OK to leave it at 200GB? This experiment is C768.

[2022-02-07 20:51] lisa-bengtsson commented on #633
(This is for post processing, did not try initialization yet)

[2022-02-07 20:53] rreddy2001 commented on #633
@lisa-bengtsson 200 GB definitely seems extremely high!  What was the biggest memory size that you tried that failed?
Can you point me to your job output file please? Also, do you have the "report-mem" command at the end of the job file to see the amount of memory used?

[2022-02-07 20:55] WalterKolczynski-NOAA commented on #633
Specifying too high a number mostly just means you will move through the queue slower and occupy a bigger footprint than needed, but won't impact the actual performance. But that is useful information as we try to determine what value to use in develop.

[2022-02-07 20:58] lisa-bengtsson commented on #633
@rreddy2001 This is my log-file:
/scratch2/BMC/rem/Lisa.Bengtsson/ufs_gfsv16_prog_closure/comrot/long_progsigma/logs/2019101900/gfspost001.log

I did try 20GB, 30GB and 100GB, which still did not work, then I went to 200GB, I suppose I could try something closer to 100GB.

I don't see a "report-mem" command, can you let me know the syntax, I can add it.

[2022-02-07 21:00] rreddy2001 commented on #633
@lisa-bengtsson Here is the link about getting memory information:
https://rdhpcs-common-docs.rdhpcs.noaa.gov/wiki/index.php/Running_and_Monitoring_Jobs_on_Jet_and_Hera(Theia)_-_SLURM#How_to_Get_Memory_Usage_Information

[2022-02-07 21:04] wzzheng90 commented on #636
@WalterKolczynski-NOAA :  The code was checked out before and it worked last week.  Just modified something and would like to re-compile it again.   I tried again and got the similar problem.

[2022-02-07 21:10] lisa-bengtsson commented on #633
@rreddy2001

do I add:

printenv
report-mem

at the end of long_progsigma.xml or in the post processing task?

Thanks @WalterKolczynski-NOAA I can try some lower number, hopefully I can see the actual usage

[2022-02-07 21:13] jkhender commented on #631
@KateFriedman-NOAA  That worked for my init tasks. I can now run to completion by adding the 100G for memory. For the post tasks, I am still seeing the out of memory error when I added 20G for memory.

[2022-02-07 21:22] WalterKolczynski-NOAA commented on #633
@lisa-bengtsson add it to the bottom of the j-job (the script in the `jobs/` directory) for any jobs you need to profile

[2022-02-07 21:31] jkhender commented on #631
@KateFriedman-NOAA   If I use 40G for post, it now completes.

[2022-02-07 21:33] jkhender commented on #633
@lisa-bengtsson @RaghuReddy-NOAA @WalterKolczynski-NOAA   For my post jobs that were failing with out of memory, I was able to request 40G and mine completed successfully. They are at C384 resolution.

[2022-02-07 21:34] lgannoaa commented on #571
@JessicaMeixner-NOAA
Looks like config.fcst wired in export FRAC_GRID=".true."
ush/parsing_namelists_FV3.sh is the only script check in cpl is set to true before add frac_grid into input.nml.
Is moving frac_grid    = ${FRAC_GRID:-".true."} to the cat block above satisfy your request (parsing_namelists_FV3.sh line 325)?
cat >> input.nml <<EOF
  do_sppt      = ${do_sppt:-".false."}
  do_shum      =

[2022-02-07 21:34] KateFriedman-NOAA commented on #631
@jkhender Awesome, was just gonna have you try more. Your post job is likely processing more forecast hours than mine did so that makes sense.

[2022-02-07 21:36] JessicaMeixner-NOAA commented on #571
Yes, I actually just told @WalterKolczynski-NOAA that I have this update in a branch.

[2022-02-07 21:37] lisa-bengtsson commented on #633
@jkhender thanks for the info. My C768 jobs worked for the upper atmosphere, but failed in the surface with 100GB. It works with 200GB. Trying to figure out now what to set.

@WalterKolczynski-NOAA I think I need to revert some of the updates that I did to search for a solution earlier in this thread as the post processing "jobs/" scripts are pointing to /Lin.Gan/ directory and I don't have permis

[2022-02-07 21:51] lgannoaa commented on #571
Which branch should I do the PR in?

[2022-02-07 21:52] JessicaMeixner-NOAA commented on #571
I already have the code I need.  I'll submit it with a PR to develop with the other changes I'm doing.

[2022-02-07 21:52] lgannoaa commented on #571
Ok

[2022-02-07 21:53] JessicaMeixner-NOAA commented on #332
Do we still need to do a test with this or did we complete this?

[2022-02-07 21:58] lgannoaa commented on #587
Solution found. PR provided. NCO confirmed the test is successful.

[2022-02-07 21:59] HelinWei-NOAA commented on #332
We can close this topic.

On Mon, Feb 7, 2022 at 4:54 PM Jessica Meixner ***@***.***>
wrote:

[2022-02-07 21:59] #332 closed, assigned to barlage, HelinWei-NOAA

[2022-02-07 22:18] jkhender commented on #631
Do we know what changed after the hera maintenance that we needed to add the memory settings?

[2022-02-08 04:23] WalterKolczynski-NOAA commented on #636
I checked your log. I have no idea why you are getting a disk quota error there. All that is happening on that line is sorting a small file and writing it to a different small file:
[code]
The `filelist.tmp` exists (`/scratch2/NCEPDEV/land/Weizhong.Zheng/noscrub/git_UFS_P8amini/global-workflowDiag/sorc/ufs_model.fd/WW3/model/tmp/filelist.tmp`). I'm able to build successfully on Hera using the same

[2022-02-08 04:23] #636 closed, assigned to WalterKolczynski-NOAA

[2022-02-08 06:58] aerorahul commented on #587
@lgannoaa
I believe PR #629 addressing this issue is still open and unmerged.
This issue will be automatically closed/resolved when the PR #629 is merged into its destination branch.
Issues are linked to PR's and are closed with the PR, unless the issue is resolved or deemed unnecessary through other means (e.g. discussion etc).

Also, can you please provide information from NCO regarding their va

[2022-02-08 13:07] JessicaMeixner-NOAA commented on #636
@wzzheng90 as we discussed in emails with @KateFriedman-NOAA and @WalterKolczynski-NOAA said above, please switch to using the tag prototype/coupled_8a

[2022-02-08 14:22] wzzheng90 commented on #636
@WalterKolczynski-NOAA:  Thanks!!  I have contacted the Hera helpdesk and created a ticket.
@JessicaMeixner-NOAA:   Yes, I am also working on the tag prototype/coupled_8a with your and Kate's suggestions.
The similar problem happens on this version too.   As Walter mentioned, this sounds like an RDHPCS problem, for these g-workflow versions worked before.  Thanks.

[2022-02-08 15:20] WalterKolczynski-NOAA opened #639 "Convert modulefiles to lua and hpc-stack (v16)"
**Description**
The remaining (non-WCOSS2) modulefiles need to be converted to from TCL to lua on the v16 branch and accept version numbers. The updated modulefiles also need to load hpc-stack modules.

**Requirements**

1. Convert all module files from TCL to lua and allow versions to be set by sourcing a versions file beforehand.
2. Set modulefiles to load hpc-stack modules.

**Acceptance Criter

[2022-02-08 15:32] BrettHoover-NOAA commented on #622
@CatherineThomas-NOAA The warm-start test with the original workflow also finished successfully.

[2022-02-08 15:51] GeorgeGayno-NOAA commented on #639
FYI - the GFSv16.2.0 tag of UFS_UTILS is already 'lua' compliant on all non-WCOSS2 machines. See:
https://github.com/ufs-community/UFS_UTILS/releases/tag/ops-gfsv16.2.0 and https://github.com/ufs-community/UFS_UTILS/issues/580

[2022-02-08 16:01] GeorgeGayno-NOAA commented on #582
UFS_UTILS 'develop' was updated to be 'lua' compliant on all machines. See https://github.com/ufs-community/UFS_UTILS/pull/614 and https://github.com/ufs-community/UFS_UTILS/issues/613

[2022-02-08 16:08] KateFriedman-NOAA commented on #639
Thanks for confirming @GeorgeGayno-NOAA ! UFS_UTILS appeared to be the furthest ahead in the LUA game when we took a gander. Will just need the hpc-stack updates for Hera/Orion from you then, I see [the issue you just opened](https://github.com/ufs-community/UFS_UTILS/issues/629), thanks!

[2022-02-08 16:28] KateFriedman-NOAA commented on #631
Not entirely sure but this jives with other recent memory-related issues we saw on Hera/Orion after SLURM updates. We need to specify memory more now, that's on us.

[2022-02-08 17:04] CatherineThomas-NOAA commented on #622
@BrettHoover-NOAA Great!  There may have been an incompatibility with the other ICs then.

@HelinWei-NOAA @DavidHuber-NOAA Is the land-sea mask problem that you mentioned early documented elsewhere?  Can this issue be closed?

[2022-02-08 17:11] lgannoaa commented on #587
@aerorahul you are right. Contacted Wei Wei and he requested another change to remove a library from gfs/gdas wave prep job.
I made the change and tested it.
Wei Wei confirmed it is also tested in para in an email.

[2022-02-08 17:42] wzzheng90 commented on #636
This issue is related to the project disk space problem (file count limit).  I tried it on different disk
and it is working without issue.  So, we need to remove as many files under the project as possible, or try to find a way to solve this problem if it happens again in future.

[2022-02-08 17:47] HelinWei-NOAA commented on #622
@CatherineThomas-NOAA No. It  hasn't been documented elsewhere. But I have let Fanglin and Mike know this issue. IMO this issue can be closed now.

[2022-02-08 18:02] DavidHuber-NOAA commented on #622
@CatherineThomas-NOAA I'm also OK with this issue being closed.

[2022-02-08 20:44] lgannoaa commented on #520
I fixed it in:
/lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2/scripts/exgdas_atmos_nceppost.sh
/lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2/scripts/exgfs_atmos_nceppost.sh
Please contact post code manager to pickup this fix.

[2022-02-08 21:04] WalterKolczynski-NOAA commented on #520
@lgannoaa please submit it as a PR to the post repo

[2022-02-09 01:58] #596 closed, assigned to DavidHuber-NOAA