[2022-06-03 18:45] lgannoaa commented on #830
gfswavepostpnt, gfswavepostbndpntbll and gfswavepostbndpnt job cards are modified to increase time.

[2022-06-06 04:49] #736 closed, assigned to JessicaMeixner-NOAA

[2022-06-06 14:43] KateFriedman-NOAA commented on #798
Sent announcement about WCOSS1 ops upgrade to glopara and FV3 listservs.

All tasks for GFSv16.1.8 upgrade are now complete. Closing issue. Thanks all!

[2022-06-06 14:43] #798 closed, assigned to KateFriedman-NOAA

[2022-06-06 17:33] lgannoaa commented on #830
@arunchawla-NOAA @aerorahul @GeoffManikin-NOAA This parallel is suspended as of June 6th 8:00AM EST (all cycles prior to 2022060400 are completed) due to the following events:
1. WCOSS2 dev (cactus) machine will be offline today for user account maintenance. It is unclear to the developer when the machine will be back on-line.
2. HPSS is scheduled on maintenance tomorrow June 7th.
3. The parallel

[2022-06-07 05:35] #679 closed, assigned to WalterKolczynski-NOAA

[2022-06-07 05:35] #746 closed, assigned to WalterKolczynski-NOAA

[2022-06-07 15:21] RussTreadon-NOAA commented on #711
Any updates as to where we stand with regards to cycling from the head of g-w `develop`, currently [d78c942](https://github.com/NOAA-EMC/global-workflow/commit/d78c942a271e669b1fd5adf4f99af108c9f884fe)?

[2022-06-07 15:28] WalterKolczynski-NOAA commented on #711
Still waiting on GSI and hpc-stack to sort out their ncio issues (NOAA-EMC/GSI/issues/348)

[2022-06-07 15:30] RussTreadon-NOAA commented on #711
OK.  I'll wait.  Thanks @WalterKolczynski-NOAA for the update.

[2022-06-07 18:38] KateFriedman-NOAA opened #844 "Retire VSDB"
**Description**

The VSDB is no longer supported as the verification package for GFS/global-workflow. Users should now be using METplus (DO_METP) for their verification needs, in addition to Fit2Obs. It's time to retire VSDB from global-workflow `develop`.

Will make item 4 in issue #235 moot.

FYI @yangfanglin

**Requirements**

- [ ] Remove `DO_VSDB` in `config.base`*
- [ ] Remove [VSDB variable

[2022-06-07 18:45] KateFriedman-NOAA commented on #844
Created branch [feature/retire-vsdb](https://github.com/NOAA-EMC/global-workflow/tree/feature/retire-vsdb) for this work.

[2022-06-07 18:51] KateFriedman-NOAA commented on #844
@malloryprow Is there anything in VSDB that METplus needs for some reason? I see references to VSDB in `config.metp`:

[code]

[2022-06-07 18:52] yangfanglin commented on #844
Agreed.  It is the time

On Tue, Jun 7, 2022 at 2:38 PM Kate Friedman ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2022-06-07 18:57] malloryprow commented on #844
@KateFriedman-NOAA Nope all good. Those are just references on how to organize the METplus data archive.

[2022-06-08 20:05] lgannoaa commented on #830
On June 8th 4:00p EST. WCOSS2 Dogwood is returned to the developer. This parallel is in progress of recover. The on-line archive is been rsync-ed.
This parallel is now resumed with Hybrid (concurrent cycle running at the same time) mode turned on. First cycle is 2022060400 on Dogwood.

[2022-06-09 01:25] lgannoaa commented on #830
NCEP VPN internet down at 9:00p EST on June 8th. Impact:
- No Internet when connected to VPN
- All Dogwood SSH connection drop out, and unable to connect.

The Internet working again after about 30 minutes.

[2022-06-09 02:06] lgannoaa commented on #830
@malloryprow this parallel is resumed on Dogwood. The first two days 2022060400-2022060518 (eight cycles) run is completed. Please take a look at the files and continue to run the verification jobs. Let me know if you have any questions.
This parallel is caught on near realtime. That is currently PDY-2 on Dogwood.

[2022-06-09 13:42] #787 closed, assigned to XianwuXue-NOAA

[2022-06-09 21:29] lgannoaa commented on #776
@arunchawla-NOAA @aerorahul @emilyhcliu @MichaelLueken-NOAA @RussTreadon-NOAA @KateFriedman-NOAA
This parallel is setup on Dogwood. Please note the following configuration information.
I will have a meeting with Emily to review the package before startup the run. This meeting is scheduled on June 10th.

HOMEgfs: /lfs/h2/emc/global/noscrub/lin.gan/git/gfsda.v16.3.0
pslot: da-dev16-ecf
EXPDIR: /lfs/

[2022-06-10 07:29] #769 closed, assigned to WalterKolczynski-NOAA

[2022-06-10 13:10] #844 closed, assigned to KateFriedman-NOAA

[2022-06-10 15:44] KateFriedman-NOAA commented on #802
Update to GLDAS has been made and a new tag cut by @HelinWei-NOAA :
https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v.2.1.0

[2022-06-10 15:48] KateFriedman-NOAA commented on #744
@emilyhcliu Can you confirm if the CRTM version is changing for this upgrade to `2.4.0`? If so, we need to update that in the relevant version files in global-workflow. Thanks!

[2022-06-10 15:58] lgannoaa commented on #776
A meeting with Emily on June 10th outline the following action:
- I will do a three cycled test run with current configuration
- Emily will review the output later
- There are still a few changes needed before this parallel can start:
1   ICs need to be modified (this will be done by Emily later)
2   Software package like fv3 and post need to be check by Emily to ensure the version checked out is

[2022-06-10 16:07] yangfanglin commented on #776
@emilyhcliu Emily, could you please check with Jun Wang and Helin Wei to make sure the updated forecast model is used in this cycled experiment ?    Model updates include changes in LSM for improving snow forecast and in UPP for fixing cloud ceiling calculation. (@junwang-noaa @HelinWei-NOAA @WenMeng-NOAA )

[2022-06-10 16:13] WenMeng-NOAA commented on #744
@KateFriedman-NOAA I should clarify that the UPP has been using CRTM 2.3.0 to generate simulated satellite products in GFS V16.3.0.

[2022-06-10 17:58] KateFriedman-NOAA commented on #776
@lgannoaa I'm working with Helin to get a new GLDAS tag ready (which includes a needed small update related to adding the "atmos" subfolder into the GDA, the PRCP CPC gauge file path needed to add it too). The current GLDAS tag in the `release/gfs.v16.3.0` branch will work for GDA dates prior to WCOSS2 go-live but not for dates after go-live (when the new "atmos" subfolder is added).

I'm also wor

[2022-06-10 18:01] KateFriedman-NOAA commented on #744
Ok, thanks @WenMeng-NOAA ! Will need to confirm with @emilyhcliu if the GSI is updating the CRTM version and if UPP will need to test with it or not. The [GFSv16.3.0 implementation spreadsheet](https://docs.google.com/spreadsheets/d/1fVa-yqGmxqwCrruq73agRKbXnpAPVzNOlvnu-pp1sn0/edit#gid=0) lists CRTM 2.4.0.

[2022-06-10 18:05] DavidHuber-NOAA commented on #622
@HelinWei-NOAA I'm ready to start gathering the new data.  Just to confirm, you only need me to run the first, cold start forecast with the UFS at the above resolutions and provide the sfc files, correct?  Also, do you need these output in nemsio?  Lastly, if you already have the FIX_T766 file for FRAC_GRID="false", does that case need to be rerun still?

[2022-06-10 18:19] junwang-noaa commented on #776
@HelinWei-NOAA I do not see the snow updates PR to the ufs-weather-model production/GFS.v16 branch. Would you please make one if the code updates are ready? Thanks

[2022-06-10 18:35] HelinWei-NOAA commented on #776
@junwang-noaa I created one on [fv3atm ](https://github.com/NOAA-EMC/fv3atm/pull/546)

[2022-06-13 16:01] lgannoaa commented on #776
HOMEgfs/parm/config config.resources.nco.static and config.fv3.nco.static have been used to fix eupd job card issue that caused it to fail. The Global Workflow emc.dyn versions of those configs aren't yet updated to run high res on WCOSS2.

[2022-06-13 17:20] GeorgeGayno-NOAA commented on #713
GDIT rewrote 'rsearch' and 'terp3'.  I tested their update in the 'feature/ops-wcoss2' branch on one canned case. Wall clock time was reduced (408 to 207 seconds). The output files were bit identical.

Should I open a test branch?

[2022-06-13 18:08] KateFriedman-NOAA commented on #713
Thanks for this update! This is great to hear! Is the runtime consistent from run to run? I can try it in a cycled plumbing test I have going on Dogwood to further check functionality and runtime.

My vote would be to get this into the `dev_v16` branch and then into the `release/gfs.v16.3.0` branch after that so we can get it into WCOSS2 ops via the GFSv16.3.0 upgrade. @aerorahul @emilyhcliu @arun

[2022-06-13 20:35] lgannoaa commented on #776
@emilyhcliu Please review the first three full cycles of the output from this parallel.
There were 7 and half cycles of a testing run available for review. It is located in:/lfs/h2/emc/ptmp/lin.gan/da-dev16-ecf/para/com/gfs/v16.3 The first half cycle is 20211015 18Z, and follow by 7 completed cycles.

[2022-06-14 12:47] lgannoaa commented on #830
HPSS will be unavailable on June 14th, Will rerun archive jobs as needed.

[2022-06-14 16:37] BrettHoover-NOAA opened #856 "gdasefcs task failure with NaN inputs to mpp_reproducing_sum(_2d), representing numerical instability"
**Description**
MEMBER 060 of the gdasefcs30 task is failing, with the log-file citing the following error:
1. A series of range violations from range_check, reporting out-of-bounds warnings
[code]
2. A series of "FATAL from PE" errors reporting NaN values representing a numerical instability, e.g.:
[code]
3. Backtrace of failure, e.g.:
[code]

Rewinding and rebooting the gdasefcs30 task does not

[2022-06-14 17:00] KateFriedman-NOAA commented on #744
Requested that Jun rename the new ufs-weather-model tag to reflect the GFS version it is for: `GFS.v16.3.0`

[2022-06-14 17:02] WalterKolczynski-NOAA commented on #856
I know cycling doesn't work in current develop, but the version of global workflow used here is a year old. The likely answer is that DELTIM needs to be reduced for whatever you're doing, but we can't chase bugs from year-old versions. Even then, if the need to increase DELTIM is due to other configuration changes, that's the responsibility of the user and not a bug.

Closing for now. If the resul

[2022-06-14 17:02] #856 closed, assigned to nobody

[2022-06-14 17:09] BrettHoover-NOAA commented on #856
Hi [WalterKolczynski-NOAA](https://github.com/WalterKolczynski-NOAA), I believe that this is a pre_p8b tag version of the code, but I don't know how to confirm that - my copy of the global-workflow is a direct copy of another user's code and they have told me this was a pre_p8b tag version. I hunted around their global-workflow's .git for the information on where it was cloned, but is there a way

[2022-06-14 17:14] WalterKolczynski-NOAA commented on #856
If you do a `git log`, it will give you the commit hash you are on and any tags or branches that point to it. But you're initial post said it used 96347ea, which was merged 2021 Jun 23. Tag pre_8b was created at the end of March this year.

[2022-06-14 17:25] BrettHoover-NOAA commented on #856
[WalterKolczynski-NOAA](https://github.com/WalterKolczynski-NOAA) I see the problem - I was looking at a global-workflow from the user in the wrong subdirectory, not the one I originally copied. I cannot find their git branch/tag information, which makes me think that their version was copied from yet another user.

I will try to track this down to confirm that the version we are using is pre_p8b

[2022-06-14 17:43] KateFriedman-NOAA commented on #744
@lgannoaa @emilyhcliu FYI, PRs #853 and #855 have been merged into the `release/gfs.v16.3.0` branch. The ufs-weather-model tag is now updated for the v16.3.0 upgrade. Update your testing clones when ready to get these updates. Thanks!

[2022-06-14 17:48] KateFriedman-NOAA commented on #802
All tasks for this issue are now complete. The new WCOSS2 GDA job is populating a test GDA with an `atmos` subfolder. As go-live on WCOSS2 occurs I will change the WCOSS2 GDA job to begin populating the official GDA folder. The work related to adding the `atmos` subfolder is complete though, so I will now close this issue. Thanks all!

[2022-06-14 17:48] #802 closed, assigned to KateFriedman-NOAA

[2022-06-14 19:35] lgannoaa commented on #776
A meeting with @emilyhcliu on June 14th. indicated there will be a few more short cycled tests required for package adjustment before start running the official implementation parallel.
This meeting also outlined the following action items need to happen before the next run of cycled testing.
1. CRTM v.2.4.0 - They are waiting for NCO to approve and install new version of CRTM v.2.4.0 on wcoss2. T

[2022-06-14 21:26] lipan-NOAA opened #857 "parameters changes for GEFS-Aerosols v12.3 updates"
**The targeted branch is "release/gefs_v12"**

There are three changes in /script/exglobal_fcst_nemsfv3gfs.sh
1. add max_output_fields in "diag_manager_nml";
2. change dust_alpha and dust_gamma in "chem_nml";
3. change fscav_aero in "gfs_physics_nml";

[2022-06-15 03:51] #814 closed, assigned to nobody

[2022-06-15 03:51] #815 closed, assigned to nobody

[2022-06-15 03:51] #816 closed, assigned to nobody

[2022-06-15 03:53] #817 closed, assigned to nobody

[2022-06-15 14:56] GeorgeGayno-NOAA commented on #713
@KateFriedman-NOAA I ran the test five times on Dogwood. The run times were very consistent -

Original code / Updated code:

1. 397 vs. 229 seconds
2. 373 vs. 207 seconds
3. 378 vs. 227 seconds
4. 414 vs. 206 seconds
5. 334 vs. 185 seconds

Which branch should I update?

[2022-06-15 14:58] KateFriedman-NOAA commented on #713
Awesome, thanks for that @GeorgeGayno-NOAA ! Please submit a PR into the `dev_v16` branch and we can discuss in there further as needed. Thanks!

[2022-06-15 19:57] lgannoaa commented on #776
A meeting with @emilyhcliu @aerorahul @KateFriedman-NOAA on June 15th outlined the following:
 A new job gdas/gfs prep will be installed in ecflow similar the the one running in realtime rocoto workflow. To run EMC gdas/gfs prep jobs to create prepbufr files.
 ecflow workflow will run internal MetPlus and gplots jobs for create verification Web page.
 Emily will check with DA team on UPP, UFS mode

[2022-06-15 20:14] HelinWei-NOAA commented on #622
@DavidHuber-NOAA With updates on some of fixed fields (oro, land-sea mask), I would like to regenerate all fixed fields for GLDAS. I only need one sfc file in nemsio (something like sfc.gaussian.nemsio) for each case. Thanks.

[2022-06-16 13:33] lgannoaa commented on #776
Information received from Daryl on June 16th outline the following:
1. Helin Wei is the POC for physics changes added to V16.3.   We do not need hourly output but would like to have 3-hourly 1-deg grib2 files from the 00Z cycle for an extended period of time for evaluation.
2. Hui-Ya and Yali Mao are the UPP contacts for GFS v16.3. Yali is making several changes to WAFS aviation products, so I ass

[2022-06-16 13:41] yangfanglin opened #863 "FIXfv3 not being set up correctly for atmos-only experiment in the latest workflow"
Issue:
An attempt to run  atmos-only experiment using the latest workflow (develop branch) and the model tag p8c revealed that FIXfv3 is not set up correctly for atmos-only runs if FRAC_GRID=.true..   The new VIIRS veg type datasets and new mask/oro datasets are only made available in the fix_fv3_fracoro directory.

In the original [exglobal_forecast](https://github.com/yangfanglin/global-workflow

[2022-06-16 14:11] lgannoaa commented on #776
Ali Abdolali is now assigned as WAVE point of contact.

[2022-06-16 20:19] KateFriedman-NOAA commented on #713
I've merged the code update into the `dev_v16` branch and then synced that update into the `release/gfs.v16.3.0` branch. Thanks @GeorgeGayno-NOAA !

Are there any more updates for this issue or can we close it now?

[2022-06-16 20:27] emilyhcliu opened #869 "Control the use of increments from precipitating hydrometeors"
Add control to the use of increments for precipitating hydrometeors
 The following two variables in the config.base will be changes from:

[code]

to

[code]

[2022-06-16 20:30] RussTreadon-NOAA commented on #711
**Orion test**
The recently installed `ncio/1.1.2` was tested in a low resolution parallel run on Orion.

The g-w for this test was the develop branch at 3194f52d.   This snapshot checkouts out ufs model tag Prototype-P8c.   `checkout.sh` was modified to clone NOAA-EMC/GSI develop at [ad84f17c](https://github.com/NOAA-EMC/GSI/commit/ad84f17c066d107313af573f7bb519536f5b0096).  `modulefiles/gsi_comm

[2022-06-16 20:55] #857 closed, assigned to nobody

[2022-06-16 20:59] WalterKolczynski-NOAA commented on #711
Thanks for the updates @RussTreadon-NOAA. Unfortunately, this finally hits right as I'm about to go on vacation. I'll get on it as soon as I get back on Jun 27.

[2022-06-16 23:01] RussTreadon-NOAA commented on #711
@WalterKolczynski-NOAA , enjoy your leave.

Can anyone else in EIB work on this between now and the end of the month?   g-w branch [feature/ufsda-gdasapp](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda-gdasapp) is waiting for the cycling capability to be restored to develop.   Once we can run cycled DA experiments from develop, I can merge develop into feature/ufsda-gdasapp, and op

[2022-06-16 23:01] yangfanglin commented on #863
From Shan Sun:

​​/scratch1/NCEPDEV/global/glopara/fix_NEW/fix_fv3_fracoro are the latest oro_data for p8 based on the latest 'MODIS+' dataset.

This oro_data, made for fractional grid, should be able to run in the case of non-fractional grid by setting frac_grid=F.  Also the fractional version of the sfc_data should work for the nonfrac case as well.  I tested it in p6 (and assume the same applie

[2022-06-16 23:34] yangfanglin commented on #863
Assuming  the "develop" branch will never be used to run current ops GFS.v16, I made the following changes

In config/config.fcst
 export FRAC_GRID=".true."
 export cplmode="nems_frac"

[code]

In /ush/forecast_predet.sh
[code]

@ChunxiZhang-NOAA  Chunxi, when you are done with the GOCART aerosol PR, could you please check, test and get this update into the workflow before p8 starts to run ?

[2022-06-17 00:11] HelinWei-NOAA commented on #863
@yangfanglin The setting is fine for for coupled forecasts in global workflow. @KateFriedman-NOAA pointed this out to me before.   In ush/forecast_postdet.sh the following is used to determine which set of fixed fields will be used.

        if [ $FRAC_GRID = ".true." ]; then
                OROFIX=${OROFIX:-"${FIX_DIR}/fix_fv3_fracoro/${CASE}.mx${OCNRES}_frac"}
                FIX_SFC=${FIX_SFC:-

[2022-06-17 00:35] yangfanglin commented on #863
@HelinWei-NOAA   Thanks.  I missed the postdet script.

 However, changes are still needed if we agree to use the same oro and fix datasets for both FRAC_GRD=T and FRAC_GRID=F.   This is necessary if we want to compare coupled vs atmos-only runs.   The new "MODIS+" based oro and masks etc should be used for all UFS global applications from this point forward.

[2022-06-17 09:42] RussTreadon-NOAA commented on #711
**Orion test - update**

Orion disk issues were resolved and the Orion low resolution parallel resumed.  The parallel ran through 7.5 more cycles to reach the specified EDATE.  All jobs ran to completion.

[2022-06-17 09:51] aerorahul commented on #711
@RussTreadon-NOAA
I can work with you.  I might be a bit rusty on configuring end-to-end system, but I will certainly try.

[2022-06-17 10:07] RussTreadon-NOAA commented on #711
Thanks, @aerorahul .   You are and will be quite busy as EIB staff take well deserved breaks following the WCOSS2 transition.  Here's a possible approach requiring less of your time.

I update feature/ufsda-gdasapp to the head of g-w develop.  `ncio/1.1.2` changes are incorporated into feature/ufsda-gdasapp.   Open a PR for merger of feature/ufsda-gdasapp into develop.   When approved the feature/

[2022-06-17 10:59] SMoorthi-emc commented on #863
Can someone point where all of these fixed fields are located on WCOSS2 for
all resolutions (including C3072)?
Until now things have been very fluid and hard to keep up.
Thanks
Moorthi

On Thu, Jun 16, 2022 at 8:35 PM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environme

[2022-06-17 13:16] ChunxiZhang-NOAA commented on #863
@yangfanglin Sure, I will work on this case after GOCART aerosol PR.

[2022-06-17 14:31] KateFriedman-NOAA commented on #713
Updated `enkf_chgres_recenter_nc` code has been committed to `develop`, `dev_v16`, and `release/gfs.v16.3.0` branches. Closing this issue now. Reopen as needed. Thanks @GeorgeGayno-NOAA !

[2022-06-17 14:31] #713 closed, assigned to aerorahul, KateFriedman-NOAA

[2022-06-17 15:03] yangfanglin commented on #863
I found it on Dogwood at /lfs/h2/emc/global/save/emc.global/FIX/fix_NEW.     New datasets for C1152 and C3072 are yet to be created and included in fix_fv3_fracoro

[2022-06-17 16:29] yangfanglin commented on #863
@GeorgeGayno-NOAA  George, for consistency UFS_UTIL should also be using the "new" fix_fv3_fracoro datasets instead of fix_fv3_gmted2010 for future UFS-based applications.

[2022-06-19 23:22] SMoorthi-emc commented on #863
Well, I don't see any C1152 or C3072 files there!
Moorthi

On Fri, Jun 17, 2022 at 11:03 AM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
P

[2022-06-21 14:54] GeorgeGayno-NOAA commented on #863
I will work this under - https://github.com/ufs-community/UFS_UTILS/issues/659

[2022-06-21 15:46] yangfanglin commented on #863
@KateFriedman-NOAA  Kate, could you please copy the C1152 dataset from /scratch1/NCEPDEV/global/Helin.Wei/sfc_fixed_mar2022 to the standard ./fix_fv3_fracoro directory and make it available on all supported platforms ?    @HelinWei-NOAA  where are the corresponding oro/mask dataset you used?

[2022-06-21 16:56] HelinWei-NOAA commented on #863
I used those data under /scratch1/NCEPDEV/global/Helin.Wei/lake_p8_viirs2. Bing got them from Shan.

[2022-06-21 16:59] yangfanglin commented on #863
@HelinWei-NOAA I do not see C1152 oro/mask data under /scratch1/NCEPDEV/global/Helin.Wei/lake_p8_viirs2

[2022-06-21 18:01] HelinWei-NOAA commented on #863
@yangfanglin Actually I used the data under /scratch1/NCEPDEV/global/Helin.Wei/lake_p8_water_fraction2020 ( a copy from /scratch2/NCEPDEV/ensemble/Bing.Fu/lake_p8_water_fraction2020).

[2022-06-22 13:52] bbakernoaa opened #872 "Fengsha _FillValue fix"
A fix related to [Issue#1259](https://github.com/ufs-community/ufs-weather-model/issues/1259#issuecomment-1161930939) has been created.  New input files for Fengsha that have been created and need to be resynced into the glopara fix file locations for GOCART.

[2022-06-22 18:00] DavidHuber-NOAA commented on #622
Just a note, for anyone wishing to run with GLDAS enabled, `FHOUT` must be set to 1 in config.base.  To speed things up, I turned IAU and 4DVAR off, which disabled hourly outputs.  A conditional should probably be added to the configuration file to change `FHOUT=1` if `DO_GLDAS=YES`.

[2022-06-24 15:32] lgannoaa commented on #776
As of noon on June 24th, here is the state of this parallel:
- I run a testing cycles to check and modify configuration as needed.
- The pending configuration change is CRTM and DELTIM. We are waiting for management to make final decision.
- A test cycle 2021101718 run is now in review. Summary of changes are:
-   New ecflow workflow jobs for EMC gdas prep and EMC gfs prep are included. prepbufr o

[2022-06-24 18:12] lgannoaa commented on #776
A meeting with CYCLONE_TRACKER code manager Jiayi on June 24th. Checked Jobs and output in $COM/$RUN.$PDY/$cyc/atmos/epac and natl. These jobs run successfully.

[2022-06-24 18:15] lgannoaa commented on #776
Emily checked new gdas/gfs prep jobs and jobs using its output on June 24th. It is working.

[2022-06-24 19:01] emilyhcliu opened #877 "Update the link to historical GSI fix files in parm/config.anal for gfsv16.3 parallel experiment"
The gfsv16.3 parallel testing begins from 20211015 18Z.
The relevant GSI fix files (convinfo and satinfo) were modify to include the observations to be assimilated operationally in real-time.

The /parm/config.anal is modified for exporting the updated convinfo and satinfo files.
The correponding changes in the convinfo and satinfo files will be made in the GSI repository (gfsda.v16.3 release bran

[2022-06-27 10:52] RussTreadon-NOAA commented on #711
**Orion and Hera tests**

The low resolution Orion parallel test mentioned [above](https://github.com/NOAA-EMC/global-workflow/issues/711#issuecomment-1158101561) was extend through 2021123118.   This is a DA only parallel.  Only gdas and enkf jobs were run.  No gfs jobs were run.  Also, waves were turned off in the gdas.   All jobs which ran did so to completion.  The following components were us

[2022-06-27 10:54] RussTreadon-NOAA commented on #711
Tagging @yangfanglin , @MichaelLueken-NOAA , @Hang-Lei-NOAA , and @HaixiaLiu-NOAA  for awareness.

[2022-06-27 20:36] WalterKolczynski-NOAA commented on #711
Now that I'm back, I'd love to get this fixed separately ahead of PR #871 if it can be done faster that way. Has the ncio update been made to GSI yet (at least on a branch I can point at)? I can change it manually to test, but that isn't suitable for a PR.

[2022-06-27 21:42] Hang-Lei-NOAA commented on #711
This morning, emily.liu and I have got GSI built on Acorn. One of the libraries is ncio/1.1.2.

[2022-06-27 23:36] RussTreadon-NOAA commented on #711
As noted above, NOAA-EMC/GSI develop can not be updated to `ncio/1.1.2` until `ncio/1.1.2` is installed on WCOSS2 Cactus & Dogwood.   The GSI with ncio/1.1.2 has been tested on Orion and Hera.

[2022-06-27 23:37] RussTreadon-NOAA commented on #711
Thanks, @Hang-Lei-NOAA , for the update.  Given this success, any idea when might NCO implement `ncio/1.12` on WCOSS Catcus and Dogwood?

[2022-06-27 23:39] WalterKolczynski-NOAA commented on #711
If installation on WCOSS2 isn't imminent, can we get a branch with the update for the RDHPCS machines in the interim? I don't want to have to wait around for NCO, especially since g-w develop doesn't work there yet anyway.

[2022-06-28 02:51] Hang-Lei-NOAA commented on #711
@Russ Treadon - NOAA Federal ***@***.***>
Although this is out of my control, I just heard that NCO will maintain the
Cactus and Dogwoods this week. Hopefully, they will address these library
updates. I will remind them tomorrow morning as best I can.
These ones under review/unapproved are still up in the air.

On Mon, Jun 27, 2022 at 7:39 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2022-06-28 09:47] DavidHuber-NOAA commented on #622
@HelinWei-NOAA The surface files have now been generated.  You can find them on Hera here: /scratch1/NESDIS/nesdis-rdo2/David.Huber/for_helin/sfc_files.tar.

[2022-06-28 09:59] RussTreadon-NOAA commented on #711
Thanks @Hang-Lei-NOAA for the update.  GFS v16.3 is also stuck waiting for crtm/2.4.0 to be installed on WCOSS2.   Hopefully after today's WCOSS2 go-live NCO can install needed libraries on WCOSS2.   Just to confirm, EIB, specifically the library team, is not permitted to install libraries on WCOSS2, right?

[2022-06-28 12:10] Hang-Lei-NOAA commented on #711
Hi, Russ,
We can only install libraries on Acorn for testing purposes. Not the other
two machines. GSI build is based on the installation on Acorn:
module use
/lfs/h1/emc/nceplibs/noscrub/hpc-stack/libs/hpc-stack/modulefiles/stack
Thanks, Hang

On Tue, Jun 28, 2022 at 6:00 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-28 12:18] RussTreadon-NOAA commented on #711
Thank you, @Hang-Lei-NOAA , for confirming that EIB is not allowed to install libraries on WCOSS2, not even in development mode.  This type of installation is limited to Acorn - a machine on which we can not run parallels.

[2022-06-28 12:26] Hang-Lei-NOAA commented on #711
No. not allowed. Once the acorn was not normal. I tried to test a library
built on dogwoods and got a warning.
It is surprising to hear that we cannot run parallels on Acorn. That is
where we need to ask NCO to let the parallel test go.

On Tue, Jun 28, 2022 at 8:19 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-28 12:29] Hang-Lei-NOAA commented on #711
@Russ Treadon - NOAA Federal ***@***.***> In your opinion, what
NCO/GDIT should do to make the Acorn a full parallel testing machine?

On Tue, Jun 28, 2022 at 8:26 AM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-06-28 12:34] RussTreadon-NOAA commented on #711
@Hang-Lei-NOAA , Our developers run parallels for scientific development.   EIB knows better than me but it's my impression that Acorn is not big enough to run science parallels.   I will reach out to management outside this g-w issue.

[2022-06-28 17:38] JessicaMeixner-NOAA opened #878 "Update wave mesh to be independent of ocean/ice mesh"
**Description**
Recent updates in the ufs-weather-model allow for the wave model to be on a different grid/mesh than the ocean and ice model.  This PR will add in the flexibility to allow for this on the workflow.

**Requirements**
* Will need ufs-weather-model to be updated
* Will need a new fix file to be added
* Will require a few scripting updates

**Acceptance Criteria (Definition of Done)**

[2022-06-28 20:04] KateFriedman-NOAA commented on #399
Cut new tag for hand-off to NCO: [EMC-v16.2.1](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.2.1)

[2022-06-28 20:10] JessicaMeixner-NOAA opened #880 "Update fix files"
**Description**
Add additional fix files for glopara/fix_NEW/fix_cpl for the following resolution combinations:
aC192o050 aC48o400 aC96o100
which exist in the regression test system but are not part of the g-w fix files.

These files can be found here:
/scratch1/NCEPDEV/climate/Jessica.Meixner/updatefornewwavemesh/global-workflow/fix/fix_cpl/*
(These are part of the input for rt.sh so if the locat

[2022-06-28 20:19] KateFriedman-NOAA commented on #863
@yangfanglin Just catching up from being on leave and taking care of WCOSS2 go-live tasks...you want the files from here:

/scratch1/NCEPDEV/global/Helin.Wei/sfc_fixed_mar2022/sfc.C1152/

...to where? `fix_NEW/fix_fv3_fracoro/???` Right under the `fix_fv3_fracoro` folder or within a C1152 subfolder? Here is a sample view of that folder right now:

[code]

Any other files? @HelinWei-NOAA ?

[2022-06-28 20:20] WalterKolczynski-NOAA commented on #880
@JessicaMeixner-NOAA can you just confirm this is a fix directory update only, with no code changes needed?

[2022-06-28 20:22] KateFriedman-NOAA commented on #880
@JessicaMeixner-NOAA Do you have copies on WCOSS1 or WCOSS2 by chance? Thanks!

[2022-06-28 20:34] lgannoaa commented on #830
On June 28th. @arunchawla-NOAA made a decision to stop running this parallel. The parellel is now stopped; cron jobs removed.
The last completed CDATE=2022062318 due to missing production run history archive files on 20220624.

[2022-06-28 20:43] JessicaMeixner-NOAA commented on #880
@WalterKolczynski-NOAA yes, this is just fix directory update, no code changes.  (I figured this was easier than an email, etc.)

The cpl_fix files are on wcoss2 here: /lfs/h2/emc/nems/noscrub/emc.nems/RT/NEMSfv3gfs/input-data-20220414/CPL_FIX

The fix_wav file is on wcoss2 here: /lfs/h2/emc/couple/noscrub/Jessica.Meixner/forkate/mesh.gwes_30m.nc

[2022-06-28 20:46] WalterKolczynski-NOAA commented on #880
I think we prefer it to be an issue anyway. I just wanted to confirm.

[2022-06-28 20:58] yangfanglin commented on #863
@KateFriedman-NOAA
Please add to /gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/fv3gfs/fix_NEW/fix_fv3_fracoro/C1152.mx025_frac

[2022-06-28 21:54] KateFriedman-NOAA commented on #863
@yangfanglin I've pulled the new files into the requested subfolder in the fix_NEW set on WCOSS2 (new primary set). See here:

/lfs/h2/emc/global/save/emc.global/FIX/fix_NEW/fix_fv3_fracoro/C1152.mx025_frac

Before I rsync it to the other platforms...do you want it to match the other folders that have those files in a fix_sfc folder...like this one:

/lfs/h2/emc/global/save/emc.global/FIX/fix_NEW/

[2022-06-28 22:47] yangfanglin commented on #863
Yes

[2022-06-29 13:20] #830 closed, assigned to LinGan-NOAA

[2022-06-29 13:46] lgannoaa commented on #776
As of EOB June 28th, there are three incoming changes:
- CRTM v2.4.0
- gfsda.v16.3 GSI PR 412
- parm/config.anl GW PR 876

A new run of cycled test started on June 29 to test a few days with DELETE_COM_IN_ARCHIVE_JOB="YES".
This test will be used to review EMC developer verification jobs, FIT2OBS , MetPlus, gplots, and EMC para-check jobs.

[2022-06-29 14:37] #872 closed, assigned to nobody

[2022-06-29 15:17] KateFriedman-NOAA commented on #863
@yangfanglin I have pulled the new C1152.mx025_frac fix files into `fix_NEW` and rsync'd them to Venus, Mars, Dogwood, Cactus, Hera, and Jet. Will rsync to Orion after today's maintenance concludes. I'm also making a new tarball on HPSS of `fix_NEW`:

/5year/NCEPDEV/emc-global/emc.glopara/fv3fix/fix_NEW_20220629.tar

[code]

[2022-06-29 15:26] KateFriedman-NOAA commented on #880
@JessicaMeixner-NOAA I have pulled the new `fix_wave` and `fix_cpl` fix files into `fix_NEW` and rsync'd them to Venus, Mars, Dogwood, Cactus, Hera, and Jet. I will rsync them to Orion after today's monthly maintenance concludes.

[code]

I am also making a new tarball of `fix_NEW` on HPSS (/5year/NCEPDEV/emc-global/emc.glopara/fv3fix/fix_NEW_20220629.tar).

This is likely the last time I will upd

[2022-06-29 15:38] yangfanglin commented on #863
Thanks, Kate

[2022-06-29 19:20] arunchawla-NOAA commented on #711
@RussTreadon-NOAA why can we not close this and the GSI develop issue now that we know this works for ncio/1.1.2, understand that we need that library on wcoss2 dogwood and cactus. But that is a separate issue and we should track that separately as missing libraries on the big wcoss2 systems. The capability as I see it has been addressed and tested across rdhpcs and acorn platforms. We should clos

[2022-06-29 19:28] WalterKolczynski-NOAA commented on #711
@arunchawla-NOAA I am actively working on getting this working now. GSI is waiting to merge the fix into develop until it is available on WCOSS2, but it was actually easy for me to work around it thanks to the new policy of version variables in modulefiles. My first attempt failed though; I'm trying to figure out why.

[2022-06-29 19:30] RussTreadon-NOAA commented on #711
@arunchawla-NOAA , I have been trying for weeks to close this issue.  I have run cycled DA-only parallels on both Orion and Hera demonstrating that we can once again run cycled parallels with ncio/1.1.2.   I did not run any tests on Acorn.   I did not open this issue.   Therefore, I can't close it.  EIB opened this issue.  It sounds like @WalterKolczynski-NOAA will close the issue when he has a su

[2022-06-29 19:43] arunchawla-NOAA commented on #711
@WalterKolczynski-NOAA can you test if this is working on the global workflow side with ncio/1.1.2 and close this ?

[2022-06-29 20:33] WalterKolczynski-NOAA commented on #711
That's what I'm currently working on

[2022-06-30 15:41] KateFriedman-NOAA commented on #880
The Orion `fix_NEW` set are also now updated.

[2022-06-30 15:41] KateFriedman-NOAA commented on #863
The Orion `fix_NEW` set are also now updated.

[2022-07-01 03:28] yangfanglin opened #884 "correct settings of dt_inner and lheatstrg for p8c"
For Thompson -MP set dt_inner=DELTIM  if sedi_semi=T

Set canopy heat storage lheatstrg=T for lsm=1 (NOAH LSM) and lheatstrg=F for lsm=2 (NOAH-MP LSM)

[2022-07-01 14:33] #884 closed, assigned to nobody

[2022-07-04 16:24] yangfanglin opened #886 "workflow updates: new ice climatology, cplmode=nems_orig for non-fractional grid, add cldfra 3D cloud in all diag_table"
A new ICE climatology based IMS and NIC data has been developed to  replace the CFSR ice climatology used by UFS applications.  This new IMS-NIC climatology has a much higher resolution than CFSR and is based on more recent observations. ( Credit: Mike Barlage, Shan Sun,  and many others participated in the [development ](https://docs.google.com/presentation/d/1rf8Nrghtfi-3k0AThRR9rnyVrBzSJoqlFgKq

[2022-07-05 12:55] JessicaMeixner-NOAA commented on #886
@yangfanglin this is supposed to be used by p8, correct?   Is this another case of only being used in the coupled model and not in standalone atm or is neither of the modes using the new climatology?    I thought all updates in fix files were in the PR from @ChunxiZhang-NOAA in the PR here: https://github.com/NOAA-EMC/global-workflow/pull/795

[2022-07-05 13:05] GeorgeGayno-NOAA commented on #886
`./ush/global_cycle.sh` is owned by UFS_UTILS. I can open an issue to change the default FNAISC.

[2022-07-05 13:41] JessicaMeixner-NOAA commented on #886
@yangfanglin @barlage this does not appear to be getting used in the ufs-weather-model regression tests either.  Is that correct?

[2022-07-05 13:58] bbakernoaa opened #887 "Update GOCART configuration files for latest version and MAPL 2.22.0"
With the latest version of MAPL and GOCART for p8.1 there is a needed update for the global-workflow configuration files in parm/chem.  This is related to https://github.com/ufs-community/ufs-weather-model/pull/1192 and https://github.com/ufs-community/ufs-weather-model/issues/1259

Files to be updated:

`parm/chem/CAP.rc`

from:
[code]

to:

[code]

and `parm/chem/AERO_HISTORY.rc`

from:

[code]

[2022-07-05 14:48] yangfanglin commented on #886
@JessicaMeixner-NOAA This new climatology should be used in both coupled and atmos-only runs; however, it does not have to be included in p8.   We can add them after p8, or whenever both the model RT and workflow scripts have been updated.  The first thing to do (@KateFriedman-NOAA ) is to make this file available on all platforms.   @ChunxiZhang-NOAA please check if it is still possible for  you

[2022-07-05 17:23] ChunxiZhang-NOAA commented on #886
@JessicaMeixner-NOAA @yangfanglin I can add these changes into the PR for updating lheatstrg and dt_inner in Regression tests.

[2022-07-05 17:45] lgannoaa commented on #776
Switch verif-global.fd to verif_global_v2.9.5 tag on July 5th.
Add METplus off-line driver into HOMEgfs/ecf/scripts/workflow_manager/scripts

[2022-07-05 18:18] lgannoaa commented on #776
Meeting with code manager for verif-global and FIT2OBS on July 5th indicated no issue found in a 10 days testing run.

[2022-07-05 18:43] emilyhcliu commented on #776
Status of DA package

- [x] gfsda.v16.3.0 PR [#412](https://github.com/NOAA-EMC/GSI/pull/412) --- merged
- [x] global-workflow PR [#876](https://github.com/NOAA-EMC/global-workflow/pull/876) - in parm/config.anl  --- merged
- [x] task assignment in DA group - create GSI observation monitoring plots and website for pre-implementation parallel
- [ ] Installation of CRTM v2.4.0 on WCOSS-2 by NCO  ---

[2022-07-05 18:52] KateFriedman-NOAA commented on #886
@yangfanglin I copied this new fix file into `fix_NEW/fix_am` and rsync'd it to the other platforms (except Jet which is down for maintenance).

[2022-07-05 19:07] KateFriedman-NOAA commented on #399
GFSv16.2.1 updates going into WCOSS2 ops today:

[code]

[2022-07-05 21:32] ChunxiZhang-NOAA commented on #886
This is an issue created for global-workflow, but anyone can help to copy the new data to the RT's FV3_fix directory?

[2022-07-06 04:02] WalterKolczynski-NOAA commented on #880
Any reason not to close this issue out?

[2022-07-06 11:51] #880 closed, assigned to KateFriedman-NOAA

[2022-07-06 13:11] KateFriedman-NOAA commented on #399
From SDM log:
[code]

[2022-07-06 16:59] lgannoaa commented on #776
A single cycle testing with GFS downstream, GFS gempak, and GDAS gempak was completed on July 6th. Code manager certified jobs are working. WAFS is still under debugging. Found silent fail in post where it failed to generate files required for running wafs.

[2022-07-06 18:12] wzzheng90 opened #896 "Entire atmosphere Total Cloud Cover [%]} variable from pgb files"
I checked the variable "TCDCclm" {entire atmosphere (considered as a single layer) Total Cloud Cover [%]} from pgb files such as "gfs.t00z.pgrb2.0p25.f024".  It looks this is not Cloud Cover in %. The values are 0 to 450000.   However, "TCDCclm" from sfluxgrbf files (e.g., gfs.t00z.sfluxgrbf024.grib2) looks reasonable and its values are 0 to 100.

[2022-07-06 19:39] WenMeng-NOAA commented on #896
@wzzheng90 Are you meaning TCDC from ops. gfs V16.2 or gfs V17? I don't see issue in gfs v16 on wcoss2:
[code]

[2022-07-06 21:16] wzzheng90 commented on #896
@WenMeng-NOAA  Thanks for your quick response!  It's not from Ops gfs, but from those generated by UFS P8/P8c. Please see my experiments:
1) P8c:  /scratch1/NCEPDEV/stmp2/Weizhong.Zheng/GFSv16.1.7/COMROOT/p8c2019082600/gfs.20190826/00/atmos/gfs.t00z.pgrb2.0p25.f024
wgrib2 gfs.t00z.pgrb2.0p25.f024 -match "TCDC:entire atmosphere" -stats
512:346390957:ndata=1038240:undef=0:mean=19554.1:min=0:max=4912

[2022-07-06 22:29] WenMeng-NOAA commented on #896
@wzzheng90 Which version of UPP and global-workflow are the UFS p8/p8c using? If global-workflow is from develop, you might consult with @WalterKolczynski-NOAA first. Some of gfs post processing scripts are moved from UPP repository to global-workflow repository. Also you might check master fiiles gfs*master* ( I don't see master files archived in your directories).

[2022-07-06 23:07] wzzheng90 commented on #896
@WenMeng-NOAA  It should be the latest version of global-workflow (P8):
commit 3076e13ca5976206f1cdab58cca1b6f80fbb7716 (HEAD -> develop, origin/develop, origin/HEAD)
Author: Fanglin Yang <fanglin.yang@noaa.gov>
Date:   Fri Jul 1 10:33:39 2022 -0400

[2022-07-06 23:20] WalterKolczynski-NOAA commented on #896
Global workflow has been using the UFS version of UPP since late May. GW is currently using UFS tag Prototype-P8c, which is using UPP dc8bc68.

I don't know that any of the post-processing scripts we absorbed would break the variable in this way, but if I'm wrong I can certainly try to fix it. The variable doesn't appear in any of the scripts either.

[2022-07-06 23:43] WenMeng-NOAA commented on #896
@WalterKolczynski-NOAA Thanks for clarifying.
@wzzheng90 Do you have model history files and UPP master files archived?

[2022-07-07 00:10] wzzheng90 commented on #896
@WalterKolczynski-NOAA  Thanks!
@WenMeng-NOAA  I removed them.  However, if you want them, I can rerun for a short fcst time.

[2022-07-07 01:06] wzzheng90 commented on #896
@WenMeng-NOAA  @WalterKolczynski-NOAA   I recreated them.  Please see all output files: /scratch1/NCEPDEV/stmp2/Weizhong.Zheng/P8c_atmCTL/COMROOT/p8c2020012600/gfs.20200126/00/atmos

[2022-07-07 15:09] WenMeng-NOAA commented on #896
@wzzheng90 It appears to me your experiment uses Thompson MP (8).  The UPP reads 3D cloud fraction "cldfra" when imp_physics set as 8. I don't see any 3D cloud fraction from model history files you provided.

[2022-07-07 15:16] wzzheng90 commented on #896
@WenMeng-NOAA   Yes, I confirm that my experiment uses Thompson MP in P8/P8c (GFDL MP in P8b or previous versions).  So anything needs update in the UPP with Thompson MP?

[2022-07-07 15:24] WenMeng-NOAA commented on #896
@wzzheng90 You might update the diag table for outputting 3D cloud fraction as "cldfra".

[2022-07-07 16:17] yangfanglin commented on #886
One more change needs to be added to the workflow. In ./oarm/config/config.fcst,  please add the following if block for running the model without fractional grid.

export FRAC_GRID=".true."
export cplmode="nems_frac"
if [ $FRAC_GRID = ".false." ]; then
  export cplmode="nems_orig"
fi

[2022-07-07 17:50] WalterKolczynski-NOAA commented on #896
Sounds like this should be a global-workflow issue instead of a UPP issue.

[2022-07-07 18:04] WenMeng-NOAA commented on #896
@wzzheng90 There are two total cloud fraction output in master file, time averaged and instant. The flux file has time averaged only. The time averaged one is directly read and written in GRIB2. And the instant one is calculated in UPP with 3D cloud fraction. It seems your experiment didn't output 3D cloud fraction. Would you debug in your module configuration on it first?

[2022-07-07 18:07] WenMeng-NOAA commented on #896
@wzzheng90 I have an impression that Ruiyu had tested on outputting 3D cloud fraction with Thompson MP. Tagging @RuiyuSun  and @yangfanglin.

[2022-07-07 18:30] WalterKolczynski-NOAA commented on #896
Should we be maintaining different diag tables for Thompson and GFDL? Makes me want a modular diag table that we build by pieces even more.

[2022-07-07 19:31] wzzheng90 commented on #896
@WenMeng-NOAA  Yes, Ruiyu is a right person who works on Thompson MP.  @RuiyuSun and @yangfanglin.
@WalterKolczynski-NOAA  Sounds good!

[2022-07-07 19:57] yangfanglin commented on #896
@wzzheng90  Have you tried GFDL MP ?

@ericaligo-NOAA @RuiyuSun  Eric, you made a change a while ago for naming 3D cloud fraction in the model, cld_atm vs cldfra.   Did we end usign cld_atm for both ?

@junwang-noaa @WenMeng-NOAA  @HuiyaChuang-NOAA  For GFDL MP, cld_atm will be written in the 3D history (or dyn) file , while for THOMPSON MP, cld_atm or cldfra will be written in the phy or surface

[2022-07-07 20:03] wzzheng90 commented on #896
@yangfanglin  I recalled I tried GFDL MP in P8c but I did not check this "Total Cloud Cover" variable.  Only recently I noticed this
variable would be unreasonable for Thompson MP in P8c/P8.

[2022-07-07 20:27] ericaligo-NOAA commented on #896
We talked about changing the name of cloud fraction, but I don't recall
coming to a final decision. Looking at the latest code, I still see
cldfra in the code.  When I added the cldfra diagnostic, it was
universal for all mp schemes, however, I see a lot of changes since I
added cldfra to GFS_rrtmg_pre.F90, so I don't know if that is still the
case.

Eric
On 7/7/2022 3:57 PM, Fanglin Yang wrote:

[2022-07-07 20:31] WenMeng-NOAA commented on #896
@yangfanglin

That's right. In off-line post interface, the UPP read 3D cloud fraction "cld_amt" from history file atm* or dyn* for GFDL MP, and "cldfra" from history file sfc* or phy*.
https://github.com/NOAA-EMC/UPP/blob/develop/sorc/ncep_post.fd/INITPOST_NETCDF.f#L1024

The same changes were applied in in-line post interface.
https://github.com/NOAA-EMC/fv3atm/blob/dc74ab1aa8329cb5e239ce2328c9b

[2022-07-07 20:31] yangfanglin commented on #896
First, the diag_table needs to be updated.  Currently all diag_table in  ./global-workflow/parm/parm_fv3diag/ only has cld_amt defined in gfs_dyn group.  It needs to be defined in gfs_phys as well.   The model should work fine even if cld_amt is defined twice in diag_table.

@wzzheng90 could you please add

"gfs_phys",     "cld_amt",     "cld_amt",      "fv3_history",    "all",  .false.,  "none",

[2022-07-07 20:32] junwang-noaa commented on #896
@yangfanglin The inline post io will read out 2d/3D fields from dyn or sfc files. So that is done in the model side. If I understand correctly, the field TCDCclm @wzzheng90 is looking at is actually the 2D model output field "tcdc_aveclm", which I saw in the sfc file with reasonable value of 0-100 in the cpld_bmark_p8 regression test (/scratch1/NCEPDEV/stmp2/Jun.Wang/FV3_RT/rt_19309/cpld_bmark_p8/

[2022-07-07 20:40] yangfanglin commented on #896
@junwang-noaa @ericaligo-NOAA Can you confirm inside the model if cld_atm is used for GFDL MP but cldfra for Thompson MP, or cld_amt for both ?

@Wen if UPP expects cldfra from phys (surface) output, we need to add to the diag_table

"gfs_phys", "cld_amt", "cldfra", "fv3_history", "all", .false., "none", 2

[2022-07-07 20:48] junwang-noaa commented on #896
@yangfanglin Yes. Please see the model code:

https://github.com/NOAA-EMC/fv3atm/blob/develop/io/post_fv3.F90#L2994

I am curious, are you looking cloud cover at the 3D model layers? It seems to me this is not the field Weizhong is looking at.

[2022-07-07 21:04] yangfanglin commented on #896
@junwang-noaa So  cld_atm is used for GFDL MP but cldfra for Thompson MP.  I do not see 3D clouds in sfc.nc or atmf.nc in my run with Thompson MP.  So to get 3D cloud fraction in the output for Thompson MP we need to add to the diag_table
"gfs_phys", "cldfra", "cldfra", "fv3_history", "all", .false., "none", 2

As for the 2D clouds Weizhong was checking,  I noticed in my runs they are correct in t

[2022-07-07 23:04] WenMeng-NOAA commented on #896
GFS master file include both instant total cloud fraction and time averaged cloud fraction. The second one is calculated with 3D cloud fraction in UPP. In Weizhong's experiment, both total cloud fraction are in extreme values. I ran the UPP standalone test with model history files from @wzzheng90 's experiment, and got the time averaged total cloud fraction in 0-100.

[2022-07-08 00:18] RuiyuSun commented on #896
I did test writing out the 3D cloud fraction for Thompson MP from physics in Feb, 2022. Please see email message below.
_Hui-Ya,

Yes, I was able to write out the 3D instant cloud field to the surface nc file after adding the following line into the diag_table.

"gfs_phys",    "cldfra",     "cldfra",     "fv3_history2d",  "all",  .false.,  "none",  2

Ruiyu_

[2022-07-08 00:23] ericaligo-NOAA commented on #896
Ruiyu,

Did you see if cldfra is still available for GFDL mp? I'll have to check
the code tomorrow to see if this still is the case.

Eric
On 7/7/2022 8:19 PM, RuiyuSun wrote:

[2022-07-08 00:29] RuiyuSun commented on #896
@ericaligo-NOAA I don't recall. I did a Thompson MP experiment. When Thompson is used the cld_amt will not be included in the field table.

[2022-07-08 02:45] junwang-noaa commented on #896
@yangfanglin In radiation cloud code, both GFDLMP and Thompson MP call their own subroutines to compute cld_frac.
GFDLMP:
https://github.com/NCAR/ccpp-physics/blob/main/physics/radiation_clouds.f#L724
Thompson MP:
https://github.com/NCAR/ccpp-physics/blob/main/physics/radiation_clouds.f#L807

Even though GFDL has both cld_amt and cld_frac fields, My understanding from previous discussion is that G

[2022-07-08 02:53] yangfanglin commented on #896
@junwang-noaa  , you are correct.  There is no time-averaged cloud fraction.  The "ave" stands for low/mid/high and column integrated cloud fractions, computed from the instantaneous 3D cloud fraction on model vertical native grid using a given cloud overlap assumptions (max-random).  @WenMeng-NOAA
 Let me add
"gfs_phys", "cldfra", "cldfra", "fv3_history2d", "all", .false., "none", 2
to the diag_t

[2022-07-08 03:05] junwang-noaa commented on #896
@yangfanglin Sorry, to clarify, the ave in "TCDC_aveclm" (and other "TCDC_avexxx") is the time averaged TCDC on entire atmos column. Please see:

https://github.com/NCAR/ccpp-physics/blob/main/physics/GFS_rrtmg_post.F90#L146

[2022-07-08 04:47] yangfanglin commented on #896
@junwang-noaa forgot the m/l/h etc are accumulated at the radiation call frequency.

Anyhow, after I added cldfra to diag_table.  I now see 3D cldfra in sfc.nc output.  TCDC_aveclm is correct in sflux but still not correct in master and pgrb files.  See /scratch1/NCEPDEV/stmp2/Fanglin.Yang/ROTDIRS/test/gfs.20200710/00/atmos
The few instantaneous l/m/h clouds are also all zeros.  (@WenMeng-NOAA )

[2022-07-08 11:20] SMoorthi-emc commented on #896
You are exactly right; it is computed and averaging is done at the
radiation step.
(FYI, I get good clouds even when I run with MG3 - I don't try to write out
3D clouds.
Moorthi

On Thu, Jul 7, 2022 at 11:05 PM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Predic

[2022-07-08 11:26] SMoorthi-emc commented on #896
Just to clarify, the 3D "cld_amt" is in the field table because GFDL MP
computed it in the physics step in the dynamics.
It is not an advected variable.
Both MG3 and Thompson MPs compute instantaneous clouds in physics.
Radiation uses correct cloud fraction depending on the schemes used and the
diagnostic high, mid and low clouds are computed and accumulated in the
radiation step and averaged at t

[2022-07-08 12:14] WenMeng-NOAA commented on #896
@junwang-noaa Sorry for the typo. I am meaning the first one, instant one is calculated in UPP. All time averaged variables in UPP are read from model.

[2022-07-08 12:26] WenMeng-NOAA commented on #896
@yangfanglin The gfs model files in our UPP RT tests are in GFDL MP. I will run off-line post to test data you provided.

[2022-07-08 12:28] wzzheng90 commented on #896
BTW, only total cloud cover ( TCDCclm/TCDCaveclm) from pgb files has a problem.  High, middle and low cloud covers look fine. Are these cloud covers calculated in the same way?

[2022-07-08 12:39] junwang-noaa commented on #896
@wzzheng90 These time averaged fields are calculated in the same way in the model. Model does not directly output instantaneous TCDCclm. As @WenMeng-NOAA mentioned, it is computed in UPP.

[2022-07-08 12:44] WenMeng-NOAA commented on #896
@yangfanglin
Here is my off-line post result with model files from your test /scratch1/NCEPDEV/stmp2/Fanglin.Yang/ROTDIRS/test/gfs.20200710/00/atmos.
[code]
All cloud fields are in reasonable value range.
Can you provide me your UFS code location and runtime directory? I could look into the UPP parts.

[2022-07-08 14:08] junwang-noaa commented on #896
I am curious if we can output the instantaneous TCDCclm from the model directly, it seems to me it takes too much space to output a 3D field just to compute a 2D field.  Just my opinion.

[2022-07-08 14:19] yangfanglin commented on #896
@junwang-noaa I believe in current operation 3D clouds are included pgrb products.  We need to do the same for GFS.v17.  Ideally we should have 3D saved in atmf (dyn), but this is not possible per our discussion a while ago.

[2022-07-08 14:22] yangfanglin commented on #896
@WenMeng-NOAA Are they good in all master and lat-lon grib2 files ?

Something is not working correctly in online UPP.

[2022-07-08 14:37] WenMeng-NOAA commented on #896
@yangfanglin Yes.

[2022-07-08 14:40] WenMeng-NOAA commented on #896
@junwang-noaa Is there the specific test for global FV3 with Thompson MP in UFS RT tests?

[2022-07-08 15:01] junwang-noaa commented on #896
I see the inline post is turned off in the coupled tests, e,g, cpld_bmark_p8 test and there are no post namelist and control files for these tests. You may run cpld_bmark_p8 RT test and copy the post namelist and control files from workflow and set "write_dopost: .true." in model_configure. We may need to update P8 RT test later.

[2022-07-08 15:22] lgannoaa commented on #776
A confirmed bug for CRTM 2.4.0 has been reported. This bug also existing in current operational GFS using CRTM 2.3.0
Fix file mhs_metop-c.SpcCoeff.bin size is incorrect. This has result changing impacts. DA team noted this issue in:
https://github.com/JCSDA-internal/crtm/issues/338
A workaround for this ecflow parallel has been done by using a local copy of the fix file until this issue is fixed.

[2022-07-08 15:25] lgannoaa commented on #776
July 8th 11:20a EST.
The parallel is now started.

[2022-07-08 16:15] KateFriedman-NOAA commented on #399
Merged GFSv16.2.1 changes into operations @ 88bbfa8. Tagged [NCO-v16.2.1 and released](https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.2.1).

[2022-07-08 16:16] KateFriedman-NOAA commented on #399
The port of the global-workflow `operations` branch to WCOSS2 is now complete. Work on the developmental side continues and will be documented in other issues, as well as the EPIC issue #398.

Thank you to everyone for their work on this port! Closing issue now.

[2022-07-08 16:16] #399 closed, assigned to KateFriedman-NOAA

[2022-07-08 17:03] #711 closed, assigned to WalterKolczynski-NOAA

[2022-07-08 17:08] wzzheng90 commented on #896
@yangfanglin  I got the same result as yous after I added cldfra to diag_table.   As to " @wzzheng90 Have you tried GFDL MP ?", I tried but did not get a success run with P8.  It's error about " ccpp_physics_init for group fast_physics: Group fast_physics not found".  I am trying it again.

[2022-07-08 17:24] KateFriedman-NOAA opened #900 "RTOFS upgrade to v2.3 (GFSv16.2.2 operations)"
**Description**

The RTOFS, an upstream dependency of the GFS in operations, is upgrading from v2.2 to v2.3. An associated change to `versions/runs.ver` to update the `rtofs_ver` setting is needed in the GFS. This results in a small update in operations to GFSv16.2.2.

The GFS will be run alongside the updated RTOFS in para testing on WCOSS2 to check for impacts before implementation. Only expecte

[2022-07-08 17:27] KateFriedman-NOAA commented on #900
Created branch [release/gfs.v16.2.2](https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.2.2) for this small update to `versions/run.ver` and adding release notes.

[2022-07-08 20:21] wzzheng90 commented on #896
@yangfanglin :   I tried the GFDL MP (imp_physics  = 11) with the suite ""FV3_GFS_v17_p8_gfdl" (modified based on "FV3_GFS_v17_p8") . The same issue exists. More information can be seen in "/scratch1/NCEPDEV/stmp2/Weizhong.Zheng/P8c_atmCTL/COMROOT/p8gfdlc2020012600/gfs.20200126/00/atmos".   @junwang-noaa @WenMeng-NOAA

[2022-07-08 20:28] lgannoaa commented on #776
There is a file in GSI tag need to be modified. Local fix is in place to keep ecflow workflow running. GSI tag will need to be created.

[2022-07-08 21:09] lgannoaa commented on #776
gfs/gdas downstream and gempak jobs are not been run at this time.
The post has been discovered to have silent failure when generate files for wafs. Management has made a decision to not debug post/wafs until Yali is back from vacation.

[2022-07-09 02:46] lgannoaa commented on #776
ecflow workflow have been modified to wire in crtm 2.4.0 for job eobs, gdas/gfs analysis where using GSI with crtm module load. This is to ensure the runtime library is correct for those jobs. The rest of the workflow stay with crtm 2.3.0 for runtime module loading.

[2022-07-09 14:48] lgannoaa commented on #776
The HPSS failed over night on July 8th causing parallel on hold. Rerun archive jobs.

[2022-07-09 16:21] lgannoaa commented on #776
FIT2OBS package in emc.global is missing. Requested help from helpdesk to transfer it from Dogwood to Cactus. The location is:
/lfs/h2/emc/global/save/emc.global/git/Fit2Obs/newm.1.5
This issue impact gdas verification job which is unable to run FIT2OBS package.
@arunchawla-NOAA @dtkleist @aerorahul @KateFriedman-NOAA

[2022-07-09 16:45] RussTreadon-NOAA commented on #776
@lgannoaa , Dogwood `/lfs/h2/emc/global/save/emc.global/git/Fit2Obs/newm.1.5` has been rsync'd to Cactus `/lfs/h2/emc/global/save/emc.global/git/Fit2Obs/newm.1.5`.   You may close your helpdesk ticket.

Add @arunchawla-NOAA , @dtkleist , @aerorahul , and @KateFriedman-NOAA  for awareness.

[2022-07-09 18:16] lgannoaa commented on #776
@emilyhcliu Please take a look at completed cycle. As discussed, you will check the parallel output to be sure modified initial condition and GSI change is there after three completed cycle. I am waiting for your feedback to turn on COM auto clean function in archive jobs which will remove old files from previous run to save disk space.
The PTMP is now at 45TB usage with only 66% on group quota. I

[2022-07-11 13:01] junwang-noaa commented on #896
@WenMeng-NOAA @yangfanglin Can you provide the diag_table and  post control/namelist itag file for P8c inline post? We can update the cpld_bmark_p8 test with inline post so it will be consistent with workflow. Thanks

[2022-07-11 13:22] yangfanglin commented on #896
@junwang-noaa In /scratch1/NCEPDEV/global/Fanglin.Yang/save/git/global-workflow/parm/parm_fv3diag I modified the following files to include cldfra (3D cloud fractions from Thompson MP) in phy output.

diag_table
diag_table_cpl
diag_table_da

[2022-07-11 13:23] WenMeng-NOAA commented on #896
@junwang-noaa I would defer to @WalterKolczynski-NOAA and @wzzheng90 for providing UPP control files and itag files from global-workflow. From my perspective, they should be the same as ones in control test.

[2022-07-11 13:25] yangfanglin commented on #896
Note I did  test diag_table_cpl and diag_table_da, but I don't expect anything issue.  These updated files are still my local changes.

[2022-07-11 14:02] junwang-noaa commented on #896
@yangfanglin I see both "cld_amt" and "cldfra" in diag_table_cpl, do you just need one field? Also do you have post control files and itag files? We don't have inline post in any coupled test yet.

[2022-07-11 14:53] yangfanglin commented on #896
@junwang-noaa Please keep both so the same diag_table can be used for running the model with eitehr GFDL MP or Thompson MP.   The model will ignore one of them and runs fine based on my tests.

[2022-07-11 14:55] yangfanglin commented on #896
@junwang-noaa  I did not run any coupled cases. For the atmos-only case, please see HERA /scratch1/NCEPDEV/stmp2/Fanglin.Yang/RUNDIRS/test/2020071000/gfs/fcst.88150 for the itag and post control files

[2022-07-11 15:02] wzzheng90 commented on #896
@junwang-noaa BTW, my tests also used the atmos-only case as Fanglin did.

[2022-07-11 15:42] yangfanglin commented on #886
A work flow branch has been created to add new ice climatology, set cplmode=nems_orig for non-fractional grid, and add cldfra 3D cloud in all diag_table

https://github.com/yangfanglin/global-workflow/tree/update_scripts

       modified:   parm/config/config.fcst
        modified:   parm/parm_fv3diag/diag_table
        modified:   parm/parm_fv3diag/diag_table_cpl
        modified:   parm/parm_fv3

[2022-07-11 15:53] junwang-noaa commented on #896
@yangfanglin I assume the diag_table_cpl is used by the P8 benchmark run, is it correct? Also it looks to me that the GFDLMP run has both cld_amt and cldfra output available for output, so cldfra will be output in the sfc files, can you double check? For Thompson MP, since we don't have cld_amt in the field_table, it will not be output in the atmf files.

[2022-07-11 15:53] yangfanglin commented on #886
pull request created https://github.com/NOAA-EMC/global-workflow/pull/902

[2022-07-11 16:01] yangfanglin commented on #896
@wzzheng90 Could you please rerun your test with GFDL MP and with /scratch1/NCEPDEV/global/Fanglin.Yang/save/git/update_scripts/parm/parm_fv3diag/diag_table ?   Please check if you get both cld_atm in atmf and cldfra in sfc netcdf files.

[2022-07-11 16:03] yangfanglin commented on #896
Yes

[2022-07-11 16:17] wzzheng90 commented on #896
@yangfanglin   Sure.  I will update it after finished.

[2022-07-11 19:18] wzzheng90 commented on #896
@yangfanglin  The test with GFDL MP was finished.   Both cld_atm in atmf and cldfra in sfc netcdf files look reasonable.   "tcdcprs" in the pgb files looks fine, but "tcdcclm" and "tcdcaveclm" in the pgb files have an issue.   All outputs can be seen as follows:
/scratch1/NCEPDEV/stmp2/Weizhong.Zheng/P8c_atmCTL/COMROOT/p8gfdlc2020012600/gfs.20200126/00/atmos/

[2022-07-11 19:24] lgannoaa commented on #776
Starting 20211021 00Z the following jobs are under memory adjustment:
All EMC archive jobs, enkfgdas_diag, gdas_atmos_verfrad, gdas_atmos_emcsfc_sfc_prep, gfs_atmos_emcsfc_sfc_prep, gfs_wave_prdgen_gridded, gfs_wave_prep.

[2022-07-11 21:29] yangfanglin commented on #896
@wzzheng90 thanks
@junwang-noaa  It appears different diag_tables have to be used for GFDL_MP and Thompson MP.

[2022-07-11 23:02] emilyhcliu commented on #776
The gfs.v16.3.0 parallel starts from 20211015 18z and is now up to 20211020 12Z.
For sanity check, I looked at the statistics of the difference between 6-hour forecast and collocated radiosonde data (O-F) and compared them to those from the operational run.
Please see the plots in the[ slides](https://docs.google.com/presentation/d/1WoLuoTnJZy88yXSoeG29Ny3C69mp3nkfY-5QNII0OJI/edit#slide=id.g13c9f4

[2022-07-12 05:41] WalterKolczynski-NOAA commented on #896
Can we take this opportunity to break diag_table into building blocks we assemble at runtime depending on the configuration before the model is executed? The ever-increasing diag_table variations are a pain to maintain and aren't really tenable. I already kind of did this with the GOCART and MERRA2 aerosols (see [diag_table_aero](https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/parm_f

[2022-07-12 12:54] yangfanglin commented on #896
@WalterKolczynski-NOAA agree, although in this case it is a one line difference.  Will you update the scripts ?

cld_amt for GFDL MP
"gfs_dyn",     "cld_amt",     "cld_amt",      "fv3_history",    "all",  .false.,  "none",  2

and cldfra for Thompson MP.
"gfs_phys", "cldfra", "cldfra", "fv3_history2d", "all", .false., "none", 2

[2022-07-12 15:17] HelinWei-NOAA commented on #776
@emilyhcliu Do you have the corresponding operational GFS results on the disk? I would like to make some snow depth plots to see the impact of our fix. If no, I can grap them from the HPSS. Thanks.

[2022-07-12 15:26] emilyhcliu commented on #776
@HelinWei-NOAA I only pull data (statistics files) related to DA on the disk. I did not get forecast related files to disk.

[2022-07-12 18:32] HelinWei-NOAA commented on #776
@emilyhcliu Thanks. Where can I find the latest test results? /lfs/h2/emc/ptmp/lin.gan/da-dev16-ecf/para/com/gfs/v16.3 only contains some old tests.
@HelinWei-NOAA This parallel started on July 8th 2022 (CDATE=2021101600). It is currently still on retro mode (PDY=20211022).

[2022-07-12 19:18] emilyhcliu commented on #776
@HelinWei-NOAA Here is the on-line archive on WCOSS-2:
**/lfs/h2/emc/global/noscrub/lin.gan/archive/da-dev16-ecf**

I will find the location of HPSS archive and let you know.

[2022-07-12 19:20] emilyhcliu commented on #776
@HelinWei-NOAA Here is the HPSS archive of the parallell:
**/NCEPDEV/emc-global/5year/lin.gan/WCOSS2/scratch/da-dev16-ecf**

[2022-07-13 16:03] emilyhcliu commented on #776
[**Observation monitoring pages**](https://www.emc.ncep.noaa.gov/gmb/gdas/) are up and running for the v16.3.0 parallel experiments:

- [**radmon**](https://www.emc.ncep.noaa.gov/gmb/gdas/radiance/esafford/GFS_v16.3/index.html)
- [**ozmon**](https://www.emc.ncep.noaa.gov/gmb/gdas/) - click Ozone monitoring from the menu bar on the left panel and select source "Experimental GFS v16.3 GDAS"
- [**min

[2022-07-14 12:29] aerorahul opened #906 "Update ncio version in GSI utils."
Update `ncio` module version in GSI-utils.
This likely affects cycled after PR that split the GSI utilities into its own repo.

**Expected behavior**
Likely affecting ensemble post processing jobs.

**Current behavior**
All post processing jobs should succeed but are likely failing.

**Machines affected**
All

[2022-07-14 15:10] malloryprow opened #907 "Remove gfsmetp gfsarch dependency in dev_v16, release/gfs.v16.3.0"
**Description**
Back in late 2021, a commit was done to develop to update the gfsmetp dependencies (https://github.com/NOAA-EMC/global-workflow/commit/fdffeaaf013f638ac43ad421981e48fabf7a7070); it removed the dependency on the gfsarch from the previous GFS cycle. I met with @emilyhcliu today to figure out why .stat files for her experiment start date were not being produced for her GFSv16.3 experi

[2022-07-14 15:23] KateFriedman-NOAA commented on #907
Good catch @malloryprow ! Please submit a PR into `dev_v16` with this two line change and I'll review/merge it into `dev_v16` once it's confirmed to be working in @emilyhcliu's test. I'll then sync merge it into `release/gfs.v16.3.0`. Thanks!

[2022-07-14 16:23] emilyhcliu commented on #907
My test is running.  I will add comment once I have the test result.

[2022-07-14 18:52] #878 closed, assigned to JessicaMeixner-NOAA

[2022-07-14 19:20] KateFriedman-NOAA commented on #877
@emilyhcliu I think this is complete, please confirm and we can close this issue. Thanks!

[2022-07-14 21:03] #887 closed, assigned to nobody

[2022-07-14 21:22] lgannoaa commented on #776
July 14th, Cactus has system degradation issue. NCO halt the Cactus system. This impacted the parallel into halt and incomplete transfer jobs.
Action:
Rerun jobs as needed.
DELETE_COM_IN_ARCHIVE_JOB="NO" is in place until parallel run smooth.
2021122412 gfs arch incomplete; rerun as need.
2021122500 gfs arch incomplete; rerun as need.
2021102512 efcs jobs are discovered unstable due to system erro

[2022-07-14 21:30] WalterKolczynski-NOAA commented on #300
PR #905 adds a debug option at the gw-level for UFS via the UFS's build script. I assume that takes care of most of the UFS concerns (we build WW3 pre/post separately, so that may still need to be addressed).

[2022-07-14 21:32] JessicaMeixner-NOAA commented on #300
@WalterKolczynski-NOAA yes, WW3 pre/post will need a debug type option built into the scripts.  It's capable of being built in debug mode, but needs the easy functionality like what was just added for UFS.

[2022-07-14 21:47] WenMeng-NOAA commented on #896
I ran the UFS regression test cpld_bmark_p8 with turning on in-line post. It appears to me instant time averaged TCDC are in reasonable range (0, 100). My test results are  /scratch1/NCEPDEV/stmp2/Wen.Meng/FV3_RT/rt_60091/cpld_bmark_p8. My ufs version is at /scratch2/NCEPDEV/ovp/Wen.Meng/ufs_develop/ufs-weather-model.

[2022-07-15 00:07] #886 closed, assigned to yangfanglin

[2022-07-15 03:36] junwang-noaa commented on #896
@WenMeng-NOAA I checked the files under /scratch1/NCEPDEV/stmp2/Wen.Meng/FV3_RT/rt_60091/cpld_bmark_p8, there is no cldfra in the diag_table (no cldfra field in sfc file), I am curious how the instant  TCDC on all the pressure levels are computed? We do have time averaged TCDC (TCDC_aveclm) field in the diag_table.

[2022-07-15 18:02] #906 closed, assigned to nobody

[2022-07-16 15:10] lgannoaa commented on #776
Set DELETE_COM_IN_ARCHIVE_JOB="YES" after 20211025 rerun completed.
HPSS transfer remain slow cause archive jobs hit wall clock limit need to be rerun. parallel proceeding still remain slow.

[2022-07-16 15:24] aerorahul opened #909 "Addition of 4D variable in `sfcfHHH` breaks hybrid DA cycled capabilities."
**Description**

The ufs-weather-model is now writing 3D variables in the `sfcfHHH.nc` files. Possibly in PR #902.  See [comment](https://github.com/NOAA-EMC/global-workflow/pull/902/files#r922689832)

As a result, the GSI utility `getsfcensmeanp.x` fails to read this variable into its allocated array.
This causes the `epos` jobs to fail.

A fix in the GSI-utils is being prepared [here](https://gi

[2022-07-16 15:26] lgannoaa commented on #776
Due to the extreme slowness of the HPSS transfer rate which caused archive jobs failure. A redesign of the archive job is in progress. The prototype has been tested on July 15th for a single cycle. It provided much higher performance compare to the original archive job design architecture.
Due to the system degradation issue on July 15th, METPlus (part of the verification jobs) jobs taking too lon

[2022-07-16 17:56] aerorahul commented on #527
closed with #905

[2022-07-16 17:56] #527 closed, assigned to RussTreadon-NOAA

[2022-07-16 18:00] aerorahul opened #910 "Provide single gateway to XML generation for all applications of global-workflow."
**Description**
`setup_workflow.py` and `setup_workflow_fcstonly.py` are used for setting up the XML for cycled and forecast only configurations.
They share large parts of the tasks and dependencies.
Provide a single entry point for creating any mode of application XML within global-workflow.

**Requirements**
- Remove duplication and repetition of task dependencies and taask creation
- Provide a

[2022-07-18 01:02] WenMeng-NOAA commented on #896
Sorry, I checked the wrong field. In my test /scratch1/NCEPDEV/stmp2/Wen.Meng/FV3_RT/rt_60091/cpld_bmark_p8, the instant TCDC has all undefined values due to no 3D cloud fraction from model.
[code]

[2022-07-18 13:14] XianwuXue-NOAA opened #911 "Extend coupled IC job to handle ensemble staging"
**Description**
Allow staging of ensemble initial conditions for GEFS through the `coupled_ic.sh` job for `forecast-only` mode.

**Requirements**
- create  a j-job `JGLOBAL_STAGE_IC` and ex-script `exglobal_stage_ic.sh` to allow staging of initial conditions for GFS and GEFS **forecast-only** experiments.
- `coupled_ic.sh` (rename to `stage_ic.sh`) should be the rocoto wrapper on `JGLOBAL_STAGE_IC

[2022-07-18 13:19] KateFriedman-NOAA commented on #900
From the July 15th 2022 RFC memo:

[code]

[2022-07-18 16:44] #811 closed, assigned to aerorahul

[2022-07-18 16:44] #910 closed, assigned to aerorahul

[2022-07-18 17:03] #909 closed, assigned to nobody

[2022-07-18 18:21] ChunxiZhang-NOAA opened #914 "Change "fv3_history" to "fv3_history2d" for the newly added cldfra in diag_table"
**Description**
The recent PR#[902](https://github.com/NOAA-EMC/global-workflow/pull/902) added 'cldfra' in the diag_table, diag_table_cpl and diag_table_da. However, it is better to have "fv3_history2d" but not "fv3_history"  in the added line. This will not impact current history files using write grid comp, but it may cause the problem for people to write the fields using FMS. Thank Jun Wang fo

[2022-07-19 02:42] lgannoaa commented on #776
@emilyhcliu HPSS has system error in the past few hours. Many archive jobs with error status=141. Parallel is on halt as of July 18th 10:00PM until HPSS system issue resolved.

[2022-07-19 13:37] lgannoaa commented on #776
We do not have access to Cactus from July 19th 11-15Z, and again from 20-00Z due to system upgrades and test.
NCO updated the notice to extend outage until 18Z on July 19th.

[2022-07-19 15:18] #914 closed, assigned to nobody

[2022-07-20 17:07] lgannoaa commented on #776
Transfer speed has been increased. Parallel resumed to run on CDATE=2021103118. The newly designed archive jobs, clean jobs are now in place. The METPlus jobs is now running offline.
The new standalone METPlus jobs run and generated its first output. The stat files were generated. The gplots job website shown plots with new day.

Transfer speed become slow again on 7/20 in the afternoon into the e

[2022-07-20 19:52] KateFriedman-NOAA commented on #907
This is working in my low res tests on Hera and Orion. Any update from your tests @emilyhcliu ?

[2022-07-21 02:49] WalterKolczynski-NOAA opened #923 "Port NCL scripts to python"
**Description**
NCL was deprecated in Sep 2019 and discontinued the follow summer. As such, it is no longer available on the operational machine and we should be moving to non-NCL alternatives for all scripts.

For global-workflow directly, this is mostly the new ice and ocean post. Otherwise. there are some gsi_utility plotting scripts and others are located in UFS components, none of which I thi

[2022-07-21 02:51] WalterKolczynski-NOAA commented on #923
Probably @JessicaMeixner-NOAA or someone she can identify. There's not a big rush, but I also don't think we'll be able to run the system on WCOSS2 until this is completed.

[2022-07-21 13:15] lgannoaa commented on #776
The Cactus will not available on 7/21 (Thu), 7/22 (Fri), and 7/25 (Mon). There will be a production switch on 7/28 (Thu). These events will impact parallel.

[2022-07-21 14:49] AndrewEichmann-NOAA opened #925 "Adding EFSOI to xml workflow generator"
**Description**

Change workflow/setup_xml.py to generate workflow to run EFSOI

**Acceptance Criteria (Definition of Done)**

Generates workflow that runs EFSOI tasks as before refactoring (on EFSOI development branch)

**Dependencies**

No current dependencies

This is required to have EFSOI functioning in global-workflow

[2022-07-21 14:54] AndrewEichmann-NOAA commented on #925
@aerorahul @WalterKolczynski-NOAA

A general question: Certain ensemble tasks that are mirrored in EFSOI tasks (eupd, ecen, esfc, efcs, and epos)  seem to be able to take a cdump of gdas or gfs. I have never seen these used with gfs - would the choice between gdas or gfs relevant to EFSOI?

[2022-07-21 15:55] aerorahul commented on #925
@AndrewEichmann-NOAA

The option to execute the perturbation update via the EnKF is operationally (default) done in the late (gdas) cycle.  However, it can also be executed in the early (gfs) cycle, or both.  This is controlled by the variable `EUPD_CYC` in `config.base`.

In PR #674, there were outstanding questions regarding duplication of the `config` files for EFSOI.  Will you be able to addre

[2022-07-21 17:12] AndrewEichmann-NOAA commented on #925
@aerorahul

Yes, most of those now call the config files of their corresponding standard tasks.

[2022-07-21 20:04] jiandewang commented on #923
@WalterKolczynski-NOAA for all those ncl scripts under MOM6, they are not being used at all

[2022-07-21 20:25] WalterKolczynski-NOAA commented on #923
Great, hopefully MOM6 can just remove them then. But, I'm less worried about UFS as long as we're not using the scripts ourselves, as the wider community might want to keep them for plotting for the time being. That said, it's probably a good idea to have a similar UFS (and component) issues to remove them at some point, since NCL is past EOL and who knows how much longer anyone will be able to us

[2022-07-22 02:18] lgannoaa commented on #776
July 21th evening, two jobs run into system issue and failed. The 2021110300 eupd and gfs fcst.
Error msg: launch RPC: Couldn't allocate a port for PMI to use. eupd rerun success.

[2022-07-22 16:47] lgannoaa commented on #776
July 22th. @emilyhcliu indicated a need to start second parallel on CDATE=2022062000. Preparation is pending on NCO approval to run parallel on production machine.
If it is approved, after the production switch (on July 28th), the current retro parallel will stay on Cactus (switched as the production machine). A new ecflow realtime parallel will be setup and run on Dogwood (switched as the develop

[2022-07-22 19:16] WalterKolczynski-NOAA opened #928 "Checkout and build_all do not report errors"
**Expected behavior**
Errors during the checkout or build process should be reported to STDOUT.

**Current behavior**
Errors are silent unless you read the logs.

**Machines affected**
All

**To Reproduce**
Edit checkout.sh to checkout one of the components from some non-existent repo or one you don't have access to.

**Context**
The error codes from the checkouts are being swallowed by the redire

[2022-07-22 20:00] #521 closed, assigned to nobody

[2022-07-22 20:03] KateFriedman-NOAA commented on #744
Upcoming RFC related to this upgrade (CRTMv2.4.0), from the July 22nd RFC memo:

[code]

[2022-07-23 02:33] lgannoaa commented on #776
July 22 evening, the transfer speed remain slow.
It looks like Cactus is now implemented memory enforcement. In which, all transfer jobs used more memory is killed by system. This impacted some of the archive jobs in the parallel. I modified the memory requirement and rerun jobs.
The parallel is on halt until archive jobs finish from the prior cycle to clean up COM. Current GROUP EMC usage for PTM

[2022-07-24 19:18] lgannoaa commented on #776
July 23 evening into July 24, FIT2OBS starting CDATE=2021110518 failed on every cycle. Contacted code manager for assistance.

The following FIT2OBS job logs shown HDF error in reading gfs forecast output atmf nc files:
FITS.da-dev16-ecf.2021110518.180291: NetCDF: HDF error
FITS.da-dev16-ecf.2021110600.237555: NetCDF: HDF error
FITS.da-dev16-ecf.2021110606.152150: NetCDF: HDF error
FITS.da-dev16-e

[2022-07-24 20:05] RussTreadon-NOAA opened #930 "Optimize DA clone & build"
**Description**
This issue is opened to document changes to optimize the checkout and build for DA components.   This development is done in g-w branch `feature/clone`.

**Requirements**
This issue adds flexibility to the g-w clone and build via the following changes:
- add option to select DA repositories to clone
- modify build so that it only builds cloned DA components.

_The default checkout

[2022-07-24 20:07] RussTreadon-NOAA commented on #930
Create `feature/clone` as copy of `develop` at ffcd5bb .

[2022-07-24 20:49] RussTreadon-NOAA commented on #930
Confirm that the default behavior of `sorc/checkout.sh` is to only clone the GSI repo (ie, populate `gsi_enkf.fd` for GSI-based DA).  By default the modified `checkout.sh` does not  clone the GDASApp repo (JEDI-based DA).

[2022-07-25 12:12] RussTreadon-NOAA commented on #930
Test the following on Orion:
1. `checkout.sh` with no options (default behavior)
2. `checkout.sh -g` for GSI-based DA
3. `checkout.sh -j` for JEDI-based DA

Confirm the following:
1. `checkout.sh` clones the GSI repo into `gsi_enkf.fd` for GSI-based DA.  The GDASApp repo is not cloned.   This is the intended default behavior.
2.  `checkout.sh -g` clones the GSI repo into `gsi_enkf.fd` for GSI-base

[2022-07-25 12:28] RussTreadon-NOAA commented on #930
@WalterKolczynski-NOAA , @aerorahul , @KateFriedman-NOAA  - question for the g-w team:  What default behavior do we want for the DA sections of `checkout.sh`?

Line 154 of `checkout.sh` currently defaults variable `checkout_gsi` to `YES` while line 158 defaults variable `checkout_jedi` to `NO`.

[code]

Thus, by default, `checkout.sh` clones the GSI repo and skips the GDASApp repo.   We want to ke

[2022-07-25 13:06] JessicaMeixner-NOAA commented on #923
@WalterKolczynski-NOAA MOM6 likely has other applications using the scripts in sorc/ufs_model.fd/MOM6-interface/MOM6 and removing them is likely out of our control.

./ush/ocnpost.ncl and /ush/icepost.ncl are being used for the ocean/ice post and these will need to be converted to some other language.

[2022-07-25 18:33] RussTreadon-NOAA commented on #930
Execute the following on Orion in a clone of `feature/clone` with noted results:

- `cd sorc`
- `./checkout.sh` - gsi, gsi_monitor, gsi_utils, gldas, and GDASApp not cloned
- './build_all.sh` - skip build of gsi & enkf, gsi utilities, GDASApp, gsi monitor, and gldas
- `./link_workflow.sh emc orion` - no dead links created

[2022-07-25 19:17] AndrewEichmann-NOAA commented on #925
Now in https://github.com/NOAA-EMC/global-workflow/pull/674

[2022-07-25 20:50] RussTreadon-NOAA commented on #930
Execute the following on Orion in a clone of `feature/clone` with the following results:

- `./checkout -g` - gsi, gsi_utils, gsi_monitor, and gldas cloned
- `./build_all.sh` - skip build of GDASApp
- `./link_workflow.sh emc orion` - the following dead links found in `sorc/gsi_utils.fd`
[code]
The above dead links are actually committed in the [GSI-utils](https://github.com/NOAA-EMC/GSI-utils) rep

[2022-07-25 21:08] RussTreadon-NOAA commented on #930
Execute the following on Orion in a clone of feature/clone with the following results:

- `./checkout -u - GDASApp, gsi_utils, gsi_monitor, and gldas cloned
- `./build_all.sh` - skip build of gsi and enkf
- `./link_workflow.sh` emc orion - the same dead links mentioned in the previous comment also found in this test.   Additionally dead links found in `gdas.cd/build` directories for crtm based cte

[2022-07-25 21:11] CoryMartin-NOAA commented on #930
@RussTreadon-NOAA Do you think we should 1) try to fix these in their repos 2) just `rm` them as part of the GDASApp build (we won't need them I don't think) or 3) ignore the dead links for now?

1 is the best long term solution, links that are needed for tests should be created as part of the tests. But it might be easier said than done, especially for the CRTM ones.

[2022-07-25 21:20] RussTreadon-NOAA commented on #930
@CoryMartin-NOAA , I agree.  1 is the best option but this would need to be discussed & worked out with the JEDI core team.   2 is doable but it may break ctests in gdas.cd.    I can see DA developers working in gdas.cd and I'd like to retain the ability to run ctests.   Of course, such development can be done from a clone of the GDASApp and not g-w.   3 is the easiest.  Since this is prototype de

[2022-07-25 21:46] lgannoaa commented on #776
@emilyhcliu @MichaelLueken-NOAA
Jobs using GSI executable sometime failed with RETURN CODE 127. For example, eupd (enkf.x) and analysis (gsi.x). The issue does not happen after rerun the same jobs.
You can see a list of failed jobs in cactus:/lfs/h2/emc/ptmp/lin.gan/da-dev16-ecf/para/com/output/prod/today/gsi_err_127.log

[2022-07-25 21:52] aerorahul commented on #930
`./checkout.sh` by default IMO, should not checkout any of the DA components.

[2022-07-25 21:57] aerorahul commented on #930
3 is fine for prototype development, however it would be good to open issues for 1 in the respective repos.
DA developers should be able to do the testing in GDASApp repo with the exception of those tests that need the global-workflow.

[2022-07-26 09:34] MichaelLueken commented on #776
@lgannoaa
Looking in the files for the failed runs, I see the following error message:

`launch RPC: Couldn't allocate a port for PMI to use`

I'm not sure what it means, but the stdout files are empty and this is the only error message.  I'm not sure what this error message means.  Is this an issue with allocating resources through ecflow?

@MichaelLueken-NOAA
Please let me know what is the certi

[2022-07-26 13:43] lgannoaa commented on #776
@emilyhcliu @junwang-noaa
In the GFS v.16.3 parallel log directory: /lfs/h2/emc/ptmp/lin.gan/da-dev16-ecf/para/com/output/prod/today
Two jobs using global_fv3gfs.x failed with - launch RPC: Couldn't allocate a port for PMI to use.
Both of these jobs rerun into complete. I want to bring it to your attention.

The efcs group 36 on 2021110918 using
PDY=20211109
Both of these jobs claim same resource:

[2022-07-26 13:48] MichaelLueken commented on #776
@lgannoaa
I have no idea what the certified resource requirement for the failed job is.  I don't run the global-workflow j-jobs and scripts.  All I know is that the jobs failed with the `launch RPC: Couldn't allocate a port for PMI to use` error message.  That is all I can assist with.

[2022-07-26 13:53] SMoorthi-emc commented on #776
This is a system issue.  It seems to occur whenever GDIT does some work on
the system, like running production.
It is happening with my jobs too and reruns run.  It appears that there are
some bad nodes that cause the issue.
Moorthi

On Tue, Jul 26, 2022 at 9:48 AM MichaelLueken-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environm

[2022-07-26 13:54] KateFriedman-NOAA commented on #776
@lgannoaa If you haven't already, I suggest opening a WCOSS2 helpdesk ticket about this error, it looks like a machine problem, particularly because reruns are successful. GDIT can take a look at the nodes that the failed jobs ran on.

[2022-07-26 13:59] aerorahul commented on #776
@SMoorthi-emc Thank you for providing a data point.
@lgannoaa Please open an issue with WCOSS2 helpdesk and cc Steven.Earle.

[2022-07-26 14:13] SMoorthi-emc commented on #776
I had put tickets for this kind of stuff before and it always turned out to
be some node issue.
Moorthi

On Tue, Jul 26, 2022 at 10:00 AM Rahul Mahajan ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 2074

[2022-07-26 17:47] aerorahul commented on #907
@emilyhcliu
Can we merge this PR or are you still waiting for a test result?

[2022-07-26 18:50] #930 closed, assigned to RussTreadon-NOAA

[2022-07-27 01:47] lgannoaa commented on #776
Transfer speed slow down again in the evening of July 26th. PTMP is at 90%. Parallel paused on CDATE=2021111300 waiting for transfer job to catch on.

[2022-07-27 02:06] #680 closed, assigned to aerorahul

[2022-07-27 13:54] aerorahul opened #935 "ocnpost dependency on logfHHH.txt is incorrect"
https://github.com/NOAA-EMC/global-workflow/blob/f04f3ba4dfd5b358aea425f65f82d40917597776/workflow/rocoto/workflow_tasks.py#L592

Ocean post-processing job is currently dependent upon a file `logfHHH.txt`.  The `logfHHH.txt` is a file written out by the write component in `fv3atm`.
What would be the correct dependency for ocean post-processing be that depends on file(s) written out by the ocean co

[2022-07-27 15:31] JessicaMeixner-NOAA commented on #935
@aerorahul I believe @jiandewang should be able help you with this.  The non-atm components are not writing out equivalent "the file is done writing" type files.  The ocean post processes both ocean and ice files, so the dependency should likely be on both of their file names.

[2022-07-27 15:41] jiandewang commented on #935
@aerorahul neither ocean nor ice will output any flag file so if you want to change the current dependency then the only solution is by using the ocean and ice output files

[2022-07-27 15:59] aerorahul commented on #935
@jiandewang That is even better.
Just let us know what are the files that are written out by the ocean and ice components that the ocnpost job depends on.
Also, how do we know that the file being written out is complete and not in the process of writing.  Simply checking for an existence of a file might not be enough in case writing takes time.
Perhaps this is something that can be developed in th

[2022-07-27 16:29] WalterKolczynski-NOAA commented on #935
Is the writing synchronous with the model or asynchronous? If it is synchronous, we can just look for the next output file to appear in the interim. Alternatively, data dependencies have an optional "age" we could use to see how long the file has existed.

Ultimately, the best solution would be a log file as long as we are using data dependencies. Even better than that would be an ecflow trigger i

[2022-07-27 16:40] jiandewang commented on #935
@WalterKolczynski-NOAA using the next output file is a good idea, then what about the last one ? for ocean writing is asynchronous. Final solution is we need FMS has this kind of capability to write out a flag file to indicate writing output is done.

[2022-07-27 16:42] WalterKolczynski-NOAA commented on #935
the dependency could be the next file OR the forecast completing, which would catch the last output time. But if writing is completely asynchronous (multiple output times may be written at once), it won't work. If it is async with the model but the writing is still sequential, it would still work.

[2022-07-27 16:47] jiandewang commented on #935
@WalterKolczynski-NOAA I guess I didn't fully understand what you mean "asynchronous". The writing is sequential. What I mean previously is when model is doing 7th hour of integration, the 6th hour of output may not be fully written yet.

[2022-07-27 16:50] WalterKolczynski-NOAA commented on #935
That's my fault. Your definition is correct (and what I had in mind), but whether the writing is sequential is really the thing we care about (synchronous would implicitly be sequential).

[2022-07-27 16:51] jiandewang commented on #935
@aerorahul I don't have the ocean file on disk at this moment, will have that for you shortly.

[2022-07-27 16:56] jiandewang commented on #935
found the files, here is an example:
ocn2012010106.01.2012010100.nc  <--2012010100 is IC date, 012010106 means it is the 6th hour output
ice2012010106.01.2012010100.nc: same as ocean naming style

[2022-07-27 16:59] aerorahul commented on #935
Thanks @jiandewang for providing the template of the filenames for updating the dependency.
We will update the dependencies for this filename in ocnpost, but I would like to reiterate that this can/may cause a triggering of the ocean post before the file is flushed to disk completely.

[2022-07-27 17:03] jiandewang commented on #935
@aerorahul yes that is my worry too. Say in the near future we double or triple the ocean and ice resolution, writing output may take pretty long time (several minutes). Ideally solution is asking FMS group to have a corresponding flag files.

[2022-07-27 17:10] aerorahul commented on #935
@jiandewang @JessicaMeixner-NOAA
Please open a appropriate issue in the model and escalate as needed -- if necessary.
The `logfHHH.txt` is currently a dependency in the workflow for ocean post-processing.
This file is not written out when the model is run in `data-atmosphere` mode either.

[2022-07-27 17:13] lgannoaa commented on #776
The realtime parallel is in preparation. The configuration:
pslot: rt-gfsv163-ecf
SDATE=2022061918
HOMEgfs: /lfs/h2/emc/global/noscrub/lin.gan/git/gfsda.v16.3.0
slink location (NCO look alike):
/lfs/h2/emc/global/noscrub/lin.gan/para/packages/gfs.v16.3.0
com: /lfs/h2/emc/ptmp/lin.gan/rt-gfsv163-ecf/para/com/gfs/v16.3
log: /lfs/h2/emc/ptmp/lin.gan/rt-gfsv163-ecf/para/com/output/prod/today
HPSS: /NC

[2022-07-27 17:15] KateFriedman-NOAA commented on #776
@lgannoaa For the real-time parallel, are you planning to source dump/obs files from production com or the global dump archive?
@KateFriedman-NOAA In the beginning (CDATE=2022061918) will be retro. At the time when it catch up to realtime, it will remain using the location from EMC global dump archive.

[2022-07-27 17:15] JessicaMeixner-NOAA commented on #935
@aerorahul can we temporarily use the files that @jiandewang pointed you to while the longer term issue of getting waves, ice and ocean to write log files for appropriate triggers?   This might mean temporarily we could run into issues of files not being completely written, but at least those files will exist?  As logfHHH.txt file isn't actually an ocean/ice file the same risk exists now.

[2022-07-27 20:31] JessicaMeixner-NOAA opened #937 "Updates for P8"
**Description**
The first change will be to update to the latest ufs-weather-model hash with the upcoming changes (https://github.com/ufs-community/ufs-weather-model/pull/1353):
* Update to T2m calculation
* Update to set do_gsl_drag_tofd=fasle
* Update to aerosol configuration

The other changes will be:
* Update to set do_gsl_drag_tofd=fasle  (ie stability fix)
* Update to aerosol configuration

[2022-07-27 20:34] aerorahul opened #938 "Changing ocean and ice files in COMROT to be consistent with atm and ops"
**Description**

Comparing the `ROTDIR/` directories for `ocean` and `ice`with `atmos`, the filenames are inconsistent with the `atmos` files that follow the operational convention of `{cdump}.t${cyc}z.atmfHHH.nc`.
After the P8c prototypes have started, the ocean and ice filenames in the workflow will be renamed to be consistent with the atmosphere.

[code]

[code]

Before the work begins to make

[2022-07-28 14:23] lgannoaa commented on #776
Production switch on July 28th. This retro parallel is on halt CDATE=2021111506. All archive jobs completed.

NCO indicated the system auto scrub will remain on for PTMP on all systems. The COM /lfs/h2/emc/ptmp/lin.gan/da-dev16-ecf will be touched. The first touch will be executed at the end of July 28th.

[2022-07-29 02:06] emilyhcliu commented on #907
@aerorahul @malloryprow
I tested the changes and the metplus worked as expected.
This is good to go!

[2022-08-01 12:31] KateFriedman-NOAA commented on #900
From the July 29th RFC memo:
[code]

[2022-08-01 15:50] lgannoaa commented on #776
NCO announced on Aug 1st that Dogwood will have two days outage on Aug 2nd and Aug 4th.

[2022-08-01 16:05] NeilBarton-NOAA opened #947 "Add cycling of non-atmos restarts for DA runs"
**Description**
Enable the S2SW forecast model to cycle with atmos DA. This is a step toward weakly coupled DA.

**Requirements**
This is a new feature in which the ocean, ice, and wave restart files will be copied to COM directory to be used for the next  cycling period. The changes are within the scripting and no updated software is needed.

**Acceptance Criteria (Definition of Done)**
Cycle the

[2022-08-01 18:46] lgannoaa commented on #776
Emily requested the realtime parallel on hold for a NSST related issue #449 until pull #448 is in place.

[2022-08-01 21:19] JessicaMeixner-NOAA opened #948 "archive dependency running with S2SW or S2SAW"
**Expected behavior**
Archive job when running APP=S2SW or APP=S2SWA should depend on:
[code]

**Current behavior**
Currently the archive job only depends on:
[code]
which means that the archive job starts running even if ocean post (or wave post) is still running, see:

[code]

**Machines affected**
All.

**To Reproduce**
Run a forecast with S2SW or S2SWA with develop and compare xml file with th

[2022-08-01 21:38] #948 closed, assigned to nobody

[2022-08-02 14:16] KateFriedman-NOAA commented on #907
Issue is now complete. Closing. Thanks @malloryprow !

[2022-08-02 14:16] #907 closed, assigned to nobody

[2022-08-02 14:33] lgannoaa opened #951 "GFS v16.3 retro parallel for implementation"
**Description**

This issue is to document the GFS v16.3 retro parallel for implementation. Referenced to #776
@emilyhcliu is the implementation POC

The configuration for this parallel is:
First full cycle starting CDATE is retro 2021101518
HOMEgfs: /lfs/h2/emc/global/noscrub/lin.gan/git/gfsda.v16.3.0
pslot: retro1-v16-ecf
EXPDIR: /lfs/h2/emc/global/noscrub/lin.gan/git/gfsda.v16.3.0/parm/config
C

[2022-08-02 14:40] lgannoaa opened #952 "GFS v16.3 realtime parallel for implementation"
**Description**

This issue is to document the GFS v16.3 realtime parallel for implementation. Referenced to https://github.com/NOAA-EMC/global-workflow/issues/776
@emilyhcliu is the implementation POC

The configuration for this parallel is:
First full cycle starting CDATE is retro 2022073118
HOMEgfs: /lfs/h2/emc/global/noscrub/lin.gan/git/gfsda.v16.3.0
pslot: rt1-v16-ecf
EXPDIR: /lfs/h2/emc/glob

[2022-08-02 16:09] emilyhcliu commented on #951
### Status Update from DA - issues, diagnostics, solution and moving forward

### Background

gfs.v16.3.0 retrospective parallel started from 2021101518z on Cactus.  So far, we have about 3-4 week results.   The overall forecast skills show degradation in NH.  The DA team investigated to look for possible causes and solutions. The run configured and maintained by @lgannoaa has been very helpful fo

[2022-08-02 19:23] emilyhcliu commented on #776
Status Update from DA - issues, diagnostics, solution and moving forward
Background
gfs.v16.3.0 retrospective parallel started from 2021101518z on Cactus. So far, we have about 3-4 week results. The overall forecast skills show degradation in NH. The DA team investigated to look for possible causes and solutions. The run configured and maintained by @lgannoaa has been very helpful for the DA team

[2022-08-02 19:51] lgannoaa commented on #776
Closing this issue. Replaced with:
A new issue #951 for GFS v16.3 retro parallel for implementation
A new issue #952 for GFS v16.3 realtime parallel for implementation
going forward.
Tag: @emilyhcliu @dtkleist @junwang-noaa @aerorahul

[2022-08-02 19:51] #776 closed, assigned to LinGan-NOAA

[2022-08-03 14:07] KateFriedman-NOAA commented on #900
Work for this operational upgrade is now complete. Closing issue.

[2022-08-03 14:07] #900 closed, assigned to KateFriedman-NOAA

[2022-08-03 14:44] lgannoaa opened #955 "Fail forecast job if WAVE is turned on with warm_start=.true. and WAVE restart file in previous cycle"
**Expected behavior**

Forecast job should fail if restart files are missing.
**Current behavior**

exglobal_forecast.sh log a warming message without fail the job.
**Machines affected**

All
**To Reproduce**

Get ICS without the wave restart files and run GDAS forecast job.

**Detailed Description**

The forecast script exglobal_forecast.sh only give a warning message if wave turned on and warm_s

[2022-08-03 14:48] lgannoaa opened #956 "exglobal_forecast.sh unnecessary sCDATE in code"
**Description**

https://github.com/NOAA-EMC/global-workflow/blob/feature/ops-wcoss2/scripts/exglobal_forecast.sh#L224-L238
Line 224 should be removed because sCDATE is set from the line 227 and 233.

[2022-08-03 14:53] lgannoaa opened #957 "The wave restart file in production runhistory archive file is not located in tar ball with restart in naming"
**Description**

The wave restart file in production runhistory archive file is located in tar ball named \*gdaswave_keep\*.tar
This file name is not consist with NCO restart files. For example, GFS/GDAS/and ENKF all using restart in tar ball file naming where it contain restart files.

[2022-08-03 14:58] WalterKolczynski-NOAA commented on #956
[L252 of forecast_predet](https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/forecast_predet.sh#L252) in develop.

This really isn't the kind of thing we need to worry about removing in the ops branch.

[2022-08-03 15:00] JessicaMeixner-NOAA commented on #955
@lgannoaa the current behavior was requested by NCO.  @aerorahul can chime in more when he's back from leave.

[2022-08-03 15:07] lgannoaa commented on #956
This issue is not about removing in the ops branch. We know an issue noted in the issue where it is designed for. Why not fix it?

[2022-08-03 15:09] WalterKolczynski-NOAA commented on #955
We probably should make it an option whether to fail or not. In operations it is important for the GFS suite to not fail entirely if the wave restart file is missing. But for development, it would be better to just stop.

[2022-08-03 15:15] lgannoaa commented on #955
@aerorahul For the upcoming implementation, I recommend to fix it by modify production runhistory list to create a separate wave restart file. It will be in-line with current restart file naming used in production. It will help NCO with getting the right restart files if a restart is needed.
I also recommend to contact NCO and let them know that the /*gdaswave_keep/* file from the previous cycle i

[2022-08-03 15:19] lgannoaa commented on #955
If impact statement above is not acceptable from the operation, this job should fail as need.

[2022-08-03 15:29] JessicaMeixner-NOAA commented on #955
@lgannoaa  please see this PR: https://github.com/NOAA-EMC/global-workflow/pull/874 which discussed in great detail if waves were going to fail, and wave restarts.  Based on this, I do no think this should be changing.

I also do not think we need to be changing tar-ball names at this point.  Perhaps for v17 but it seems like we're adding unneeded changes that were not asked for.  @KateFriedman-NO

[2022-08-03 15:41] lgannoaa commented on #955
@JessicaMeixner-NOAA I see PR #874 now. As noted above, staring parallel without wave restarts file will not fail the job. That is why we do not see issue when other people start the parallel with missing wave restart files. Hence this issue to do exception handling to fail the job if restart file is missing with the configuration noted above.

[2022-08-03 16:39] KateFriedman-NOAA commented on #639
The bulk of the work for this issue is now complete. Remaining work to introduce version files into the `develop` branch is being tracked in issue #671.

[2022-08-03 16:39] #639 closed, assigned to KateFriedman-NOAA

[2022-08-03 18:18] KateFriedman-NOAA opened #960 "Remove SDATE=CDATE IAU block in config.base.nco.static"
**Expected behavior**

The `IAU_OFFSET` value should be set to 6 (IAU on) and the `IAU_FHROT` value should be set to the first value in `IAUFHRS` variable (3).

**Current behavior**

`IAU_FHROT` is getting set to 0 and then filters down to the forecast job `fhrot` value. This is wrong. The forecast job fails.

**Machines affected**

All.

**Context**

@lgannoaa reported this issue while starting a

[2022-08-03 18:34] #937 closed, assigned to bbakernoaa, JessicaMeixner-NOAA

[2022-08-03 18:45] #960 closed, assigned to KateFriedman-NOAA

[2022-08-03 19:22] lgannoaa commented on #952
The realtime parallel started August 3rd. on Dogwood.

[2022-08-03 20:52] KateFriedman-NOAA commented on #665
Released the GFSv16.2.x package to users: https://github.com/NOAA-EMC/global-workflow/releases/tag/gfs.v16.2.2

Also announced it to the glopara-announce and fv3-announce listservs.

[2022-08-04 03:19] lgannoaa commented on #952
August 3rd evening, the HPSS transfer speed become very slow. Many archive jobs waiting in queue. There is a scheduled Dogwood outage on Aug. 4th. Therefore, pause realtime parallel on CDATE=2022062112 to allow all HPSS transfer jobs to complete. Will resume/recover parallel when machine return from the scheduled outage.

[2022-08-04 14:14] lgannoaa commented on #952
Aug 4th morning, NCO have an emergency production switch. The Dogwood is now the production machine. This parallel is on halt CDATE=2022062112.

[2022-08-04 14:15] lgannoaa commented on #951
NCO announced that Cactus will become dev machine in the evening of Aug 4th. Retro will start with CDATE=2021101518.

[2022-08-04 18:36] lgannoaa commented on #951
Retro is now started on Aug. 4th. evening.

[2022-08-04 19:44] KateFriedman-NOAA commented on #671
Due to complications related to aligning component versions in the `develop` branch, this work to introduce version files is now ON HOLD until further work and discussions can occur.

[2022-08-05 12:25] lgannoaa commented on #951
retro paused on CDATE=2021101900 in the morning of Aug. 5th due to HPSS transfer slowness which caused high COM usage.
Aug. 5th evening, the transfer speed remain slow. Parallel remain paused.

[2022-08-05 18:10] lgannoaa commented on #951
Tag: @emilyhcliu @dtkleist @junwang-noaa
@emilyhcliu and @dtkleist today made a decision to modify this parallel to write restart files and archive to HPSS every 7 days. This change is now in place.

[2022-08-05 18:10] lgannoaa commented on #952
Tag: @emilyhcliu @dtkleist @junwang-noaa
@emilyhcliu and @dtkleist today made a decision to modify this parallel to write restart files and archive to HPSS every 7 days. This change is now in place.

[2022-08-06 03:31] lgannoaa commented on #951
Cactus have multiple system issues include job submit issue, missing jobs, zero size files, and archive jobs disappear on Aug 5th evening. Multiple rerun and clean up was performed. Resumed on CDATE=2021101900.

[2022-08-06 03:33] lgannoaa commented on #952
Multiple archive job failed due to system issue on Aug 5th evening.
Such as:
ERROR: hpss_WriteList error -5000, file offset 0 - aborting
###WARNING  htar returned non-zero exit status.
This parallel is paused on CDATE=2022062206 for the remaining weekend.

[2022-08-06 13:45] lgannoaa commented on #951
Cactus has file system issue caused para check job failed. Example message:
mkdir: cannot create directory â /retro1-v16-ecf2021101818checkâ : Permission denied
Cactus has hpss transfer system issue cause multiple archive job failed. Example error message:
Cannot send after transport endpoint shutdown
ecen, efcs jobs become zombie jobs.
Archive jobs continue to fail after several attempt try to re

[2022-08-08 13:34] lgannoaa commented on #952
This parallel is resumed in morning Aug. 8th.

[2022-08-08 13:34] lgannoaa commented on #951
This parallel is resumed in morning Aug. 8th.
Cactus archive job continue impacted with system issue "Cannot send after transport endpoint shutdown".
Helpdesk ticket sent: Ticket#2022080810000045
NCO fixed the system issue. The parallel is now resumed.
However, due to the system issue some files are already cleanout  in PTMP. Caused incomplete archive jobs:
Impacted CDATE=2021101518 to 2021101718,

[2022-08-08 17:23] lgannoaa commented on #952
Management made decision on Aug. 8th to rerun this parallel starting with CDATE=2022073118. Kill all jobs the clean up is in progress.
Tag: @emilyhcliu @dtkleist @junwang-noaa @aerorahul

[2022-08-09 14:24] lgannoaa commented on #951
8/9 increate eupd job by 10 minutes because it has multiple fail due to wall clock.

[2022-08-09 18:54] lgannoaa commented on #952
Realtime with new starting CDATE=2022073118 is now started on Dogwood (8/9 3:00p).

[2022-08-10 13:13] lgannoaa commented on #952
Current (8/10 9:00a) is on CDATE=2022080218. Therefore current performance is around 2:30 for each cycle and 9 cycles a day.

[2022-08-10 13:16] lgannoaa commented on #952
There are many transfer jobs failure from system issues:
For example, zombie jobs, job failed because system issue...
Rerun and debug is on going.

Example of job failed on system issue:
 Job 13982095.dbqs01
    ERROR: hpss_WriteList error -5000, file offset 0 - aborting
Example of zombie jobs:
  Job Id: 13927854.dbqs01
    Job_Name = gdas_HPSS_ARCHIVE_gdas_2022080100
   This job was submitted but

[2022-08-10 13:23] lgannoaa commented on #951
The transfer speed remain slow over the night on 8/9 until morning 8/10 PTMP reached critical limit because archive job can't finish. Parallel is paused on CDATE=2021102512 until transfer jobs finished.
Tag: @emilyhcliu @dtkleist @junwang-noaa

[2022-08-10 14:04] KateFriedman-NOAA opened #966 "Fix file promotion and updated versioned FIX_DIR paths in workflow"
**Description**

This issue will document the promotion of `fix_NEW` to `fix` and the associated workflow linking updates to the newly restructured and versioned fix file sets on supported platforms. The initial promotion tasks will happen over a two day period and then the workflow updates will occur.

Checklist

August 10th (promotion day 1)
- [x] rename `fix` to `fix_20210923` (Hera)
- [x] rena

[2022-08-10 14:47] WalterKolczynski-NOAA commented on #863
@yangfanglin Can you confirm fix is correct now so we can close this issue?

[2022-08-10 15:02] ChunxiZhang-NOAA commented on #863
@WalterKolczynski-NOAA @yangfanglin   I believe this fix has not been done yet. Fanglin sent me the modified code a while ago and asked me to create a pull request, but I didn't do it. I will create a pull request soon.

[2022-08-10 18:14] lgannoaa commented on #952
The transfer speed remain slow. Over 60 archive jobs in queue. This parallel is now paused on CDATE=2022080318 for archive job to finish.
@emilyhcliu @dtkleist @junwang-noaa

[2022-08-10 22:43] lgannoaa commented on #951
Parallel resumed on CDATE=2021102518 for one cycle. It will be paused on CDATE=2021102600 in preparation of wafs testing. Starting CDATE=2021102518 post is now using new tag update upp_v8.2.0 (02086a8)
 and wafs is using tag gfs_wafs.v6.3.1 (da909f).

[2022-08-10 22:44] lgannoaa commented on #952
post is now using new tag update tag: upp_v8.2.0 (02086a8) and wafs is using tag gfs_wafs.v6.3.1 (da909f). Effective CDATE=2022080318. The wafs will remain turned off for this parallel.
Additional 30 archive jobs failed with system error 141. This parallel remain paused.
Over night of 8/10~8/11 AM, a total of 51 archive jobs failed with system error:
ERROR: hpss_WriteList error -5000, file offset

[2022-08-11 01:38] WalterKolczynski-NOAA opened #967 "Absorb GSI monitor scripts"
**Description**
As part of the overarching goal of moving global workflow scripts out of component repositories and under global workflow, all of the scripts currently linked in GSI monitor should be moved to global workflow.

**Requirements**
All jobs, scripts, and ush scripts that are currently linked by global workflow added to the global workflow repo instead and removed from the ignore list.

[2022-08-11 11:58] CoryMartin-NOAA commented on #967
Looking ahead to when we refactor the monitoring system, I'm not sure we will want `ush` scripts to be kept in the global-workflow. Is that the convention that is being followed now for all components? I think, for monitoring in particular, that could get messy fast. Thoughts? @aerorahul @EdwardSafford-NOAA @ADCollard @kevindougherty-noaa

[2022-08-11 14:51] lgannoaa commented on #952
Dogwood has system issue caused job fail with:
sed: can't read /var/spool/pbs/aux/14343353.dbqs01: No such file or directory
sed: can't read /var/spool/pbs/aux/14343353.dbqs01: No such file or directory
grep: /tmp/qstat.14343353: No such file or directory
grep: /tmp/qstat.14343353: No such file or directory
grep: /tmp/qstat.14343353: No such file or directory
grep: /tmp/qstat.14343353: No such fil

[2022-08-11 18:08] EdwardSafford-NOAA commented on #967
I've been viewing the monitoring refactor in terms of creating a new, wholly separate package and repo ("Monitoring 2.0") and letting the existing GSI-monitor repo sunset.  At the moment only the global workflow is using GSI-monitor, so I don't see an immediate problem with this convergence of the ush.   But you're right, Cory, when we get 2.0 built, putting the ush level scripts in a specific wor

[2022-08-12 03:16] lgannoaa commented on #951
Parallel paused on CDATE=2021102806 due to system error in archive jobs and high PTMP usage.
Disk quota exceeded on group PTMP.

[2022-08-12 14:44] lgannoaa commented on #952
Rerun 55 failed archive jobs from system error hpss_WriteList error -5000 issue. Currently on CDATE=2022080418 at 10AM Aug. 12th.
Transfer speed remain slow. The archive job in queue is high. Archive jobs in transfer queue disappear due to system error. Parallel is now paused on CDATE=2022080506.
There are still 87 archive jobs waiting in queue. Will keep this parallel paused.
As of 10;00 EST 8/13

[2022-08-12 14:52] WalterKolczynski-NOAA commented on #967
I had done the changes before these comments so I just brought the ush scripts that workflow was using over. We can move them back later if need be.

[2022-08-12 14:55] CoryMartin-NOAA commented on #967
My comment was more "forward looking", I have no issues with doing it for the GSI monitor.

[2022-08-13 14:24] lgannoaa commented on #951
Rerun a few archive zombie jobs to keep parallel going and PTMP clean up to continue. At 10;00 EST 8/13 current CDATE=2021103106.
Tested WAFS GCIP job on CDATE=2021103100. It failed. Email has been sent to the developer.

[2022-08-14 20:58] lgannoaa commented on #952
As of 5:00p on Sunday 8/14, this parallel is on CDATE=2022080712. Estimated performance is around 3 days per calendar day.

[2022-08-15 13:29] lgannoaa commented on #951
PTMP fill up last night, parallel paused for a few hours. It is resumed at CDATE=2021110406.

[2022-08-15 13:37] KateFriedman-NOAA opened #971 "Update EMC_verif-global to `verif_global_v2.10.0` tag"
**Description**

Update the EMC_verif-global tag in the `dev_v16.2.x`, and `release/gfs.v16.3.0` branches to `verif_global_v2.10.0`. This new tag updates the FIX_DIR paths from "fix" to "fix_NEW". Recent "fix" set updates should not cause existing verif-global tags to break when run from within global-workflow (which uses "fix_NEW") but they won't work when run standalone. This new tag resolves th

[2022-08-15 14:28] KateFriedman-NOAA commented on #971
The `develop` branch is still using a special version of EMC_verif-global at c267780, so will remove the task to update the version in `develop` from this issue.

[2022-08-15 15:15] lgannoaa commented on #952
realtime parallel on pause CDATE=2022080918 due to high archive queue and transfer job slowness.
As of Aug. 15th at night, the archive job to HPSS still backed up. This parallel continue to be on halt.

[2022-08-15 16:04] KateFriedman-NOAA opened #974 "Update UFS_UTILS version to new `ufs_utils_1_8_0` tag (develop)"
**Description**

A new UFS_UTILS tag (`ufs_utils_1_8_0`) has been released. It includes the following changes compared to the current hash (`a2b0817`):

https://github.com/ufs-community/UFS_UTILS/compare/a2b0817..735e2ba

The changes include cleanup to remove old/decommissioned platforms, add WCOSS2 support, and updates documented in these UFS_UTILS PRs:
* https://github.com/ufs-community/UFS_UTIL

[2022-08-15 19:02] #971 closed, assigned to KateFriedman-NOAA

[2022-08-16 12:45] lgannoaa commented on #951
wafs testing is now completed. Code manager checked output and log found no issue.

[2022-08-16 12:46] lgannoaa commented on #951
Gempak and awips downstream code manager checked output and log on a 00Z test found no issue.

[2022-08-16 12:46] lgannoaa commented on #951
Bufr sounding code manager checked output and log on a 00Z test found no issue.

[2022-08-16 12:51] lgannoaa commented on #952
Parallel is now resumed on CDATE=2022080918.

[2022-08-16 12:58] lgannoaa commented on #951
Parallel paused for a few hours due to transfer job system issue. After rerun 34 jobs, the parallel is now resumed on CDATE=2021110612.

[2022-08-16 15:23] lgannoaa commented on #951
Emergency failover of production to cactus. This parallel is now paused in preparation to run on white space.
Cactus is now the production machine. Effective immediately CDATE=2021110618

[2022-08-16 15:25] lgannoaa commented on #952
Emergency failover of production to cactus. This parallel is now paused in preparation to run on dev machine.
Dogwood is now the been prepared as dev machine. Parallel will resume when machine return to developer.
Effective immediately CDATE=2022080918

[2022-08-16 19:00] emilyhcliu commented on #293
@WalterKolczynski-NOAA @yangfanglin @RussTreadon-NOAA
We need to resolve this ticket for the v16.3.0 code delivery this Friday.  Are we at the point to mark this ticket as resolved?

[2022-08-16 19:38] NeilBarton-NOAA commented on #947
coping of restarts is added to my branch
https://github.com/NeilBarton-NOAA/global-workflow/tree/S2SW_atmosDA_dev

However, workflow/rocoto xml files needs edits.
1) the gdaswaveprep needs to be removed for the S2S application
2) the arch tasks causes the error "Error: Extra element task in interleave"

@aerorahul and/or @WalterKolczynski-NOAA. Could you look at these items and create a pull reque

[2022-08-16 19:46] aerorahul commented on #947
@NeilBarton-NOAA
Like we discussed the other day, can we focus on cycling with `APP=S2S`.
cycling with `APP=ATMW` is also currently broken and is likely a better candidate for resurrecting and testing waves in cycled mode.

I can try and jog my memory about what the `gdaswaveprep` job is doing in the context of cycling.

[2022-08-16 19:51] NeilBarton-NOAA commented on #947
@aerorahul To my understanding, gdaswaveprep preps ocean currents from the offline ocean model for the wave model. Since the ocean model is coupled, this task isn't needed. @JessicaMeixner-NOAA may have more details.

[2022-08-16 20:14] JessicaMeixner-NOAA commented on #947
GDASwave prep is needed to prep current and ice input if using APP=ATMW.    Starting with S2S and moving to S2SW also sounds like a good idea to me.  It's been a while since I know someone has run S2S only, so might triple check a free-forecast run works before diving into cycling.

[2022-08-16 20:26] aerorahul commented on #947
Just an FYI, I ran a single `CDATE` case of `APP=S2S` run this week for PR #970.  I however was not paying attention to the correctness of the free-forecast model.

[2022-08-16 20:28] JessicaMeixner-NOAA commented on #947
@aerorahul I would expect an immediate error or for it to work so I'd assume things are good to go!

[2022-08-16 20:39] aerorahul commented on #947
I take it back.
I did not run the forecast (I compiled the package). I ran `reg2grb2.x` on existing model output.

So, I guess someone broke `APP=S2S` when the model tag was updated.  Lovely~

[2022-08-16 20:43] JessicaMeixner-NOAA commented on #947
Well the standalone S2S app wasn't even supported by the ufs-weather-model for a while, so not super surprising as it's not a target configuration for development work.  Shouldn't be hard to fix.

[2022-08-16 20:45] aerorahul commented on #947
Does that mean, these RT in the ufs-weather-model is not exercised?
These have been there for a while (I think).
<img width="1180" alt="Screen Shot 2022-08-16 at 4 45 02 PM" src="https://user-images.githubusercontent.com/11394126/184981673-104c6786-dcfc-487e-862f-74c034af7b19.png">

[2022-08-16 20:48] JessicaMeixner-NOAA commented on #947
The control was updated to add aerosols and waves, an S2S compile was added though for CMEPS testing: https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/rt.conf#L5-L34

Again, this is likely a small update and should be a big deal to get working and after all you can run S2SW or S2SWA if needed.

[2022-08-16 20:51] aerorahul commented on #947
Ok.  Who should I ask to open an issue and address this?
This needs to be fixed ASAP.

[2022-08-16 20:53] JessicaMeixner-NOAA commented on #947
It should not be a big task, the biggest question is if this is absolutely needed?  If @NeilBarton-NOAA needs this, I'm happy to help him make it work again and  already offered the help offline.

[2022-08-16 20:55] NeilBarton-NOAA commented on #947
I'll start a test

[2022-08-16 21:15] aerorahul opened #977 "APP=S2S free forecast fails after model tag update."
**Expected behavior**
Free-forecast with `APP=S2S` should work.  Instead the model fails.

**Current behavior**
Free-forecast with `APP=S2S` got broken after the model hash was updated as part of PR #946.  The corresponding model hash is `9ae617`.  The previous model hash `b97375c` worked with `APP=S2S`.

**Machines affected**
Likely all.

**To Reproduce**
[code]

An example log file for the above

[2022-08-16 21:17] aerorahul commented on #947
Thanks @JessicaMeixner-NOAA and @NeilBarton-NOAA
I opened an issue #977 to document the problem.

[2022-08-16 21:28] WalterKolczynski-NOAA commented on #293
This is really a question for @KateFriedman-NOAA, since she has been the one handling all the v16 handoffs. I haven't touched any v16 code, which is now substantially different than what is in develop. Unfortunately, she is on leave until Thursday.

Further, I don't believe the issues raised above have been resolved, and I don't see them being sorted out in just a few days.

[2022-08-16 22:00] aerorahul commented on #293
@emilyhcliu
These issues have not been worked on and will not be in time for Friday's code delivery.
While I agree these may be "bugs" in the eyes of NCO, they are necessary to allow testing and execution on R&D platforms.
Having said that, their definition and use can be improved, something that we don't allocate time or resources and expect they will fix themself.
Since v16.3.0 is an upgrade in

[2022-08-17 01:58] WalterKolczynski-NOAA commented on #977
My first thought was something with diag_table, but that wasn't changed in that PR.

[2022-08-17 03:08] aerorahul commented on #977
@WalterKolczynski-NOAA you had the correct hunch.

I got a tip from @yangfanglin who got cc-ed on an email from @JessicaMeixner-NOAA to someone who also encountered the same failure, instructing to remove the following lines from `diag_table_cpl`

[code]

and

[code]

Doing so, allowed the model with `APP=S2S` to proceed past the failure.

I should have scrolled up in the failed log to notice:
[co

[2022-08-17 12:22] JessicaMeixner-NOAA commented on #977
These variables are for evaluating wave-ocean coupling in prototypes.  These will not be variables output in operations, so perhaps it's time to take these out as P8 has completed.  I'll open a PR with this removal and check to make sure there's no other updates that need to be taken out, such as in the archiving.

[2022-08-17 12:40] JessicaMeixner-NOAA commented on #977
A branch with the proposed fix is here: https://github.com/JessicaMeixner-NOAA/global-workflow/tree/bug/s2sapp

I'll submit a PR after a S2S free forecast job test has succeeded.

[2022-08-17 13:15] lgannoaa commented on #951
This parallel is resumed.

[2022-08-17 13:17] lgannoaa commented on #952
This parallel resumed last night but a zombie job caused it to halt. Condition is now resolved. Parallel is resumed.

[2022-08-17 13:32] lgannoaa commented on #952
efcs grp 21 failed with system issue:
sed: can't read /var/spool/pbs/aux/15767924.dbqs01: No such file or directory
sed: can't read /var/spool/pbs/aux/15767924.dbqs01: No such file or directory
grep: /tmp/qstat.15767924: No such file or directory
grep: /tmp/qstat.15767924: No such file or directory
grep: /tmp/qstat.15767924: No such file or directory
grep: /tmp/qstat.15767924: No such file or dire

[2022-08-17 13:45] lgannoaa commented on #951
Zombie job found with gfs fcst. Rerun using restart
RERUN_RESTART/20211111.060000.coupler.res

[2022-08-17 14:17] emilyhcliu commented on #744
@KateFriedman-NOAA A GSI tag: **[gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/gfsda.v16.3.0)** for v16.3.0 has been created from [release/gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0).

The /sorc/checkout.sh will need to be changed for GSI.

[2022-08-17 14:29] RussTreadon-NOAA commented on #744
Execution of `sorc/build_all.sh` from `release/gfs.v16.3.0` fails on Hera and Orion for enkf_chgres_recenter_nc.   A check of the log file shows that `module_ncio` is not defined.   Taking a step back, it was found that neither `enkf_chgres_recenter_nc.hera.lua` nor `enkf_chgres_recenter_nc.orion.lua` in `modulefiles/fv3gfs` load the `ncio` module.   In contrast, `enkf_chgres_recenter_nc.wcoss2.lu

[2022-08-17 14:36] DavidHuber-NOAA opened #978 "Incorrect Location/Naming Convention for $snoprv in gfssfcanl and gdassfcanl jobs"
This bug was reported by @RussTreadon-NOAA in #905.

**Expected behavior**

For a particular cycle, say 2022060200, and for `gfssfcanl`
`snoprv=$DMPDIR/gdas.20220601/18/atmos/gdas.t18z.snogrb_t1534.3072.1536`
or perhaps
`snoprv=$DMPDIR/gfs.20220601/18/atmos/gfs.t18z.snogrb_t1534.3072.1536`
The way the script is written presently suggests `gdas` data should be used regardless of whether this is a G

[2022-08-17 14:42] RussTreadon-NOAA commented on #744
@emilyhcliu , as I work through the list of 12 GFS v16 DA bugzillas and find issues, how do you want me to proceed?   I was going to commit updates to NOAA-EMC/GSI [release/gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0) but you already created a tag.   In the past we recreate the tag with updated contents as necessary.  This is not good practice but it keeps us from win

[2022-08-17 14:55] emilyhcliu commented on #744
@RussTreadon-NOAA Thanks for checking the release/gfsda.v16.3.0 on HERA and ORION.   I will update the modulefiles accordingly for hear and orion in the release branch.

[2022-08-17 15:01] RussTreadon-NOAA commented on #744
Am I authorized to make commits to either g-w release/gfs.v16.3.0 or NOAA-EMC/GSI release/gfsda.v16.3.0?   If not, shall I direct g-w commits to @KateFriedman-NOAA and NOAA-EMC/GSI commits to @emilyhcliu?

[2022-08-17 15:06] emilyhcliu commented on #744
@RussTreadon-NOAA Let's update the release/gfsda.v16.3.0 and then create the tag again with the same name gfsda.v16.3.0
If everything goes well, I will submit the CDF early Friday afternoon.

[2022-08-17 15:12] emilyhcliu commented on #744
@MichaelLueken-NOAA Was @RussTreadon-NOAA authorized to make changes to GSI release/gfsda.v16.3.0?  If not, could you grant Russ the authority?

[2022-08-17 15:13] aerorahul commented on #744
@RussTreadon-NOAA Please open a PR.  We don't commit directly to this protected branch.

[2022-08-17 15:13] RussTreadon-NOAA commented on #744
@emilyhcliu , It is highly unlikely that review of GFS v16 bugzillas in NOAA-EMC/GSI `release/gfsda.v16.3.0` will be complete by early Friday (8/19) afternoon.   Some of the bugzillas require compiling codes under various options and checking compilation and runtime behavior.   Other bugzillas require running the production compilation under various scenarios and checking runtime behavior.

[2022-08-17 15:17] RussTreadon-NOAA commented on #744
Thank you, @aerorahul .   Changes to g-w release/gfs.v16.3.0 will be passed via PRs.

[2022-08-17 15:18] emilyhcliu commented on #744
@RussTreadon-NOAA another option is that we leave the Bugzilla tickets as is. Let's just list all the GSI Bugzilla related to GSI for v16,  make notes for those not completed with reasons, and give a plan to resolve them in the future.

[2022-08-17 16:24] CoryMartin-NOAA opened #981 "Add Aerosol DA Tasks to Rocoto Workflow"
**Description**
To support global aerosol initialization for future GEFS/GFS implementations, we need to add to global-workflow experiment setup and rocoto XML generation scripts support for including aerosol DA related tasks.

**Requirements**
I believe we probably want 3 new tasks/jobs

- [ ] aeroanalprep
- [ ] aeroanalrun
- [ ] aeroanalpost

Eventually, I think we will want the `aerosol_init` j

[2022-08-17 16:28] CoryMartin-NOAA opened #982 "Add Jobs and Scripts for JEDI-Based Aerosol DA"
**Description**
To support global aerosol initialization for future GEFS/GFS implementations, we need to add to global-workflow jobs and scripts similar to what have already been created for JEDI-based atmospheric variational DA, but for a separate, aerosol analysis.

**Requirements**
See #981 but I think we need 3 new jobs/scripts:
- aeroanalprep
- aeroanalrun
- aeroanalpost

The prep job should:

[2022-08-18 07:10] #977 closed, assigned to nobody

[2022-08-18 15:28] lgannoaa commented on #952
This parallel is paused due to production switch. Archive job rerun is in progress.

[2022-08-18 15:29] lgannoaa commented on #951
This parallel is paused due to production switch. Archive job rerun is in progress.

[2022-08-18 17:47] lgannoaa commented on #951
gfs_wave_post_bndpntbll job continue to hit wall clock since late August 17th. Impact all 4 cycle in: PDY=20211107.
Debug is in progress.

[2022-08-18 17:49] JessicaMeixner-NOAA commented on #951
@lgannoaa I will look into these jobs, but these jobs are known to be highly reactive to file system issues and in general have longer run times for us versus for NCO.  I'm looking to see if there's any red-flags, but likely the wall clock time just needs to be extended and these jobs should re-run to completion within the longer wall clock time.

@emilyhcliu @JessicaMeixner-NOAA
May I know who is

[2022-08-18 18:23] emilyhcliu commented on #951
@lgannoaa
Since the failed post job is a  known problem in WAVES and the outputs from the job are not used in the following cycles. So, let's skip these jobs and move the parallel forward.

@emilyhcliu Parallel is now resumed on CDATE=2021110812 with all four cycles gfs_wave_post_bndpntbll jobs turned off.

[2022-08-18 18:31] JessicaMeixner-NOAA commented on #951
Sounds like a good plan @emilyhcliu

[2022-08-19 13:03] KateFriedman-NOAA commented on #744
Message from @WenMeng-NOAA

[2022-08-19 15:49] KateFriedman-NOAA commented on #744
Release notes have been added to the `release/gfs.v16.3.0` branch and the branch has been tagged for hand-off to NCO:

https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.3.0

[2022-08-19 15:50] KateFriedman-NOAA commented on #744
Release notes:

https://github.com/NOAA-EMC/global-workflow/blob/EMC-v16.3.0/docs/Release_Notes.gfs.v16.3.0.md

[2022-08-19 16:12] CoryMartin-NOAA commented on #982
after discussion with @aerorahul these jobs will be tentatively named:
- aeroanalinit
- aeroanalrun
- aeroanalfinal

[2022-08-19 16:14] CoryMartin-NOAA opened #984 "Add/Modify config.* files for JEDI-based Aerosol DA"
**Description**
To support global aerosol initialization for future GEFS/GFS implementations, we need to add to global-workflow config.* files to support aerosol DA configuration. The `config.resources` file will also need to be modified as will likely `config.base`.

**Requirements**
- Changes to `config.base` to turn on/off aerosol DA
- Changes to `config.resources` for all new tasks
- Addition

[2022-08-19 16:22] CoryMartin-NOAA commented on #984
Work will be in branch `feature/config_aeroda`

[2022-08-19 16:58] LydiaStefanova-NOAA opened #985 "P8 missing interpolated pgrb output for a specific subset of output hours"
**Expected behavior**

Interpolated lower resolution files: pgrb2.1p00.$fh , pgrb2.0p50.$fh , pgrb2b.1p00.$fh , pgrb2b.0p50.$fh files should be created for every output hour ($fh). The output hours are 6hrs apart, from 000 to 840

**Current behavior**

These files are successfully created for all times **except for fh 012 018 024 042 048 054 072 078 084 090 096** . Note that 000, 006, 030, 036, 06

[2022-08-19 17:13] LydiaStefanova-NOAA commented on #985
@WalterKolczynski-NOAA tagging you in case you don't see it otherwise

[2022-08-19 18:09] #984 closed, assigned to CoryMartin-NOAA

[2022-08-19 18:36] ghost opened #987 "HELP with errors building GSI for release 16.2.2 on Hera"
Your bug may already be reported!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Expected behavior**
Attempting to build global_workflow on Hera under: /scratch1/BMC/qosap/Jorge.Guerra/gfs162_gpsro_dev/global-workflow/sorc/

**Current behavior**
There is an error when configuring GSI prior to compilation detailed in the following lo

[2022-08-19 18:44] WalterKolczynski-NOAA commented on #987
Your GSI clone failed because you have not [setup your gerrit alias properly](https://github.com/NOAA-EMC/global-workflow/wiki/Clone-and-build-global-workflow#set-up-gerrit-access-on-hpcs-to-properly-clone-the-gsi-submodules-from-vlab-gerrit-repeat-for-each-hpc), which made the build fail.

[2022-08-19 19:28] ghost commented on #987
Thank you Walter! I updated my keys now on Vlab. Also, how does that error reveal that the gerritt alias was the problem?

[2022-08-19 19:55] WalterKolczynski-NOAA commented on #987
It's a common enough issue that I knew to immediately look at the checkout log, where it was explicitly stated. We're trying to improve develop to remove this 'gotcha'.

[2022-08-19 19:55] #987 closed, assigned to nobody

[2022-08-20 05:46] lgannoaa commented on #952
The EUPD job for CDATE=2022081612 failed. Debug and rerun is on-going. Parallel is paused as of 8/20.
Failed job log: Dogwood:/lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/output/prod/today/enkfgdas_update_12.o16191080

[2022-08-20 05:53] lgannoaa commented on #952
The gdas analysis job for CDATE=2022081612 failed with:
 /lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/gfs/v16.3/gdas.20220816/12/atmos/
 gdas.t12z.seaice.5min.nid001160.dogwood.wcoss2.ncep.noaa.gov 0: blend.grb
  <warning:cycl> terminating search and and setting gdata to -999
  range max=          15
 ice concentration analysis read error
nid001160.dogwood.wcoss2.ncep.noaa.gov 0: abort:
nid001165

[2022-08-20 14:13] RussTreadon-NOAA commented on #952
The log file indicates

`nid001122.dogwood.wcoss2.ncep.noaa.gov 0: tar: /lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/gfs/v16.3/enkfgdas.20220816/12/atmos/gdas.t12z.oznstat.ensmean: Cannot open: No such file or directory`

A check confirms neither oznstat nor radstat files are present in `/lfs/h2/emc/ptmp/lin.gan/rt1-v16-ecf/para/com/gfs/v16.3/enkfgdas.20220816/12/atmos/`    The 12Z eobs job log f

[2022-08-20 14:26] lgannoaa commented on #952
A rewind of the 2022081612 enkfgdas select_obs, diag, and update was done. Job failed with same issue:
-rw-r--r-- 1 lin.gan emc 1.1M Aug 20 02:01 enkfgdas_update_12.o16160361
-rw-r--r-- 1 lin.gan emc 1.1M Aug 20 02:02 enkfgdas_update_12.o16160623 (retry)
-rw-r--r-- 1 lin.gan emc 1.1M Aug 20 02:11 enkfgdas_update_12.o16162227
-rw-r--r-- 1 lin.gan emc 1.1M Aug 20 02:12 enkfgdas_update_12.o16162467 (

[2022-08-20 14:50] RussTreadon-NOAA commented on #952
Thanks @lgannoaa .   This is indeed interesting.   Upon closer examination the enkfgdas_select_obs_12 job log files indicate a mismatch between the assimilation window and the dump time for several GDA dump files
[code]
A comparison of the GDA and operational dumps, using omi as the example, shows an inconsistency.    enkfgdas_select_obs_12 points at the correct omi dump file

[code]

The rt1-v16-

[2022-08-20 15:14] RussTreadon-NOAA commented on #952
@KateFriedman-NOAA .   Other gdas cycles also corrupted

`cmp` shows dump files on consecutive days are identical.
[code]

The temporal sequence of the date/time stamps for files look odd.
[code]

[2022-08-20 16:50] emilyhcliu commented on #952
I do not have production wcoss2 access.  @lgannoaa had kindly made three log files (enkfgdas_select_obs, s, enkfgdas_update, and  enkfdiag) on the development machine for me.

In the enkfgdas_select_obs log file, I found the following:
[code]
This is just an example for ATMS.
In GSI, there is a routine: **read_obs_check**, which checks the consistency between the analysis time and the time stamps

[2022-08-21 13:55] RussTreadon-NOAA commented on #952
**GDA issue**

The following GDA directories were found to contain files not consistent with (ie, different from) operations:
- `gdas.20220816/12`
- `gdas.20220816/18`
- `gdas.20220817/00`
- `gfs.20220816/12`

The GDA jobs (`gda.gfs`, `gda.gdas`) for the above cycles were `rocotorewind` and `rocotoboot`.  This was done in a sequential manner to ensure no unintended interaction between jobs or cycl

[2022-08-22 13:09] KateFriedman-NOAA commented on #744
From August 19th RFC memo:

[code]

[2022-08-22 13:32] WenMeng-NOAA commented on #744
@KateFriedman-NOAA Will we expect  crtm fix files updated at /apps/ops/prod/libs/intel/19.1.3.304/crtm/2.4.0/fix on WCOSS2 with this RFC implemented?

[2022-08-22 13:42] lgannoaa commented on #952
This parallel is currently paused at CDATE=2022081800. Job failed as noted.
This parallel is now fully resumed.

[2022-08-22 13:44] lgannoaa commented on #952
Dogwood transfer speed remain slow for the entire weekend of 8/19~8/21. Rerun archive is in progress.

[2022-08-22 14:08] lgannoaa commented on #951
Parallel resumed on CDATE=2021112100 after PTMP full issue is resolved.

[2022-08-22 14:25] KateFriedman-NOAA commented on #744
I have recut the `EMC-v16.3.0` tag after merging PR #989 into the `release/gfs.v16.3.0` branch.

[2022-08-22 14:26] KateFriedman-NOAA commented on #744
@WenMeng-NOAA I don't know. @Hang-Lei-NOAA @RussTreadon-NOAA @aerorahul Can you answer this? Thanks!

[2022-08-22 14:35] Hang-Lei-NOAA commented on #744
As far as I know, Emily has been working with NCO to correct the
installations.
NCO will update it today.
The one on /apps/ops/*para*/libs/intel/19.1.3.304/crtm/2.4.0/ is good.

On Mon, Aug 22, 2022 at 10:27 AM Kate Friedman ***@***.***>
wrote:

[2022-08-22 14:53] WenMeng-NOAA commented on #744
@Hang-Lei-NOAA Thanks for clarifying. I would like to test UPP after this RFC is implemented.

[2022-08-22 14:56] emilyhcliu commented on #744
@WenMeng-NOAA @Hang-Lei-NOAA
The coefficients will be fixed with this RFC in the prod space.  In fact, the library should be updated as well with a version released in May which has a bug fix.  Previously, the CRTM-2.4.0 March version was installed on WCOSS-2 para space, and the MHS MetOp-A coefficient file was incorrect.  Currently, the CRTM-2.4.0 installation on para has the correct coefficient

[2022-08-22 16:26] CoryMartin-NOAA commented on #981
As part of this work, a bug was found in the develop branch of global-workflow when setting up a cycled experiment. This bugfix will be included as part of the PR that adds stub aerosol DA tasks.

[2022-08-22 19:36] KateFriedman-NOAA commented on #974
Now running atmos-only and coupled controls and tests on Hera for this tag update.

[2022-08-23 00:22] lgannoaa commented on #951
gfs wave post bndpntbll jobs for CDATE=2021112212 and 2021112218 was turned on for test requested from helpdesk in helping debug job failure issue.
Both of these jobs completed at 40 minutes. These jobs are new resumed to run in this parallel.

[2022-08-23 14:37] WalterKolczynski-NOAA commented on #923
@JessicaMeixner-NOAA has anyone started working on the ocean and ice post scripts yet? We won't be able to run coupled on WCOSS2 until they've been replaced.

[2022-08-23 15:04] #985 closed, assigned to nobody

[2022-08-23 15:05] JessicaMeixner-NOAA commented on #923
@WalterKolczynski-NOAA  - I actually just had a conversation with @AvichalMehra-NOAA about this again.  The current issue is that there is no one in MDAB-C with NCL knowledge so he's hoping someone from VVPPPG can be engaged.

[2022-08-23 15:05] #967 closed, assigned to WalterKolczynski-NOAA

[2022-08-23 16:14] DavidHuber-NOAA opened #991 "S2SWA Fails with "cannot find output CA.bcEXTTAU in CA.bc" error"
**Expected behavior**

Forecast runs to completion

**Current behavior**

For a test case run on 2013040100 on Hera, the GFS forecast fails while initializing GOCART.  The error messages reported are

With more instances of the 'MAPL_HistoryGridComp.F90' message following.

See the complete log here: /scratch1/NESDIS/nesdis-rdo2/David.Huber/para/com/test_ff/logs/2013040100/gfsfcst.log

**Machines

[2022-08-23 16:20] JessicaMeixner-NOAA commented on #991
@DavidHuber-NOAA we have successfully run this IC date on Hera with S2SWA with the P8 tag which is pretty close to the top of develop.

[2022-08-23 16:24] DavidHuber-NOAA commented on #991
@JessicaMeixner-NOAA Can you point me to that log?  Perhaps I could find where I'm going astray.

Also, I pulled the develop branch in and recompiled before running.  I will instead try a clean clone and see how it goes.

[2022-08-23 16:30] JessicaMeixner-NOAA commented on #991
@DavidHuber-NOAA that log file is no longer on disk, but here's a different run date:  /scratch1/NCEPDEV/climate/role.ufscpara/Prototype8/work-P8/COMROOT/p82015040100/logs/2015040100/gfsfcst.log if that could be of help.  I think it's archived so we could look for it needed.

[2022-08-23 16:33] DavidHuber-NOAA commented on #991
Thanks, I'll check out the 2015040100 log and see where I get.

[2022-08-23 16:48] DavidHuber-NOAA commented on #991
Yeah, there is something wrong with my config files.  I will get it cleaned up and start fresh.  Will close this issue if it all runs well.

[2022-08-23 19:11] DavidHuber-NOAA commented on #991
I believe I copied in an older version of the config files to my experiment directory, then pulled in the updates from the develop branch.  Regenerating the experiment from a fresh checkout allowed the forecast to run to completion.

[2022-08-23 19:11] #991 closed, assigned to nobody

[2022-08-23 20:13] #981 closed, assigned to CoryMartin-NOAA, aerorahul

[2022-08-24 14:14] KateFriedman-NOAA commented on #744
Updated the release notes @ b5cbc23 to include mention of the bugzillas that were addressed in this upgrade:
[code]

Recut [EMC-v16.3.0](https://github.com/NOAA-EMC/global-workflow/tree/EMC-v16.3.0) tag after committing change to release notes.

[2022-08-24 16:09] RussTreadon-NOAA opened #993 "Modify specification of MinMon tank (archive) directory for rocoto-based parallels"
**Expected behavior**
MinMon output from developer rocoto-based parallels should be saved in `$PSLOT` specific directories.

**Current behavior**
Execution of the gdas and gfs vrfy jobs from `release/gfs.v16.3.0` writes MinMon output to a non-`$PSLOT` specific directory.   If a developer runs multiple rocoto-based parallels with different `$PSLOT`, MinMon output from the current parallel will over

[2022-08-24 16:11] KateFriedman-NOAA commented on #974
Testing on Hera moves forward very slowly due to long wait times in queues because of low fairshare value for fv3-cpu account.

[2022-08-24 16:21] RussTreadon-NOAA commented on #993
There appears to be a problem with how the gfs.v16.3.0 vrfy.sh sets tank directories for MinMon in developer rocoto-based parallels.

[`vrfy.sh`](https://github.com/NOAA-EMC/global-workflow/blob/release/gfs.v16.3.0/jobs/rocoto/vrfy.sh) currently has

[code]

[`config.vrfy`](https://github.com/NOAA-EMC/global-workflow/blob/release/gfs.v16.3.0/parm/config/config.vrfy) defines `M_TANKverf` as

`

[2022-08-24 18:46] CoryMartin-NOAA commented on #982
From @andytangborn

**Inputs:**

Static:

- Geometry (Nx, Ny, akbk,  fv3files, layout, fmsmpp.nml, field_table_gfdl, gfs-aerosol.yaml
- CRTM (VIIRS SpcCoeff.bin and TauCoeff.bin files)
- BUMP files:
  - Correlation files (*.cor_rh.fv_core.res.nc, *.cor_rh.fv_tracer.res.nc, *.cor_rh.coupler.res)
  - StdDev files (*.stddev.fv_core.res.nc, *.stddev.fv_tracer.res.nc, *.stddev.coupler.res)
  - nicas fi

[2022-08-24 20:46] emilyhcliu commented on #952
CRTM version 2.4.0 with a bug fix released on May, 2022 had been installed on  WCOSS-2 para space on August 12:
/apps/ops/para/libs/intel/19.1.3.304/crtm/

[code]
The wrong SpcCoeff file for MHS MetOp-C was also fixed in this installation.

The same good version was also installed on WCOSS-2 prod space on August 22:
/apps/ops/prod/libs/intel/19.1.3.304/crtm/

[code]

The CRTM-2.4.0 with bug fix is

[2022-08-24 20:49] lgannoaa commented on #952
This parallel will be paused at the end of CDATE=2022082318 for:
1. CRTM related update
2. Allow failed archive jobs to rerun

[2022-08-24 20:50] lgannoaa commented on #951
This parallel will be paused at the end of CDATE=2021112918 to perform CRTM related update.

[2022-08-24 20:52] emilyhcliu commented on #951
See comment in issue #952 for explanation.

[2022-08-24 21:07] KateFriedman-NOAA commented on #744
Merged in PR #994 and recut EMC-v16.3.0 tag.

[2022-08-25 12:45] XuLi-NOAA commented on #951
![RMS_BIAS_to_ostia_retro_v163_7exps_2021101600_2021112718](https://user-images.githubusercontent.com/55100838/186668394-7efa5f70-7872-429c-bc2a-d13cd7282108.png)
Based on 43-day retrospective cycling run, retro1-v16-ecf, the RMS and BIAS against OSTIA foundation temperature analysis has been generated. See the figure, in which, besides retro1-v16-ecf (ECF), other 6 analyses are included as well.

[2022-08-25 13:43] lgannoaa commented on #952
There were 52 HPSS transfer jobs failed over the night of Aug 24th. The transfer job in dogwood is much slower compare to cactus. This parallel will remain on halt.
NCO will do a network update on 8/29. The COM of this parallel will be touched to avoid scrub clean out.
The network update on 8/29 is scheduled from noo-4pm EST on 8/29.

[2022-08-25 15:31] KateFriedman-NOAA commented on #974
The coupled control and test match each other (not showing atmos/input.nml diffs, which are from clone path diffs and are expected):
[code]

Examining atmos-only 1.5 cycle cycled test now, which is where diffs would likely appear anyway since UFS_UTILS codes are invoked in cycled mode more-so than a single cycle coupled test.

[2022-08-25 15:38] KateFriedman-NOAA commented on #974
FYI, ignore the dumb experiment names I used for this (including "ctrl" in all of them incorrectly *facepalm*). Had a brain fart when setting experiment names. Experiments are:

* devctrlatmos - atmos-only control
* uuctrlatmos - atmos-only test with new UFS_UTILS tag
* devctrlcpl - coupled control
* uuctrlcpl - coupled test with new UFS_UTILS tag

[2022-08-25 15:46] KateFriedman-NOAA commented on #974
#### Examining the cycled control and test for new UFS_UTILS tag

Spot check of first half cycle test (C192C96L127) shows they match:
[code]

Examining next (first full) cycle next...

[2022-08-25 17:12] KateFriedman-NOAA opened #997 "Missing atmos subfolder in dependency paths in workflow_tasks.py"
The "atmos" subfolder part of the GDA dependency path for the prep and atmanalprep jobs is missing in the generated xmls for cycled mode. Looks like it got left out when the setup scripts were rewritten.

This line in `workflow_tasks.py`:
[code]
...should be (includes "atmos"):
[code]

**Expected behavior**

Prep and atmanalprep jobs start when they see the dependent updated.status file in the GDA

[2022-08-25 17:49] #997 closed, assigned to KateFriedman-NOAA

[2022-08-25 18:27] KateFriedman-NOAA opened #999 "Incorrect COMIN_GES_OBS setting"
**Detailed Description**

Observed this error in the gdassfcanl job in both a control and test using the `develop` branch:

[code]

That line in `exglobal_atmos_sfcanl.sh` is:
[code]
The latter part of that `-le` is empty because it's trying to check a file that doesn't exist:
[code]
The correct cycle is in the filename but the wrong GDA path is used.

The `$snoprv` variable is evaluated on line 1

[2022-08-25 18:30] KateFriedman-NOAA commented on #974
#### Examining the cycled control and test for new UFS_UTILS tag

The following match:
[code]

Diffs start with the sfcanl file:
[code]
...and then the forecast understandably differs:
[code]

The sfcanl files differ in size, with the test one using the newer UFS_UTILS being slightly larger:
[code]

Investigating...

[2022-08-25 18:43] aerorahul commented on #999
@RussTreadon-NOAA Has reported this sometime ago.
I will try and dig up the issue/PR that was reported.

[2022-08-25 18:49] RussTreadon-NOAA commented on #999
`release/gfs.v16.3.0/ush/rocoto/setup_workflow.py` contains https://github.com/NOAA-EMC/global-workflow/blob/f39d6c7106725966d8381da85de9b9853f007022/ush/rocoto/setup_workflow.py#L395-L404

`develop` does not use `setup_workflow.py`.   `develop/workflow/rocoto/workflow_tasks.py` contains
https://github.com/NOAA-EMC/global-workflow/blob/3a8fc8ecd2fdbe8484dd882a512e765d3c70b307/workflow/rocoto/workf

[2022-08-25 19:14] WalterKolczynski-NOAA commented on #999
Issues #978 and #758 look like duplicates or at least related to this.

[2022-08-25 19:18] KateFriedman-NOAA commented on #999
Alrighty, will close this issue. Thanks all!

[2022-08-25 19:20] KateFriedman-NOAA commented on #999
Reopening.

[2022-08-25 19:25] aerorahul commented on #999
See https://github.com/NOAA-EMC/global-workflow/pull/905#issuecomment-1185819314 from @RussTreadon-NOAA

[2022-08-25 19:35] KateFriedman-NOAA commented on #966
Ran control (with fix_NEW) and test (using updated fix paths) on Orion (both atmos-only and coupled). The test output matches the control run.

atmos-only run spot checking:
[code]

[2022-08-25 19:45] KateFriedman-NOAA commented on #966
Ran `test/diff_ROTDIR.sh` on coupled control and test using updated fix file set. Everything came back as identical/matching between the runs.

[2022-08-25 19:48] KateFriedman-NOAA commented on #966
@GeorgeGayno-NOAA Below are the UFS_UTILS files I had to modify for the updated fix subfolders (see clone on Orion):

[code]

We'll need you to make these same changes in UFS_UTILS develop and then we'll update the UFS_UTILS version as the related global-workflow changes go in. I have another issue (#974) that competes with this work a bit. May need to coordinate when we commit these fix changes f

[2022-08-25 20:17] GeorgeGayno-NOAA commented on #966
Just opened an issue to track this: https://github.com/ufs-community/UFS_UTILS/issues/687

[2022-08-25 20:18] KateFriedman-NOAA commented on #974
Further compared files in the atmos-only run. Both of the tile3 sfcanl_data files differ between the runs while the other tiles match:
[code]

These files are produced in the sfcanal job, which uses `global_cycle` from UFS_UTILS. The sfcanl.nc file is then produced from those sfcanl_data.tile files in the analcalc job (which runs after the sfcanl job has run).

The following changed between the UF

[2022-08-25 20:20] KateFriedman-NOAA commented on #966
Awesome, thanks @GeorgeGayno-NOAA !

[2022-08-25 20:40] DeniseWorthen commented on #923
As the original author of the NCL post scripts for ice and ocean, I would suggest pythonizing the scripts using the geocat examples page (https://geocat-examples.readthedocs.io/en/latest/). From what I can determine, geocat is a python based tool which leverages matplotlib and cartopy. It would probably be best for someone w/ more experience in how this all ties into a particular Python installati

[2022-08-25 20:41] GeorgeGayno-NOAA commented on #974
Tiles 3 and 6 cover the poles, so they are normally the only tiles with ice. When I tested the IMS-NIC ice in my C768 regression test, tile 6 had one ice point different (in the hice record). All other tiles were bit identical. So if you are getting changes to a few points in tile 3 and/or 6, I would say it the change you are seeing is expected.

[2022-08-25 20:51] KateFriedman-NOAA commented on #974
Ok cool, that jives with the difference I got in tile 3 to the `hice` variable:
[code]

The resulting sfcanl.nc file also shows a difference in the `icetk` (sea ice thickness variable):
[code]

Thanks for confirming this difference is expected in the ice data by using the different IMS-NIC file!

[2022-08-25 20:59] bubba0077 commented on #966
Just a note here to make sure we're on the same page: link_fixdirs should probably take in the versions just like we do for modulefiles. Not sure if Kate's current changes do that, but the final solution should.

[2022-08-25 21:01] WalterKolczynski-NOAA commented on #966
Just a note here to make sure we're on the same page: link_fixdirs should probably take in the versions just like we do for modulefiles. Not sure if Kate's current changes do that, but the final solution should.

[2022-08-25 21:08] KateFriedman-NOAA commented on #966
Great point @WalterKolczynski-NOAA , thanks!

@GeorgeGayno-NOAA Please see the link script changes I made in my g-w branch here: https://github.com/NOAA-EMC/global-workflow/commit/fdd640fdce71287fcf3c19b96dc94da0f9682c22

I also created a `fix.ver` file to hold the subfolder versions, which `link_workflow.sh` uses when creating the symlinks under fix:
https://github.com/NOAA-EMC/global-workflow/bl

[2022-08-26 03:21] yangfanglin opened #1000 "forecast fails when running with RRTMGP radiation"
The fixed files for running RRTMGP are not presented/copied to the running directory.  It seems the section that copies those files were removed in recent versions of workflow.   Please add the following section back to forecast_postdet.sh  after line 273

#--RRTMGP fixed fields
  if [ $do_RRTMGP = .true.  ]; then
    #$NLN $FIX_AM/rrtmgp-data-lw-g256-2018-12-04.nc       $DATA/.
    #$NLN $FIX_AM/

[2022-08-26 13:20] KateFriedman-NOAA commented on #974
If I copy in the sfcanl_data tile files from the control run into the test run and rerun gdasanalcalc I get an identical sfcanl.nc file between the runs. I then reran the gdasfcst job in the test and obtained matching output with the control run.

The enkf suite between the control and test runs also matched and the output in the test run was not impacted by the `global_cycle` ice climo file chang

[2022-08-26 14:34] lgannoaa commented on #951
This parallel is paused at the end of CDATE=2021120518 due to transfer job slowness.

[2022-08-26 15:40] #974 closed, assigned to KateFriedman-NOAA

[2022-08-26 15:59] emilyhcliu commented on #951
@XuLi-NOAA Thanks for your NSST diagnostics.  The results are similar to the test runs you did in June.  Great!

[2022-08-26 17:08] emilyhcliu commented on #952
On August, 27, 2022, the gfs.v16.3.0 used for parallels was updated with the following changes.  These changes do not impact assimilation results.

The AVHRR and VIIRS entries were added to the RadMon utility  in the following files:
        modified:   util/Radiance_Monitor/nwprod/gdas_radmon/fix/gdas_radmon_satype.txt
        modified:   util/Radiance_Monitor/nwprod/gdas_radmon/fix/gdas_radmon_s

[2022-08-26 17:08] emilyhcliu commented on #951
On August, 27, 2022, the gfs.v16.3.0 used for parallels was updated with the following changes.  These changes do not impact assimilation results.

The AVHRR and VIIRS entries were added to the RadMon utility  in the following files:
        modified:   util/Radiance_Monitor/nwprod/gdas_radmon/fix/gdas_radmon_satype.txt
        modified:   util/Radiance_Monitor/nwprod/gdas_radmon/fix/gdas_radmon_s

[2022-08-28 06:01] WalterKolczynski-NOAA opened #1003 "Archive jobs fail for fourth full cycle when starting with a half-cycle"
**Expected behavior**
Archive jobs should complete normally

**Current behavior**
When running cold start, the archive job fails for the fourth full cycle (24 h after the half-cycle).

**Machines affected**
All

**To Reproduce**
Set up a cycled cold-start experiment that runs for more than a day.

**Detailed Description**

Failure is caused near the end of the archive script when it attempts to de

[2022-08-29 13:15] lgannoaa commented on #951
The transfer speed improved over the weekend of 8/26~8/28. It was resumed to run. It is on CDATE=2021121106 as of 8/29 8:00a EST.

[2022-08-29 20:28] EdwardSafford-NOAA opened #1004 "Correct diagnostic file handling in ush/ozn_xtrct.sh"
Testing for PR #674 revealed a problem in ush/ozn_xtrct.sh.

**Expected behavior**
vrfy should run without error.

**Current behavior**

Diagnostic file names in the oznstat file are not being parsed correctly.  The filename parsing logic is insufficiently robust and fails on orion only.  The problem manifests when the oznmon_time.x executable attempts to open a diagnostic file that doesn't exist,

[2022-08-29 20:29] EdwardSafford-NOAA commented on #1004
I'll fix this if I can be assigned to it.

[2022-08-30 01:41] lgannoaa commented on #952
NCO updated the network in the afternoon of Aug 29. The transfer speed from Dogwood to HPSS has improved. There are many archive jobs failed due to the work of this update. Also many previously failed/not run jobs need to catch up. This parallel is resumed in the morning of Aug 30th on CDATE= 2022082606.

[2022-08-30 18:13] CoryMartin-NOAA opened #1005 "FDATE - overlooked or deprecated?"
**Expected behavior**
All variables are filled out in `config.base`

**Current behavior**
After running the refactored setup scripts, when looking at the `config.base` file, there is a line:
`export FDATE=@FDATE@ `

Is this intentional? An oversight? What exactly is `$FDATE`? I see it being used here in `config.anal`:
https://github.com/NOAA-EMC/global-workflow/blob/392ca6fc71c390a75cf0c4d621daa49

[2022-08-30 18:20] lgannoaa commented on #952
Many archive jobs failed with system issue:
Connection timed out
Rerun in progress.

[2022-08-30 18:20] lgannoaa commented on #951
Many archive jobs failed with system issue:
Connection timed out
Rerun in progress.

[2022-08-30 18:51] lgannoaa commented on #951
Zombie and system error caused few jobs to fail. Rerun in progress.

[2022-08-30 20:45] CoryMartin-NOAA opened #1006 "gdaspostanl resources must be resolution dependent"
**Expected behavior**
all jobs should complete successfully (including `gdaspostanl`)

**Current behavior**
When running at C96, `gdaspostanl` will fail. The `stdout` does not go to the logfile... (that's a different issue), but the problem boils down to:
`too many MPI tasks, max is 96, stopping`

In this case `96=jm/2` where `jm=192`. So the max number of MPI tasks must equal the resolution.

**M

[2022-08-31 07:35] WalterKolczynski-NOAA commented on #280
Xsede has been commissioned, so I'm closing this issue.

[2022-08-31 07:35] #280 closed, assigned to Hang-Lei-NOAA, MinsukJi-NOAA

[2022-08-31 13:31] lgannoaa commented on #951
There were 33 archive jobs failed over the night of Aug 30th. Due to the QOS from production jobs. Rerun in progress.

[2022-08-31 14:33] WalterKolczynski-NOAA commented on #1005
I suspect silently deprecated is the right answer. Those are the only two mentions I see anywhere in the code base. I don't know that having an `FDATE` is necessary. @aerorahul?

[2022-08-31 14:58] lgannoaa commented on #952
The dust from HPSS transfer slowness finally come to an end. All archive jobs from previous cycle were completed.

[2022-08-31 15:09] JessicaMeixner-NOAA commented on #923
The script from RTOFS that converts from tripolar to netcdf uses:  intel/19.1.3.304 and  cdo/1.9.8
and the script is here:  /lfs/h1/ops/prod/packages/rtofs.v2.3.0/ush/rtofs_nc2grib2.sh

VVPPPG uses CDO in EVS as well.

While xESMF is not allowed on WCOSS, ESMPy (which some have confirmed is on wcoss2 via the ESMF installation/library) might be another alternative which could use the already genera

[2022-08-31 15:17] JessicaMeixner-NOAA commented on #923
An example from @bbakernoaa on using ESMPy: https://github.com/bbakernoaa/regrid_fengsha_esmpy

[2022-08-31 15:53] RussTreadon-NOAA commented on #1005
`FDATE` is mentioned in g-w PR #892

- Add FDATE to config.base.emc.dyn

@KateFriedman-NOAA may recall the history of `FDATE`

[2022-08-31 18:05] lgannoaa commented on #951
Looks like the HPSS speed improvement is solid on WCOSS2 now. Modify this parallel to write restart files to HPSS everyday. This change is now in place effective CDATE=2021121600.

[2022-08-31 18:06] lgannoaa commented on #952
Looks like the HPSS speed improvement is solid on WCOSS2 now. Modify this parallel to write restart files to HPSS everyday. This change is now in place effective CDATE=2022083006.

[2022-09-01 12:36] lgannoaa commented on #952
Congratulations to this parallel hit the true realtime on CDATE=2022090106.

[2022-09-01 13:12] lgannoaa commented on #951
Still see impacts during the night when production transfer jobs takes higher priority. Some of our transfer jobs gets cancelled by the HPSS system due to slow transfer speed. The HPSS helpdesk respond with acknowledge on the ticket. Therefore, issue with failed transfer jobs is here (on Cactus) to stay.

[2022-09-01 13:12] lgannoaa commented on #952
Still see impacts during the night when production transfer jobs takes higher priority. Some of our transfer jobs gets cancelled by the HPSS system due to slow transfer speed. The HPSS helpdesk respond with acknowledge on the ticket. Therefore, issue with failed transfer jobs is here (on Dogwood) to stay.

[2022-09-01 17:17] XuLi-NOAA commented on #951
The same monitor has been done for rt1-v16-ecf in the same was as for retro1-v16-ecf (see above) on the NSST foundation temperature analysis for the time period of 2022080100 to 2022083018. There is some warning/alert: In terms of RMS to OSTIA one, globally, it becomes smaller/better in the beginning few days, however, it is getting larger and becomes larger than operational NSST Tf analysis, afte

[2022-09-01 17:35] emilyhcliu commented on #951
@XuLi-NOAA Looks like SH performs better than the NH.   These plots should be posted in the[ issue](https://github.com/NOAA-EMC/global-workflow/issues/952) for real-time parallel

[2022-09-01 17:40] XuLi-NOAA commented on #952
![RMS_BIAS_to_ostia_opr_rt1_cmc_2022080100_2022083118_S Pole](https://user-images.githubusercontent.com/55100838/187978443-f81ab488-5dbf-4230-b5da-d2145885d1e8.png)
![RMS_BIAS_to_ostia_opr_rt1_cmc_2022080100_2022083118_S Mid](https://user-images.githubusercontent.com/55100838/187978486-141f3d96-0314-4795-85a3-bcc5c157112c.png)
![RMS_BIAS_to_ostia_opr_rt1_cmc_2022080100_2022083118_Tropics](https://

[2022-09-01 17:44] XuLi-NOAA commented on #951
It has been moved to #952 .

[2022-09-02 13:36] RussTreadon-NOAA opened #1010 "Modify RadMon tank (archive) directory for rocoto-based parallels"
**Expected behavior**
Execution of the Radiance Monitor (RadMon) package in rocoto-based parallels should write output to unique tank (archive) directories.

**Current behavior**
While RadMon output is correctly written to $PSLOT/$CDUMP.$PDY, no distinction is made between $cyc.  As a result tar'd RadMon output from each successive cycle overwrites the tarball from the previous cycle for a given $

[2022-09-03 16:10] lgannoaa commented on #951
Rerun 35 archive jobs due to system issues previously known.
Rerun 32 archive jobs due to system issues previously known.

[2022-09-05 07:36] Alien2one1two commented on #1006
37f1611bb908f1df8bed667facf0d079d95f02b6

[2022-09-05 18:30] lgannoaa commented on #952
Management requested to run a full cycle with the library updates in GFSv16.3.0. In preparation, the following modification is in plan:
- Current HOMEgfs is preserved
- Checkout GFSv16.3.0 and apply library updates
- Build executable
- Modify ecflow workflow to pause on CDATE=2022090600
- Resume parallel with the library updates package going forward

As of the morning on Sep. 7th, the full cycle

[2022-09-05 18:30] lgannoaa commented on #951
Management requested to run a full cycle with the library updates in GFSv16.3.0. In preparation, the following modification is in plan:
- Current HOMEgfs is preserved
- Checkout GFSv16.3.0 and apply library updates
- Build executable
- Modify ecflow workflow to pause on CDATE=2022010400
- Resume parallel with the library updates package going forward

As of the morning on Sep. 7th, the full cycle

[2022-09-06 12:52] KateFriedman-NOAA commented on #1005
`FDATE` was added to be set as the first full cycle in a cycled run with a half cycle (`SDATE`) preceding it (`FDATE`=`SDATE`+06). There was an IAU check that used to use it but it looks like that has been reworked so there may not be a need for `FDATE` anymore. I'm good with it being removed.

[2022-09-06 18:00] KateFriedman-NOAA opened #1014 "Absorb GLDAS scripts"
**Description**

As part of the overarching goal of moving global workflow scripts out of component repositories and under global workflow, all of the scripts currently linked in GLDAS should be moved to global-workflow. FYI @HelinWei-NOAA , please let us know of any concerns, questions, or objections. Once we absorb the following scripts you can remove them in your GLDAS repo.

Scripts to be abso

[2022-09-06 18:10] HelinWei-NOAA commented on #1014
I don't think there will be any issue as long as the right path is given in the scripts.

[2022-09-06 18:14] KateFriedman-NOAA commented on #1014
Great! Yep, I'll be making the necessary workflow-side updates related to paths and such. :)

[2022-09-06 20:32] CoryMartin-NOAA opened #1015 "Preamble doesn't work properly when ex-script is non-shell"
The preamble.sh has on line 50:
[code]
This works great for .sh scripts, but it seems that when calling a .py script, I see things like this:
[code]
I suspect (but am not 100% sure) that the issue is this, in that `$BASH_SOURCE` only works for bash (presumably).

EE2 standards allow for bash, perl, and python, and we are moving towards a lot of python use, so it would be great if the preamble.sh s

[2022-09-06 20:38] CoryMartin-NOAA commented on #1015
Yeah `$0` does not work as intended.... no surprise there

I tried `${BASH_SOURCE:-$0}` but that still isn't ideal I don't think, as it look like after the .py script runs, it doesn't return to the previous `$PS4`

[2022-09-06 20:42] CoryMartin-NOAA commented on #1015
Actually, this might be a `conda` related issue and not related to (but exposed by) the preamble. @aerorahul we need to figure out a way (unless it already is solved) to deal with virtual environments that is not conda-based because the conda shell commands that run under the hood are messy (and fail `set -e` due to unbound variables...)

[2022-09-06 20:45] CoryMartin-NOAA commented on #1015
Closing since 99% sure the issue is `conda` and not the preamble. It's unrealistic to expect a python script to use `$PS4` so the script's logging should be sufficient for identifying issues.

[2022-09-06 20:45] #1015 closed, assigned to nobody

[2022-09-06 20:45] bubba0077 commented on #1015
PS4 is a shell-specific setting that is only used for printing the trace (`set -x`). Python already has methods for doing this if necessary, though we do not use them in workflow. Since python automatically prints the calling trace when throwing an execution, it generally isn't necessary to print every line encountered (it also becomes messy as you descend into imported modules).

[2022-09-06 20:46] bubba0077 commented on #1015
You are right though, conda does not play well with PS4 for some reason.

[2022-09-06 20:47] bubba0077 commented on #1015
Though I haven't had problems running when using miniconda within workflow.

[2022-09-06 20:50] CoryMartin-NOAA commented on #1015
The `set -e` unbound issue comes from `$PROJ_LIB` or something like that, and is only if the virtual env includes python plotting (cartopy needs proj). This basename issue I have a hunch comes from actually this: https://github.com/NOAA-EMC/GDASApp/blob/d7c822b0e910ba49efedab3993f71980334d8704/modulefiles/GDAS/orion.lua#L58

Which, is probably something we should not be doing in a modulefile but r

[2022-09-06 20:52] WalterKolczynski-NOAA commented on #1015
Let me post that again from the right account:

PS4 is a shell-specific setting that is only used for printing the trace (set -x). Python already has methods for doing this if necessary, though we do not use them in workflow. Since python automatically prints the calling trace when throwing an execution, it generally isn't necessary to print every line encountered (it also becomes messy as you des

[2022-09-06 21:00] WalterKolczynski-NOAA commented on #1015
I would agree with that. Yeah, setting PS4 is going to be a problem if the preamble is called from a non-shell script. Though maybe we should also have the preamble use "unknown" if `$BASH_SOURCE[1]` as `"undefined"` instead of failing.

[2022-09-07 12:47] CoryMartin-NOAA commented on #1015
Yeah I think that is a good solution. Printing a bunch of `basename missing operand` is just clutter, but `undefined` will at least keep it looking consistent in the logfile.

[2022-09-07 17:15] benjamin-cash commented on #280
I'm fine with closing the ticket, but just for the sake of clarity XSEDE was just the organization that oversaw the allocation process and administration of the machines. The actual platforms (Stampede2, Frontera, Expanse, etc) are still very much in operation, just under a new organization (ACCESS). They will still be a high priority target for community use of UFS.

[2022-09-07 21:08] #1004 closed, assigned to EdwardSafford-NOAA

[2022-09-08 12:37] lgannoaa commented on #951
Management has made a decision on update GSI and model package. The GSI package is ready and model package is still pending. This parallel is paused on CDATE=2022010700 to checkout and build GSI package.

[2022-09-08 12:38] lgannoaa commented on #952
Management has made a decision on update GSI and model package. The GSI package is ready and model package is still pending. This parallel is paused on CDATE=2022090806 to checkout and build GSI package.

[2022-09-08 18:48] WalterKolczynski-NOAA commented on #303
@XianwuXue-NOAA This may come in to play as we move forward with ensembles

[2022-09-08 18:56] WalterKolczynski-NOAA commented on #167
If these settings absolutely must not be changed, we should mark them `readonly` in the j-job. That will actually prevent any downstream script from altering them.

[2022-09-08 18:59] WalterKolczynski-NOAA commented on #1000
Issue #193 that was supposed to add RRTMGP is still open. Was the capability added without the issue being properly closed?

[2022-09-08 19:03] WalterKolczynski-NOAA commented on #357
What's the status on this?

[2022-09-08 19:10] WalterKolczynski-NOAA commented on #392
@JessicaMeixner-NOAA @jiandewang So, this issue from last year is still open. It sounds like the setting should be turned off, even if the practical difference is small. Would this only be for 0p25, or does it extend to other resolutions? Or should we just close this issue?

[2022-09-08 19:26] WalterKolczynski-NOAA commented on #520
When we moved all the UPP scripts into workflow, we updated to the tip of the UPP develop, so this issue should be satisfied.

[2022-09-08 19:26] #520 closed, assigned to nobody

[2022-09-08 19:39] JessicaMeixner-NOAA commented on #392
This needs to be tested for speed & science impacts before implementing.  I'm assuming we just close this for now as MOM6 speed-impacts are not effecting overall model performance at this moment.  @jiandewang or @pjpegion might feel otherwise though.

[2022-09-08 19:40] WalterKolczynski-NOAA commented on #529
Is this different than what was added in #871 as `gdas.cd`? Did that PR actually satisfy this as well as #521? Or am I missing something?

[2022-09-08 19:44] RussTreadon-NOAA commented on #529
#521 is already closed.    I'll close this issue as well.   New issues can be opened as needed.

[2022-09-08 19:44] #529 closed, assigned to RussTreadon-NOAA

[2022-09-08 20:04] DavidHuber-NOAA commented on #357
@WalterKolczynski-NOAA I am wrapping up the revival of the S4 port presently.  After that, I will be able to come back and continue working on Jet.

[2022-09-08 20:14] WalterKolczynski-NOAA commented on #531
Is this still something we want to do? We're moving scripts from other repos _into_ workflow, and there is no source code here. I think it would be better to move these to appropriate places in the larger workflow instead of isolated in their own directory. Contents of both `dictionaries` and `fix` would be appropriate in a `parm/gempak`. `ush` would move to the main `ush`, of course.

[2022-09-08 20:15] WalterKolczynski-NOAA commented on #532
Is this issue still active, or did it get subsumed by others?

[2022-09-08 20:15] aerorahul commented on #531
This is NCO managed directory.
Unlikely this will move anywhere.

[2022-09-08 20:15] #531 closed, assigned to nobody

[2022-09-08 20:15] CoryMartin-NOAA commented on #532
Let's say subsumed/delayed. I'll close for now

[2022-09-08 20:15] #532 closed, assigned to CoryMartin-NOAA

[2022-09-08 20:16] WalterKolczynski-NOAA commented on #582
Duplicate of #756, which was completed.

[2022-09-08 20:16] #582 closed, assigned to nobody

[2022-09-08 20:19] WalterKolczynski-NOAA commented on #633
@lisa-bengtsson Was this resolved? I haven't heard of any further issues with it.

[2022-09-08 20:21] WalterKolczynski-NOAA commented on #652
@BrettHoover-NOAA Is this still a problem when running develop, or can we close this issue?

[2022-09-08 20:22] lisa-bengtsson commented on #633
Yes, sorry you can close this issue, it was resolved by specifying the memory needed. Now I have moved on to use the latest workflow.

[2022-09-08 20:22] WalterKolczynski-NOAA commented on #654
@lgannoaa I assume this was completed long ago and we can close this?

[2022-09-08 20:24] #633 closed, assigned to nobody

[2022-09-08 20:25] WalterKolczynski-NOAA commented on #532
It's fine to remain open if it is still something that needs to be done. I'm just trying to close out things that were already solved or absorbed by other issues without being closed.

[2022-09-08 20:27] WalterKolczynski-NOAA commented on #684
Can we close this one?

[2022-09-08 20:28] XianwuXue-NOAA commented on #303
OK. Thanks @WalterKolczynski-NOAA

[2022-09-08 20:31] CoryMartin-NOAA commented on #532
It wont likely be anything in coming weeks/months, so we can reopen/open a new/more relevant issue when the time comes.

[2022-09-08 20:41] jiandewang commented on #392
Alistair has explained to us that this section is kept in the code intentionally for future enhancement, and our tests indicated the impact is minor.
@WalterKolczynski-NOAA this is independent with resolution
you can close it now

[2022-09-08 20:42] #392 closed, assigned to nobody

[2022-09-08 20:43] WalterKolczynski-NOAA commented on #705
@AndrewEichmann-NOAA was this issue resolved or are there still problems?

[2022-09-08 20:46] lgannoaa commented on #654
Yes. Please close it.

On Thu, Sep 8, 2022 at 4:22 PM Walter Kolczynski - NOAA <
***@***.***> wrote:

[2022-09-08 20:48] WalterKolczynski-NOAA commented on #708
You probably don't need to do both, probably more nodes. Will you have a PR that changes the resources when using LETKF? Or has this already been settled and we can close this issue?

[2022-09-08 20:52] WalterKolczynski-NOAA commented on #721
Can this be closed?

[2022-09-08 20:52] WalterKolczynski-NOAA commented on #725
Can this be closed?

[2022-09-08 20:53] #737 closed, assigned to nobody

[2022-09-08 20:54] WalterKolczynski-NOAA commented on #742
This is a very ambiguous issue. Improve it how? Fix what bugs? Each should be its own issue and PR.

[2022-09-08 20:54] #742 closed, assigned to XianwuXue-NOAA

[2022-09-08 20:57] WalterKolczynski-NOAA commented on #743
It sounds like this issue should be closed as moot?

[2022-09-08 20:57] #654 closed, assigned to LinGan-NOAA

[2022-09-08 21:02] XianwuXue-NOAA commented on #742
OK. Thanks. since everything changed, so I agree with you to close it.

[2022-09-08 21:04] WalterKolczynski-NOAA commented on #749
@aerorahul I think this is ready to close?

[2022-09-08 21:08] WalterKolczynski-NOAA commented on #750
Is still a pending task?

[2022-09-08 21:14] WalterKolczynski-NOAA commented on #752
I believe the workflow-wide imposition of `set -e` via the preamble should short-circuit this problem for the most part as long as `$USE_STRICT` is `YES`, but we probably should still find a way to make it work should strict be turned off.

[2022-09-08 21:17] WalterKolczynski-NOAA commented on #754
This popped again as a more general issue in #999, so I'm going to close this one

[2022-09-08 21:17] #754 closed, assigned to LinGan-NOAA

[2022-09-08 21:24] WalterKolczynski-NOAA commented on #757
This should be fixed in develop as part of #969, as now that `set -e` is on, the errors would block the jobs so we now check the links exist first.

I think this can be closed now?

[2022-09-08 21:26] BrettHoover-NOAA commented on #652
Hi @WalterKolczynski-NOAA, I think it's safe to close this issue, thank you!

[2022-09-08 21:26] #652 closed, assigned to nobody

[2022-09-08 21:27] AndrewEichmann-NOAA commented on #705
@WalterKolczynski-NOAA
It hasn't been an issue since this, so I'd say it was transitory.

[2022-09-08 21:27] #705 closed, assigned to nobody

[2022-09-08 21:28] WalterKolczynski-NOAA commented on #759
This is fixed in develop as part of #929. Do we need to keep this issue open to be addressed for v16, or can we close it now?

[2022-09-08 21:31] WalterKolczynski-NOAA commented on #869
Should this have been closed, or does it need to remain open to repeat in develop?

[2022-09-08 21:32] WalterKolczynski-NOAA commented on #877
@emilyhcliu Was this completed so we can close?

[2022-09-08 21:33] AndrewEichmann-NOAA commented on #708
@WalterKolczynski-NOAA I haven't changed this in anything besides the one experiment, and haven't encountered it since, so if nobody has been complaining about LETKF failing on Orion I think it can be closed.

[2022-09-08 21:33] #708 closed, assigned to nobody

[2022-09-08 22:11] emilyhcliu commented on #877
I got an email from Carlos (NCO). He still has a few questions.  I will forward the emails to POCs.

Emily Huichun Liu

[2022-09-08 22:13] emilyhcliu commented on #877
Oh sorry.   This is for a specific issue.
Yes. This one can be closed.

Thanks.
Emily.

Emily Huichun Liu

[2022-09-08 23:33] #877 closed, assigned to nobody

[2022-09-09 13:07] #665 closed, assigned to KateFriedman-NOAA

[2022-09-09 13:15] #743 closed, assigned to KateFriedman-NOAA

[2022-09-09 14:03] KateFriedman-NOAA commented on #622
@HelinWei-NOAA @DavidHuber-NOAA Where are we with this? I'd like to get GLDAS working again if possible. Thanks!

[2022-09-09 14:10] lgannoaa commented on #759
Closing ticket.

[2022-09-09 14:10] #759 closed, assigned to nobody

[2022-09-09 14:13] lgannoaa commented on #757
Closing the ticket.

[2022-09-09 14:13] #757 closed, assigned to LinGan-NOAA

[2022-09-09 14:16] lgannoaa commented on #725
Closing the ticket.

[2022-09-09 14:16] #725 closed, assigned to LinGan-NOAA

[2022-09-09 14:17] lgannoaa commented on #721
Closing the ticket.

[2022-09-09 14:17] #721 closed, assigned to LinGan-NOAA

[2022-09-09 14:18] lgannoaa commented on #684
Closing the ticket.

[2022-09-09 14:18] #684 closed, assigned to LinGan-NOAA

[2022-09-09 14:20] KateFriedman-NOAA commented on #966
@WalterKolczynski-NOAA fyi, the following changes will need to be made to the GLDAS scripts for this issue:

[code]

[2022-09-09 15:34] DavidHuber-NOAA commented on #622
@KateFriedman-NOAA The data requested by @HelinWei-NOAA to generate the new fix files was generated and placed on Hera.  I believe these just need to be parsed by Helin.

[2022-09-12 13:34] DavidHuber-NOAA commented on #138
@WalterKolczynski-NOAA S4 must create the `nsstbufr` and `prepbufr.acft_profiles` files during the prep step (since the operational versions of these files are restricted).  Currently, the `nsstbufr` file is created only if `DO_MAKE_NSSTBUFR=YES` in `config.prep`.  The `prepbufr.acft_profiles` is always created during the prep step.  However, the `JGLOBAL_ATMOS_ANALYSIS` job is currently set up to

[2022-09-12 14:57] AndrewEichmann-NOAA commented on #1003
@WalterKolczynski-NOAA Would you expect this bug in cycles after that fourth full cycle?

[code]

[2022-09-12 15:05] KateFriedman-NOAA commented on #1003
I'm seeing this error in almost every cycle in new cycled tests on Orion and WCOSS2. Sometimes it's a race condition unrelated to the half-cycle and other times happens when the prior cycle has a DEAD job (e.g. gdasvrfy) or otherwise hasn't completed.

[2022-09-12 15:09] AndrewEichmann-NOAA commented on #1003
I've encountered the race condition as well. The problem is compounded by rocotocompleting the dead archiving tasks leaving no string to be grepped in the rocoto log, so each cycle winds up requiring intervention to complete.

[2022-09-12 20:20] lgannoaa commented on #951
Due to the process of switch between using library updates, bufr_ver only and update GSI. The crtm version update was left out. The old version of crtm 2.3.0 is now update to crtm 2.4.0. GSI rebuild with crtm 2.4.0.  This parallel is in progress to rerun from 2022010600.

[2022-09-12 20:28] lgannoaa commented on #952
Due to the process of switch between using library updates, bufr_ver only and update GSI. The crtm version update was left out. The old version of crtm 2.3.0 is now update to crtm 2.4.0. GSI rebuild with crtm 2.4.0.  This parallel is in progress to rerun from 2022090800.

[2022-09-12 20:48] emilyhcliu commented on #951
For the retrospective run, we will rewind 14 days and restart on the 2022010600 cycle.
With Lin's revised and improved global-workflow with ecflow and the better HPSS transfer rate,  it is not a setback to rewind the parallel run.  The most important thing is that we caught the issue, fixed it, and move forward.

[2022-09-12 20:49] emilyhcliu commented on #952
For the real-time run, we will rewind 4 days and restart on the 2022090800 cycle.
With Lin's revised and improved global-workflow with ecflow and the better HPSS transfer rate,  it is not a setback to rewind the parallel run.  The most important thing is that we caught the issue, fixed it, and move forward.

[2022-09-13 17:02] KateFriedman-NOAA commented on #1014
@HelinWei-NOAA It does not appear that `ush/gldas_archive.sh` or `gldas_post.sh` are invoked at runtime. I checked both my test logs and the ops GLDAS log. Is there any reason to keep either of those scripts? If not, I will not pull them into global-workflow. Thanks!

[2022-09-13 17:03] KateFriedman-NOAA commented on #622
@HelinWei-NOAA Any updates on parsing the provided new fix files? We'd like to get this issue resolved. Thanks!

[2022-09-13 17:17] HelinWei-NOAA commented on #622
Kate,

I don't have the new fixed fields for all resolutions. I will provide you with what I have.

[2022-09-13 17:21] KateFriedman-NOAA commented on #622
Ok, thanks!

[2022-09-14 13:20] HelinWei-NOAA commented on #1014
@KateFriedman-NOAA Both scripts are invoked by exgdas_atmos_gldas.sh.  gldas_archive.sh is turn on only for offline gldas run. But I am surprise that gldas_post.sh isn't invoked at runtime. Can you point me to your log file running gldas? Thanks.

[2022-09-14 14:01] HelinWei-NOAA commented on #622
@DavidHuber-NOAA My job failed when I processed the data you created, I found the size of those nemsio files are not right. For example the size of /scratch1/NCEPDEV/global/glopara/fix/gldas/20220805/FIX_T766/sfc.gaussian.nemsio.t766.1536.768 is 434114776, but yours is 1736446168 (almost 4 times larger). Can you double check if it is one time output?

[2022-09-14 14:16] KateFriedman-NOAA commented on #1014
Good to know, thanks!

I checked both the ops 00z gldas job logs and my own testing logs:

Ops logs from 00z last night (/lfs/h1/ops/prod/output/20220914/gdas_atmos_gldas_00.o19964486):
[code]

My test logs on Cactus:
[code]

[2022-09-14 14:32] HelinWei-NOAA commented on #1014
@KateFriedman-NOAA If you just search gldas_post, you can find one in the log.

line 114656 of gdas_atmos_gldas_00.o19964486
pgm=gldas_post

This is part of gldas_post.sh. So it is invoked at runtime.

[2022-09-14 15:14] DavidHuber-NOAA commented on #622
@HelinWei-NOAA Looking into the files with nemsio_read I can see that the number of grid points is 4x the model resolution.  For instance, the `C192` data creates the `T382`-sized grid.  So it looks like you should be matching the data as follows:

192/sfc.gaussian.nemsio.20200802 -> fix/gldas/20220805/FIX_T382/sfc.gaussian.nemsio.t382.768.384
384/sfc.gaussian.nemsio.20200802 -> fix/gldas/20220805

[2022-09-14 15:18] KateFriedman-NOAA commented on #1014
The `gldas_post` exec is invoked by both the `scripts/exgdas_atmos_gldas.sh` script and the `gldas_post.sh` script but in ops and in my testing the `gldas_post` exec is only invoked from `scripts/exgdas_atmos_gldas.sh`. The `gldas_post.sh` script isn't invoked in ops or developer parallel testing. When would it be invoked? In offline mode like `gldas_archive.sh`?

[2022-09-14 15:39] HelinWei-NOAA commented on #1014
@KateFriedman-NOAA You are right. I can confirm that gldas_post.sh is not invoked at runtime. Thanks.

[2022-09-14 15:43] HelinWei-NOAA commented on #622
@DavidHuber-NOAA Thanks for quick turn around. It would be great if you can create one for FIX_T192 and another one for T1534 for frac_grid=off. Then we have full set of data.

[2022-09-14 15:46] KateFriedman-NOAA commented on #1014
Thanks @HelinWei-NOAA ! Since `gldas_post.sh` is not invoked at runtime is there any reason to keep it?

Related question...how does one run GLDAS in offline mode and invoke `gldas_archive.sh`? Thanks!

[2022-09-14 15:48] DavidHuber-NOAA commented on #622
@HelinWei-NOAA Alright, I'll start on FIX_T192.  The T1534 for frac_grid=off is already complete and is in the 768_false directory.

[2022-09-14 16:43] HelinWei-NOAA commented on #1014
There is no reason to keep gldas_post.sh. We need to set OFFLINE_GLDAS = "YES"  to invoke gldas_arch.sh in the offline driver submit_test_gdas_gldas_dell.sh. We haven't updated this driver for a long time.

[2022-09-14 16:52] KateFriedman-NOAA commented on #1014
Ok, thanks @HelinWei-NOAA for confirming! I will delete it from my global-workflow branch and not include it in the GLDAS script absorption.

Gotcha, thanks for explaining! Since `gldas_archive.sh` isn't used at runtime, would only be used in offline mode, and appears to need updating (since it references nemsio still) I will also forgo including it in the GLDAS script absorption into global-workf

[2022-09-14 16:53] HelinWei-NOAA commented on #622
@DavidHuber-NOAA Yes. We already had that. I also found we had FIX_T192 for frac_grid=on too. You don't need to create again. Thanks.

[2022-09-14 17:00] DavidHuber-NOAA commented on #622
@HelinWei-NOAA Great!  Let me know if you need anything else.

[2022-09-14 18:32] HelinWei-NOAA commented on #622
@KateFriedman-NOAA The fixed fields for GLDAS are ready. You can copy data from /scratch1/NCEPDEV/global/Helin.Wei/save/fix_gldas. When frac_grid is on, please point fix_gldas to  fix_gldas/frac_grid. When frac_grid is off, please point to fix_gldas/nonfrac_grid.

[2022-09-15 12:43] lgannoaa commented on #952
This parallel is on realtime from CDATE=2022091500.

[2022-09-16 17:11] KateFriedman-NOAA commented on #622
Thanks @HelinWei-NOAA ! I'll try them out and report back.

[2022-09-16 17:20] KateFriedman-NOAA commented on #622
@HelinWei-NOAA Can you adjust the permissions on the following file?

/scratch1/NCEPDEV/global/Helin.Wei/save/fix_gldas/frac_grid/FIX_T190/sfc.gaussian.nemsio.t190.384.192

I am getting "Permission denied" trying to copy the updated set to Orion for testing. I would guess I'd get a similar runtime issue if I tested on Hera. Please also double check the other fix_gldas file permissions to make sure

[2022-09-16 17:24] HelinWei-NOAA commented on #622
They should be fine now.

[2022-09-16 17:31] KateFriedman-NOAA commented on #622
Yep, I was able to copy that file to Orion, thanks @HelinWei-NOAA !

[2022-09-16 17:38] KateFriedman-NOAA commented on #622
@HelinWei-NOAA Using the `frac_grid` version of the gldas fix files I was able to get a previously-failing GLDAS job to complete without additional failures. Please see the following log on Orion and confirm if the job ran correctly:

/work/noaa/stmp/kfriedma/comrot/testgldas/logs/2022010600/gdasgldas.log

Thanks!

[2022-09-16 17:53] HelinWei-NOAA commented on #622
@KateFriedman-NOAA Good to know. Thanks for testing.

[2022-09-16 18:30] KateFriedman-NOAA commented on #622
The following GLDAS script updates are necessary to use the updated GLDAS fix set that supports both `FRAC_GRID` on or off:

[code]

Summary of changes:

1. Add sourcing of `config.fcst` to get the value of `FRAC_GRID` (.true. or not) for use in the GLDAS
2. Update `scripts/exgdas_atmos_gldas.sh` to check `FRAC_GRID` value and set `FIX` symlink in rundir based on the appropriate subfolder of `FIXg

[2022-09-16 19:03] KateFriedman-NOAA commented on #622
Moving `FRAC_GRID` setting from `config.fcst` to `config.base.*` since the value is now used in more than just the forecast job. Updated diff:
[code]

[2022-09-19 13:20] XianwuXue-NOAA opened #1021 "Add Early Cycle EnKF"
**Expected behavior**

workflow can generate xml file when EUPD_CYC="BOTH" or "gfs" when setup the experiment using "cycled" mode

**Current behavior**

Failed to generate xml file

**Machines affected**

Hera

**To Reproduce**

set EUPD_CYC="BOTH" and setup experiment using "cycled" mode

**Detailed Description**

When users setup a experiment using "cycled" mode and set EUPD_CYC="BOTH"  or "gfs"

[2022-09-19 14:21] KateFriedman-NOAA commented on #622
Ran an additional four cycles of both control and test run on Orion. The next 00z cycle invoked GLDAS again and correctly ran in both runs. Both the control and test run continued to reproduce each other. Changes to use updated fix files looks good.

Committed above script updates to `feature/gldas_scripts` issue #1014 branch @ https://github.com/NOAA-EMC/global-workflow/pull/1018/commits/9a6a112f

[2022-09-20 16:00] EdwardSafford-NOAA opened #1024 "Update sorc/checkout.sh to checkout latest version of GSI-Monitor"
**Description**
The hash for GSI-monitor in checkout.sh is out of date.  Recent changes to the GSI-monitor corrected an error in the radmon_angle.x executable.  The checkout.xh script can pick up this change by changing the gsi-monitor hash from acf8870 to c64cc47.

**Acceptance Criteria (Definition of Done)**

1. Confirm that after running sorc/checkout.sh -g the resulting gsi_monitor.fd/src/Radi

[2022-09-20 16:01] EdwardSafford-NOAA commented on #1024
I'll be glad to fix this if I can be assigned to it.

[2022-09-21 13:07] AndrewEichmann-NOAA opened #1027 "Setting up global-workflow to run S2S at low (aC48o500) resolution"
**Description**

Goal: Allow global-workflow to run S2S at aC48o500 resolution in the manner in currently does in aC384o025

**Acceptance Criteria (Definition of Done)**

Feeding setup_expt.py the correct options produces a successful S2S run at aC48o500

**Dependencies**

No upstream dependencies, downstream this allows efficient testing of the coupled model

**Requirements**

- @JessicaMeixner-N

[2022-09-21 13:14] guillaumevernieres commented on #1027
@AndrewEichmann-NOAA , for the IC, whatever is used in the UFS RT test is fine. For the MOM6 and CICE fix files that need to be added to Orion and Hera, we need to coordinate with @KateFriedman-NOAA .

[2022-09-21 13:25] AndrewEichmann-NOAA commented on #1027
@guillaumevernieres @KateFriedman-NOAA

 Would the fix files not be part of a PR? I was about to set up a branch on my fork to get things started.

[2022-09-21 13:29] guillaumevernieres commented on #1027
@AndrewEichmann-NOAA , 1/2 and 1/2. We have a few binary files that will not be part of a pr.

[2022-09-21 13:38] AndrewEichmann-NOAA commented on #1027
@guillaumevernieres Got it. Sleep dep yesterday took its toll. Are we aiming for both Hera and Orion?

@KateFriedman-NOAA These are the files on Hera Jessica indicated:

grid_spec file:

cp -r /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20220414/CPL_FIX/aC48o500  /scratch1/NCEPDEV/global/glopara/fix/cpl/20220805/

CICE inputs

cp -r  /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3g

[2022-09-21 13:43] guillaumevernieres commented on #1027
Yes @AndrewEichmann-NOAA , both, Hera and Orion.

[2022-09-21 14:13] KateFriedman-NOAA commented on #622
@HelinWei-NOAA @DavidHuber-NOAA I tried the updated GLDAS fix files (`frac_grid` subset with `FRAC_GRID=.true.`) on WCOSS2 in an on-going high-res long-ago warm-started test and the first gldas job to use the new set (with companion script updates) failed with the same mismatch error:
[code]

The prior cycles in this high-res test ran the gldas job successfully using existing (not new) fix set and

[2022-09-21 14:21] lgannoaa commented on #952
There is an emergency production switch on 9/21 morning. There are 30 archive jobs failed and some jobs failed due to the switch. Debug/rerun/recover is in progress. Impactful jobs is in CDATE=2022092100 and 2022092106.

[2022-09-21 14:23] DavidHuber-NOAA commented on #622
@KateFriedman-NOAA @HelinWei-NOAA The new fix files should only be used for cold starts.  Warm starts should continue to use the old fix files.  The reason for this is that warm starts continue to use the same version of the GFS, which uses an older algorithm for the land mask and thus does not change the land mask to match what is in the new fix files.  My suggestion was to create two sets of fix

[2022-09-21 14:31] lgannoaa commented on #951
There is an emergency production switch on 9/21 morning. There are 15 archive jobs, Metplus jobs and regular jobs failure due to the switch. Debug/rerun/recover is in progress. Impactful jobs is in CDATE= 2022020100, 2022020106, 2022020112.

The ecen 2022020112 failed. The debug effort traced and found the previous cycle 2022020106 job corrupted due to the production switch. Therefore, this parall

[2022-09-21 14:32] KateFriedman-NOAA commented on #622
@DavidHuber-NOAA Ok I see. So I should use the following in these situations then (please check my understanding):

* cold-start:
  * frac_grid on: /scratch1/NCEPDEV/global/glopara/fix/gldas/20220920/frac_grid/FIX_T1534
  * frac_grid off: /scratch1/NCEPDEV/global/glopara/fix/gldas/20220920/nofrac_grid/FIX_T1534
* warm-start (use older/existing set):
  * frac_grid on (?): /scratch1/NCEPDEV/global/g

[2022-09-21 16:18] DavidHuber-NOAA commented on #622
@KateFriedman-NOAA I believe the current fix files should work for both nofrac_grid and frac_grid warm starts since production does not modify the land-sea mask.

[2022-09-21 16:21] DavidHuber-NOAA commented on #622
I agree with your point that the new fix files _should_ be used after the first cycle.  Why the land sea mask does not change in future warm-start cycles does not make sense to me, either.

[2022-09-21 16:47] KateFriedman-NOAA commented on #622
Ok, thanks @DavidHuber-NOAA for confirming. Will likely need to run nofrac_grid tests at some point.

@HelinWei-NOAA @junwang-noaa @yangfanglin Is there a particular reason that a different land sea mask file is used depending on how the run was started? If a cycle is using warm-starts (after the initial cold-start cycle) why is it different than a warm-started run that is also using warm-starts i

[2022-09-21 16:57] KateFriedman-NOAA commented on #622
Apologies @JunDu-NOAA I meant to tag @junwang-noaa in the above comment and picked your GitHub username by accident from the list. You can ignore the ping. :)

[2022-09-21 17:01] JunDu-NOAA commented on #622
No problem, thanks!

On Wed, Sep 21, 2022 at 12:57 PM Kate Friedman ***@***.***>
wrote:

[2022-09-21 19:23] KateFriedman-NOAA commented on #419
@JiayiPeng-NOAA Is the `global_extrkr.sh` script being used anywhere for the tracker? I'm not seeing this ush script being used in operations (I checked logs from yesterday) nor in my own testing. I'm also not seeing it being invoked in any scripts in global-workflow. I'm wondering if I can remove this script from global-workflow. Thanks!

[2022-09-21 20:08] JiayiPeng-NOAA commented on #419
Hi Kate,
No one is using "global_extrkr.sh" for TC tracking now.
You can remove it.
Thanks,
Jiayi

On Wed, Sep 21, 2022 at 3:23 PM Kate Friedman ***@***.***>
wrote:

[2022-09-21 20:09] KateFriedman-NOAA commented on #419
Great, thanks for confirming @JiayiPeng-NOAA !

[2022-09-22 03:40] yangfanglin commented on #622
@KateFriedman-NOAA @DavidHuber-NOAA  The same set of fix files should be used for all cases discussed here, no matter it is warm or cold start, first cycle or the cycles after, fractional or non-fractional grid.   If you are using the current operational GFS then you do need the "old" fix files.  Any UFS based applications should use the new fix files.   If they new files are not working then ther

[2022-09-22 12:41] #1024 closed, assigned to EdwardSafford-NOAA

[2022-09-22 13:07] DavidHuber-NOAA opened #1028 "Radiance verification fails to find diag files"
**Expected behavior**

The ges diag files should be found and used when performing radiance verification.

**Current behavior**

The lines
`if [[ -f "diag_${type}_ges.${PDATE}*.${Z}" ]]; then`
and
`if [[ -f "diag_${type}_anl.${PDATE}*.${Z}" ]]; then`
in [exgdas_atmos_verfrad.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/scripts/exgdas_atmos_verfrad.sh#L147-L155) fail to find anythin

[2022-09-22 13:15] WalterKolczynski-NOAA commented on #1028
Prefer `if (( ls "diag_${type}_ges.${PDATE}*.${Z}" 2> /dev/null | wc -l > 0 )); then` as a solution, as it is more explicit in what it is doing.

[2022-09-22 13:18] lgannoaa commented on #951
NCO executed a production switch on 9/22. Cactus is now back to the dev machine.
This parallel will resume on CDATE=2022020206.

[2022-09-22 13:19] lgannoaa commented on #952
NCO executed a production switch on 9/22. Dogwood is now back to the prod machine.
This parallel will resume on CDATE=2022092200.

[2022-09-22 13:56] KateFriedman-NOAA commented on #622
@yangfanglin Noted. Ok, trying to wrap my head around the different IC scenarios we have here then, which need to be supported in the workflow since we will have GFSv16 warm-starts for a while still. Clarification questions below.

Here are more details on my ICs and runs:

1) C192C96L127 run cold-started with ICs generated earlier this year using ops GFSv16 warm-start restarts. GLDAS job now work

[2022-09-22 14:11] yangfanglin commented on #622
@KateFriedman-NOAA We cannot run Prototype-P8 tag of ufs-weather-model  using GFS.v16 warm start files because of changes in a few physics schemes including land and microphysics etc.  GFS.v16 warm start ICs need to be converted to cold start ICs using CHGRES even if you are running at the C768L127 resolution .  We have been doing this for a while.  You can find a set of cold start ICs at the C768

[2022-09-22 14:13] JunDu-NOAA commented on #622
FYI:  I forward this to Jun Wang.

On Thu, Sep 22, 2022 at 10:12 AM Fanglin Yang ***@***.***>
wrote:

[2022-09-22 14:18] KateFriedman-NOAA commented on #622
Got it, thanks for explaining!

Ok, I was wondering if that would be the case. Thanks!

Good to know, thanks!

[2022-09-22 14:38] XuLi-NOAA commented on #951
![RMS_BIAS_to_ostia_retro_v163_4exps_2021101600_2022013118](https://user-images.githubusercontent.com/55100838/191777719-d42195d1-807d-4207-81af-733dcfb67e1d.png)
![RMS_BIAS_to_ostia_retro_v163_4exps_2021101600_2022013118_N Pole](https://user-images.githubusercontent.com/55100838/191776993-0464e465-6506-4e08-a576-ff14e9edaa23.png)
![RMS_BIAS_to_ostia_retro_v163_4exps_2021101600_2022013118_N Mid](h

[2022-09-22 15:15] #1014 closed, assigned to KateFriedman-NOAA

[2022-09-22 15:15] #622 closed, assigned to nobody

[2022-09-22 15:18] KateFriedman-NOAA commented on #622
@BrettHoover-NOAA @DavidHuber-NOAA @HelinWei-NOAA @yangfanglin PR #1018 mostly fixed this issue, however PR #1009 will bring in changes to have the GLDAS job use the updated fix set. We will announce that the GLDAS job is working again after #1009 goes into global-workflow `develop`.

Thanks for your help on resolving this issue!