[2022-02-09 01:59] #610 closed, assigned to nobody

[2022-02-09 04:33] #625 closed, assigned to nobody

[2022-02-09 13:43] lgannoaa commented on #507
This issue is now open in EMC_verif-global as issue 91 because the script in question is belong to the external repo.

[2022-02-09 13:49] malloryprow commented on #507
@lgannoaa EMC_verif-global runs in the gfsmetp jobs.

[2022-02-09 13:56] lgannoaa commented on #520
Created issue 443 in UPP because script in question exgdas_atmos_nceppost.sh and exgfs_atmos_nceppost.sh is belong to UPP repo.

[2022-02-09 14:07] malloryprow commented on #639
For EMC_verif-global:

On Hera, the anaconda version being loaded is anaconda/anaconda3-5.3.1. For the version of MET I need (/contrib/met/modulefiles/met/9.1 ), the prerequisites is anaconda/latest. Is that okay that I load anaconda/latest instead of anaconda/anaconda3-5.3.1 for EMC_verif-global?

On Orion: The version of MET needed (/apps/contrib/modulefiles/met/9.1 ) has prerequisites of intel/

[2022-02-09 15:04] KateFriedman-NOAA commented on #587
Completed via #629

[2022-02-09 15:04] #587 closed, assigned to LinGan-NOAA

[2022-02-09 16:10] JessicaMeixner-NOAA opened #641 "p8b updates for workflow"
**Description**
Update to configuration and possible scripts for additional fix files to allow for the running of p8b free forecasts atm only and for atm-ocn-ice-wav (aerosols is separate issue).  This will include a model update which has not been updated yet.

**Requirements**

**Acceptance Criteria (Definition of Done)**
Be able to run free-forecast atm only and atm-ocn-ice-wave with p8b settin

[2022-02-09 16:19] XianwuXue-NOAA commented on #345
@arunchawla-NOAA I will close this issue since NCO has updated the gsi code using our modified file. And I am merged my changes to the branch and update the tag.

[2022-02-09 16:19] #345 closed, assigned to XianwuXue-NOAA

[2022-02-09 17:43] lgannoaa commented on #507
The calling job is JGFS_ATMOS_CYCLONE_TRACKER which is belong to global-workflow. Provided a fix and submitted PR 642.

[2022-02-09 19:06] DavidHuber-NOAA opened #643 "Invalid EXP_WARM_START assigned by setup_expt.py"
**Expected behavior**

The setup_expt.py script should replace `@EXP_WARM_START` with `.true.` or `.false.` in config.base.

**Current behavior**

`@EXP_WARM_START` is replaced with 'warm' or 'cold'.

**Machines affected**

All

**To Reproduce**

Run setup_expt.py and specify "--start cold" or "--start warm" then check the cofnig.base.

**Context**

Found during S4 port testing.

**Detailed Descri

[2022-02-09 20:45] lgannoaa commented on #291
@WalterKolczynski-NOAA
There is no such script as ukmet.v2.?.?/ush/ukmet_gfs_meta_sa2.sh
The $HOMEgfs/gempak/ush/gfs_meta_sa2.sh is the only script for this issue in question.
gfs_meta_sa2.sh contain the following:
echo " start with ukmet_gfs_meta_sa2.sh"
This echo statement shown in log file as if it is another script. This can be found in all four cycle gempak meta job log files.

This is not a

[2022-02-09 22:02] #643 closed, assigned to nobody

[2022-02-10 15:34] AndrewEichmann-NOAA opened #645 "pelist"
If this is a bug, please consider using the [Bug Report](./bug_report.md) template.
Your issue may already have been created!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Description**

**Requirements**

**Acceptance Criteria (Definition of Done)**

**Dependencies**

[2022-02-10 15:34] #645 closed, assigned to nobody

[2022-02-10 16:12] AndrewEichmann-NOAA opened #646 "efcs failure "At least one pe in pelist is not used by any tile in the mosaic""
**Description**

Short version: I have an ensemble forecast that ends with:

Long version:

The implementation of EFSOI runs a parallel GDAS workflow starting with gdaseupdfsoi, which closely resembles gdaseupd. It produces an alternate analysis which goes through tasks gdasecenfsoi, gdasesfcfsoi, and gdasefcsfsoi, all operating on a tree similar to the enkfgdas.YYYYMMDD but called efsoigdas.YYYYM

[2022-02-10 16:17] lgannoaa commented on #520
UPP CM has merged my fix PR. Close this issue.

[2022-02-10 16:27] WalterKolczynski-NOAA commented on #520
This needs to stay open until we update our post version in the checkout script.

[2022-02-10 16:59] WalterKolczynski-NOAA commented on #646
Working backwards from what the model sees:

The atm PETs given in your `nems.configure` probably don't match the layout settings in your `input.nml`. The number of PETs needs to equal ```( layout_X * layout_y * 6 ) + ( write_groups * write_tasks_per_group )```

These are written by the [nems_configure.sh](../tree/develop/ush/nems_configure.sh) and [parsing_namelists_FV3.sh](../tree/ush/parsing_na

[2022-02-10 17:05] WalterKolczynski-NOAA commented on #646
Slight correction: When running just with atmosphere, the pet bounds don't get written to `nems.configure`, because there's no need (the model gets all of them). So it would be make sure the number of ranks specified by srun match the above formula.

[2022-02-10 18:16] BrettHoover-NOAA opened #647 "gfsfcst task failure on first GFS forecast following cycling, IAU mismatch with subsequent gfsfcst tasks"
**Expected behavior**
The gfsfcst task should successfully complete

**Current behavior**
gfsfcst task failure for the very first gfsfcst task when cycling, with IAU settings that are different from IAU settings for subsequent (successful) gfsfcst tasks.

**Machines affected**
This bug has been discovered on RDHPCS/Hera

**To Reproduce**
I am using a v16x global workflow (fca3433bf869b12cade480e13

[2022-02-10 18:41] KateFriedman-NOAA commented on #647
@BrettHoover-NOAA Your 2020082218 gdas RESTART files aren't complete; the files that get produced during the gdasfcst job and land in the RESTART folder are missing. I only see these files:

[code]

Do a listing of your $ROTDIR/gdas.20200823/00/atmos/RESTART/ folder to see the list of files that should be there to support the next cycle's gdas/gfs (it's a long list, not including here).

When the

[2022-02-10 18:56] BrettHoover-NOAA commented on #647
I am archiving to HPSS. I can see that I have two tar-files for this analysis period:

gdas_restarta.tar
[code]

gdas_restartb.tar
[code]

Should I pull both of these from HPSS into ROTDIR, and then try another rocotoboot of the gfsfcst task at ~202008240000~ 2020082300?

[2022-02-10 18:59] KateFriedman-NOAA commented on #647
Yeah, extract both of those tarballs (in full) while at the top of your ROTDIR. Make sure they land
correctly after extraction (didn't end up in wrong subfolder or something like that) and then rewind or boot the 2020082300 gfsfcst job (you said 2020082400, was that a typo?).

[2022-02-10 19:13] BrettHoover-NOAA commented on #647
Yeah, that was a typo, I corrected it. I will extract these tarballs and boot the step to see if the problem resolves.

[2022-02-10 21:11] DavidHuber-NOAA opened #650 "OCNRES does not match orography resolution at C48"
Your bug may already be reported!
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Expected behavior**

When running C96/C48 experiments, the correct orography fix files (oro_C48.mx400.tileX.nc) should be linked into the INPUT directory during ensemble forecasts.

**Current behavior**

The [forecast_postdet.sh](https://github.com/NOAA

[2022-02-10 21:12] DavidHuber-NOAA commented on #650
Apologies, this should have been a standard bug report.

[2022-02-10 21:54] AndrewEichmann-NOAA commented on #646
That cracked the problem. grepping the logs yielded the following difference:

which lead to making this change in my fork's global-workflow/env/ORION.env:

This solved the immediate problem. Thank you, Walter!

[2022-02-10 21:54] #646 closed, assigned to nobody

[2022-02-10 23:07] #571 closed, assigned to JessicaMeixner-NOAA

[2022-02-11 01:23] #624 closed, assigned to nobody

[2022-02-11 15:04] BrettHoover-NOAA commented on #647
Looks like the gfsfcst task succeeded, thanks!

[2022-02-11 15:04] #647 closed, assigned to KateFriedman-NOAA

[2022-02-11 15:10] KateFriedman-NOAA commented on #647
Great, thanks for the update @BrettHoover-NOAA !

[2022-02-11 15:12] BrettHoover-NOAA opened #652 "gdasfcst task failure with warnings during canopy conductance step, abnormal 2MT, HDF errors"
**Description**
gdasfcst task cannot complete, with the log-file citing an HDF error after a series of "ABNORMAL 2MT" warnings during a canopy conductance step.

[code]

**Requirements**
I am using a v16x global workflow (https://github.com/NOAA-EMC/global-workflow/commit/fca3433bf869b12cade480e1394688d7b6f95687) modified with updated obsproc packages in the config.base file:

[code]

experiment s

[2022-02-14 17:08] DavidHuber-NOAA commented on #622
I gave this a fresh cold start test (C192/C96) on Orion over the weekend and received the same error.  Initial conditions were generated on Hera (/scratch1/NESDIS/nesdis-rdo2/David.Huber/ufs_utils/util/gdas_init), outputting them here: /scratch1/NESDIS/nesdis-rdo2/David.Huber/output/192.  UFS_Utils was checked out using the same hash as the global workflow checkout script ([04ad17e2](https://githu

[2022-02-14 20:28] DavidHuber-NOAA commented on #652
@BrettHoover-NOAA The abnormal 2MT warnings are not too uncommon the Antarctic winter.

The HDF error usually signifies an error in creating the `atm` netCDF files in parallel.  I thus often turn off the parallel writes.  On Hera, you can accomplish this by setting `OUTPUT_FILETYPES=" 'netcdf' 'netcdf' "` in the experiment's config.fcst.

[2022-02-14 20:53] BrettHoover-NOAA commented on #652
Thanks @DavidHuber-NOAA, I'm running a test with this change to config.fcst right now.

[2022-02-14 21:12] KateFriedman-NOAA commented on #652
@BrettHoover-NOAA FYI, when you run serially (`netcdf`) the runtime will be up to twice as long, so adjust your walltime accordingly.

[2022-02-14 21:17] WalterKolczynski-NOAA commented on #652
Note the incoming PR #602 will change this, as the OUTPUT_FILETYPES is being split into two variables until being combined when writing the namelist. That PR also forces serial write for the EnKF on Hera because of this type of issue. I didn't encounter issues with non-ensemble data. Or, at least, none that I noticed.

[2022-02-15 10:29] MichaelLueken commented on #639
The DA components for GFSv16.2.0 have been updated so that Hera and Orion modulefiles are both lua compliant.  Please see the tag:

[gfsda.v16.2.1](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.2.1) and issue [#298](https://github.com/NOAA-EMC/GSI/issues/298) in the GSI repository.

[2022-02-15 17:08] KateFriedman-NOAA commented on #639
Thanks @MichaelLueken-NOAA ! I have run build_gsi.sh successfully via my global-workflow branch on Orion. Please see the following log on Orion and confirm it did indeed build ok:
/work/noaa/global/kfriedma/git/dev_v16/sorc/logs/build_gsi.log

I tried the same build on Hera, it failed because I set the cmake version to be `cmake/3.20.0` which comes from hpc-stack instead of the default `cmake/3.16

[2022-02-15 19:24] KateFriedman-NOAA commented on #639
Merged #648 into `dev_v16`

[2022-02-16 15:12] MichaelLueken commented on #639
@KateFriedman-NOAA Thanks for bringing these issues to my attention!  I have updated modulefiles/modulefile.ProdGSI.hera.lua so that the cmake entry comes directly after setting up hpc-stack.  I have tested that both cmake/3.16.1 and cmake/3.20.0 both successfully compile the DA components.  After this, I removed the gfsda.v16.2.1 tag and created the [gfsda.v16.2.0.1](https://github.com/NOAA-EMC/G

[2022-02-16 15:28] lgannoaa opened #654 "Create Free Forecast ECFLOW workflow"
**Description**

This is to document the action and status of the Free Forecast ECFLOW workflow development.
@arunchawla-NOAA tasked @lgannoaa to create Free Forecast ECFLOW workflow. It will be used as a base line for @KyleNevins-NOAA to work on a software solution to dynamically generate this workflow.
**Requirements**

This version is C192 low resolution currently running on Hera. With the foll

[2022-02-16 15:36] lgannoaa commented on #654
Git location for the most current version is located in:
https://github.com/lgannoaa/global-workflow/pull/new/feature/ecf-freefcst-hera

[2022-02-16 16:29] lgannoaa commented on #654
**Step by step setup instruction:**

---

**(From Hera node to Hera ecflow server)**
module load ecflow;ssh -Y $USER@$ECF_HOST

**(Load ecflow module in Hera ecflow server)**
module load ecflow

**(Checkout Hera ECFLOW workflow enabled GFS package)**
mkdir -p /scratch1/NCEPDEV/global/$USER/git; cd /scratch1/NCEPDEV/global/$USER/git
git clone https://github.com/$GIT_USER_NAME-here/global-workflow g

[2022-02-16 17:04] lgannoaa commented on #654
According on task_limit set to 12:
Average speed of each 00Z run 3 hours and 15 minutes
Average size of each cycle run is 375G

[2022-02-16 18:20] KateFriedman-NOAA commented on #639
Thanks @MichaelLueken-NOAA ! It built ok on Hera, please see this log to confirm:

/scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/logs/build_gsi.log_2

A few notes:
1. NCO asked us to move to w3emc/2.9.2 (which I am getting hpc-stack folks to install on Hera/Orion). I ran the build on Hera with `export w3emc_ver=2.9.0` set via g-w versions/hera.ver since `2.9.2` isn't available yet. I see

[2022-02-16 19:01] MichaelLueken commented on #639
Thanks @KateFriedman-NOAA!  I have updated the modulefiles for Hera, Orion, and WCOSS2 so that all modulel oads come after hpc-stack entries.  I have also changed the w3emc default from 2.7.3 to 2.9.2.  The tag is [gfsda.v16.2.0.1]( https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.2.0.1).

[2022-02-16 20:05] RussTreadon-NOAA commented on #529
**ufsda branch cleanup**
Merge `feature/ufsda-rocoto-jobs` and `feature/ufsda-parm` into `feature/ufsda`.  After this, delete `feature/ufsda-rocoto-jobs` and `feature/ufsda-parm`.   Details are provided below.

- Delete [feature/ufsda-rocoto-jobs](https://github.com/NOAA-EMC/global-workflow/tree/feature/ufsda-rocoto-jobs) at [2b4077c](https://github.com/NOAA-EMC/global-workflow/commit/2b4077c18692

[2022-02-16 20:57] KateFriedman-NOAA commented on #639
Thanks @MichaelLueken-NOAA ! I recloned the updated gfsda.v16.2.0.1 tag on Hera, Orion, and WCOSS2. I ran the build on Orion and Hera with `w3emc/2.9.1` (waiting on `2.9.2` install still). I built it on WCOSS2 as is. Please see the following build logs and confirm they indeed built ok:

Orion: /work/noaa/global/kfriedma/git/dev_v16/sorc/logs/build_gsi.log_2
Hera: /scratch1/NCEPDEV/global/Kate.Frie

[2022-02-16 22:21] rmontuoro opened #655 "Port aerosol cycling from coupled-crow for P8 development and tuning"
**Description**

The ability to cycle atmospheric tracers (aerosols), available in the coupled-crow version of global-workflow and used to develop and tune UFS-Aerosols for P7, needs to be ported to the current global-aerosol version for further UFS-Aerosols development targeted to P8c.

[2022-02-16 22:27] WalterKolczynski-NOAA commented on #655
Duplicate of #516

[2022-02-16 22:27] #655 closed, assigned to nobody

[2022-02-16 23:18] CatherineThomas-NOAA opened #656 "DO-4 for commercial GPS-RO (Workflow)"
Delivery Order 4 (DO-4) has been awarded to both GeoOptics and Spire, requiring a change in the GSI.  See GSI Issue [#305 ](https://github.com/NOAA-EMC/GSI/issues/305) for details.

CDF deadline: March 1
Data flow begins: March 16
Target implementation: ~March 23

Changes from the workflow side will be to update the DA tag number and update config.anal to add a new historical fix file.

These chan

[2022-02-17 13:36] MichaelLueken commented on #639
Thanks @KateFriedman-NOAA! I have checked the build logs and there is one issue that I noted.  For Hera, the version of anaconda that is being used is the default from the GSI's `modulefile.ProdGSI.hera.lua` file - `anaconda/2.3.0`.  Since Hera uses anaconda instead of python, should the `hera.ver` file in `dev_v16` include:

`export anaconda_ver=anaconda3-5.3.1`

[2022-02-17 14:05] KateFriedman-NOAA commented on #656
From GSI issue:
[code]

[2022-02-17 14:15] KateFriedman-NOAA commented on #656
Created new branch `release/gfs.v16.1.6` off of `operations` branch for this update.

[2022-02-17 14:33] KateFriedman-NOAA commented on #656
Release notes document created and ready for details to be added:
https://docs.google.com/document/d/1q3iIVO4c7dbOCbgRd5fjs6b84J8UJ9b-I1lY4XwDhbE/edit#

[2022-02-17 14:34] KateFriedman-NOAA commented on #639
@MichaelLueken-NOAA Yes, good catch! I have added `export anaconda_ver=anaconda3-5.3.1` to `hera.ver` and rerun the GSI build. Please see this log:
/scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/logs/build_gsi.log_4

[2022-02-17 14:53] MichaelLueken commented on #639
@KateFriedman-NOAA The new build log looks good!

[2022-02-17 14:54] KateFriedman-NOAA commented on #639
Awesome, thanks for confirming @MichaelLueken-NOAA ! I'll let you know how it goes when I start running tests on Hera/Orion with this updated tag. Waiting for modules and other components still.

[2022-02-17 19:51] KateFriedman-NOAA commented on #622
All, is there guidance on whether users should turn off GLDAS when running cold-started experiments for now? @jkhender just hit the same error on Orion with a cold-started experiment using global-workflow `develop` as of 2/2/22. Thanks!

[2022-02-17 20:05] jkhender commented on #622
correction - my experiment is running on Hera

[2022-02-17 20:06] DavidHuber-NOAA commented on #622
This is what I would suggest.  I don't think that a fix file update will work for everyone since warm starts seem to be using the current fix files without a problem, implying that an update would result in a mismatch for those users (testing could confirm this).  Alternatively, two sets of fix files could be created, one for warm starts and one for cold, but that would require some scripting to k

[2022-02-17 20:10] KateFriedman-NOAA commented on #622
Oops, thanks for correcting @jkhender !

So this is related to a fix file issue? Sorry, been out of the loop on this. Thanks!

[2022-02-17 20:12] WalterKolczynski-NOAA opened #657 "MODE comparisons are incorrect"
When the setup_expt scripts were combined, the forecast mode became a mandatory argument. The value of this option is then directly used for the MODE variable, but the argument name (forecast-only) does not match what was previously used for MODE in the forecast-only script (free) and some scripts are still testing against the old value instead of the new one.

[2022-02-17 20:14] DavidHuber-NOAA commented on #622
I believe so, yes.  See the email thread between Jun, Helin, and myself [here ](https://github.com/NOAA-EMC/global-workflow/issues/622#issuecomment-1026326625) and [here](https://github.com/NOAA-EMC/global-workflow/issues/622#issuecomment-1028278324).

[2022-02-17 20:42] KateFriedman-NOAA commented on #639
Using `anaconda/latest` would require at least the GSI and workflow to update (maybe others) and test with that version. I don't know how different they are.

We're not using the 2020 versions yet and need to stick with the 2018 versions...at least regarding what we set via global-workflow. Is this a blocker for supporting METplus on Orion? Can we use the existing METplus versions we're using on O

[2022-02-17 20:55] #657 closed, assigned to WalterKolczynski-NOAA

[2022-02-18 13:10] malloryprow commented on #639
@KateFriedman-NOAA I'd say this is a blocker as the MET and METplus module files on Hera and Orion require that the anaconda/latest, and intel/2020 and intelpython3/2020 (respectively) be loaded. These were what were used in the building of them.

I'm not sure why these specific versions were used for the build, but the MET team would need to rebuild on both Hera and Orion if we want them to be us

[2022-02-18 16:14] KateFriedman-NOAA commented on #639
Ok thanks for confirming @malloryprow . I'll need to speak with the workflow team about how we wanna support METplus for v16.2.0 on the R&D machines then. Stay tuned...thanks!

[2022-02-18 21:35] CatherineThomas-NOAA commented on #656
The release branch release/gfs.v16.1.6 was updated to point to the v16.1.6 DA tag.  Note that the new DA tag has not been cut yet.

[2022-02-21 07:10] #600 closed, assigned to WalterKolczynski-NOAA

[2022-02-22 13:58] arunchawla-NOAA commented on #613
Hi

Just curious as to where we go from here ? It will be nice to see if we can create a series of issues that we can work with the ensemble team and transition them to the global workflow ?

[2022-02-22 14:42] AndrewEichmann-NOAA commented on #622
I've now encountered this on WCOSS, on the fourth full 00Z cycle into a run. I modified the rocoto script to skip over it.

rotdir /gpfs/dell1/ptmp/Andrew.Eichmann/baily
expdir /gpfs/dell2/emc/modeling/save/Andrew.Eichmann/para/baily

global-workflow is my EFOSI fork branch off from master
d7319f19aceca6ae6d7ce9b06c6eb731832d1de1 (Feb 2)

[2022-02-22 15:10] CatherineThomas-NOAA commented on #656
The GSI release branch release/gfsda.v16.1.6 was tagged as [gfsda.v16.1.6](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.6) at [7c0e408](https://github.com/NOAA-EMC/GSI/commit/7c0e40810a2405928912364a0c16232db78f2246).

[2022-02-22 19:39] KateFriedman-NOAA commented on #656
Cut hand-off tag [EMC-v16.1.6](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.6).

[2022-02-22 20:24] KateFriedman-NOAA commented on #399
Cut new [EMC-v16.2.0.4](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.2.0.4) tag for NCO.

[2022-02-22 20:54] lgannoaa opened #662 "Wired personal location for CPCGAUGE in exgdas_atmos_gldas.sh"
In NCO wcoss2 log /lfs/h1/ops/prod/output/20220222/gdas_atmos_gldas shown 2 issues:
1. CPCGAUGE=/lfs/h2/emc/global/noscrub/Kate.Friedman/dump
2. [$HOMEgfs/ush/gldas_forcing.sh line (46-56)](https://github.com/NOAA-EMC/GLDAS/blob/master/ush/gldas_forcing.sh#L46-L56)

[code]

Contain the following design issues:
1. cpc_precip should be configured from config file instead of gldas_forcing.sh script
2

[2022-02-22 21:04] WalterKolczynski-NOAA commented on #662
Since this script is controlled by gldas, an issue should be opened there as well.

[2022-02-22 21:07] KateFriedman-NOAA commented on #662
@WeiWei-NCO FYI

[2022-02-22 21:08] WalterKolczynski-NOAA commented on #662
This may need to be two separate issues, one for the CPCGAUGE issue and one for the error checking.

[2022-02-22 21:10] KateFriedman-NOAA commented on #662
I also need to update the DMPDIR path for WCOSS2 to point to the group account and not my personal area (forgot to do). I could fold that into PR #663. I need to create the emc.global dump folder and symlink it to my space for now to not break things.

[2022-02-22 21:22] KateFriedman-NOAA commented on #662
The CPCGAUGE file from the GDA isn't actually getting copied in (from what I see in the gldas logs on Dogwood) so this is just seeing the path setting that will be used for dev runs being observed but then overwritten by the ops path.

I don't think the GLDAS issue is about the wired personal location. Please update that issue to correct it @lgannoaa . The personal GDA path came from the workflow

[2022-02-22 21:35] lgannoaa commented on #662
@KateFriedman-NOAA
The design issues session above has outlined issue with:
1. Wire the cpc_precip
2. Exception handling
3. Where the environment and assignment should be (in config file).

Therefore, maybe the gldas package should be modified to fix the design issue. I also created a gldas issue for reference purpose.

[2022-02-22 21:37] KateFriedman-NOAA commented on #662
Have fixed this in PR #663. The dev paths for `BASE_GIT`, `BASE_SVN` and `DMPDIR` now point to the emc.global group account space on WCOSS2 (as it should) and not a personal account anymore.

[2022-02-22 21:39] KateFriedman-NOAA commented on #662
Not denying that...I said the wired path problem was not on GLDAS's end and doesn't need to be addressed by them. That is now fixed in `feature/ops-wcoss2` via PR #663 commits.

Please address any other relevant issues in this now with the GLDAS folks, thanks!

[2022-02-22 21:44] lgannoaa commented on #662
I will be happy to work with GLDAS folks to address it.

[2022-02-22 21:50] KateFriedman-NOAA commented on #662
@WeiWei-NCO is the noted error handling insufficiency something NCO would like fixed for GFSv16.2.0? If so, we'll need to get that sorted ASAP before I tag the GFS for you. From what I see in the GLDAS logs the correct CPCGAUGE file is being used (copied into rundir) so it's just a matter of beefing up the error handling (particularly for the dev side of things when we use the global dump archive

[2022-02-22 22:01] WeiWei-NCO commented on #662
It looks to be an easy fix...just $CPCGAUGE in /scripts/exgdas_atmos_gldas.sh.  (?)

If so, we may want to fix this issue now in v16.2.0.

[2022-02-23 00:14] HelinWei-NOAA commented on #662
@lgannoaa Thanks. Can you provide me with your proposed modifications?

[2022-02-23 13:36] KateFriedman-NOAA commented on #662
@lgannoaa My bad, you're right, I see the wired personal location in `exgdas_atmos_gldas.sh`. It was also set in our setup scripts so that's fixed now too. Thanks!

@HelinWei-NOAA Please [change line 31](https://github.com/NOAA-EMC/GLDAS/blob/master/scripts/exgdas_atmos_gldas.sh#L31) in `exgdas_atmos_gldas.sh` from:

[code]

...to:
[code]

The WCOSS-Dell version also pointed to the GDA there so th

[2022-02-23 13:58] WeiWei-NCO commented on #662
Yes, Kate. We are good with `CPCGAUGE` updated. Thank you all.

[2022-02-23 14:06] KateFriedman-NOAA commented on #662
Great, thanks @WeiWei-NCO !

@HelinWei-NOAA Please make the indicated `CPCGAUGE` default setting update and provide me a new tag for GFSv16.2.0. We need to cut the final GFS tag from global-workflow ASAP so please provide the tag today so we can proceed with that final tag. Thanks a bunch!

Please then work with @lgannoaa on beefing up the error-handling in those GLDAS scripts. Thanks!

[2022-02-23 14:29] HelinWei-NOAA commented on #662
@KateFriedman-NOAA Here is the [new tag](https://github.com/NOAA-EMC/GLDAS/releases/tag/gldas_gfsv16_release.v.2.0.0)

Thanks.

[2022-02-23 14:32] KateFriedman-NOAA commented on #662
Thanks for the quick action @HelinWei-NOAA !

[2022-02-23 14:35] lgannoaa commented on #662
@HelinWei-NOAA
Please take a look at my solution.
File modified:
/lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2/ush/gldas_forcing.sh (modify application logic for path assignment)
/lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2/scripts/exgdas_atmos_gldas.sh (remove hardwired personal name for CPCGAUGE assignment)
/lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2/parm/c

[2022-02-23 15:15] lgannoaa commented on #662
Closing the issue.

[2022-02-23 15:19] WalterKolczynski-NOAA commented on #662
Please do not close issues while the PR fixing them is still pending.

[2022-02-23 15:20] #662 closed, assigned to nobody

[2022-02-23 15:24] KateFriedman-NOAA commented on #399
Cut tag for hand-off to NCO: [EMC-v16.2.0.4](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.2.0.4)

[2022-02-23 15:25] lgannoaa commented on #662
@WalterKolczynski-NOAA This issue is closed because PR and Tag is accepted by customer.

[2022-02-23 19:50] CatherineThomas-NOAA commented on #656
The [EMC-v16.1.6](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.6) tag has been delivered to NCO.

[2022-02-23 21:10] KateFriedman-NOAA opened #665 "Support GFSv16.2.x (WCOSS2 port) on supported tier-1 platforms"
**Description**

This issue documents work to add support for the new GFSv16.2.x (WCOSS2 port version) on supported R&D platforms (Hera & Orion). Additional updates will also be committed to wrap up remaining WCOSS2 dev updates not required for operations (e.g. obsproc, GDA, verification).

Changes will be committed to the `dev_v16.2.x` branch.

**Requirements**

The `dev_v16.2.x` branch should su

[2022-02-25 03:19] WalterKolczynski-NOAA opened #667 "Experiment setup fails on WCOSS because partition_batch is not defined"
setup_expt.py fails on wcoss because the machine dict in workflow_utils does not define partition_batch, but then it attempts to use it in a config.base substitution.

**Machines affected**
WCOSS

**Possible Implementation**
Add an dict key for partition_batch to machines where it is missing.

[2022-02-25 03:24] WalterKolczynski-NOAA commented on #667
I could've sworn I tested this on WCOSS before we merged that PR

[2022-02-25 03:29] WalterKolczynski-NOAA commented on #656
Is this still waiting on something?

[2022-02-25 03:49] #667 closed, assigned to WalterKolczynski-NOAA

[2022-02-25 13:13] CatherineThomas-NOAA commented on #656
@WalterKolczynski-NOAA  Nothing from EIB at the moment.  I'm working with the SPA to schedule the parallel test and implementation date.  I'll update when I have that information.

After implementation, EIB will need to merge these changes back to the operations branch and create an NCO tag, as described in the checklist, but nothing to do for now.

[2022-02-25 13:32] KateFriedman-NOAA commented on #656
@WalterKolczynski-NOAA What Cathy said...this issue will close with the PR that merges `release/gfs.v16.1.6` into the `operations` branch right after implementation. Will cut the `NCO-v16.1.6` off the operations branch as the last step.

[2022-02-25 18:20] CatherineThomas-NOAA commented on #656
Data flow begins on March 16th.  A single cycle test for both GFS and GDAS will be run on March 17th at 12z.  Implementation is tentatively scheduled for March 29th 12z.

[2022-02-25 21:39] #618 closed, assigned to arunchawla-NOAA

[2022-02-25 22:28] WalterKolczynski-NOAA commented on #656
I just wanted to make sure we couldn't close it yet after I saw the merge.

[2022-03-01 15:50] #631 closed, assigned to nobody

[2022-03-01 17:45] KateFriedman-NOAA opened #670 "Convert modulefiles to LUA format (develop)"
**Description**

Related to work done for issue #639, convert modulefiles from TCL to LUA format in the develop branch. This came from a requirement during the WCOSS2 port and has already been done in the `operations`/`dev_v16`/`feature/ops-wcoss2` branches.

**Acceptance Criteria (Definition of Done)**

1. All workflow modulefiles are in LUA format and have the `.lua` file extension.
2. Scripts t

[2022-03-01 17:55] KateFriedman-NOAA opened #671 "Introduce version files and their usage in develop branch"
**Description**

Introduce versions (`.ver`) files in a new `/versions` folder and update modulefiles to use module version variables when loading modules. This is related to work that occurred for the operations branch during the WCOSS2 port. See issues #639 and #398.

Will also take care of issue #1625 in the initial PR for this.

**Requirements**

- Alignment of module versions across component

[2022-03-01 19:22] KateFriedman-NOAA opened #672 "Clean out unneeded/outdated modulefiles (develop)"
**Description**

The following modulefiles are either no longer needed (function elsewhere now) or are for now-unsupported HPCs (e.g. WCOSS_C):

- modulefiles/module_base.wcoss_c
- modulefiles/OznMonBuild.orion
- modulefiles/OznMonBuild.wcoss_dell_p3
- modulefiles/RadMonBuild.orion
- modulefiles/RadMonBuild.wcoss_dell_p3

Most have already been removed from the operations-related branches without

[2022-03-01 19:28] KateFriedman-NOAA commented on #670
Branch for this work: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/lua

[2022-03-02 20:07] KateFriedman-NOAA commented on #622
@AndrewEichmann-NOAA For clarification...you skipped the failing GLDAS job in your fourth full 00z cycle but kept GLDAS on for following cycles? If so, did the GLDAS work in the next cycles? Thanks!

[2022-03-02 20:21] AndrewEichmann-NOAA commented on #622
@KateFriedman-NOAA I skipped the fourth full 00z cycle, tried turning off in config.base, which didn't have any effect (still in the workflow), so I regenerated the xml file to have the workflow without it (this being since I wrote the above). Basically I tried not running it at all, so I don't know if it would have worked properly on later cycles.

[2022-03-02 20:27] KateFriedman-NOAA commented on #622
@AndrewEichmann-NOAA Gotcha, thanks for the clarification!

All, it sounds like we should advise that users don't run with GLDAS if they are cold-starting an experiment, especially given the note from @HelinWei-NOAA that we won't be using the GLDAS moving forward. @yangfanglin @CatherineThomas-NOAA @WalterKolczynski-NOAA Any objections to this guidance? We have users with stalled experiments becau

[2022-03-02 21:05] CatherineThomas-NOAA commented on #622
@KateFriedman-NOAA No objection from me.

[2022-03-02 21:05] AndrewEichmann-NOAA opened #673 "Implementation of EFSOI in global-workflow develop"
**Description**

This is an implementation in global-workflow of Ensemble Forecast Sensitivity to Observation Impacts (EFSOI), a method to determine the positive or negative impact of observations assimilated for the initial conditions for a forecast.

At the time of this writing most of the necessary code is in the GSI master branch.

**Requirements**

When switched on at the time of workflow gen

[2022-03-04 15:28] AndrewEichmann-NOAA commented on #673
@CatherineThomas-NOAA and @KateFriedman-NOAA suggested for review

[2022-03-07 19:35] jkhender opened #675 "undefined variable in ush/forecast_postdet.sh"
In line 271 of forecast_postdet.sh, $FV3INP is undefined so the CCN_ACTIVATE.BIN file does not get copied to $RUNDIR.

$NCP $FV3INP/CCN_ACTIVATE.BIN  CCN_ACTIVATE.BIN

**Expected behavior**

CCN_ACTIVATE.BIN file gets copied to $RUNDIR.

**Current behavior**

file does not get copied.

error message in gfsfcst.log:
/bin/cp: cannot stat '/CCN_ACTIVATE.BIN': No such file or directory

**Machines aff

[2022-03-08 00:02] jkhender opened #676 "Update values in parm/parm_fv3diag/field_table_gsd and rename file"
**Expected behavior**

Default values for ice_nc, rain_nc, water_nc, sgs_tke variables need to change to 0.0

**Current behavior**

Default values for ice_nc, rain_nc, water_nc, sgs_tke variables are set to 1.e30

**Machines affected**

hera

**To Reproduce**

run gfsfcst with GSL suite and old field_table values with UFS version newer than 19Oct2021

**Context**

the values in field_table_gsd wer

[2022-03-08 15:13] aerorahul commented on #3
`manage_externals` needs to be tested on Orion w/ Gerrit hosted submodules.
@aerorahul to test.

[2022-03-08 15:30] aerorahul commented on #168
According to @WalterKolczynski-NOAA, the issue is not in running of the various resolutions of the coupled model.
The issue is with generating/providing staged IC's for the resolution.
Does the utility scripts have the capability of generating IC's for a given resolution for the various components (similar to chgres for Atm)?

The scope of this issue has changed.  Closing.  Will open a new one wit

[2022-03-08 15:30] #168 closed, assigned to nobody

[2022-03-08 15:33] aerorahul commented on #9
This will likely get an assist from EPIC if they wish to make this a release.

[2022-03-08 15:44] aerorahul commented on #300
@JessicaMeixner-NOAA
These files listed above by you don't need to be included in the update.  We will communicate w/ NCO on further guidance.

[2022-03-08 17:56] aerorahul opened #677 "Development of ocean update capabilities"
**Description**
Scope out and plan the work needed to provide ocean update capabilities into the global-workflow.

**Requirements**
- Utilize UFS coupled model in `-DAPP=S2S` mode
- Utilize SOCA for ocean and ice analysis.

**Acceptance Criteria (Definition of Done)**
- A weakly coupled atmosphere + ocean cycled system with the UFS model.

**Dependencies**
- A low resolution coupled model at C96/1

[2022-03-08 20:22] WalterKolczynski-NOAA opened #678 "Remove support for offline post forecast"
**Description**
At this point, I don't think we ever run without inline post and don't include it in our testing. We can streamline the workflow scripts by removing the conditional branches related to the option.

**Requirements**
Remove all conditional branches in scripts dealing with inline post being off.

**Acceptance Criteria (Definition of Done)**
No remaining code related to running without

[2022-03-08 20:32] aerorahul commented on #678
I think we run a version of offline post in the early (GFS) cycle for additional post products that are not covered in the inline post execution of the forecast model.
Some of those post products include simulated radiances and GTG related products.

[2022-03-08 20:44] WalterKolczynski-NOAA opened #679 "Reconcile differences between coupled and standard post scripts"
**Description**
The linker script currently takes in an additional argument to link "coupled". Differences in the fix files have already been removed, leaving just two post scripts that point to scripts in the post repo in standard mode but to g-w controlled scripts for coupled.

[exgfs_atmos_nceppost_cpl.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/scripts/exgfs_nceppost_cpl.sh) i

[2022-03-09 15:16] KateFriedman-NOAA commented on #678
I second Rahul's comment. Below is a sample list of the f009 files that come out of the WCOSS2 ops post jobs after the inline post products are produced in the fcst job:

[code]

We need to retain the offline post jobs still for ops but could consider turning them off for developer runs if we don't need any of the above products.

[2022-03-09 21:00] KateFriedman-NOAA commented on #300
Updated issue main comment to list component POCs and add checkmarks next to each file.

[2022-03-09 22:09] WenMeng-NOAA commented on #300
This makefile is used for converting UPP control file from xml to txt via Perl scripts. It is not the part of UPP source code.

[2022-03-09 22:11] arunchawla-NOAA commented on #300
@WenMeng-NOAA why dont we just use a txt control file to begin with ?

[2022-03-09 22:17] arunchawla-NOAA commented on #300
I would not like to remove a regression test system from a repository. Since these are not part of the UFS build system it should hopefully not be an issue for operations. @JessicaMeixner-NOAA just out of curiosity and perhaps an action item for future ww3, these tests should probably have a debug build option ( not an issue for NWS as we do not use OASIS)

[2022-03-09 22:27] JessicaMeixner-NOAA commented on #300
@arunchawla-NOAA valid point, I added a WW3 issue https://github.com/NOAA-EMC/WW3/issues/635 I think this might become a moot point with the move to cmake, but I don't know the full details so I made an issue just incase.

[2022-03-10 04:15] WenMeng-NOAA commented on #300
@arunchawla-NOAA The txt control is not in human-friendly format for defining variables output from UPP. The [parm/makefile](https://github.com/NOAA-EMC/UPP/blob/release/gfs_v16/parm/makefile) isn't in UPP source code part and isn't involved in  UPP build time and run time. It's not a traditional makefile for compiling fortran code. I would think no debug target needed.

[2022-03-10 10:54] #403 closed, assigned to rmontuoro, WalterKolczynski-NOAA

[2022-03-10 14:04] arunchawla-NOAA commented on #300
thanks @WenMeng-NOAA so this is not used in operations right ? You only need it to set the configuration for an operational system. Am I reading that correctly ? If that is the case then that is the reason we can use

[2022-03-10 14:14] WenMeng-NOAA commented on #300
@arunchawla-NOAA That's right. This script is handy for updating operational UPP control files, e.g. GFS, GEFS, RRFS, HAFS.

[2022-03-10 14:50] GeorgeGayno-NOAA commented on #300
Do I need to update the latest UFS_UTILS tag that supports GFS v16. I can do that under: https://github.com/ufs-community/UFS_UTILS/issues/629. Some of the programs listed are not used by global-workflow, so I can simply remove them.

The head of 'develop' uses CMake and includes a 'debug' option. So if this can wait until the "next major upgrade" do I need to do anything?

[2022-03-10 15:52] JessicaMeixner-NOAA commented on #641
A tag of ufs-weather-model has been created: https://github.com/ufs-community/ufs-weather-model/tree/Release/P8b and the GOCART PR has been merged.  I'm merging in the changes to my branch: https://github.com/jessicameixner-noaa/global-workflow/tree/feature/p8b and hope to have a PR submitted ASAP.

[2022-03-10 16:04] WalterKolczynski-NOAA opened #680 "Remove code related to WCOSS-Dell, WCOSS-Cray, and Theia"
**Description**
WCOSS-Cray and WCOSS-Dell are no longer supported machines, and Theia is long since decommissioned, but we still have a lot of code rot related to them.

**Requirements**
Remove all the code specifically for WCOSS-Dell, WCOSS-Cray and Theia.

**Acceptance Criteria (Definition of Done)**
No more WCOSS-Dell, WCOSS-Cray or Theia related code.

**Dependencies**
None

[2022-03-15 14:48] CatherineThomas-NOAA commented on #656
GFS v16.1.6 is getting an additional change to accompany a change in obsproc.  See GSI Issue [#333](https://github.com/NOAA-EMC/GSI/issues/333).

The release notes and a config.anal comment in release/gfs.v16.1.6 have been updated to reflect this change

[2022-03-15 15:18] KateFriedman-NOAA commented on #656
New tag [EMC-v16.1.6.1](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.6.1) has been cut for hand-off to NCO.

[2022-03-15 17:55] AndrewEichmann-NOAA opened #683 "build of March 10 develop hash failing in GSI"
**Expected behavior**

build_all.sh completes on dell with March 10 (hash d758e8b227fca7b5a3320adc43c29ba492c3bfe9) global-workflow develop

**Current behavior**

build_all.sh fails in GSI:

build_gsi.log ends with the following:

**Machines affected**

WCOSS Venus

**To Reproduce**

I cloned this repo a couple of hours ago, ran checkout.sh and build_all.sh

**Context**

Clone is in /gpfs/dell2/em

[2022-03-15 18:02] KateFriedman-NOAA commented on #683
Your libsrc folder is empty:

[code]

@MichaelLueken-NOAA I was just informed that the libsrc repo was removed (?). How do we support the GSI versions that use libsrc to build? This is going to break most GSI builds now.

[2022-03-15 18:28] KateFriedman-NOAA commented on #683
@AndrewEichmann-NOAA @MichaelLueken-NOAA I just cloned g-w develop on WCOSS-Dell and I have files in my gsi.fd/libsrc folder. It's the same version of develop as what Andrew has. @AndrewEichmann-NOAA did you notice any clone issues when checking out the components via checkout.sh?

[2022-03-15 18:36] JessicaMeixner-NOAA commented on #683
This is the same issue I had yesterday.  My checkout.sh showed no issues, if I went into gsi itself and did another git submodule update then the libsrc was added and then I could build gsi successfully.

[2022-03-15 20:53] RussTreadon-NOAA commented on #683
Make the following change in a Mars clone of global-workflow.    Add `git submodule init` to `sorc/checkout.sh` as shown below
[code]
With this change, `sorc/gsi.fd/libsrc` is populated.  Subsequent execution of `build_all.sh` successfully built executables in `sorc/gsi.fd`.

Interestingly, there is no need to add `git submodule init` on Orion.  A fresh clone of global-workflow followed by executi

[2022-03-16 12:56] KateFriedman-NOAA commented on #683
That explains why it worked ok for me, I use `git/2.14.3` on WCOSS-Dell. Thanks for sussing that out @RussTreadon-NOAA ! I will update the g-w wiki to advise users to use `git/2.14.3` on the Dells.

[2022-03-16 12:56] KateFriedman-NOAA commented on #683
@AndrewEichmann-NOAA Please confirm that using the newer git version results in a complete GSI checkout for you. If so, we can close this. Thanks!

[2022-03-16 13:00] RussTreadon-NOAA commented on #683
The default git version on Orion is also 1.8.3.1.    git/2.21.0 and git/2.28.0 are available.   The GSI clone and build were successfully tested with git/2.28.0

[2022-03-16 13:07] KateFriedman-NOAA commented on #683
And on Hera the default is `2.18.0`. Good. Looks like we want to advise at least v2+ everywhere. I'll update the wiki to reflect that. Thanks!

[2022-03-16 13:16] KateFriedman-NOAA commented on #683
The g-w wiki has been updated to reflect the recommended versions for each tier-1 platform: https://github.com/NOAA-EMC/global-workflow/wiki/HPC-Settings-&-Help#version

[2022-03-16 14:27] lgannoaa opened #684 "Create WCOSS2 cycled ECFLOW workflow"
**Description**

This is to document the action and status of the cycled ECFLOW workflow development.
Arun tasked @lgannoaa to create cycled ECFLOW workflow.

This version is ops resolution based on ops GFS currently running on WCOSS2. With the following steps:
- ops gfs,gdas,enkfgdas jobs
- EMC verification jobs
-   gfs vrfy, gdas vrfy, MetPlus jobs, gplots
- EMC archive jobs
-   EMC gfs arch, EM

[2022-03-16 17:14] KateFriedman-NOAA commented on #656
New tag [EMC-v16.1.6.2](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.6.2) has been cut for hand-off to NCO. Includes release branch fix to GSI submodule command and associated release notes update for new tag name.

[2022-03-17 19:26] AndrewEichmann-NOAA commented on #683
@KateFriedman-NOAA fixed! thank you!

[2022-03-17 19:26] #683 closed, assigned to nobody

[2022-03-18 20:28] KateFriedman-NOAA commented on #403
@WalterKolczynski-NOAA What was the fix for this? I'm getting the same error testing the P8b PR in cycled mode (C384C192L127) on WCOSS-Dell. Here is a sample log with the error:

/gpfs/dell3/ptmp/Kate.Friedman/comrot/p8b384_ip8/logs/2022010200/gdasefcs01.log.1

[2022-03-18 22:43] WalterKolczynski-NOAA commented on #403
I don't think I ever made a change that specifically resolved this, it just resolved itself (this issue originated in coupled-crow). Sounds like it isn't specifically an aerosol issue then.

[2022-03-21 14:17] AndrewEichmann-NOAA opened #685 "module load failure on WCOSS dell"
**Expected behavior**

Modules load as normal

**Current behavior**

As of Friday, in an experiment that has been running for a couple weeks, all tasks for a particular build of global-workflow immediately encounter the following error:

**Machines affected**

WCOSS Venus

**To Reproduce**

The rotdir is
/gpfs/dell1/ptmp/Andrew.Eichmann/baily
expdir:
/gpfs/dell2/emc/modeling/save/Andrew.Eichmann/p

[2022-03-22 13:12] KateFriedman-NOAA commented on #685
@AndrewEichmann-NOAA Can you retry the failing jobs again and report if they still get that error on WCOSS-Dell? The hpc-stack folks found the cause of the issue and made a fix. See the most recent chatter in the #hpc-stack channel of the EMC slackspace for more details...and this hpc-stack issue: https://github.com/NOAA-EMC/hpc-stack/issues/410

[2022-03-22 13:58] RussTreadon-NOAA opened #686 "C48 ufs_model run fails because C48.mx100_frac does not exist"
**Expected behavior**
C48L127 ufs_model should run

**Current behavior**
C48L127 ufs_model fails because an expected input fix file can not be found.

**Machines affected**
Failure occurred on Orion, but is likely to occur on other machines if expected fix directory is not present.

**To Reproduce**
Run efcs (or fcst) at C48.

**Context**
Should the `C48` line in `config.efcs` set `OCNRES` to `400

[2022-03-22 14:07] AndrewEichmann-NOAA commented on #685
@KateFriedman-NOAA Now it gets past that state and fails when it doesn't find setpdy.sh. [EDIT] scratch that - I misread a log file. Back up and running

Thank you for clearing that up - I kind of figured it would be something like this and not a global-workflow bug, and should have mentioned that.

[2022-03-22 14:07] #685 closed, assigned to nobody

[2022-03-22 14:19] WalterKolczynski-NOAA commented on #686
Duplicate of #650. There's already a PR fixing this (#651), but it has been languishing. I'm going to try to push it along. But the fix is pretty small.

[2022-03-22 14:19] #686 closed, assigned to nobody

[2022-03-22 15:18] #650 closed, assigned to nobody

[2022-03-22 16:25] XuLi-NOAA commented on #595
@aerorahul @arunchawla-NOAA : Any update?

[2022-03-22 17:06] ADCollard commented on #595
@XuLi-NOAA I thought you were going to do this?

[2022-03-22 17:08] arunchawla-NOAA commented on #595
@XuLi-NOAA this was put on hold as it was going to be handled on GSI side. See the comments above

[2022-03-22 17:19] JessicaMeixner-NOAA opened #687 "Update ufs-weather-model to point to Prototype-P8b tag"
**Description**
Update ufs-weather-model has to point to [Prototype-P8b](https://github.com/ufs-community/ufs-weather-model/releases/tag/Prototype-P8b).  This has a bug-fix for aerosols which is needed for P8b.  This is currently not being combined with the p8b settings PR as testing is half way done and am assuming its preferred to occur as a second PR.

**Requirements**
Current thoughts for test

[2022-03-22 17:24] JessicaMeixner-NOAA opened #688 "Update WW3 pre post exe build script to use CMAKE"
**Description**

Update [sorc/build_ww3prepost.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/build_ww3prepost.sh) to use CMAKE.   Thanks to @kgerheiser who put in the underlying capabilities into WW3 to make this possible.  This is a target for P8c.

**Requirements**
* CMAKE 3.19 or higher is required for WW3 cmake.
* Will need to point to correct WW3 code.

**Acceptance Criter

[2022-03-22 17:34] XuLi-NOAA commented on #595
@ADCollard

I thought Mike will handle this.

Ok, I will do it.

[2022-03-23 13:47] lgannoaa commented on #684
@arunchawla-NOAA requested in preparation to run parallel with the dev-v16 branch that includes end to end jobs.
Will commit this ecflow workflow as PRs into the dev-v16 branch

[2022-03-23 13:49] CatherineThomas-NOAA commented on #656
Parallel tests for GFS v16.1.6 were run on 2022031618 - 2022031706 and 2022032112 - 2022032118.  The first test included the vadwnd changes and the increased Spire counts but the GeoOptics data were not available yet.  The second test included the GeoOptics in addition to the other changes.

Evaluation of the test can be found [here](https://docs.google.com/presentation/d/1lje5x6O-rogvNlcetLw82Hs3

[2022-03-23 14:33] KateFriedman-NOAA opened #691 "Prep job failures not captured on exit"
**Expected behavior**

The job (prep.sh) would exit with correct exit value thrown by obsproc package scripts.

**Current behavior**

Exits with a 0 error code regardless of what happens in the job.

**Machines affected**

All, doesn't matter the machine.

**To Reproduce**

Point to the wrong obsproc package (e.g. doesn't exist).

**Detailed Description**

Here is the bottom of a gdasprep.log on H

[2022-03-23 19:42] lgannoaa commented on #684
Modify checkout and link script to checkout and install ecflow workflow for GFS cycled parallel on WCOSS2
git clone --branch feature/wcoss2_ecf_cycled https://github.com/lgannoaa/ecflow.git

[2022-03-23 19:45] lgannoaa commented on #684
Fix config.gldas to allow up level assignment on CPCGAUGE
Add WCOSS2 support to config.metp and config.vrfy

[2022-03-23 20:30] lgannoaa commented on #684
Modified JGFS_ATMOS_CYCLONE_TRACKER to enable it for WCOSS2
Add WCOSS2 support to verification and archive jobs arch.sh earc.sh metp.sh vrfy.sh
Modify hpssarch_gen.sh to take log file from jobs

[2022-03-23 20:32] lgannoaa commented on #684
Commit to https://github.com/lgannoaa/global-workflow
feature/dev_v16
92e0f67

[2022-03-24 09:43] #595 closed, assigned to nobody

[2022-03-28 11:55] RussTreadon-NOAA commented on #622
What guidance do we have for developers who cold start and experiment AND want to run GLDAS?    The JEDI GDAS wants to mimic all operational job steps apart from the analysis step which will be JEDI VAR.    As this is just a prototype we are running at C96L127.    After cycling sufficient days to run the 00Z GLDAS, job gdasgldas fails with the restart tile space mismatch error reported in this iss

[2022-03-28 12:28] KateFriedman-NOAA commented on #656
From March 25th RFC memo:

[code]

[2022-03-28 14:04] RussTreadon-NOAA opened #695 "DO_GLDAS=YES requires FHOUT=1"
GLDAS requires hourly forecast model output from the gdas cycle.   Checks to ensure FHOUT=1 when DO_GLDAS=YES are missing from g-w.

**Expected behavior**
If FHOUT=1 is a requirement when DO_GLDAS=YES, logic in config.base or workflow generation scripts should ensure this condition is met.

**Current behavior**
FHOUT remains set to 3 if either DOHYBVAR="NO" or l4densvar=".false.".   The gdasgldas

[2022-03-28 14:07] RussTreadon-NOAA commented on #622
As requested by g-w staff, this issue has been reopened.

[2022-03-29 14:59] KateFriedman-NOAA opened #698 "Update 2022 storm names in operations"
**Description**

Tropical cyclone storm names for the 2022 season are being updated:

1. fix file update: `fix_am/syndat_stmnames`
2. source code update: `sorc/syndat_getjtbul.fd/getjtbul.f`

Version update to v16.1.7. Implementation date TBD.

To-be-done (by @KateFriedman-NOAA if not otherwise noted):

- [x] pull fix file updates into GFSv16 fix set
- [x] create `release/gfs.v16.1.7` branch off `

[2022-03-29 15:12] KateFriedman-NOAA commented on #698
The GFSv16.1.6 implementation was moved to 3/31 due to CWD so I have cut the new `release/gfs.v16.1.7` branch for this upgrade from the `release/gfs.v16.1.6` soon-to-be-ops branch instead of the `operations` branch.
Will commit changes to this branch: https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.1.7

[2022-03-29 15:23] KateFriedman-NOAA commented on #698
@Qingfu-Liu Please prepare release notes for this update and commit them to the `release/gfs.v16.1.7` branch /docs folder via a PR from your fork copy of the branch. You can use the v16.1.6 release notes as the base and then edit it. Thanks!

[2022-03-29 15:32] KateFriedman-NOAA commented on #698
Pulled updated code from @Qingfu-Liu into clone of `release/gfs.v16.1.7`:
[code]
Ran build_tropcy_NEMS.sh on WCOSS-Dell (Venus); here is the snippet for building the `syndat_getjtbul.fd` code:
[code]

[code]

[2022-03-29 15:38] KateFriedman-NOAA commented on #698
@Qingfu-Liu PR #699 to send in the code update has been initiated. Please review/approve and I'll submit the merge into the auth branch. Thanks!

[2022-03-29 18:34] Qingfu-Liu commented on #698
Approved. Two updates: 1) update the tropical storm names for the 2022
hurricane season, 2) update the FORTRAN code to read the new JTWC data
correctly (data format changed).

On Tue, Mar 29, 2022 at 11:38 AM Kate Friedman ***@***.***>
wrote:

[2022-03-29 19:02] KateFriedman-NOAA commented on #698
@Qingfu-Liu I need you to review and approve the PR, not the issue. Please see https://github.com/NOAA-EMC/global-workflow/pull/699. Thanks! :)

[2022-03-29 19:12] Qingfu-Liu commented on #698
Hi Kate,
   I just added a new file:
/gpfs/dell2/emc/modeling/noscrub/Qingfu.Liu/gfs.v16.1.7/docs/Release_Notes.gfs.v16.1.7.txt
It is based on the notes Release_Notes.gfs.v16.1.6.txt
Qingfu

On Tue, Mar 29, 2022 at 2:34 PM Qingfu Liu - NOAA Federal <
***@***.***> wrote:

[2022-03-29 19:19] Qingfu-Liu commented on #698
Kate,
   How can I check out this new branch? (I can check out other branches
using "git clone", but not this one)
https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.1.7
Thanks.
Qingfu

On Tue, Mar 29, 2022 at 3:02 PM Kate Friedman ***@***.***>
wrote:

[2022-03-29 19:22] KateFriedman-NOAA commented on #698
@Qingfu-Liu You'll need to have the `release/gfs.v16.1.7` branch in your global-workflow fork. I'll send you an email explaining the process.

[2022-03-29 19:25] Qingfu-Liu commented on #698
Thanks!

On Tue, Mar 29, 2022 at 3:22 PM Kate Friedman ***@***.***>
wrote:

[2022-03-29 20:13] RussTreadon-NOAA commented on #622
An Orion C96L127 parallel running ufs model tag `release/P8a` was used to create a test set of `fix/fix_gldas/FIX_T190` files.

A 00Z gdasgldas job using `/work/noaa/global/glopara/fix_NEW/fix_gldas/FIX_T190` was submitted.  This job failed with the error `Restart Tile Space Mismatch`.    The test `FIX_T190` files were swapped in and the 00Z gdasgldas job rerun.  The job ran to completion without

[2022-03-29 20:34] yangfanglin commented on #622
@RussTreadon-NOAA , what are the differences between the original FIX_T190 files  and test FIX_T190 files  ?  Sorry if it has been discussed and document somewhere else.

[2022-03-29 20:37] RussTreadon-NOAA commented on #622
@HelinWei-NOAA created the FIX_T190 files using output from the Orion C96L127 parallel.

[2022-03-29 20:52] yangfanglin commented on #622
@HelinWei-NOAA Thanks Helin for creating the new files.  Are you planning to create the new fix files for other resolutions as well ?

[2022-03-29 21:42] HelinWei-NOAA commented on #622
@yangfanglin Yes. As long as the sfc nemsio files for other resolutions can be provided.

[2022-03-29 22:20] HelinWei-NOAA commented on #622
@KateFriedman-NOAA My plan is to add a flag "GLDAS_FIX" to config.base, it is set to UFS or GFS.

### run GLDAS to spin up land ICs
export DO_GLDAS="YES"
export gldas_cyc=00export  GLDAS_FIX="UFS"
if [ $GLDAS_FIX = "UFS" ]; then
export FIXgldas=the place of the new gldas fixed fields based on UFS
fi

What do you think?Do you prefer to move this section to config.gldas?

[2022-03-30 13:58] KateFriedman-NOAA commented on #698
Updated `syndat_stmnames` file has been rsync'd into the staged FIX_DIR (`fix_nco_gfsv16/fix_am`) on WCOSS-Dell:
[code]
[code]
...and rsync'd to the associated companion FIX_DIRs on supported platforms.

New tarball of `fix_nco_gfsv16` has been made on HPSS:
/5year/NCEPDEV/emc-global/emc.glopara/fv3fix/fix_nco_gfsv16_20220330.tar

[2022-03-30 14:09] KateFriedman-NOAA commented on #698
Also updated `fix_NEW` fix set with updated syndat_stmnames file. Discovered the file in `fix_NEW` was also missing the 2021 update.
[code]

Created new tarball of `fix_NEW` on HPSS: /5year/NCEPDEV/emc-global/emc.glopara/fv3fix/fix_NEW_20220330.tar

[2022-03-30 15:33] KateFriedman-NOAA commented on #698
Merged `release/gfs.v16.1.7` into a copy of `feature/ops-wcoss2` on Dogwood:
[code]
...and ran `build_tropcy_NEMS.sh` to confirm updated  `syndat_getjtbul.fd/getjtbul.f` does not break build on WCOSS2. It built without issue:
[code]
[code]

[2022-03-30 15:36] KateFriedman-NOAA commented on #698
@Qingfu-Liu I think we are ready to cut the `EMC-v16.1.7` hand-off tag for you to submit in the CDF to NCO. Any final updates for this or may I proceed with cutting the hand-off tag?

[2022-03-30 16:00] Qingfu-Liu commented on #698
Kate,
   Just wait, I will double check everything in the tag, and let you
know this afternoon. I think you can set the tag late this afternoon or
tomorrow.
Qingfu

On Wed, Mar 30, 2022 at 11:36 AM Kate Friedman ***@***.***>
wrote:

[2022-03-30 16:08] KateFriedman-NOAA commented on #698
@Qingfu-Liu Sounds good! Will wait to cut tag until you give me the go-ahead. Thanks!

[2022-03-30 16:47] CatherineThomas-NOAA commented on #656
Implementation delayed due to CWD.  Currently planned for 12z April 4th.

[2022-03-30 17:55] KateFriedman-NOAA commented on #665
### Testing on WCOSS2 in support of developers looking to run GFSv16.3 tests in coming months

#### Test: Cycled test with obsproc package integrated into `dev_v16` branch

Successfully completed unattended cycled test on Dogwood (no verification pieces yet): 2022032718 - 2022032912

[code]

Used WCOSS1 ops GDA data pushed over to Dogwood from WCOSS-Dell.

[2022-03-30 17:59] Qingfu-Liu commented on #698
Hi Kate,
   I have double-checked the file "syndat_stmnames" and the FORTRAN code
"getjtbul.f". Everything looks good. You can cut the EMC-v16.1.7 hand-off
tag.
   Thank you very much.
Qingfu

On Wed, Mar 30, 2022 at 12:08 PM Kate Friedman ***@***.***>
wrote:

[2022-03-30 18:05] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using `dev_v16` branch

Set up new `devv16ops` test on Dogwood and set test GDA to point to obsproc output in ops instead of using WCOSS1 GDA data.

#### Prep job output

Successfully reproduced obsproc output in gdasprep and gfsprep jobs in test:
[code]
Also compared produced gdas.t00z.atmg*.nc files between WCOSS2 ops and test...they were successfully repro

[2022-03-30 18:08] KateFriedman-NOAA commented on #698
@Qingfu-Liu The hand-off tag for the CDF to NCO has been cut: [EMC-v16.1.7](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.7)

[2022-03-30 18:09] KateFriedman-NOAA commented on #698
@Qingfu-Liu Please forward me a copy of the CDF email you get from the form after you've submitted it so I have it for my records. Thanks!

[2022-03-30 18:28] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

### gdas[gfs]waveinit & gdas[gfs]waveprep output (using WCOSS2 operational rtofs output)

[code]
Note: since I am running a 00z cycle I need to only point to and use the prior day `rtofs.20220329` data because the `rtofs.20220330` data would not naturally be available until the 12z cycle

gdaswaveinit output matches:
[code]

gdaswaveprep

[2022-03-30 18:37] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

#### gdaseobs output

The output from the gdaseobs job matches WCOSS2 ops output:
[code]

Spot check of contents of `gdas.t00z.obsinput.ensmean` tarball also shows it matches ops.

[2022-03-30 19:08] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

#### gdasanal / gdasanalcalc / gdasanaldiag output

Output from the gdasanal[calc][diag] jobs matches WCOSS2 ops output:

[code]

Spot check of radstat tarball contents show it matches. Spot check of RESTART files (compared to _bfgldas versions in ops) show they match. Will run gdasgldas and compare RESTART files again.

[code]

[2022-03-30 19:21] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

#### gdasgldas output

The updated RESTART files produced by the gdasgldas job match WCOSS2 ops. Showing the comparison for one of the six tile files:

[code]

[2022-03-30 19:53] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

#### gdasfcst and gdaspost* output

The output produced by the gdasfcst and gdaspost* jobs matches WCOSS2 ops output. Showing just the atmf009.nc and pgrb2.0p25.f009 file comparisons below.

[code]

[code]

Will let the test run the rest of the enkf/gfs suites and then progress into the next cycle to check reproducibility continues.

[2022-03-30 20:08] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

The prep jobs in the next cycle in the test (2022033006) also reproduced WCOSS2 ops output:

[code]
[code]

These jobs used WCOSS2 ops obsproc output and prior cycle forecast output produced by this test.

Turning on cron for this test so rocoto let's it finish up overnight. Will compare additional output when it completes to confirm it

[2022-03-30 21:48] AndrewEichmann-NOAA opened #705 "ensemble members failing with 174 (range_check?)"
**Expected behavior**

Ensemble members complete 30-hour forecast (task gdasefmnfsoi)

**Current behavior**

Some members fail with and error code of 174 after a number of log entries like the following:

**Machines affected**
WCOSS Venus

**To Reproduce**

 rotdir is /gpfs/dell1/ptmp/Andrew.Eichmann/baily
expdir is /gpfs/dell2/emc/modeling/save/Andrew.Eichmann/para/baily

The cycles and tasks are

[2022-03-30 21:49] AndrewEichmann-NOAA commented on #705
PS The aforementioned GSI problems have been localized.

[2022-03-31 01:28] #641 closed, assigned to nobody

[2022-03-31 01:28] #687 closed, assigned to nobody

[2022-03-31 14:01] KateFriedman-NOAA commented on #656
CWD ended. Implementation moved up today (3/31) 12z.

[2022-03-31 14:15] KateFriedman-NOAA commented on #622
@HelinWei-NOAA I would prefer GLDAS-specific settings go into config.gldas. Perhaps `gldas_cyc` can go in there too. @WalterKolczynski-NOAA thoughts?

Questions:

1) Where will these UFS-FIXgldas files live? Can we add them into the main `FIX_DIR` alongside the GFS-FIXgldas files? Can you explain how they will differ between GFS and UFS? We currently have the following for GLDAS in `FIX_DIR`:
[cod

[2022-03-31 17:28] JessicaMeixner-NOAA opened #706 "Should setup_expt.py parse config.base or config.base.emc.dyn?"
**Expected behavior**

That setup_expt.py would parse cloned-global-workflow/parm/config/config.base  to EXPDIR/config.base because in link_workflow.sh you choose  which config file (emc/nco) to copy to config.base.

**Current behavior**
As stated in [setup_expt.py](https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/rocoto/setup_expt.py#L104):
"    Parses and populates the templated `con

[2022-03-31 18:37] HelinWei-NOAA commented on #622
@WalterKolczynski-NOAA @KateFriedman-NOAA I am very confused about two directories under global-workflow/fix. fix_fv3_fracoro is a copy of fix_fv3_gmted2010 but with the latest data used by UFS PT. How does the workflow determine which one will be used? We should only use one of them for consistency. But now it seems to me  that FIX_SFC is linked to fix_fv3_fracoro and FIXfv3 is linked to fix_fv3_

[2022-04-01 13:31] RussTreadon-NOAA commented on #705
The same warning message is found in C48L127 enkf forecasts run on Orion.   The model keeps running but the warning message is disturbing.  Warning message have occurred for PT UPDATE, TA, TA_dyn, and QV.

[2022-04-01 15:18] KateFriedman-NOAA commented on #656
GFSv16.1.6 implemented into operations on WCOSS-Dell yesterday during the 12z cycle. All stakeholders (including @CatherineThomas-NOAA) confirmed that 12z outputs looked good and the implementation occurred correctly.

[2022-04-01 15:46] KateFriedman-NOAA commented on #656
New tag of `operations` branch after merging in v16.1.6 updates has been made: [NCO-v16.1.7](https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.6)

The `release/gfs.v16.1.6` branch has been deleted post-PR.

[2022-04-01 15:53] KateFriedman-NOAA commented on #656
Released tag via global-workflow: https://github.com/NOAA-EMC/global-workflow/releases/tag/NCO-v16.1.6

[2022-04-01 16:02] yangfanglin commented on #705
@RussTreadon-NOAA  The model dycore checks certain variables against predefined (hardwired) data ranges. We have noticed they do not cover some of the observed or conceptually reasonable data ranges in the upper mesosphere.  This has been an known issue that remains to be resolved.   As long as the model forecast is not crashing, some of the warnings pointing to fields  in the upper atmosphere can

[2022-04-01 16:06] KateFriedman-NOAA commented on #656
All tasks for this v16.1.6 upgrade have been completed. Many thanks to all involved!

Closing this issue.

[2022-04-01 16:06] #656 closed, assigned to KateFriedman-NOAA

[2022-04-01 16:13] RussTreadon-NOAA commented on #705
Thank you, @yangfanglin , for sharing this background information.   Given the large dynamic range of some variables from the PBL up to the upper mesosphere, height or level dependent data ranges would be an improvement.   Easier said than done.   It's good to know that the warnings may be toggled off.   I'll keep 'em on in my tests in case the forecast model actually crashes.

[2022-04-01 16:22] AndrewEichmann-NOAA commented on #705
I have found at least a temporary solution by changing DELTIM from 450 to 240 (at Cathy's suggestion). This eliminates both the erring out, and the range_check warnings. The latter suggests to me that it's not a matter of the ranges being locally too narrow. I've also increased the allocated run time, but not sure yet what's necessary.

[2022-04-01 16:36] yangfanglin commented on #705
@AndrewEichmann-NOAA  Not sure what resolution of the model you are running.   As I explained one has to check where the warnings are found.  Not all warnings are caused by numerical instability and can be removed by reducing time steps in the 127L model.

[2022-04-01 16:46] SMoorthi-emc commented on #705
I think this appears to be instability of some kind or some other error
" [60] Warn_K= *127* (i,j)= 37 126 (lon,lat)=324.489 57.849 PT UPDATE =
*523.02619*
[60] *K= 126* *279.48630*
[60] PT UPDATE: 157.602260572837 37 126 127"
Note that level 127 has 523 and level 126 has 279.48.  This is an
unphysical change from layer to layer (I think 127 is the lowest model
level).

On Fri, Apr 1, 2022 at 12:3

[2022-04-01 16:55] AndrewEichmann-NOAA commented on #705
The resolution is C192

[2022-04-01 16:59] yangfanglin commented on #705
At C192, DELTIM=450s should be working fine.   Reducing it to 240s is too big a change.   Something else is going on causing the model to crash.  Please check if you have  "psm_bc   = 1" in the namelist.

[2022-04-01 17:05] AndrewEichmann-NOAA commented on #705
psm_bc=1 confirmed.

[2022-04-01 17:10] AndrewEichmann-NOAA commented on #705
Now I'm getting a similar error on Orion, same resolution, same sort of experiment, but different time period:

in /work2/noaa/stmp/aeichman/comrot/rodeo/logs/2020123100/gdasefcsfsoi40.log

expdir is /work/noaa/da/aeichman/para/rodeo

[2022-04-01 17:12] yangfanglin commented on #705
I have run a C384L127/C192L127  cycled experiments on Hera in recent days using the global-workflow branch from Jessica and the latest ufs-weather-model repo, although using a SDF file with GFDL MP and NOAH LSM.  This experiment was cycled for 5 days without any issue.  I used DELTIM=450s for the ensemble C192 members. Please see ROTDIR /scratch1/NCEPDEV/stmp2/Fanglin.Yang/ROTDIRS/p8bcyc if it can

[2022-04-01 17:17] AndrewEichmann-NOAA commented on #705
I should have noted that both experiments are using a global-workflow merged from  d7319f19aceca6ae6d7ce9b06c6eb731832d1de1 on Feb 2. Have there been relevant updates since then?

[2022-04-01 17:40] KateFriedman-NOAA commented on #665
#### Test: Reproduce WCOSS2 ops output using dev_v16 branch

After sorting out a small error in my experiment setup that impacted the enkf_forecast jobs, I have rerun the rest of the reproducibility test and confirmed I can reproduce WCOSS2 ops output using the dev_v16 branch.

The 2nd cycle (2022033006) outputs match WCOSS2 ops:

06z enkf post output for f009:
[code]

06z gdas deterministic f009

[2022-04-04 12:19] AndrewEichmann-NOAA commented on #705
@yangfanglin Are there other timesteps that work at C192? I chose because DELTIM=240 was used by a different resolution and I understand that it cannot be an arbitrary number.

[2022-04-04 13:15] AndrewEichmann-NOAA opened #708 "eupd tasks intermittently failing on Orion with bus error (with possible resolution)"
**Expected behavior**

eupd completes reliably

**Current behavior**

eupd (using LETKF, not serial filter) fails intermittently in experiment with C384/C192 and 80 ensemble members with the following in stderr:

**Machines affected**
Orion

**To Reproduce**

rotdir /work2/noaa/stmp/aeichman/comrot/rodeo/
expdir /work/noaa/da/aeichman/para/rodeo

Most of the duplicates you see if you  `ls logs/*/g

[2022-04-04 13:56] RussTreadon-NOAA opened #709 "C192L127 forecast hung with corrupted RESTART tiles (Hera)"
**Expected behavior**
`global_fv3gfs.x ` should successfully read warm start files from the `RESTART` directory.

**Current behavior**
The 2022031612 forecast for mem004 hung while attempting to read RESTART files from the previous cycle.  The below is taken from `/scratch1/NCEPDEV/stmp2/Haixia.Liu/ROTDIRS/v16_ctl_march/logs/2022031612/gdasefcs02.log.2`

`Tracer cld_amt initialized with surface va

[2022-04-05 06:16] WalterKolczynski-NOAA opened #710 "Add a portable way to easily define experiment settings"
**Description**
Right now, in order to create an experiment that changes much more than the date may require the user to make modifications in several different config files. And to share that experiment with others, it requires providing a list of all those modifications for the second user to then reproduce, or an experiment directory to copy that then still needs to be modified manually for the

[2022-04-05 06:19] WalterKolczynski-NOAA opened #711 "Restore cycled capability in develop"
The recent update to develop with prototype 8b support broke cycled capability due to changing the default options for some physics options.

**Expected behavior**
Cycled mode should perform as it used to before the 8b merge

**Current behavior**
Cycled mode does not complete correctly

**Machines affected**
All

**To Reproduce**
Try to run the current develop in cycled mode

**Context**
The decis

[2022-04-05 13:02] KateFriedman-NOAA commented on #622
@HelinWei-NOAA The following forecast job child scripts set the mentioned FIX paths:

* `ush/forecast_predet.sh` sets `FIXfv3` as `FIXfv3=${FIXfv3:-$FIX_DIR/fix_fv3_gmted2010}`
* `ush/forecast_postdet.sh` sets `OROFIX` and `FIX_SFC` depending on the value of `FRAC_GRID`:
[code]

Tagging @yangfanglin to explain fix file usage further and check we are being consistent/correct.

[2022-04-05 13:10] JessicaMeixner-NOAA commented on #622
The fix_fv3_fracoro should not just simply be a copy of the fix_fv3_gmted2010.  These have the fractional masks (ie. a grid cell can have both ocean and land).  @shansun6 and others added the capability for fractional grid and would likely be the best person to provide more details on the contents of the fracoro directory.

[2022-04-05 13:18] HelinWei-NOAA commented on #622
@KateFriedman-NOAA Thanks for your explanation. @yangfanglin In the current setting, the new dataset including viirs-based vegetation type can only be used when fractional grid is used. I am wondering if they should be also used (if they can @shansun6) without fractional grid. You turn fractional grid off in your cycled test run, but gldas still failed. We need to figure this out.

[2022-04-05 13:21] HelinWei-NOAA commented on #622
@JessicaMeixner-NOAA When I said a copy, I meant the structure is the same (number of files, file names). The only difference is the oro data has more information (lake fracyion, lake depth) and all other fixed fields are based on this oro data.

[2022-04-05 14:02] HelinWei-NOAA commented on #622
@shansun6 If the dataset created for fractional grid can't be used for the run without fractional grid, probably you should create two datasets w/o fractional grid from the same raw data at the same time for consistency.

[2022-04-05 14:12] HelinWei-NOAA commented on #622
@yangfanglin Should the oro data under the fix_ugwd used by the gravity drag scheme be also updated when we have the new oro data?

[2022-04-05 14:56] aerorahul commented on #709
@RussTreadon-NOAA @HaixiaLiu-NOAA
It appears that re-running the model produced valid files.
Is it possible that the model created corrupt files during the initial run?
Is this a result of a machine glitch?

In order to implement a complete `validator` of restart files will need considerable development.
How does one validate a corrupt restart file?
What does the acceptance criteria for such a val

[2022-04-05 15:06] RussTreadon-NOAA commented on #709
Thanks, @aerorahul , for replying to this issue.   It is not clear if file corruption points to a machine (Hera) issue, a supporting library, or something in the forecast model.

I agree.   As this case demonstrates file existence is an insufficient validator.   Perhaps UFS modelers have ideas for an efficient and computationally inexpensive validator.

Please feel free to close this issue if reso

[2022-04-05 15:07] #706 closed, assigned to aerorahul

[2022-04-05 15:09] aerorahul commented on #709
The issue is specific to a RESTART tile, but should be resolved with a general file validator.
Doing so will require considerable enabler activity.
Closing.

[2022-04-05 15:09] #709 closed, assigned to nobody

[2022-04-05 15:19] ShanSunNOAA commented on #622
@HelinWei-NOAA Any details describing the nature of the crash? Would be good to know the location of the crash: is it an ocean coast or inland lake point?

I can provide an non-fractional version of the oro_data to be used solely as a debugging tool. For the production mode, it is a good practice to stay with one unique oro_data to be consistent.

On the other hand, with some code changes in FV3 i

[2022-04-05 23:50] yangfanglin commented on #622
@HelinWei-NOAA

[2022-04-05 23:51] yangfanglin commented on #622
fix_ugwd works for both fractional and non_fractional grid.   It needn't be updated if oro_data is changed since it was created by   Mike Toy using a different oro dataset.

[2022-04-06 00:00] yangfanglin commented on #622
@HelinWei-NOAA My cycled run without fractional grid completed the gdasgldas step after pointing to the fix_gldas you updated.  I did not the experiment beyond the gdasgldas step.  There might be some mismatches.

[2022-04-06 10:34] RussTreadon-NOAA commented on #695
Any updates on this issue?

The following was added to a working copy of `config.base` in a C96L127 parallel running on Orion

[code]
We also need to resolve g-w issues #622 and #711.

[2022-04-06 11:56] RussTreadon-NOAA commented on #622
Reopen after consulting with @yangfanglin .   This issue remains to be resolved.

[2022-04-06 14:11] KateFriedman-NOAA commented on #695
@RussTreadon-NOAA The global-workflow team is oversubscribed right now and is prioritizing WCOSS2 ops and develop branch cycled capability tasks. I will try to take on this issue when able.

@WalterKolczynski-NOAA is currently actively working on #711 and #622 requires resolution from forecast model developers (who appear to be discussing the issue). I will update fix files and/or scripts as neede

[2022-04-06 14:21] RussTreadon-NOAA commented on #695
Developers will need to be aware of these issues and manually patch when they set up experiments.   I set up a new experiment on Orion yesterday and was reminded that I need to add these patches.

To minimize the number of developer inquiries the g-w team receives you could add the above mentioned issues to the [Common errors, known issues, and their solutions](https://github.com/NOAA-EMC/global-w

[2022-04-06 14:58] aerorahul opened #712 "[NCO Bug] Replace links with copy/move/rsync in workflow scripts"
**Current behavior**
In the current version of GFS, some jobs write to `COMOUT` directly through links in working directories.

**Context**
The current behavior is risky because downstream jobs can potentially get partial files and fail, as happened in `wave_post` job.

**Possible Implementation**
1. Write to working directories, then `cpfs` (or `cp`/`mv`, depends on the file sizes) to `COMOUT` on

[2022-04-06 15:07] WalterKolczynski-NOAA commented on #712
The issue with wave files being processed prematurely isn't actually an issue with linking vs copying. It is there is no indicator that the file is complete like the log files we have on the atmosphere side.

[2022-04-06 15:08] aerorahul opened #713 "[NCO Bug] Profile `enkf_chgres_recenter_nc.x`"
**Current behavior**
Runtime variability has been reported in the execution of `enkf_chgres_recenter_nc.x` on WCOSS2.

Difference between slow and fast runs are in the following code sequence.

[code]

The slow runs are spending most of the extra time in `terp3` / `bsearch`

Is it possible that, depending on memory allocations in the program, there is uninitialized data causing additional interpol

[2022-04-06 15:11] aerorahul commented on #712
That is correct @WalterKolczynski-NOAA
In this case the wave jobs are using triggers meant to indicate completion of the atmospheric write component.

[2022-04-06 15:12] KateFriedman-NOAA commented on #713
This issue is also documented as the first issue in the "GFS WCOSS2 reset/issue log":
https://docs.google.com/document/d/1v3pNtLJC7XhdeuzUnsCvIWI77QsWHg6pcKkGvJPJvlA/edit?pli=1#heading=h.s8j63b7gjxg2

[2022-04-06 15:14] JessicaMeixner-NOAA commented on #712
Actually the wave model is not using any trigger from the atmospheric write files. We just simply see if the file "exists" which does not state anything about it's completion.  One solution could be to add that type of file so that the wave gridded post is triggered off of that instead of if the file exists.  I think that's somewhat independent of the copy versus linking.

[2022-04-06 15:16] KateFriedman-NOAA commented on #713
@GeorgeVandenberghe-NOAA This is the related global-workflow issue for the runtime variability in the enkf chgres job. Please add details/information that is not already indicated above. Thanks!

[2022-04-06 15:29] StevenEarle-NCO commented on #712
The issue described in the ticket goes much further than just the recent wave issue; I can update the bugzilla if that's desired.
DATA needs to be self contained for several reasons....
-- Portability
-- Contained IO, making management of the system/storage possible
-- Pristine place to save after failures for debug/troubleshooting later

[2022-04-06 20:39] XianwuXue-NOAA opened #714 "err: unbound variable in scripts/exgfs_wave_init.sh"
**Expected behavior**

gfswaveinit may be failed due to lack of default value for err

**Current behavior**

In scripts/exgfs_wave_init.sh, when use "set -xue", the gfswaveinit task will be failed with error message: "line 234: err: unbound variable"

**Machines affected**

 Venus WCOSS_DELL_P3 and WCOSS_DELL_P35

**To Reproduce**

Line 31, change "set -x" to "set -xue" in  scripts/exgfs_wave_init

[2022-04-07 21:23] yangfanglin commented on #705
@AndrewEichmann-NOAA You can try 300s, 360s, 420s etc

[2022-04-08 11:36] RussTreadon-NOAA commented on #713
The following EIB suggested tests have been run on Cactus:

**1) recompile enkf_chgres_recenter_nc with debug options and run**
Source code for enkf_chgres_recenter_nc.x was recompiled on Cactus with GSI debug flags

`export FFLAGS="-O0 -qopenmp -traceback -fp-model source -implicitnone -g -debug -ftrapuv -check all,noarg_temp_created -fp-stack-check -fstack-protector -warn all,nointerfaces,noexte

[2022-04-08 11:51] RussTreadon-NOAA commented on #712
**Test:  replace ln with cp in jgfs_atmos_analysis**

Script `exglobal_atmos_analysis.sh` uses `$NLN` for links.    Variable `NLN` along with the following variables are set in `config.base`"
[code]
As a test, define  `export NLN="/bin/cp"`.

Script `exglobal_atmos_analysis.sh` executes `global_cycle.sh` after `global_gsi.x` finishes.   Script `global_cycle.sh` contains 2 hardwired links.   A work

[2022-04-08 13:33] SMoorthi-emc commented on #712
For the forecast model "link" is way better for the history and restart
files.
Copying from local to remote directory will be expensive.
Moorthi

On Fri, Apr 8, 2022 at 7:51 AM RussTreadon-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Resea

[2022-04-08 14:24] yangfanglin commented on #712
@SMoorthi-emc  See the background information provided by Steven Earle

----
I asked ? to submit this ticket ( [Bug 1301] New: gfs - write to files in working directory instead of links pointing to COMOUT) because we need to get back to all of production in a self contained DATA per process/model. We can't have direct writes to COMOUT.
We allowed this to happen on WCOSS because we didn't have the

[2022-04-08 14:36] aerorahul commented on #712
Before jumping to conclusions, I think we owe @StevenEarle-NCO exactly how much increase in resources/wall time will be incurred by this change and if so, what means do we have to mitigate it.

The logfile is generated by the atmospheric write grid component and can only be used as a trigger for atmospheric downstream jobs.  Other components have asynchronous output (i.e. they don't use the write

[2022-04-08 15:08] SMoorthi-emc commented on #712
Thanks Fanglin, but I can't imagine copying files at C1152 resolution.
I will try on WCOSS2 when I can run the latest UFS on WCOSS2 (we can't even
compile the model for lack of appropriate libraries - like latest ESMF,
MAPL etc).

On Fri, Apr 8, 2022 at 10:24 AM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Mod

[2022-04-08 16:00] HelinWei-NOAA commented on #622
Okay. Here is my plan. I will create two datasets. One is for FRAC_GRID = ".true." and the other one is for FRAC_GRID = ".false.".  The condition will be added to ush/forecast_predet.sh. The previos gldas failure without fractional grid is because the old GLDAS fixed fields were created based on the Gaussian fixed files but coldstarting ufs cycled run uses titled sfc fixed files. There are some mi

[2022-04-08 16:11] arunchawla-NOAA commented on #712
a corresponding issue for GSI has been opened as well
https://github.com/NOAA-EMC/GSI/issues/356

[2022-04-08 16:18] StevenEarle-NCO commented on #712
@SMoorthi-emc Can you explain to the uneducated (me) what you mean by "restart"... are these the files written out that are used in case of a failure -- to pick up from the place of failure. Or are you talking about files written that are needed by the next cycle run?

[2022-04-08 16:26] SMoorthi-emc commented on #712
Steven,
  "restarts" are the files that are needed to continue the run from where
the forecast has stopped (I bet this will be needed to run UFS in CFSV2
mode  i.e. for 9 months).
Runs from restart files bit-reproduce the continuous runs.  I think the
current operational model writes out restarts every 24 hours if I am not
mistaken, so that you can
run the model from the previous restart, without

[2022-04-08 16:30] StevenEarle-NCO commented on #712
OK so these are also temporary files; if the run is successful then the files are useless; I would write them once and not copy them anywhere. Where that one place is can be debated, but it shouldn't be COM, which is meant for longer term storage.

[2022-04-08 16:45] CoryMartin-NOAA commented on #712
Model restart files are not temporary and are fundamental to the cycling of the model. We can't run the next cycle of the model without the previous restart files.

[2022-04-08 16:46] CoryMartin-NOAA commented on #712
So to answer @StevenEarle-NCO 's question, they are both to pick up in case of a failure *and* to start the next cycle.

[2022-04-08 17:06] StevenEarle-NCO commented on #712
ah that's why I asked! ignore my reply then, except if there are restart files along the way that are temporary then they should go to a temporary spot; only whatever is need for the next cycle should move to more permanent COMOUT storage.

[2022-04-08 17:55] yangfanglin commented on #712
Restarts from GDAS and EFCS (ensemble) need to be copied to COMOUT for starting next cycle.  Restarts saved every 24 hours from GFS can be left in the temporary running directory (assuming this directory will not be deleted if a forecast failed or before reaching the end of forecast hours), or copied/linked to a temporary directory (e.g. nwges).

[2022-04-08 18:00] aerorahul commented on #712
@StevenEarle-NCO
@yangfanglin also raised a concern that there are other downstream users/jobs of the `atmf` and `sfcf` files in addition to the ones in the GFS e.g. `post`.  And that they start processing as soon as these are in the `COM` space.
I am not 100% sure who/what those jobs are and would be interested in finding out about those to ensure that they are not being delayed.  This is just an

[2022-04-08 18:03] StevenEarle-NCO commented on #712
I'm not sure all the users of this data either; we tend to track dependencies at the model level, rather than the file level. Sounds like we'll still need to copy this data to COMOUT as it's created, but unknown for the exact timeliness requirement.

[2022-04-08 20:42] lgannoaa opened #720 "Creating J jobs for archive"
**Description**

Create JJOBs for archive
**Requirements**

The current rocoto workflow run archive and verification jobs using scripts under $HOMEgfs/jobs/rocoto. Manager has requested to create JJOBs for archive and verification jobs. Modify the $HOMEgfs/jobs/rocoto scripts to call the new JJOBs.
**Acceptance Criteria (Definition of Done)**

For workflow to run archive and verification jobs usin

[2022-04-08 21:09] lgannoaa opened #721 "Merge wcoss2 cycled ecflow definition file into dev_v16"
**Description**

This merge contains:
1. The wcoss2 cycled ecflow definition files
2. Without the developer testing COM assignment change to dev_v16 $HOMEgfs/ecf/gfs $HOMEgfs/ecf/gdas and $HOMEgfs/ecf/enkfgdas
3. ecf/include files for developer
4. cycled workflow management jobs

**Requirements**

This is a partial merge for wcoss2 cycled ecflow with:
1. The wcoss2 cycled ecflow definition files
2

[2022-04-08 23:19] WalterKolczynski-NOAA commented on #712
I was going to wait until we could discuss this with Steven offline, but I guess I'll add it here. The more I think about replacing links with copies, the more I think it is ill-advised. Even putting aside the additional wallclock to do the copying, you likely have the following issues:
- It will delay output and all jobs downstream of the forecast, as it will take longer before files show up in C

[2022-04-09 00:09] lgannoaa opened #722 "Merge wcoss2 cycled ecflow developer script with COM path assignment"
**Description**

This is to merge those ecflow scripts with developer testing COM assignment change to dev_v16 $HOMEgfs/ecf/gfs $HOMEgfs/ecf/gdas and $HOMEgfs/ecf/enkfgdas

The developer enabled ecflow files - (modify the current dev_v16 with developer testing COM assignment)
It contains 25 *.ecf files that have "EMC developer only" area for COM path assignments to allow developer to run ecflow wo

[2022-04-09 00:22] StevenEarle-NCO commented on #712
@WalterKolczynski-NOAA How would you build phase 2 WCOSS2 storage solution with the current software design using external links? Do you just get a giant pool of mediocre disk? Do you go for very fast (and expensive) short term storage and hard disk for long term storage? How do you manage where the GEFS runs? Where is COM vs DATA (and does it matter for the GEFS design?)? What are the percentage

[2022-04-09 02:54] lgannoaa opened #725 "Test rocoto gdas arch, gfs arch, enkfgdas earc, gdas vrfy, and gfs vrfy jobs with new JJOBs and modify vrfy.sh arch.sh as needed"
**Description**

This is to test the new archive and verification jobs with rocoto workflow.
Job to be tested:
gdas arch, gfs arch, enkfgdas earc, gdas vrfy, and gfs vrfy jobs
Script to be changed:
vrfy.sh arch.sh

**Requirements**

To ensure new JJobs created for ecflow workflow related gdas arch, gfs arch, enkfgdas earc, gdas vrfy, and gfs vrfy jobs works for rocoto workkflow and modify vrfy.sh

[2022-04-11 13:24] lgannoaa opened #726 "ecflow and rocoto verification jobs design meeting"
**Description**

This is to document team communication and decision to change the verification jobs and its JJOBs in ecflow and rocoto workflows.
The metpg2gl, metppcpl, metpg2ol, and gplots (metplus and gplots) jobs are running as standalone jobs outside of the rocoto workflow. There are no JJobs.
Management requested to have a team meeting for verification. To discuss which part of the verifica

[2022-04-11 13:28] lgannoaa commented on #720
Removing metpg2gl, metppcpl, metpg2ol, and gplots (metplus and gplots) jobs. Because there is a new requirement to have a team discussion to discuss which part of the verification job do we want to run as part of the cycle and which should be run offline by the MEG team #726

[2022-04-11 14:35] lgannoaa commented on #721
Rahul requested on week of April 10th to create new JJob for ecflow workflow_monitor job. [jobs/JECF_MONITOR](https://github.com/NOAA-EMC/global-workflow/pull/718/files#diff-e46fd1ed752e1a7de8514c28324463de03f7027adfd165d759155743e52512d3) was created.

[2022-04-12 13:03] malloryprow commented on #398
Finally got a fix from NCO for the problem I was experiencing. Tag verif_global_v2.9.0 from EMC_verif-global has support for WCOSS2!!

[2022-04-12 13:16] KateFriedman-NOAA commented on #398
Excellent! I'll test this new tag on WCOSS2 and update the relevant branches with it (`dev_v16` to start). Will send you output to check when I have it. Thanks @malloryprow !

[2022-04-12 15:35] KateFriedman-NOAA commented on #714
PR #715 submitted. Closing now.

[2022-04-12 15:35] #714 closed, assigned to XianwuXue-NOAA

[2022-04-12 15:50] lgannoaa opened #728 "Fix wcoss2 module load in global workflow to allow nco/4.7.9 module to load"
**Description**

 The wcoss2 dev_v16 module_base.wcoss2.lua need to load nco/4.7.9 module. However, this module's dependency has been changed. Fix is required to avoid error:
Lmod has detected the following error: Cannot load module "nco/4.7.9". At
least one of these module(s) must be loaded:
   gsl

This issue will be referenced by issues #399 and #665.
**Requirements**

Update module loading on

[2022-04-12 15:51] KateFriedman-NOAA commented on #728
Created `dev_v16_nco_fix` branch for this fix.

[2022-04-12 16:53] lgannoaa commented on #728
PR 730 created.

[2022-04-12 16:59] KateFriedman-NOAA commented on #728
Complete. Closing now.

[2022-04-12 16:59] #728 closed, assigned to LinGan-NOAA

[2022-04-12 17:01] lgannoaa commented on #728
Close this issue because PR is merged.

[2022-04-12 20:23] lgannoaa opened #732 "Modify checkout.sh to checkout verif_global_v2.9.0 tag in wcoss2"
**Description**

EMC verification group released verif_global_v2.9.0 tag.
Will modify checkout.sh to checkout this tag for wcoss2.

**Acceptance Criteria (Definition of Done)**

Use checkout.sh within global_workflow to checkout verif_global_v2.9.0 tag on wcoss2

[2022-04-12 20:36] lgannoaa commented on #732
Submitted PR 733.
Close this issue.

[2022-04-13 12:02] KateFriedman-NOAA commented on #732
Update complete now that PR #733 has been merged. Closing manually since the PR didn't automatically close this even though it was linked to close.

[2022-04-13 12:02] #732 closed, assigned to LinGan-NOAA

[2022-04-13 16:37] JessicaMeixner-NOAA opened #736 "Update wave related settings and code for P8c"
**Description**
A new mesh based cap (work by @DeniseWorthen) will be used in p8c. We will be updating which grid the wave model is using.  Updates for the new grid and new code will be required.

**Requirements**
This will require an update to ufs-weather-model (PR is still under review), will require a new input grid, and various setting updates.  There will likely also be build updates that are

[2022-04-13 16:39] JessicaMeixner-NOAA commented on #736
@WalterKolczynski-NOAA @KateFriedman-NOAA @aerorahul One question with this upcoming work: Right now there is a different build for "ATMW" or "S2SW".  What are the requirements about maintaining the ATMW capabilities?  Many of those features are broken at this point, but if that flexibility for making that an option in the future is desired (my guess is yes), I want to know in advance so I can bui

[2022-04-13 17:26] RussTreadon-NOAA commented on #711
@WalterKolczynski-NOAA:  May developers resume using the head of g-w develop, currently [39facec](https://github.com/NOAA-EMC/global-workflow/commit/39facec1e03a404f84fd05b8739cd8e4010a0779), with `MODE="cycled"`?    If not, which develop hash or branch works in cycled mode?

[2022-04-13 18:52] JessicaMeixner-NOAA commented on #711
@RussTreadon-NOAA this tag: https://github.com/NOAA-EMC/global-workflow/releases/tag/pre_p8b should work with cycled.

[2022-04-13 19:10] RussTreadon-NOAA commented on #711
Thanks @JessicaMeixner-NOAA .   Let me try `pre_p8b`.    I need to make local modifications to bring the JEDI GDAS option into g-w.   I can't merge changes to a tag back into develop.  That's OK for the short term.   This is just prototype work.

[2022-04-14 14:27] lgannoaa commented on #720
A rocoto workflow on wcoss2 has been setup to test: the JJOBs for gdas very, gfs very, gdas arch, gfs arch, and enkfgdas earc jobs
expdir:  /lfs/h2/emc/global/noscrub/Lin.Gan/expdir/rjjobtest
com:     /lfs/h2/emc/ptmp/Lin.Gan/rjjobtest/
log:       /lfs/h2/emc/ptmp/Lin.Gan/rjjobtest/logs/

[2022-04-14 15:36] WalterKolczynski-NOAA commented on #711
I'm trying to fix this, but having the following issue with `getsigensmeanp_smooth.x`: `-57 NetCDF: Start+count exceeds dimension bound`.

Issue persists even after I confirm matching namelists with pre_p8b. @aerorahul thinks it may be related to NOAA-EMC/NCEPLIBS-ncio/pull/53, but that the GSI keeps its own copy. We may need the same changes there. If someone can confirm I'll open an issue with G

[2022-04-14 15:47] CoryMartin-NOAA commented on #711
@WalterKolczynski-NOAA I think GSI still builds with this https://github.com/NOAA-EMC/GSI/tree/master/src/fv3gfs_ncio and not the independent library

[2022-04-14 15:59] RussTreadon-NOAA commented on #711
GSI PR [#340](https://github.com/NOAA-EMC/GSI/pull/340) was closed in lieu of PR [#327](https://github.com/NOAA-EMC/GSI/pull/327).   GSI  PR [#327](https://github.com/NOAA-EMC/GSI/pull/327) looks to be the path to bring in the updated ncio library mentioned in NCEPLIBS-ncio PR [#53](https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/53),  The updated ncio library should fix the issue with `getsigensme

[2022-04-14 16:54] ChunxiZhang-NOAA opened #737 "Update geographical static data, ICs, and namelist settings in CCPP physics"
**Description**
Following the P8C development, the geographical static data, ICs, and namelist settings in CCPP physics will be updated. Those updates will include but not limited to:
1) Ocean mask data, Orographic data and other geographical static data;
2) ATM ICs which are consistent to the orographic data and other geographical static data; ATM ICs with aerosols from MERRA2;
3) Thompson microp

[2022-04-14 18:01] JessicaMeixner-NOAA commented on #737
@ChunxiZhang-NOAA I will take care of 3 with this issue: https://github.com/NOAA-EMC/global-workflow/issues/736

[2022-04-14 18:06] ChunxiZhang-NOAA commented on #737
@JessicaMeixner-NOAA Got it, thanks. I removed 3 from the description.

[2022-04-14 19:06] lgannoaa commented on #721
We had a meeting on 2022/04/14 to discuss verification jobs. Rahul decided not to do three metplus and the gplot job at this time. Therefore, these jobs will be removed from this ecflow commit.

[2022-04-14 19:07] lgannoaa commented on #725
A rocoto workflow on wcoss2 has been setup to test: the JJOBs for gdas very, gfs very, gdas arch, gfs arch, and enkfgdas earc jobs
expdir: /lfs/h2/emc/global/noscrub/Lin.Gan/expdir/rjjobtest
com: /lfs/h2/emc/ptmp/Lin.Gan/rjjobtest/
log: /lfs/h2/emc/ptmp/Lin.Gan/rjjobtest/logs/

[2022-04-14 19:08] lgannoaa commented on #726
We had a meeting on 2022/04/14 to discuss verification jobs. Rahul decided not to do three metplus and the gplot job at this time. Therefore, these jobs will be removed from ecflow commit.

[2022-04-14 19:08] #726 closed, assigned to LinGan-NOAA

[2022-04-14 19:37] lgannoaa commented on #721
Add documentation ecflow_dev.md
Remove three metplus and gplot jobs. With new requirement on April 14th, 2022
Modify JECF_MONITOR to remove metplus monitoring.
New commit is done.
PR is now updated.

[2022-04-14 19:51] lgannoaa commented on #721
New requirement to modify envir-p1.h to remove archive job related setting
and JECF_MONITOR cleanup

[2022-04-15 00:55] lgannoaa commented on #725
Test is completed.

[2022-04-15 12:54] JessicaMeixner-NOAA commented on #736
@DeniseWorthen I want to confirm with you that we'll be using ww3_shel.inp for p8c.

[2022-04-18 15:26] lgannoaa opened #739 "GrADS/2.2.1 module path assignment issue in WCOSS2"
In WCOSS2 module loading GrADS/2.2.1 will return wrong path assignment:
module use /apps/test/lmodules/core
module load GrADS/2.2.1
module show GrADS/2.2.1
prepend_path("PATH","/apps/spack/grads/2.2.1/gcc/10.2.0/3adazff5qbcttsqgf5wmtbiintbun3ry/bin") --- wrong path
It should be /apps/spack/grads/2.2.1/gcc/10.2.0/th6qy2zizkorat4m3qgewu5rkprs7wvd/bin/grads

This issue is to document the fix and work

[2022-04-18 15:41] lgannoaa commented on #739
Workaround has been tested. Close issue.

[2022-04-18 15:41] #739 closed, assigned to LinGan-NOAA

[2022-04-18 15:46] lgannoaa commented on #739
Submitted helpdesk ticket 2022041810000024 on this bug.

[2022-04-19 13:56] KateFriedman-NOAA commented on #698
From April 15th, 2022 RFC memo:

[code]

[2022-04-19 15:00] lgannoaa commented on #695
@RussTreadon-NOAA @KateFriedman-NOAA I will work on this issue and provide a PR with modification.

[2022-04-19 15:04] KateFriedman-NOAA commented on #670
@WalterKolczynski-NOAA My fork branch for this is: https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/lua

I tested the updates for the build but didn't get to testing at runtime yet. This branch will need to be synced with develop branch updates since early March. Thanks!

Note...this work converts the modulefiles to LUA format but doesn't also take the step of adding the `_ver` va

[2022-04-19 15:56] lgannoaa commented on #695
The following exception handling script will be added to the config.base.emc.dyn. A PR will be submitted.

[2022-04-19 16:15] KateFriedman-NOAA commented on #698
Synced `release/gfsv16.1.7` with `operations` branch update for v16.1.6 implementation @ 857c4246.

[2022-04-19 18:14] XianwuXue-NOAA opened #742 "Improve the g-w workflow and fix some bugs"
Test, improve g-w workflow, especially for feature/continuous_aerosols and also do some bug fixing.

**Description**

**Requirements**

**Acceptance Criteria (Definition of Done)**

**Dependencies**

[2022-04-19 18:35] KateFriedman-NOAA opened #743 "Add GSI "NCO"-mode build option for operational installs"
**Description**

The GSI has a "NCO" mode installation option that prunes unneeded files during an operational installation. It is currently commented out in `build_gsi.sh` and is easily missed during installation:

[code]

An operations/nco-mode option can be made to allow NCO SPAs to install the GSI with this prune option in a seamless fashion, instead of having to open `build_gsi.sh`, comment o

[2022-04-19 18:46] RussTreadon-NOAA commented on #743
NOAA-EMC/GSI PR [#327](https://github.com/NOAA-EMC/GSI/pull/327) will update the current GSI build.  Subsequent work on the updated build in NOAA-EMC/GSI, g-w change(s), or a combination of both may render issue #743 obsolete.

[2022-04-19 20:14] KateFriedman-NOAA opened #744 "GFSv16.3 upgrade"
**Description**

The GFS will update in operations on WCOSS2 to include a data assimilation (GSI) upgrade and companion UPP and WAFS upgrades.

Spreadsheet: https://docs.google.com/spreadsheets/d/1fVa-yqGmxqwCrruq73agRKbXnpAPVzNOlvnu-pp1sn0/edit#gid=0
Timeline: https://docs.google.com/presentation/d/1y-KvQhYUzLlqfnfGKj6K0OO0WNPbeqUT_JAgIk9K2IE/edit#slide=id.g1207e8ee0a0_0_192
QUAD: https://docs.go

[2022-04-20 01:18] #688 closed, assigned to nobody

[2022-04-20 01:22] #507 closed, assigned to nobody

[2022-04-20 07:11] WalterKolczynski-NOAA opened #745 "Consolidate UFS build"
**Description**
The UFS build currently requires a user to determine whether to build for atmosphere-only (ATMW) or coupled (S2SW). This is no longer necessary, as the coupled executable can be used for atmosphere-only runs. The two options build with different CCPP suite lists, so these lists need to be combined

**Requirements**
Removal of special switches for build_ufs and build_all.

**Accepta

[2022-04-20 07:29] WalterKolczynski-NOAA opened #746 "Consolidate link script modes"
**Description**
The ([link script](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/link_workflow.sh)) currently has different uncoupled and coupled modes. Both modes link most of the same files, but there are two remaining files where different versions are linked depending on the mode:

- exgfs_atmos_nceppost.sh points to either exgfs_atmos_nceppost.sh in post or exgfs_nceppost_cpl.

[2022-04-20 11:29] WalterKolczynski-NOAA commented on #695
Is this something that is needed for all CDUMPs, or only gdas?

[2022-04-20 11:37] RussTreadon-NOAA commented on #695
As currently configured the GLDAS only runs in the GDAS cycle.

[2022-04-20 11:41] WalterKolczynski-NOAA commented on #695
But which output files is it using? Trying to determine whether FHOUT needs to be 1 for gfs forecasts.

[2022-04-20 11:51] RussTreadon-NOAA commented on #695
A check of the WCOSS2 gdas_atmos_gldas job log files returns
[code]

[2022-04-20 13:17] JessicaMeixner-NOAA commented on #745
I thought an issue for this is that we cannot compile the coupled model with mixed-mode FMS yet and therefore this consolidation would greatly increase the runtime of those running just the ATM model.

[2022-04-20 13:56] MichaelLueken commented on #743
@KateFriedman-NOAA As @RussTreadon-NOAA noted, the GSI's CMake build system will be refactored with NOAA-EMC/GSI's PR [#327](https://github.com/NOAA-EMC/GSI/pull/327).  As part of this refactor, all includes, libraries, and executables will be installed within a new install directory.  Having said that, the new `ush/build_4nco_global.sh` build script will mimic the behavior of our current `ush/bui

[2022-04-20 14:32] WalterKolczynski-NOAA commented on #736
@JessicaMeixner-NOAA My position is to maintain (or fix) all current capabilities until told otherwise that they are no longer needed. So I've been dragging ATMW along with the assumption one of us will fix it at some point. I'm not even sure (or at least, don't remember) what is even broken with it.

[2022-04-20 17:00] JessicaMeixner-NOAA commented on #736
@WalterKolczynski-NOAA thank you.  I will keep the flexibility.

[2022-04-20 18:33] lgannoaa commented on #691
@KateFriedman-NOAA from what you reported, error code 137 was successfully caught, the exit 7 was issued.
The issue here is the "kill -n 9" instruction has error in syntax.

/scratch1/NCEPDEV/global/glopara/git/obsproc/obsproc_global.v3.4.2/jobs/JGLOBAL_PREP: line 325: 291722 Killed                  $SCRIPTSobsproc_global/exglobal_makeprepbufr.sh.ecf
+ 14s + eval err_gdas_makeprepbufr=137
++ 14s +

[2022-04-20 20:12] aerorahul opened #748 "Adding Basic DataAtmosphere Forecast Capability"
The scope of this epic is to develop and add the data atmosphere forecasting capability inside of global-workflow.
The capability would be enabled for a range of available ocean/ice resolutions leveraging the CDEPS component in the ufs-weather-model.

The atmospheric forcings used for this application will be generated from CFSR, GEFS and GFS atmospheric analysis.
If forcing files are available (p

[2022-04-20 20:17] aerorahul opened #749 "Understand the workings of the global-workflow"
Familiarize the workings of the global-workflow.

Specifically, the `forecast-only` aspects of the workflow for `ATM` and `S2S` configurations.  The S2S configuration will be of relevance to those working on coupled model activity since it contains the aspects of setting up the model for the marine components.

Particular attention should be given to the coupled prototypes, as the initial developm

[2022-04-20 20:22] aerorahul opened #750 "Share understanding and workings of the global-workflow to MarineDA team"
Once a basic knowledge of exercising the global-workflow is acquired, transfer/train members from the ocean DA team on the use of the global-workflow
@guillaumevernieres will identify marine DA team members

Basic training will be provided in terms of:
- cloning, building of the global-workflow
- setting up an experiment
- execution and monitoring of the workflow tasks for completion/errors

[2022-04-20 20:32] aerorahul opened #751 "Build DataAtmosphere configuration of the UFS-weather-model"
The global-workflow currently build the "coupled" model.  It is noted that the coupled model has the ability to run in atmosphere-only mode.

This issue is to extend that to enable building the model in data atmosphere configuration in support of ocean DA capabilities.

Explore if the data-atmosphere configuration in the ufs-weather-model needs to be built differently.
If so, enable switches to al

[2022-04-21 12:43] KateFriedman-NOAA commented on #691
@lgannoaa While an exit code was caught coming out of one of the OBSPROC scripts, the final exit code in our `prep.sh` was 0, which is incorrect. See the final lines of the gdasprep.log I show above.

[2022-04-21 13:01] lgannoaa commented on #691
@KateFriedman-NOAA , the error code was caught and error exit was executed. That is correct behavior. The error exit kill statement has wrong syntax. I recommend contact system support to find out why this error exit was not working.
++ 0s + kill -n 9
kill: usage: kill [-s sigspec | -n signum | -sigspec] pid | jobspec ... or kill -l [sigspec]

[2022-04-21 13:53] KateFriedman-NOAA commented on #698
Work for this operational upgrade to GFSv16.1.7 is now complete. Closing issue.

[2022-04-21 13:53] #698 closed, assigned to Qingfu-Liu, KateFriedman-NOAA

[2022-04-21 13:57] lgannoaa commented on #675
Would you please update your copy of the global-workflow 9d002390. Run a test to confirm this issue still exist? Looking at this version of the code, the place for linking CCN_ACTIVATE.BIN exists. If your new test has the same error, please let me know where is your HOMEgfs, ecpdir, COM, and log. I will be happy to take a look.
Pending for reply from @jkhender to proceed.

[2022-04-21 14:48] lgannoaa commented on #722
Meeting on April 21th, 2022 with NCO. Changed the requirement of this task:
1. NCO will modify compath.py utility to allow developer to overwrite.
2. EMC will modify ecflow script to remove EMC developer only area.
3. EMC will encode new compath.py in envir-p1.h with generalized high level path assignment.
4. EMC will modify the JJobs, and ex-scripts for these 25 jobs to use the new generalized hi

[2022-04-21 17:22] lgannoaa commented on #583
The current clean-up activities is located within archive job. The reason for this design is because archive job run at the end of a cycle. Which has job dependency on previous job successfully completed. This job proceed with necessary archive task before the clean up stage. The clean up stage process predefined application logic to evaluate what files/directories to be removed. The clean-up acti

[2022-04-21 17:46] lgannoaa commented on #478
Looks like EFSOI specific task run as part of GSI repository. The $HOMEgfs/parm/config location contain three major configuration files. The general config.base, resource assignment config.resource, and job specific config.${job_name}.
May I see an sample workflow that you are running for this new setup? I want to evaluate which configuration should be in workflow level ($HOMEgfs/parm/config) or s

[2022-04-21 18:12] lgannoaa commented on #435
@JessicaMeixner-NOAA @WalterKolczynski-NOAA, is the Ice dimensions support only one resolution? NX_GLB="1440" and NY_GLB="1080" in config.ice indicate there many be additional application logic needed for ensure it match the resolution configured in running workflow.

[2022-04-21 18:33] JessicaMeixner-NOAA commented on #435
NX_GLB and NY_GLB should be set based on ice resolution:

1 degree:
NX_GLB=360
NY_GLB=320

1/2 deg:
NX_GLB=720
NY_GLB=576

1/4 deg:
NX_GLB=1440
NY_GLB=1080

The comment about the number of ice processors is actually already taken care of here: https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/parsing_namelists_CICE.sh#L177-L180

Note that NX_GLB and NY_GLB are also used by MOM6, and we

[2022-04-21 19:03] lgannoaa commented on #435
@JessicaMeixner-NOAA two clarifications:
1. Looks like the domain_nml session control the runtime compute resource assignment. But it is not impact the job resource assigned which is configured in config.resource. Do we need to modify config.resource for this job to use system resource based on resolution?
2. parsing_namelists_MOM6.sh used default OCNRES is 025. However, config.base has no default

[2022-04-21 19:07] JessicaMeixner-NOAA commented on #435
@lgannoaa  It would make sense if different resources are used for different resolutions of the ocean/ice model.

I believe the ocean/ice resolution is determined here: https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/config/config.base.emc.dyn#L206-L214 based on the ATM model resolution right now.

[2022-04-21 19:11] JessicaMeixner-NOAA commented on #435
@lgannoaa follow up: we already have variable ocean/ice resources based on resolution: https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/config/config.resources#L238-L256

[2022-04-21 19:42] lgannoaa commented on #435
Looks like config.resources set both gfs and gdas with the same NTASKS_TOT to compute job resource/jobs card. Is this desired behavior?

[2022-04-21 19:50] KateFriedman-NOAA commented on #695
@WalterKolczynski-NOAA The GLDAS ingests gdas outputs only and not gfs. So we only need this for CDUMP=GDAS, so FHOUT.

[2022-04-21 19:56] KateFriedman-NOAA commented on #695
More specifically...these files (for 1, 5, 9, and 13 cycles ago):

/lfs/h1/ops/prod/com/gfs/v16.2/gdas.YYYYMMDD/CC/atmos/gdas.tCCz.sfluxgrbf00[1-6].grib2

[code]

[2022-04-21 20:01] KateFriedman-NOAA commented on #622
@HelinWei-NOAA Apologies for the delayed response to this! FYI, Dave is currently out on medical leave so he's not available to assist with testing right now.

This sounds good to me, just need to test it. @aerorahul Is there another developer that can assist with this? Thanks!

[2022-04-21 20:11] lgannoaa commented on #435
@JessicaMeixner-NOAA a search on job script, it does not look like file config.ice has been sourced. May I know how is this config file been used?

[2022-04-21 20:26] AndrewEichmann-NOAA commented on #478
@lgannoaa
The extra workflow tasks are as follows:
gdaseupdfsoi
gdasecenfsoi
gdasesfcfsoi
gdasefcsfsoi
gdaseposfsoi
gdasefsoi
Most are variations (sometimes minor variations) of their regular GSI counterparts, and all except gdaseupdfsoi and gdaseposfsoi use the same exgdas scripts.
I'm not sure what you mean by config files under GSI - as far as I know, all the config files for the GSI tasks are

[2022-04-21 20:27] JessicaMeixner-NOAA commented on #435
@lgannoaa I don't remember creating this file, so as your grep shows, perhaps it's not being used at all.  @WalterKolczynski-NOAA made this issue, maybe he remembers more about it?

[2022-04-21 20:27] AndrewEichmann-NOAA commented on #478
The current PR for this is in https://github.com/NOAA-EMC/global-workflow/pull/674

[2022-04-21 20:33] lgannoaa commented on #435
@JessicaMeixner-NOAA do you have an answer for this question?

[2022-04-21 20:40] WalterKolczynski-NOAA commented on #435
config.ice is sourced by config.fcst when DO_ICE is "YES"

[2022-04-21 20:41] lgannoaa commented on #478
Thank you for your information.

[2022-04-21 20:46] JessicaMeixner-NOAA commented on #435
@lgannoaa we are currently only running coupled in with gfs right now, I think this functionality is fine.  I think the issue that is being raised in this issue is simply that
config.ice should be something like:

[code]
I think this conversation is getting way out of the scope of the original intent of this issue.

[2022-04-21 21:13] WalterKolczynski-NOAA commented on #435
- In this instance, cplice is being changed directly afterwards in the same code block, not 70 lines later after a bunch of different code
- There *is* a note even closer than that that cpl changes based on app
- No one is trying to treat you differently. Reviews aren't always going to pick up on the same things because (a) we're human, (b) the focus of the changes and the pressure to merge isn't

[2022-04-21 21:17] lgannoaa commented on #435
The use of the following in config.fcst does not follow the standard of the way global workflow source configuration file.

for component in WAVE OCN ICE AERO; do
  control="DO_${component}"
  if [[ $(eval echo \$$control) == "YES" ]]; then
    . $EXPDIR/config.$(echo "$component" | awk '{ print tolower($1) }')
  fi
done

Especially, using awk '{ print tolower($1) }' to convert upper case to lower

[2022-04-22 13:39] lgannoaa commented on #406
@benjamin-cash are you using the most current global workflow develop blench? Where is your HOMEgfs package located? I will evaluate to see if I can help.

[2022-04-22 14:24] benjamin-cash commented on #406
I didn't realize this was still open, I think we can go ahead and close this. Sorry for the confusion!

[2022-04-22 14:24] #406 closed, assigned to nobody

[2022-04-22 15:11] RussTreadon-NOAA opened #752 "Orion: err_chk does not abort job when processing non-zero return code"
**Expected behavior**
`export err=$?; err_chk` should cause a job to abort with a non-zero return code.

**Current behavior**
When global-workflow jobs on Orion return a non-zero return code, `err_chk` is run, information is written to the job log file, but the job is not aborted.   Execution continues to the normal end of the job.

**Machines affected**
I do not know if the above behavior exists

[2022-04-22 15:21] aerorahul commented on #752
Is it even possible to use `err_chk` on R&D machines.
From my faint memory  `err_chk` which calls `err_exit` is hard-wired for production HPC and we had to do manual over-rides though use of `ERRSCRIPT`.
Here is `err_exit` https://github.com/NOAA-EMC/NCEPLIBS-prod_util/blob/develop/ush/err_exit
See last if-block for LSB_JOBID, which will never be executed on Orion (or Hera for that matter)

[2022-04-22 15:28] lgannoaa commented on #361
@KateFriedman-NOAA prep step used ether obsproc file from production or from EMC dump. It does not download from hpss. Looks to me that the *prepbufr* files maybe no longer needed to be in archive.
Recommend to remove the *prepbufr* files from archive script.

[2022-04-22 15:35] RussTreadon-NOAA commented on #752
Yes, I agree.   A check of the `hpc/1.1.0` `prod_util/1.2.2` finds references to `/gpfs/hps` in `err_chk` and `bkill` in `err_exit`.  These are not valid on Orion.

We may not intend or be able to support `err_exit` on multiple platforms.   If so, users should be aware of this and understand that errors may not be trapped as expected.   This can have unintended consequences beyond the process whic

[2022-04-22 15:45] aerorahul commented on #752
@RussTreadon-NOAA
Best short-term solution I can provide for you at this time for GDASApp is to not use `err_chk`.
Instead do something like
[code]
where
[code]
and export and stick that `ERRSCRIPT` in one of your config's (likely `config.base`)

Long term, we have to work with NCO on writing a portable, usable `err_chk` and `err_exit` that is not hard-wired for 1 platform and 1 workflow engine.

[2022-04-22 15:51] RussTreadon-NOAA commented on #752
Thanks for the suggestion.   We avoided this solution given g-w issue #294.    That said, the suggested patch is an option.

Please feel free to close this issue while we engage NCO and work toward more generic versions of `err_chk` and `err_exit`.

[2022-04-22 15:53] aerorahul commented on #752
I will keep the issue open as a reminder for the future.
It will likely be moved to the icebox until such time it is ready to be acted on.

[2022-04-22 17:08] lgannoaa commented on #361
Here is the outcome of my research regarding the use of this file in EMC gfs cycled parallel:
A check on current wcoss2 production. The *prepbufr_pre-qc file in question is not found in GFS COM. It is now located in /lfs/h1/ops/prod/com/obsproc/v1.0 location.
A check on /lfs/h1/ops/prod/output/20220421 found "prepbufr_pre-qc" not exist in gdas or gfs log files.
/lfs/h1/ops/prod/output/20220421> gr

[2022-04-22 17:13] lgannoaa commented on #361
In $HOMEgfs/ush/hpssarch_gen.sh file prepbufr_pre-qc will be removed from gdas_restarta and gfsa archive list.

[2022-04-22 17:14] jkhender commented on #675
@lgannoaa  The updated workflow has corrected the issue.  There is still a duplicate section of the code (lines 507-512) that can be removed.

  if [ "$CCPP_SUITE" = 'FV3_GSD_v0' -o "$CCPP_SUITE" = 'FV3_GSD_noah' ]; then
    $NLN $FIX_AM/CCN_ACTIVATE.BIN  CCN_ACTIVATE.BIN
    $NLN $FIX_AM/freezeH2O.dat  freezeH2O.dat
    $NLN $FIX_AM/qr_acr_qg.dat  qr_acr_qg.dat
    $NLN $FIX_AM/qr_acr_qs.dat  qr_

[2022-04-22 17:53] ilianagenkova commented on #361
@CatherineThomas-NOAA,
When DO_MAKEPREPBUFR=YES, a prepbufr file is generated. The *prepbufr_pre-qc  files are produced first and saved off as a separate file - they are the baseline upon which all the qc programs operate on. Then the final *prepbufr file is generated. I hope looking at  /lfs/h1/ops/prod/com/obsproc/v1.0 confirms that by comparing the files timestamps. (I am on leave and unable to

[2022-04-22 18:23] lgannoaa commented on #361
Thank you @ilianagenkova and @CatherineThomas-NOAA to join a short Google meeting. We have reached a conclusion that prepbufr_pre-qc file can be removed from EMC GFS cycled run archive jobs.

[2022-04-22 18:54] lgannoaa opened #754 "Clean up unsupported global workflow configuration when ROTDIR_DUMP=NO in script and config file."
**Description**

Job prep.sh has code block on ROTDIR_DUMP = "NO" condition. However, config.base.emc.dyn in global workflow develop branch contain:

export ROTDIR_DUMP="YES"                #Note: A value of "NO" does not currently work

This indicated ROTDIR_DUMP="NO" should not be used in jobs. Therefore a cleanup is needed.
**Requirements**

If ROTDIR_DUMP=NO does not support, update prep.sh to

[2022-04-22 18:56] lgannoaa commented on #754
@KateFriedman-NOAA do you know if ROTDIR_DUMP = "NO" configuration is working for global workflow?

[2022-04-25 10:23] #695 closed, assigned to LinGan-NOAA

[2022-04-26 17:00] lgannoaa opened #757 "enkfgdas_select_obs (eobs) issue with chgrp file obs_input.tar that referenced to an empty obsinput.ensmean file"
This bug is also exist in WCOSS2 production GFS job and WCOSS production GFS.
Log file /lfs/h1/ops/prod/output/20220426/enkfgdas_select_obs_00.o2361533 has:
269 + chgrp rstprod obs_input.0001 obs_input.0002 obs_input.0003 obs_input.0005 obs_input.0006 obs_input.0009 obs_input.0010 obs_input.0011 obs_input.0017 obs_input.0018 obs_input.0029 obs_input.0030 obs_input.0041 obs_input.0057 obs_input.006

[2022-04-26 18:38] lgannoaa opened #758 "Missing previous cycle snoprv (snogrb) COM path assignment in job enkfgdas_sfc"
This bug is in the WCOSS2 NCO production GFS gfs.v16.2.0

**Expected behavior**

FNSNOA=/lfs/h1/ops/prod/com/gfs/v16.2/gdas.20220426/00/atmos/gdas.t00z.snogrb_t1534.3072.1536
   snoprv=/lfs/h1/ops/prod/com/gfs/v16.2/gdas.20220425/18/atmos/gdas.t18z.snogrb_t1534.3072.1536
**Current behavior**

snoprv=/gdas.t18z.snogrb_t1534.3072.1536
**Machines affected**
WCOSS2 NCO production GFS gfs.v16.2.0

**De

[2022-04-26 19:56] RussTreadon-NOAA commented on #757
@lgannoaa , thank you for finding the same bug which you reported last summer.  NOAA-EMC/GSI issue [#180](https://github.com/NOAA-EMC/GSI/issues/180) was created at that time to document this bug and its resolution.  @MichaelLueken-NOAA merged the fix into develop at [17cddf0](https://github.com/NOAA-EMC/GSI/commit/17cddf0ef79b19e01d55800cd1d3864cc4e0e99e).

I added the fix to a working copy of `e

[2022-04-26 20:53] lgannoaa opened #759 "Running ksh typeset instruction cause error in gfs gempak_meta job"
This issue exist in NCO production GFS on both WCOSS1 and WCOSS2
**Expected behavior**

typeset -Z2 fhr should be run without issue
**Current behavior**

WCOSS2:
/lfs/h1/ops/prod/output/20220426/gfs_atmos_gempak_meta_00.o2355544 shown:
/lfs/h1/ops/prod/packages/gfs.v16.2.0/scripts/exgfs_atmos_gempak_meta.sh[86]: [: argument expected
WCOSS1:
/gpfs/dell1/nco/ops/com/output/prod/20220426/gfs_atmos_ge

[2022-04-26 21:32] RussTreadon-NOAA commented on #757
@MichaelLueken-NOAA , the modifed `enkfgdas_select_obs.sh` is on Cactus in `/lfs/h2/emc/da/noscrub/Russ.Treadon/git/global-workflow/feature-ops-wcoss2/sorc/gsi.fd/scripts`.   I also updated the `rm` before the link.   The `rm` isn't really necessary since the operational job runs in a fresh directory.    Here is a `git diff` of the file

[code]

[2022-04-26 22:12] WalterKolczynski-NOAA commented on #711
Waiting on:
[hpc-stack/437](https://github.com/NOAA-EMC/hpc-stack/issues/437)
[GSI/327](https://github.com/NOAA-EMC/GSI/pull/327)

[2022-04-26 22:19] WalterKolczynski-NOAA opened #760 "Archive lists should not be written to COM"
**Description**
The archive job is currently writing the lists of files to archive to COM. These are temporary files that should not be written to COM at all; they should use $DATA and be deleted after the archive action completes.

**Requirements**
An archive job that uses $DATA instead of COM, and deletes $DATA after successful completion.

**Dependencies**
None

[2022-04-26 22:36] XianwuXue-NOAA commented on #760
When generate the list, a function to check the file exists or not should be added to the archive script. Because when I ATM with aerosol, the archive always failed and I found some the *.anl files do not exist, which caused the htar failed. Do you have plan to improve it? If not, we may create another issue to solve this.

[2022-04-26 23:10] WalterKolczynski-NOAA opened #761 "Organize COM and refactor path definitions"
**Description**
The COM directory, particularly atmos, is currently very flat, with most files at the same level. This is already a bit unwieldy, a situation that would become much worse if ensembles were implemented without additional organization.

Original proposed organization: (**Please see PR #1421 for up-to-date reorg trees**)
[code]

**Requirements**
A sensible organization of output files

[2022-04-26 23:56] WalterKolczynski-NOAA commented on #761
After discussion with the global-workflow team, we've decided on a tentative structure overall and for atmos. Modifications to other component directories may be added as we go. I will keep the first post updated with the current proposed structure.

@aerorahul @KateFriedman-NOAA I've added a bunch more trying to accommodate all the additional files created in production. There may be a few stragg

[2022-04-26 23:59] WalterKolczynski-NOAA commented on #760
That's unrelated to this issue.

[2022-04-27 00:40] #670 closed, assigned to WalterKolczynski-NOAA

[2022-04-27 01:41] RussTreadon-NOAA commented on #758
A check of `exgdas_enkf_sfc.sh` and `JGDAS_ENKF_SFC` found that while `exgdas_enkf.sfc.sh` uses `COMIN_GES`, this variable is not defined.   Given this, define `COMIN_GES` in `JGDAS_ENKF_SFC` as

`export COMIN_GES="$ROTDIR/$CDUMP.$gPDY/$gcyc/$COMPONENT"`

Rerun 2022042612 enkfgdas_sfc job on Cactus with updated `JGDAS_ENKF_SFC`.  The rerun sets

[code]
The modified `JGDAS_ENKF_SFC` yields ` FSNOL=

[2022-04-27 11:06] MichaelLueken commented on #757
Thank you @lgannoaa and @RussTreadon-NOAA for bringing this to my attention.  I have made the change to `exgdas_enkf_select_obs.sh`, pushed the updates to `release/gfsda.v16.2.0` (at [694655e](https://github.com/NOAA-EMC/GSI/commit/694655e8cb0ea05c8b5435ce37aa2b2ee0396a97)) and `feature/gfsda.v16.1.5_wcoss2_port` (at [bb5d098](https://github.com/NOAA-EMC/GSI/commit/bb5d098757f2e1620855ae15dcaedcb6

[2022-04-27 12:48] KateFriedman-NOAA commented on #757
@MichaelLueken-NOAA Thanks for making this change and recutting those tags! The fix will get into WCOSS2 ops with the next updated install (Wei just did one yesterday). Thanks @lgannoaa for reporting this and thanks @RussTreadon-NOAA for making the update to the `exgdas_enkf_select_obs.sh` script.

[2022-04-27 13:56] arunchawla-NOAA commented on #758
Hi

What is the impact of this bug ? @MichaelLueken-NOAA and @KateFriedman-NOAA do we need a fresh tag for this ? @lgannoaa thank you for finding this ! and @RussTreadon-NOAA for testing this out

[2022-04-27 13:57] arunchawla-NOAA commented on #757
@lgannoaa thank you for your diligence in finding this !

[2022-04-27 15:13] KateFriedman-NOAA commented on #758
@arunchawla-NOAA We wouldn't need a new global-workflow tag for this update since Mike usually recuts the existing GSI tag name but we would need a fresh install in WCOSS2 ops to get this update in. We have several workflow-side updates brewing anyway so this can come into ops with the new global-workflow tag I will need to cut for those (possibly in the next few days).

Thanks for finding @lganno

[2022-04-27 15:50] lgannoaa commented on #758
I got a copy of the modified JGDAS_ENKF_SFC from /lfs/h2/emc/da/noscrub/Russ.Treadon/git/global-workflow/feature-ops-wcoss2/sorc/gsi.fd/jobs. Testing start on today 2022042700 for 4 cycles using my realtime development ecflow workflow. Here is the information for this workflow:
HOMEgfs: /lfs/h2/emc/global/noscrub/Lin.Gan/git/feature-ops-wcoss2
expdir: /lfs/h2/emc/global/noscrub/Lin.Gan/git/feature

[2022-04-27 16:10] KateFriedman-NOAA commented on #758
Thanks for testing @lgannoaa !

[2022-04-27 16:13] MichaelLueken commented on #758
@arunchawla-NOAA @KateFriedman-NOAA @RussTreadon-NOAA I have applied Russ' addition of COMIN_GES to jobs/JGDAS_ENKF_SFC to my local copy of release/gfsda.v16.2.0.  I'll keep an eye on the log files from the testing done by @lgannoaa.  I will push this update following the completion of the four cycles and will recreate the tags.

[2022-04-27 19:41] KateFriedman-NOAA commented on #671
~~Created branch for this work: https://github.com/NOAA-EMC/global-workflow/tree/feature/version-files~~

[2022-04-28 01:22] lgannoaa commented on #758
The 4 cycle test on this issue is now completed. A check on the job log files indicated the error is resolved.

Lin.Gan@cdecflow02:/lfs/h2/emc/ptmp/Lin.Gan/ecfops/com/output/prod/today> ll enkfgdas_sfc_*.o*
-rw-r--r-- 1 Lin.Gan emc 3.1M Apr 27 15:12 enkfgdas_sfc_00.o2452297
-rw-r--r-- 1 Lin.Gan emc 6.0M Apr 27 17:47 enkfgdas_sfc_06.o2458743
-rw-r--r-- 1 Lin.Gan emc 3.1M Apr 27 19:24 enkfgdas_sfc_1

[2022-04-28 01:30] lgannoaa commented on #757
This solution /lfs/h2/emc/da/noscrub/Russ.Treadon/git/global-workflow/feature-ops-wcoss2/sorc/gsi.fd/scripts/exgdas_enkf_select_obs.sh was tested in today's ecflow development realtime parallel.
A check on testing result shown the bug is no longer exist:
Lin.Gan@cdecflow02:/lfs/h2/emc/ptmp/Lin.Gan/ecfops/com/output/prod/today> ll enkfgdas_select_obs_*.o*
-rw-r--r-- 1 Lin.Gan emc 906K Apr 27 14:31

[2022-04-28 01:33] RussTreadon-NOAA commented on #758
Good to hear that your test was successful.  I ran four cycles, 2022042612 through 2022042706, earlier today.  The WCOSS2 values for `FSNOL` and `FSNOS` matched WCOSS operations for each cycle.

[2022-04-28 01:37] RussTreadon-NOAA commented on #757
Good that the real-time test confirmed the single test result.   The error message is no longer present.  The fix documented in GSI issue [#180](https://github.com/NOAA-EMC/GSI/issues/180) should have been incorporated into the WCOSS2 GFS DA port earlier in the transition.

[2022-04-28 09:28] MichaelLueken commented on #758
Thanks for the confirmation of successful tests, @lgannoaa and @RussTreadon-NOAA!  I have pushed the changes to release/gfsda.v16.2.0 (at [c44800a](https://github.com/NOAA-EMC/GSI/commit/c44800ac7841a5a12bc9ab59e9c93664e531ebae)) and feature/gfsda.v16.1.5_wcoss2_port (at [468ecd0](https://github.com/NOAA-EMC/GSI/commit/468ecd02b5b05893591af83d859dfea4697ac86c)) and recreated the gfsda.v16.2.0 and

[2022-04-28 12:14] KateFriedman-NOAA commented on #758
Thanks all! This update will make it's way into WCOSS2 ops with the next fresh install of the GFS that SPA Wei will do. Likely soon, we have some other updates in the workflow that will need to get in as well.

[2022-04-28 12:43] KateFriedman-NOAA commented on #754
I have not tested this in a while so I don't know.

[2022-04-28 14:39] lgannoaa commented on #752
Issue #691 have similar issues.

[2022-04-28 18:18] lgannoaa opened #764 "User lib file not in perl search path in WCOSS2 due to the use of Tectia SSH"
Please search on the [Issue tracker](https://github.com/NOAA-EMC/global-workflow/issues) before creating one.

**Description**

This is to document issue in running perl program on WCOSS2 system using Tectia SSH terminal.
That a research found an issue with Tectia SSH terminal session on WCOSS2 that does not work with perl library search path PERL5LIB. This issue can cause perl program to fail eve

[2022-04-28 18:19] lgannoaa commented on #764
Close the documentation

[2022-04-28 18:19] #764 closed, assigned to LinGan-NOAA

[2022-04-28 18:35] #361 closed, assigned to LinGan-NOAA

[2022-04-28 19:10] lgannoaa commented on #722
Script update is done. PR updated.

[2022-04-28 19:17] #672 closed, assigned to KateFriedman-NOAA

[2022-04-29 14:48] AndrewEichmann-NOAA commented on #705
Update: After getting range check errors on a cycling experiment on Orion, I set the C192 DELTIM to 420 from 450, ran successfully for a couple cycles, and then got the following error in all ensemble members, regular and EFOSI, in multiple attempts:

The error was not encountered in the deterministic forecast. Setting DELTIM back to 450 seems to have relieved the problem, at least for the cycle i

[2022-05-02 13:25] lgannoaa commented on #676
@jkhender I will do an update on Hera for you to test. After the successful testing, I will do the PR. Is that ok with you?

[2022-05-02 14:08] lgannoaa opened #767 "GW checkout script failed to submodule update when checkout upp"
**Expected behavior**

Checkout script show complete successful
**Current behavior**

+ git checkout upp_v10.0.11
...
HEAD is now at 0dc3c0c NOAA GSL UPP updates (#413)
+ git submodule update --init CMakeModules
error: pathspec 'CMakeModules' did not match any file(s) known to git.

**Machines affected**

WCOSS2 Hera
**To Reproduce**

Checkout develop and run checkout.sh

[2022-05-02 14:29] WenMeng-NOAA commented on #767
@lgannoaa Can you point me the branch of the GW?

[2022-05-02 14:29] aerorahul commented on #767
@lgannoaa
https://github.com/NOAA-EMC/UPP/tree/upp_v10.0.11 removed all submodules.
Perhaps the issue is at the global-workflow end where this needs to be resolved.

[2022-05-02 14:31] aerorahul commented on #767
@lgannoaa
[This](https://github.com/NOAA-EMC/global-workflow/blob/a9fc0033b908aefb42d5b2d191c65af5cb7660c4/sorc/checkout.sh#L81) line needs to be removed from `checkout.sh` with the update to UPP to the above tag.

[2022-05-02 14:34] lgannoaa commented on #767
@aerorahul ok.
@WenMeng-NOAA I used the latest global workflow develop branch.

[2022-05-02 14:37] WenMeng-NOAA commented on #767
@lgannoaa I see. You might use the latest UPP revision from UPP develop. I sent you the changes vial email.

[2022-05-02 14:52] KateFriedman-NOAA commented on #713
@GeorgeVandenberghe-NOAA Feel free to use this issue to document investigations for this issue. Thanks!

[2022-05-02 15:47] jkhender commented on #676
@lgannoaa  Yes, that sounds fine with me.

[2022-05-02 15:59] lgannoaa commented on #676
@jkhender,
Please use the following as HOMEgfs and proceed with your test.
HOMEgfs:/scratch1/NCEPDEV/global/Lin.Gan/git/issue-676
git status
 deleted:    parm/parm_fv3diag/field_table_gsd
 new file:   parm/parm_fv3diag/field_table_thompson_aero_tke

[2022-05-02 19:04] jkhender commented on #676
In ufs-community/ufs-model PR 937 (13Dec21), the GSD diag tables were also renamed.

diag_table_gsd was renamed to diag_table_rap_noah
diag_table_gsd_ruc was renamed to diag_table_rap_ruc

They have also been updated, so if you could copy the new files from your checkout of ufs_model.fd to parm/parm_fv3diag?

1) in parm/parm_fv3diag, delete these files:
     diag_table_da_gsd
     diag_table_gsd

[2022-05-02 20:27] JessicaMeixner-NOAA commented on #761
@WalterKolczynski-NOAA how about putting the ocean and ice grib files together under ocean (similarly to the way that land is still under atm) but we could still have the ice restart and model output in it's own directory.  Let me know if you'd like help with organizing ocean/ice.  I think it's mostly model output or run data, restarts, and then the grib.

[2022-05-02 20:38] CoryMartin-NOAA commented on #761
Two comments/suggestions here:

1) What about DA? (tagging @CatherineThomas-NOAA ) Propose 'analysis' inline with INPUT/ RESTART/ for atmanl.nc, atminc.nc, and abias, etc. files
2) `nc` should be changed to `history`. RESTART also contains netCDF files produced by the model.

[2022-05-02 22:25] jkhender commented on #676
I mistyped.  It should be this instead.

diag_table_gsd_ruc was renamed to diag_table_rap

3. copy **diag_table_rap** from /scratch1/NCEPDEV/global/Lin.Gan/git/issue-676/sorc/ufs_model.fd/tests/parm/diag_table

[2022-05-03 13:44] #675 closed, assigned to LinGan-NOAA

[2022-05-03 13:45] #767 closed, assigned to LinGan-NOAA

[2022-05-03 19:19] lgannoaa commented on #630
The testing of 5 full cycles of parallel run may not be necessary. Global Workflow using verif_global as is without script, ush, sorc, or exec level changes. Testing verification job with one cycle of model output is sufficient. Model do not need to run for five cycles because verif_global output does not impact model stability.
Recommend to modify acceptance criteria to use canned data to do a te

[2022-05-03 19:26] KateFriedman-NOAA commented on #630
If @malloryprow thinks a single cycle test would be sufficient then I concur. Thanks!

[2022-05-03 19:31] malloryprow commented on #630
It would probably be good to run more than one cycle. 5 cycles is probably good so that there is sufficient data for the verification to be tested run. I think a single cycle wouldn't give us enough.

BTW, EMC_verif-global tags are up to verif_global_v2.9.1. verif_global_v2.9.0 included support for WCOSS. verif_global_v2.9.1 included bug fix for the grid-to-grid verification.

[2022-05-03 19:36] KateFriedman-NOAA commented on #630
@malloryprow Thanks for the version update, I have updated the issue title accordingly. Thanks also for confirming the appropriate number of cycles for testing this updated version.

@lgannoaa If you accept this task, please run 5 cycles...either forecast-only using `develop` or cycled using the `pre_p8b` tag (cut off `develop` branch prior to cycle-breaking commit). We'll need to also update the

[2022-05-03 19:45] lgannoaa commented on #630
Running five full cycle of the entire global workflow on each platform is not within the scope of this issue. Mallory said five cycle is for verif_global package to run five times to generate enough output to see the results. It should be sufficient enough to copy 5 cycle of required input files to run just the verification job (set all other jobs to complete without running).

[2022-05-03 20:00] lgannoaa commented on #520
@WenMeng-NOAA , there is a PR #444 that addressed this issue. Looks like you merged that in. The Global Workflow develop currently checkout upp_v10.0.11. This version does not contain this fix. Would you please provide us another UPP version that included this fix for us to checkout?
Thanks
Lin

[2022-05-03 20:03] lgannoaa commented on #583
@WalterKolczynski-NOAA , would you please take a look at my comment above and reply? Thanks

[2022-05-03 21:33] WenMeng-NOAA commented on #520
@lgannoaa I assume you are meaning the UPP PR #[444](https://github.com/NOAA-EMC/UPP/pull/444). You may checkout the latest UPP develop branch revision 5f60e60.

[2022-05-04 04:15] WalterKolczynski-NOAA commented on #583
Archival and clean-up are two completely separate functions, so they should be two separate jobs (and scripts, obviously). There's no reason a user should have to run an 'archive' job if they do not wish to do any archival (or vice versa). We're trying to move to shorter, more maintainable jobs (or, where that isn't possible, at least scripts).

[2022-05-04 09:54] WalterKolczynski-NOAA opened #769 "Move post scripts from UPP under global-workflow"
**Description**
Several scripts currently located under NOAA-EMC/UPP are only used for global and should be moved within global-workflow so they can be managed by the global-workflow team.

**Requirements**
All scripts that are global-specific added to this repository. Afterwards, they can presumably be removed from UPP.

**Acceptance Criteria (Definition of Done)**
No scripts copied from UPP.

**

[2022-05-04 09:59] WalterKolczynski-NOAA opened #770 "Discontinue independent clone of UPP"
**Description**
UPP is now being cloned as part of the UFS clone. That copy should be able to be used rather than cloning a separate copy directly for global-workflow. This is particularly true one all post scripts have been moved under global-workflow.

**Requirements**
No longer clone UPP. Update UPP build scripts to use the copy within UFS.

**Acceptance Criteria (Definition of Done)**
No longe

[2022-05-04 10:04] WalterKolczynski-NOAA commented on #761
I was probably going to put them in the nc directory, but this is probably a better option.

Good suggestion

[2022-05-04 11:59] malloryprow commented on #630
If input files are copied from somewhere else then that is fine

[2022-05-04 12:05] WalterKolczynski-NOAA commented on #630
I didn't see this issue to tag it previously, but this issue should be covered as part of the work to add continuous aerosols (PR #693), which will also require updating the verification version anyway (past 2.9.1). We were holding off on having Mallory cut a new verification tag until the dependent updates from hpc-stack are complete (see the PR), but we have a working version on Hera using a hac

[2022-05-04 12:09] WalterKolczynski-NOAA commented on #769
This issue will also fix #520, as I am copying in from the current version of UPP where it has been fixed.

[2022-05-04 12:11] WalterKolczynski-NOAA commented on #520
I'm using the current UPP develop in moving all the scripts to global-workflow (Issue #769), so this issue will be fixed by that as well.

[2022-05-04 12:27] WalterKolczynski-NOAA commented on #769
Tagging @WenMeng-NOAA to keep informed

[2022-05-04 12:27] WalterKolczynski-NOAA commented on #770
Tagging @WenMeng-NOAA to keep informed

[2022-05-04 13:02] WenMeng-NOAA commented on #520
@WalterKolczynski-NOAA Before you take further actions of moving out all gfs post processing scripts from UPP repository to global-workflow, some coordination efforts are needed between managements of VPB and EIB, like GFS product user support, GFS post processing operation support handoff. @HuiyaChuang-NOAA may chime in.

[2022-05-04 13:02] KateFriedman-NOAA commented on #630
Thanks for the update @WalterKolczynski-NOAA ! Will leave this issue for now and have it closed via #693. Please update the verif_global.v#.#.# in the issue title when you know the new version that goes with the aerosols update. Thanks!

[2022-05-04 13:13] lgannoaa commented on #583
We need to have design and requirement document before development. Please let me know when it is available, so I can take this issue.

[2022-05-04 15:46] KateFriedman-NOAA opened #772 "[BUG] Mismatch between hpc-ips and g2tmpl version on WCOSS-Dell"
@RuiyuSun reported failing UPP on WCOSS-Dell via the `develop` branch. @WenMeng-NOAA traced the error down to the `POSTGRB2TBL` variable being unset. Since we're not setting `POSTGRB2TBL` explicitly from the configs it uses the UPP script (`scripts/exgfs_atmos_nceppost.sh`) default which uses `g2tmpl_ROOT` from the `g2tmpl` module:
[code]
At runtime a module mismatch occurs which results in the `g

[2022-05-04 15:48] KateFriedman-NOAA commented on #772
Created [bug/issue772](https://github.com/NOAA-EMC/global-workflow/tree/bug/issue772) for this fix.

[2022-05-04 16:31] #772 closed, assigned to KateFriedman-NOAA

[2022-05-04 17:00] HuiyaChuang-NOAA commented on #520
@WalterKolczynski-NOAA @arunchawla-NOAA

Hi, Walter, I just spoke to Arun.  We're supportive of EIB taking over GFS post processing scripts but given Wen is pretty busy and also her first check indicated your new scripts have inadvertently removed existing operational GFS products, I would
like to propose the followings going forward:

1. we will not remove any post processing scripts from UPP rep

[2022-05-04 17:13] WalterKolczynski-NOAA commented on #520
@HuiyaChuang-NOAA @WenMeng-NOAA we should probably move this conversation over to Issue #769. The matter was only incidentally mentioned here.

[2022-05-04 17:41] HuiyaChuang-NOAA commented on #769
@WalterKolczynski-NOAA @arunchawla-NOAA

Hi, Walter, I just spoke to Arun. We're supportive of EIB taking over GFS post processing scripts but given Wen is pretty busy and also her first check indicated your new scripts have inadvertently removed existing operational GFS products, I would
like to propose the followings going forward:

we will not remove any post processing scripts from UPP reposit

[2022-05-05 14:21] binli2337 opened #774 "Update global-workflow scripts for running the NG-GODAS application"
**Description**

The following four tasks are involved for running NG-GODAS application:
1. get initial condition
2. run the forecast
3. do ocean and ice post processing
4. save files to HPSS

**Requirements**

Some files in parm/config/, ush/, scripts/ need to be updated. Also the following python scripts need to be updated:
ush/rocoto/setup_expt.py
ush/rocoto/setup_workflow_fcstonly.py

Some opt

[2022-05-05 16:33] WalterKolczynski-NOAA commented on #769
To keep a record of it:

We had a meeting today to discuss the matter and how it is going to work, with a follow-up meeting on Tues May 10.

[2022-05-05 17:12] lgannoaa commented on #298
@RussTreadon-NOAA @MichaelLueken-NOAA , I applied a fix for this issue. The gsi build is completed. Executable are in Global Workflow develop branch (2adf12381) Hera:/scratch1/NCEPDEV/global/Lin.Gan/git/issue-298/sorc/gsi.fd/exec and build log is in: Hera:/scratch1/NCEPDEV/global/Lin.Gan/git/issue-298/sorc/gsi_build.log.
Would you please take a look to be sure the build does not have hidden failur

[2022-05-06 10:59] MichaelLueken commented on #298
@lgannoaa I have looked at the contents of /scratch1/NCEPDEV/global/Lin.Gan/git/issue-298/sorc/gsi_build.log and did not see any error messages.  Additionally, all of the expected executables are present in /scratch1/NCEPDEV/global/Lin.Gan/git/issue-298/sorc/gsi.fd/exec.  The fix works!

[2022-05-09 19:04] jkhender commented on #676
@lgannoaa  I made the following tests on hera.

HOMEgfs:  /scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/test/issue676

(1)
EXPDIR:   /scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/test/issue676/FV3GFSwfm/old_gsd
ROTDIR:  /scratch1/BMC/gsd-fv3-dev/Judy.K.Henderson/test/issue676/FV3GFSrun/old_gsd

04/19/22 crashed using parm/parm_fv3diag/field_table_gsd

(2)
EXPDIR:   /scratch1/BMC/gsd-fv3-dev/Judy.K.Hende

[2022-05-10 13:48] lgannoaa opened #776 "v16.3 DA pre-implementation parallel"
**Description**

This issue is to document the v16.3 da pre-implementation parallel.

Initial tasking email sent by @arunchawla-NOAA indicated:
Emily and Andrew summarized on May 9th, 2022:
1. All v16.3 implementation code, script and fix file update have been merged into GSI master except the [IR bug fix](https://github.com/NOAA-EMC/GSI/pull/365) from Jim and Andrew (simple changes and it is in P

[2022-05-10 14:07] DavidHuber-NOAA commented on #138
@KateFriedman-NOAA @WalterKolczynski-NOAA
I'm back (woohoo) and working on getting caught up on the global-workflow development that I've missed and need to apply to the S4 port.  I can see a few things that need updating, with the most major being the translation of the modulefiles to Lua.  There were also some updates to the machine_setup.sh and build_ww3prepost.sh scripts that require some mino

[2022-05-10 15:28] lgannoaa commented on #676
Thank you for let me know that your testing for this change is successful. I will create a PR for it.

[2022-05-10 17:29] lgannoaa commented on #289
NCO has made necessary changes for compath.py assignment in jobs during the WCOSS2 transition activities. Looks like they are ok with the current state. Maybe this issue can be closed for now.

[2022-05-10 20:16] KateFriedman-NOAA commented on #744
Cut [release/gfs.v16.3.0](https://github.com/NOAA-EMC/global-workflow/tree/release/gfs.v16.3.0) branch from `dev_v16` branch. Will sync updates from `feature/ops-wcoss2` and `dev_v16` branches into this new branch as needed.

[2022-05-10 20:24] lgannoaa commented on #776
A meeting hosted by @aerorahul joined by @arunchawla-NOAA on May 10th outlined the following action regarding this issue:
1. @KateFriedman-NOAA will arrange dump archive transfer from wcoss1 to wcoss2 and enable ability for parallel running in retro mode (such making change to switch input from EMC dump archive or NCO realtime).
2. @KateFriedman-NOAA will try to setup and test end-to-end retro par

[2022-05-11 14:34] AndrewEichmann-NOAA commented on #665
Is dev_v16 expected to work on Orion at this point? When building, gldas fails, and `sorc/gldas.fd/sorc/logs/build_gdas2gldas.log`  has the following:

and continues to fail on ESMF variables.

The build is under /work/noaa/da/aeichman/fv3gfs/dev_v16/global-workflow

[2022-05-11 15:03] KateFriedman-NOAA commented on #665
@AndrewEichmann-NOAA Work on dev_v16 is not yet complete and we are not yet supporting it anywhere. An announcement will be made when it's ready for use.

[2022-05-11 15:25] AndrewEichmann-NOAA commented on #665
@KateFriedman-NOAA Ok, thank you

[2022-05-11 16:57] KateFriedman-NOAA commented on #744
Global Dump Archive on WCOSS2 is available here: /lfs/h2/emc/global/noscrub/emc.global/dump

[2022-05-12 12:15] #298 closed, assigned to LinGan-NOAA

[2022-05-12 12:20] #676 closed, assigned to LinGan-NOAA

[2022-05-12 13:03] WalterKolczynski-NOAA commented on #138
Welcome back!

Yes, cycled mode is borked for the time being. It is unfortunately out of our hands right now.

I think the module change is the big one. Also make sure WW3 pre/post build still works after the cmake change, and that the new model version works (other than it breaking cycling). Nothing else should need special attention for S4.

Another impactful change is in the pipeline (see PR #6

[2022-05-12 13:06] KateFriedman-NOAA commented on #138
Welcome back @DavidHuber-NOAA !

[2022-05-12 13:34] WalterKolczynski-NOAA commented on #759
We should be moving away from both ksh (to bash) and using typeset for padding (to printf). So hopefully this will be mooted.

[2022-05-12 15:48] HaixiaLiu-NOAA commented on #711
@WalterKolczynski-NOAA any progress on enabling cycling? Without cycling, we could not check on the Thompson microphysics in the DA system. We could not use pre_p8b branch since that branch does not use Thompson MP. Thank you.

[2022-05-12 15:58] KateFriedman-NOAA opened #780 "Fix GSI checkout of libsrc submodule by adding --init"
The GSI repo recently removed the libsrc submodule but global-workflow `develop` branch currently uses a GSI hash from before that removal so the libsrc folder/files is still needed. The libsrc folder isn't being cloned with the submodule command as is in checkout.sh so the GSI build fails. Need to add `--init` to GSI submodule command in checkout.sh to get libsrc for GSI build. Can remove this in

[2022-05-12 15:58] KateFriedman-NOAA commented on #780
Created `bug/issue780` branch for this quick fix.

[2022-05-12 15:59] aerorahul commented on #711
@HaixiaLiu-NOAA
The blockers to test cycling within the workflow (updated model) are atleast https://github.com/NOAA-EMC/GSI/pull/327.
Once this is in, the GSI needs to be tested with an updated NCIO library and model backgrounds produced by the ufs-weather-model (likely after `Prototype-P8b` tag).
Until then, I think we are running cycling with a version of the model pre-Thompson MP.

[2022-05-12 16:18] #780 closed, assigned to KateFriedman-NOAA

[2022-05-12 23:59] aerorahul commented on #711
On further thought, I think we also need an updated version of `global_cycle` for initializing surface variable related to the updates in the LSM. Please correct me if I am confusing this with something else.
Last time I ran the cycled system, the failure I encountered was in starting the model after the first analysis and specifically with missing/incorrect variables in `sfcanl_data.tileX.nc`

So

[2022-05-13 00:07] WalterKolczynski-NOAA commented on #711
I want to be careful about separating two classes of issues. The first are the technical show-stoppers: you can't run the model at all without it. The ncio update falls into that category, as the ensemble outputs can't be read at all after the change. The second are those related to Thompson MP like the background. From my standpoint, those belong on a separate issue(s), as the plan is to restore

[2022-05-13 00:53] yangfanglin commented on #711
@aerorahul Rahul, please see https://github.com/ufs-community/UFS_UTILS/pull/636 and https://github.com/ufs-community/UFS_UTILS/issues/549 for the updates to sfcsub and globale_cycle George Gayno is making

[2022-05-13 10:51] RussTreadon-NOAA commented on #711
I can confirm that the current @aerorahul fork [feature/cmake-update](https://github.com/aerorahul/GSI/tree/feature/cmake-update) at [b600136](https://github.com/aerorahul/GSI/commit/b600136cb5333c6ba152cfc9a0990fdfa9eff80a) needs to be built with `ncio/1.1.0` in order for DA app `getsfcensmeanp.x` to run to completion.  When `getsfcensmeanp.x` is built with `ncio/1.0.0`, the executable fails with

[2022-05-13 14:46] lgannoaa commented on #399
@malloryprow Please update verif-global.fd/ush/run_batch.py in wcoss2
from
 place=vscatter
to
 place=vscatter:exclhost

[2022-05-13 15:00] malloryprow commented on #399
@lgannoaa Tag verif_global_v2.9.2 created

[2022-05-13 15:59] lgannoaa commented on #776
- A plaining meeting from EIB (@aerorahul @lgannoaa @KateFriedman-NOAA ) and DA (@emilyhcliu ) on May 11th outlined the following:
- gfsda v16.3 changes included science changes that require 4 tags update.
- A summary Google document (GFSv16.3 Implementation) can be used to identify tags and changing status.

- retro and realtime were suggested to be run in wcoss2 using ecflow because Global Workf

[2022-05-13 19:20] MichaelLueken commented on #711
A new issue was created in `NCEPLIBS-ncio` [#58](https://github.com/NOAA-EMC/NCEPLIBS-ncio/issues/58), detailing the error message @RussTreadon-NOAA and I encountered while attempting to run @aerorahul feature/cmake-update branch using the `ncio/1.1.0` module.  I was able to find a fix to allow the GSI to run without issue.  @RussTreadon-NOAA created a script to run the `getsfcensmeanp` executable

[2022-05-13 21:12] aerorahul commented on #749
@binli2337 and @XianwuXue-NOAA expressed on 5/12 that they have a good understanding of the workings of the global-workflow and are ready to do a dive in its development.

@ryanlong1004 is likely waiting on getting access to Hera/Orion before he is ready to dive into this.  @aerorahul will follow up on account access issues.

[2022-05-13 21:19] aerorahul commented on #751
@binli2337
The data-atmosphere configuration in the ufs-weather-model builds with the argument `-DAPP=NG-GODAS`.
Add options in `build_all.sh` to build with the above APP and then in `build_ufs.sh` to add the correct options.

[2022-05-13 21:41] aerorahul opened #785 "Setting up of run directory for Data Atmosphere configuration"
**Description**

The atmosphere component is **always** `ON` in the workflow.
The `NG-GODAS` application of the ufs-weather-model does not have a live and interactive atmosphere.  It compiles the with a data-atmosphere component from `CDEPS`.

The global-workflow does not have a `DO_ATM` switch.

**Requirements**
A `DO_ATM` switch shall be added to `config.base`
This switch shall be toggled based

[2022-05-13 22:02] aerorahul opened #786 "Generate atmosphere forcings for NG-GODAS application in global-workflow"
**Description**
The data atmosphere configuration of the ufs-weather-model is being brought into the global-workflow for ocean data assimilation development activities.
Atmosphere forcings are required for driving the NG-GODAS application.

The utility to create the atmosphere forcing currently is hosted in the [GODAS](https://github.com/NOAA-EMC/godas) repository [here](https://github.com/NOAA-EM

[2022-05-13 22:40] XianwuXue-NOAA opened #787 "Fix some bugs for GEFSv12.2.0"
The bugs will cause failed forecast and wave restart, the fix are already implemented in GEFSv12.2.0 on WCOSS2

**Expected behavior**
1) To make sure that the out_grd file has finished writing
2) When rerun forecast job, it will link the wrong files

**Current behavior**

The fixed version has been implemented on WCOSS2 by NCO

**Machines affected**

`WCOSS2`

**Detailed Description**

[2022-05-14 01:03] aerorahul opened #788 "Add tasks to get or create atmosphere forcings"
**Description**
To run the `NG-GODAS` application of the ufs-weather-model, tasks need to be added in the global workflow to either fetch already generated (and staged) forcings or create forcings from atmospheric analysis.

**Requirements**
Three tasks will be created.
Task 1 will be to get forcings from HPSS or some central location and stage them in ROTDIR:
location 1 will be HPSS
location 2 ca

[2022-05-14 14:13] XianwuXue-NOAA opened #789 "Update experiment setup script for free-forecast ensemble"
**Description**
As we move towards the merger of GEFS into the GFS system, we need to be able to generate experiments with an arbitrary number of free-forecast ensemble members in addition to the number of EnKF members.

**Requirements**
Ability to generate experiments (using `setup_expt.py`) with a number of free-forecast ensemble members determined via a command-line switch similar to how the nu

[2022-05-16 13:30] KateFriedman-NOAA opened #790 "Improve bufr sounding job error handling"
**Description**

NCO requested that `-g -traceback` be added to the `gfs_bufr` executable build and additional error handling be added to the relevant script(s) (e.g. `ush/gfs_bufr.sh`). This request is for the GFSv16.2 package (`feature/ops-wcoss2`), the traceback flags are already in the `develop` branch. Script updates can/should be made in the `develop` branch as well though.

Refs: #399

[2022-05-16 16:00] KateFriedman-NOAA opened #791 "Add -g -traceback where missing in GFSv16.2 utility builds"
**Description**

NCO requested all codes in GFSv16.2 package build with `-g -traceback`. This issue will review global-workflow utility codes in `feature/ops-wcoss2` and add `-g` and `-traceback` where missing. This is also related to issue #790 . The global-workflow utility build in the `develop` branch already has these traceback flags.

**Requirements**

All global-workflow utility builds will

[2022-05-16 18:22] KateFriedman-NOAA commented on #791
Tested global-workflow utility builds after adding missing `-g` and `-traceback` flags. No build issues observed. Will submit updates via PR into auth branch.

[2022-05-16 19:45] #791 closed, assigned to KateFriedman-NOAA

[2022-05-16 19:45] #790 closed, assigned to BoCui-NOAA

[2022-05-17 13:07] KateFriedman-NOAA commented on #722
PR #719 has been merged. Closing this issue now since the PR didn't automatically close it like it was supposed to.

[2022-05-17 13:07] #722 closed, assigned to LinGan-NOAA

[2022-05-17 16:14] JessicaMeixner-NOAA commented on #563
This was done in https://github.com/NOAA-EMC/global-workflow/pull/681

[2022-05-17 16:14] #563 closed, assigned to JessicaMeixner-NOAA, WalterKolczynski-NOAA

[2022-05-18 05:02] #366 closed, assigned to aerorahul, JessicaMeixner-NOAA, WalterKolczynski-NOAA, KateFriedman-NOAA, jkuang-exploro

[2022-05-18 05:02] #630 closed, assigned to nobody

[2022-05-18 05:02] #516 closed, assigned to WalterKolczynski-NOAA

[2022-05-18 05:04] #745 closed, assigned to WalterKolczynski-NOAA

[2022-05-18 05:04] #751 closed, assigned to binli2337

[2022-05-18 07:29] westurner opened #796 "BLD,ENH: Dask-scheduler (SLURM,), BentoML (FastAPI), JupyterLite, Ludwig (Dask, MLFlow,)"
**Components** that may or may not save work or be of additional value:

- dask can run things with various schedulers:
  - [Python API](https://docs.dask.org/en/latest/deploying-python.html)
  - [Command Line](https://docs.dask.org/en/latest/deploying-cli.html) [run locally]
  - [SSH](https://docs.dask.org/en/latest/deploying-ssh.html)
  - [Docker Images](https://docs.dask.org/en/latest/deploying

[2022-05-18 08:05] westurner commented on #796
DVC is one workflow system; it has some unique features:

- DVC core features:
  https://dvc.org/doc/user-guide/what-is-dvc#core-features
- `dvc.yaml` file defines the pipeline: https://dvc.org/doc/user-guide/project-structure/pipelines-files#pipelines-files-dvcyaml
- `dvc.lock` file tracks the workflow state and dependency hashes: https://dvc.org/doc/user-guide/project-structure/pipelines-files#d

[2022-05-18 13:42] KateFriedman-NOAA opened #797 "Update/correct UPP itag file in develop"
**Description**

Check that the correct itag file is used in offline and in-line post. Update/correct if not. @yangfanglin reported an incorrect number of layers in his experiments.

[2022-05-18 14:15] yangfanglin commented on #797
The atmospheric "master" files from the experiments I made with the latest coupled global-workflow (as of May 10, 2022) only have 45 isobaric  layers and only up to 2 hPa.   The current operation GFS has 57 layers up to 0.01 hPa.

With the help from @WenMeng-NOAA , we found post_tag_gfs128 in the global workflow ./parm/post directory is missing the following namelist

&MODEL_INPUTS
MODELNAME='GFS'

[2022-05-18 15:19] binli2337 commented on #785
The following updates have been made:
1) Added 3 new switches in config.base.emc.dyn:
DO_ATM, DO_DATM,DO_POST

2) Updated ush/rocoto/setup_expt.py and ush/rocoto/setup_workflow_fcstonly.py for the NG-GODAS application.

[2022-05-18 16:15] WenMeng-NOAA commented on #797
There are some recent updates for unifying FV3 interfaces for global and regional in off-line post at the UPP repository and in-line post at the ufs-weather-model repository. It appears to me the ufs version and upp version are not up to date.

[2022-05-18 16:19] WenMeng-NOAA commented on #797
@yangfanglin I didn't realize post_tag_gfs128 was maintained in UPP repository. I will submit an UPP PR for that update. To reflect that change, upp version checked out in the g-w should be updated.

[2022-05-18 23:40] WenMeng-NOAA commented on #797
@KateFriedman-NOAA and @WalterKolczynski-NOAA The UPP develop branch was just committed at fbd41a5 for updating post_tag_gfs128 (See [here](https://github.com/NOAA-EMC/UPP/pull/508)). This new post_tag_gfs128 doesn't work for the default
ufs version Prototype-p8b in the g-w. Would you like to proceed this update now or later?

[2022-05-19 20:12] KateFriedman-NOAA opened #798 "Switch to Meteosat-9 AMVs (WCOSS1 ops)"
**Description**

The GFS will upgrade in WCOSS1 operations to v16.1.8. This is an accelerated DA-only upgrade.

Meteosat-9 replaces Meteosat-8 as the operational geostationary platform over the Indian Ocean on 20220601.  To maintain continuity of operations, the /fix/fix_gsi/global_convinfo.txt file needs to be modified before this date (as soon as possible is preferable). @ADCollard @MichaelLueke

[2022-05-19 20:14] KateFriedman-NOAA commented on #798
Created branch `release/gfs.v16.1.8` for this upgrade, cut from `operations` branch.

[2022-05-20 00:30] WalterKolczynski-NOAA opened #800 "Scripts called by build_all receive invalid options if none are set"
**Current behavior**
If [build_all.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/build_all.sh) is called with command-line options, but none are passed to a downstream script, the script will error because `$@` is not reset.

For instance, if [build_all.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/build_all.sh) is called with only the `-a` option, [partial_

[2022-05-20 00:41] WalterKolczynski-NOAA commented on #797
I'm still unable to reproduce this error. I just tried with a fresh checkout of develop, making no changes, and my master files are correct:

[code]

[2022-05-20 00:50] WenMeng-NOAA commented on #797
@WalterKolczynski-NOAA Fanglin is using the latest ufs-develop-model develop branch which has the commit of unified in-line post interface. That new interface face require a format update in UPP itag file.  In his previous experiment, he used the itag file in old format, the in-line interface read wrong PO setting from itag and reset PO  as  default 45 isobaric levels.

[2022-05-20 00:58] WalterKolczynski-NOAA commented on #797
There should be no expectation global-workflow will work with any UFS version other than the one currently specified in checkout.sh for precisely this reason: UFS namelists keeps changing. This needs to be part of updating the UFS version in g-w. Long-term, we are looking to eliminate checking out a separate UPP version at all. Maybe I'll just accelerate that.

[2022-05-20 01:01] WenMeng-NOAA commented on #797
The post_tag_gfs128 in global-workflow is linked to UPP.

[2022-05-20 01:08] WalterKolczynski-NOAA commented on #797
That's not the issue. The issue, as you've explained it, is Fanglin changed the UFS version from what g-w has without updating the UPP version to match. It's not surprising it broke. Which is one of the reasons we want to stop checking out a separate copy of UPP anyway now that one is in UFS.

[2022-05-20 01:34] WenMeng-NOAA commented on #797
This issue is a typical case of user support provided by our UPP team on gfs post process. I would expect the g-w team takes over
it when the  transition of gfs post process  workflow is completed.

[2022-05-20 14:14] #800 closed, assigned to WalterKolczynski-NOAA

[2022-05-20 14:17] MichaelLueken commented on #798
@KateFriedman-NOAA I have created the `gfsda.v16.1.8`, `gfsda.v16.2.0`, and `gfsda.v16.2.0.1` tags following the updates from @ADCollard.

Tag `gfsda.v16.1.8` was created at [6faf3e8](https://github.com/NOAA-EMC/GSI/commit/6faf3e8da2326d603a46587ef2e1c0956ac2d532).

Tag `gfsda.v16.2.0` was created at [c54927a](https://github.com/NOAA-EMC/GSI/commit/c54927adf5e804fc5bf09c0b6d95a22476b47d6e).

Tag `

[2022-05-20 14:19] KateFriedman-NOAA commented on #798
Wonderful! Thanks for the quick updates @MichaelLueken-NOAA !

I will let NCO know they can proceed with the fresh install of v16.2.0 on WCOSS2 and then update the global-workflow `release/gfs.v16.1.8` branch with the new GSI tag.

[2022-05-20 15:57] KateFriedman-NOAA commented on #798
@MichaelLueken-NOAA @ADCollard I have updated the `release/gfs.v16.18` branch with the new GSI tag `gfsda.v16.1.8` @ d24c1b2 and added the release notes provided by Andrew `Release_Notes.gfs.v16.1.8.txt` @ 7564aaf.

I will cut the `EMC-v16.1.8` tag for hand-off to NCO next.

[2022-05-20 16:00] KateFriedman-NOAA commented on #798
@ADCollard Hand-off tag for NCO has been cut: [EMC-v16.1.8](https://github.com/NOAA-EMC/global-workflow/releases/tag/EMC-v16.1.8)

[2022-05-20 16:40] KateFriedman-NOAA opened #802 "Add atmos subfolder to GDA and relevant DMPDIR paths"
**Description**

It has been decided to add a `$COMPONENT` (`atmos`) subfolder into the global dump archive (GDA) folders:

`$CDUMP.$PDY/$cyc` -> `$CDUMP.$PDY/$cyc/atmos`

This will bring the GDA in alignment with related updates to add a `$COMPONENT` (`atmos`) subfolder into the GFS and OBSPROC com structures. This is also needed for running the GFS and using `compath.py` for defining `COM` paths

[2022-05-22 20:50] #770 closed, assigned to WalterKolczynski-NOAA

[2022-05-22 20:50] #797 closed, assigned to nobody

[2022-05-23 12:36] JessicaMeixner-NOAA commented on #736
The ufs-weather-model was [updated](https://github.com/ufs-community/ufs-weather-model/pull/1221) to use intel 2021/2022.  Should the base set of modules be updated to use this version or should a set of modules for the forecast be added?

[2022-05-23 13:17] RussTreadon-NOAA opened #804 "Typo in ush/forecast_postdet.sh"
**Expected behavior**
Script `ush/forecast_postdet.sh` should use `PREFIX_ATMINC` for all occurrences of `increment_file`.

**Current behavior**
Script `ush/forecast_postdet.sh` incorrectly uses `PREFIX_INC` in the `else` branch of the `if [ $DOIAU = "YES" ]` block which sets `increment_file` for `RERUN = NO`.    `PREFIX_INC` is not defined.   As a result the script uses the wrong increment file i

[2022-05-23 14:04] lgannoaa commented on #776
Setting DA retro ecflow workflow parallel on WCOSS2 started on 5/12. This activity has a bit delay from 5/12 to 5/23 due to WCOSS2 RFC, switch, system issue, ETC.
A few issues has been resolved or workaround provided:
- EMC dump file directories structure and naming. (Adding atmos, using slink to NCO approved prefix directory look alike location)
- Working with NCO/network/wcoss2 helpdesk on adjus

[2022-05-23 18:56] KateFriedman-NOAA commented on #802
The `atmos` subfolder symlinks have been added to the WCOSS2 GDAs on Cactus and Dogwood (all existing dates). Here is a sample showing the new `atmos` subfolder symlink in the 2022052306 gfsx folder:
[code]

...and what is returned when you do a listing through the `atmos` symlink:
[code]

Next steps:

1. Add `atmos` "subfolder" symlinks to WCOSS1, Hera, and Orion GDAs.
2. Update WCOSS1 GDA job to

[2022-05-23 21:36] #804 closed, assigned to nobody

[2022-05-25 09:49] WalterKolczynski-NOAA opened #808 "Refactor checkout"
**Description**
The checkout script mostly repeats the same actions over and over for different repositories. This behavior can be abstracted into a function to eliminate repetitive code and ensure consistency.

Additionally, checkout currently does nothing if the directory exists, but there are many times during development when I want to change something about one or more of the components. It w

[2022-05-25 13:37] KateFriedman-NOAA commented on #802
Created branch [feature/dev_v16_gdaatmos](https://github.com/KateFriedman-NOAA/global-workflow/tree/feature/dev_v16_gdaatmos) in my global-workflow fork to add `atmos` subfolder to workflow files/scripts in `dev_v16`. Will make similar branch to add `atmos` to `develop` branch after testing for `dev_v16`.

[2022-05-25 13:53] JessicaMeixner-NOAA opened #810 "Change in staged location of prototype ICs"
**Description**
The climate disk space on hera is changing from /scratch2 to /scratch1 therefore the staged location of ICs for the coupled prototype ICs will change.   A PR with the updated location will be submitted as soon as the data is moved.  **Note that this will mean that if trying to run old tags of the workflow on hera, the IC location will have to be updated manually.**

**Requirements*

[2022-05-25 13:55] WalterKolczynski-NOAA commented on #810
Can we leave behind a symlink on scratch2?

[2022-05-25 13:57] aerorahul opened #811 "remove ush/rocoto/fv3gfs_workflow.sh"
**Description**
[ush/rocoto/fv3gfs_workflow.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/rocoto/fv3gfs_workflow.sh) is out of date.
The git repository the script points at has moved and the tags are stale.
The instructions for setting up the experiment and workflow are on the [wiki](https://github.com/NOAA-EMC/global-workflow/wiki)

**Requirements**
Remove stale and outdated sc

[2022-05-25 13:59] JessicaMeixner-NOAA commented on #810
The /scratch2/NCEPDEV/climate space will be removed, so no.

[2022-05-25 14:00] WalterKolczynski-NOAA commented on #796
This is primarily beyond the scope of this project.

[2022-05-25 14:00] #796 closed, assigned to nobody

[2022-05-25 14:18] KateFriedman-NOAA commented on #802
Committed workflow updates to `feature/dev_v16_gdaatmos` branch @ baa5893. Testing on WCOSS2 now.

The `atmos` subfolder symlinks have been added to the Hera and Orion GDAs. Working on WCOSS1 and real-time job next.

[2022-05-25 14:32] WalterKolczynski-NOAA opened #812 "Update hpc-stack and compiler versions"
**Description**
HPCs are moving away from the Intel 2018 compiler, so we should update to one of the newer compiler versions. We should also take the opportunity to move to the hpc-stack/1.2.0

**Requirements**
Programs should compile and run using Intel 2021 or 2022 compilers

**Acceptance Criteria (Definition of Done)**
- All workflow-controlled modulefiles updated to use hpc-stack/1.2.0
- All w

[2022-05-25 15:08] WalterKolczynski-NOAA commented on #711
Awaiting NOAA-EMC/NCEPLIBS-ncio/pull/59

[2022-05-25 15:50] ulmononian commented on #812
Hi @WalterKolczynski-NOAA. I encountered an issue with the load of met/9.1 on Orion in S2SW (coupled, forecast-only) and ATM (uncoupled, forecast only) tests using the develop branch. The same error is produced in the gfsfcst task of the ATM case and gfswaveinit task of the S2SW case:
<img width="880" alt="Screen Shot 2022-05-23 at 11 42 45 AM" src="https://user-images.githubusercontent.com/433796

[2022-05-25 16:07] WalterKolczynski-NOAA commented on #812
This looks like an unrelated issue. Please open a new one.

[2022-05-25 17:28] KateFriedman-NOAA commented on #802
The `atmos` subfolder symlinks have been added to the WCOSS1 GDAs (Mars and Venus). Working on adding `atmos` subfolder symlink to real-time GDA job on WCOSS1 for new subfolders next.

[2022-05-25 18:36] KateFriedman-NOAA commented on #802
@MichaelLueken-NOAA The `atmos` subfolder symlinks are in place in all GDAs (WCOSS2, WCOSS1, Hera, and Orion). If you have a GFSv16.3 GSI branch that I can do a plumbing test within a global-workflow test on WCOSS2 let me know, I have a test running now to check the plumbing on the related workflow updates. The GDAs support pre-atmos-subfolder-symlinks still so my current GFSv16.2.0 GSI tag still

[2022-05-25 18:48] KateFriedman-NOAA commented on #802
Creation of `atmos` subfolder symlinks in real-time GDA job on WCOSS1 is complete. New real-time GDA date subfolders will get an `atmos` subfolder symlink created before it's rsync'd to the other GDAs. The `atmos` symlink will accompany the dump files in the rsync to the other GDAs so the other GDAs get the symlink in real-time moving forward now too.

[2022-05-26 09:45] MichaelLueken commented on #802
@KateFriedman-NOAA I should have the release/gfsda.v16.3.0 branch created on Friday.  I still have a few more changes that need to go into develop before the creation of the branch (including the update to add `atmos` to the GDA path).  I will let you know once the release branch has been created.

[2022-05-26 12:37] KateFriedman-NOAA commented on #802
Sounds good, thanks @MichaelLueken-NOAA !

[2022-05-26 20:03] KateFriedman-NOAA commented on #744
Update from @WenMeng-NOAA :

[code]

[2022-05-26 20:25] KateFriedman-NOAA commented on #744
Updated UPP tag `upp_v8.2.0` committed to `release/gfs.v16.3.0` branch @ 3c2dd2c.

[2022-05-26 20:44] KateFriedman-NOAA commented on #802
@HelinWei-NOAA Looks like we also need an update in the GLDAS to add the new `atmos` subfolder into the path for the PRCP CPC gauge files in the GDA. The [following line in `ush/gldas_forcing.sh`](https://github.com/NOAA-EMC/GLDAS/blob/master/ush/gldas_forcing.sh#L43) needs to add `atmos` to the path:

From this:
[code]
...to this:
[code]

Would you mind making that change and cutting a new GLDAS

[2022-05-26 20:57] KateFriedman-NOAA commented on #802
@MichaelLueken-NOAA Can you make the changes to add `atmos` into the GSI `gfsda.v16.2.0.1` tag version as well? We'll want it in the global-workflow `dev_v16` branch for users who will run GFSv16.2.0 before GFSv.16.3.0 is available and after the WCOSS2 go-live date. Thanks!

[2022-05-26 21:16] GeorgeGayno-NOAA commented on #711
@yangfanglin @aerorahul @SMoorthi-emc - global_cycle now uses the same sfcsub.F as the model. See https://github.com/ufs-community/UFS_UTILS/pull/636. Does global_cycle still need to be updated for fractional grids? See https://github.com/ufs-community/UFS_UTILS/issues/549

[2022-05-27 00:17] WenMeng-NOAA commented on #744
@KateFriedman-NOAA Thanks!

[2022-05-27 11:46] MichaelLueken commented on #802
@KateFriedman-NOAA The `gfsda.v16.2.0.1` tag has been updated to include `atmos` in the `DMPDIR` paths for the JJOBS via `$COMPONENT`.  The new tag was created at [4f42f7b](https://github.com/NOAA-EMC/GSI/commit/4f42f7be9cfe5c8a4867b2493cebd8e76606605a).

[2022-05-27 12:32] bbakernoaa opened #814 "ATM-AERO only runs do not properly set fscav in parsing_namelist"
In ATM-AERO only runs the convective wet scavenging coefficients are not set properly.  They default back to zero meaning that there is not the physical process of convective wet scavenging.

in [ush/parsing_nameslists_FV3.sh](https://github.com/NOAA-EMC/global-workflow/blob/develop/ush/parsing_namelists_FV3.sh#L357-L361) the lines should be changed from

[code]

to

[code]

@zhanglikate @WalterKo

[2022-05-27 12:35] bbakernoaa opened #815 "Change path of ExtData on HERA"
With @rmontuoro taking on a new roll we need to move the location of the data so that current developers have access to modify and add new datasets to the directory as needed.

See parm/config/config.aero

https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/config/config.aero#L11

[2022-05-27 12:36] bbakernoaa opened #816 "Update fscav for thompson and p8.1"
With all the issues fixed with convective wet scavenging and large scale wet deposition new science simulations have been conducted and the convective wet scavenging coefficients are updated to reflect the physics changes.

https://github.com/NOAA-EMC/global-workflow/blob/develop/parm/config/config.aero#L25

[2022-05-27 13:07] KateFriedman-NOAA commented on #802
Awesome, thanks @MichaelLueken-NOAA !

[2022-05-27 13:34] KateFriedman-NOAA commented on #399
@MichaelLueken-NOAA FYI, the gdas_atmos_analysis_calc job was having intermittent failures in WCOSS2 prod (one of the `chgres_inc.x` execs instances would have a bus error and kill the job). Reruns by NCO always completed without issue. EIB investigated and determined it was likely due to the three instances ending up using the same tasks on the node while running at the same time. @aerorahul upda

[2022-05-27 14:40] MichaelLueken commented on #399
@KateFriedman-NOAA I have applied the changes in `/lfs/h1/ops/prod/packages/gfs.v16.2.0/sorc/gsi.fd/ush/calcanl_gfs.py` to the GFSv16.2 release branches and recreated the `gfsda.v16.2.0` tag at [da1e4d5](https://github.com/NOAA-EMC/GSI/commit/da1e4d5469819be60b97d36fe86c1c6c2f096396) and `gfsda.v16.2.0.1` at [0c014a8](https://github.com/NOAA-EMC/GSI/commit/0c014a8af8a29c15278101df4fea9845cee04d62)

[2022-05-27 14:44] KateFriedman-NOAA commented on #399
Excellent, thanks @MichaelLueken-NOAA !

[2022-05-27 14:47] bbakernoaa opened #817 "update dust input files for p8/p81"
Update the dust inputs for p8/p81 simulations.  This is done for science improvements following updates in the dust code that was implemented in p8b.

It modifies [parm/chem/ExtData.other ](https://github.com/bbakernoaa/global-workflow/blob/feature/p8c_aero/parm/chem/ExtData.other#L13-L19) and it modified [parm/chem/DU2G_instance_DU.rc](https://github.com/bbakernoaa/global-workflow/blob/feature/p8

[2022-05-27 15:00] aerorahul opened #819 "JEDI based variational DA application"
**Description**

This Epic will contain the issues related to the implementation of variational DA in the global workflow.
Specifically, adding new tasks for JEDI, software stacks and dependencies, configuration for JEDI-based tasks, utilities to configure executable inputs (yaml), etc.

For detailed information, see tickets in this epic

**Requirements**
- Be able to confgure and setup jedi-based

[2022-05-27 18:06] MichaelLueken commented on #802
@KateFriedman-NOAA The final changes have been merged to the authoritative GSI repository's `develop` branch and the `release/gfsda.v16.3.0` release branch has been created off of `develop`.  I should give fair warning that the likelihood of global-workflow working with the `release/gfsda.v16.3.0` release branch is fairly slim (due to removal of `fv3gfs_ncio` from the GSI repository, changes in lo

[2022-05-31 12:32] binli2337 commented on #785
The following updates have been made:
1. Added ush/parsing_model_configure_DATM.sh
2. Added ush/nems.configure.datm_cdeps.IN
3. Modified ush/nems_configure.sh

[2022-05-31 16:47] KateFriedman-NOAA commented on #798
From May 27th RFC memo:
[code]

[2022-05-31 22:24] WalterKolczynski-NOAA commented on #736
I don't think it is a big deal that should hold this up, though it is something we need to do soon anyway. I opened a new issue (#812) for it.

[2022-06-01 01:00] yangfanglin commented on #711
George,

I think the global_cycle does still need to be updated for fractional grid.

Moorthi , could you please help check and confirm? I thought you made some changes to the global cycle for fractional grid.

Thanks
Fanglin

Sent from my iPhone

[2022-06-01 01:05] WalterKolczynski-NOAA commented on #711
Can we please take all the bit about the fractional grid elsewhere into a different issue? This issue is about restoring cycling capability to what it was before P8b, which seems to hinge on fixing ncio. Fractional grid was not new with the update to P8b. It may need to be fixed for scientific reasons related to the fractional grid, but that would be a different issue than this one.

[2022-06-01 01:23] yangfanglin commented on #711
Running data assimilation needs a functional global_cycle that supports fractional grid

Sent from my iPhone

[2022-06-01 05:13] WalterKolczynski-NOAA opened #821 "Update build for new GTG method"
**Expected behavior**
Those with GTG access should be able to build post with GTG.

**Current behavior**
UPP does not build with GTG.

**Machines affected**
All

**To Reproduce**
1. Run checkout with -o to include GTG code (authorized users only).
2. Run build_upp.sh.

**Context**
UPP recently updated the way in which GTG is built. Instead of the manual copying of source code to overwrite the norm

[2022-06-01 07:38] WalterKolczynski-NOAA opened #822 "Add atm-only ensemble free-forecast"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to incorporate additional capability to run forecast ensembles beyond that used for EnKF.

**Requirements**
Run forecast job from pre-staged GEFS initial conditions from the operational run. The additional jobs to produce those initial conditions will be added in a separate future issue.

[2022-06-01 07:57] WalterKolczynski-NOAA opened #823 "Add atm ensemble product generation"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to produce the same products the current GEFS system is creating.

**Requirements**
Some post scripts will need to be updated to accommodate ensemble products, while others may need to be added based on GEFS scripts. The end result will need to be able to produce both GFS and GEFS product

[2022-06-01 08:08] WalterKolczynski-NOAA opened #824 "Add ensemble atmosphere initial condition generation for non-cycled mode"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to incorporate the ability to create GEFS atmosphere initial conditions.

**Requirements**
Need to be able to generate ensemble initial conditions using canned EnKF forecasts from the previous cycle, similar to how GEFS does it now. Since retrieving EnKF from tape takes a long time, let's

[2022-06-01 08:13] WalterKolczynski-NOAA opened #825 "Add ensemble atmosphere initial condition generation for cycled mode"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to incorporate the ability to create GEFS atmosphere initial conditions.

**Requirements**
Need to be able to generate free-forecast ensemble initial conditions from the EnKF of the previous cycle run by the same workflow when running in cycled mode.

**Acceptance Criteria (Definition of

[2022-06-01 08:23] WalterKolczynski-NOAA opened #826 "Add ensemble free-forecast"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to incorporate additional capability to run forecast ensembles beyond that used for EnKF.

**Requirements**
Need to be able to run an ensemble of atm-wave forecasts from pre-staged initial conditions. Output from different members needs to not collide.

**Acceptance Criteria (Definition o

[2022-06-01 08:31] WalterKolczynski-NOAA opened #827 "Add ensemble wave post"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to produce ensemble wave products.

**Requirements**
Need to be able to take ensemble WW3 model output and produce the wave products that are currently produced by GEFS:
- [ ] Member lat-lon grib2 files
- [ ] Mean/spread/prob grib2 files
- [ ] Station and bulletin files (tarred together)

[2022-06-01 08:54] WalterKolczynski-NOAA opened #828 "Update workflow setup script for free-forecast ensemble"
**Description**
As we move towards the merger of GEFS into the GFS system, we need to be able to generate workflows with an arbitrary number of free-forecast ensemble members in addition to the number of EnKF members.

**Requirements**
Need to be able to read in a `config.base` file from the experiment directory and use the number of free-forecast ensemble members to generate ensemble metatasks.

[2022-06-01 11:11] SMoorthi-emc commented on #711
Yes, I made some changes in "gcycle.f" to handle fractional grid.
Similar changes may be needed in "global_cycle" if not already done.
Moorthi

On Tue, May 31, 2022 at 9:01 PM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research C

[2022-06-01 12:17] JessicaMeixner-NOAA commented on #810
The new directory is here:

/scratch1/NCEPDEV/climate/role.ufscpara/IC

[2022-06-01 13:09] lgannoaa opened #830 "GFS evaluation parallel in WCOSS2"
This is to document setup and running the GFS evaluation parallel in WCOSS2.
On May 31st 2022,
@arunchawla-NOAA @aerorahul notified:

NCEP management has been concerned with the differences that we are seeing at day 10 on wcoss2 vs wcoss1.
We need to start a parallel that can match the wcoss2 parallel but have initial conditions from wcoss1.
They would like us to start a parallel where the initial

[2022-06-01 13:10] KateFriedman-NOAA commented on #798
From SDM log (June 1st 5:50am):
[code]

[2022-06-01 14:43] WalterKolczynski-NOAA opened #832 "Update archive to handle ensembles"
**Description**
As we move towards the merger of GEFS into the GFS system, global workflow needs to be updated to archive the additional output created when running a forecast ensemble.

**Requirements**
Need to expand the archive job to handle forecast ensemble outputs. Due to the multiplicity of the data, this may require a reevaluation of what gets archived, at least for ensemble members.

**Ac

[2022-06-01 14:53] WalterKolczynski-NOAA opened #833 "Update cleanup job to scrub ensemble data"
**Description**
As forecast ensemble jobs are added to the global workflow, we need to ensure the output is being cleaned up properly once it is no longer needed.

**Requirements**
The cleanup job (currently part of archive) needs to properly scrub ensemble data once it is has been archived and is no longer needed. Until ensemble verification is added as part of the workflow instead of a stand-alo

[2022-06-01 15:01] WalterKolczynski-NOAA opened #834 "Add GEFS IC retrieval"
**Description**
As we move towards the merger of GEFS into the GFS system, we want to be able to run uncycled starting from operational GEFS initial conditions.

**Requirements**
Need to update the getic job to retrieve ensemble initial conditions and stage them in the appropriate directories. Initially these would only be from the current operational GEFS system, but down the line we will also ne

[2022-06-01 15:05] #810 closed, assigned to JessicaMeixner-NOAA

[2022-06-01 15:36] KateFriedman-NOAA commented on #830
@lgannoaa To set up this parallel:

1) Use a freshly built copy of `feature/ops-wcoss2` for setup but change HOMEgfs to use prod install for running (see path below)
2) Make sure `config.resources` is copied from `config.resources.nco.static` and `config.fv3` is copied from `config.fv3.nco.static` so you use the same operational resources settings. The emc.dyn versions of those configs aren't usef

[2022-06-01 15:39] lgannoaa commented on #776
The new GSI package as of June 1st is 047b5da submodule 99f147c. This version has three file and one directory changed in build process.
global_gsi.x ---:> gsi.x
global_enkf.x --- enkf.x
ncdiag_cat.x ---> nc_diag_cat.x
$LINK ../sorc/gsi.fd/exec/$gsiexe . ---> $LINK ../sorc/gsi.fd/install/bin/$gsiexe .
The above GSI package and modify is obsoleted.

As of June 10th we have the following on Dogwood

[2022-06-01 17:58] lgannoaa commented on #830
Modification made to set:
export DO_BUFRSND="NO"     # BUFR sounding products
export DO_GEMPAK="NO"      # GEMPAK products
export DO_AWIPS="NO"       # AWIPS products
export WAFSF="NO"          # WAFS products

[2022-06-01 18:11] #808 closed, assigned to WalterKolczynski-NOAA

[2022-06-01 18:22] lgannoaa commented on #830
This forecast only parallel is started. The configuration information is as follows:
HOMEgfs:  /lfs/h1/ops/prod/packages/gfs.v16.2.0
pslot:         gfseval_a
expdir:       /lfs/h2/emc/global/noscrub/Lin.Gan/expdir/gfseval_a
COM:         /lfs/h2/emc/ptmp/Lin.Gan/gfseval_a
log:           /lfs/h2/emc/ptmp/Lin.Gan/gfseval_a/logs
on-line archive: /lfs/h2/emc/global/noscrub/Lin.Gan/archive/gfseval_a

[2022-06-01 19:53] lgannoaa commented on #830
@aerorahul @KateFriedman-NOAA , this parallel is started. Please check and let me know if you see any issue.

[2022-06-02 10:04] MichaelLueken commented on #776
global_gsi.x ---:> gsi.x
global_enkf.x --- enkf.x
ncdiag_cat.x ---> nc_diag_cat.x
$LINK ../sorc/gsi.fd/exec/$gsiexe . ---> $LINK ../sorc/gsi.fd/install/bin/$gsiexe .

Hi @lgannoaa - There is one minor correction here - instead of
ncdiag_cat.x ---> nc_diag_cat.x
it should be
ncdiag_cat.x ---> ncdiag_cat_serial.x

Additionally, given changes in the develop branch that have never made it into the rel

[2022-06-02 13:07] KateFriedman-NOAA commented on #830
@lgannoaa @aerorahul We likely want to disable scrubbing of the output for a while so MEG can use the output in evaluations. Suggest setting `DELETE_COM_IN_ARCHIVE_JOB=NO` in config.base. The first round of scrubbing based on `ROLDEND=24` is about to happen @lgannoaa . Can you bump that up to `RMOLDEND=144` for now in config.arch while we discuss retention? Thanks!
@aerorahul @KateFriedman-NOAA ar

[2022-06-02 13:31] lgannoaa commented on #830
Made change in expdir/config.arch
RMOLDEND=24 -> RMOLDEND=144
Made change in expdir/config.base
DELETE_COM_IN_ARCHIVE_JOB="YES" -> DELETE_COM_IN_ARCHIVE_JOB="NO"
The COM has 56T as of 2022052600 the following change has been made to restore default COM clean up:
RMOLDEND=144 -> RMOLDEND=24
DELETE_COM_IN_ARCHIVE_JOB="NO" -> DELETE_COM_IN_ARCHIVE_JOB="YES"

[2022-06-02 13:34] KateFriedman-NOAA commented on #798
@ADCollard Can you confirm that this update occurred in WCOSS1 and WCOSS2 ops? Thanks!

[2022-06-02 13:50] KateFriedman-NOAA commented on #798
DA team confirmed the switch to Meteosat-9 occurred. From email thread shared with me by @RussTreadon-NOAA :

From @HaixiaLiu-NOAA :
[code]

@dtkleist also confirmed the same on WCOSS2.

Upgrade is complete in both WCOSS1 and WCOSS2 operations. Will proceed with completing remaining global-workflow tasks for this implementation. Thanks all!

[2022-06-02 14:14] MichaelLueken commented on #776
@lgannoaa I missed an update that is required for making sorc/enkf_chgres_recenter_nc.fd/makefile work with the stack's ncio module:

Replacing FV3GFS_NCIO_LIB with NCIO_LIB.

Many thanks to @RussTreadon-NOAA for bringing this to my attention.

[2022-06-02 14:34] MichaelLueken commented on #776
Hi @lgannoaa @KateFriedman-NOAA @emilyhcliu, I wanted to ask a question about how you would like to proceed with respect to the renaming of the gsi, enkf, and ncdiag_cat executables.  Should I make changes to the GSI/scripts to use the new executables, or will sorc/link_fv3gfs.sh be updated to link these new executable names with the old naming convention?  Please let me know your preference so th

[2022-06-02 14:43] lgannoaa commented on #830
Because this parallel is a forecast only parallel, the analysis is not been run.
The following files are not exist:
`${COM}/gfs.${PDY}/${CYC}/atmos/gfs.t${CYC}z.gsistat`
`${COM}/gfs.${PDY}/${CYC}/atmos/gfs.t${CYC}z.pgrb2.1p00.anl`
There are two impacts:
1. Archive job setting need to be modified to avoid fail.
2. MetPlus and gplots verification package jobs can not do true evaluation between wcoss

[2022-06-02 14:56] KateFriedman-NOAA commented on #776
@MichaelLueken-NOAA Let's move this discussion back to the main issue for this upgrade: issue #744. This issue is just for documenting the parallel. @lgannoaa Please keep workflow changes and non-parallel setup discussions in issue #744. Thanks!

@MichaelLueken-NOAA Please summarize the GSI executable name changes that are occurring in a new comment in #744 and then tag Emily, Rahul, Lin, and myse

[2022-06-02 14:59] KateFriedman-NOAA commented on #830
${COM}/gfs.${PDY}/${CYC}/atmos/gfs.t${CYC}z.gsistat
${COM}/gfs.${PDY}/${CYC}/atmos/gfs.t${CYC}z.pgrb2.1p00.anl

@lgannoaa Please check if either or both of those files exist in the WCOSS1 production runhistory tapes. If so, the getic_tarball.sh script could be modified to also pull those files off tape alongside the RESTART files each cycle. Thanks!
@KateFriedman-NOAA I am waiting for verification

[2022-06-02 15:01] JessicaMeixner-NOAA opened #837 "Cannot successfully build develop on hera"
**Expected behavior**
Should be able to checkout and build on hera.

**Current behavior**
The errors from the build:
[code]

**Machines affected**
hera (trying orion now)

**To Reproduce**
On hera:

[code]

**Context**
Trying to compare updates in a PR, ran into new issues and noted these are also issues in develop.  Wanted to report the issue in case others were experiencing the same problem.

**

[2022-06-02 15:11] MichaelLueken commented on #744
There have been some minor renaming of DA component executables within release/gfsda.v16.3.0.  These include:

global_gsi.x ---> gsi.x
global_enkf.x ---> enkf.x
ncdiag_cat.x ---> ncdiag_cat_serial.x

Should the scripts that utilize global_gsi.x, global_enkf.x, and ncdiag_cat.x be updated to point to gsi.x, enkf.x, and ncidag_cat_serial.x, respectively?  Or, will the linking of these executables in

[2022-06-02 15:16] aerorahul commented on #830
@lgannoaa
We can pull the `pgbanl.gfs.*` files from tape in the `getic_tarball.sh` script and place them in `ARCDIR`
I think that should allow verification and met-plus to do its evaluation.  @malloryprow will that be sufficient?

[2022-06-02 15:17] KateFriedman-NOAA commented on #744
My vote is to use the new exec names everywhere and update the scripts that use them. What do others think?

[2022-06-02 15:27] malloryprow commented on #830
@aerorahul I'm going to set the config up to using "gfs_anl" for grid2grid stats instead of "self_anl". This will use the pgbanl.gfs.* files in /lfs/h2/emc/vpppg/noscrub/emc.vpppg/verification/global/archive/model_data/gfs which are being synced from WCOSS

[2022-06-02 15:27] emilyhcliu commented on #744
I agree with @KateFriedman-NOAA .  Let's use the new names.

[2022-06-02 15:31] lgannoaa commented on #830
Thank you for quick reply from @malloryprow
I will modify the archive job to ignore the missing (not needed) analysis files.

[2022-06-02 15:41] JessicaMeixner-NOAA commented on #837
UFS error:
[code]

GSI error:
[code]
UPP error:
[code]

GLDAS error is unclear

Workflow utils error:
[code]

@Hang-Lei-NOAA @kgerheiser have there been module updates in hpc-stack on hera recently that might help explain the above errors?  @WalterKolczynski-NOAA any guess on when things last worked in the develop branch of the workflow (time/commit)?

[2022-06-02 16:49] binli2337 opened #838 "Generate workflow xml file used for the NG-GODAS applicaion"
**Description**

Modify etup_workflow_fcstonly.py, setup_expt.py and several configuration files to generate the workflow xml file used by the NG-GODAS (MOM6_CICE6_CDEPS_DATM) application. A pull request will be submitted related to this issue. This issue is related to issue #785 .

**Requirements**

After modifications to the scripts, a new workflow xml file can be generated for the NG-GODAS appl

[2022-06-02 17:18] lgannoaa commented on #830
@JessicaMeixner-NOAA @aerorahul
I see a warning in file
cactus:/lfs/h2/emc/ptmp/Lin.Gan/gfseval_a/logs/2022052200/gfsfcst.log (line 2458)
0.747 + [ ! -f /lfs/h2/emc/ptmp/Lin.Gan/gfseval_a/gdas.20220521/18/wave/restart/20220521.210000.restart.gnh_10m ]
0.751 + [ ! -f /lfs/h2/emc/ptmp/Lin.Gan/gfseval_a/gdas.20220521/18/wave/restart/20220521.210000.restart.aoc_9km ]
0.754 + [ ! -f /lfs/h2/emc/ptmp/Li

[2022-06-02 17:54] lgannoaa commented on #830
@arunchawla-NOAA @aerorahul ,
This parallel is currently setup using rocoto workflow in sequential mode. That means each cycle will take around six hours to complete. I can modify the rocoto workflow to run with more cycles running in parallel (concurrently). That will speed up to catch up to the realtime. May I proceed?

[2022-06-02 17:58] aerorahul commented on #830
Yes. Please do multiple concurrent cycles.
However, do note that you may reach number of files quota if too many concurrent cycles are enabled.

[2022-06-02 18:22] JessicaMeixner-NOAA commented on #837
The issue was I had module use and conflicting modules loaded before doing build_all.sh.  A clean login resolved the issues.

[2022-06-02 18:22] #837 closed, assigned to nobody

[2022-06-02 18:27] KateFriedman-NOAA commented on #837
Good to know what that looks like in case someone else reports something similar! :)

[2022-06-03 13:17] lgannoaa commented on #830
@arunchawla-NOAA @aerorahul
With concurrent cycle run turned on, I estimate the run will reach PDY-3 later today. The PDY-3 looks like is a safe setting for download production runhistory IC. That means I will switch the parallel to run once a day (all four cycles for PDY-3 at once).

[2022-06-03 13:29] KateFriedman-NOAA commented on #743
@MichaelLueken-NOAA @aerorahul This issue will become moot because of PRs #839 and #840 , correct? Thanks!

[2022-06-03 13:36] MichaelLueken commented on #743
@KateFriedman-NOAA Yes, following the inclusion of PRs #839 and #840, this issue will become moot, since the sticking point of the `fv3gfs_ncio` library and include files will no longer cause issues with compiling the `enkf_chgres_recenter_nc` utility.

[2022-06-03 13:53] arunchawla-NOAA commented on #812
Hello, was an issue created for the Metplus problem ?

[2022-06-03 14:23] KateFriedman-NOAA commented on #743
@MichaelLueken-NOAA Awesome, thanks for confirming!

[2022-06-03 14:55] WalterKolczynski-NOAA commented on #812
hpc-stack has had a PR open since Sept to add it: NOAA-EMC/hpc-stack/pull/324

Unless you are talking about Cameron's issue, which was just a permissions issue on my hacked-up stopgap solution to a completely separate problem than this issue.

[2022-06-03 15:01] arunchawla-NOAA commented on #812
Thanks Walter ! I believe that is the thing.

[2022-06-03 18:18] lgannoaa commented on #830
@JessicaMeixner-NOAA @aerorahul
Job gfswavepostpnt, gfswavepostbndpntbll and gfswavepostbndpnt regularly hit wall clock. Would it be ok that I increase the job card time?

[2022-06-03 18:20] JessicaMeixner-NOAA commented on #830
@lgannoaa that sounds like a smart idea to me.  If they're running at the same time we're likely seeing I/O or filesystem issues.  I've seen this on WCOSS1 where they run slower for us than for NCO.